[2019-03-27 15:33] SoumyadeepJana commented on #364
@cfyra @Conchylicultor @rsepassi I am working on this.Please assign this to me. :)

[2019-03-27 17:26] mr-ubik opened #365 "More love for Time Series/Sequences"
Was not sure whether to post it as help or feature request.

It would help (and speed up development) if we could have some examples, even dummy ones of how to properly code Sequential datasets.

Example: let's say that I am importing a financial dataset, how should data be encoded? Should I use a FeatureDict or a SequenceDict?

cc: @galeone

[2019-03-27 17:29] #231 closed

[2019-03-27 18:39] SoumyadeepJana commented on #365
SequenceDict correspond to sequence of tfds.features.FeatureDict. At generation time, a list for each of the sequence element is given. The output of tf.data.Dataset will batch all the elements of the sequence together.
SequenceDict is more of a collection of FeatureDict
Coming to your example,it is more of how your dataset is organized,that it falls in which category

[2019-03-28 00:11] Conchylicultor commented on #320
Closing this as some support for this has been added for this in https://github.com/tensorflow/datasets/pull/321 (thanks again for setting this up)

The script can be improved over time depending on the feedbacks

[2019-03-28 00:11] #320 closed

[2019-03-28 07:47] ageron opened #371 "Standardize some dataset variants"
**Is your feature request related to a problem? Please describe.**
It is very common to want a small sample of a dataset, to explore it, to train a first model on your machine before you go to the cloud, and so on. Right now, you must do:

[code]

This is buried in the documentation, and long to type. Moreover, it applies the same restriction to every split.

**Describe the solution you'd like**
I

[2019-03-28 11:45] vishal-keshav opened #373 "Help needed for ImageNet dataset that is already prepared as tf-records"
I am looking for some help regarding **how to use the Imagenet dataset that has been already downloaded and processed as tfrecords files** by using the script  [download_and_convert_imagenet.sh](https://github.com/tensorflow/models/blob/master/research/slim/datasets/download_and_convert_imagenet.sh) present in the models/research/slim directory of tensorflow.

Tfrecords files that are generated lo

[2019-03-28 14:23] us commented on #371
I love it 👍

[2019-03-28 14:44] us commented on #371
Please can you check this [link](https://www.tensorflow.org/datasets/splits#specify_a_percentage_slice). Isn't that what you're feature request about?

[2019-03-28 14:55] mr-ubik commented on #353
Mmmh, the guide says 4 space indentation but I am often seeing 2 spaces which shall we use? Is it indifferent?

[2019-03-28 15:11] us commented on #353
@mr-ubik You should 2 spaces. Please check [tf code style guide](https://www.tensorflow.org/community/contribute/code_style)

[2019-03-28 16:06] SoumyadeepJana commented on #373
@vishal-keshav Setting download=False in tfds.load() won't download the dataset again but will reuse the existing TFrecords

[2019-03-28 16:20] SoumyadeepJana opened #377 "[data request] MURA"
* Name of dataset: MURA
* URL of dataset: https://stanfordmlgroup.github.io/competitions/mura/
* License of dataset: Unknown
* Short description of dataset and use case(s): MURA (musculoskeletal radiographs) is a large dataset of bone X-rays. Algorithms are tasked with determining whether an X-ray study is normal or abnormal.

Folks who would also like to see this dataset in `tensorflow/datasets`,

[2019-03-28 16:21] SoumyadeepJana commented on #377
@Conchylicultor @cyfra @rsepassi I am working on this.Kindly assign me :)

[2019-03-28 18:05] peterjliu commented on #16
Hi, I started working on this after seeing this and it's almost done.

[2019-03-28 21:45] Conchylicultor commented on #339
If you think a dataset do not goes into any current category, you can add create a new folder but we should first make sure that it would be for more than just one dataset.
Quickdraw exists also as png so I think it make sense to keep all quickdraw versions under `image/`.

I'm closing this for now as we shouldn't create an empty folder while we don't have datasets in it. But new folders can be cr

[2019-03-28 21:45] #339 closed

[2019-03-28 22:06] Conchylicultor commented on #179
@mandroid6 To include the filename (which is a good idea), you can just add an additional field:

[code]
And then yield the relative filename.wav file. Otherwise, this looks good.

[2019-03-28 22:09] Conchylicultor commented on #179
But are you sure the dataset is defining train, test, validation ? It seems that only a single split is provided, in which case you should only keep tfds.Split.TRAIN

[2019-03-28 22:16] Conchylicultor commented on #213
In this case, because the uint8/uint16 choice would be fixed for each dataset (medical images always uses uint16, imagenet always uses uint8), it should be added as an option of the constructor `tfds.features.Image(shape=(128, 128, 3), dtype=tf.uint16)`.

So the decoding would be automatically done in the right format without any additional set-up from the user.
Do you agree ?

[2019-03-29 00:44] ageron commented on #371
Oops, indeed, I missed that, thanks @us !

[2019-03-29 00:44] #371 closed

[2019-03-29 13:17] #267 closed

[2019-03-29 14:08] mr-ubik commented on #353
I think that linking that to the Contributing section would help newcomers.

[2019-03-29 15:29] cyfra commented on #330
Merged. Thanks a lot @ChanchalKumarMaji ChanchalKumarMaji

[2019-03-29 15:29] #330 closed

[2019-03-29 19:12] rsepassi opened #390 "Lint tensorflow_datasets"
**Short description**
TFDS has many lint errors according to `lint.sh` in #389. We should fix them.

**Reproduction instructions**

[code]

**Expected behavior**
No lint errors.

**Additional context**
This requires mostly fixing the errors. Sometimes it makes more sense to disable the linter with `pylint: disable=name-of-linter-error`.

[2019-03-29 19:54] ParthS007 commented on #390
I want to work on this. Please assign it to me.

[2019-03-29 20:26] rsepassi commented on #390
Thanks @ParthS007!

[2019-03-29 21:47] us commented on #390
@ParthS007 you have already a lot assign. If you want I can take this project

[2019-03-30 22:32] SinghKislay opened #393 "[data request] LFW"
* Name of dataset: lfw
* URL of dataset: http://vis-www.cs.umass.edu/lfw/
* License of dataset: Unknown
* Short description of dataset and use case(s): lfw is a dataset of 1 or more photos of different individuals. It was used in facenet. It is a very relevant dataset for face-recognition models.

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the devel

[2019-03-31 20:39] LigolaH opened #394 "moist handwritten digit classification"
* Name of dataset: <name>
* URL of dataset: <url>
* License of dataset: <license type>
* Short description of dataset and use case(s): <description>

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests to prioritize.

And if you'd like to contribute the dataset (thank you!), see our [guide to adding a dataset](https://g

[2019-04-01 03:07] SoumyadeepJana commented on #394
@cfyra @Conchylicultor @rsepassi  I would like to work on this

[2019-04-01 09:37] razorx89 commented on #213
Configuration through the constructor of the feature would be perfectly fine.

[2019-04-01 11:16] vishal-keshav commented on #373
@SoumyadeepJana Thanks for the input. However, it did not solve my issue.

Here is the explanation.
I have been using the above mentioned [download_and_convert_imagenet.sh](https://github.com/tensorflow/models/blob/master/research/slim/datasets/download_and_convert_imagenet.sh) script for downloading and building tfrecords for train and validation of ImageNet datasets.

If you see closely, the num

[2019-04-01 11:16] #373 closed

[2019-04-01 14:05] SoumyadeepJana commented on #393
@SinghKislay  Didn't you make a PR of this issue?

[2019-04-02 02:45] ChanchalKumarMaji commented on #278
@rsepassi @cyfra @Conchylicultor , I think we can close this issue :relaxed:.

[2019-04-02 03:53] ParthS007 commented on #390
@rsepassi #389 has not been merged yet. Please merge it so that I can start working on this Issue. Thanks :)

[2019-04-02 04:37] ParthS007 commented on #213
@Conchylicultor @razorx89 I want to work on this Issue. Can you please assign it to me and help me moving forward with this Issue. Thanks :)

[2019-04-02 05:58] SoumyadeepJana opened #405 "[data request] Malaria Cell Images Dataset"
* Name of dataset: Malaria Cell Images Dataset
* URL of dataset: https://ceb.nlm.nih.gov/repositories/malaria-datasets/
* License of dataset: Unknown
* Short description of dataset and use case(s): This dataset contains images of segmented cells from the thin blood smear slide images from the Malaria Screener research activity. The dataset contains a total of 27,558 cell images with equal instance

[2019-04-02 05:59] SoumyadeepJana commented on #405
@Conchylicultor  @rsepassi @cyfra I am working on this, please assign me. :)

[2019-04-02 06:01] ChanchalKumarMaji commented on #365
@mr-ubik What do u want ? Can u please elaborate about the structure of your dataset. Is it a tabular dataset ?

[2019-04-02 06:29] EmanueleGhelfi opened #406 "Testing and subclasses"
**What I need help with / What I was wondering**
I'm trying to convert our internal dataset as tfds. However, I have some difficulties.
The basic testing class: `tensorflow_datasets.testing.DatasetBuilderTestCase`  searches for the test data inside the folder "tensorflow_dataset/testing/test_data/fake_examples". Unfortunately I am not using the tfds repository but an internal repository.

My idea

[2019-04-02 10:43] EmanueleGhelfi commented on #406
Fixed.
I was importing my InternalDatasetuilderTestCase as:

`from myrepo.testing.internal_datasetuilder_test_case import InternalDatasetuilderTestCase`

Doing in this way results in the class being tested.
In the same way creating a testing class importing directly DatasetBuilderTestCase:

`from tensorflow_datasets.testing import DatasetBuilderTestCase`

results in the class DatasetBuilderTestCas

[2019-04-02 12:11] sklan opened #407 "[data request] CUFS data set"
* Name of dataset: <name> CUHK Face Sketch Database (CUFS)
* URL of dataset: <url> http://mmlab.ie.cuhk.edu.hk/archive/facesketch.html
* License of dataset: <license type> unknown
* Short description of dataset and use case(s): <description>
CUHK Face Sketch database (CUFS) is for research on face sketch synthesis and face sketch recognition. It has 606 faces in total. For each face, there is a sk

[2019-04-02 12:21] SoumyadeepJana commented on #407
@Conchylicultor @cyfra @rsepassi  I would like to work on this.Please assign me :)

[2019-04-02 12:57] sklan opened #408 "[data request] Cartoon Set"
* Name of dataset: Cartoon Set
* URL of dataset: https://google.github.io/cartoonset/download.html
* License of dataset: Creative Commons Attribution 4.0 International License.
* Short description of dataset and use case(s): Cartoon Set is a collection of random, 2D cartoon avatar images. The cartoons vary in 10 artwork categories, 4 color categories, and 4 proportion categories, with a total of ~

[2019-04-02 12:58] sklan commented on #408
I would like to be assigned to this task.

[2019-04-02 14:22] ftakelait commented on #365
@SoumyadeepJana I want to know if this is an open problem that can be an idea for GSoC proposal or not?

[2019-04-02 14:51] mr-ubik commented on #353
Thanks to @us I can close this :grinning:

[2019-04-02 14:51] #353 closed

[2019-04-02 18:40] ParthS007 commented on #213
@Conchylicultor Can you please help me moving forward with this Issue. Thanks for assigning it. :)

[2019-04-02 20:02] rsepassi commented on #55
`gs://tfds-data/datasets` now will have the datasets that we're allowed to redistribute. You can set `data_dir` to it to use those datasets directly.

[2019-04-02 20:02] #55 closed

[2019-04-02 20:04] rsepassi commented on #55
See https://console.cloud.google.com/storage/browser/tfds-data/datasets

[2019-04-02 21:43] Conchylicultor commented on #213
The idea would be to add a dtype kwargs in the constructor of `tfds.features.Image`: https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/features/image_feature.py#L72

If encoding type is png and decoding is uint16, then it should use `tf.image.decode_png` during decoding here: https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/features/image_featur

[2019-04-03 05:50] ParthS007 commented on #213
okay, got it :+1: Thanks for the help :)

[2019-04-03 07:20] Donnggo opened #412 "How to change the download path?"
Hello, I want to change the default download to other folder.
Where can I change the path?

I tried to find many .py files, but I couldn't
Thanks.

[2019-04-03 07:23] #412 closed

[2019-04-03 08:52] bennyooo opened #414 "Accessing already downloaded dataset"
**How do I access a previously downloaded and extracted dataset?**

I downloaded the Open Images V4 dataset with the following code:
[code]

This gave me the following folder structure:
![image](https://user-images.githubusercontent.com/17111728/55465777-2017de00-55fe-11e9-90b9-87434435077d.png)
Under extracted I have the following structure:
![image](https://user-images.githubusercontent.com/1711

[2019-04-03 09:17] oscartackstrom opened #415 "Documentation: Bair robot pushing dataset"
The documentation for the "bair_robot_pushing_dataset" seems wrong. From the dataset statistics it looks like this is the "bair robot pushing dataset" from https://sites.google.com/corp/view/sna-visual-mpc/. But the documentation mixes the description of the bair dataset with the "google robot pushing dataset" from https://sites.google.com/site/brainrobotdata/home/push-dataset.

[2019-04-03 10:39] us commented on #414
Thank you for feedback about documentation.
I think you given a wrong path. You should give a `extract_dir` to choosing extracted dataset. Please try `extract_dir="./notebooks/open_images_dataset/extracted/"`.

[2019-04-03 16:16] Conchylicultor commented on #414
After preprocessing, the dataset is saved in `~/tensorflow_datasets/<dataset_name>`. The download_directory you provided is just used during the `download_and_prepare` phase to indicate the model where to download and extract the raw data (default to `~/tensorflow_datasets/download`). It does not correspond where the final dataset files (tfrecords files) are after preprocessing

[2019-04-03 16:21] Conchylicultor commented on #414
To answer your question, you should provide the same data_dir than when you created your data.

[code]
To reuse:
[code]

[2019-04-03 17:04] us commented on #415
@oscartackstrom Thank you for reporting. I fixed it #416

[2019-04-03 23:57] Conchylicultor commented on #390
Even if the PR is still open (not sure why it hasn't synced), it has been merged: see: https://github.com/tensorflow/datasets/blob/master/oss_scripts/lint.sh

[2019-04-04 04:55] nvnmo commented on #289
The dataset has been added. Please find the PR #398.

[2019-04-04 07:51] bennyooo commented on #414
So I tried re-downloading the whole dataset again. The download process finished completely. However, the extraction process stopped at the last step and I get a ResourceExahaustedError saying "No space left on the device". This doesn't make sense as there are 5.5 Terrabytes of free space left on the drive that I downloaded the data to.
What's also weird is that the directory that is mentioned in

[2019-04-04 16:43] Conchylicultor commented on #414
You have two main directory:

* `data_dir`: Where the final dataset is installed. Default to `/home/<user>/tensorflow_datasets/`
* `download_dir`: Where the original raw files are downloaded and extracted.

Here you have downloaded the intermediate files to you big drive, but installed the final dataset into your home drive.
To download and install the files on the same directory, you should only

[2019-04-05 04:32] InduManimaran opened #431 "[data request] Adobe Visual Font Recognition (VFR)"
* Name of dataset: Adobe Visual Font Recognition (VFR)
* URL of dataset: https://www.dropbox.com/sh/o320sowg790cxpe/AADDmdwQ08GbciWnaC20oAmna?dl=0
* License of dataset:
https://www.dropbox.com/sh/o320sowg790cxpe/AADDmdwQ08GbciWnaC20oAmna?dl=0&preview=license.txt

* Short description of dataset and use case(s):
The first large-scale, fine-grained benchmark of font text images, for the task of font

[2019-04-05 23:25] InduManimaran opened #433 "[data request] Leeds Sports Pose Dataset"
* Name of dataset: Leeds Sports Pose Dataset
* URL of dataset: http://sam.johnson.io/research/lsp.html
* License of dataset: unknown
* Short description of dataset and use case(s):
The Leeds Sports Pose dataset contains 2000 pose annotated images of mostly sports people gathered from Flickr.

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers

[2019-04-05 23:38] InduManimaran commented on #142
Please add me to the list @cyfra

[2019-04-06 01:41] breadbread1984 opened #434 "datasets downloading autoretrying and resumption are needed"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

when downloading huge datasets, wrong checksum problem caused by accidental network interruption can break the whole download process. if tfds.load() has autoretry or download resumption, downloading would be easier.

**Describe the soluti

[2019-04-06 02:21] SoumyadeepJana commented on #433
@Conchylicultor  @cyfra @rsepassi  I would like to work on this.Please assign me. :)

[2019-04-06 02:28] SoumyadeepJana commented on #434
@Conchylicultor @rsepassi I would like to work on this issue

[2019-04-06 07:54] ChanchalKumarMaji commented on #433
This dataset has already been added in #435 .

[2019-04-06 08:38] sklan opened #437 "[data request] Add DiscoFuse dataset"
* Name of dataset: DiscoFuse: A Large-Scale Dataset for Discourse-Based Sentence Fusion
* URL of dataset: https://github.com/google-research-datasets/discofuse
* License of dataset:  Creative Commons Attribution-ShareAlike 3.0
* Short description of dataset and use case(s): Sentence fusion is the task of joining several independent sentences into a single coherent text. Current datasets for senten

[2019-04-06 08:38] sklan commented on #437
I would like to add this dataset.

[2019-04-06 09:06] veqtor commented on #26
This would be great!

[2019-04-06 18:47] InduManimaran opened #438 "[data request] Leeds Sports Pose Extended Training Dataset"
* Name of dataset: Leeds Sports Pose Extended Training Dataset
* URL of dataset: http://sam.johnson.io/research/lspet.html
* License of dataset: Creative Commons Attribution-NonCommercial 4.0 International License
* Short description of dataset and use case(s):
This dataset contains 10,000 images gathered from Flickr searches for the tags 'parkour', 'gymnastics', and 'athletics' and consists of po

[2019-04-06 19:25] ChanchalKumarMaji commented on #438
This is similar to #433 . A BuilderConfig would be required in #435 with minor changes.

[2019-04-07 21:00] sklan opened #440 "[data request] GAP data set"
* Name of dataset: GAP
* URL of dataset: https://github.com/google-research-datasets/gap-coreference
* License of dataset: Apache License 2.0
* Short description of dataset and use case(s): GAP is a gender-balanced dataset containing 8,908 coreference-labeled pairs of (ambiguous pronoun, antecedent name), sampled from Wikipedia for the evaluation of coreference resolution in practical applications

[2019-04-07 21:01] sklan commented on #440
This is another data set I want to add. Can somebody please assign me?

[2019-04-08 06:00] shashvatshahi1998 commented on #440
Can I add it @sklan please I am new to it.

[2019-04-08 06:15] shashvatshahi1998 commented on #393
I will love to work on this

[2019-04-08 08:00] bennyooo commented on #414
Thanks for the solution. Using the data_dir parameter did work.

[2019-04-08 09:18] SinghKislay commented on #393
I have already got the pr reviewed and waiting for it to get merged.

[2019-04-08 13:57] sklan commented on #440
@shashvatshahi1998 I am actually mostly done already. However, you can find interesting datasets here:
[https://ai.google/tools/datasets/](https://ai.google/tools/datasets/)

[2019-04-08 15:04] InduManimaran opened #441 "[data request] Enron Email Dataset"
* Name of dataset: Enron Email Dataset
* URL of dataset: https://www.cs.cmu.edu/~./enron/
* License of dataset: unknown
* Short description of dataset and use case(s): The Enron email dataset contains approximately 500,000 emails generated by employees of the Enron Corporation. It was obtained by the Federal Energy Regulatory Commission during its investigation of Enron's collapse.

Folks who woul

[2019-04-08 16:12] Conchylicultor commented on #437
@sklan Great, thank you for your contribution. Please go ahead and send us a pull request. Please note that we receiving a lot of pull request so review may take some time.

[2019-04-08 16:39] Conchylicultor commented on #414
Great. We should probably clarify more the download_dir/data_dir in our doc. Closing this but feel free to re-open if this didn't solve your problem

[2019-04-08 16:39] #414 closed

[2019-04-08 18:32] Conchylicultor commented on #292
Yes, this is due to the current implementation. Because each shard do not contains exactly x*100 examples, the remaining examples of each shard are arbitrary assign to one of the split, as this error accumulate among shards, it may lead to an incorrect number of sample per subsplit.

We're going to try to improve the subsplit implementation to reduce the issue. Note that because the total number o

[2019-04-08 19:08] ParthS007 opened #442 "Wrong Path of Image directory for lint check"
**Expected behavior**
The path should be corrected

I am sending PR for the same.

[2019-04-09 06:57] jjmachan commented on #441
can I work on this?

[2019-04-09 15:39] gongliyu opened #448 "Concatenated splittings fails to call method "make_one_shot_iterator" on TensorFlow v1.13"
**Short description**
Description of the bug.

If I load two splits of a dataset, then concat them to a single Dataset and call the method "make_one_shot_iterator", an error will be raised. This does not happen on TF 1.12 but on TF 1.13.

**Environment information**
* Operating System: <os>
windows 10
* Python version: <version>
3.7
* `tensorflow-datasets`/`tfds-nightly` version: <package and vers

[2019-04-09 21:00] Conchylicultor commented on #448
This is an interesting issue. The reason is that the train split is shuffled by default, while the test split does not.
This creates a merging conflict because of this option: https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/dataset_builder.py#L355

I see two option to solve the issue:

1. Option 1): use `tfds.Split.ALL`, as it seems you simply want to get all samples:

[2019-04-09 21:10] #278 closed

[2019-04-09 21:12] Conchylicultor commented on #441
@jjmachan thanks for starting this. I added you to the collaborator list.

[2019-04-10 00:05] gongliyu commented on #448
Thank you so much for the explanation and solution. That solved my problem. Since it is not a bug, I will close it.

[2019-04-10 00:05] #448 closed

[2019-04-10 08:17] danchyy commented on #35
Is there any update on this issue? Will there be some sort of multiprocess support in the future?

If not, will there be some guides on how to utilize multiprocessing in the best way using this package?

[2019-04-10 21:58] InduManimaran opened #457 "[data request] Reuters-21578"
* Name of dataset: Reuters-21578 Text Categorization Collection
* URL of dataset: http://kdd.ics.uci.edu/databases/reuters21578/reuters21578.html
* License of dataset: unknown
* Short description of dataset and use case(s):
Currently the most widely used test collection for text categorization research.

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so th

[2019-04-10 22:02] Conchylicultor commented on #35
The current plan is to let the user select the shards they want with: https://github.com/tensorflow/datasets/issues/121

Not sure when I'll have time to implement this in a close future though.

[2019-04-10 22:02] souravsingh commented on #457
I am interested in working on this @Conchylicultor

[2019-04-11 01:37] Conchylicultor commented on #457
Thanks @souravsingh. Added you as collaborator

[2019-04-11 13:11] sklan commented on #431
I'd like to contribute this data set.

[2019-04-11 15:47] Conchylicultor commented on #431
Thank you. Added you as collaborators

[2019-04-11 18:28] jjmachan commented on #441
thanks a lot! I'm working on it now

[2019-04-12 12:46] lc0 opened #462 "create_new_dataset"
**Short description**
I have issues using dataset generator
[code]

Also, colab says it's `1.0.2`, but I only can see `1.0.1` on github

**Environment information**
* Operating System: colab
* Python version: `3.6.7`
* `tensorflow-datasets`/`tfds-nightly` version: '1.0.2'
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: 1.13.1

**Reproduction instructions**

[code]

[2019-04-12 17:05] Conchylicultor commented on #462
The `create_new_dataset.py` script is used to generate template files when wanting to add a new dataset in tensorflow_dataset repository. It's usage is not designed for Colab.
In colab, you'll have to write the code directly in the notebook, instead of creating new files. I'm gonna update the doc to clarify this.

[2019-04-12 20:44] Conchylicultor commented on #292
With the new split reading, independent of the number of shards, this should be fixed.
https://github.com/tensorflow/datasets/pull/458

For the tf_flowers, because the number of examples % 100 isn't null, the last examples will create some small unbalance.

For your use case, this should gives:

[code]

Thanks again for reporting this. I'm closing this but do not hesitate to re-open if this doesn'

[2019-04-12 20:44] #292 closed

[2019-04-12 20:57] lc0 commented on #462
@Conchylicultor
Yes, I actually wanted to add a new dataset. I have the same issue on my local machine. Just wanted to validate, if the issue is reproducible on colab as well, since local version is different

[2019-04-12 21:08] #442 closed

[2019-04-12 21:08] Conchylicultor commented on #442
Thanks, merged it.

[2019-04-13 00:53] #85 closed

[2019-04-13 07:18] breadbread1984 opened #467 "how to write a parse function for coco2014"
**What I need help with / What I was wondering**
Your question, or a clear description of what you're looking for help with.

I want to write a parse function for coco 2014 datasets. I can't assemble samples in coco 2014 in batches because images have different sizes. So I have to write a parse function to do all preprocess.

**What I've tried so far**
A description of what you've tried so far to

[2019-04-13 08:07] #467 closed

[2019-04-13 16:44] sklan commented on #462
@lc0 Could you share a colab notebook with the error?

[2019-04-13 19:25] lc0 commented on #462
Interesting, now i see different versions. The code I had from the day I created the issue
![image](https://user-images.githubusercontent.com/775466/56084351-5c371400-5e32-11e9-85a4-5e5bfa0197ac.png)

And the one I can reproduce today
https://colab.research.google.com/drive/1jfgmYoy43y10qkKWVjTsyjblxw8aYtR6

[2019-04-13 20:19] sklan commented on #462
The ```nightly``` version doesn't have this problem. Colab notebooks come with a preinstalled ```tfds-nightly``` version.  So don't do ```pip install tensorflow_datasets```.
If you want to install ```tensorflow_datasets``` for development on colab. I have shared a way in the colab notebook below.
https://colab.research.google.com/drive/1aawcl41lCb-f2HO0vXypxK40jCQK_K-X

[2019-04-13 20:21] lc0 commented on #462
hm, good to know. This kind of means, that current public version is broken, but only until the next release

[2019-04-13 21:24] 20zinnm opened #470 "Using tfds breaks tf.keras's fit(verbose=1) output."
I suspect this is due to an issue with Keras and TQDM, which is imported by tfds. The output in a Jupyter notebook looks like:

[code]

Does anyone know of a way I can fix this? The progress bar is fine when I manually create the dataset (in a different notebook).

[2019-04-14 06:09] nicoosokhan opened #471 "[data request] ted_hrlr_translate/pt_to_en"
it exist in datasets lists and i can download it using colab but i can't download it on my computer.

[code]

[2019-04-14 06:36] ChanchalKumarMaji commented on #471
I think it will be available in the new version `1.0.2`.

[2019-04-14 12:43] yenchenlin commented on #471
You can build `tensorflow_datasets` by yourself to access `1.0.2`.

[code]

[2019-04-14 13:13] ChanchalKumarMaji commented on #471
I think we have to do this each time we use it.

[2019-04-15 09:08] us opened #472 "Kaggle downloader extension to jupyter notebook"
Kaggle has a very extensive set of useful and interesting datasets. Instead of having separate DataBuilder instances for these datasets, I designed and implemented graphical user interface functionality embedded in a Jupyter Notebook that will enable a user to list, filter, select and automatically download Kaggle datasets. Considering Tensorflow is also used by people from different disciplines w

[2019-04-15 11:53] us commented on #58
@cyfra emnist added, we can close that issue.

[2019-04-15 17:53] #58 closed

[2019-04-15 18:28] peterjliu commented on #16
This is available here https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/text/cnn_dailymail.py

[2019-04-16 06:54] galeone commented on #119
The PR https://github.com/tensorflow/datasets/pull/445 is related to this issue

[2019-04-16 07:08] SoumyadeepJana commented on #470
@20zinnm  Could you please provide the code to reproduce this

[2019-04-16 07:33] jaydevtrivedi commented on #127
I have encountered the same problem pasting the logs here(if it helps):
  File "C:\Users\ME\AppData\Local\Programs\Python\Python37\lib\site-packages\IPython\core\interactiveshell.py", line 3267, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-8-7b4aa71b13f0>", line 8, in <module>
    with_info=True, as_supervised=True)
  File "C:\Users\ME\AppData\Local\Prog

[2019-04-16 07:53] SoumyadeepJana opened #478 "Feature Connector support for images with TIFF format"
**Is your feature request related to a problem? Please describe.**
There are some datasets that have images in TIFF format. To cover those images and make image feature connector more robust.

**Describe the solution you'd like**
A wrapper similar to jpeg and png for tiff format images

**Additional context**
TensorFlow's API has no method for encoding TIFF images as tf_dataset uses tf.encode.png/

[2019-04-16 07:55] SoumyadeepJana commented on #478
@rsepassi @dynamicwebpaige @Conchylicultor @cyfra Is there any other way to do it apart from adding tf.encode.tiff maybe in tensorflow api?

[2019-04-16 14:56] MartinBertran commented on #127
Similar error as above using Python 3.7.3 and a fresh anaconda install

Dl Completed...: 0 url [00:00, ? url/s]
Dl Size...: 0 MiB [00:00, ? MiB/s]

Dl Completed...: 0 url [00:00, ? url/s] ? file/s]
Dl Size...: 0 MiB [00:00, ? MiB/s]

Extraction completed...:   0%|          | 0/1 [00:00<?, ? file/s]
Downloading / extracting dataset celeb_a (1.38 GiB) to /data8/martin/DifferentialPrivacy/TensorflowD

[2019-04-16 15:58] Conchylicultor commented on #310
It should be fixed with #376, which will be available in the next nightly.

[2019-04-16 15:58] #310 closed

[2019-04-16 17:20] rsepassi commented on #470
Does calling tfds.disable_progress_bar() beforehand fix the issue? This was
recently added to disable TQDM altogether if need be.

On Tue, Apr 16, 2019 at 12:08 AM Soumya_d_coder <notifications@github.com>
wrote:

[2019-04-17 01:03] hamatake commented on #50
I suggest requesting the datasets individually. They each have different license characteristics. Note that SNLI is currently assigned (https://github.com/tensorflow/datasets/issues/20), as is MNLI (https://github.com/tensorflow/datasets/issues/342).

[2019-04-17 15:38] Conchylicultor commented on #470
Tfds only uses tqdm when creating the data. It seems that your issue happen only after the data is created so I would suspect something with Keras.

Additionally, tqdm can create visual artifacts with some versions of Jupyter notebooks, which is maybe what happened here.

Closing this issue as it seems unrelated to tfds.

[2019-04-17 15:38] #470 closed

[2019-04-17 16:25] 20zinnm commented on #470
Sorry for the delay. Here is a sample notebook: https://gist.github.com/20zinnm/8a2da46f59faf8ca19d83d03ec85ac7c

I will try your suggestions as soon as possible, but I have not had any issues outside of using tfds.

[2019-04-17 16:30] 20zinnm commented on #470
@rsepassi Invoking tfds.disable_progress_bar() does not seem to fix the issue. Is tqdm still imported if the progress bar is disabled?

[2019-04-17 16:32] 20zinnm commented on #470
@Conchylicultor

I believe this issue is a result of tfds importing tqdm, not necessarily using it during training.

[2019-04-17 20:43] #390 closed

[2019-04-18 01:06] Conchylicultor commented on #50
Thank you for your interest. I think glue has already been added recently.
https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/text/glue.py

Closing this issue as this seems solved.

[2019-04-18 01:06] #50 closed

[2019-04-18 01:18] Conchylicultor commented on #470
To test your hypothesis, could you try a simple keras code without all the extra code.

1) Once with Keras only (no tqdm, no tfds)
2) Once with Keras only, but add a `import tqdm` line before the call to `model.fit`
3) Once with Keras + tfds

Do you observe the same behavior in all three cases ? Does 2 and 3 create the same behavior different from 1 ?

[2019-04-18 15:14] captain-pool commented on #275
@rsepassi @Conchylicultor @cyfra Is this issue fixed? if not, can you assign this to me?

[2019-04-19 02:44] SoumyadeepJana commented on #394
@Conchylicultor This issue can be closed.

[2019-04-19 04:26] prasadgujar commented on #245
@captain-pool @ewilderj @ageron @lamberta Please can you have look at this issue and consider adding support for the database.

[2019-04-19 04:28] prasadgujar commented on #246
@ewilderj @lamberta @cyfra @lukaszkaiser Please can you have look at this Issue and consider adding support for this dataset.

[2019-04-19 09:25] us commented on #337
@mr-ubik what is the different of this variations ?

[2019-04-19 11:24] danieljanes opened #486 "Document how to use TFDS on Colab with TPU"
**What I need help with / What I was wondering**
When trying to use TFDS on Google Colab with TPU acceleration, there's the following exception:

[code]

**What I've tried so far**
From e.g. `https://cloud.google.com/tpu/docs/quickstart` one can see that TPUs expect data to be stored on GCS.

However there are examples using Keras+TPU on Colab which load data via `tf.keras.datasets`, such as:
`htt

[2019-04-19 13:54] remydubois opened #487 "Enable more flexibility on dataset read"
**My problem**
It is hard to have several jobs running concurrently on the same dataset because of all the optimizations TensorFlow does under the hood when reading the TFRecord files. For instance, it is almost impossible to run hyperparams optimization in parallel.

**The solutions I could think of**
Perhaps the as_dataset method could allow more flexibility on arguments such as:

 - cycle_lengt

[2019-04-19 17:05] #394 closed

[2019-04-19 17:10] Conchylicultor commented on #246
@prasadgujar Thanks for you interest for this project. Our team has a limited bandwidth to implement all requested dataset. But do not hesitate to send a pull request if you already implemented this dataset. It would be a great addition to tfds

[2019-04-19 17:43] Conchylicultor commented on #487
Thanks for reporting. I agree we should provide more flexibility in the tf.data hyper-parameters pipeline. Possibly by wrapping all pipeline config parameters in some config object. Not sure about the name though (`DecodeConfig`, `PipelineConfig`, `ReadConfig` ?)

[code]

[2019-04-19 18:25] SoumyadeepJana commented on #487
@Conchylicultor I would like to work on this,please tell me how to proceed

[2019-04-20 10:02] remydubois commented on #487
@Conchylicultor Thanks for your answer.
`ReadConfig` seems fairly transparent to me.
I think such object can be pretty simple. For instance, I think it can hold only one value for `num_parallel_calls`, even if this param is involved several times in the reading/decoding process. Outside of that, it should also hold `decode_prefetch_buffer` and the `read_cycle_length`, even if I agree that the nami

[2019-04-21 16:56] yongtang commented on #478
@SoumyadeepJana Are you looking for tiff decode or encode? In [tensorflow-io](https://github.com/tensorflow/io), you could import (decode) tiff image files and pass it over to `tf.keras` as tf.data.Dataset for training or inference. This is for decode of tiff images.

For encode (generate tiff images from raw data), there is no immediate support yet. But we could add one if there is enough need fr

[2019-04-22 06:07] SoumyadeepJana commented on #478
@yongtang I am looking for encoding tiff files for the tfds feature connector. Currently, it doesn't have any support for encoding tiff files

[2019-04-22 07:17] SoumyadeepJana opened #489 "[data request] Mathematics Dataset"
* Name of dataset: Mathematics Dataset
* URL of dataset: https://github.com/deepmind/mathematics_dataset
* License of dataset: Apache License 2.0
* Short description of dataset and use case(s): A large-scale extendable dataset which generates question and answer pairs from a range of question types at roughly school-level difficulty. It is designed to test the mathematical learning and algebraic r

[2019-04-22 07:18] SoumyadeepJana commented on #489
@Conchylicultor @rsepassi @cyfra I have started working on this dataset.Please assign me.

[2019-04-22 15:09] Rohith-hacker opened #490 "[data request] DiscoFuse"
* Name of dataset: DiscoFuse
* URL of dataset: https://github.com/google-research-datasets/discofuse
* License of dataset: Creative Commons Attribution-ShareAlike 3.0 license.
* Short description of dataset and use case(s): DiscoFuse was created by applying a rule-based splitting method on two corpora - sports articles crawled from the Web, and Wikipedia
Overall, each part contains 6 data subsets:

[2019-04-22 15:10] captain-pool commented on #490
Hey @cyfra, I'ld like to work on this. Can you assign this to me?

On Mon, 22 Apr 2019, 8:39 pm Rohith Pudari, <notifications@github.com>
wrote:

[2019-04-22 16:10] ChanchalKumarMaji commented on #490
Issue #437 and PR #439 . This dataset has already been added. Please close this issue. Thanks.

[2019-04-22 16:31] #490 closed

[2019-04-22 18:39] rsepassi commented on #486
Good idea.
Did you try setting data_dir to a GCS bucket?

On Fri, Apr 19, 2019 at 4:24 AM Daniel J. Beutel <notifications@github.com>
wrote:

[2019-04-23 02:49] sklan opened #493 "[data request] Google Conceptual Captions"
* Name of dataset: Conceptual Captions
* URL of dataset: https://github.com/google-research-datasets/conceptual-captions
* License of dataset: Not clear
* Short description of dataset and use case(s): Conceptual Captions is a dataset containing (image-URL, caption) pairs designed for the training and evaluation of machine learned image captioning systems.

Folks who would also like to see this dat

[2019-04-23 02:50] sklan commented on #493
I would like to contribute this datasets

[2019-04-23 19:39] danieljanes commented on #486
Thanks @rsepassi, I created a GCS bucket and I'm passing the bucket identifier `gs://...` to TFDS using `data_dir`. It's returning a 401 though:

[code]

I'd guess it's related to authentication and permissions on the GCS bucket, I'm not quite sure how to set these up in a way that TFDS can use it behind the scenes.

[2019-04-23 21:25] rsepassi commented on #486
Thanks for this. The issue seems to be that the machine you're using
doesn't have permissions to access the GCS bucket you created.
Could you try following this
<https://cloud.google.com/tpu/docs/storage-buckets> and see if it works?

On Tue, Apr 23, 2019 at 12:39 PM Daniel J. Beutel <notifications@github.com>
wrote:

[2019-04-24 04:43] shishir-joshi opened #503 "[data request] transfer"
* Name of dataset: <name>
* URL of dataset: <url>
* License of dataset: <license type>
* Short description of dataset and use case(s): <description>

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests to prioritize.

And if you'd like to contribute the dataset (thank you!), see our [guide to adding a dataset](https://g

[2019-04-24 04:44] #503 closed

[2019-04-24 07:15] steven-mi opened #504 "AttributeError: '_OptionsDataset' object has no attribute 'output_shapes'"
**Short description**
Tried to download the MNIST dataset but failed after downloading I guess.

**Environment information**
- Operating System: Ubuntu 16.04.5 LTS
- Python 3.5.2
- Tensorflow 2.0.0a0
- Tensorflow-datasets 1.0.1

Reproduction instructions
[code]

Logs
[code]

[2019-04-24 12:02] samuelmurray opened #505 "[data request] Okutama-Action"
* Name of dataset: Okutama-Action
* URL of dataset: http://okutama-action.org/
* License of dataset: Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License
* Short description of dataset and use case(s): An aerial view dataset that contains representative samples of actions in real-world airborne scenarios. Dynamic transition of actions where, in each video, up to 9 actors sequ

[2019-04-24 12:04] samuelmurray commented on #505
Article: Okutama-Action: https://arxiv.org/abs/1706.03038
Citation:
@inproceedings{barekatain2017okutama,
  title={Okutama-action: an aerial view video dataset for concurrent human action detection},
  author={Barekatain, Mohammadamin and Mart{\'\i}, Miquel and Shih, Hsueh-Fu and Murray, Samuel and Nakayama, Kotaro and Matsuo, Yutaka and Prendinger, Helmut},
  booktitle={Proceedings of the IEEE Co

[2019-04-24 12:09] SoumyadeepJana commented on #505
@Conchylicultor @cfyra This looks interesting. Please assign me.

[2019-04-24 18:51] rsepassi commented on #504
Could you try with `pip install tfds-nightly`. I believe we've fixed this issue.

[2019-04-24 23:26] Conchylicultor commented on #21
It has been added, so closing this

[2019-04-24 23:26] #21 closed

[2019-04-26 02:36] 00krishna commented on #76
So this is interesting. I was looking for a simple end-to-end model as well. Looks like there is an Advanced Tutorial entitled "Load text with tf.data" which uses Tensorflow Datasets and runs a model. I think this will run a Keras embedding model, but the point is still the same--to see how to get data from a Dataset into a running model. Here is the link.

There really should be a cross-reference

[2019-04-26 07:12] BrEr commented on #350
If I go to https://www.tensorflow.org/datasets they show version 1.0.2 is used, while here on github the latest release is 1.0.1, what's going on?

[2019-04-26 11:18] steven-mi commented on #504
@rsepassi thanks for the reply. I used a workaround

[code]
works

[2019-04-26 22:36] SiavasFiroozbakht commented on #431
@sklan thank you for contributing, did you have the chance to look into this already?

@Conchylicultor, I am keen to get this done over the next few days, you may add me as well on the list. Thank you!

[2019-04-27 07:27] jjmachan commented on #441
is there any who have worked with this dataset before? I would like to know how people use it so that I can build the generators accordingly.

[2019-04-27 16:48] sklan commented on #431
@SiavasFiroozbakht I am almost done with adding the BCF version of the data. However, I have not worked with the raw images.

[2019-04-28 11:24] SiavasFiroozbakht commented on #431
@sklan this is very good news. Should we put both versions in the same dataset? If so, would it be possible to share your current scripts so I can integrate the raw images too?

[2019-04-28 15:32] InduManimaran opened #518 "[data request] See-in-the-Dark (SID) Dataset"
* Name of dataset: See-in-the-Dark (SID) Dataset
* URL of dataset: https://github.com/cchen156/Learning-to-See-in-the-Dark
* License of dataset: MIT License.
* Short description of dataset and use case(s):
The dataset contains both indoor and outdoor images for training and benchmarking single-image processing of raw low-light images.

Folks who would also like to see this dataset in `tensorflow/d

[2019-04-28 15:40] InduManimaran opened #519 "[data request] ExDark Image Dataset"
* Name of dataset: Exclusively Dark (ExDark) Image Dataset
* URL of dataset: https://github.com/cs-chan/Exclusively-Dark-Image-Dataset
* License of dataset:  BSD-3 license
* Short description of dataset and use case(s):
The Exclusively Dark (ExDARK) dataset is a collection of 7,363 low-light images in 10 different with 12 object classes (similar to PASCAL VOC) annotated on both image class level a

[2019-04-28 23:11] sklan commented on #519
@Conchylicultor  I would like to contribute this.

[2019-04-28 23:26] sklan commented on #431
@SiavasFiroozbakht I'll share it once I am done with the BCF.

[2019-04-28 23:56] SiavasFiroozbakht commented on #431
@sklan it would have been useful to see the current structure of your script, I am close to half-way done with the raw images but don't want to make it more difficult to merge after.

[2019-04-29 10:56] sklan commented on #431
@SiavasFiroozbakht https://github.com/sklan/datasets/tree/vfr

[2019-04-29 18:01] gabrielibagon commented on #127
@rsepassi The Python version indeed seems to be the issue - there was a breaking change in Gzip in Python 3.7.

This issue is fixed in the current `tensorflow:master` for Python 3.7 with the following PR: https://github.com/tensorflow/tensorflow/pull/28006

An alternative workaround is to use Python 3.6 to call `tfds.load()` once in order to extract the dataset, which will then download and extrac

[2019-04-29 18:40] Conchylicultor commented on #127
Thank you for investigating. It seems to be an issue with TF so I'm not sure we can do anything from our part. It seems it will resolve by itself in the next version of TF.
Leaving the issue open for reference.

[2019-04-30 10:53] jinfagang opened #526 "Install failed on python3.6"
[code]

[2019-04-30 18:02] SiavasFiroozbakht commented on #431
Thanks @sklan. As AdobeVFR has two **types** of data (`synthetic` and `real`) and two **formats** (`bcf`, `raw`), how do you suggest we implement this so users could select each type?

I am thinking of creating a config for each type of data, but not for the formats. It is likely users won't mind about how the data is stored.

Also, it seems from the folder names in `BCF Format` that one is for sy

[2019-05-01 10:50] sklan commented on #431
@SiavasFiroozbakht You make a good point. Maybe we should go with a ```synthetic``` and ```real``` data format.

I believe it is a typo. We could try emailing the creator to clarify.

[2019-05-01 15:00] SiavasFiroozbakht commented on #431
@sklan good to see we are agreeing on that.

Just to ask if you have already tested the BCF code before? I am running some tests and getting error `AttributeError: 'PngImageFile' object has no attribute 'read'`. Is there any updated version on your side? I have refactored some parts such as the `_split_generators` method to make it reusable for raw type as well, but it might be better to let you f

[2019-05-02 01:21] Conchylicultor commented on #431
If the images are from the same domains (same size, format, labels,...), it probably make sense to have a single dataset with multiple splits ('real_train', 'real_test', 'synthetic_train',...).

Otherwise, it would makes more sense to have two separate configs, or even two different dataset.

It came out to the: Can the same single model be trained on the synthetic data and evaluated on the real d

[2019-05-02 05:00] tmatha commented on #268
I am interested in fixing this issue. I am first time contributor. Please advise how to proceed. Thanks.

[2019-05-02 15:08] mr-ubik commented on #337
They are different datasets, but delving into the code we probably do not need other datasets than the one I working on.

[2019-05-03 10:03] lgeiger commented on #354
Indeed it is a issue with `absl`: https://github.com/abseil/abseil-py/issues/99

This is also the case for `tensorflow` itself: https://github.com/tensorflow/tensorflow/issues/23559
It seams there are efforts in TF to remove the custom logging entirely because it breaks users who use Pythons  `logging` module.

@rsepassi Is there any reason why `absl.logging` is used instead of the default `loggin

[2019-05-03 17:44] Rahul240499 opened #536 "[data request] <GTZAN music/speech collection>"
* Name of dataset: <name>
* URL of dataset: <url>
* License of dataset: <license type>
* Short description of dataset and use case(s): <description>

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests to prioritize.

And if you'd like to contribute the dataset (thank you!), see our [guide to adding a dataset](https://g

[2019-05-04 06:48] josuejjv commented on #526
I have the same problem, anyone could help us?

[2019-05-04 14:03] ChanchalKumarMaji commented on #536
@Rahul240499 please provide the relevant details.

[2019-05-05 17:12] Ivan-wang opened #538 "Reuse downloaded ImageNet dataset .tar files"
I am wondering how to reuse the tar files I manually downloaded from Imagenet before.
They are ILSVRC2012_img_train.tar and ILSVRC2012_img_val.tar.

I tried to set `download=False` and `data_dir` to the dir of those two files. Also I tried to use `REUSE_CACHE_IF_EXISTS`. But builder just starts to download a new copy of dataset.

I am using tensorflow-datasets 1.0.2 by the way

Thank you for any h

[2019-05-05 17:20] Ivan-wang commented on #538
Oh, I should use `manual_dir`... Sorry I just missed that part of document

[2019-05-06 03:29] Ivan-wang commented on #538
Hi,
So it seems doesn't work to set `manual_dir`. Maybe I'm wrong but I checked the code, this `manual_dir` is not checked before download manager starting to download?

[2019-05-06 16:00] Conchylicultor commented on #526
From https://github.com/googleapis/google-cloud-python/issues/2990, it may be an issue the pip version used.

Someone recommend to try: `pip install --upgrade pip` and `pip install --upgrade setuptools`

[2019-05-06 16:15] Conchylicultor commented on #538
Yes, now we try to download imagenet instead of looking in the manual_dir. We should provide a way for the user to skip the download phase if files already exists. Currently, there is no real way of doing this. You can try to copy the `ILSVRC2012_img_train.tar` files in `~/tensorflow_datasets/downloads`

The file has to be renamed as follow:
[code]
The `.INFO` file is just a text file containing m

[2019-05-06 16:59] prabhuomkar opened #540 "[data request] Indian Numerals Dataset (cmaterdb)"
* Name of dataset: Indian Numerals Datasets (cmaterdb)
* URL of dataset: https://code.google.com/archive/p/cmaterdb/downloads
* License of dataset: Apache License 2.0
* Short description of dataset and use case(s): CMATERdb is the pattern recognition database repository created at the ‘Center for Microprocessor Applications for Training Education and Research’ (CMATER) research laboratory, India.

[2019-05-07 02:44] prabhuomkar commented on #540
Hey @cyfra I would like to contribute to this!

[2019-05-07 02:51] prabhuomkar commented on #142
Please add me to the list @cyfra @rsepassi :)

[2019-05-08 12:47] idofr opened #546 "The 'adding a dataset' docu-page seems to be out dated"
**Short description**
About a month ago, I used the `adding a dataset` [docu page](https://www.tensorflow.org/datasets/add_dataset#my_datasetpy) to convert my own data to tfreconds, cache it and run it as a dataset object. Everything went well and all tests validated (manually compared to the naive numpy based version)
Going back to the file now it seems like a lot has change in the last few weeks

[2019-05-08 13:21] #546 closed, assigned to nobody

[2019-05-08 13:56] captain-pool opened #547 "[data request] FLIC Dataset"
* Name of dataset: FLIC
* URL of dataset: https://bensapp.github.io/flic-dataset.html
* License of dataset: MIT
* Short description of dataset and use case(s): The FLIC-full dataset is the full set of frames we harvested from movies and sent to Mechanical Turk to have joints hand-annotated. While the annotations between 5 turkers were almost always very consistent, many of these frames proved diff

[2019-05-08 15:31] danieljanes commented on #486
@rsepassi this doc references a so-called project number:

https://cloud.google.com/tpu/docs/storage-buckets#locate_the_service_account

How can we see the project number for Colab? Also, is the project number stable accross different runs?

[2019-05-08 19:35] SiavasFiroozbakht commented on #431
Any updates on BCF format @sklan? I have got raw images through tfds and was thinking to look into BCF as well if you don't have time, but also don't want to repeat good work already done.

@Conchylicultor thank you for the useful info. In regard to AdobeVFR / DeepFont, its architecture is a bit more special: both the synthetic and real world data are used in training some parts of the architectur

[2019-05-09 06:40] datianshi21 commented on #233
you should use `dataset.make_one_shot_iterator().get_next()` ,  and here's my input_fn block:
`def input_fn(data_file, num_epochs, shuffle, batch_size):
    def parse_csv(value):
        print ("Parsing... ", data_file)
        columns = tf.decode_csv(value, record_defaults=FEATURES_DEFAULTS)
        features = dict(zip(TARGET_FEATURES, columns))
        labels = features.pop('label')
        retu

[2019-05-09 06:42] datianshi21 commented on #233
Agree!

[2019-05-09 11:17] dsalaj commented on #21
It does not really work. Including it:

    dataset = tfds.load(name="ucf101")

fails with following error:

    tensorflow.python.framework.errors_impl.NotFoundError: /home/.../tensorflow_datasets/video/ucf101_labels.txt; No such file or directory

Running the tests (`ucf101_test.py`) fails with the same error.
The conda environment is:

    tensorboard               1.12.2           py36he6710b0

[2019-05-09 14:14] lucifer2288 commented on #127
mark, same issue

[2019-05-10 03:03] NumesSanguis opened #552 "Unregister Dataset for problem ValueError: Dataset with name x already registered."
**Is your feature request related to a problem? Please describe.**
I want to create a new dataset using `DatasetBuilder` and I'm using Jupyter Notebook to interactively write my class for `tfds.core.GeneratorBasedBuilder`. It's frustrating that if I execute the cell with that class more than 1 time, I will get the error: `ValueError: Dataset with name my_dataset already registered.` This slows dow

[2019-05-10 07:36] NumesSanguis opened #553 "FeatureConnector for NumPy data (2ch audio)"
**What I need help with / What I was wondering**
I'm creating a Dataset for TensorFlow 2.0 based on DatasetBuilder, using tfds.core.GeneratorBasedBuilder. I need help with accepting 2ch audio data in NumPy format as a `FeatureConnectors` in `features=tfds.features.FeaturesDict()`. My audio data comes from a HDF5 file already in NumPy format, so `tfds.features.Audio` (which needs a string to an aud

[2019-05-10 11:12] sklan commented on #431
@SiavasFiroozbakht Just finished exams. I'll finish it by tomorrow I guess.

[2019-05-10 11:20] SiavasFiroozbakht commented on #431
@sklan hope you smashed them all! Let me know if I can help with anything.

[2019-05-10 22:03] Ivan-wang commented on #538
Thanks

Yes this helps a lot!
Thanks!! And I close this issue.

[2019-05-10 22:03] #538 closed

[2019-05-10 22:40] Conchylicultor commented on #553
I think the following should works:

`"audio": tfds.features.Tensor(dtype=tf.float32, shape=(None,))`

The arguments are from the `__init__` method https://www.tensorflow.org/datasets/api_docs/python/tfds/features/Tensor#__init__

[2019-05-10 22:45] Conchylicultor commented on #553
For more context, the doc that you are seing for `get_serialized_info` is the one from the base class `FeatureConnector.get_serialized_info`.

We should probably add an example in the doc-string of `tfds.features.Tensor` on how to use the class

[2019-05-10 22:47] Conchylicultor commented on #552
Thanks for reporting, I agree this is an issue. We are going to work to improve the colab workflow

[2019-05-11 17:38] tufei commented on #43
I have been searching and struggling to find an option to allow me setting a different default directory other than ~/tensorflow_datasets. Oftentimes there is personal convention on organizing files and directories, not having such an option is really surprising.

[2019-05-12 18:52] sgdgp commented on #547
@Conchylicultor I would like to work on this. Can this be assigned to me?

[2019-05-13 04:29] dwan1545 opened #558 "Trouble Loading Diabetic Retinopathy Detection Dataset"
**What I need help with / What I was wondering**
I am confused on how to access the Diabetic Retinopathy Detection dataset from tensorflow datasets.

**What I've tried so far**
I have created the Builder object as follows:

builder = tfds.builder("diabetic_retinopathy_detection")

But then when I go to the next step:

builder.download_and_prepare()

I get a slew of errors about wrong directories.

[2019-05-13 07:14] NumesSanguis commented on #553
Thank you for your suggestion, `"audio": tfds.features.Tensor(dtype=tf.float32, shape=(None,))` seems to work. I need to test a bit more with my dataset, and if no problem is found, I'll close this issue.

[2019-05-13 10:35] SiavasFiroozbakht commented on #431
@sklan quick update: I managed to get a working version of BCF as well on my side. The error that I mentioned above (invalid argument for `.read()`. and `.seek()` operations) were caused by integer overflow. Make sure to use `np.int64` instead of `np.int32`; wanted to mention that so you don't have to spend too much time on debugging it.

@Conchylicultor would be great to still hear your thoughts

[2019-05-13 16:59] sgdgp commented on #547
@Conchylicultor @rsepassi
The zip of the dataset is hosted/shared in google drive ([link](https://drive.google.com/file/d/0B4K3PZp8xXDJN0Fpb0piVjQ3Y3M/view?usp=sharing)). The data starts downloading only after manually triggering Download option in drive.

How to give the path in dl_manager.download_and_extract ?

[2019-05-13 17:44] Conchylicultor commented on #43
@tufei Can't you just set `data_dir` to whatever you  want ?

[code]

[2019-05-13 17:58] Conchylicultor commented on #558
The KaggleAPI was implemented before tfds supported Kaggle API to download Kaggle datasets. Indeed the current solution is badly documented.
You should download the files from Kaggle and extract them into `~/tensorflow_datasets/downloads/manual/diabetic_retinopathy_detection/`

The folder should contains files like:

[code]

[2019-05-13 18:32] Conchylicultor commented on #547
@sgdgp `dl_manager.download_and_extract` should support Google Drive url. Is it not the case ?

[2019-05-14 09:04] zishanahmed08 commented on #214
@f1recracker Harsh, Is there  a tentative date as to when your PR will be merged?

[2019-05-14 14:59] leemengtaiwan opened #560 "Connection Error when using wmt19_translate/zh-en dataset"
**Short description**
Encounter connection error when downloading `wmt19_translate/zh-en` dataset.

**Environment information**
* Operating System: Colab
* Python version: Python 3.6.7
* `tf-nightly-gpu-2.0-preview` version: 2.0.0-dev20190514

**Reproduction instructions**

[code]

**Link to logs**

![image](https://user-images.githubusercontent.com/3454980/57708134-cc3ff080-76a3-11e9-9b7f-8d58b9f

[2019-05-14 20:19] sklan commented on #431
I hope the same. :D

@SiavasFiroozbakht I finished the addition of the synthetic data. We'll open a PR once @Conchylicultor responds.

[2019-05-15 00:41] Conchylicultor commented on #431
@sklan In this case, having one config for each data augmentation (+1 default config without data augmentation) sound good. Sorry for the late answer

[2019-05-15 05:57] NumesSanguis opened #561 "Example how to use GeneratorBasedBuilder to train model Keras style"
**What I need help with / What I was wondering**
I've created a Dataset by using `tfds.core.GeneratorBasedBuilder` and want to train a model with it in Keras style. I followed the tutorial: https://github.com/tensorflow/datasets/blob/master/docs/add_dataset.md#datasetbuilder

I was wondering how to use this dataset to train a model Keras style with TF 2.0.
I want to make the model work with minima

[2019-05-15 07:19] f1recracker commented on #214
Sorry - I've been a bit busy with school and finals but I just sent an updated PR that _should_ fix all previous blockers :)

[2019-05-15 18:25] dwan1545 commented on #558
Thank you for the response, I was able to make that work. For those interested in future, I used the Kaggle API to download all the zip files into a directory of my choice (used external hard drive). I then used 7zip to unzip all the files. I then placed all the files in my_dir/manual/diabetic_retinopathy_detection and used the file structure given by Conchylicultor. Then I ran the following comma

[2019-05-15 18:43] dwan1545 commented on #558
Ah, I answered my question. The key is to initialize the builder with the right data_dir as follows:

builder = tfds.builder(name="diabetic_retinopathy_detection", data_dir=my_dir)

Then when calling download_and_prepare, the function will work in the specified directory.

Closing this now, thanks for the help!

[2019-05-15 18:43] #558 closed

[2019-05-15 18:55] Conchylicultor commented on #561
In this case, because your don't need to apply transformation to your input, you can plug the ds directly into Keras if you use the `as_supervised`. It will return a tuple `(input, target)` instead of a `dict`

[code]

For images, you would have in addition to cast/normalize the image to tf.float32.
[code]

[2019-05-16 02:17] NumesSanguis commented on #561
The `as_supervised=True` did the trick. Thank you!

[2019-05-16 06:08] NumesSanguis commented on #561
Let me know if the following is better handled in separate issue.

The data I'm dealing with is audio data which for every file is of different length. Therefore, I want to apply a sliding window on every sample.
Something like `ds_train.window(size=64, shift=32).flat_map(lambda x: x.batch(128))` won't work, because that's a sliding window over batches and I need a sliding window over every elemen

[2019-05-16 17:42] Conchylicultor commented on #561
All functions executed inside `ds.map` are executed in graph mode, even in TF 2.0 and eager. This is in order to have efficient input pipeline performances.
I think there was a decorator @py_func or something similar to convert into python and numpy array.

Otherwise, I haven't really understood what you want to accomplish with the sliding window.

Note that you have a `padded_batch` which allow t

[2019-05-17 05:48] NumesSanguis commented on #561
Thank you for your advice, I will take a look at @py_func.

Sorry for not being clear. 1 audio sample can range from 1 to 10 minutes. If you even have a low sample rate of 8000 and a 1 minute recording, that is 8000*60 = 480.000 float samples as input. That is too big for an input layer, and if you pad it to 10 minutes, that's even more impossible.

Want I want to do is to retrieve 1 audio sample

[2019-05-18 00:50] Conchylicultor commented on #561
Oh I see, thanks for the explaination. If I understand correctly, you could wrap the `window` inside a `flat_map`. Here is a proff of concept:

[code]

Output:
[code]

To add the labels, you could use `ds.zip((sub_ds, ds_labels))` with `ds_labels = tf.data.Dataset.from_tensor(label).repeat(-1)` inside the `split_sequence` function

[2019-05-20 02:46] NumesSanguis commented on #561
@Conchylicultor Thank you for your code example! It works, but in TF 2.0 it throws the warning:

[code]

Taking the `GeneratorBasedBuilder` approach I have less luck however, as it throws an `AttributeError: 'Tensor' object has no attribute 'window'` error.

**Standalone example**:

[code]

<details><summary>Full `AttributeError` Traceback (CLICK ME)</summary>
<p>

[code]

</p>
</details>

[2019-05-20 07:31] NumesSanguis commented on #561
# Attempt 1
In my numpy sliding window I was using (sorry, not sure if I'm allowed to share more code):

[code]

, which creates a 2D view of the 1D array. This creates a memory-sharing view, and therefore doesn't copy any data. Helping performance.

The closest I could find in TF is: [`tf.strided_slice`](https://www.tensorflow.org/api_docs/python/tf/strided_slice), however I couldn't manage to ge

[2019-05-20 13:15] pierrot0 commented on #121
Note that I have a big change coming up on this soon, to make things simpler and faster.
Once this change is in, there are still many params which can be tweaked, in case you want to experiment with those Part. In the meantime, I would advise you to wait for those changes to be in (i'll update this issue).

[2019-05-20 15:28] Conchylicultor commented on #561
In the code you posted, you get a `AttributeError: 'Tensor' object has no attribute 'window'` because you commented the `sub_ds = tf.data.Dataset.from_tensor_slices(x)` line.
You cannot apply `window()` on tensor. Only on dataset object, so you need to convert the Tensor to Dataset first.

[2019-05-20 15:30] Conchylicultor commented on #561
`tf.data.Dataset.from_generator()` was just for demonstration purpose. You can plug any dataset object, including `ds = tfds.load('xyz')` object.

[2019-05-20 17:40] #504 closed

[2019-05-20 22:05] #526 closed

[2019-05-20 22:07] #462 closed

[2019-05-21 05:08] gunsodo commented on #127
Found the same issue here...

**Environment information**
- Operating System: macOS Mojave version 10.14.1
- Python version: python 3.7.3
- `tensorflow-datasets` version 1.0.2
- `tensorflow version` version 2.0.0a0

[2019-05-21 09:31] NumesSanguis commented on #561
Thank you for your explanation. For some reason I assumed `from_tensor_slices(x)` was for converting Numpy to Tensor, therefore I commented it out. I'll play around a bit more to get the output to my liking. If no problems related to topic comes up in the next days, I'll close it.

[2019-05-22 01:34] jackd opened #580 "register_checksums with external datasets"
It would be nice to be able to develop a dataset outside of this package but still use automatic statistics generation, pre-shuffling, sharding etc in the builder classes without having write-access to the tfds directory itself. As far as I can tell, this is currently impossible without serious hacking due to the checksum registration process. One can either choose to register checksums which requ

[2019-05-22 04:38] zh794390558 opened #581 "[data request] speech command"
* Name of dataset:  speech command
* URL of dataset:
http://download.tensorflow.org/data/speech_commands_v0.01.tar.gz
http://download.tensorflow.org/data/speech_commands_v0.02.tar.gz

* License of dataset:  not known
* Short description of dataset and use case(s):
https://arxiv.org/abs/1804.03209

[2019-05-22 14:44] EternalMoment commented on #580
I have a similar issue. I have a private dataset with restricted license. I have finished all the code for setting up tfds pipeline, but got stuck on the checksum error. Could I use tfds for ETL without merging it into tfds?

[2019-05-22 15:43] ksboy opened #583 "[data request] Yelp Polarity Review"
* Name of dataset: Yelp Polarity Review
* URL of dataset: https://s3.amazonaws.com/fast-ai-nlp/yelp_review_polarity_csv.tgz
* License of dataset: No license specified, the work may be protected by copyright.
* Short description of dataset and use case(s): **Yelp Polarity Review** is a classical dataset for sentiment analysis, which is proposed by Xiang Zhang in Paper "Character-level Convolutional

[2019-05-22 17:38] 00krishna opened #584 "Create a CHANGELOG to help users know of new datasets that are added"
**Is your feature request related to a problem? Please describe.**

Tensorflow Datasets is a great package and very much needed. One challenge I noticed was that it is hard to determine when new datasets are added. There are a large number of dataset pull requests in various stages of approval, etc. So I expect that there will be new datasets released at any time. Right now the only way for me to

[2019-05-22 23:28] jackd commented on #580
On closer inspection, this seems to be resolved in the master branch. If you're stuck using older versions (or want to stick to the official releases), you can do the following slightly dirty hack.

[code]

[2019-05-22 23:28] #580 closed

[2019-05-23 01:28] jackd opened #587 "`_make_download_manager` appends `self.name` to `manual_dir`"
`DatasetBuilder._make_download_manager` appends `self.name` to `manual_dir`. I understand the motivation when using the default `manual_dir`, but when one is supplied in the input `download_config` this introduces an uneccessary file structure constraint on the user (directory on disk must have same name as builder).

Relevant code is [here](https://github.com/tensorflow/datasets/blob/master/tenso

[2019-05-23 19:45] luke-zhu opened #592 "pip install does not include '.txt' label files required to"
I am unable to load datasets sun397 and caltech101 because `pip install tensorflow_datasets` does not copy the needed TXT files into `site-packages`. This is related to issue #157.

Taking the measures to include non-code files could solve this issue. See https://python-packaging.readthedocs.io/en/latest/non-code-files.html

**Environment information**
* Operating System: both MacOS + the Python 3

[2019-05-24 05:12] jackd commented on #592
I came across this issue with my own forks. All non-`.py` files need to be specified in [DATASET_FILES](https://github.com/tensorflow/datasets/blob/master/setup.py#L78).

[2019-05-24 07:10] jackd commented on #113
Any progress on this? I'm looking at a similar problem where I have multiple representations corresponding to the same examples and would like to be able to create separate builders and use different subsets in `tf.data.Dataset.zip`.

[2019-05-24 19:15] us commented on #584
Where do you install the package pip or repo ? If you using pip version of `tensorflow-datasets`, pip couldn't install the last version of repo, it's just install the last release for example now 1.0.2 release. New datasets will be available in the next release. Please try to install from repo.

Clone repo then
`python setup.py install`

[2019-05-25 20:10] us commented on #16
@rsepassi completed issue. Should close.

[2019-05-26 00:53] 00krishna commented on #584
@us So are you saying that whenever a new dataset is added to `tensorflow-datasets` that the release number is updated? In just looking at the issue list, I don't think that is accurate. Don't get me wrong, I appreciate all of the work that the `tensorflow-datasets` team is doing. This is really just a usability issue that helps users take advantage of the package.

Here are 2 datasets that have b

[2019-05-26 15:02] us commented on #584
@00krishna No I did not want to say that. I want to say `tensorflow-datasets` thats's on the pip packages  not updated every time. It's just updated new releases. So adding datasets that are added after release, not installed until the new release with pip.

These two datasets were closed because the pull request was sent but the pr still being reviewed so not added yet. Discofuse dataset #439 pr

[2019-05-26 16:14] us commented on #587
What's the difference the `manual_dir = os.path.join(manual_dir, self.name)` and your offer ? I didn't fully understand.

[2019-05-26 17:01] us commented on #560
I think this bug related with `UN Parallel Corpus V1.0` file because this needs to register to download.

This [link](https://cms.unov.org/UNCorpus/en/Download?file=UNv1.0-TEI.zh.tar.gz.00) is the dataset and not downloaded without register.

Maybe we should contact with dataset owner to getting link.

![Screen Shot 2019-05-26 at 7 42 40 PM](https://user-images.githubusercontent.com/22618852/58384

[2019-05-26 19:25] 00krishna commented on #584
Ahhh, so this makes a lot more sense. Thanks for the clarifications. I should clone the library and install it instead of using `pip`. So I can do that from now on. That makes a lot more sense.

Thanks for the clarification on the other two datasets as well, Discofuse and Moist digits.

Yes, just to reiterate I think that this `tensorflow datasets` project is really excellent. Having a quick way t

[2019-05-26 23:19] jackd commented on #587
@us that would achieve the current behaviour, so porting to the proposed new version would be straight-forward.

However, consider the situation where I have data at `/datasets/imagenet_data`. If I use `manual_dir=/datasets/imagenet_data`, `tfds` will look for files in `datasets/imagenet_data/imagenet2012` - a directory which likely doesn't exist. Sure I could create a link to the relevant folder,

[2019-05-27 11:48] npuichigo opened #603 "Specify TokenTextEncoder with custom tokenizer makes dataset reusing failed"
**Short description**
Description of the bug.

**Environment information**
* Operating System: Ubuntu 16.04
* Python version: <version> 3.6.8
* `tensorflow-datasets`/`tfds-nightly` version: 1.0.2
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: 1.13.1

**Reproduction instructions**

[code]

**Link to logs**
[code]

**Expected behavior**
Dataset can be reused when rerunning.

[2019-05-28 08:13] soniaameri opened #606 "[data request] <IEMOCAP>"
* Name of dataset: <name>
* URL of dataset: <url>
* License of dataset: <license type>
* Short description of dataset and use case(s): <description>

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests to prioritize.

And if you'd like to contribute the dataset (thank you!), see our [guide to adding a dataset](https://g

[2019-05-29 02:21] ChanchalKumarMaji commented on #606
Provide the relevant details.

[2019-05-30 08:57] EternalMoment opened #619 "Add dtype for ClassLabel"
**Is your feature request related to a problem? Please describe.**
The default output dtype from `ClassLabel` is `tf.int64`, it would be a overkill for some dataset, such as binary classification problem. Well, the user could cast it with `map` operation afterwards on the fly, but it's better to preprocess the type and store it with the right type.

**Describe the solution you'd like**
let's add a

[2019-05-30 20:35] #33 closed

[2019-05-31 02:58] #16 closed

[2019-05-31 03:03] Conchylicultor commented on #584
I agree keeping tracks of the new features & datasets would be good.
I've started some release notes that we're going to try to keep them updated..
https://github.com/tensorflow/datasets/blob/master/docs/release_notes.md

[2019-05-31 14:17] us opened #623 "Downloader Kaggle Extension Wrong Prefix"
**Short description**
`kaggle.KaggleFile.is_kaggle_url` checks the url, but it's check just a `_URL_PREFIX = "kaggle://"`. That url prefix is wrong because kaggle hasn't got any url like this. So that extension will not working with kaggle api, it downloading with `requests` lib on `dl_manager`.

**Expected behavior**
Should correctly check the kaggle url, working with kaggle api, not with `reques

[2019-05-31 16:27] Conchylicultor commented on #623
This is a custom uri which allow to use the same API than with other urls. I agree this is badly documented, and do not seems to be used anywhere. Usage is:

[code]

[2019-05-31 23:00] Conchylicultor commented on #619
Thanks for reporting, but I'm not sure what is the issue with having `tf.int64` ? Intuitively, I would say the overhead is negligible vs the actual network computation and the image decoding.

Before doing something like this, I would prefer to see some benchmark which demonstrate that using `tf.int64` is indeed a speed/size limitation.

Additionally:
* The internal proto format `tf.train.Example`

[2019-06-01 04:18] prabhuomkar opened #624 "[data request] QMNIST Dataset"
* Name of dataset: QMNIST
* URL of dataset: https://github.com/facebookresearch/qmnist
* License of dataset: BSD License
* Short description of dataset and use case(s):
The QMNIST dataset was generated from the original data found in the NIST Special Database 19 with the goal to match the MNIST preprocessing as closely as possible.
The exact preprocessing steps used to construct the MNIST dataset

[2019-06-01 06:18] EternalMoment commented on #619
I see, I wasn't aware of the underlying proto format tf.train.Example supports `tf.int64` only. In that case, this proposal doesn't make sense. Let me close it.

[2019-06-01 06:18] #619 closed

[2019-06-03 00:30] jackd commented on #592
Looks to be resolved in tfds-nightly

[2019-06-03 01:09] luke-zhu commented on #592
Awesome thanks!

[2019-06-03 01:09] #592 closed

[2019-06-03 05:58] huhuta opened #625 "ucf101 dataset load fail"
**Short description**
ucf101 dataset loads fail because ucf101_labels.txt not found in site-packages

code
[code]

output
[code]

I fixed by download labels.txt file
[code]

**Environment information**
* Operating System: ubuntu18.04
* Python version: 3.6
* `tensorflow-datasets`/`tfds-nightly` version: tensorflow-datasets==1.0.2
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version

[2019-06-03 15:18] skochetkov commented on #303
Hi @dynamicwebpaige @Rohith-hacker any update on adding comma2k19?
Thanks!

[2019-06-03 15:21] Rohith-hacker commented on #303
@skochetkov final few tests are being done! I will be uploading the PR in couple of days

[2019-06-03 15:30] skochetkov commented on #303
@Rohith-hacker thank you! Please, keep us posted.

[2019-06-03 15:37] us commented on #623
So is it just a tag for understanding kaggle url for `dl_manager.download` and then downloading with `kaggleDownloader` ?

[2019-06-03 17:30] ChanchalKumarMaji commented on #625
Thanks, for reporting this. For now download this file from [here](https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/video/ucf101_labels.txt) and put this in the `video` folder.

[2019-06-03 20:15] Conchylicultor commented on #623
Yes, exactly. It allow to use the same API as other files, like: `dl_manager.download_and_extract('kaggle://some-competition/train.zip')`.

[2019-06-03 23:36] Conchylicultor commented on #625
This should be fixed in the next nightly release thanks to Chanchal PR

[2019-06-03 23:36] #625 closed

[2019-06-03 23:48] Conchylicultor opened #631 "Direct ondrive url (for Resisc45)"
Currently, Resisc45 require to manually download the data because TFDS do not support RAR file extraction.

By adding RAR file extraction to TFDS, it may unlock direct download for this dataset.

If so, we should use it and also update the checksum Resisc45 file.

[2019-06-04 03:49] youngsonglin opened #633 "face feature data[data request] <dataset name>"
* Name of dataset: <name>
* URL of dataset: <url>
* License of dataset: <license type>
* Short description of dataset and use case(s): <description>

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests to prioritize.

And if you'd like to contribute the dataset (thank you!), see our [guide to adding a dataset](https://g

[2019-06-04 05:13] ChanchalKumarMaji commented on #633
Please provide the relevant details of your `dataset`.

[2019-06-04 17:12] SuperElectric opened #637 "[data request] Sintel Datasets"
* Name of dataset: MPI Sintel Flow Dataset
* URL of dataset: http://sintel.is.tue.mpg.de/
* License of dataset: CC BY 3.0
* Short description of dataset and use case(s): a CG movie with pixelwise labels for optical flow, segmentation, stereo & disparity, depth, and framewise labels for camera motion. Popularly used as a benchmark for vision research in inferring these labels.

[2019-06-04 17:18] SuperElectric opened #638 "[data request] KITTI dataset"
* Name of dataset: KITTI dataset
* URL of dataset: http://www.cvlibs.net/datasets/kitti/
* License of dataset: CC-BY-NC-SA 3.0
* Short description of dataset and use case(s): Real-world stereo imagery recorded from a car, with pixelwise labels for stereo, flow, sceneflow, depth, and frame-wise labels for odometry, object bounding boxes (bird-eye 2D, first-person 2D, and first-person 3D),  and raw

[2019-06-04 17:27] SuperElectric opened #639 "[data request] Freiburg Scene Flow datasets"
* Name of dataset: Freiburg Scene Flow Datasets (aka Monkaa, FlyingThings3D, Driving, and "DispNet/FlowNet2.0" datasets)
* URL of dataset: https://lmb.informatik.uni-freiburg.de/resources/datasets/SceneFlowDatasets.en.html
* License of dataset: See above URL. "This dataset is provided for research purposes only and without any warranty. Any commercial use is prohibited. If you use the dataset or p

[2019-06-04 17:54] us commented on #623
Okay I got it. Thanks!

[2019-06-04 17:54] #623 closed

[2019-06-04 22:27] Conchylicultor commented on #10
Mostly fixed. Additional features may be tracked in independent feature requests.

[2019-06-04 22:27] #10 closed

[2019-06-05 14:24] sayakpaul commented on #127
Same issue with the `caltech101` dataset.
**Environment information**:
- OS: macOS Mojave version 10.14.1
- Python ver: 3.7.1
- tensorflow version 2.0.0a0
- tensorflow-datasets version 1.0.2

[2019-06-05 16:25] Conchylicultor commented on #275
It should be fixed with @captain-pool contribution #488

[2019-06-08 00:33] Conchylicultor commented on #603
Are you using the same `BuilderConfig` name when reloading the dataset ? What code are you using to write and read the dataset

[2019-06-08 04:50] jidroid404 commented on #639
I would like to take this up.

[2019-06-08 04:54] jidroid404 commented on #518
@Conchylicultor I would like to take this up.

[2019-06-08 19:27] tarrade opened #653 "cannot install tfds-nightly since version1.0.2.dev201906060105 on MacOS: include/city.h:65:36: fatal error: stdlib.h: No such file or directory"
**Short description**
Description of the bug.
Installation failed on Mac OS with the following ERROR saying that:

[code]

**Environment information**
* Operating System: Mac OS 10.14.5
* Python version: 3.6.6
* `tensorflow-datasets`/`tfds-nightly` version: tfds-nightly==1.0.2.dev201906060105 to 1.0.2.dev201906080105
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` tf-nightly-2.0-prev

[2019-06-09 03:52] Prakhar998 opened #654 "[data request] <dataset name>"
* Name of dataset: <name>
* URL of dataset: <url>
* License of dataset: <license type>
* Short description of dataset and use case(s): <description>

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests to prioritize.

And if you'd like to contribute the dataset (thank you!), see our [guide to adding a dataset](https://g

[2019-06-09 05:27] ChanchalKumarMaji commented on #654
@Prakhar998 Please update the relevant details.

[2019-06-09 06:05] Prakhar998 commented on #654
what type of detail

[2019-06-09 06:10] ChanchalKumarMaji commented on #654
Where is the `name`, `url link`, `description` of your dataset ?

[2019-06-09 08:12] prabhuomkar commented on #654
@Prakhar998 replace <dataset name> with the name or title of the dataset you want.
and also few more details about it in the description as required (name, url, license)

[2019-06-09 09:13] vishal-keshav opened #655 "problem with using "manual_dir" for coco2014 dataset"
**What I need help with / What I was wondering**
I have downloaded the tar files for coco2014 datasets. They look like the following:
[code]

The download links I used are the same as used by tfds internally to `dowonload_and_prepare`.

I created a `manual_dir` and kept all the downloaded files in it. created and supplied download_config.
However, it does not recognise the manual_dir and start dow

[2019-06-09 12:43] DavidNorman opened #656 "Google research AudioSet"
* Name of dataset: <name>
* URL of dataset: <url>
* License of dataset: <license type>
* Short description of dataset and use case(s): <description>

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests to prioritize.

And if you'd like to contribute the dataset (thank you!), see our [guide to adding a dataset](https://g

[2019-06-10 13:07] tarrade commented on #653
The issue is still present with the latest nightly 1.0.2.dev201906100105

[2019-06-10 14:31] tarrade commented on #275
Thanks @captain-pool

"To Configure the Proxy Settings, The User needs to set the Proxies for HTTP, HTTPS and FTP in the Environment Variables
TFDS_HTTP_PROXY, TFDS_HTTPS_PROXY, TFDS_FTP_PROXY respectively."

Do you also have an option to pass a CA certificate for SSL ?

Right now it is crahsing with :

`requests.exceptions.SSLError: HTTPSConnectionPool(host='zenodo.org', port=443): Max retries ex

[2019-06-10 14:50] captain-pool commented on #275
Hey @tarrade the downloader uses both requests and urllib. And Sorry, I totally missed the feature request for CA file. I just made it flexible for Proxies. Will add the support for CA Certificates ASAP.

[2019-06-10 15:09] captain-pool opened #658 "Change tf_flowers to iterate over tgz instead of extract"
**Short description**
Loading tf_flowers dataset on google cloud bucket gets frozen. It works perfectly fine for local system however, passing a cloud bucket path freezes it. This is not the case with other datasets like: mnist, horses_or_humans, etc.

**Environment information**
* Operating System: Debian 9
* Python version: 3.5
* `tensorflow-datasets`/`tfds-nightly` version: 1.0.2
* `tensorflow`

[2019-06-10 15:21] captain-pool commented on #275
@Conchylicultor should I skip the certificate verification by passing CERT_NONE from ssl, or should I put an option for adding certificate file?

[2019-06-10 15:49] tarrade commented on #275
Hi @captain-pool , no problem. I know it is only compny that are using proxy and CA certificate and we are suffering from that everyday. I will be happy to test it when you have it ready. Just tell me in which nithly build it was collected. Thanks

[2019-06-10 15:57] captain-pool commented on #275
Can you re open the issue?

On Mon, 10 Jun 2019, 9:19 pm Dr. Fabien Tarrade, <notifications@github.com>
wrote:

[2019-06-10 15:59] tarrade commented on #275
On my side I cannot reopen this ticket. By the way I forgot thank you for the implementation of this request. You will help a lot of people using company laptop

[2019-06-10 17:11] vishal-keshav commented on #655
My problem got resolved, hence closing this issue.

[2019-06-10 17:11] #655 closed

[2019-06-10 18:25] Conchylicultor commented on #653
Thanks for reporting. We're going to investigate.

[2019-06-11 06:26] joel-shor commented on #45
@tabshaikh Have you moved on from this?

[2019-06-11 06:27] joel-shor opened #659 "[data request] 128x128 openAI improved GAN imagenet"
* Name of dataset: Downsampled OpenAI Imagenet
* URL of dataset: Generated from this: https://github.com/openai/improved-gan/blob/master/imagenet/convert_imagenet_to_records.py
* License of dataset: Same as ImageNet
* Short description of dataset and use case(s): It's a 128x128 imagenet dataset used as benchmarks on a number of important GAN papers.

Folks who would also like to see this dataset i

[2019-06-11 06:55] alexwal commented on #493
How is the contribution process going, @sklan?

[2019-06-11 06:59] alexwal opened #660 "[data request] fastMRI"
* Name of dataset: fastMRI
* URL of dataset: http://fastmri.org/dataset
* License of dataset: No clue. "Interested scientists may apply for access to fastMRI data for the purposes of internal research or education only."
* Short description of dataset and use case(s): The anonymized imaging dataset provided by NYU Langone comprises raw k-space data from more than 1,500 fully sampled knee MRIs obta

[2019-06-11 12:38] LukeIreland1 commented on #127
Having this issue for a number of tfds datasets

[2019-06-11 16:13] Conchylicultor commented on #45
Has been added with https://github.com/tensorflow/datasets/pull/613. Closing this now

[2019-06-11 16:13] #45 closed

[2019-06-11 16:52] Conchylicultor opened #662 "[Design discussion] More flexible feature decoding / Better Keras&Hub compatibility"
We are working on making it easier to customize the feature decoding and make it easier to plug the dataset into existing Keras/tf.Hub model.

The current proposal and questions is available:

https://docs.google.com/document/d/117eomgl2bIqFkwud8eYI-aIaZAvYFDy3fYm-WfCLutA/edit#heading=h.x5946vtq57b5

We encourage everyone to participate and give their though on this, either by commenting on the do

[2019-06-11 16:55] Conchylicultor commented on #54
We started a public discussion on what design to have for this transform API: https://github.com/tensorflow/datasets/issues/662

Don't hesitate to share your thoughts on this

[2019-06-11 17:07] captain-pool commented on #275
@tarrade I think #663 should fix this. Give a Check

[2019-06-11 17:07] captain-pool commented on #275
cc: @Conchylicultor

[2019-06-11 17:12] remydubois opened #664 "Enable overlapping splits to build cross-validation datasets."
**Is your feature request related to a problem? Please describe.**

As of now, one is not allowed to build cross-validation datasets (i.e compose several train/val folds from an initial TRAIN split), because it is impossible to merge (or add) subsplits taken from a given split.
The core issue is that one can not build a split with a "hole" in it, and building a subsplit by "taking everything excep

[2019-06-11 17:22] tarrade commented on #653
@Conchylicultor the problem is gone with the nightly 1.0.2.dev201906110105. Closing

[2019-06-11 18:56] tarrade commented on #275
Hi @captain-pool, it seems the build failed, right ? https://source.cloud.google.com/results/invocations/e044b82b-65e9-4b34-9d5f-abd96aaba0a8/targets/tensorflow_datasets%2Fgh_testing%2Fpresubmit/log

I tested with 1.0.2.dev201906110105 but it is still failling with "bad handshake"

If the fix is already in 1.0.2.dev201906110105, then I will investiagte that I have all ca certificates in my file

[2019-06-11 21:15] captain-pool commented on #275
@tarrade it is failing because I'm using SSL Context which is supported from python 2.7.9, however, Kokoro is using python 2.7.8, which doesn't allow that. Let me find out an alternative, will fix it soon.
@Conchylicultor @rsepassi @vbardiovskyg @cyfra is it possible to upgrade Kokoro's configuration for python 2 to python 2.7.9 ?

[2019-06-12 00:31] cyfra commented on #275
@rsepassi  is the expert here, but from what I see it might not be that easy :-(
As we'd have to move from the "common" kokoro cluster/image to custom one (and pay the cost of managing it).

I see other places in our code, where we had to do workarounds in the past, to accommodate the fact that linux machines on kokoro use 2.7.8.

Would it make sense to have this feature "disabled" if running on o

[2019-06-12 01:01] Conchylicultor commented on #664
@pierrot0 is currently working on improving the API to allow this feature.

[2019-06-12 02:02] vmirly opened #665 "Splitting a dataset from tfds results in inaccurate partition sizes"
I am trying to split the iris dataset into train/test with 2/3 for training and 1/3 for testing. So, I used the percent as follows:

[code]

but this results in 117 samples for training and 33 for test which is not correct. It should be 100 for training and 50 for test. I also tried the subsplit as follows but got similar results:

[code]
this time, it gives me 116 train and 34 test samples. I hav

[2019-06-12 06:10] captain-pool commented on #275
Done :)
Disabling for python version <= 2.7.8 seemed like the only valid way out.
@tarrade after @cyfra verifies and merges, it should be ready :)

[2019-06-12 09:01] tarrade commented on #275
@captain-pool good idea to disabling for python version <= 2.7.8. I am quite new in this business how can I see in which build this fix was collected ? It is alread in  tfds-nightly==1.0.2.dev201906120105 or should I wait in the one from tomorrow ?

[2019-06-12 09:11] captain-pool commented on #275
You need to wait till it merges to master branch and you can get it in the
nightly build the next day.

Or if it is too urgent. You can clone it from my fork. Then cd into the
local repository and git checkout issue_275.
Finally:
1. "pip install ."
OR
2. "python setup.py install"

Any one of these will do the job :)

On Wed, 12 Jun 2019, 2:31 pm Dr. Fabien Tarrade, <notifications@github.com>
wrote

[2019-06-12 13:29] sklan commented on #493
I actually have been busy with some other stuff. If you need it I can get it done quickly.

[2019-06-12 15:43] Conchylicultor commented on #665
Thanks for reporting. This is a know issue due to the implementation which round the percent if the dataset number of example % 100 !=0.
We are currently in the process of updating this with a better implementation.

[2019-06-12 16:15] vmirly commented on #665
Ok, cool. That sounds great! 👍

For now, I figured I can load the entire data and then use `ds_train = ds.take(100)` and `ds_test = ds.skip(100)` to split it into train/test. Al

[2019-06-13 01:04] alexwal commented on #493
I may be able to do it if you don’t have time, just curious as I don’t want to be repeating work

[2019-06-13 01:21] jackshi0912 opened #669 "TensorSliceDataset object has no attribute {'make_initializable_iterator', 'output_shapes', 'make initializable_iterator'...}"
**Short description**
TensorSliceDataset is lacking a lot of attributes to make is usable ('make_initializable_iterator', 'output_shapes', 'make initializable_iterator'...).

**Environment information**
* Operating System: 18.04
* Python version: 3.6
* `tensorflow-datasets`/`tfds-nightly` version: tfds-nightly
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: tf-nightly-2.0-pr

[2019-06-13 01:35] sklan commented on #493
I haven't done any work feel free.

[2019-06-13 12:13] mjwise-hyx opened #671 "when I used tensorflow 2.0 I download the datasets but it can't work"
**Short description**
Description of the bug.

**Environment information**
* Operating System: <os>
* Python version: <version>
* `tensorflow-datasets`/`tfds-nightly` version: <package and version>
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: <package and version>

**Reproduction instructions**
![image](https://user-images.githubusercontent.com/42193551/59431512-ad09bf80-

[2019-06-13 15:21] Conchylicultor commented on #671
Could you copy the full stacktrace as text or in a gist ? Also please complete the environment information to help us debug

[2019-06-13 16:07] Conchylicultor commented on #665
Be careful with this as the data is not guarantee to be generated in the same order for the train set unless `as_dataset(shuffle_files=False)`. So you may end up with overlapping train/test sets

[2019-06-14 03:33] npuichigo opened #674 "Add options support for TFRecordWriter?"
Will tensorflow_datasets add support for setting custom options for TFRecordWriter?
For example, to control whether to compress the tfrecords.

[code]

[2019-06-14 10:27] NumesSanguis commented on #561
A question related to the original title:
How to use a dataset for training that **hasn't specified any supervised key**, such as the "nsynth" database?

(on colab): `ds_train, ds_test = tfds.load(name="nsynth", split=["train", "test"], batch_size=4, as_supervised=True, data_dir="gs://tfds-data/datasets")`

[code]

If you remove `as_supervised` and try to use: `model.fit_generator(ds_train.take(16

[2019-06-14 10:43] npuichigo opened #676 "Add multiprocessing support for tfrecord round-robin writer?"
I found that sometimes writing shared tfrecords is slow. Will tensorflow_datasets plans to enhance the round-robin writer function to support multiprocessing?

[2019-06-14 13:13] remydubois commented on #664
Awesome, any idea when this would be released ?

[2019-06-14 14:57] pierrot0 opened #677 "Sorted TFrecords writer for beam"
tfrecords_writer will eventually replace writer in file_format_adapater module (See S3 experiment, used in imagenet, mnist and cifar).
tfrecords_writer writes records in order (sorted by key), which enables the slicing API to be stable.

beam writer still writes round-robin fashion. We should have something equivalent to tfrecords_writer, to order a pcollection by key and write to tfrecords in tha

[2019-06-14 15:05] pierrot0 commented on #674
We could.
If anyone wants to look into this, please add support in tfrecords_writer, this will eventually replace file_format_adapater module equivalent part.

[2019-06-14 15:06] Conchylicultor commented on #674
Could you provide more info about your usecase ? Do you want this feature for all dataset, or for a specific one ?

[2019-06-14 15:09] pierrot0 commented on #676
Our recommended solution for large datasets is to use beam. You can run beam on a single machine and that's equivalent to multiprocessing, or on multiple machines, and that's distributed.

Current tfrecord round-robin writer is going away, to be replaced eventually by tfrecords_writer.
tfrecords_writer sorts records according to a key, and write in order of that sorting, across shards. This is don

[2019-06-14 15:28] Conchylicultor commented on #561
If so, you should not use `as_supervised =True` and the `ds` will return the original dict:

for ex in tfds.as_numpy(tfds.load(...)):
  ex['audio']
  print(ex.keys())  # Print the available fields

You can see the fields names which will be returned in the doc: https://www.tensorflow.org/datasets/datasets#nsynth

[2019-06-14 23:05] paultimothymooney opened #680 "[data request] UCI Breast Cancer Wisconsin"
* Name of dataset: UCI Breast Cancer Wisconsin
* URL of dataset: https://archive.ics.uci.edu/ml/datasets/Breast+Cancer+Wisconsin+(Diagnostic)
* License of dataset: CC BY-NC-SA
* Short description of dataset and use case(s): Features are computed from a digitized image of a fine needle aspirate (FNA) of a breast mass. They describe characteristics of the cell nuclei present in the image.  The label

[2019-06-14 23:06] paultimothymooney commented on #680
Note:

I hope to begin contributing to TensorFlow. At https://github.com/tensorflow/datasets/blob/master/CONTRIBUTING.md there is a statement that says "If this is your first time contributing, we'll send you an invitation on GitHub to be a contributor; you must accept this invitation here before we can assign you the issue." Unfortunately, however, when I click on the link (github.com/tensorflow/

[2019-06-15 20:59] tarrade commented on #653
Sorry, I was testing it on Ubuntu by mistake. The issue is still present on Mac OS even with the latested build 1.0.2.dev201906140105

[2019-06-16 00:45] vmirly commented on #665
Yes, thanks.
I reshuffle twice, once in the original version before splitting to train/test, and then in the train set after split. In the first shuffle, I reshuffle_each_iteration=False:

[code]

If I don't do that, repeating the train and test dataset will result in overlapped samples.

[2019-06-16 03:20] NumesSanguis commented on #561
A yes, but how do I pass them to `fit_generator` Keras / beginner style, not expert style (https://www.tensorflow.org/beta/tutorials/quickstart/beginner)?
It's not like a tupple works: `model.fit_generator((ds_train["audio"], ds_train["pitch"]), epochs=2)`

[2019-06-16 18:58] alanpurple opened #681 "unbalanced parenthesis at position 32"
**Short description**
Description of the bug.

error while loading imd_reviews

**Environment information**
* Operating System: Windows 10 x64
* Python version:  3.7.3 x64
* `tensorflow-datasets`/`tfds-nightly` version: 1.0.2
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version:  2.0.0-beta1

**Reproduction instructions**

[code]

**Link to logs**
If applicable, <link to gist with

[2019-06-17 01:07] NumesSanguis commented on #55
Example code:
[code]

[2019-06-17 02:57] npuichigo commented on #674
@Conchylicultor Maybe I want this feature for all datasets. Recently I added my own dataset to tensorflow_datasets, but found that the option of tf.io.TFRecordWriter is not exposed for compression. I think it's more flexible if people can have more control over the serialization and deserialization settings.

[2019-06-17 12:10] us commented on #680
Hey Paul, it's a good point for starting contribute. We will happy to help us.
You shouldn't wait to invitation for starting, after you say you want the task here, you can think you assigned to this project and you can write and send pr. Contributors will send you an invitation as soon as possible.

@cyfra @Conchylicultor @rsepassi please check it.

[2019-06-17 12:52] npuichigo commented on #676
@pierrot0 Thanks for your reply.

[2019-06-17 12:52] #676 closed

[2019-06-17 13:17] pierrot0 opened #686 "Read directly from archives on datasets with many records"
image/downsampled_imagenet.py extracts about 1M files in a single directory (11GiB).
Some file systems don't like having too many files within the same directory.
We should read from the archive directly (look at imagenet for an example).

Chanchal, since you added the downsampled_imagenet dataset, could you look into this please?

[2019-06-17 14:03] ChanchalKumarMaji commented on #686
Sure, I will like to work on this. Thanks.

[2019-06-18 01:05] Conchylicultor opened #689 "Better Sequence display in documentation"
Currently, the documentation pack the Sequence on a single line:

[code]

It would be nice that the sequence gets expanded, for better readability. Additionally, the `Sequence` should display the `FeatureConnector`, instead of the `TensorInfo`:

[code]

The solution may simply be to add a `__repr__` to `Sequence`, and remove the  `_additional_repr_info(self)` which seem never called.

[2019-06-18 01:32] us commented on #689
I want to work on this, you can assign me.

[2019-06-18 06:55] vidyabhandary opened #690 "'cityhash' for tfds-nightly fails to build on windows 64"
**Short description**
'cityhash' for tfds-nightly fails to build on windows 64 - with the following ERROR
Command line error D8021 : invalid numeric argument '/Wno-unused-value'

**Environment information**
* Operating System: Windows 10 64 bit Home edition with NVidia GPU
* Python version: 3.6.8
* `tensorflow-datasets`/`tfds-nightly` version: tfds_nightly=1.0.2.dev201906170105
* `tensorflow`/`ten

[2019-06-18 08:04] pierrot0 commented on #664
This is being progressively rolled-out (S3 experiment).
As soon as the dataset you are interested in has a version with S3, you should be able to use it.

My estimation is that by the end of the week we should have almost all image datasets except the ones using beam (https://github.com/tensorflow/datasets/pull/683). Other datasets and documentation will follow in upcoming weeks.

Example of usage

[2019-06-18 10:01] pierrot0 commented on #653
Thanks for reporting, I'll have a look.

[2019-06-18 10:11] tarrade commented on #275
I tested the latested build 1.0.2.dev201906180105 and I confirm that it is working with proxy and CA certificate.

Here my test and setup:
[code]

It is working for the following dataset:
[code]

I have some crashes when the dataset in is on AWS:

`tfds.load(name="fashion_mnist", split=tfds.Split.TRAIN)`

`requests.exceptions.ConnectionError: HTTPConnectionPool(host='fashion-mnist.s3-website.eu-ce

[2019-06-18 15:38] Conchylicultor commented on #689
Thank you @us

[2019-06-18 15:42] Conchylicultor commented on #689
@us Currently, the formatting is done with `_pprint_features_dict` https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/scripts/document_datasets.py#L312

[2019-06-18 15:45] us commented on #689
Thank you ! I will check it.

[2019-06-18 16:19] us commented on #690
You have encountered such a problem because the new s3 update on the tfds. This bug will be fixed as soon as possible.
You can continue to use by going old commit on git.

Please try that:
[code]

[2019-06-18 17:01] us commented on #689
Feature dict completely came on single line like that. Is that what you're talking about?

![Screen Shot 2019-06-18 at 7 59 02 PM](https://user-images.githubusercontent.com/22618852/59703953-b1611e80-9203-11e9-92f7-729eaf3e74ec.png)

[2019-06-18 17:31] Conchylicultor commented on #689
If you print(FeaturesDict), yes, however when you generate the doc, the `_pprint_features_dict` that I linked above will apply some special formating.

Maybe it's better to have this special indentation formatting directly inside `FeaturesDict.__repr__`. as it would make user `print()` more user friendly too.

[2019-06-18 20:40] remydubois commented on #664
Thank you very much for your detailed answered and your work,
I will definitely keep an eye out on the doc until this is completely rolled out.

[2019-06-18 21:51] tarrade commented on #275
of course, I need to add both:
[code]
and then everything is working fine.

All is working perfectly. Thanks @captain-pool . Closing

[2019-06-18 21:51] #275 closed

[2019-06-19 06:19] vidyabhandary commented on #690
Thanks @us. Unfortunately that did not work. I tried the checkout before that too - That too gave me the same error.

I added the following to my requirements.txt and ran the pip install

#tensorflow-datasets
#tfds-nightly
#git+https://github.com/tensorflow/datasets.git@389eeb6
git+https://github.com/tensorflow/datasets.git@cae2527

[2019-06-19 09:12] us commented on #690
If you checkout this commit, you shouldn't got error, because on this commit cityhash package is not using. Please check git logs and checkout 389eeb60b634aa86e5a83dddcede2f08254f007d.
I got same error and I checkout this commit so problem is solved.
[code]

[2019-06-19 13:58] vidyabhandary commented on #690
@us
It is puzzling why that checkout is working for you. Browsing through the git repo at that checkout - shows 'cityhash' as a required package.

https://github.com/tensorflow/datasets/blob/389eeb60b634aa86e5a83dddcede2f08254f007d/setup.py#L44

I commented out cityhash and did that install. Admittedly it is a hack but I can see the tensorflow datasets in my site-packages.

[2019-06-19 15:08] wesboyt opened #693 "Transformer Example fails while mapping dataset"
The transformer example which was updated to beta1 was working on alpha and is now failing.
AttributeError: 'str' object has no attribute 'numpy'
from:
tokenizer_en = tfds.features.text.SubwordTextEncoder.build_from_corpus(
    (en.numpy() for pt, en in train_examples), target_vocab_size=2**13)

tokenizer_pt = tfds.features.text.SubwordTextEncoder.build_from_corpus(
    (pt.numpy() for pt, en in t

[2019-06-19 15:32] Conchylicultor commented on #681
Thank you for fixing this. This should be fixed with https://github.com/tensorflow/datasets/commit/4d0e1447a8d1727c3cb6f9de491b3f648e885397

[2019-06-19 15:32] #681 closed

[2019-06-19 19:00] ludwigschubert commented on #121
@pierrot0 Is #650 the beginning of the big change you mentioned? I'd love to test this experiment on `imagenet:4.0.0`; are there docs/examples of how to use this new functionality for sharding a dataset across multiple machines? Thanks for your work on this!

[2019-06-19 19:06] Conchylicultor commented on #121
If you're using the nightly version, you could try `tfds.load('imagenet:4.0.0')` and it should generate/select the last version. The changes are mostly under the hood.

The new sub-split API is using string instead:
`tfds.load('imagenet:4.0.0', split='train[40%:]')`

We're gonna add doc, as it gets deployed on more dataset.

[2019-06-19 19:49] ludwigschubert commented on #121
@Conchylicultor thank you! I'll give this a try on nightly + looking forward to the release. :-)

[2019-06-19 21:19] us commented on #690
Because cityhash has just been added and it worked when I returned to the old code that haven't got cityhash package. But yes yours is an alternative tricky solution. I'm glad you solved the problem. This bug will be fixed as soon as possible.

[2019-06-20 16:25] pierrot0 commented on #690
Thank you for reporting Vdy!

We are looking at alternatives for cityhash to resolve this problem.

Would you mind trying to install the following libraries on your system and tell us if installation was successful?

1) pip install csiphash
2) pip install siphashc
3) pip install siphash

It would be nice if you could try the installation on py2 and py3 if you have both on your system.
To check the

[2019-06-20 16:27] pierrot0 commented on #653
Again, thank you for reporting Fabien!

We are looking at alternatives for cityhash to resolve this problem (simpler hash function with pure python implementation).

Would you mind trying to install the following libraries on your system and tell us if installation was successful?

1) pip install csiphash
2) pip install siphashc
3) pip install siphash

It would be nice if you could try the install

[2019-06-20 22:00] pierrot0 commented on #653
On macOS Mojave, I was able to install csiphash as it.
I was able to install siphashc after running `xcode-select --install`.

As for cityhash, pip fails building the extension with `use of undeclared identifier '_mm_crc32_u64'`.
`ARCHFLAGS="" pip install --user cityhash` solves the problem, but that's not the best user experience...

We could possibly change the setup.py to pass the correct flag,

[2019-06-20 22:04] tarrade commented on #653
Thanks @pierrot0 , I am reinstalling Xcode because it was an old version and I had trouble installing `siphashc`. I will come back to you when I am done with that but probably tomorrow.

[2019-06-20 22:23] pierrot0 commented on #121
Be aware that this is still considered experimental.
The hashing algorithm used to shuffle data is most probably going to be changed (cf issue #653), which will change the order of data (and set of examples returned when using slicing API).

There is no official documentation for this API yet, but https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/tfrecords_reader_test.py#

[2019-06-21 01:13] BacheryChan commented on #127
same error while loading cats_vs_dogs

`
AttributeError: 'GFile' object has no attribute 'seekable'
`

[2019-06-21 01:17] Conchylicultor commented on #127
For those having this issue, using the `tf-nightly` should fix the issue.

[2019-06-21 01:26] jkamalu opened #702 "tfds.features.text.SubwordTextEncoder unexpected behavior on 0"
### System information
- **Have I written custom code (as opposed to using a stock example script provided in TensorFlow)**: yes
- **OS Platform and Distribution (e.g., Linux Ubuntu 16.04)**: ubuntu 18.04
- **TensorFlow installed from (source or binary)**: source
- **TensorFlow version (use command below)**: 2.0.0-dev20190601
- **Python version**: 3.6
- **CUDA/cuDNN version**: NA
- **GPU model and

[2019-06-21 03:32] wesboyt commented on #693
Upon clearing out my datasets folder and reinstalling tfds I'm back to functional, seems like an issue on my end!

[2019-06-21 03:32] #693 closed

[2019-06-21 04:41] vidyabhandary commented on #690
Hi pierrot0,

I installed all three libraries and checked if the installation was fine using your instructions.
I get the correct hash for all three libraries.  I ran this in python 3. I do not have python 2 on my machine !

Cheers !

[2019-06-21 07:40] pierrot0 commented on #690
Thank you!

[2019-06-21 08:19] ChanchalKumarMaji commented on #686
[code]
I am getting this error.

[2019-06-21 09:18] pierrot0 commented on #580
It would make sense to be able to setup alternative checksums directories.
There are a few possible options:
 1- Search for `url_checksums` directories next to dataset definitions (maybe too much magic involved).
 2- Have an environment variable to specify additional checksums directories.
 3- Have a method to add additional checksum directories, which each dataset can use .

3 sounds nice to me.

[2019-06-21 09:20] pierrot0 commented on #580
jackd@ could you maybe re-open the issue?

[2019-06-21 16:33] jackd commented on #580
@pierrot0 have you tried the nightly version? I haven't looked into it since I resolved it for my use case, but from what I recall when I was looking into it checksums are handled very differently compared to the stable pip version, and I'm not sure it's still an issue.

[2019-06-21 20:02] tarrade commented on #653
I updating Xcode (this was tricky) and I can install the following without any issue:

[code]
I stilled did the installation as you suggested if this can help.

Then I can installed the following without any issues:
[code]

[code]
with python 2.7, I have have almost the same:
[code]
you only have a "L" on top at the end.

Conclusion: my issue with tfds-nightly was my version of Xcode. In fact when

[2019-06-21 20:02] tarrade commented on #653
@pierrot0 I will close this issue since everything is working. I will be happy to do test if you want, just ask me. Thanks

[2019-06-21 20:02] #653 closed

[2019-06-21 23:15] Conchylicultor commented on #702
Sorry for the confusion. I agree that the error message is confusing. Don't hesitate to send a PR to improve the reporting

[2019-06-22 13:02] rpmcruz commented on #282
I suggest the error message be fixed to say that "no checksum was specified" rather than "wrong checksum".

[2019-06-23 20:03] Suhasnama commented on #213
Hello ,
If this issue is still open for contributions I would like to contribute. Please let me know.
Thanks!!

[2019-06-24 13:01] pierrot0 opened #704 "Allow TFDS datasets defined outside TFDS"
A DatasetBuilder class can be defined outside TFDS (ie: not committed to tfds repository).
There might however be a few tricks, and those are not documented.

We should document the process of writing such dataset, and provide the necessary hooks.
For example, download_and_prepare needs checksums, which shouldn't have to be registered in TFDS (see issue #580). For that particular case, we could wr

[2019-06-27 09:17] Suhasnama commented on #213
Hello @ParthS007 @Conchylicultor  @razorx89 ,
I made a pull request #712 about this issue , please suggest me changes if any or did I miss anything please let me know.
Thank you all!!

[2019-06-27 11:46] #690 closed

[2019-06-28 20:50] hemildesai opened #717 "[data request] APTOS 2019 Blindness Detection"
* Name of dataset: APTOS 2019 Blindness Detection
* URL of dataset: https://www.kaggle.com/c/aptos2019-blindness-detection/data
* License of dataset: [Competition Use and Non-Commercial & Academic Research](https://www.kaggle.com/c/aptos2019-blindness-detection/rules)
* Short description of dataset and use case(s): A large set of retina images taken using fundus photography under a variety of imag

[2019-06-30 05:30] HanGuo97 opened #719 "`TokenTextEncoder.decode()` has wrong results when using pre-padding."
The error is caused by the `pad_decr()` at [this line](https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/features/text/text_encoder.py#L281). To reproduce the results:

[code]

Even though the correct outputs should have been `[0, 1, 2]`

[2019-06-30 16:46] jackd commented on #662
I can see the argument for allowing customizable decoding.

Everything else seems like a lot of effort to re-implement `Dataset.map` and sheild users from the (in my opinion, very straight-forward and intuitive) `tf.data` interface. For me, `tfds` is about downloading and serializing/deserializing datasets in a manner that is convenience, consistent and optimized for training in tensorflow. Data a

[2019-07-01 08:55] karanchahal opened #720 "How do I train my keras model using Tf Datasets"
**What I need help with / What I was wondering**
Im looking for a clear example to split the labels and examples into x_train and y_train/ x_test and y_test for the cifar100 dataset.

The keras model doesn't take in the tf datasets object into it's fit function.
**What I've tried so far**

[code]

**It would be nice if...**
I could get some way to convert the train_dt tensorflow dataset into somet

[2019-07-01 10:38] EmanueleGhelfi opened #721 "Dataset Versioning"
**What I need help with / What I was wondering**
How can I version a dataset?
tfds supports the version parameter `version=x.y.z` inside `tfds.core.DatasetInfo` but from the documentation it is not clear how to version a dataset.

I have a custom dataset, with the number of images gradually increasing. I have trained some models on a dataset version V1. After some time some images have been added

[2019-07-01 10:55] ChanchalKumarMaji commented on #721
You can use `BuilderConfig`.

[2019-07-01 11:58] EmanueleGhelfi commented on #721
Hi @ChanchalKumarMaji , How can I use BuilderConfig? Do I need to use it when I instantiate my dataset?
How can I manage versioning inside my dataset?

[2019-07-01 12:15] us commented on #721
Hey @EmanueleGhelfi you can check `DiabeticRetinopathyDetectionConfig`. For example on this dataset have different resolution versions and with `BuilderConfig` he set. You can separate versions of dataset by looking at it.

[2019-07-01 13:12] EmanueleGhelfi commented on #721
Hi @us , thank you! This is a smart way to manage versions. I think a similar examples could be added to the README or to the API doc.

[2019-07-01 16:01] us commented on #721
Yep @EmanueleGhelfi we think so and will add and if you want you can help us to docs. Thanks again :)

[2019-07-01 19:13] us commented on #720
Hey @karanchahal thank you for feedback.
You are right the documentation about keras would be great. I will write as soon as possible. Until then you can use this.
[code]

For more split information please check this [link](https://www.tensorflow.org/datasets/splits).

[2019-07-01 19:15] rsepassi commented on #720
Note that for the documentation, let's try to use in_memory=True and
as_supervised=True instead of batch_size=-1 and manually splitting the
features. That way I think you could pass the dataset directly to the Keras
model.fit method.

On Mon, Jul 1, 2019 at 12:13 PM us <notifications@github.com> wrote:

[2019-07-02 05:00] ChanchalKumarMaji commented on #720
Related issue #561.

[2019-07-02 06:39] EmanueleGhelfi commented on #721
Hi @us . I'm following your example. However, The unique config that is loaded in my dataset is the first.

[code]

My dataset uses the builder config in this way:

[code]

When I load my dataset in this way:

[code]

results in an `AssertionError` since the version loaded in the config is only the version specified in the first BuilderConfig. Do I need to specify the supported versions for each B

[2019-07-02 06:49] ChanchalKumarMaji commented on #721
By default when you use `tfds.load(my_dataset, ...)` it refers to the first BuilderConfig. To get others you have to do `tfds.load(my_dataset/config_name, ...)`

[2019-07-02 06:58] EmanueleGhelfi commented on #721
Thank you   @ChanchalKumarMaji . Can you explain the difference between config and version? A config can have multiple versions?

[2019-07-02 13:39] ChanchalKumarMaji commented on #721
`config` is used when the structure of different datasets are similar. Instead of rewriting similar codes over and over again we use BuilderConfigs.
Since, your dataset structures are similar, instead one contains more images than the other, so you can safely use config instead of writing similar codes for different versions.

[2019-07-03 07:16] pierrot0 opened #728 "Seepdup kokoro tests"
pytest-xdist might be useful here, to run tests in parallel.
S3 (auto sharding) should be useful to reduce the number of images big datasets need for tests.
Fake data might provide pictures which are more easily compressible.

[2019-07-03 15:16] pierrot0 commented on #728
https://github.com/tensorflow/datasets/blob/ac89b873ccfe3c13bca7e838e1275cfdf170d127/oss_scripts/oss_tests.sh#L41

[2019-07-03 15:24] #686 closed

[2019-07-03 15:51] pierrot0 commented on #721
Configs are here to define different "flavors" of a same dataset (for example: different picture sizes). But two configs of the same builder should return the same conceptual dataset.

In this case, it would be preferable to create a new Builder (it can inherit from the one you already have, to re-use code). We have for example OpenImagesV4. We might eventually have OpenImagesV5, ...

The document

[2019-07-03 17:23] kaushikacharya commented on #665
Related issue: https://github.com/tensorflow/datasets/issues/292

[2019-07-03 18:01] #665 closed

[2019-07-03 18:02] vmirly commented on #665
Thanks , I closed the issue then.

[2019-07-03 20:13] yupliu opened #733 "Trying to run the code and get an error message"
**Short description**
Description of the bug.

**Environment information**
* Operating System: <os>
* Python version: <version>
* `tensorflow-datasets`/`tfds-nightly` version: <package and version>
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: <package and version>

**Reproduction instructions**

[code]
mnist_example, = mnist_train.take(1)
image, label = mnist_example["ima

[2019-07-04 05:36] cyfra commented on #658
**TL;DR; slow. Would have to change tf_flowers to iterate over dataset instead of unpacking it.**

I've just checked - it does run, but very slow.

This is due to the fact, that we're unpacking whole tgz file into gs:// and it has couple thousand files. Each file creation takes a while (due to the nature of GS) and this is done single-threaded.

The solution would be to change the dataset, to iter

[2019-07-04 05:51] cyfra commented on #733
It might be TF related. Which tensorflow version are you using ?

You can also verify the code in the colab (that runs 1.14):
https://colab.research.google.com/github/tensorflow/datasets/blob/master/docs/overview.ipynb

[2019-07-04 06:20] EmanueleGhelfi commented on #721
Hi @pierrot0, in my understanding a new builder means a new dataset. Am I wrong? In this case I need to take care manually of versioning and in the case of multiple version I will end up with multiple datasets. I think that builder configs are an easier way. In my case the dataset is conceptually the same, the only thing that change is the number of images. In my case the version2 contains all the

[2019-07-04 07:35] pierrot0 commented on #721
Documentation available: https://github.com/tensorflow/datasets/blob/master/docs/datasets_versioning.md

You can use inheritance, and should be able to re-use most of the code.
Then I guess the question becomes: how many versions do you plan to have?

If you decide to use different builder configs, it might make it harder to introduce variations of those datasets. For example v1_with_size_z_y, ...

[2019-07-04 09:44] yupliu commented on #733
Hi -,

Thanks! Actually, I got the error message while I was running the notebook in the colab.

![2019-07-04_053550_1](https://user-images.githubusercontent.com/29743569/60657136-c3a3a500-9e1e-11e9-9f2e-aa8b61f28028.png)

[2019-07-04 10:25] pierrot0 opened #737 "S3 roll-out"
This is about rolling out the S3 (new sharding shuffling slicing mechanism).

Currently, the hash function being used is siphash, with csiphash library, which causes tests to crash on kokoro with py3 and tf13. We don't understand why at this point, and consider switching to md5 (slower - but faster than pure python implementation of siphash - but hey, at least it's guaranteed to work everywhere).

[2019-07-04 11:22] mjwillson opened #738 "[data request] CIFAR-10.1"
* Name of dataset: CIFAR-10.1
* URL of dataset: https://github.com/modestyachts/CIFAR-10.1
* License of dataset: their code: MIT, underlying TinyImages data: unspecified (?)
* Short description of dataset and use case(s):
**A new test set for CIFAR-10**. CIFAR-10.1 contains roughly 2,000 new test images that were sampled after multiple years of research on the original CIFAR-10 dataset. The data c

[2019-07-04 13:38] ChanchalKumarMaji commented on #733
@yupliu I just checked but didn't find any errors.

[2019-07-04 14:04] yupliu commented on #733
I don't know what happened but I tried several times in the Colab and got the same error message all the time.

[2019-07-04 14:20] yupliu commented on #733
I think the error message is caused by this line tf.enable_eager_execution(). Yesterday, when I ran it, I failed and got some wierd error.

I just tried again and it worked.  As long as tf.enable_eager_execution() is executed sucessfully the error message go away.

[2019-07-04 14:56] ChanchalKumarMaji commented on #733
`tf.enable_eager_execution()` must be executed at the start of the program.
Yes, I saw that if u do not execute `tf.enable_eager_execution()` you get the exact same error. Try restarting runtime and run again.

[2019-07-04 16:16] us commented on #733
Hey @yupliu,
Please check this [link](https://www.tensorflow.org/guide/eager) about eager execution.

If your problem is solved you can close this issue :)

[2019-07-04 17:20] yupliu commented on #733
Thanks!

[2019-07-04 17:20] #733 closed

[2019-07-04 23:14] ryzbaka commented on #681
How do I fix my installation of tensorflow?

[2019-07-05 07:24] cyfra commented on #654
Closing - due to lack of response and details. @Prakhar998 - please reopen this request (or create a new one) if needed.

[2019-07-05 07:24] #654 closed

[2019-07-05 07:25] cyfra commented on #633
Closing due to lack of details and the bug was not updated for a month.
@youngsonglin - please reopen or create a new one if needed.

[2019-07-05 07:25] #633 closed

[2019-07-05 17:55] ChanchalKumarMaji commented on #728
Terminal Log when `no error` occurs in tests - https://gist.github.com/ChanchalKumarMaji/844fd51fcbb050a7cd16196a658936df
Terminal Log when `some error` occurs in tests - https://gist.github.com/ChanchalKumarMaji/c5bf33fe5afe903ab85bc865ea6a91fe

Just check if this looks good or not, then I will create a PR. I think some trivial changes are required in this issue.

[2019-07-06 05:06] captain-pool opened #740 "Tensorflow Datasets Loading to GCS fails"
**Short description**
TFDS is failing while loading dataset on GCS.
For smaller datasets like MNIST, there's no error and the code just runs fine. however for bigger datasets like "Coco2014", "imagenet" and "Open Images v4", the process stops, and gives the following error in the JSON Response.

Error: 500 Backend Error. Error Uploading  to gs://bucket_name/path/to/store. Retrying Upload.

**Envir

[2019-07-06 05:44] cyfra commented on #740
Thanks for the bug report. As you've noticed: it might be corelated with dataset size or maybe number of files created.
The debugging it will take a while (as many people from the teams are on vacation).

The two workarounds I'd suggest are:
 - run the whole code locally, and then copy the results to GCS
 OR
 - if you're using scripts/download_and_prepare.py, you can specify the "extract_dir" to b

[2019-07-06 14:57] captain-pool opened #741 "Support for use image_label_folder for GCS buckets"
**Is your feature request related to a problem? Please describe.**
TFDS have this wonderful property where a dataset can be stored in a cloud bucket and loaded directly. However, `image_label_folder` cannot be loaded directly from GCS buckets. It says, `manual_dir` is missing certain files.

**Describe the solution you'd like**
manual_dir parameter of Download Config should support cloud buckets.

[2019-07-07 19:12] karanchahal commented on #720
Thank you :)

[2019-07-07 19:12] #720 closed

[2019-07-08 17:11] Conchylicultor commented on #681
@ryzbaka You can `pip install tfds-nightly`

[2019-07-08 18:36] Conchylicultor commented on #720
* You can use `as_supervised=True` kwargs to return an (image, label) tuple expected by keras
* For images, you would have in addition to cast/normalize the image to tf.float32, for this, you can use `tf.data.Dataset.map`.

[code]

[2019-07-10 06:58] AshuKV opened #752 "day2night"
* Name of dataset: <name>
* URL of dataset: <url>
* License of dataset: <license type>
* Short description of dataset and use case(s): <description>

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests to prioritize.

And if you'd like to contribute the dataset (thank you!), see our [guide to adding a dataset](https://g

[2019-07-10 12:04] us commented on #752
Can you give an information about dataset?

[2019-07-11 08:19] pierrot0 commented on #677
Let me add a few more details here.

We already have a pcollection given by the BeamBuilder. The BeamBuilder needs to be changed to return a pcollection of (key, record) tuples instead of record instances.

We need to count the number of elements and total size to compute the number of desired shards. We could be done with something like that:

[code]

We need to compute the hash(key) and maybe (s

[2019-07-11 08:20] pierrot0 commented on #677
Adding Recep. Guys, feel free to tackle this together. Again, this is an interesting issue for you to solve. Also, it is quite needed.

Thanks!

[2019-07-11 08:29] pierrot0 opened #758 "[data request] binary-mnist"
* Name of dataset: binary-mnist
* URL of dataset: https://github.com/yburda/iwae/blob/master/datasets/BinaryMNIST/README
* License of dataset: MIT
* Short description of dataset and use case(s): Starting with the MNIST dataset, a train-test-valid split was introduced, values were scaled to [0, 1], and pixels were then sampled as Bernoulli random variables from those values to produce this official

[2019-07-11 08:41] EmanueleGhelfi commented on #721
I think we can close the issue. Thanks for the help!

[2019-07-11 08:41] #721 closed

[2019-07-11 08:44] pierrot0 opened #759 "[data request] AVA"
* Name of dataset: AVA
* URL of dataset: https://research.google.com/ava/
* License of dataset: Attribution 4.0 International (CC BY 4.0)
* Short description of dataset and use case(s): The AVA dataset densely annotates 80 atomic visual actions in 430 15-minute movie clips, where actions are localized in space and time, resulting in 1.62M action labels with multiple labels per human occurring freq

[2019-07-11 08:44] pierrot0 commented on #759
This probably requires the use of beam.

[2019-07-11 09:08] pierrot0 commented on #664
Closing, you can follow rollout of new api on issue #737.

[2019-07-11 09:08] #664 closed

[2019-07-11 09:10] pierrot0 commented on #638
Implemented in image/kitti.py

[2019-07-11 09:10] #638 closed

[2019-07-11 10:03] pierrot0 commented on #737
Recep, Chanchal, if you have time, please do not hesitate to make new versions with S3 support for DatasetBuilder classes which don't have that already. It should be doable for all builders, and beam ones once #677 is fixed.

[2019-07-11 16:51] us commented on #631
I download `public.dm.files.1drv.com` link with wget. Please check this [link](https://public.dm.files.1drv.com/y4mSB3ExPYvRfpcX--fqdrdx5hAoKvVJ_xRjlpZlP2CAa2etDRR9N3r4xxuW_SyBSEkYvvPe2RUpr1RTvWoeOuI3ZnDT7hnaJLtxrKm88_CJ6FMK2tu1_9bOEo3T6A_AXc1TBavYfsDmwatqp8FgpK-2MOfTasSF3N5au2Q8B3cCubsA8NnMe7Lt56hW1g-Yd_SgruI-b0jFJgNQAlW6clPeg/NWPU-RESISC45.rar?access_token=EwAQA61DBAAUcSSzoTJJsy%2bXrnQXgAKO5cj4y

[2019-07-11 18:42] Conchylicultor commented on #631
I get `This public.dm.files.1drv.com page can’t be found` when clicking on [your link](https://public.dm.files.1drv.com/y4mSB3ExPYvRfpcX--fqdrdx5hAoKvVJ_xRjlpZlP2CAa2etDRR9N3r4xxuW_SyBSEkYvvPe2RUpr1RTvWoeOuI3ZnDT7hnaJLtxrKm88_CJ6FMK2tu1_9bOEo3T6A_AXc1TBavYfsDmwatqp8FgpK-2MOfTasSF3N5au2Q8B3cCubsA8NnMe7Lt56hW1g-Yd_SgruI-b0jFJgNQAlW6clPeg/NWPU-RESISC45.rar?access_token=EwAQA61DBAAUcSSzoTJJsy%2bXrnQXg

[2019-07-12 00:21] Conchylicultor opened #765 "ucf101 is failing for Python 3 and TF 1.13"
Since yesterday, Kokoro continous tests show this dataset as failing for Python 3 and TF 1.13.
The error message isn't particularly explicit so not clear what is the issue.

[code]

[2019-07-14 08:33] edwinZeng opened #769 "download mnist using python 3.7.4"
when i try to download the mnist using the below commands:

[code]

**Environment information**
* Operating System: Win10
* Python version: 3.7.4
* `tensorflow-datasets`/`tfds-nightly` version: 1.0.2
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: 1.14.0

Thank you.

[2019-07-14 09:02] praveenjune17 commented on #142
I have collected 370,000 lines of english_tamil parallel text for training Machine translation models,  I would like to contribute this to tfds. Please add me to the list @rsepassi @cyfra . Please find the attachement explaining the dataset splits (train, validation and test)
[dataset_info.txt](https://github.com/tensorflow/datasets/files/3389650/dataset_info.txt)

[2019-07-14 12:49] praveenjune17 opened #770 "[data request] en_tam_parallel_text"
* Name of dataset: en_tam_parallel_text
* URL 1 of dataset: http://ufal.mff.cuni.cz/~ramasamy/parallel/html/
* URL 2 of dataset: http://opus.nlpl.eu/
* URL 3 of dataset: https://github.com/joshua-decoder/indian-parallel-corpora
* Licenses of the datasets: CC (creative commons), Unknown and CC
* Short description of dataset and use case(s): These datasets are collection of english and tamil paralle

[2019-07-14 13:15] ChanchalKumarMaji commented on #769
What are u wanting to do ?
Can u try `tfds.load('mnist')`.

[2019-07-14 13:16] nok commented on #765
JFIY, yesterday I cloned the repository (commit id 501ce7c) and ran your mentioned test successfully.

My environment:
- macOS 10.14.5
- Python 3.5.6
- TF CPU 1.13.1 (1.13.0 isn't provided as pre built for Python 3.5)

Nevertheless in other tests I ran in `tensorflow.python.framework.errors_impl.ResourceExhaustedError` exceptions, but that isn't subject of this issue.

[2019-07-14 13:30] ChanchalKumarMaji commented on #434
@us did u start anything on it.

[2019-07-14 20:20] Conchylicultor commented on #765
Yes, it may be a bug from Kokoro and pytest when running in parallel.

[2019-07-15 01:53] githubWangHC commented on #356
if we ignore them, the tf train speed will slow?

[2019-07-15 20:54] us commented on #434
@ChanchalKumarMaji not yet but I'll start this week.

[2019-07-17 12:25] us commented on #704
I'm starting to work on it!

[2019-07-17 13:02] us commented on #769
Thank you for reporting, I have send pr for this bug.

[2019-07-17 15:34] Conchylicultor commented on #689
Fixed. Thanks for implementing this

[2019-07-17 15:34] #689 closed

[2019-07-18 06:40] edwinZeng commented on #769
Hi, us:

     Roughly when this bug fix would be available to download?
     Thank you.

Edwin

[2019-07-18 18:37] Conchylicultor commented on #769
Is mnist the only dataset failing or does every dataset are failing ? Could you try to clone the repository and test with us solution to see if this solve your issue ?

[2019-07-18 18:51] Conchylicultor commented on #769
Could you also try to test with `tfds-nightly` ? (pip install tfds-nightly).
Additionally is the issue only appearing for Py3 or Py2 too ?

[2019-07-20 17:37] craffel opened #797 "Loading "super_glue/copa" fails"
**Short description**
The following:
[code]
fails on Google Cloud with the error
[code]

**Environment information**
* Operating System: Debian GNU/Linux 9.9 on GCloud VM
* Python version: 3.7.4
* `tensorflow-datasets`/`tfds-nightly` version: Cloned from GitHub.
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: 1.14.0

**Reproduction instructions**

[code]

**Link to logs**

[

[2019-07-20 17:48] craffel commented on #797
The file at
http://storage.googleapis.com/tfds-data/dataset_info/super_glue/copa/0.0.2/label.labels.txt
is out-of-date. This commit: https://github.com/tensorflow/datasets/commit/bd4dcb3770950edecbe423d3470880664047fe5b#diff-d1805548908d5fc91f4336f075fc77cc changed the `label_names` to `["choice1", "choice2"]` but the file label.labels.txt file still lists them as "False" and "True". Can the label

[2019-07-21 18:54] us commented on #797
@craffel Thanks for reporting!

@Conchylicultor I think we need to pre-computing this dataset for gcs.

[2019-07-22 07:36] craymichael commented on #704
Yes to this! Currently, I've used the following nasty lines to mitigate this issue

[code]

Getting to testing to work properly (e.g. `fake_examples` data) was equally not great.

[2019-07-22 15:46] Conchylicultor commented on #797
I deleted the GCS files so which should fix the issue. They will be automatically re-generated with the right values today.

[2019-07-22 15:47] Conchylicultor commented on #797
I deleted the GCS files so which should fix the issue. They will be automatically re-generated with the right values today.

[2019-07-22 16:30] Conchylicultor commented on #797
I deleted the GCS files so which should fix the issue. They will be automatically re-generated with the right values today.

[2019-07-22 16:30] #797 closed

[2019-07-22 16:37] craffel commented on #797
http://storage.googleapis.com/tfds-data/dataset_info/super_glue/ does not exist yet. Any way to monitor when it will be regenerated?

[2019-07-22 16:42] Conchylicultor commented on #797
Dataset should works anyway no ? It's just that external users will regenerate the dataset_info.json themselves instead of pre-loading it.
Otherwise, our auto-gen script run at noon today.

[2019-07-22 16:56] craffel commented on #797
Since the info json doesn't exist, the splits don't get populated, so not really.

https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/dataset_builder.py#L183

[2019-07-22 16:59] Conchylicultor commented on #797
Oh, because you already generated the dataset. Once the dataset is generated, it load from `data_dir` anyway, not GCS.
Regenerating the data should works

[2019-07-22 20:16] textninja opened #800 "Can't download IMDB dataset from Microsoft Windows"
**Short description**
Attempts to download the IMDB dataset from a Windows 7 machine result in "unmatched parenthesis" errors and a failed download.

**Environment information**
* Operating System: Windows 7
* Python version: 3.6.2
* `tensorflow-datasets`/`tfds-nightly` version: tensorflow_datasets-1.0.2
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: tensorflow-gpu 2.0.0-be

[2019-07-22 22:31] HuzuniV2 opened #802 "TF 2.0 AttributeError: module 'tensorflow._api.v2.autograph.experimental' has no attribute 'do_not_convert'"
**Short description**
Its not possible to import tensorflow_datasets using Tensorflow 2.0.
This error appears every time: `AttributeError: module 'tensorflow._api.v2.autograph.experimental' has no attribute 'do_not_convert'`

**Environment information**
* Operating System: `win10` and `Ubunto 18`
* Python version: `3.6.8`
* `tensorflow-datasets`/`tfds-nightly` version: `tensorflow-datasets-1.1.0`

[2019-07-23 01:07] us commented on #802
Thanks for reporting! Can you check with `Tensorflow 2.0.0-beta1` version.

[2019-07-23 01:08] us commented on #800
Thanks for reporting !

I will check it as soon as possible.

[2019-07-23 01:23] Conchylicultor commented on #800
I think this was fixed with https://github.com/tensorflow/datasets/commit/4d0e1447a8d1727c3cb6f9de491b3f648e885397#diff-87c0e6b8597b399f0fd68dc0ab44a07d

I've just updated tfds to 1.1.0, try a pip upgrade and it should works.

[2019-07-23 15:36] HuzuniV2 commented on #802
That does solve the issue yes. Much appreciated.

[2019-07-23 15:36] #802 closed

[2019-07-23 17:14] textninja commented on #800
You're absolutely right, my mistake - this issue is only present in my outdated version of tensorflow_datasets, which I've since updated. Thanks for responding so quickly.

[2019-07-24 07:14] Yisiheng opened #807 "Cannot download all datasets except mnist using command tfds.load()."
**when I try to download the cifar10 using the below commands:
’‘’input:‘’‘
import tensorflow as tf
import tensorflow_datasets as tfds
data1=tfds.load('cifar10')

’‘’result:‘’‘
E0724 13:57:10.078672  1204 registered.py:171] Failed to construct dataset cifar10
Traceback (most recent call last):

  File "<ipython-input-15-157aebdffff9>", line 1, in <module>
    data1=tfds.load('cifar10')

  File "C:

[2019-07-24 11:31] us commented on #807
gcs server refuses your connection. Did you send too many requests in short period of time?

Try again in some time or change the ip and try again.

If error still continue please report again.

[2019-07-24 14:56] Yisiheng commented on #807
I didn’t sent too many requests in short period of time.
I wonder if that’s reason that the network link is unstable, because I’m in China.

[2019-07-24 17:20] us commented on #807
TFDS gave an error while retrieving `gcs_file` from `storage.googleapis.com`. The problem is not related to the `Cifar 10` dataset. TFDS retrieves some saved information about the dataset from the GCS.
Maybe China or your internet provider may have blocked access because of some special reasons. You can use a VPN to passing that problem.

[2019-07-24 23:59] lgeiger commented on #248
@frthjf I agree, that would be great to have. @captain-pool Did you find time to look into fixing this issue?

[2019-07-25 00:38] Yisiheng commented on #807
thank you for your resolution. I use a VPN ,then download dataset, error report follow,
'''input:'''
Data=tfds.load('cifar10')
'''result:'''
Downloading and preparing dataset cifar10 (162.17 MiB) to C:\Users\Administrator\tensorflow_datasets\cifar10\1.0.2...
HBox(children=(IntProgress(value=1, bar_style='info', description='Dl Completed...', max=1, style=ProgressStyl…
HBox(children=(IntProgress(va

[2019-07-25 02:40] Conchylicultor commented on #807
Yes, the GCS seems to be the issue. You can try to hack the code to disable the GCS

[code]

Hopefully this should works. We should probably add an option so user can choose to disable GCS

[2019-07-25 05:41] Yisiheng commented on #807
emmmm,the way is impracticable.And I

emmmm,the way is impracticable. I follow your instructions, but have still error. I'm mental breakdown.
'''
'''input:'''
from tensorflow_datasets.core.utils import gcs_utils
gcs_utils.gcs_dataset_info_files = lambda *args, **kwargs: None
gcs_utils.is_dataset_on_gcs = lambda *args, **kwargs: False

tfds.load('cifar10')
'''result:'''

Downloading and preparing d

[2019-07-25 08:51] us commented on #807
You closed the `gcs dataset info` files but you should give a path of downloaded dataset.
``` data_dir: str (optional), directory to read/write data. Defaults datasets are stored.```

Usage:
`tfds.load('cifar10', data_dir='path/of/dataset')`

[2019-07-25 11:27] SuperElectric opened #811 "[data request] Lyft Level 5"
* Name of dataset: Lyft Level 5 AV Dataset 2019
* URL of dataset: https://level5.lyft.com/dataset/
* License of dataset: Creative Commons Attribution-ShareAlike 4.0 International
* Short description of dataset and use case(s): Synced LIDAR and camera data from Lyft's autonomous vehicle research platforms. Also includes semantic maps.

Uses the [NuScenes data format](https://github.com/lyft/nuscene

[2019-07-25 12:23] 183amir opened #812 "EMNIST/MNIST images are transposed"
**Short description**
Looks like the images in the emnist dataset are transposed.

**Environment information**
* Operating System: Linux
* Python version: 3.6
* `tensorflow-datasets`/`tfds-nightly` version: tensorflow-datasets 1.0.2
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: tensorflow-gpu 1.14.0

**Reproduction instructions**
Please see images:
![emnist_1](https://user

[2019-07-25 15:33] Conchylicultor commented on #807
It seems that you have an issue with your connection. `dl_manager.download_and_extract` fails because it does not find the file.
Can you access https://www.cs.toronto.edu/~kriz/cifar-10-binary.tar.gz without TFDS ?

[2019-07-25 15:46] Conchylicultor commented on #812
Our EMNIST processing use the exact same code as for Mnist (inherit from Mnist and reuse `_generate_examples`). https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/image/mnist.py#L265
Is it possible that the original data is transposed ? Are all digit like this or only a few ? Are the other emnist/configs transposed ?

[2019-07-25 16:29] 183amir commented on #812
They are all like this.

I did not check.

[2019-07-25 18:59] us commented on #807
He can download `cifar10` directly, so I offered `data_dir` option. About `try_gcs`, I will send it because he get an error when downloading pre-processed file on GCS at the beginning. Isn't it same job with your offered code?
[code]

[2019-07-26 03:01] 20zinnm commented on #769
I am having this issue on Windows with Python 3.6. More env details:

[code]

I am trying to add the Fruits 360 dataset but this is happening anytime I try to download a dataset.

[2019-07-26 09:25] Yisiheng commented on #807
@us the way also was unpractical, I guess that problem is caused by my connection. I try to connect by better vpn.
tfds.load('cifar10', data_dir='path/of/dataset', try_gcs=False)

[2019-07-26 09:29] Yisiheng commented on #807
@Conchylicultor  maybe, however I'm in China, the special issue feel unwell. I will try use better vpn to build connection.

[2019-07-26 22:55] 20zinnm commented on #800
Can this issue be closed? @textninja

[2019-07-26 23:48] #800 closed

[2019-07-27 00:26] 20zinnm commented on #769
Here's the stack trace in case it helps:

[code]

[2019-07-27 00:54] 20zinnm commented on #769
I've tried different versions of Tensorflow/Python and nothing seems to work. I've also moved the project to be on the same hard drive in case that was the issue. I'm at a complete loss here. I suspect it's an issue with tensorflow proper, so I'm going to open up an issue there, since I can reproduce the error outside of tfds.

[2019-07-27 03:07] 20zinnm commented on #769
Thank God for Microsoft in their infinite wisdom. This issue is because Windows by default does not allow filenames larger than 260 characters. See https://www.howtogeek.com/266621/how-to-make-windows-10-accept-file-paths-over-260-characters/ to resolve it @edwinZeng.

This issue can be closed if this works.

[2019-07-27 18:12] 20zinnm opened #817 "Unit testing does not work on Windows"
**Short description**
Windows does not have a method `os.chown` but the unit tests set the side effect of attributes without checking whether they exist. See: https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/testing/dataset_builder_testing.py#L156

This results in an error like:
[code]

**Environment information**
* Operating System: **Windows 10**
* Python version: 3.6.8
* `

[2019-07-27 18:26] 20zinnm commented on #817
I solved this issue but more keep popping up--seems like unit testing is a mess on Windows and I'm not too familiar with abseil. If somebody else wouldn't mind looking into this, that'd be appreciated.

[2019-07-28 04:40] #770 closed

[2019-07-28 10:17] us opened #819 "Error in zip file created with `shutil`."
**Short description**
Error when extracting zip file. When zip file created with shutil,
`		shutil.make_archive(folder_path, 'zip', folder_path)
`, it'll given error. But other original `cats_vs_dogs.zip` test file not given error.

**Environment information**
* Operating System: osx
* Python version: <version>
* `tensorflow-datasets`/`tfds-nightly` version: `tensorflow-datasets==1.0.2`
* `tensorf

[2019-07-28 10:37] #819 closed

[2019-07-28 16:34] 20zinnm commented on #817
For now, I'm using a Docker container to do unit testing. I'm going to leave this issue open since ideally unit tests should work regardless of platform.

One possible solution would be to only inject the side-effect for functions present in the `os` package on the local machine, since by definition a call to `chown` from Windows will err anyways. It makes sense to me to only permit functions that

[2019-07-28 23:56] kyleabeauchamp commented on #356
I also am experiencing this issue.  The warnings are pretty verbose and block meaningful monitoring of jobs.

[2019-07-28 23:56] kyleabeauchamp commented on #356
I'm using python 3.7 and tf2.0 nightly

[2019-07-29 23:08] iruvdonuts opened #823 "[data request] Chexpert Dataset Support for Large Dataset as Well"
* Name of dataset: CheXpert
* URL of dataset: https://stanfordmlgroup.github.io/competitions/chexpert/
* License of dataset: Their License
* Short description of dataset and use case(s): Chexpert only works with the small version of the dataset, support for the large one would be nice as well

[2019-07-30 11:00] us commented on #758
@Conchylicultor @cyfra I think it can be closed.

[2019-07-30 11:13] us commented on #817
Thanks for reporting! We'll look.

We need to add windows to kokoro. If you know any windows script, you can help us to add  equivalent windows .bat files for these:
[code]

[2019-07-30 15:14] #758 closed

[2019-07-30 15:17] #312 closed

[2019-07-30 15:25] cyfra commented on #20
SNLI was added in #679

Thanks @ParthS007 for your commit.

[2019-07-30 15:25] #20 closed

[2019-07-30 17:48] bionicles opened #827 "CLEVR dataset is missing the questions"
**Short description**
CLEVR is a Visual Question Answering dataset but the questions are missing, so user needs to jump through a bunch of hoops to download and parse them

**Environment information**
* Operating System: linux
* Python version: 3.6.8
* `tensorflow-datasets`/`tfds-nightly` version: 1.1
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: gpu 2b1

**Reproduction in

[2019-07-30 17:48] bionicles commented on #827
https://cs.stanford.edu/people/jcjohns/clevr/

[2019-07-30 23:25] Conchylicultor commented on #827
I confirm only images are present currently. It should probably be easy to add a `'question': tfds.features.Text()` field in: https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/image/clevr.py

[2019-07-31 08:19] us opened #829 "Requirements.txt"
**Is your feature request related to a problem? Please describe.**
When installing tfds for testing, using api, `python setup.py install` given error because of dependencies.
**Describe the solution you'd like**
`requirements.txt` solve the problem.

[2019-07-31 12:03] guillaumelorre28 opened #831 "STL10"
* Name of dataset: STL10
* URL of dataset: https://cs.stanford.edu/~acoates/stl10/
* License of dataset: <license type>
* Short description of dataset and use case(s):
Dataset used for unsupervised or semi-supervised learning on images.
96x96 images with 10 classes (airplane, bird, car, cat, deer, dog, horse, monkey, ship, truck)

500 training images (10 pre-defined folds), 800 test images per cla

[2019-07-31 16:50] Conchylicultor commented on #829
Can you detail the error that you get when running `python setup.py install` ?
Currently the dependencies are hardcoded in the `setup.py` file, because not all dependencies are always required (ex: some are only required for tests, or for specific dataset). How would this works with `requirements.txt` ?

[2019-07-31 19:00] captain-pool opened #832 "TFDS Fails in distributed environment"
**Short description**
TFDS fails in distributed environment. It raises a gRPC error when tried with
`dataset = strategy.experimental_distribute_dataset(dataset)`

**Environment information**
* Operating System:
* Python version: 3.5
* `tensorflow-datasets`/`tfds-nightly` version: 1.1.0.dev201907310105
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: 1.14

**Reproduction instr

[2019-07-31 21:53] Conchylicultor commented on #832
This seems to be a duplicate of https://github.com/tensorflow/tensorflow/issues/31138

The Colab TF version isn't updated every day, so you may have to wait before the fix get deployed.

[2019-08-01 22:55] lgeiger commented on #638
Thanks for adding KITTI.

@pierrot0 @rsepassi Are there any plans for adding the [KITTI depth estimation dataset](http://www.cvlibs.net/datasets/kitti/eval_depth.php?benchmark=depth_prediction) dataset as well?

[2019-08-01 23:01] guptapriya commented on #832
I think currently we require placing the dataset inside a tf.device scope to work correctly with TPUs in TF 2.0. Can you try this:

[code]

cc @jhseu - is there an example we can link here?

[2019-08-01 23:07] captain-pool commented on #832
Not working for me. I tried this before submitting the issue. Or are you
asking to use this and ommit `strategy.experimental_distribute_dataset()`?

On Fri, 2 Aug 2019, 4:31 am guptapriya, <notifications@github.com> wrote:

[2019-08-01 23:13] rxsang commented on #832
Can you wrap all your code after "strategy = tf.distribute.experimental.TPUStrategy(cluster_resolver)" inside with tf.device("/job:worker")? Or possibly tf.device("/task:1") if the previous device placement doesn't work?

[2019-08-01 23:18] rxsang commented on #832
BTW, can you run "tf.config.experimental_list_devices()" to see what are your current devices?

[2019-08-01 23:56] lgeiger opened #838 "[data request] NYU Depth Dataset V2"
* Name of dataset: NYU Depth Dataset V2
* URL of dataset: https://cs.nyu.edu/~silberman/datasets/nyu_depth_v2.html
* License of dataset: unknown
* Short description of dataset and use case(s):
  The NYU-Depth V2 data set is comprised of video sequences from a variety of indoor scenes as recorded by both the RGB and Depth cameras from the Microsoft Kinect. It features:
  - 1449 densely labeled pair

[2019-08-02 10:17] #9 closed

[2019-08-02 12:24] lgeiger opened #840 "[data request] KITTI depth estimation dataset"
* Name of dataset: KITTI depth estimation dataset
* URL of dataset: http://www.cvlibs.net/datasets/kitti/eval_depth.php?benchmark=depth_prediction
* License of dataset: CC-BY-NC-SA 3.0
* Short description of dataset and use case(s): Real-world stereo imagery recorded from a car, with depth maps.

The KITTI dataset was added in #638. It would be great addition to add depth map labels to  `tensorflo

[2019-08-02 14:19] RJT1990 commented on #538
Hey - sorry to reopen this, would it be possible to get it documented explicitly what the expected file folder structure is supposed to be? (downloads and 2.0.1 ?)

This is what I am calling:

`ds_test = tfds.load(name="imagenet2012", split="validation", data_dir='.data', download=True)`

I am trying to:
- Get the ImageNet files (validation and test tars) from a S3 bucket to my instance in the exp

[2019-08-02 19:04] Conchylicultor commented on #812
By searching on the internet, it seems that this is how the data is provided: https://stackoverflow.com/questions/48532761/letters-in-emnist-training-dataset-are-rotated-and-little-vague

We try to provide the data as the original datasets author provided it, and let users apply the post processing they want. So I don't think we want to fix this unless emnist provide a new version.
You could use h

[2019-08-02 20:54] Conchylicultor commented on #704
@craymichael for the fake data, you can set-up your own custom dir using `EXAMPLE_DIR`. It didn't worked for you ?

[code]

@us Thanks for adding this. if you have time, could you create a new section [after this]( https://www.tensorflow.org/datasets/add_dataset#adding_the_dataset_to_tensorflowdatasets) `Adding the dataset outside tensorflow/datasets` detailing the steps required to define a datas

[2019-08-02 21:13] Conchylicultor commented on #538
The structure should be:

[code]

I agree that using the original filenames would be simpler. We are adding the hash as the download folder may contains downloads from multiple datasets, we want to avoid collision between file names.

----------------------------------

But if you have your data already generated in `~/tensorflow_datasets/imagenet2012/3.0.0`, can't you just copy the preprocessed f

[2019-08-03 07:48] 183amir commented on #812
Maybe we can document it to avoid the confusion?

[2019-08-03 15:44] 20zinnm opened #844 "Kaggle silently compresses some archives"
**Short description**
Kaggle seems to silently compress large files which causes errors when trying to access the downloaded files at the paths given by the download manager.

**Environment information**
* Operating System: Windows 10
* Python version: 3.6.8
* `tensorflow-datasets` version: 1.1.0
* `tensorflow-gpu` version: 2.0.0-beta1

**Reproduction instructions**

Join the Severstal Steel Defec

[2019-08-03 15:46] 20zinnm commented on #844
This behavior is inconsistent, too--Kaggle CLI does not compress some files. Also, when running `kaggle competitions download -c severstal-steel-defect-detection` from the command line, it properly identifies the file as `train.csv.zip`.

[2019-08-03 19:36] craymichael commented on #704
@Conchylicultor Yes, that is what I ended up doing, but for some reason I thought the test utilities would create the directory/data for me as a subset of the original data based on the dummy parameters I utilized. I think at the time of writing I was more confused as to why `DL_EXTRACT_RESULT` was necessary

[2019-08-04 20:12] 20zinnm commented on #769
It appears I was wrong. The error I reported is separate from the odd-length string issue. This error is due to Git changing the line endings of files on Windows.

[2019-08-04 20:22] 20zinnm commented on #817
@us I don't know Windows batch scripts, but could we not just install Cygwin on Kokoro to run the Bash scripts?

[2019-08-05 08:42] npuichigo opened #849 "Enhance supervised keys."
I found that supervised_keys is required to be a tuple of (input_key, target_key) when used, but in common case, we have several inputs and maybe several outputs, where supervised_keys cannot be used.

In addition, if we leave supervised_keys=False, then use the output dataset with tf.estimator is not natural because estimator requires model_fn to have features and labels as parameters, but labels

[2019-08-05 16:02] Conchylicultor commented on #849
You do not have to provide label with tf.estimator. Why not directly return the dict ?

[code]

[2019-08-05 16:34] Ouwen opened #853 "NIH Deep Lesion Dataset"
* Name of dataset: NIH Deep Lesion Dataset
* URL of dataset: https://www.nih.gov/news-events/news-releases/nih-clinical-center-releases-dataset-32000-ct-images
* License of dataset: Unknown
* Short description of dataset and use case(s): The National Institutes of Health’s Clinical Center has made a large-scale dataset of CT images publicly available to help the scientific community improve detect

[2019-08-05 16:35] Ouwen commented on #853
@jason-zl190

[2019-08-05 16:39] jason-zl190 commented on #853
Working on it!

[2019-08-05 17:00] suyashkumar commented on #853
For reference, here's the download URLs of the 56 4GB zip files: https://nihcc.app.box.com/v/DeepLesion/file/316932195591 they all contain PNGs. Would be happy to assist with this!

See also: the code @Ouwen and I used at Gradient Health to populate our cloud bucket https://github.com/suyashkumar/deeplesion-gcp-loader

[2019-08-05 19:28] lgeiger opened #854 "[data request] DIODE Dataset"
* Name of dataset: DIODE
* URL of dataset: https://diode-dataset.org/
* License of dataset: unknown
* Short description of dataset and use case(s): DIODE (Dense Indoor/Outdoor DEpth) is a dataset that contains diverse high-resolution color images with accurate, dense, and far-range depth measurements. DIODE is the first public dataset to include RGBD images of indoor and outdoor scenes obtained wi

[2019-08-05 21:10] 20zinnm opened #856 "Parallel shard writer"
Currently, we write all shards sequentially to disk when creating TFRecord files from a downloaded dataset. This makes it very slow for datasets like `quickdraw_bitmap`, which is only ~36GB to download but takes my work system (on a HPC cluster) about 14 hours to fully prepare (at 1000 records/second).

Could `_TFRecordWriter` (https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets

[2019-08-06 02:41] npuichigo commented on #849
It's okay that we simply unpack the returned dict and get the labels we want, but I think it doesn't fit estimator's signature well, in which case it's better to separate the raw dict into a feature and a label dict.

Although we can construct the model_fn like what you provide,  I think it's dataset's duty to prepare the inputs and outputs set.

[2019-08-06 10:16] pierrot0 commented on #638
Hi Lukas,

At the moment we don't have such plans.
Could you maybe create a new github issue for KITTI depth estimation dataset?
I don't think we will have time soon for that dataset, but at least it's tracked and a contributor might decide to tackle it.

Thanks

[2019-08-06 10:19] lgeiger commented on #638
Thanks for the info. I added a new issue: #840

[2019-08-06 11:48] 20zinnm commented on #856
Hm, it seems like it was not actually writing during the progress bar that took 4 hours. What comes between download/extraction and writing?

[2019-08-06 15:37] Conchylicultor commented on #849
This seems reasonable. For which tfds dataset would you need this ? And what would be the input/output keys ?
Currently, the user can always customize any input/output he wants by using `ds.map`:

[code]

[2019-08-06 18:06] captain-pool commented on #832
Hey @rxsang sorry for the delay, I tried
[code]
Here's the log from colab:
[code]

Option 2
________________
[code]
[code]

[2019-08-06 18:06] captain-pool commented on #832
Here's the output.
[code]

[2019-08-06 18:34] hollowgalaxy commented on #720
@Conchylicultor why reinvent the wheel? [tf.image.convert_image_dtype](https://www.tensorflow.org/api_docs/python/tf/image/convert_image_dtype)

[code]

[2019-08-06 21:52] us commented on #829
For the basic one example, `tensorflow` is not installing with `setup.py`.
At least we can add basic things of this repo, just to use the api without installing the package

[2019-08-07 01:40] Conchylicultor commented on #769
Should be fixed with 76325da. Thanks you all for reporting and helping us debug this.

[2019-08-07 01:40] #769 closed

[2019-08-07 03:53] npuichigo commented on #849
If we have several inputs and outputs, maybe using ds.map would be like this.
[code]
In addition, now that tensorflow datasets is responsible for feeding data for users and it already uses DatasetInfo to describe the signature of data pipeline, maybe it's not suitable for users to determine the signature again (namely split the inputs and outputs manually).

Ideally, it's natural to have codes lik

[2019-08-07 06:05] iceman126 opened #862 "Dictionary key error when using wmt_translate dataset"
**Short description**
Run download_and_perpare() to get wmt_translate dataset would cause some errors due to the wrong keys for the downloaded dataset.

**Environment information**
* Operating System: Ubuntu 16.04
* Python version: Python 3.6
* `tensorflow-datasets`/`tfds-nightly` version: tensorflow-datasets 1.1.0
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: tensorflow-g

[2019-08-07 08:34] pierrot0 commented on #832
Can you try with "mnist:3.*.*" instead of "mnist"?

[2019-08-07 10:28] remydubois commented on #862
Same issue here with a custom dataset, see MVCE below:

[code]

I sometime get `KeyError: 'e'`with a random character, sometimes get `ValueError` as below:

[code]

[2019-08-07 10:57] cyfra commented on #189
Closed by #241

[2019-08-07 10:57] #189 closed

[2019-08-07 11:20] us commented on #844
Kaggle downloader works like that:

`kaggle competitions --file {filenames} download -c severstal-steel-defect-detection`

Can you try this?

[2019-08-07 17:40] captain-pool commented on #832
Hey @pierrot0, tried and not working :(
#### No AutoSharding:
`InternalError: Failed copying input tensor from /job:worker/replica:0/task:0/device:CPU:0 to /job:worker/replica:0/task:1/device:CPU:0 in order to run OptimizeDataset: Unable to parse tensor proto
Additional GRPC error information:
{"created":"@1565199485.308206938","description":"Error received from peer","file":"external/grpc/src/cor

[2019-08-07 17:51] rxsang commented on #832
@captain-pool  the error you get in https://github.com/tensorflow/datasets/issues/832#issuecomment-518780760 is because currently TPU doesn't support uint8. If you cast your input values to tf.float32 before calling experimental_distribute_dataset, it should be ok.

[2019-08-07 18:13] captain-pool commented on #832
Hey @rxsang this fails too.
[code]

and this too.
[code]

**Error message**:
` Failed copying input tensor from /job:worker/replica:0/task:0/device:CPU:0 to /job:worker/replica:0/task:1/device:CPU:0 in order to run OptimizeDataset: Unable to parse tensor proto
Additional GRPC error information:
{"created":"@1565201406.744456359","description":"Error received from peer","file":"external/grpc/src/co

[2019-08-07 18:16] rxsang commented on #832
Can you try putting your logic in tf.device("/task:1") instead of tf.device("/job:worker")?

[2019-08-07 18:27] Conchylicultor commented on #832
Why not cast in the graph directly ?, instead of using a generator ?

[code]

[2019-08-07 18:29] captain-pool commented on #832
Hey @rxsang , thanks! This snippet worked!
[code]
In case if it is not in TFDS's GCS directory, setting `data_dir` of `tfds.load` to  a GCS path will also work!
Thanks again for all the help! :)

[2019-08-07 18:30] captain-pool commented on #832
Closing the issue now! :)

[2019-08-07 18:30] #832 closed

[2019-08-07 20:12] nikste opened #871 "[data request] GTSDB"
* Name of dataset: German Traffic Sign Detection Benchmark
* URL of dataset: http://benchmark.ini.rub.de/?section=gtsdb&subsection=news
* License of dataset: free for non commercial
* Short description of dataset and use case(s): German traffic signs Detection dataset

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests

[2019-08-08 16:38] Conchylicultor commented on #862
We are transitioning to a new reader/writer (see: https://www.tensorflow.org/datasets/splits#two_apis_s3_and_legacy), so this trigger some bugs, but once the migration is complete, things should be back to normal. Thank you both for reporting.

@iceman126, Wmt hasn't been updated to this new S3 feature, so you need to manually opt-out by setting version:
[code]

@remydubois For new dataset, the ne

[2019-08-09 06:59] keshan opened #883 "Broken link in Readme.md"
**Short description**
Link to List of datasets gives a 404 because the file https://github.com/tensorflow/datasets/tree/master/docs/datasets.md doesn't exist.

**Reproduction instructions**
Go to datasets main repo click on the [List of datasets](https://github.com/tensorflow/datasets/tree/master/docs/datasets.md) link in the readme

[2019-08-09 07:24] pierrot0 opened #884 "Script to generate list of datasets with their versions"
Problem: Right now, there is no easy way to tell what are the available versions of each dataset, beside looking at the source code.

We want to ask people to pin the major component of the version they are using.

Proposed solution:
Have a script / function to generate the list of datasets with their available versions (and which is the canonical).

 We already have a function to generate the lis

[2019-08-09 15:27] Conchylicultor commented on #883
The list is now at https://github.com/tensorflow/datasets/tree/master/docs/catalog.
Thanks for reporting. Will be fixed soon

[2019-08-09 15:36] Conchylicultor commented on #884
Instead of creating a new list, I think this information should be included in the current dataset documentation instead.
This could also be added programatically. Something like: `builder.info.print_available_versions()`

Additionally, maybe release note should be part of `tfds.core.Version('1.1.0', release_note='Add new text field')`, instead of being a comment. This would allow the above functi

[2019-08-09 15:42] pierrot0 commented on #884
Agree on the release notes eventually being part of the version. But next
iteration. For now it would already be nice to have a list with versions.

On Fri, 9 Aug 2019 at 17:36, Conchylicultor <notifications@github.com>
wrote:

[2019-08-09 17:12] rodrigob commented on #552
Any update on this front ?

[2019-08-10 14:33] shravankumar147 commented on #871
I would like to contribute on this.

[2019-08-12 00:45] f1recracker commented on #840
I'd be happy to take this if no one is working on it.

[2019-08-12 00:45] f1recracker commented on #838
I'd be happy to take this if no one is working on this.

[2019-08-12 05:39] Conchylicultor commented on #552
We did not have time yet. An easy solution would be to add a SKIP_REGISTERING property to `DatasetBuilder`, and then check it in register.py ([here](https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/registered.py#L114)):

[code]
Don't hesitate to send a PR if you have time.

[2019-08-12 09:34] iceman126 commented on #862
@Conchylicultor Thank you for your solution. This solved my problem.

[2019-08-12 09:34] #862 closed

[2019-08-12 11:10] cyfra commented on #393
Fixed in #379

[2019-08-12 11:10] #393 closed

[2019-08-12 11:10] cyfra commented on #261
Fixed in #379

[2019-08-12 11:10] #261 closed

[2019-08-12 11:15] lgeiger commented on #838
I have implemented a version of this dataset [here](https://github.com/lgeiger/datasets/tree/nyu-depth-v2) which requires #892.
It is based on the dataset published at https://github.com/ialhashim/DenseDepth/#data which includes inpainted depth maps for parts of the raw dataset as well but is not complete. I might clean this up and upstream it next month but feel free to take it over if you have t

[2019-08-12 14:47] RameezI opened #896 "TFDS fails on windows when writing tfrecords files."
**Short description**
Hello, I have tried to load food101 dataset and it fails when writing the tfrecord files on Windows platform. I also tried writing my own dataset class, derived from GeneratorBasedBuilder,  and it fails too with the same error. However, If I generate a subset of examples, a few thousand only, it works as expected. The dataset builds fine on Linux though.

I did some digging a

[2019-08-12 15:59] Conchylicultor commented on #871
@shravankumar147 thanks, assigned the bug to you.

[2019-08-12 16:04] Conchylicultor commented on #840
Thanks @f1recracker, For info kitti without deps has been added here as you may want to reuse code: https://www.tensorflow.org/datasets/catalog/kitti

[2019-08-12 18:18] #213 closed

[2019-08-12 18:51] pat-coady commented on #356
Try this instead:

[code]

I had another strange problem with the batch_size argument. The latest update made my old problem go away, but then I saw the same problem as you.

[2019-08-12 20:01] efischer19 commented on #883
#888 fixed docs/README.md, but It's also broken on the main README

https://github.com/tensorflow/datasets/blame/master/README.md#L8

[2019-08-13 04:45] ewolfe1 opened #899 "Import Error on Mac"
Same issue with 2.0.0-beta1 and 1.14.
Python 3.6.5

I've looked but can't find any references to this issue online....

`import tensorflow_datasets as tfds`

[code]

[2019-08-13 05:50] ChanchalKumarMaji commented on #540
Kannada - MNIST
https://github.com/vinayprabhu/Kannada_MNIST
https://arxiv.org/abs/1908.01242

[2019-08-13 10:06] pierrot0 commented on #896
Thank you for the detailed report Rameez!
Could you please try with changes in https://github.com/tensorflow/datasets/pull/901/files?

[2019-08-13 12:37] pierrot0 commented on #856
Hi Meyer, thanks for reporting.

Which version of the dataset were you using?
If you weren't specifying any, then it's legacy code. If '3.*.*', then it's tfrecords_writer.py (S3 experiment, which will eventually the default).

The process is roughly the following:
1. download
2. extract if archive and if not read from archive directly
3. For each split:
  3.a. generate the records, write them to 1

[2019-08-13 14:03] Oktai15 commented on #299
@dynamicwebpaige hi! where can I find this dataset? Link is not related to dataset, actually...

[2019-08-13 14:27] RameezI commented on #896
@pierrot0  Yes, this resolved the issue. I could successfully build the dataset after applying your changes. Thanks a lot.

[2019-08-13 14:27] #896 closed

[2019-08-13 15:35] cyfra commented on #899
Which version of tqdm do you have ? Can you run:
`
import tqdm
print(tqdm.__version__)
`

[2019-08-13 15:47] cyfra commented on #289
Done in #398

[2019-08-13 15:47] #289 closed

[2019-08-13 16:22] ewolfe1 commented on #899
Oh, thanks - I should have checked that.
I had tqdm v. 4.26.0

I upgraded to v. 4.33.0, and now it appears to be loading.

Thanks!

[2019-08-13 16:22] #899 closed

[2019-08-14 04:17] cyfra commented on #440
Merged in #460

[2019-08-14 04:17] #440 closed

[2019-08-14 12:46] rodrigob commented on #27
@ParthS007 Any progress on this front ?

[2019-08-14 14:12] fvisin commented on #883
https://github.com/tensorflow/datasets/tree/master/docs/catalog is broken as well....

[2019-08-14 14:18] rodrigob opened #906 "[data request] OpenImages v5"
Name of dataset: OpenImages v5
URL of dataset: https://g.co/dataset/open-images
License of dataset: licensed by Google Inc. under CC BY 4.0 license. The images are listed as having a CC BY 2.0 license.

Short description of dataset and use case(s): bigger ImageNet with 36M image level labels, 15M bounding boxes, 300k visual relationships, and 2.5M instance segmentation masks.

Folks who would also

[2019-08-14 14:31] rodrigob commented on #883
In the meantime you can consult the list here:
https://www.tensorflow.org/datasets/catalog/overview

and/or via `tfds.list_builders()`.

[2019-08-14 14:48] jackd opened #907 "Preparing dataset with S3 support creates large number of open tmp files, crashes"
**Short description**
After changing a previously-working externally developed `GeneratorBasedBuilder` to support S3 by adding a key to each generated example, `download_and_prepare` creates a large number of open temporary files part-way through the process (> 900), exceeding the OS limit and raising an error.

**Environment information**
* Operating System: ubuntu 16.04
* Python version: 3.6.9
*

[2019-08-14 15:05] fvisin opened #908 "Broken link in tfds.load"
https://www.tensorflow.org/datasets/api_docs/python/tfds/load#args

The "the guide" link in decoders is broken.

[2019-08-14 16:25] Conchylicultor commented on #908
Thanks for reporting. Our documentation was accidentally deleted. It should be fixed with: https://github.com/tensorflow/datasets/pull/905

[2019-08-14 16:25] #908 closed

[2019-08-14 18:14] Conchylicultor opened #910 "Add a tfds.features.LabeledImage() feature connector"
For some use cases, it could be good to have a `LabelImage` or `LabeledImage` (name to define) which combines `ClassLabel` with `Image`. This could be used for per-instance pixel-masks.

API ideally should combine the two class kwargs and methods.
[code]

* shape: (h,, w, 1)
* dtype: np.uint16

`Image(shape=(h,, w, 1), dtype=np.uint16)`

During `_generate_examples`:
[code]

Image could be stored a

[2019-08-14 19:11] Conchylicultor commented on #883
The links should be fixed. Closing this.

[2019-08-14 19:11] #883 closed

[2019-08-15 01:09] rodrigob commented on #910
Note that it is important to distinguish between semantic labelling (e.g. Pascal VOC12), instance segmentation (e.g. COC 2017), and panoptic annotations case (e.g. Cityscapes).

One possible approach could be to have two channels int16 png.
One channel with the classes, another with the instance id (and just use by convention that instance id 0 is used for classes that are not supposed to have mul

[2019-08-15 01:35] rodrigob commented on #849
I am not sure what is the problem with using `ds.map`.
You example would look like:
[code]
I understand `supervised_keys` is there to make the easy cases easy, and the rest can be handled with `ds.map` over the features dictionary. Not sure it serves well to overload the `supervised_keys` use cases.

In my opinions APIs should "make the easy things easy, and the hard things possible".

[2019-08-15 03:10] Conchylicultor commented on #910
@rodrigob In case of instance segmentation, maybe it would make more sense to keep two separate image rather than trying to merge two semantic information in a single tensor (the user can still concatenate the two values).

[code]

[2019-08-15 03:18] Conchylicultor commented on #849
I'll be in favour of waiting having a concrete usage within tfds, before adding this into core. The current workaround seems good enough for now even if we may want to improve this in the future.

[2019-08-15 03:58] rodrigob commented on #910
Agreed. Then LabeImage focuses solely on the semantic labelling part of things, which is better.

[2019-08-15 16:19] cyfra commented on #262
Code in: #825

[2019-08-15 20:54] #262 closed

[2019-08-19 09:27] cyfra commented on #203
Fixed in #238

[2019-08-19 09:27] #203 closed

[2019-08-19 11:06] #364 closed

[2019-08-19 19:08] cyfra commented on #230
Done in #264

[2019-08-19 19:08] #230 closed

[2019-08-20 05:09] mathmanu commented on #214
This is an important dataset. Thanks for working on it. Can you take care of the changes requested by the reviewer?

[2019-08-20 12:54] marcromeyn opened #931 "[data request] recommendation datasets like Movielens"
I think it would be valuable if some of the most  popular recommendation datasets would be included, like:

- Movielens 1M & 20M
- Criteo ads dataset
- Spotify 1M playlist dataset
...

If there’s more interest in this, I am happy to help implement it.

[2019-08-20 14:21] cyfra commented on #405
Fixed in #826

[2019-08-20 14:21] #405 closed

[2019-08-20 15:02] ChanchalKumarMaji commented on #931
Can u please add the dataset details, for eg: description, citation, dataset_url, etc...

[2019-08-20 19:41] #342 closed

[2019-08-21 01:42] f1recracker commented on #214
I understand. I've already implemented all changes so far.

[2019-08-21 12:45] marcromeyn commented on #931
**MovieLens Dataset**
MovieLens 20M movie ratings. Stable benchmark dataset. 20 million ratings and 465,000 tag applications applied to 27,000 movies by 138,000 users. Includes tag genome data with 12 million relevance scores across 1,100 tags. There are also smaller MovieLens datasets available with 1M & 100K reviews.

[Movielens 1M & 20M](https://grouplens.org/datasets/movielens/) [F. Maxwell Ha

[2019-08-21 14:55] us commented on #931
Hey @marcromeyn,
Thanks for recommendations! These datasets look good. If you want to implement these, it would be great.
You can start with [add dataset guide](https://www.tensorflow.org/datasets/add_dataset).

[2019-08-21 15:15] yl1991 commented on #299
I could not find the dataset using the link either.@dynamicwebpaige

[2019-08-21 15:57] marcromeyn commented on #931
Sweet, let me do a first pass next week.

[2019-08-21 19:06] pierrot0 commented on #906
aman2930 is looking into this.

[2019-08-21 19:23] aman2930 commented on #906
Could you please assign it to me?

[2019-08-21 21:39] cyfra commented on #540
Fixed in #562

[2019-08-21 21:39] #540 closed

[2019-08-22 12:52] cyfra opened #936 "Dataset documentation should clearly mark which ones require manual download"
Some of the datasets require manual downloading of files. This should be clearly marked in the dataset documentation.

Preferably it should be detected 'automatically' - by seeing which datasets depend on manual_dir.

[2019-08-22 18:29] cyfra commented on #25
This dataset was added.

[2019-08-22 18:29] #25 closed

[2019-08-22 18:31] cyfra commented on #431
@sklan  - what is the status of this dataset ? (in last update you mentioned that you're about to send the PR).

[2019-08-22 18:32] cyfra commented on #127
Does anyone still have this issue ? (as the bug was not updated for 2 months).

[2019-08-22 20:49] 20zinnm commented on #844
@us I just confirmed that the above command (after moving `--file {filenames}` to after `download`) results in a file `train.csv.zip` being downloaded. Note that I specified `train.csv` for the filename; Kaggle automatically compressed it before downloading.

That's a problem because the tfds Kaggle downloader does not properly account for the possibility that some files will be compressed automat

[2019-08-22 21:02] 20zinnm commented on #931
It seems like the terms for the Spotify challenge prohibit sharing the Million Playlists dataset, and the link provided does not directly allow you to download the data (you need to sign in to the competition, which is already over).

[2019-08-23 13:25] us commented on #931
You can skip the downloading and use the `manual_dir`. Check for [details](https://www.tensorflow.org/datasets/api_docs/python/tfds/download/DownloadManager).

[2019-08-23 18:30] amulya-radai commented on #676
Is there a way to shard the tfrecords in round robin fashion without using apache beam?

[2019-08-24 02:34] Ouwen opened #942 "What is the future of `is_dataset_on_gcs`? Will datasets that meet a certain standard be stored in GCS?"
Currently only `groove`, `mnist`, and `nsynth` are stored in `gs://tfds-data/datasets`. To make it more convenient for researchers it would be nice if all datasets that meet certain standards are kept in `gs://tfds-data` and the requester pays.

Is there a planned timeline for the addition of `cifar10`, `cifar100`, `coco`, and other common benchmark datasets? Or will we be expected to create our o

[2019-08-26 12:34] sklan commented on #431
I think I finished it. I forgot to open a PR.

On Fri, Aug 23, 2019 at 12:01 AM Marcin Michalski <notifications@github.com>
wrote:

[2019-08-26 12:36] sklan commented on #431
It'll take me a few days to respond to all the PRs.

[2019-08-26 13:32] EmanueleGhelfi opened #943 "Celeb_a wrong checksum"
**Short description**
NonMatchingChecksumError when downloading celeb_a dataset

**Environment information**
* Operating System: Arch Linux
* Python version: 3.7
* `tensorflow-datasets` version: 1.2.0
* `tensorflow` version: 2.0.0rc0

**Reproduction instructions**

[code]

**Link to logs**
https://gist.github.com/EmanueleGhelfi/ea7b5684036262ff402c85e11db7dd3b

[2019-08-26 14:49] cyfra commented on #288
Dataset added in #304

[2019-08-26 14:49] #288 closed

[2019-08-27 14:47] pierrot0 commented on #676
Note that https://github.com/tensorflow/datasets/issues/856 sounds very similar and is being worked on by Recep.

[2019-08-27 14:50] pierrot0 opened #951 "Do not set experimental_deterministic"
[from Marvin]
The shuffle_files arguments on as_dataset also sets options for the tf.data.Dataset. Options cannot be overwritten later. If I want to have a non-deterministic dataset I have to allow shuffling files.

I think setting tf.data.Options should be left the the user and not be done by TFDS.

Also note that I would always shuffle files but sometimes choose to set a random seed. This is cur

[2019-08-27 15:45] Ouwen opened #952 "[data request] COCO Captions"
* Name of dataset: COCO (Common Objects in Context) Captions
* URL of dataset: http://cocodataset.org/#captions-2015
* License of dataset: Creative Commons Attribution 4.0 License.
* Short description of dataset and use case(s): These are the captions associated with COCO.

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which req

[2019-08-27 15:54] ChanchalKumarMaji commented on #952
Yes, `person_keypoints` and `captions` are missing in the current version. I am planning to add them.

[2019-08-29 06:36] EmanueleGhelfi commented on #943
I've tried again and I'm not encountering the issue anymore. Closing the issue.

[2019-08-29 06:36] #943 closed

[2019-08-30 02:32] Conchylicultor commented on #812
Added a clarification in https://github.com/tensorflow/datasets/commit/76553955ca0d56a50170374c3e28f1a4b9720601

[2019-08-30 02:50] #812 closed

[2019-08-30 12:03] magomar commented on #299
No news on this dataset? what happened? I'm very interested on it too

[2019-09-02 11:14] dhirensr commented on #827
@Conchylicultor : I can work on this issue! but for testing would it download the complete dataset of around 20GB? or how can I test this after implementing?

[2019-09-02 16:21] ChanchalKumarMaji commented on #677
[code]
can you please tell me how should I ensure this ?

[2019-09-02 23:39] Conchylicultor commented on #827
@dhirensr Thanks for looking into this. For testing, you should generate the completely dataset at least once to ensure it is generated properly. The tests.py however just try the generation on fake data (less than 5 examples). See the doc for more details : https://www.tensorflow.org/datasets/add_dataset#testing_mydataset

[2019-09-03 02:40] breadbread1984 opened #965 "Can't download celeba"
**What I need help with / What I was wondering**
Your question, or a clear description of what you're looking for help with.

When I download celeb with tfds in China I get the following error.

I dont know wether it is an internal error of tfds or a problem or a network problem.

**What I've tried so far**
A description of what you've tried so far to solve your problem.

I tried the following cod

[2019-09-03 08:04] pierrot0 commented on #677
Just add some log statements at beginning and end of function, you'll see if they overlap when running locally.

[2019-09-03 13:32] AdamHillier commented on #27
I needed VOC2012 for something so added it to my fork of tfds. It is simply @jpuigcerver's VOC2007 code adapted very slightly to point to the right tar files.

I've opened a PR #966 to have it merged.

As it includes only the object detection ground truths (axis aligned bounding boxes) and not the segmentation ground truths (or the SDB extension) it doesn't fully satisfy this dataset request, but

[2019-09-03 16:49] vkumaresan commented on #660
I reached out to the contact e-mail address and asked for permission; will update here after they respond.

[2019-09-04 08:14] ChanchalKumarMaji commented on #677
Some Doubts:
* The `beam_dataset` generates a `pcollection` of (key, record) tuples,
* Then we transform the `pcollection` to (_key, record) tuples where `_key` is 128 bits, then we do a ReshufflePerKey to sort the `pcollection`,
* Then we use the `example_serializer` to convert the each record in pcollection to a format suitable for writing,
* Then we transform the `pcollection` to contain only s

[2019-09-04 09:33] timlueg commented on #299
It's only available upon request.

Correct (?) URL:
[https://research.ibm.com/artificial-intelligence/trusted-ai/diversity-in-faces/](https://research.ibm.com/artificial-intelligence/trusted-ai/diversity-in-faces/)

[2019-09-04 18:13] spencer-moavenzadeh opened #972 "[data request] LIDC-IDRI"
* Name of dataset: LIDC-IDRI
* URL of dataset: https://wiki.cancerimagingarchive.net/display/Public/LIDC-IDRI#cfd1da9b8b494d80a56c0568ae3159dc
* License of dataset:  Creative Commons Attribution 3.0 Unported License
* Short description of dataset and use case(s): The Lung Image Database Consortium image collection (LIDC-IDRI) consists of 1018 diagnostic and lung cancer screening thoracic computed

[2019-09-04 21:52] vkumaresan commented on #660
I am still in communication with them, but they have said that building a data loader is fine. Once they've given the full confirmation, I'll go ahead and start building the contribution, along with @drwitt and @cjd67. Would you mind assigning this to us? Thanks!

[2019-09-04 23:54] alexwal commented on #660
Cool! I don't have assigning power, but maybe some who does can help with that

[2019-09-05 02:05] murphyk commented on #118
It would also be useful to store the original filename as one of the features,
so we can perform joins with the kaggle version of this dataset,
which is used in various examples online:
https://www.kaggle.com/jessicali9530/celeba-dataset

Kevin

[2019-09-05 15:15] leohu6 opened #974 "[data request] AASCE SpineWeb"
* Name of dataset: AASCE SpineWeb dataset
* URL of dataset: http://spineweb.digitalimaginggroup.ca/spineweb/index.php?n=Main.Datasets#Dataset_16.3A_609_spinal_anterior-posterior_x-ray_images
* License of dataset: Unknown
* Short description of dataset and use case(s): The training dataset consists of 609 spinal anterior-posterior x-ray images. The landmarks were provided by two professional doctor

[2019-09-05 15:15] leohu6 commented on #974
Working on it

[2019-09-05 18:33] jessieren opened #975 "[dataset request]"
Adding notMNIST dataset to TFDS

[2019-09-06 03:51] ChanchalKumarMaji commented on #975
Can you please include the details of the dataset here.

[2019-09-06 15:17] Ouwen commented on #974
@leohu6 the license of the dataset is PDDL 1.0: https://opendatacommons.org/licenses/pddl/1.0/

[2019-09-09 04:32] BinyanHu opened #977 "Support for dataset splits with different features"
I am trying to implement my datasets (`DatasetsBuilders`). Different from most pre-defined datasets in tfds, these datasets have different features for each split. For example, the test set may not contain label data. The current implementation applies a uniform feature description to all splits, making it hard to fit into a dataset builder.

A reasonable solution may be modifying __init__ method

[2019-09-09 08:00] Conchylicultor commented on #977
Could you provide additional info for your use-case ? What would be the train/tests features that you would use ? And which dataset would this be ?
With the current implementation, the easiest way would be to create two datasets and have a higher level wrapper to switch between the two.

[2019-09-09 11:40] Oktai15 commented on #299
@timlueg this link is very weird, no info on page

[2019-09-10 00:14] shenjikai opened #979 "PCam dataset"
Name of dataset: PatchCamelyon (PCam)
URL of dataset: https://github.com/basveeling/pcam
License of dataset: The data is provided under the CC0 License, following the license of Camelyon16. The rest of this repository is under the MIT License.
Short description of dataset and use case(s): The PatchCamelyon benchmark is a new and challenging image classification dataset. It consists of 327.680 colo

[2019-09-10 04:37] Qoyyuum commented on #965
Have you tried with a VPN?

[2019-09-10 04:49] ChanchalKumarMaji commented on #979
This dataset is already present - https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/image/patch_camelyon.py. Please close this issue.

[2019-09-10 07:23] breadbread1984 commented on #965
yeah, HK's vps

[2019-09-10 13:23] BinyanHu commented on #977
I am working on some challenging datasets (PROMISE12, for example) whose labels of the test set is not open to the public. To evaluate the results on the test set, we have to submit the output predictions to the website.

In other words, the training and validation set features contain "image" and "segment", while the test set feature contains only "image".

Many datasets relating to a challenge o

[2019-09-10 13:53] #979 closed

[2019-09-11 04:27] yihangx opened #981 "[data request] Cell Tracking Challegnge"
* Name of dataset: Cell Tracking Challegnge dataset
* URL of dataset: http://celltrackingchallenge.net/datasets/
* License of dataset: Unknown
* Short description of dataset and use case(s): The datasets consist of 2D and 3D time-lapse video sequences of fluorescent counterstained nuclei or cells moving on top or immersed in a substrate, along with 2D Phase Contrast and Differential Interference C

[2019-09-11 04:27] yihangx commented on #981
Working on it

[2019-09-11 06:17] Qoyyuum commented on #965
Could you try a VPS outside of China?

[2019-09-11 07:13] breadbread1984 commented on #965
OK if that is the only solution.

[2019-09-11 07:13] #965 closed

[2019-09-11 11:17] Conchylicultor commented on #977
For this case, the proper way of doing this would be to have a single `FeaturesDict` for both train/test, but to have the test set return a no-op/empty value for label.

With `ClassLabel`, this is done by returning -1 for missing label.
[code]

For images, currently there is no real way to have test images being optional. We could have Image returns an empty tensor for the test set if the image is

[2019-09-12 02:45] ziyuan-shen opened #982 "[data request] SPIE-AAPM-NCI BreastPathQ"
* Name of dataset: SPIE-AAPM-NCI BreastPathQ
* URL of dataset: http://spiechallenges.cloudapp.net/competitions/14#participate
* License of dataset: Unknown
* Short description of dataset and use case(s): The dataset's training/validation set consists of 2578 patches extracted from 96 whole slide images (WSI). Each patch is labelled by a tumor cellularity score. The testing set contains 1121 patche

[2019-09-12 02:46] ziyuan-shen commented on #982
Working on it

[2019-09-13 18:03] nami-reddy commented on #972
@spencer-moavenzadeh working on it!

[2019-09-14 19:39] pierrot0 commented on #677
(sorry for lag, was on vacation)
Sounds good Chanchal!
Please let us know how it goes.

[2019-09-14 20:10] pierrot0 commented on #907
Thanks for reporting.
Yes, during the preparation of a dataset, the number of open files can grow up to 1K.
However, 1K is usually fine...

Jack, what does `cat /proc/sys/fs/file-max` returns on your machine?
Or do you store your datasets on some specific file system?

Thanks,
Pierre

[2019-09-14 21:37] shenjikai opened #989 "[data request]KiTS19"
* Name of dataset: 2019 Kidney and Kidney Tumor Segmentation (Kits19)
* URL of dataset: https://kits19.grand-challenge.org/data/
* License of dataset: MIT License
* Short description of dataset and use case(s): This dataset is for 2019 Kidney and Kidney Tumor Segmentation Challenge. This dataset has CT scan images of patients who have Kidney Tumor. This dataset includes a training data of 210 pati

[2019-09-15 19:43] MyWhiteCastle opened #990 "[data request] APTOS 2019 Blindness Detection"
* Name of dataset: APOTOS 2019 Blindness Detection - for diabetic retinopathy
* URL of dataset: https://www.kaggle.com/c/aptos2019-blindness-detection/overview
* License of dataset: Apache License 2.0
* Short description of dataset and use case(s):
 The dataset contains retina images taken using fundus photography under a variety of imaging conditions. The dataset is mainly used to study the sever

[2019-09-15 19:46] zil317 commented on #990
It will be helpful to have!

[2019-09-15 23:52] jackd commented on #907
Apologies, I forgot about this PR and changed the github repo to use the old interface, so the bug wasn't exhibited. I've just re-run it with latest nightly build and it all seems fine now... so... really not sure what went on.

In answer to your questions though: `cat /proc/sys/fs/file-max` returns 1608328 which indeed sounds sufficiently large. File system is regular hard drive.

[2019-09-15 23:52] #907 closed

[2019-09-16 01:39] haideraltahan commented on #581
I can have it done, assign me to it

[2019-09-16 10:25] remydubois opened #991 "Control over downloaded/extracted files naming"
Hello,

I often encounter the situation where I want to 'explore' or inspect the raw data (which is downloaded and extracted) before treating it and preprocessing it into TFRecord files.

However, the naming of those folders (resulting from the extraction) (based on a hashing of the checksum and the url if I understood [this line](https://github.com/tensorflow/datasets/blob/800ce69fe928670694f1a7f

[2019-09-16 19:04] rodrigob commented on #910
Toying with this feature, I noticed that I am unsure what is the recommended strategy to handle "empty features" for the test set.
I guess for class labels, the labels list is left empty. Unclear for `LabelImage` what is recommended way to express "no label ground truth available for this image".

[2019-09-16 20:07] haideraltahan commented on #581
Pull request created #992

[2019-09-17 13:42] rodrigob commented on #906
any update on this ?

[2019-09-18 01:15] powergkrry opened #997 "[data request] P. vivax (malaria) infected human blood smears"
* Name of dataset: P. vivax (malaria) infected human blood smears
* URL of dataset: https://data.broadinstitute.org/bbbc/BBBC041/
* License of dataset: free for non commercial
* Short description of dataset and use case(s):  The original data set contains 1364 images (~80,000 cells) in .png or .jpg format. The data has 6 categories which are two classes of uninfected cells(RBCs and leukocytes) and

[2019-09-18 01:27] Dhanasekar-S commented on #997
I will take care of this.

[2019-09-18 07:02] BinyanHu commented on #977
Thank you for the suggestions, but unfortunately, my datasets is a 3DImage-to-3DImage one, so to use examples with paths, a new "Feature" needs to be customized. It seems that writing two dataset builders is the best choice currently.

[2019-09-18 07:02] #977 closed

[2019-09-18 15:30] ksachdeva opened #998 "[data request] tiny-imagenet"
* Name of dataset: tiny-imagenet
* URL of dataset: http://cs231n.stanford.edu/tiny-imagenet-200.zip
* License of dataset: Not mentioned
* Short description of dataset and use case(s): Tiny ImageNet Challenge is a similar challenge as ImageNet with a smaller dataset but with less image classes. It contains 200 image classes, a training dataset of 100, 000 images, a validation dataset of 10, 000 ima

[2019-09-18 17:48] ChanchalKumarMaji commented on #998
Yes, please do send a PR.

[2019-09-20 03:01] MOdusa opened #1007 "can't download bigearthnet using tfds.load()"
when i try to download bigearthnet dataset using
tfds.load('bigearthnet/all',data_dir="e:\data")

result:
Downloading and preparing dataset bigearthnet (?? GiB) to e:\data\bigearthnet\all\0.0.2...
---------------------------------------------------------------------------
**ModuleNotFoundError**                       Traceback (most recent call last)
D:\My_SoftWare\Anaconda\envs\tensorflow\lib\sit

[2019-09-20 08:29] Conchylicultor commented on #1007
We package tfds only with the minimal set of dependencies to keep the install minimal.
As the error message explain, the dataset requires additional dependencies that you need to install manually (here `pip install apache-beam`)

[2019-09-21 12:58] MOdusa commented on #1007
thanks.But when i installed apache-beam,another problem happened.
**result:**
Downloading and preparing dataset bigearthnet (?? GiB) to e:\data\bigearthnet\all\0.0.2...
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-3-d8f51a233104> in <module>
      2 splits = tfds.Split.TRAIN.su

[2019-09-21 13:05] MOdusa commented on #1007
and when i set a downloadConfig,
[code]
i am having this issue when i run this code.
**Jupyter send a messege,**

[2019-09-22 06:15] joel-shor commented on #176
+1

[2019-09-22 11:59] jason-zl190 commented on #853
Thanks for the help.

[2019-09-22 12:09] jason-zl190 commented on #853
@Ouwen I create a pull request last week. `chexpert`, `coco` and `stanford_dogs` are the references. The current version depends on manually download and user needs to provide csv files containing split info. I shall include the ` download` function and `split` logic in the next version. They were tested locally already.

[2019-09-22 17:55] exnx commented on #431
Hi everyone, thanks for all the great work!

I was curious, has anyone seen a Pytorch version for handling the preprocessing of the VFR dataset?

Also, I noticed the Synthetic Training data is only available through the bcf format?  Is that right?  I'm newer to handling bcf format, does anyone have a primer on how to?  I haven't seen that online, when I google it other random formats come up.

And

[2019-09-23 01:37] yihangx opened #1018 "[data request] : Classification of Normal vs Malignant Cells in B-ALL White Blood Cancer Microscopic Image"
* Name of dataset: Classification of Normal vs Malignant Cells in B-ALL White Blood Cancer Microscopic Image
* URL of dataset: https://competitions.codalab.org/competitions/20395#learn_the_details
* License of dataset: Unknown
* Short description of dataset and use case(s): This is a two class classification problem. The training and testing data contains folder level division of individual subjec