[2020-03-05 17:07] abhinavsp0730 commented on #1579
@ManishAradwad I checked the link now it's working. If it's resolved kindly close this issue.

[2020-03-05 17:11] Eshan-Agarwal commented on #1579
@abhinavsp0730  are you check link of `tfds.core.DatasetBuilder`, its not working because there is no file for DatasetBuilder.md

[2020-03-05 17:13] jpgard commented on #299
No, the official contact listed in the paper was unresponsive to my requests, as were the authors of the paper. Sad to see that the purported main contribution of their work -- the dataset -- is actually not available, as far as I can tell.

[2020-03-05 17:14] abhinavsp0730 commented on #1424
Hey, @vijayphoenix if the PR #1427 has been merged than kindly close this issue.

[2020-03-05 17:22] abhinavsp0730 commented on #1579
After clicking the link I got the documentation  DatasetBuilder.
DatasetBuilder

Each dataset is defined as a subclass of tfds.core.DatasetBuilder implementing the following methods:

    _info: builds the DatasetInfo object describing the dataset
    _download_and_prepare: to download and serialize the source data to disk
    _as_dataset: to produce a tf.data.Dataset from the serialized data

Mos

[2020-03-05 17:26] Eshan-Agarwal commented on #1579
I think you wrong interpret it says link for tfds.core.DatasetBuilder is broken in given link

[2020-03-05 17:32] abhinavsp0730 commented on #1579
Ok now got it.

[2020-03-05 17:34] Conchylicultor commented on #1579
Thank you for reporting, we have recently removed the API github and redirect people instead to: https://www.tensorflow.org/datasets/api_docs/python/tfds

If there are dead link, they should be removed (`tfds.core.DatasetBuilder` is automatically linkified), or updated to redirect to https://www.tensorflow.org/datasets/api_docs/python/tfds

[2020-03-05 17:44] vinayvr11 commented on #1361
@Conchylicultor : here is my code with better version with all style guide follow. Now i want to know where did i suppose to add this code i mean in which script.
`# images_path variable to store the path of images for later compression
images_path = []

def image_process(root):
    """ Generate random images and remove noise of the
        images to compress better.

          Args:
           ro

[2020-03-05 20:10] carlthome commented on #1537
How strange. Can you try running `python -c "import apache_beam as beam; beam.options"` in a terminal to isolate the issue? Also probably good to paste the output of `pip show apache_beam` into this thread.

[2020-03-05 20:36] vijayphoenix commented on #1397
Working on it!

[2020-03-05 21:18] vijayphoenix commented on #1397
@Conchylicultor how to get the path to the `url_checksums` file in `dataset_builder_testing.py` ?

[2020-03-05 22:08] princyok opened #1587 "What happened to tfds.core.ReadInstruction ?"
**Short description**

AttributError when trying to access ReadInstruction.

**Environment information**
* Operating System: Windows 10
* Python version: 3.7.4
* `tensorflow-datasets`/`tfds-nightly` version:  1.2.0
* `tensorflow` version: 2.0.0

**Reproduction instructions**

[code]

**Expected behavior**
Expected it to work as described in the [documentstion](https://www.tensorflow.org/datasets/a

[2020-03-06 01:51] Conchylicultor commented on #1587
`1.2.0` is an old TFDS version. Try upgrading to `2.1.0`

[2020-03-06 02:16] princyok commented on #1587
Oh my. How did I miss that? I changed computers and was getting frustrated why it wasn't working. Copied the versions to paste here but didn't even notice. My bad.

[2020-03-06 02:16] #1587 closed

[2020-03-06 11:53] Ir1d commented on #1517
Hi! I'm working on `core/utils`

[2020-03-06 18:17] Eshan-Agarwal commented on #1277
Can I start working on this issue ?

[2020-03-06 18:54] Eshan-Agarwal commented on #1579
@ManishAradwad  please close this issue.

[2020-03-06 19:56] #1579 closed

[2020-03-06 23:50] #1285 closed

[2020-03-06 23:51] Conchylicultor commented on #1285
Thank you for fixing this @gaurav-singh1998 !

[2020-03-07 06:53] vidyabhandary opened #1598 "celeb_a has wrong checksum"
**What I need help with / What I was wondering**
I am trying to download  the tfds dataset **celeb_a** via the download_and_prepare() method. I get a wrong checksum error when executing.

**What I've tried so far**
The code so far

[code]
Error message

[code]

**Environment information**
(if applicable)
* Operating System: Google Colab
* Python version: 3.6.9

* `tensorflow-datasets`/`tfds-nightl

[2020-03-07 09:14] Eshan-Agarwal commented on #1598
@vidyabhandary  maybe there is some server problem or dataset location was changed. So you have to update checksum.

[2020-03-07 09:21] Eshan-Agarwal commented on #1598
use this

  --register_checksums \
  --datasets=my_new_dataset

[2020-03-07 09:27] Conchylicultor commented on #1598
See: https://github.com/tensorflow/datasets/issues/1482

[2020-03-07 09:28] #1598 closed

[2020-03-07 14:07] Eshan-Agarwal commented on #1552
Can I remove

from __future__ import division
from __future__ import print_function

From `core/` also ?

[2020-03-07 15:10] 980202006 commented on #1577
You can use a low version, such as 1.3.2

[2020-03-07 16:48] VaranRohila opened #1600 "help for adding unsupervised split in STL-10 dataset"
**What I need help with / What I was wondering**
The STL-10 has 3 splits: test, train, and an unsupervised split. Labels are not provided for the unsupervised split. So I needed help in adding the STL-10 to tfds.
Should I implement the unsupervised split in another class or should I try to incorporate it in the supervised class only (which has TEST and TRAIN splits)?

**What I've tried so far**
I

[2020-03-07 17:00] VaranRohila commented on #998
Hi @ksachdeva, Is this issue still open? I'd like to contribute and can send PR by tomorrow.

Regards

[2020-03-07 17:06] Conchylicultor commented on #1600
You can use `-1` when the labels are not provided

[2020-03-07 17:11] VaranRohila commented on #1600
Thank you for your quick reply. I actually wanted to create the dataset so that the unsupervised split can be accessed individually like the TEST and TRAIN splits since the main focus of the STL-10 is to learn unsupervised features from that split before performing the supervised learning.

Using `-1` I would have to add the split to the TRAIN split itself which would pose a problem later.

[2020-03-07 17:16] ksachdeva commented on #998
Hi @VaranRohila

@Player0109 wanted to work on it as well. If he has not started yet then you should be able to send your PR.

Regards
Kapil

[2020-03-07 17:47] abhinavsp0730 commented on #1575
Hi I'm Abhinav Prakash and I'm working on it.

[2020-03-07 18:06] abhinavsp0730 commented on #1304
Hey, @shun-lin and @Conchylicultor I've checked, now It's not producing any error would you please close this issue.

[2020-03-07 18:36] dominthomas opened #1603 "Custom dataset with Keras throwing "Cannot take the length of shape with unknown rank""
**What I need help with / What I was wondering**
How can I use 'tf.data()' with a custom dataset?

**What I've tried so far**

[code]

It throws this error:
[code]

**It would be nice if...**
Is there a proper good guide on how to use 'tf.data()' over the old generator?
Because the old keras.fit_generator() with multiprocessing leaks memory quite badly,
so 'tf.data()' is the only option for us, an

[2020-03-07 20:44] Conchylicultor commented on #1600
If the dataset has three split, then so should the implementation. You can just declare another tfds.core.SplitGenerator(name='unsupervised') in addition of train and test

[2020-03-07 20:44] dominthomas commented on #1603
Okay, this is linked to this [issue](https://github.com/tensorflow/tensorflow/issues/24520)

[2020-03-07 22:00] VaranRohila commented on #1600
Okay thanks!

[2020-03-07 22:00] #1600 closed

[2020-03-07 22:44] dominthomas commented on #1603
[Workaround](https://github.com/tensorflow/tensorflow/issues/24520) possible, but performance is quite bad without using an iterator with keras:

[2020-03-07 22:44] #1603 closed

[2020-03-08 04:02] shun-lin commented on #1304
it's resolved, closing the issue :) Thanks!

[2020-03-08 04:02] #1304 closed

[2020-03-08 19:54] ChanchalKumarMaji commented on #998
This `dataset` has already been added #928 and #1292.

[2020-03-09 02:05] Merlin2013 commented on #299
the official diversity-in-faces program webpage has gone, it seems that they donot want to share it any more under the public presure of public option. I am looking for someone who has the dataset and begging for a copy, but no luck at all for now.

[2020-03-09 02:08] Merlin2013 commented on #299
the official diversity-in-faces program webpage has gone, it seems that they donot want to share it any more under the pressure of public opinion raising by media. I am looking for someone who has the dataset and begging for a copy, but no luck at all for now.

[2020-03-09 07:09] Eshan-Agarwal commented on #1223
@Conchylicultor In this issue only doc is needed to be updated, like  before defining `tfds.download.add_checksums_dir('/path/to/checksums_dir') `  we can add like name of checksum is in small letters with  under scores. and in script `tensorflow_datasets.scripts.download_and_prepare` add register_checksums=True.

Is I am interpret it correct ?

[2020-03-09 15:46] MadhavEsDios opened #1610 "Extending tfds builders to include Pix3D dataset"
**What I need help with / What I was wondering**
I am currently attempting to extend tfds to include the Pix3D dataset as part of a potential GSoc'20 proposal in which the main motive is to implement MeshRCNN.
Dataset Link: [http://pix3d.csail.mit.edu/](url)

**What I've tried so far**
I have looked at the "Adding a dataset" documentation provided and tried to implement a builder to incorporate in

[2020-03-09 18:32] Eshan-Agarwal commented on #1125
As per the latest changes `20200301` is latest date so I am running this script `python -m tensorflow_datasets.scripts.download_and_prepare --register_checksums --datasets=wikipedia/20200301` locally after changing date to `20200301 ` in `wikipedia.py` but got this error

  File "C:\Users\eshan\Anaconda3\envs\keras-gpu\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  Fil

[2020-03-09 19:00] ChanchalKumarMaji commented on #1610
This `dataset` can be downloaded from the link. I think manual download is not required.

[2020-03-09 19:28] MadhavEsDios commented on #1610
I am sorry that did not address my queries. The final code should use the link directly ( as there is no password protection), however, I think that is irrelevant to the issues I have faced.

[2020-03-10 04:29] ValleyZw commented on #486
Hi, @danieljanes :
   I suffered these problems too, and here's solution of my case:
   1. when you facing the **Anonymous caller** problem, you need to get your account authenticated.
[code]
  2. when your account authenticated, you can test if you can get data from gcs:
[code]
  3. when you can get data from gcs, you should enable TPU auth:
[code]
  where the **SERVICE_ACCOUNT**  is `service-[PR

[2020-03-10 12:33] danieljanes commented on #486
Hi @ValleyZw , thanks for getting back to me about this! I'll give it a shot next time I work on Colab.

[2020-03-10 17:10] ManishAradwad commented on #1534
Hey @Conchylicultor , what is `_get_all_versions` function in the above script you've given. It doesn't seem to have been defined. Is it a part of some other script?

[2020-03-10 17:53] ManishAradwad commented on #1530
@Conchylicultor why are we passing the dataset as a list to the generate_visualization function?

[2020-03-10 19:12] Conchylicultor commented on #1530
@ManishAradwad To indicates which datasets to generate images for. This is similar to `dataset_docs_str(` in https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/scripts/document_datasets.py

[2020-03-10 19:14] Conchylicultor commented on #1534
@ManishAradwad

[code]
I'll update the code above

[2020-03-10 19:19] Conchylicultor commented on #1537
@gongel, could you check if you still got the error when updating to the last version of apache_beam ?

[2020-03-10 19:20] Conchylicultor commented on #1516
Closing as beam should be used for c4

[2020-03-10 19:20] #1516 closed

[2020-03-10 21:15] vvkio commented on #1530
@Conchylicultor should I updated https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/dataset_info.py with the visualization location to be able to pull the image in the mako template similarly to the other selections? in this instance with `builder.info.visualization`?

[2020-03-10 22:16] Conchylicultor commented on #1530
@vvkio You shouldn't have to modify dataset_info. To get the path, you can use `tfds_dir()` or `get_tfds_path()` join with `info.full_name` for instance.

[2020-03-11 14:54] Eshan-Agarwal commented on #1404
@Conchylicultor I manually download data and running above script

with tf.io.gfile.open(path, 'rb') as fobj:
  z = zipfile.ZipFile(fobj)
  for member in z.infolist():
    extract_file = z.open(member)
    print(member.filename)
I got `AttributeError: module 'tensorflow_core._api.v2.io.gfile' has no attribute 'open'` so i checked and replace `tf.io.gfile.open` with `tf.io.gfile.Gfile` and it worke

[2020-03-11 16:11] Conchylicultor commented on #1404
You should use `tf.io.gfile.GFile` instead of `open`

[2020-03-11 17:20] Eshan-Agarwal commented on #1404
Yes I am using `tf.io.gfile.GFile` , but got error `BAD-CRC-32` when not download data manually instead use tfds.load().

[2020-03-11 17:57] Eshan-Agarwal commented on #1404
@Conchylicultor  I think there is nothing wrong with anything its just train.txt files in archives is corrupted. When I download data and delete train.txt from it. Everything runs fine.

[2020-03-11 18:06] #1551 closed

[2020-03-11 18:28] Conchylicultor commented on #1404
@Eshan-Agarwal if you understand the bug and know a way to fix it, then please send a PR if you have time. I'm not sure I understand what the bug is.

[2020-03-11 18:38] Eshan-Agarwal commented on #1404
Okay I will try.

[2020-03-11 20:09] VaranRohila commented on #1528
Hi, I was building code for support of object detection datasets but I got stuck at the values of the Bbox feature. They all are in between 0 and 1 and I checked in the source that it is meant to be that. I am just confused on what scale should I use while plotting the Bounding Boxes?

[2020-03-12 08:23] Eshan-Agarwal commented on #1404
@Conchylicultor  I found that in `scientific_papers` dataset zip file `train.txt` is corrupted so it raises this `BAD-CRC-32 `error but I can extract data using `Winrar` app. So I think there is two options to resolve this issue one is raises more efficient exception that `data is corrupted` and other I can upload it to drive so and update `scientific_papers.py `and `checksums ` file. So what shou

[2020-03-12 17:18] Conchylicultor opened #1638 "[GSoC] TranslateCsEnWmt19Test test is broken"
It seems that the [translate/wmt19_test.py](https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/translate/wmt19_test.py) test is failing with:

[code]

Full stacktrace: https://gist.github.com/Conchylicultor/4358d48be974914ec2d0324e7abc1e16

If someone has the time, it would be nice to investigate what is happening.

[2020-03-12 17:58] desertnaut commented on #478
@Conchylicultor the latest SpaceNet 6 challenge provides the (satellite) images in GeoTIFF format:

[https://spacenet.ai/sn6-challenge/](url)

Quoting from [https://www.topcoder.com/challenges/30116975](url):

[2020-03-12 18:10] Eshan-Agarwal commented on #1638
@Conchylicultor  I am looking on it, are you running this script and getting error `python -m tensorflow_datasets.scripts.download_and_prepare \
  --register_checksums \
  --datasets=my_new_dataset`

[2020-03-12 18:42] VaranRohila commented on #1528
I figured it out. Here is the [notebook link](https://colab.research.google.com/drive/1801-vXCENw3w-ptNHh4eel2D1qHS9s9o#scrollTo=qFo0uHZ3CG11). @Conchylicultor Please review the changes.

[2020-03-12 18:51] yongtang commented on #478
@desertnaut There is a PR pending in [tensorflow/io](https://github.com/tensorflow/io)

https://github.com/tensorflow/io/pull/578

which will bring in the GeoTIFF support to tensorflow, so that you can read GeoTIFF into tensor graph and work from there.

[2020-03-12 19:24] Conchylicultor commented on #1528
@VaranRohila nice, this looks great. Could you send a PR so I can see and review the code ?

[2020-03-12 19:25] VaranRohila commented on #1528
I just did! [Link](https://github.com/tensorflow/datasets/pull/1639)

[2020-03-12 19:29] Eshan-Agarwal commented on #1638
Can you please provide script that you are using while getting error

[2020-03-12 19:40] Aakash1822 commented on #1537
@Conchylicultor updating to the latest version of apache_beam there is no error. I checked it

[2020-03-12 19:41] Conchylicultor commented on #1638
This is the test which is failing, which are run through https://github.com/tensorflow/datasets/blob/master/oss_scripts/oss_tests.sh

To reproduce:
`pytest -n auto --disable-warnings wmt19_test.py`

[2020-03-12 19:44] Conchylicultor commented on #1537
Thanks for checking. Closing this

[2020-03-12 19:44] #1537 closed

[2020-03-12 19:45] Conchylicultor commented on #1528
Just saw this. Thank you!

[2020-03-12 19:57] Conchylicultor commented on #1404
From your above comment:

If you were able to extract the file using pure python, this means the issue is not from the archive, no ? Otherwise could you share here a self-contained code snippet (without TFDS) to reproduce the issue (and share the resulting stacktrace as gist)

[2020-03-12 20:13] Conchylicultor commented on #1404
It seems someone got the same issue with the same url: https://stackoverflow.com/questions/56204755/zipfile-extractall-raising-badzipfile-bad-crc-32-for-file-error

I'm wondering if this only happens for a specific version of Python/zip lib because it seems extraction worked before.

We are not allowed to redistribute datasets from other ourselves. Thank you for contacting the original authors. Ho

[2020-03-12 21:08] Eshan-Agarwal commented on #1404
@Conchylicultor  Thanks for helping , hope they update data soon.

[2020-03-13 11:10] desertnaut commented on #478
@yongtang thanks, but this is still in the future. In the meanwhile, I found out that there is an experimental module for TIFF (although not GeoTIFF):

[tfio.experimental.image.decode_tiff](https://www.tensorflow.org/io/api_docs/python/tfio/experimental/image/decode_tiff)

[2020-03-13 14:36] ManishAradwad commented on #1638
@Conchylicultor Could it be possible this issue is related with removal of python 2 legacy code.
Also when I tried reproducing it using the above command I'm getting following error:
`ERROR: usage: pytest [options] [file_or_dir] [file_or_dir] [...]
pytest: error: unrecognized arguments: -n tensorflow_datasets/translate/wmt19_test.py
  inifile: None
  rootdir: /home/shadow-man/open-source/datasets

[2020-03-13 14:55] Eshan-Agarwal commented on #1638
@Conchylicultor @ManishAradwad  I am also getting same error then I am just using this `pytest tensorflow_datasets/translate/wmt19_test.py` and it runs but showing different errors some 16 failed, 4 skipped, 5 warnings

[2020-03-13 15:19] harshitadd commented on #1528
Hi,
Is anyone currently working on audio data visualization - eg ljspeech ).
If no, I would be grateful to get any guidance to get guidance on what features should the visualization entail ( should the output be a few random samples of audio or a visual representation of the audio dataset diversity ( classes, frequency, range of audio ), etc )

[2020-03-13 18:58] Conchylicultor commented on #1528
@harshitadd Thank you for looking into this! I don't think anyone is working on audio yet.

For the output, I think both `image` and `audio` representation could be helpful, but you can start with anything. `IPython.display.Audio` might be helpful to display audio.
Also have a look at my comment in: https://github.com/tensorflow/datasets/pull/1639#discussion_r391848285 to try to factorise this new

[2020-03-13 19:51] harshitadd commented on #1528
@Conchylicultor Thank you for your prompt reply - With respect to the latter comment - I am running tfds version 2.0.0 and using librispeech as an argument to tfds.load() gives the error - "Dataset librispeech is under active development and is not available yet". 'ljspeech' simply returns - dataset not found. Kindly advise, If there are no other alternatives that I may use to load them: I will re

[2020-03-13 20:02] Conchylicultor commented on #1528
Did you try with tfds 2.1.0 or tfds-nightly ?

[2020-03-13 22:53] Conchylicultor commented on #1638
I think the `-n` option require pytest-xdist.

For info, the stacktrace is coming from: https://source.cloud.google.com/results/invocations/c253f7c7-dc9a-44c9-bcc2-76231bd71f05/targets/tensorflow_datasets%2Fgh_testing%2Fpresubmit/log

`pytest tensorflow_datasets/translate/wmt19_test.py` should works too to replicate the issue. Which error does it display ? Can you try to fix those ?
If other tests

[2020-03-14 02:46] Eshan-Agarwal commented on #1638
@Conchylicultor  Yes by installing `pytest-xdist` it works fine.  And I got some `osError`, maybe dependencies are not installed. It show me this error for any other test file also.

[code]

[2020-03-14 03:15] Eshan-Agarwal commented on #1404
@Conchylicultor They update data, I send you PR today with updated links and checksums

[2020-03-14 07:10] ChanchalKumarMaji opened #1644 "`pylint` Errors."
**Short description**
Many `pylint` errors exists in TFDS. Running `pylint` not generating 10.0/10 rating.

For example running `./oss_scripts/lint.sh tensorflow_datasets/image` gives -
[code]

**Expected Behaviour**
Remove all `pylint` errors. Sometimes it requires - `# pylint: disable=some-error-message`.

CC : @Conchylicultor

[2020-03-14 07:16] aniketmaurya commented on #1575
@vijayphoenix is it fixed?

[2020-03-14 07:49] Eshan-Agarwal commented on #1644
@ChanchalKumarMaji  Yes I also observed it many files have wrong pylint. So can we correct it and sending PR's ?

[2020-03-14 08:58] aniketmaurya commented on #1506
Hi! I want to start contribution to TF. Most of the `Contribution welcome` are already solved. Can someone please guide me through this?

[2020-03-14 08:59] aniketmaurya commented on #1421
Hi! I am working on this. This is my first contribution to open-source. Please assign me this ticket. Thanks

[2020-03-14 12:01] vijayphoenix commented on #1638
Well, I got the following output.
![image](https://user-images.githubusercontent.com/41972768/76681487-5422be00-6619-11ea-9f41-e59b3f43b950.png)
@Conchylicultor It works fine for me.

[2020-03-14 15:29] harshitadd commented on #1528
Thanks a lot, Both ljspeech and librispeech work with tfds-nightly ( not tfds 2.1.0 though ).

 [Here](https://colab.research.google.com/drive/11NSYCRPiHsDCQZBxDVew-OniGbscdwxH) is the first draft that encapsulates the visual and audio displays of passed dataset.

Points to Note - Currently, The code fails when displaying the IPython objects for ljspeech (although the audio numpy representations a

[2020-03-14 17:25] harshitadd commented on #1528
Thanks a lot, Both ljspeech and librispeech work with tfds-nightly ( not tfds 2.1.0 though ).

[Here ](https://colab.research.google.com/drive/11NSYCRPiHsDCQZBxDVew-OniGbscdwxH) is the first draft that encapsulates the visual and audio displays of passed dataset.
Kindly review the generated output format - If this is what is required - I shall further optimize the code and submit it for review.

A

[2020-03-14 20:13] Conchylicultor commented on #1644
Thank you for reporting. Please don't hesitate to fix those if you have time.

[2020-03-14 23:59] Eshan-Agarwal commented on #1644
Okay I think we have to send multiple PR's for this, So I am sending PR for `tensorflow_datasets/image` soon.

[2020-03-15 04:00] ChanchalKumarMaji commented on #1644
Sure, Thanks! :smiley: .

[2020-03-15 04:02] ManishAradwad commented on #1644
Thanks for reporting this @ChanchalKumarMaji, I'll start working on `tensorflow_datasets/audio`.

[2020-03-15 06:41] ManishAradwad commented on #1644
I've completed `tensorflow_datasets/audio` in the above PR. Plz review it.
Meanwhile, I'll start working on `tensorflow_datasets/object_detection`.
Thanks.

[2020-03-15 10:26] Eshan-Agarwal commented on #1644
@Conchylicultor  please have a look, and let me know if it requires any correction.

[2020-03-16 04:38] Eshan-Agarwal commented on #1345
@Conchylicultor  Can you please help me please in solving this issue. Is above script is used to create own dataset using `BeamBasedBuilder` ?. If so then for running above code we can use below script ?
`python -m tensorflow_datasets.scripts.download_and_prepare \
  --register_checksums \
  --datasets=my_new_dataset`

Also I have to add data (which I want to add) in my bucket ? Is there is some g

[2020-03-16 13:45] tarrade opened #1656 "'DatasetInfo' object has no attribute 'total_num_examples'.Is this expected or not ?"
**Short description**
Description of the bug.

**Environment information**
* Operating System: Mac
* Python version: 3.7.6
* `tensorflow-datasets`/`tfds-nightly` version: 2.1.0
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: 2.1.0

**Reproduction instructions**

[code]

**Link to logs**
[code]

**Expected behavior**
if I print ds_info I see:
[code]
I can access :
[code]
so I

[2020-03-16 14:18] Eshan-Agarwal commented on #1656
@tarrade  I think this is because when you look on [mnist.py](https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/image/mnist.py#L101) in `_info` function there is no information is provided regarding total_num_examples. Also see [this](https://www.tensorflow.org/datasets/api_docs/python/tfds/core/DatasetInfo). Maybe we can include it their.

[2020-03-16 16:06] Conchylicultor commented on #1656
This is expected. This should be `ds_info.splits.total_num_examples` or `ds_info.splits['train'].num_examples` if you want the number os splits in a single split.

That may be confusing with how the informations get printed, maybe we should remove it from the dataset info, or update `SplitDict.__repr__` to print something like:

[code]

[2020-03-16 16:07] #1656 closed

[2020-03-16 16:26] Conchylicultor commented on #1345
Thank you for looking into this. Can you be more specific about what issue you are encountering ?

The goal is to modify:
`BeamBasedBuilder. _download_and_prepare` defined in `dataset_builder.py`.
`BeamMetadataDict` defined in `dataset_info.py`

using the instructions above. Currently, if you look at `BeamMetadataDict` code, you'll see it write to some tmp dir. The goal is to replace this tmp dir

[2020-03-16 16:46] Conchylicultor commented on #1528
@harshitadd, thank you for the quick implementation. This looks nice. Can you send a PR so I can comment on the code ?

* Not sure how to help without more info (stacktrace, code,...)
* If you have space on your local disk, you could install them locally and test in a local jupyter notebook. Alternatively, there is GCS, but which may be more complicated to set-up https://www.tensorflow.org/dataset

[2020-03-16 16:53] Conchylicultor commented on #1638
@vijayphoenix thank you for testing. I suspect an issue with Ubuntu 16.04, and the specific kokoro setting (e.g. wrong dependency installed or something similar). I haven't really looked if other people had similar error message.

[2020-03-16 17:50] vijayphoenix commented on #1638
FYI: I tested it in Ubuntu 19.10

[2020-03-16 21:10] tarrade commented on #1656
@Conchylicultor Exact, thanks for these explanations. I got confused, as you said, by the info printed. All good.

[2020-03-17 02:25] Eshan-Agarwal commented on #1656
@Conchylicultor  Thanks for clarification. Can I create PR as you said above for updating dataset_info.

[2020-03-17 04:27] Eshan-Agarwal commented on #1345
@Conchylicultor  I am trying to generate above error.  So in above script I am confused in`data_dir`. So for `data_dir` should I store my data in bucket first so that it take it from there ?

okay I will update them, but confused in above code : Above code which we use to update `BeamBasedBuilder._download_and_prepare` is set temp directory of metadata info to `_data_dir` of `BeamBasedBuilder` usi

[2020-03-17 10:33] Eshan-Agarwal commented on #1528
@Conchylicultor  I am working for showing examples for video datasets

[2020-03-17 12:12] vijayphoenix commented on #1562
@lmoroney please close this issue if your problem goes tfds-nightly

[2020-03-17 18:03] Conchylicultor commented on #1345
I'm sorry, but I'm not sure I understood what you're saying. Could you try to rephrase using simpler sentences.

[2020-03-17 18:24] Conchylicultor commented on #1638
Searching online, it seems to be: https://bugs.python.org/issue39430

[2020-03-17 18:30] Eshan-Agarwal commented on #1345
@Conchylicultor thanks for your response, In above code that you given
[code]
What is `Set_temp_dir` function. Is it already defined or I have to define it ?

I am not getting what exactly forwarding mean, is it mean like updating above code in `BeamBasedBuilder. _download_and_prepare` and replace temp_dir by `BeamBasedBuilder._data_dir` which not seems correct , can you please help me understandi

[2020-03-17 21:32] Conchylicultor commented on #1345
By looking at the code, you can see that `set_tmp_dir` does not exists already. This is a new function you have to defined.

`BeamMetadataDict` need to write in a directory accessible by all flume workers. Currently it is writing to a local `/tmp/` file. The goal is to replace this temp_dir by `BeamBasedBuilder._data_dir`. So `BeamMetadataDict` would write in `_data_dir` instead of `/tmp/...`.

Yo

[2020-03-18 00:14] #1404 closed

[2020-03-18 00:18] Conchylicultor commented on #1404
Thank you fox fixing this

[2020-03-18 01:01] Conchylicultor commented on #1361
Closing this as a first version has been created in https://github.com/tensorflow/datasets/pull/1661.

Will create a new issue with the remaining work to do.

[2020-03-18 01:01] #1361 closed

[2020-03-18 01:20] Conchylicultor opened #1666 "[GSoC] Better fake data compression script"
**Context**: Since #1661, we have a script [replace_fake_images.py](https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/scripts/replace_fake_images.py) which compress all images inside our fake data directory by replacing the random noise images by a uniform color image of the same shape/dtype.

**Goal**: However, when applied to our [fake directory](https://github.com/tensorflo

[2020-03-18 01:42] Eshan-Agarwal commented on #1666
@Conchylicultor  I think we can decrease DPI of images so that image sizes will decreases.

[2020-03-18 02:51] Eshan-Agarwal opened #1667 "AttributeError: 'numpy.ndarray' object has no attribute 'mode'"
#1666 In `scripts/replace_fake_images.py` - it raises error :

  File "replace_fake_images.py", line 144, in <module>
    absl.app.run(main)
  File "C:\Users\eshan\Anaconda3\envs\keras-gpu\lib\site-packages\absl\app.py", line 299, in run
    _run_main(main, args)
  File "C:\Users\eshan\Anaconda3\envs\keras-gpu\lib\site-packages\absl\app.py", line 250, in _run_main
    sys.exit(main(argv))
  File "

[2020-03-18 03:10] Eshan-Agarwal commented on #1666
Can we change images dtype like converting all images to jpg will reduce size better

[2020-03-18 03:23] Conchylicultor commented on #1666
The goal of the fake data is to simulate the original dataset. This put some constraints to the transformations:
* Images must be of the same type (jpeg -> jpeg)
* Image must have the same shape (256x256 -> 256x256)
* Image must keep the same number of channel (e.g. RGBA -> RGBA)
* Image must be the same type (np.bool -> np.bool)
* ...

[2020-03-18 03:24] Eshan-Agarwal commented on #1666
@Conchylicultor  I observe that  images whose size increases are in .zip or.tar, because when you see these re compressed .tar and .zip files it contains folders of folders but image size in these folders is reduced  as compare of original

[2020-03-18 03:27] Eshan-Agarwal commented on #1666
Images are not re-compressed in better way

[2020-03-18 03:35] Conchylicultor commented on #1667
Thank you for reporting. I think it should be the `PIL.Image().mode` instead of `np.array().mode`.

[2020-03-18 03:40] Conchylicultor commented on #1666
Yes, this is the issue. The new zip file should have a size smaller or equal to the original size. If the zip file contains smaller files, why would the total zip size be bigger ?

[2020-03-18 03:46] Eshan-Agarwal commented on #1667
@Conchylicultor  yes it is replaced by `PIL.Image.open(filepath)` instead of `np.array().mode`.

[2020-03-18 03:57] Eshan-Agarwal commented on #1666
@Conchylicultor maybe because it makes folders of folders or maybe its compresses in higher size as per parameters passes for compression. I am checking on it and send you pr soon after better compression.

[2020-03-18 05:18] ManishAradwad commented on #1666
```Some JPEG images are also badly compressed by the script (e.g. diabetic_retinopathy_detection/sample/1_left.jpeg)```
@Conchylicultor How did you see the quality of compressed image??

And could it be that the images whose size is increasing after compression are actually having dimensions lower than 256x256(before compression)?

[2020-03-18 06:10] Eshan-Agarwal commented on #1666
I think compression is not done its only create archive, which packed data in same size as images have after compression

[2020-03-18 11:24] Eshan-Agarwal commented on #1666
@Conchylicultor  Some audio files size also increased like `tensorflow_datasets/testing/test_data/fake_examples/savee/AudioData.zip` by 6.58 MB which is huge as it is of `.zip`. But by setting compression to [`ZIP_DEFLATED`](https://docs.python.org/3/library/zipfile.html#zipfile.ZIP_DEFLATED) it solves problem for all type of `.zip files` but for `.tar` there is no parameter like `ZIP_DEFLATED`

C

[2020-03-18 17:41] Conchylicultor commented on #1638
Closing this as we disabled the test, waiting for https://bugs.python.org/issue39430 fix

[2020-03-18 17:41] #1638 closed

[2020-03-18 17:48] Conchylicultor opened #1670 "[GSoC] Tests are failing for PlantVillage and The300wLpTest"
From: https://source.cloud.google.com/results/invocations/9d95e4db-01a3-407e-9afc-3c7105f13740/targets/tensorflow_datasets%2Fgh_testing%2Fcontinuous/log

It seems that some tests are failing for TFDS used with `tf-nightly`:

`PlantVillage`:
[code]

`The300wLpTest`:
[code]

See full logs at: https://source.cloud.google.com/results/invocations/80b640f7-df77-44bb-a034-0ddab98db139/targets

To reprodu

[2020-03-18 18:28] MadhavEsDios commented on #1666
Hey @Conchylicultor, I just started working on this and have submitted a pull request.
To address the concerns that you raised,

1. Increased size of zip / tar files:
I have replaced the
`    # Compressed the .zip file again
    with zipfile.ZipFile(zip_filepath, 'w') as zip_file:
      for file_dir, _, files in os.walk(temp_dir):
        for file in files:
          file_path = os.path.join(file_

[2020-03-19 04:55] Eshan-Agarwal commented on #1670
@Conchylicultor  replacing train split to 35 in `plant_village_test.py` solves problem.

[2020-03-19 05:17] Conchylicultor commented on #1670
@Eshan-Agarwal but in this case, the test will fail for TF2.1. The question is why with TF nightly, there is less examples generated than in TF 2.1 ? This indicates a bug somewhere either in the generation or the reading pipeline.

[2020-03-19 05:46] Eshan-Agarwal commented on #1670
So is it problem with Tf nightly pipeline or with generation and spiting of particular data ?

[2020-03-19 05:58] Conchylicultor commented on #1670
@Eshan-Agarwal I don't know what the actual issue is, nor why it only happen for this particular dataset. Finding it is the goal of the issue.

[2020-03-19 08:02] Eshan-Agarwal commented on #1670
@Conchylicultor In `dataset_builder_testing.py` in[ `_assertNumSamples`](https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/testing/dataset_builder_testing.py#L339) function num_examples generated by `PlantVillage_test.py` is 38 (as given already) and function expect it to be 35. This `expected_num_examples`
comes from `for split_name, expected_num_examples in self.SPLITS.items

[2020-03-19 16:18] Conchylicultor commented on #1670
@Eshan-Agarwal can you try to investigate why those two numbers are different ? e.g. Is `builder.info.splits[split_name].num_examples` printing the correct values ? How many examples are actually written in TF-record ? Are all examples yields properly in `_generate_examples` ? ...

[2020-03-19 17:05] Eshan-Agarwal opened #1678 "tfds.as_numpy() returns zero value arrays for moving_mnist"
**Short description**
tfds.as_numpy(), returns zero size array of image sequences for `moving_mnist` dataset, while returns correct for image dataset like `mnist ` dataset

**Environment information**
* Operating System: <os> Windows 10 (64 bit)
* Python version: <version> 3.7
* `tensorflow-datasets`/`tfds-nightly` version: <package and version> 2.1.0
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`

[2020-03-19 17:10] Eshan-Agarwal commented on #1670
@Conchylicultor  yeah sure, I am looking into it.

[2020-03-19 17:15] Conchylicultor opened #1679 "Update Imagenette to new version"
From https://github.com/tensorflow/datasets/pull/1261#issuecomment-601302108:

[2020-03-19 17:57] Eshan-Agarwal commented on #1679
@Conchylicultor only new version should be kept or both ?

[2020-03-19 18:18] Conchylicultor commented on #1679
If possible, add config for the legacy versions, otherwise, it should be fine to only use the last version.

[2020-03-19 18:35] Eshan-Agarwal commented on #1679
@Conchylicultor  thanks for response adding config like this ?

[code]

[2020-03-19 20:11] Eshan-Agarwal commented on #1679
@Conchylicultor  keeping last version , `imagewoof` dataset is not included in tensorflow. Also there is one `data request` for it #1317 and it have PR #1590, but in this only full-size data is generated 160px or 320px is not included.
Can I include it or send PR for this ?

[2020-03-20 02:59] Eshan-Agarwal opened #1682 "robonet.py was not downloaded after pip install"
**Short description**
I am trying to load `robonet ` dataset after `pip install tensorflow_datasets` (without importing it from cloning repo) but it says no dataset name robonet exist.

**Environment information**
* Operating System: <os> Windows 10
* Python version: <version> 3.7
* `tensorflow-datasets`/`tfds-nightly` version: <package and version>2.1.0
* `tensorflow`/`tensorflow-gpu`/`tf-nightly

[2020-03-20 06:54] harshitadd commented on #1528
Thanks a lot for the inputs ! I have made a PR for the same - Link [https://github.com/tensorflow/datasets/pull/1683](url)
Truncating the audio to a certain length definitely makes the file size quite manageable, so I have added a basic implementation for the same.

[2020-03-20 08:27] Eshan-Agarwal commented on #1670
@Conchylicultor  I observe few things like :

1. `builder.info.splits[split_name].num_examples` not printing correct values it gives 35 and expected was 38 as provided in `plant_village_test.py.` So I further dig in codes and,
2. In `TF-record` 35 examples are written while expected will be 38, for further information about all variables please have a look on this [colab ](https://colab.research.g

[2020-03-20 09:04] Eshan-Agarwal commented on #1670
Also for `the300w_lp_test.py` num_examples is zero hence total_size is also zero so maybe here is something wrong with `_generate_examples`

[2020-03-20 10:16] Eshan-Agarwal commented on #1670
@Conchylicultor

Update : I found the problem it is `_generate_examples` in both files in `plant_leaves.py` and `The300wLpTest ` some of examples are generated but not passed. I fix them soon and send PR

[2020-03-20 11:22] ChanchalKumarMaji commented on #1682
`robonet.py` was added to TFDS in Mar 5, 2020. So, it is not registered in the latest pip package (which was released in Feb, 2020). Instead clone the repo and install it.

[2020-03-20 11:34] Eshan-Agarwal commented on #1682
@ChanchalKumarMaji  Thanks for response

[2020-03-20 11:34] #1682 closed

[2020-03-20 16:01] ChanchalKumarMaji commented on #1482
For drive links downloads can be done by extracting the `id` and creating the download link as -
`https://drive.google.com/uc?id=0B7EVK8r0v71pZjFTYXZWM3FlRnM`

For now `celeb_a` download link shows -
[code]

[2020-03-20 17:33] Conchylicultor commented on #1670
Awesome! Thank you for investigating this! Indeed both datasets are using `tf.io.gfile`.
This is not something we can fix in TFDS so we need to report this to the TF team and wait for them to fix the bug.

[2020-03-20 18:01] Conchylicultor commented on #1682
Or alternativelly `pip install tfds-nightly`

[2020-03-20 18:21] Eshan-Agarwal commented on #1670
@Conchylicultor  I just created this issue in TF please have a look.

[2020-03-20 21:45] Conchylicultor commented on #1670
@Eshan-Agarwal, for people to debug an issue, it is really helpful to provide a small self-contained code snippet which allow to reproduce the issue. Could you provide a colab which demonstrate the issue, without TFDS, without any dependencies, just with `tf.io.gfile`.

[2020-03-20 22:00] #1679 closed

[2020-03-20 23:01] Eshan-Agarwal commented on #1670
@Conchylicultor thanks for suggestions, yes sure I can make a small demo which define given problem and solution with python glob

[2020-03-21 04:32] ChanchalKumarMaji opened #1688 "[data request] ChestXray"
* Name of dataset: `ChestXray`
* URL of dataset: https://nihcc.app.box.com/v/ChestXray-NIHCC
* License of dataset:
* Short description of dataset and use case(s): https://arxiv.org/abs/1705.02315

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests to prioritize.

And if you'd like to contribute the dataset (thank you!)

[2020-03-21 17:40] cyfra commented on #1506
Hey folks,

We really need your help with PR reviewing too.
Especially the ones that are marked with "community:please_review".

This is a great way to get more familiar with the code and give feedback to other community members.

https://github.com/tensorflow/datasets/pulls?q=is%3Apr+is%3Aopen+label%3Acommunity%3Aplease_review

[2020-03-21 17:44] Eshan-Agarwal commented on #1506
@cyfra  Yeah sure, I Will start review as many pr as I can

[2020-03-21 18:03] Ouwen opened #1689 "Adding Beam Dataset, Out of Disk Space on Dataflow using GCS"
**What I need help with / What I was wondering**
I would like to add a dataset for later contribution: https://github.com/Ouwen/datasets/tree/tfds

**What I've tried so far**
Small slices of data locally and on Google Cloud Dataflow work fine. I run the following script:
[code]

**I get the following errors using Data Shuffle.**
[code]
[code]

**If I run without DataShuffle but with 500gb disks on

[2020-03-21 18:33] Eshan-Agarwal commented on #1689
@Ouwen  please have a look on #1345. I think temp location is not accessible for all workers.

[2020-03-21 18:57] Ouwen commented on #1689
@Eshan-Agarwal what would cause the dataset to work on smaller slices with the same number of workers?

[2020-03-21 19:36] Eshan-Agarwal commented on #1689
@Ouwen Okay I think problem is not with issue I mentioned sorry for that, If you are providing data in smaller slices it works than maybe problem is with `tfrecords_writer.py`, I am looking into it and let you know if i find anything. what is size for small slices of dataset also can you provide code for dataset

[2020-03-21 20:43] Ouwen commented on #1689
code is here https://github.com/Ouwen/datasets/tree/tfds

[2020-03-22 03:20] tinyxuyan opened #1690 "How to find the download link for specific datasets?"
The net is quite slow here, therefore, I can not download the datasets through tfds.load command. I want to manually add the datasets to the desired path. However, I can not find the download link for the specific datasets, such as the MNIST.
Hoping someone can teach me how to find the links.
Thanks in advance.

[2020-03-22 04:18] Eshan-Agarwal commented on #1690
@tinyxuyan  please see [here](https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/image/mnist.py#L32) for `mnist ` dataset, you can find links for downloading other dataset manually in `tensorflow_datasets/images(videos/text/audio)`

[2020-03-22 04:23] Eshan-Agarwal commented on #1690
like this is the [link](https://storage.googleapis.com/cvdf-datasets/mnist/train-images-idx3-ubyte.gz) for train images for mnist dataset. And you can see home page for mnist data set also in the file I specified above see [here](https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/image/mnist.py#L110)

[2020-03-22 05:40] tinyxuyan commented on #1690
@Eshan-Agarwal thank you very much

[2020-03-22 05:40] #1690 closed

[2020-03-22 11:18] vijayphoenix opened #1691 "A feature to show relationship between datasets"
As the no. of datasets (~ 200) in tfds is growing, soon it will become harder to iterate over the list of datasets.
So, it would be great if we could add some feature to
* show the relationship between datasets or
* give a hint of what are other similar datasets.

[2020-03-22 13:09] aniketmaurya commented on #1506
@cyfra sure

[2020-03-23 05:38] karolmajek opened #1692 "waymo_open_dataset does not work"
**Short description**
I wanted to use this one: https://www.tensorflow.org/datasets/catalog/waymo_open_dataset
and get:

[code]

**Environment information**
- Colab
- TF2

**Reproduction instructions**
https://colab.research.google.com/drive/1BLw3KWI6NkE19ZnOnO3As6WGUbpTiJ2r

[code]
Result:
[code]

**Expected behavior**
load Waymo Open Datset

[2020-03-23 05:41] karolmajek commented on #1692
CC: @cyfra

[2020-03-23 05:43] Eshan-Agarwal commented on #1692
@karolmajek this is because, it is not registered in the latest pip package (which was released in Feb, 2020). Instead clone the repo and install it.

[2020-03-23 05:44] Eshan-Agarwal commented on #1692
Please see [this](https://github.com/tensorflow/datasets/commit/58dab7d211d259e39951eb6e83b9b50b7daa26b7) `waymo_open_dataset` was added just 4 days ago

[2020-03-23 06:01] karolmajek commented on #1692
I used:
[code]

[2020-03-23 06:30] Eshan-Agarwal commented on #1692
Because when you are importing tensorflow_datasets in colab it will import it from `'/usr/local/lib/python3.6/dist-packages/tensorflow_datasets/` not from your clonned repo

[2020-03-23 06:33] ChanchalKumarMaji commented on #1692
@karolmajek try `!pip install tfds-nightly`.

[2020-03-23 06:55] Eshan-Agarwal commented on #1692
Or you can also uninstall existing `tensorflow_datasets ` because when you call `tfds.load` it try to load from pip package not cloned one see this [colab](https://colab.research.google.com/drive/17xkYF214YWbeqsQbUgujOgrQemwcXqwj)

[2020-03-23 08:10] karolmajek commented on #1692
I cloned repo - it worked.
Thanks!
Any idea how to set configs to get rid of error and download dataset?
Can't find any info about this

[2020-03-23 10:30] cyfra commented on #1692
Hey @karolmajek  - this dataset is still under active development (I should have made it more clear in the comments).

[2020-03-23 10:50] Eshan-Agarwal commented on #1692
@cyfra  thanks for letting us know, I  got `PermissionDeniedError` when passing builder configs manually

[2020-03-23 12:33] colinbebrave opened #1695 "tfds doesn't work"
tfds just doesn't work..
every time I run code like
`tfds.load('ted_hrlr_translate/pt_to_en', with_info=True)`, it would return

[code]

**What I've tried so far**
I upgraded tfds, six, requests, but still no gains.

**Environment information**
* Operating System: macos 10.15.3
* Python version: 3.7.3
* `tensorflow-datasets`/`tfds-nightly` version: 2.1.0
* `tensorflow`/`tensorflow-gpu`/`tf-nightly

[2020-03-23 12:52] Eshan-Agarwal commented on #1695
@colinbebrave  I think there is something wrong in your setup try to re-install things. Please refer this [colab ](https://colab.research.google.com/drive/1-xXtcQnsMBnBrQFBoOZHUmMwaTTgckqC)its work fine

[2020-03-23 13:00] Eshan-Agarwal commented on #1695
Please try to re-install `absl` its work fine on local also

[2020-03-23 13:27] Flamefire opened #1696 "show_examples fails to import matplotlib.pyplot"
**Short description**
`show_examples` leads to an error: "AttributeError: module 'matplotlib' has no attribute 'pyplot'"

**Environment information**
* Operating System: Linux
* Python version: 3.7.4
* `tensorflow-datasets` version: 2.0.0

**Reproduction instructions**

[code]

**Additional context**
https://github.com/tensorflow/datasets/blob/dcaa4c76905bb9eb14b4e0947d1fce15c48aea0f/tensorflow_da

[2020-03-23 13:50] Eshan-Agarwal commented on #1696
@Flamefire, I also encountered this error when running locally but its work fine on colab.

[2020-03-23 13:52] Flamefire commented on #1696
There is a workaround: `import matplotlib.pyplot` anywhere before this. Maybe colab does this by default?

[2020-03-23 14:01] Eshan-Agarwal commented on #1696
Yes you are right it works, but we use lazy imports for importing modules so that we dont need to import them externally.

[2020-03-23 14:06] Flamefire commented on #1696
Yes, and that needs fixing, hence this bug report. I just wanted to show a workaround and an idea why colab works.

A solution could be similar to https://github.com/tensorflow/datasets/blob/dcaa4c76905bb9eb14b4e0947d1fce15c48aea0f/tensorflow_datasets/core/lazy_imports_lib.py#L101-L105 or https://github.com/tensorflow/datasets/blob/dcaa4c76905bb9eb14b4e0947d1fce15c48aea0f/tensorflow_datasets/core/

[2020-03-23 14:08] vamsijan13 commented on #176
I want this dataset for implementing one application

[2020-03-23 14:44] Eshan-Agarwal commented on #1696
Yes it works fine

    _try_import("matplotlib.pyplot")
    return _try_import("matplotlib")

Please check if it works?

[2020-03-23 14:44] colinbebrave commented on #1695
I updated all python packages, but tdfs still kept giving the same warning..

[2020-03-23 14:50] Flamefire commented on #1696
It does work :+1:

[2020-03-23 15:04] Eshan-Agarwal commented on #1696
okay thanks for this bug I will send PR for fixing it

[2020-03-23 15:05] Eshan-Agarwal commented on #1696
@Flamefire  why it is working on colab ?

[2020-03-23 15:11] Flamefire commented on #1696
I can't say as I don't know what colab does. For an idea see https://github.com/tensorflow/datasets/issues/1696#issuecomment-602602989

[2020-03-23 15:25] Eshan-Agarwal commented on #1695
Please create new environment and then after installing all dependencies again try it. Is it works fine in colab as i given ?

[2020-03-23 15:26] Eshan-Agarwal commented on #1692
@karolmajek  Please close this issue if you get your answers

[2020-03-23 16:19] #1692 closed

[2020-03-23 16:37] Conchylicultor opened #1699 "[GSoC] Fix scientific_paper dataset"
**Short description**

Current dataset generation is broken for `scientific_paper`:

[code]

[2020-03-23 16:56] Eshan-Agarwal commented on #1699
@Conchylicultor is this is issue link with dataset url link broken or checksums are wrong or with `_split_generators` ? If you have any idea it will help to fix this issue

[2020-03-23 17:01] Eshan-Agarwal commented on #1699
please see #1645 is this is link with it. I correctly update all links and url_checksums

[2020-03-23 17:07] Conchylicultor commented on #1699
As the stacktrace shows, the issue is during extraction or iteration. After the download:

It think that by updating the files in https://github.com/tensorflow/datasets/pull/1645, it may have broken the dataset generation.

[2020-03-23 17:09] Eshan-Agarwal commented on #1699
Okay I will look into it and correct it as soon as possible

[2020-03-23 17:22] Eshan-Agarwal commented on #1699
@Conchylicultor  I got why this error comes actually this is updated dataset [link](https://drive.google.com/uc?id=1b3rmCSIoh6VhD4HKWjI4HOW-cSwcwbeC&export=download)  you see name of file here is `arxiv-dataset.zip` for arxiv ,which earlier was `arxiv-release.zip`
I just forgot to update this, I will fix it soon

[2020-03-23 17:33] Eshan-Agarwal commented on #1699
I think
[code]
by replacing release with dataset works fine ?

[2020-03-23 17:36] Conchylicultor commented on #1691
Could you provide more context. What do you mean by "relationship between datasets". Is it not what our catalog is doing ? https://www.tensorflow.org/datasets/catalog/overview

[2020-03-23 19:58] Conchylicultor commented on #1699
@Eshan-Agarwal , The only way  know whether this works or not is to generate the dataset with this fix and see if this works.
To demonstrate the dataset was properly generated, could you copy the generated `dataset_info.json` to a gist ?

[2020-03-23 20:03] Eshan-Agarwal commented on #1699
Thanks for your response, Yeah sure i will make changes soon, with dataset_info.json

[2020-03-23 21:42] Eshan-Agarwal commented on #1699
@Conchylicultor  please have a look.

[2020-03-23 23:46] #1696 closed

[2020-03-24 00:35] #1519 closed

[2020-03-24 03:05] colinbebrave commented on #1695
hey Eshan, thanks a lot, I just solved the problem,  check here https://github.com/psf/requests/issues/4613,
i configured the proxy, and there was some illegal characters in proxy configuration.
I am closing this issue.

[2020-03-24 03:05] #1695 closed

[2020-03-24 04:37] kabirwalia8300 commented on #1688
Hey I'd like to work on adding this dataset

[2020-03-24 04:49] ChanchalKumarMaji commented on #1688
Thank you ! :smiley: . Go ahead !

[2020-03-24 04:54] ChanchalKumarMaji commented on #1691
I think there should be a search button for tfds similar to tf-hub. Instead of linearly searching through all the datasets one can find them by other prefix search techniques.

[2020-03-24 09:13] vijayphoenix commented on #1691
That's a nice idea.

I meant we could have some `Tags` for each dataset which will allow the user to filter the datasets.

For example,

![image](https://user-images.githubusercontent.com/41972768/77408184-56390980-6ddd-11ea-8f26-938c038283ff.png)

[2020-03-24 11:04] kabirwalia8300 commented on #1688
Hey I was facing a problem with create_new_dataset.py. As I was getting the error
**ModuleNotFoundError: No module named 'tensorflow_datasets'**
I followed the suggestion in #1544
But I continue to get the following error

**Traceback (most recent call last):
  File "tensorflow_datasets/scripts/create_new_dataset.py", line 38, in <module>
    from tensorflow_datasets.core import naming  # pylint:

[2020-03-24 15:40] Conchylicultor commented on #1691
I think adding some tagging mechanism could make sense. Not sure when we'll have time to work on this though.

There are still some question though, like how to decide which tags apply. Should the tags be user-defined ? If so, there is a risk that tags won't be consistent across datasets. If tags are pre-defined, it doesn't seems different from our current catalog section.

[2020-03-24 17:02] vijayphoenix commented on #118
@Conchylicultor @cyfra Please review #1706

[2020-03-24 17:58] vijayphoenix commented on #827
@Conchylicultor please review #1583.
Thank you

[2020-03-24 18:04] Conchylicultor opened #1707 "[GSoC] download_and_prepare.py ignore the dataset version"
When explicitly setting the dataset version in the name, the `download_and_prepare --datasets=ds_name:version` script should try to generate the given version (and fail if the version cannot be generated).

Currently, it silently overwrite the version number:

Example:
[code]
In the logs, it seems it generates `1.1.1`:
[code]

[2020-03-24 18:06] Conchylicultor opened #1708 "[GSoC] TFDS should fail when user try to generate an old version"
TFDS only support generation of dataset for the last versions.

We should make sure to raise an error here if the user try to generate an older version. The `download_and_prepare()` function should be updated here to raise an error: https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/dataset_builder.py#L290

A version can only be installed if the version is the `self.canoni

[2020-03-24 18:16] Eshan-Agarwal commented on #1708
@Conchylicultor  I am working on it, send you pr soon, We have to allow only these two `self.canonical_version` or the `max(self.versions)` ?

[2020-03-24 18:21] Eshan-Agarwal commented on #1708
Also can you please give a name of dataset which have these versions for testing purpose

[2020-03-24 18:24] Conchylicultor commented on #1708
Thank you for looking into this.

@Eshan-Agarwal yes, this is correct.

For testing, you should add a unittest in `dataset_builder_test.py` to make sure this works properly.

[2020-03-24 18:26] Eshan-Agarwal commented on #1708
@Conchylicultor  thanks for your quick response, working on it

[2020-03-24 19:00] Conchylicultor opened #1709 "[GSoC] Split `tfds.image` in smaller sections"
As the number of dataset is growing, it becomes harder to find images dataset: https://www.tensorflow.org/datasets/catalog/overview#all_datasets

We should try to split the image section into multiple ones. I think we should move all images datasets which have a `ClassLabel` into a new `image_classification` section.

As example, this was already done once for the object_detection section in https

[2020-03-24 19:01] vijayphoenix commented on #1707
@Conchylicultor I think this bug occurs because `version` is set to `None`
https://github.com/tensorflow/datasets/blob/886532109ab2a9dbfdd124c91455330542569040/tensorflow_datasets/scripts/download_and_prepare.py#L178.

If you agree, I can make a PR for the same.

[2020-03-24 19:21] Conchylicultor commented on #1707
Thank you for looking into this. There might be a conflict between version set here and the one defined passed in: https://github.com/tensorflow/datasets/blob/886532109ab2a9dbfdd124c91455330542569040/tensorflow_datasets/scripts/download_and_prepare.py#L183
`tfds.builder('name:1.2.0')` should be valid.

If you send a PR, could you check before that this is working as expected on the `scientific_pap

[2020-03-24 19:26] Eshan-Agarwal commented on #1708
@Conchylicultor  in the link above by replacing `self.versions` with `self.canonical_version or  max(self.versions)`  can work ?

[2020-03-24 19:32] vijayphoenix commented on #1709
@Conchylicultor I think some more datasets like `lfw` should be a part of `image_supervised` section, right?

[2020-03-24 20:05] Conchylicultor commented on #1709
Yes, you're right `lfw` should be supervised.

For `supervised_keys`, I'll say it's depend if the second key is a label or not. For instance if `supervised_keys=(image1, image2)`, then it shouldn't be added in the new section.

You're right that this might be confusing. I think `image_supervised` could be renamed `image_classification` instead.

[2020-03-24 20:27] #1397 closed

[2020-03-24 20:42] vijayphoenix commented on #1707
@Conchylicultor Please review #1712
Thank you

[2020-03-24 20:45] Eshan-Agarwal commented on #1707
it works fine for me it shows

[2020-03-24 20:49] vijayphoenix commented on #1707
Do you run this?
[code]
and it should fail for
[code]

[2020-03-24 20:52] Eshan-Agarwal commented on #1707
yes I run for `scientific_papers:1.1.0` and its shows me correct logs but for `scientific_papers:1.1.5` its not failing instead shows correct logs

[2020-03-24 21:10] Conchylicultor opened #1716 "[GSoC] Update checksums for missing urls"
Thanks to https://github.com/tensorflow/datasets/commit/5a8ee376c39a885c9132cdd22a8b2669febe6366 (https://github.com/tensorflow/datasets/issues/1397), we now check that all urls from `dl_manager.download()` are correctly registered.

However, some of the urls are not registered for some of our datasets. We should generate the checksums for the missing urls by running `download_and_prepare` script

[2020-03-24 21:12] vijayphoenix commented on #1707
It should fail for incorrect versions.

[2020-03-24 21:18] Conchylicultor commented on #1707
The issue is that when running:

[code]
It generate `1.1.1` instead of `1.1.0`

[2020-03-25 03:05] Eshan-Agarwal commented on #1707
@Conchylicultor  yes I know and when I was running above download_and_prepare script locally with dataset version it shows me correct logs but it also shows correct logs if I enter wrong version

[2020-03-25 03:17] Eshan-Agarwal commented on #1716
wmt_test.py also have skip_checksum = True because its checksum is defined individually like in wmt_19 etc, so no need to cahnge ?

[2020-03-25 03:22] Eshan-Agarwal commented on #1716
Also it shows `skip_checksum = True` for `wikipedia_test.py ` but wikipedia have correct checksum file
[see](https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/url_checksums/wikipedia.txt)

[2020-03-25 03:31] Conchylicultor commented on #1716
@Eshan-Agarwal

* wmt shouldn't be updated.
* If you run the wikipedia tests, there is one missing url.

[2020-03-25 03:35] Eshan-Agarwal commented on #1716
thanks for your response, we have to update checksums for existing wikipedia.txt or create new one ?

[2020-03-25 03:49] Conchylicultor commented on #1716
Update the existing one. This is the only way to make tests pass.

[2020-03-25 03:53] Eshan-Agarwal commented on #1716
@Conchylicultor  Thanks for reply, please have a look on PR #1718 I think checksum should be update in sun397 ?

[2020-03-25 03:58] Conchylicultor commented on #1716
@Eshan-Agarwal Nice catch, I'll update this internally when merging the dataset.

[2020-03-25 04:08] Eshan-Agarwal commented on #1716
Thanks for looking into this

[2020-03-25 04:47] vijayphoenix commented on #1716
The tests fail in sun_test.txt fail because the name of url_checksums doesn't match. Updating url_checksums in sun397.txt doesn't work for me.

[2020-03-25 05:37] Ouwen commented on #1689
@Conchylicultor sorry to bother you with this. I'm just wondering if beam datasets will write to a local tmp directory before writing into a GCS path.

[2020-03-25 06:40] vijayphoenix commented on #1716
@Conchylicultor Please see the code [here](https://colab.research.google.com/drive/1kdqmjjp-Omg3GfKO4FthubegCnJUrNqf)

I am unable to make a `url_checksum file` with `--register_checksums=True`.
Is this a bug?

[2020-03-25 09:26] Eshan-Agarwal opened #1724 "dataset_builder_test fails"
**Short description**
Running `!python ./tensorflow_datasets/core/dataset_builder_test.py` fails (After uninstalling pip package of tfds). otherwise tests fails

**Environment information**
* Operating System: <os> Colab
* Python version: <version>
* `tensorflow-datasets`/`tfds-nightly` version: <package and version>
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: <package a

[2020-03-25 09:27] Eshan-Agarwal commented on #1724
@Conchylicultor  please review this PR #1725
Thank you

[2020-03-25 10:44] Eshan-Agarwal commented on #1716
@vijayphoenix  why are you removing `mnist.txt` using `!rm -rf ./tensorflow_datasets/url_checksums/mnist.txt`

[2020-03-25 10:49] vijayphoenix commented on #1716
Because I want to create it again using `register_checksums` flag

[2020-03-25 10:52] vijayphoenix commented on #1724
Run `pip install -e .` before running the tests.

[2020-03-25 11:01] Eshan-Agarwal commented on #1716
I think` register_checksums` flag not create directory its only update existing one if it not find checksums files. If I am wrong please correct me ?

[2020-03-25 11:18] Eshan-Agarwal commented on #1716
If i remove mnist.txt contents and run download_and_prepare using register_checksums = True it raiese this error :

  File "/content/datasets/tensorflow_datasets/testing/test_utils.py", line 199, in decorated
    f(self, *args, **kwargs)
  File "/content/datasets/tensorflow_datasets/testing/dataset_builder_testing.py", line 280, in test_download_and_prepare_as_dataset
    self._test_checksums()

[2020-03-25 12:25] vijayphoenix commented on #1716
No, it should work fine for both deleted and modified files

[2020-03-25 16:04] preeti13456 commented on #1724
Done
https://colab.research.google.com/drive/1d06UQYHoV5yaTGvNJaRsHYjEQKZNCcoX#scrollTo=-tHNmifLbROF

[2020-03-25 16:09] preeti13456 commented on #1724
Done
https://colab.research.google.com/drive/1d06UQYHoV5yaTGvNJaRsHYjEQKZNCcoX

[2020-03-25 16:11] preeti13456 commented on #1688
Want to contribute

[2020-03-25 16:28] Conchylicultor commented on #1689
The issue seems to be that we pre-load the metadata locally by creating a temporary folder: https://github.com/tensorflow/datasets/blob/e4aa686a4d623464cc5861464c6fbee6f3152e17/tensorflow_datasets/core/dataset_info.py#L428

From the comment, it seems that was done because of colab. However, it seems that dataflow workers do not have temporary disk.

The solutions I see would be to update the code

[2020-03-25 16:32] Eshan-Agarwal commented on #1724
thanks for suggestions I forgot about developer mode and its work fine

[2020-03-25 16:32] #1724 closed

[2020-03-25 16:38] Conchylicultor commented on #1689
To answer your question, Dataflow may create intermediate artefacts to checkpoint the different step of the Beam pipeline or if the pipeline computation do not fit in memory.
We do not have control over this.

However from TFDS side, the final data is written directly in the `data_dir` path which should be a GCS path.

To be complete, the data is generated in a temp directory (`data_dir + .tmpsuff

[2020-03-25 16:44] Conchylicultor commented on #1689
Also what is this `duke_ultranet/dynamic_rx_beamformed` dataset ?
It doesn't seems to be an official dataset is it ? Could it be possible that the implementation write to temp dir ?

[2020-03-25 19:04] vijayphoenix commented on #1716
@Conchylicultor some parts of the issue are not solved.
Also, please see the code [here](https://colab.research.google.com/drive/1kdqmjjp-Omg3GfKO4FthubegCnJUrNqf)
I am unable to modify a `url_checksum` file with `--register_checksums=True`.
Is this a bug?

[2020-03-25 20:12] Ouwen commented on #1689
The `duke_ultranet/dynamic_rx_beamformed` is a new dataset I'm in the process of creating for a manuscript. The current implementation reads from a GCS bucket and writes to a GCS bucket using google cloud dataflow (their apache beam implementation).

When I run dataflow with Google's data shuffle feature there may be some out of disk error that occurs. However, my understanding is that data shuffl

[2020-03-25 20:14] Ouwen commented on #1689
One last question for you, once I create the manuscript the shard size is about 700MB each. However, when I load the dataset it seems to take up over 20GB of RAM on my machine. Does `tfds` perform implicit prefetching that we can turn off?

[2020-03-26 00:14] Conchylicultor commented on #1667
Closing this as this has been fixed

[2020-03-26 00:14] #1667 closed

[2020-03-26 01:29] Conchylicultor commented on #1689
From the stacktrace, you copied above, this seems unrelated. The error is about the metadata loading when the builder gets unpickled.
If you're using`BeamMetadataDict` in your dataset, you may encounter #1345, but difficult to know without the source code.

Currently it does in: https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/dataset_builder.py#L566

You could add an op

[2020-03-26 09:07] preeti13456 commented on #1688
Data Exploration to be done with or without keras?

[2020-03-26 10:30] vijayphoenix commented on #1688
@preeti13456 yes, you can use keras.
For any external dependence read [tfds.core.lazy_imports](https://www.tensorflow.org/datasets/add_dataset#extra_dependencies)

[2020-03-26 10:55] Disciple7 commented on #702
Is there any one still handle this? Cause I come up with the same confusion

[2020-03-26 10:55] Disciple7 commented on #702
Is there any one still handling this? Cause I come up with the same confusion

[2020-03-26 15:28] Conchylicultor commented on #702
Note that TFDS subwords encoders should be considered deprecated. Please use tensorflow_text instead which is better supported and tested and don't have some of the bugs from here.
https://www.tensorflow.org/tutorials/tensorflow_text/intro

[2020-03-26 16:08] Conchylicultor commented on #1716
@vijayphoenix why are you trying to register checksums for mnist ? Mnsit don't have `SKIP_CHECKSUMS = True` no ?

[2020-03-26 17:14] vijayphoenix commented on #1716
@Conchylicultor I was just trying to show that `url_checksums` file does not update with `--register_checksums=True` in case of datasets like MNIST and Wikipedia on Colab as well as my local workstation.
But `url_checksums` file gets updated with `--register_checksums=True` for datasets like `crema_d` on both colab (updated [link](https://colab.research.google.com/drive/1kdqmjjp-Omg3GfKO4FthubegCn

[2020-03-26 18:51] Conchylicultor commented on #1716
@vijayphoenix
Oh, I see what you mean. My bad. The reason is that wikipedia and mnist are directly loaded from our GCS bucket: https://pantheon.corp.google.com/storage/browser/tfds-data/datasets/
So the original files are not downloaded.

You can pass `tfds.download.DownloadConfig(try_download_gcs=False)` to `tfds.load` to disable auto-loading

[2020-03-26 18:54] preeti13456 commented on #1688
Done
https://github.com/preeti13456/Projects-and-research/blob/master/GsocTensorflow.ipynb

[2020-03-26 18:55] preeti13456 commented on #1708
Interested

[2020-03-26 18:59] preeti13456 commented on #1708
https://github.com/preeti13456/Projects-and-research/blob/preeti13456-patch-1/DatasetBuilder.ipynb

[2020-03-26 22:44] AmirYalamov commented on #1530
Hi, I would like to take part in GSoC and I'd to tackle this issue; is it still being worked on?

[2020-03-26 22:45] Ouwen commented on #1689
Thanks for the help. The ReadConfig interleave parallel and block length defaulting to 16 was the source of greedy ram usage. Simply decreasing these params solved the ram issues.

[2020-03-27 16:11] Gsunshine opened #1739 "Load ImageNet from processed tfrecord files via tfds.load."
**What I've tried so far**
Since ImageNet changed its rule of downloading the dataset, I could not directly access the dataset via tfds.load. I followed [URL](https://cloud.google.com/tpu/docs/imagenet-setup) to transform local ImageNet 2012 dataset to tfrecord files. However I find it seems to be incompatible with current tfds API, especially tfds.load.

I cannot load those tfrecord files through

[2020-03-27 16:21] Eshan-Agarwal commented on #1739
You have to manually download `imagenet2012` dataset by register it [here ](http://www.image-net.org/download-images).

[2020-03-27 16:27] Gsunshine commented on #1739
I have a downloaded one. However there are no tar files left except extracted images. It seems incompatible to set the manual_dir to it via download_and_prepare_kwargs={'download_config':tfds.download.DownloadConfig(manual_dir=flags.FLAGS.manual_dir)}

[2020-03-27 17:14] vijayphoenix commented on #1670
I see that this issue has been fixed as tests are back to green :smile:

[2020-03-27 17:19] Conchylicultor commented on #1670
Great \o/ !! Thank you @Eshan-Agarwal for helping fixing this.

[2020-03-27 17:19] #1670 closed

[2020-03-27 17:21] Eshan-Agarwal commented on #1670
@Conchylicultor  @vijayphoenix  Yes tests are green Thanks To TF team.

Thank you

[2020-03-27 17:25] tigerneil commented on #414
`~/.keras/datasets` is the path for TF latest versions.

[2020-03-27 17:37] Conchylicultor opened #1741 "[GSoC] Update Groove and Nsynth to use tfds.features.Audio"
It seems that groove dataset is currently using `tfds.features.Tensor` to store the audio. For consistency with other datasets, we should use `tfds.features.Audio` instead.

https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/audio/groove.py#L135

[2020-03-27 17:40] Eshan-Agarwal commented on #1741
@Conchylicultor  woking on it,

[2020-03-27 20:13] vijayphoenix commented on #1741
We can update `nsynth` dataset also.

[2020-03-27 20:24] Eshan-Agarwal commented on #1566
@JobCollins  please close this issue if your problem get solved.

[2020-03-28 00:04] Conchylicultor commented on #1566
Closing this. Please re-open if the issue wasn't solved

[2020-03-28 00:04] #1566 closed

[2020-03-28 01:02] Conchylicultor commented on #1741
@vijayphoenix you're right. Thank you for catching this

[2020-03-28 03:57] Gsunshine commented on #1739
Thanks for your suggestions!

However, google tpu team provides a series data loader & protocal for ImageNet 2012. See [tpu inception v3](https://github.com/tensorflow/tpu/blob/master/models/experimental/inception/inception_v3.py) and [imagenet_to_gcs.py](https://github.com/tensorflow/tpu/tree/master/tools/datasets). Should tfds support their protocal as a standard method to load ImageNet 2012?

N

[2020-03-28 04:04] Conchylicultor commented on #1739
@Gsunshine did you tried the link you pasted ? The link seems broken http://www.image-net.org/challenges/LSVRC/2012/nnoupb/ILSVRC2012_img_val.tar

[2020-03-28 04:05] Conchylicultor commented on #1739
Closing this for know. Please re-open if you find direct link to download imagenet.

[2020-03-28 04:05] #1739 closed

[2020-03-28 05:19] ChanchalKumarMaji opened #1749 "[data request] Credit Card Fraud Detection"
* Name of dataset: Credit Card Fraud Detection
* URL of dataset: https://www.kaggle.com/mlg-ulb/creditcardfraud
* License of dataset: https://opendatacommons.org/licenses/dbcl/1.0/
* Short description of dataset and use case(s):

The datasets contains transactions made by credit cards in September 2013 by european cardholders.
This dataset presents transactions that occurred in two days, where we

[2020-03-28 05:32] Eshan-Agarwal commented on #1749
Thank you for requesting this dataset I want to work on it I will send you PR soon

[2020-03-28 07:46] Gsunshine commented on #1739
@Conchylicultor I used a downloaded ImageNet cached locally.

Though ImageNet changed its protocal to download the dataset, I think kwargs like user_name=None and password=None could be added to tfds.load for automatically download the dataset as what [imagenet_to_gcs.py](https://github.com/tensorflow/tpu/tree/master/tools/datasets) did.

An interface to coordinate with the tfrecord files from goo

[2020-03-28 12:19] cyfra commented on #1678
I've verified, and it seems to be working fine. The dataset has a lot of 0s, but there are non-zero values too.
Try plotting the result:

import matplotlib.pyplot as plt
for example in tfds.as_numpy(ds):
    #print(example)
    plt.imshow(np.squeeze(example['image_sequence'][0]))
    break

[2020-03-28 12:26] Eshan-Agarwal commented on #1678
@cyfra thanks for helping me ,  Yes its working fine, I should check the results after plotting because of lots of zeros.
Closing this issue as it's works fine

[2020-03-28 12:26] #1678 closed

[2020-03-28 12:48] cyfra commented on #1610
Hey @MadhavEsDios

Thanks for contributing to tfds ! to answer your questions:

1) When MANUAL_DOWNLOAD_INSTRUCTIONS are not set, you should have gotten this Exception:
https://github.com/tensorflow/datasets/blob/e4aa686a4d623464cc5861464c6fbee6f3152e17/tensorflow_datasets/core/download/download_manager.py#L383

For passing the argument to the download_and_prepare:
If you have good ideas on how to

[2020-03-28 12:50] cyfra commented on #1444
This was a duplicate of #831

[2020-03-28 12:50] #1444 closed

[2020-03-28 15:12] shikhar2707 opened #1752 "[data request] <Brain Tumor Data>"
* Name of dataset: <Brain Tumor Segmentation Data>
* URL of dataset: [https://www.med.upenn.edu/sbia/brats2018]
* License of dataset: <MIT License>
* Short description of dataset and use case(s): <BraTS 2018 utilizes multi-institutional pre-operative MRI scans and focuses on the segmentation of intrinsically heterogeneous (in appearance, shape, and histology) brain tumors, namely gliomas. Furthemo

[2020-03-28 15:16] Eshan-Agarwal commented on #1752
@shikhar2707  please check your links it's broken.

[2020-03-28 15:53] aradhyamathur opened #1753 "[GSOC] Checksum mismatch for Pix3D"
While implementing the dataset for Pix3D I run into error due to a checksum mismatch from the DownloadManager. The error is as follows -

`~/anaconda3/envs/gsoc/lib/python3.7/site-packages/tensorflow_datasets-2.1.0-py3.7.egg/tensorflow_datasets/core/download/download_manager.py in callback(val)
    260       checksum, dl_size = val
    261       return self._handle_download_result(
--> 262

[2020-03-28 16:02] Eshan-Agarwal commented on #1753
@aradhyamathur  are you following instructions provided [here ](https://www.tensorflow.org/datasets/add_dataset) properly for implementing dataset ?

Please provide some code

[2020-03-28 16:04] shikhar2707 commented on #1752
Updated!

[2020-03-28 16:05] vijayphoenix commented on #1753
Use `--register_checksum=True` while preparing a dataset for the first time

[2020-03-28 16:08] shikhar2707 commented on #1753
python -m tensorflow_datasets.scripts.download_and_prepare --registrer_checksums=True --datasets='dataset_name'

This command line too will work!

[2020-03-28 16:09] Eshan-Agarwal commented on #1753
Yes this is exactly you have to pass when implementing new dataset

[2020-03-28 16:35] vijayphoenix commented on #1366
@dojipkim Please close the issue if your problem is solved

[2020-03-28 19:24] Conchylicultor commented on #1739
Did you tried to run the `imagenet_to_gcs.py` script ? It tried to download  http://www.image-net.org/challenges/LSVRC/2012/nnoupb/ILSVRC2012_img_val.tar which is not a valid url.

https://github.com/tensorflow/tpu/blob/master/tools/datasets/imagenet_to_gcs.py#L78

[2020-03-29 04:45] Gsunshine commented on #1739
@Conchylicultor I used a locally cache ImageNet2012 that has been extracted as images.

My account is still under check by ImageNet thus I do not know if it could really download ImageNet2012. But this scripts could handle normally extracted image files and transform images to  tfrecord.

I think at least tfds should support an API to automatically process local cached extracted images without tar

[2020-03-29 12:59] aradhyamathur commented on #1753
Thanks

[2020-03-29 13:00] ManishAradwad commented on #1699
Looks like this issue has been fixed. Could someone plz close it.

[2020-03-29 13:01] Eshan-Agarwal commented on #1753
@aradhyamathur  If it solves your issue please close this issue

[2020-03-29 13:02] Eshan-Agarwal commented on #1699
Yes @Conchylicultor  please close this

[2020-03-29 13:05] #1753 closed

[2020-03-29 13:19] ManishAradwad opened #1754 "Minor error in sentence in `add_dataset.md`"
Under [`DatasetBuilder`](https://github.com/tensorflow/datasets/blob/master/docs/add_dataset.md#datasetbuilder), there is a sentence:

```Most datasets subclass tfds.core.GeneratorBasedBuilder, which is a subclass of tfds.core.DatasetBuilder that simplifies defining a dataset. It works well for datasets that can be generated on a single machine. ```

I think it should be ```Most datasets are defin

[2020-03-29 14:18] aradhyamathur opened #1756 "[GSOC] Pix3D dataset implementation"
I was successfully able to partially create a new dataset for Pix3D,  [link to commit](https://github.com/tensorflow/datasets/commit/c034a193967d6d72152196708a5638e546e320f4) Pix3D contains images, masks and models. I was able to create the split generator for images and masks since they both can be treated  as Image features. However, currently there are no implementations for 3D Models as featur

[2020-03-29 14:25] Eshan-Agarwal commented on #1756
link to commit is not correct I think it is for `wiki40b.py` can you please check

[2020-03-29 14:28] aradhyamathur commented on #1756
thanks, updated

[2020-03-29 15:35] shikhar2707 opened #1757 "Error in implementing some datasets"
Upon implementing some datasets such as Pix3D for the first time, one ends up with an error showing-
`NonMatchingChecksumError: Artifact http://pix3d.csail.mit.edu/data/pix3d.zip, downloaded to ./pix3d.csail.mit.edu_pix3d4gh-bf6GMM2oHrBcmQyos_K1PupfuBITgTic9qdZ2Xc.zip.tmp.3b8459f449b34fc68ed246e8c371495f/pix3d.zip, has wrong checksum.`

Hence, I'll be sending a PR correcting the issue. Check if it

[2020-03-29 15:43] Eshan-Agarwal commented on #1757
I think adding these comments here is not necessary, as this is example for how to use tfds to load data not implement it. Also [here](https://github.com/shikhar2707/datasets/blob/984c8b233a4550324ff7941ed8bb149e1984692b/README.md#want-a-certain-dataset) it clearly mention these things

[2020-03-30 05:37] ashutosh1919 opened #1762 "Improve the TFDS Getting Started Documentation"
Duplicate of issue [#37330](https://github.com/tensorflow/tensorflow/issues/37330) from tf repo.
As per @lamberta's [#37330 comment](https://github.com/tensorflow/tensorflow/issues/37330#issuecomment-597806716), this issue is opened so that  issue on tf repo can be closed and this will be monitored.
PR #1633  will fix this issue.

[2020-03-30 05:38] ashutosh1919 commented on #1762
@Conchylicultor , please review PR #1633 .

[2020-03-30 06:58] JobCollins commented on #1566
Sorry that this escaped me. Thank you @vijayphoenix I was able to download the data. Currently on conversion. I will re-open this when I need more help.

[2020-03-30 11:44] shikhar2707 opened #1765 "Wrong sentence formation in colab notebook"
The line underneath tfds.load() says
tfds.load() is a convenient method that is, the simplest way to build and load a `tf.data.Dataset.`
Doesnt seem a correctly formed sentence.
I have sent a PR regarding this. @Conchylicultor please check if it is okay.

[2020-03-30 16:47] Rubix982 commented on #1506
Please assign this post a label called 'gsoc2020', or just simply 'gsoc' since it might help to lookup for beginners and contributors interested coming here. I could not find this from Google's Search, and came here through Gitter.

[2020-03-30 17:12] Rubix982 commented on #1757
There doesn't really seem to be a reason for this issue. As @Eshan-Agarwal mentioned, following that link leads me to [add_dataset.md](https://github.com/tensorflow/datasets/blob/master/docs/add_dataset.md), which is basically a whole README.md concerned with addressing issues like this, and yes, `--register_checksums` is mentioned there.
You can however write on [add_dataset.md](https://github.co

[2020-03-30 18:02] hrishikeshmane commented on #1688
I am working on CheXNet right now. Might as well add the dataset to TFDS as a part of my GSOC project.

[2020-03-30 20:11] #1699 closed

[2020-03-30 23:55] jason-zl190 commented on #1225
the lastest PR  #1769

[2020-03-31 10:07] sayakpaul commented on #486
I was able to execute on cloud v3 TPUs using local files. An example here: Hi.

I was able to execute on Cloud v3 TPUs using local files. An example here: https://github.com/sayakpaul/Generating-categories-from-arXiv-paper-titles/blob/master/TPU_Experimentation.ipynb.

[2020-03-31 12:46] shikhar2707 commented on #1752
Dataset details are updated again.

[2020-03-31 15:03] shikhar2707 opened #1771 "[GSoc Dataset Request] <COVID-19 Complete Dataset>"
* Name of dataset: COVID-19 Complete Dataset
* URL of dataset: <https://www.kaggle.com/imdevskp/corona-virus-report>
* License of dataset: None
* Short description of dataset and use case(s): <A new coronavirus designated 2019-nCoV was first identified in Wuhan, the capital of China's Hubei province
People developed pneumonia without a clear cause and for which existing vaccines or treatments were

[2020-03-31 15:15] sanchittechnogeek opened #1772 "[data request] Princeton ModelNet"
* Name of dataset: Princeton ModelNet
* URL of dataset: https://modelnet.cs.princeton.edu/
* License of dataset: Academic research, see website for more details
* Short description of dataset and use case(s): The goal of the Princeton ModelNet is to provide researchers in computer vision, computer graphics, robotics and cognitive science, with a comprehensive clean collection of 3D CAD models for

[2020-04-01 10:26] kubaas commented on #176
I am requesting this dataset

[2020-04-01 11:12] Flowhill opened #1781 "[Stanford_dogs] No examples yielded"
**Short description**
When performing the following snippet of code:
`tfds.load("stanford_dogs")`

the error: _AssertionError("No examples were yielded.")_ is thrown

**Environment information**
* Operating System: Windows 10
* Python version: 3.6.10 |Anaconda, Inc.| (default, Mar 23 2020, 17:58:33) [MSC v.1916 64 bit (AMD64)]
* `tensorflow-datasets`/`tfds-nightly` version: tensorflow-datasets=2.1

[2020-04-01 11:20] Eshan-Agarwal commented on #1781
@Flowhill  It's working fine please recheck I think there is some issue with your system refer this [colab ](https://colab.research.google.com/drive/1uZa2NDJE00fpTFsky6UKVwl_cixr_vgQ) notebook.

[2020-04-01 11:42] Flowhill commented on #1781
It does indeed seem to work via colab.
Reinstalled tfds `pip uninstall tensorflow_datasets pip install tensorflow_datasets` and tried plant_village. It throws the same error.
This is done on a clean conda environment having installed tensorflow, tensorflow-gpu and pip installing tensorflow_datasets (as the anaconda cloud has an outdated version of it)

_Dl Completed...: 100%|██████████████████████

[2020-04-01 12:55] Eshan-Agarwal commented on #1781
I am not sure it helps but I think problem is with `tf.io.gfile.glob()` [here ](https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/image_classification/plant_village.py#L142) can you please replace it with `glob.iglob()` after` import glob`.

[2020-04-01 13:05] Flowhill commented on #1781
Could you clarify this a bit? I'm not exactly sure what you mean.

[2020-04-01 13:10] Eshan-Agarwal commented on #1781
There is a problem with `tf.io.gfile.glob()` it's not matching some patterns but problem was solved by TF team, Alternative solution to this s using `glob()` as I defined above but we can't use it because we want support for GCS but in your case you can try it so we can catch where you got error.

Are you able to extract the data ? please check and let me know, you can find extracted data here `C:

[2020-04-01 14:22] Eshan-Agarwal opened #1783 "Error while extracting long named datasets."
**Environment information**
* Operating System: <os> Windows 10
* Python version: <version>
* `tensorflow-datasets`/`tfds-nightly` version: <package and version> 2.1.0
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: <package and version> 2.1.0

**Short description**
Got extract error when try to extract `plant_village` dataset using `tfds.load()`. This error occurs because p

[2020-04-01 15:19] Flowhill commented on #1781
I am able to extract the data:

 Directory of C:\Users\Flowhill\tensorflow_datasets\downloads\extracted

01/04/2020  14:29    <DIR>          .
01/04/2020  14:29    <DIR>          ..
01/04/2020  14:28    <DIR>          TAR.vision.stanfor.edu_aditya8_ImageNe_annotatZi7Tb3B75rGVwv2jktjhU-g68oztyOITSmSfGY3vMP0.tar
01/04/2020  14:28    <DIR>          TAR.vision.stanfor.edu_aditya8_ImageNe_listsNLR8rNmp

[2020-04-01 15:20] Eshan-Agarwal commented on #1781
So is it working ?

[2020-04-01 15:48] Flowhill commented on #1781
Ok so I found the file in ~\anaconda3\envs\tf-gpu\Lib\site-packages\tensorflow_datasets\image called plant_village.py and replaced the line `for fpath in tf.io.gfile.glob(glob_path):` to `for fpath in tf.io.gfile.iglob(glob_path):`
This is what you wanted me to do right? If not could you repeat what you want me to do?
I did not see a line that said import glob.

[2020-04-01 15:50] Eshan-Agarwal commented on #1781
Just do this `import glob` at top, then replace  `tf.io.gfile.glob` with `glob.iglob()`

[2020-04-01 16:06] Flowhill commented on #1781
Yes it works! Thank you very much, you are a blessing!

Let me summarize:
My problem was using a fresh anaconda environment created by:
`conda create --name <name> tensorflow tensorflow-gpu`
and
`pip install tensorflow-datasets`

Error:
_raise AssertionError("No examples were yielded.")
AssertionError: No examples were yielded._

Occurred with the following code:
`import tensorflow_datasets as tfd

[2020-04-01 16:31] Eshan-Agarwal commented on #1781
@Flowhill  Thanks you for showing results, actually its not good to use `glob.iglob `we have to use `tf.io.gfile` because to provide  GCS support.
Are you tried to reinstall TF ? because they fix this issue, But pip package is not updated yet so you can simply use `pip install tensorflow==2.2.0rc2` and not to change `tf.io.gfile`
But its fine if you able to work with `glob.iglob()` as in future up

[2020-04-01 16:54] Flowhill commented on #1781
Updating tensorflow using `pip install tensorflow==2.2.0rc2` solves the `tf.io.gfile` problem.
The original stanford_dogs problem is still there.
I've tried to check whether somethign goes wrong with `_NAME_RE.match` by adding a print statement printing both `_NAME_RE` and `fname`, but it seems to output these properly.
I'm going to debug a bit more to find out when it throws the error.

[2020-04-01 18:18] Eshan-Agarwal commented on #1781
Yes you are right and reason is windows using backslash for paths while other using forward slash so replacing `_NAME_RE = re.compile(r"([\w-]*/)*([\w]*.jpg)$")` with `_NAME_RE = re.compile(r"([\w-]*\\)*([\w]*.jpg)$")`  and `if not res or (fname.split("/")[-1] not in file_names):` with `if not res or (fname.split("\\")[-1] not in file_names):` runs fine for windows but its not good solution

[2020-04-01 18:25] dojipkim commented on #1366
I've verified with tfds-nightly. All works as expected. Thanks all!

[2020-04-01 18:25] #1366 closed

[2020-04-01 19:36] Flowhill commented on #1781
I got it working!

The exact lines I replaced are as follows:
replace `_NAME_RE = re.compile(r"([\w-]*/)*([\w]*.jpg)$")` with `_NAME_RE = re.compile(r"([\w-]*\\)*([\w]*.jpg)$")`
replace  `if not res or (fname.split("/")[-1] not in file_names):` with `if not res or (fname.split("\\")[-1] not in file_names):`

Note that it could be the case that the following might need to be replaced later on and i

[2020-04-01 21:39] Conchylicultor commented on #1741
Closing this as this has been fixed internally

[2020-04-01 21:39] #1741 closed

[2020-04-01 23:23] Conchylicultor opened #1785 "Make register_checksums works with Beam datasets"
Currently, when `dl_manager` is used inside a Beam pipeline, checksums registration is disabled.

In theory, each instance of beam workers should register their checksums and save them inside some shared directory, then once all pipeline are complete, the checksums from the workers are merged together and saved.

[2020-04-02 00:25] Conchylicultor commented on #1765
Thank you for your contribution, but I think the current phrasing is fine, and seems too much of a minor change to really matter. We're in the process of rewriting the doc anyway.
Also, typo are not bugs.

[2020-04-02 00:25] #1765 closed

[2020-04-02 01:09] vijayphoenix commented on #1785
@Conchylicultor I would like to take up this issue.

By this do you mean `register_checksums` is always set to `False`?
If yes, how are the checksums generated for beam datasets?

Also, could you point out where is the issue?
Sorry for the trouble.

[2020-04-02 03:08] Conchylicultor commented on #1785
When the dl_manager get sent to the remote workers with beam, the dl_manager is pickled/unpickled which call the `__getstate__` function here: https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/download/download_manager.py#L194
which will raise an error if `register_checksums` is True. So it is not possible to use dl_manager with register_checksums currently.

[2020-04-02 03:09] Conchylicultor commented on #1785
Currently the datasets which uses this have to special case `register_checksums`, like in c4: https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/text/c4.py#L206

[2020-04-02 03:20] vijayphoenix commented on #1785
Ok, thank you for the information. Working on it!

[2020-04-02 06:55] Eshan-Agarwal commented on #1781
@Flowhill Please use these changes in above PR, if it works for you it works for me

[2020-04-02 21:28] #1781 closed

[2020-04-02 22:36] #1125 closed

[2020-04-03 03:32] Conchylicultor opened #1792 "[GSoC] Update fake data for caltech_birds2011 & other datasets"
The fake data for `caltech_birds2011` is way to big (> 100MB). We should investigate where does this huge size comes from and try to reduce it.

Fake data is at https://github.com/tensorflow/datasets/tree/master/tensorflow_datasets/testing/test_data/fake_examples/caltech_birds2011
The test is at: https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/image_classification/caltech_bi

[2020-04-03 03:35] Eshan-Agarwal commented on #1792
@Conchylicultor  I would like to take this issue, working on it

[2020-04-03 03:46] vijayphoenix commented on #1792
There is one unnecessary file in  caltech_birds2011 dataset

[2020-04-03 03:52] Eshan-Agarwal commented on #1792
@vijayphoenix  Don't understand why it is unnecessary, it is present in  `CUB_200_2011.tar.gz`

[2020-04-03 03:54] vijayphoenix commented on #1792
@Eshan-Agarwal if I am not wrong the files where necessary for generating the dataset.
But they were not necessary for testing it.

[2020-04-03 10:55] Flowhill commented on #1781
Done!

[2020-04-03 11:57] ChanchalKumarMaji opened #1799 "[data request] Heart Disease Data Set"
* Name of dataset: `Heart Disease Data Set`
* URL of dataset: http://archive.ics.uci.edu/ml/datasets/Heart+Disease
* License of dataset: NA
* Short description of dataset and use case(s): See `Data Set Information`.

used in https://www.tensorflow.org/tutorials/structured_data/feature_columns

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developer

[2020-04-03 17:13] #118 closed

[2020-04-03 22:40] geoffbacon opened #1804 "No files found for wiki-40B datasets"
**Short description**
I can't download the Wiki-40B datasets.

**Environment information**
* Operating System: OSX
* Python version: 3.7.5
* `tensorflow-datasets`/`tfds-nightly` version: tfds-nightly 2.1.0.dev202004030105
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: tensorflow 2.1.0

**Reproduction instructions**

[code]
Here, I've illustrated with the Italian dataset, bu

[2020-04-04 00:21] vijayphoenix commented on #1804
From the code, it seems that we have to manually download the data.
@Conchylicultor if this is the case, then we have to add some manual download instructions

[2020-04-04 00:32] Conchylicultor commented on #1804
This is a bug from our end. Could you try to replace `_DATA_DIRECTORY` by:

[code]

in `wiki40b` ?

[2020-04-04 00:33] Conchylicultor commented on #1804
@vijayphoenix, the dataset shouldn't require manual download.

[2020-04-04 00:49] Conchylicultor commented on #1804
Also as this is wikipedia data, we can probably re-host the pre-generated version, such as generation can be skipped entirely.
Once I check internally, the dataset will be available directly in https://pantheon.corp.google.com/storage/browser/tfds-data/datasets/, probably next week

[2020-04-04 02:00] Eshan-Agarwal commented on #1804
As per described solution after replacing  `_DATA_DIRECTORY ` but it's not working [colab ](https://colab.research.google.com/drive/1P9KUdW0PrUIc_TkdC9ns3bVw3z3MlQSS)

[2020-04-04 02:13] Conchylicultor commented on #1804
@Eshan-Agarwal what is the error ? I don't see any stacktrace in the colab you shared.

[2020-04-04 02:19] Eshan-Agarwal commented on #1804
@Conchylicultor  in `root` directory dataset was not completely downloaded and extracted. Showing this dir name `1.1.0.incomplete6LH1PP`

[2020-04-04 02:22] #1754 closed

[2020-04-04 02:41] Conchylicultor commented on #1804
@Eshan-Agarwal it just mean that the dataset is currently generated. Did you kill the program before it finished ?

[2020-04-04 02:42] Eshan-Agarwal commented on #1804
No it automatically offs tried twice

[2020-04-04 04:49] Eshan-Agarwal commented on #1804
@Conchylicultor Its worked fine now, maybe previously it terminates due to bad connectivity, [colab](https://colab.research.google.com/drive/1tuz06F3BTip1AVEsSO8UyKAX5tCWu9hR), sorry for trouble

[2020-04-04 05:54] Conchylicultor commented on #1804
It works now because it loads the pre-generated data directly from https://pantheon.corp.google.com/storage/browser/tfds-data/datasets/, so it skip the download_and_prepare phase.

[2020-04-04 06:11] Eshan-Agarwal commented on #1804
@Conchylicultor  Thanks for updating this .

[2020-04-04 10:43] nirajkale opened #1811 "tfds.show_examples rows parameter does work properly"
**Short description**
Say I have loaded a dataset using tfds & if I use tfds.show_exmaples to plot examples. the argument for number of rows does not work properly. It seems to plot rows = argument value +1 (seems like its following 0 based index or something). I know its nitpicking at this moment but thought I'll report it anyway.
Thanks

**Environment information**
I'm using google colab
* Opera

[2020-04-04 11:59] Eshan-Agarwal commented on #1811
@nirajkale Please see this [colab ](https://colab.research.google.com/drive/1Gfu02Twx-p_CHIv5YxJ6GjzPorXmFQVe) notebook its been updated but pip package you are using is not been updated yet

[2020-04-04 12:45] vijayphoenix commented on #1709
This issue can be closed as https://github.com/tensorflow/datasets/pull/1717 is merged internally

[2020-04-04 16:48] #1709 closed

[2020-04-04 16:55] dandawg opened #1812 "data.map fails when as_supervised=True in tfds.load"
**Short description**
After loading data using `as_supervised=True`, I get the following error when using a lambda function inside of `map`:
[code]
The error vanishes if `as_supervised=False`

**Environment information**
* Operating System: Linux Mint 18.1 Cinnamon 64-bit
* Python version: 2.1.0
* `tensorflow-datasets`/`tfds-nightly` version: 2.1.0
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-

[2020-04-04 17:16] vijayphoenix commented on #1812
Try something like
[code]

[2020-04-04 17:44] Eshan-Agarwal commented on #1804
@geoffbacon  Please close this issue if your problem was solved

[2020-04-04 20:53] Conchylicultor commented on #1812
@vijayphoenix is correct. This is not an issue with TFDS.

[2020-04-04 20:53] #1812 closed

[2020-04-04 20:54] Conchylicultor commented on #1716
It seems `c4` checksums are still missing.

[2020-04-04 21:05] Conchylicultor commented on #1716
Closing this as all datasets seems to have been updated.

[2020-04-04 21:05] #1716 closed

[2020-04-04 21:06] Conchylicultor commented on #1562
Closing this as tfds-nightly should have the new checksums.

[2020-04-04 21:06] #1562 closed

[2020-04-04 21:14] Conchylicultor commented on #1756
Thanks for reporting. Someone is currently adding a `tfds.features.TriangleMesh`. I believe it will be merged next week.

It would be equivalent to:
[code]

As input, it accept for encoding:
 * `str`: path to a {obj,stl,ply,glb} triangle mesh.
 * `trimesh.base.Trimesh`: A triangle mesh object.
 * `trimesh.base.Scene`: A scene object containing multiple TriangleMesh
       objects.
  * A dict `{'ve

[2020-04-05 04:15] Eshan-Agarwal commented on #1811
@nirajkale  please close this issue you can use `tfds-nightly`

[2020-04-05 04:16] Eshan-Agarwal commented on #1783
@Conchylicultor  is we have to give some warning or exception if user forgot to disable path length limit in python.

[2020-04-05 12:13] shepsels opened #1816 "download_and_prepare for c4 dataset fails on DownloadManager error"
**Short description**
When trying to generate c4 dataset on google cloud dataflow, download manager fails on ''DownloadManager' object has no attribute '_downloader' [while running 'Map(download_url)']'

**Environment information**
* Python version: 3.7.4
* tensorflow-datasets v2.1.0
* tensorflow v2.1.0

**Reproduction instructions**
* Following the instructions provided here: https://www.tensorfl

[2020-04-05 12:28] Eshan-Agarwal commented on #1816
@shepsels  Its working fine, please provide some code and make sure you setup your credentials correctly. See this [colab](https://colab.research.google.com/drive/1fgxnE1T3iNpdhC43SuddoJKMRPChxmz8) and run, replace `your_project_id` and with project ID of yours google project and same for bucket name

[2020-04-05 12:29] vijayphoenix commented on #1783
@Eshan-Agarwal does it work fine after disabling path length limit on your local machine?

[2020-04-05 13:40] shepsels commented on #1816
@Eshan-Agarwal I ran it just as shown in this colab, and did not have any credentials issue. It started running, created the dataflow job successfully and started uploading to the correct bucket without any problem, but failed on one of the pipeline steps. Logs are available here: https://drive.google.com/file/d/1urokm_qgyMPR0VR0awzV2lygCytkl8U9/view?usp=sharing
Thanks for your help.

[2020-04-05 13:45] nirajkale commented on #1811
Thanks  will use tfds-nightly

[2020-04-05 13:45] #1811 closed

[2020-04-05 14:03] Eshan-Agarwal commented on #1816
Can you please try with `pip install tfds-nightly` if it works?

[2020-04-05 14:48] shepsels commented on #1816
@Eshan-Agarwal tried, and it failed much earlier, on
`I0405 17:35:16.591695 4642289088 stager.py:498] Executing command: ['/Users/pazshepsels/.pyenv/versions/3.7.4/envs/datasets-temp/bin/python', '-m', 'pip', 'download', '--dest', '/var/folders/p9/n_p62drd2ljcj1cn09p4x16w0000gn/T/dataflow-requirements-cache', '-r', '/tmp/beam_requirements.txt', '--exists-action', 'i', '--no-binary', ':all:']
Trace

[2020-04-05 21:52] Conchylicultor commented on #1816
I would guess there is some conflict between the tfds version installed in the workers and the one installed in your master job. Could you make sure that both `beam_requirements.txt` and the master jobs are using `tfds-nightly` or `2.1.0` ?

[2020-04-06 02:38] Alex-Shanyi-Yuan opened #1817 "[data request] <syneval>"
* Name of dataset: syneval
* URL of dataset: https://github.com/BeckyMarvin/LM_syneval
* License of dataset: EMNLP 2018
* Short description of dataset and use case(s): a collection of tasks that evaluate language models along three different structure-sensitive linguistic phenomena: subject-verb agreement, reflexive anaphora and negative polarity items. Given a large number of minimally different

[2020-04-06 02:40] blckwolf5851 commented on #1817
I would love to add this dataset to TF.

[2020-04-06 06:32] Eshan-Agarwal commented on #1816
I checked on my bucket tfds version is 2.1.0 and also on `temp/dataflow-requirements-cache` directory version is 2.1.0, And got same error

  File "/usr/local/lib/python3.7/site-packages/tensorflow_datasets/core/download/download_manager.py", line 315, in download
    with self._downloader.tqdm():
AttributeError: 'DownloadManager' object has no attribute '_downloader'

By master job means version

[2020-04-06 16:30] geoffbacon commented on #1804
Thanks @Conchylicultor, @vijayphoenix and @Eshan-Agarwal, this is fixed is tfds-nightly now.

[2020-04-06 16:30] #1804 closed

[2020-04-06 17:13] Conchylicultor commented on #1816
From:
[code]
The `download_url` in `c4.py` function has been added after the `2.1.0` release, so it means that you are not running `2.1.0`, but `tfds-nightly`.

[2020-04-06 17:20] shikhar2707 commented on #1226
Is this issue resolved?

[2020-04-06 17:25] Eshan-Agarwal opened #1821 "Got Unrecognized instruction format while spiting using subsplit"
**Short description**
I am loading `mnist` dataset using weighted subsplit ( `tfds.Split.TRAIN.subsplit(weighted = [2, 1, 1])` ) as per instruction [here](https://www.tensorflow.org/datasets/api_docs/python/tfds/core/NamedSplit#top_of_page) and got

**Environment information**
* Operating System: <os> Colab
* Python version: <version>
* `tensorflow-datasets`/`tfds-nightly` version: <package and ve

[2020-04-06 17:28] Eshan-Agarwal commented on #1816
@Conchylicultor  I copy stacktrace from above and I tried it after cloning repo , [colab](https://colab.research.google.com/drive/18zsaXOJLP56oa7ntH3vT9zP3Ouh8fQK4)

[2020-04-06 17:37] Conchylicultor commented on #1816
From your colab
[code]
You need to use tfds-nightly

[2020-04-06 17:40] Conchylicultor commented on #1821
Where did you see those instructions, this API is deprecated and shouldn't be used. Please use the new subsplit API instead. https://www.tensorflow.org/datasets/splits

[2020-04-06 17:40] #1821 closed

[2020-04-06 17:41] Conchylicultor commented on #1821
We're gonna remove soon those functions from the API. Thanks for pointing this out.

[2020-04-06 17:44] shepsels commented on #1816
@Conchylicultor you were correct, it was a version mismatch and I should use only tfds-nightly since I'm using download_url.
Thank both of you!

[2020-04-06 17:44] #1816 closed

[2020-04-06 17:48] Eshan-Agarwal commented on #1821
Thanks you for considering it, got when exploring TFDS API

[2020-04-06 17:48] #1534 closed

[2020-04-06 18:12] Eshan-Agarwal commented on #1816
@Conchylicultor  Thank you so much, you are right It's using `tensorflow_datasets==2.1.0 ` pip package which is not updated yet so instead `tfds-nightly` works fine

[2020-04-06 19:34] Eshan-Agarwal commented on #1226
No its still open, you can add this data if you want to

[2020-04-06 21:55] vijayphoenix opened #1824 "Kaggle downloader fails to download datasets"
**Short description**
When downloading datasets from Kaggle using `dl_manager.download_kaggle_data()` function, it throws the following errors.
[code]
and in some other datasets
[code]
**Environment information and Reproduction instructions**
Colab Link : [link](https://colab.research.google.com/drive/1kdqmjjp-Omg3GfKO4FthubegCnJUrNqf)

**Expected behavior**
It should download the dataset without

[2020-04-06 22:49] vijayphoenix commented on #587
This can be closed.
See PR https://github.com/tensorflow/datasets/pull/1599

[2020-04-06 22:58] #587 closed

[2020-04-06 23:44] Conchylicultor opened #1825 "[GSoC] Update document_datasets to indicate which datasets are tfds-nightly only"
Currently, some datasets are present in `tfds-nightly` but not yet on the stable version. This confuse users which think the dataset do not exists (like in https://github.com/tensorflow/datasets/issues/1692).

We should add a `Note:` in the dataset documentation `.md` to explain the dataset is only available in https://www.tensorflow.org/api_docs/python/tf/raw_ops/Abort.

To do this:

1. Add a new

[2020-04-07 01:41] #827 closed

[2020-04-07 02:29] Conchylicultor opened #1830 "[GSoC] Avoid registering tests datasets"
Currently `tfds.list_builder` list [`dummy_mnist`](https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/testing/test_utils.py#L393) and other test-only datasets. We should make sure to avoid registering those datasets.

* Add `with tfds.core.registered.skip_registeration():` context manager which when applied skip dataset registration. Changes should go in `registered.py`. Add te

[2020-04-07 02:37] Eshan-Agarwal commented on #1830
Is test only include dataset with prefix `dummy `is avoid?

[2020-04-07 02:46] Conchylicultor commented on #1830
@Eshan-Agarwal No, this should works for any datasets, no matter which name it is.

Registration is done in https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/registered.py#L148

[2020-04-07 04:54] vijayphoenix commented on #1830
@Conchylicultor Please review https://github.com/tensorflow/datasets/pull/1832
Thank you

[2020-04-07 08:16] shikhar2707 commented on #1226
Sure! I'm working on it.

[2020-04-07 14:46] Conchylicultor opened #1834 "[GSoC] Clevr dataset generation is failing"
Clevr was updated recently in https://github.com/tensorflow/datasets/commit/af54aaf4b525fd6624319a0e38d6b3fc50870e23.

However generation seems to be failing for the `test` set with:

[code]

We should investigate and fix Clevr generation.

[2020-04-07 15:15] vijayphoenix commented on #1834
clevr_test.py runs without any errors.
So, this bug was encountered during actual dataset generation?

[2020-04-07 15:19] Conchylicultor commented on #1834
@vijayphoenix yes, tests pass bug actual generation fail for the tests set.

[2020-04-07 15:59] vijayphoenix commented on #1834
Actually, there are no answers in the test data.
So, for the test set answers field should be empty

[2020-04-07 16:08] Conchylicultor commented on #1834
@vijayphoenix Could you send a PR to fix this ?

[2020-04-07 21:03] #1834 closed

[2020-04-07 21:04] Conchylicultor commented on #1830
This should be fixed thanks to #1833

[2020-04-07 21:04] #1830 closed

[2020-04-08 14:52] vijayphoenix commented on #1708
This can be closed 0e1e4f8

[2020-04-08 15:00] vijayphoenix commented on #1707
@Conchylicultor This issue can be reopened as it is not fixed at the HEAD

[code]

Made a PR #1734 to fix this.

[2020-04-08 16:26] shikhar2707 opened #1846 "DatasetBuilder is failing to load a certain datasets"
**Short description**
The tfds DatasetBuilder is failing to load a certain dataset.
I wrote a basic piece of code to check if it can load all the registered datasets or not.
The code -
`Dataset_List = tfds.list_builders()`
`Count = 0`
`for i in range(len(Dataset_List)):`
    `try:`
        `tfds.builder(Dataset_List[i]).info`
    `except:`
        `Count += 1`
which in turns returns the error
`ERR

[2020-04-08 16:37] Conchylicultor commented on #1846
* `mydataset`: We don't have any datasets like this in our repository, it's probably comes from your codebase where you define `class MyDataset`
* `wmt_translate`: This is expected:
[code]
* `open_images_v4`: This may be a bug. Which error is raised ?

[2020-04-08 16:39] Eshan-Agarwal commented on #1846
@Conchylicultor open_images_v4 runs fine see [colab](https://colab.research.google.com/drive/1ImdwOnNED4us5x2K-dU5NrsQiPm35Ka_)

[2020-04-08 16:41] shikhar2707 commented on #1846
my_dataset is one from my repo. But the other two? It shows absl:failed there.

[2020-04-08 16:41] Conchylicultor commented on #1846
@Eshan-Agarwal Thanks for confirming. Closing this. Please reopen a bug with the specific `open_images_v4` error message if you still encounter this.

[2020-04-08 16:41] #1846 closed

[2020-04-08 16:43] Eshan-Agarwal commented on #1846
Please try it with tfds-nightly or after cloning tfds repo, maybe you are using pip package, Also for `wmt_translate `see above comment should call it by some [configs ](https://www.tensorflow.org/datasets/catalog/wmt14_translate)

[2020-04-08 16:46] Conchylicultor commented on #1846
@shikhar2707 You should try with `tfds-nightly`. It's possible we have fixed the open_images bug already in the nightly release.

[2020-04-08 16:51] #1708 closed

[2020-04-08 16:55] Eshan-Agarwal commented on #1277
@Conchylicultor please close this issue PR #1608 solves this

[2020-04-08 16:59] #1277 closed

[2020-04-09 09:25] haakontk opened #1849 "Typo."
Typo in [cbis_ddsm.py](https://github.com/tensorflow/datasets/blob/f2f1267a25f7b25eb8fefd2960e7570b72b1ba28/tensorflow_datasets/image_classification/cbis_ddsm.py#L416) line 416.
`benign_or_malignant = 'BENING'` -> `benign_or_malignant = 'BENIGN'`

[2020-04-09 09:40] Eshan-Agarwal commented on #1849
@haakontk thanks for looking please send PR

[2020-04-09 09:57] vijayphoenix commented on #1849
@haakontk Thanks for pointing this out.
It was a bit more than one typo.

[2020-04-10 15:50] vijayphoenix opened #1853 "`stable_versions.txt` should not have `VERSION` equal to `None`"
**Short description**
The list of stable versions of the datasets includes `wmt_translate/None`
https://github.com/tensorflow/datasets/blob/d87ac2c0ecc0655400841a3a502c7c6775f1b6bf/tensorflow_datasets/stable_versions.txt#L1525

So, this can be interpreted as a stable dataset `wmt_translate` with `VERSION = None`

**Enviroment-info**
* `tensorflow-datasets`/`tfds-nightly` version: tfds:2.1.0 and tf

[2020-04-10 19:43] Conchylicultor commented on #1853
Thanks for catching this. The proper fix would be to filter datasets which do not have version defined as those datasets are not supposed to be instanciated.

[2020-04-10 21:27] haakontk opened #1859 "curated_breast_imaging_ddsm dataset creates unequal patch shapes."
**Short description**
[cbis_ddsm.py](https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/image_classification/cbis_ddsm.py) creates unequal patch shapes.

**Environment information**
* Operating System: Ubuntu 18.04.3 LTS
* Python version: Python 3.7.7. [GCC 7.3.0] :: Anaconda, Inc. on linux
* `tensorflow-datasets`/ version: 1.2.0
* `tensorflow` version: 2.1.0

**Reproduction in

[2020-04-10 22:15] vijayphoenix commented on #1859
This not a bug.
The original dataset does not have a fixed shape.

However, you could use some preprocessing techniques like [tf.image.resize](https://www.tensorflow.org/api_docs/python/tf/image/resize?version=nightly). To integrate it with tf.data you can refer to the guide [here](https://www.tensorflow.org/guide/data#decoding_image_data_and_resizing_it)

[2020-04-10 22:15] Conchylicultor commented on #1859
From what I understand from the [source code](https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/image_classification/cbis_ddsm.py#L759), the patch may be truncated if the boundaries are outside of the image.

You could add padding with `ds.map` or `ds.padded_batch` or filter those images with `ds.filter` to make sure all images have the same shape.

@jpuigcerver added this dat

[2020-04-10 22:23] haakontk commented on #1859
Ah ok I see. Many thanks!

[2020-04-10 22:23] #1859 closed

[2020-04-11 00:19] #1853 closed

[2020-04-11 01:24] blckwolf5851 commented on #1817
Script uploaded here because I am not yet a collaborator: https://github.com/blckwolf5851/tensorflow_datasets_syneval

[2020-04-11 03:44] blckwolf5851 commented on #1824
Some discussion about the first issue (NonMatchingChecksumError) was mentioned in this conversation: https://github.com/tensorflow/datasets/issues/1757

Below are just comments and question on the other issue, which might not be a solution to your issue:
Regarding the NotFoundError, I think there was something wrong with the line 115 in downloader.py, which lead to my other question about download

[2020-04-11 04:00] vijayphoenix commented on #1824
@blckwolf5851 I am not sure if I am able to follow you.

Also, the NonMatching checksum error in the above mentioned issue occured while adding a new dataset to tfds.

So, I don't think both are related.

[2020-04-12 03:17] blckwolf5851 commented on #1799
Hi there, I have written the code for adding in heart disease dataset into tfds. linked here: https://github.com/blckwolf5851/tensorflow_datasets_update (I currently cannot submit a PR because I am not a collaborator yet, once this dataset is up, I will delete it from my git).

[2020-04-12 04:15] ChanchalKumarMaji commented on #1799
I don't think you need to be a collaborator to submit a PR. Just check.

[2020-04-12 04:15] ChanchalKumarMaji commented on #1799
CC: @Conchylicultor @cyfra

[2020-04-12 09:43] dvirginz opened #1862 "Dataset wikipedia cannot be loaded at version 1.0.0, only: 0.0.3"
tfds nightly, downloaded the wikipedia dataset using:
`python -m tensorflow_datasets.scripts.download_and_prepare --datasets=wikipedia/20190301.en`
Now trying to access it using
`ds, info = tfds.load('wikipedia/20190301.en:1.0.0', download=False, shuffle_files=True, with_info=True)`

But receiving the error
[code]

[2020-04-12 09:48] Eshan-Agarwal commented on #1862
@dvirginz  you are providing wrong config replace `20190301` with `20200301` see [here](https://www.tensorflow.org/datasets/catalog/wikipedia)

[2020-04-12 09:53] dvirginz commented on #1862
But this is what tfds downloaded `tensorflow_datasets\wikipedia\20190301.en\1.0.0`

[2020-04-12 10:06] Eshan-Agarwal commented on #1862
Try after reinstalling tfds-nightly, currently `wikipedia `dataset have version `1.0.0` [see ](https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/text/wikipedia.py#L119) and according to your stacktrace it says you to use `0.0.3`.
Also use latest config only `20200301 `

[2020-04-12 19:21] vijayphoenix commented on #1862
@dvirginz it seems that your issue is solved.
So close the issue

[2020-04-13 07:44] #1862 closed

[2020-04-13 11:32] renzhiwei1997 opened #1865 "coco"
* Name of dataset: <name>
* URL of dataset: <url>
* License of dataset: <license type>
* Short description of dataset and use case(s): <description>

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests to prioritize.

And if you'd like to contribute the dataset (thank you!), see our [guide to adding a dataset](https://g

[2020-04-13 11:33] renzhiwei1997 opened #1866 "[data request] <COCO>"
* Name of dataset: <name>
* URL of dataset: <url>
* License of dataset: <license type>
* Short description of dataset and use case(s): <description>

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests to prioritize.

And if you'd like to contribute the dataset (thank you!), see our [guide to adding a dataset](https://g

[2020-04-13 12:45] Eshan-Agarwal commented on #1866
@renzhiwei1997  coco dataset is already in tfds [Here](https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/object_detection/coco.py). Also if you are requesting new dataset provide all the information mentioned above.

[2020-04-13 12:45] Eshan-Agarwal commented on #1865
@renzhiwei1997 close this issue as it is already in tfds

[2020-04-13 16:27] #1865 closed

[2020-04-13 18:41] Ouwen opened #1867 "Adding duke_ultrasound dataset to gs://tfds-data/datasets"
* Name of dataset: duke_ultrasound
* URL of dataset: `https://www.tensorflow.org/datasets/catalog/duke_ultrasound`
* License of dataset: Creative Commons BY-NC Attribution-NonCommercial 4.0 International

I am the creator of the `duke_ultrasound` dataset and was interested in hosting the dataset through `gs://tfds-data/datasets`. I believe this will make it easier for researchers to use/access and

[2020-04-13 18:58] Conchylicultor commented on #1867
Thank you very much! We would like to be able to re-distribute as many datasets as we can to help researchers!
I'm gonna check internally if there is any issues and will update there.

[2020-04-15 06:23] elfelround commented on #965
@Conchylicultor ?? the checksum doesnt add up cause the file simply didnt download so sums to 0

[2020-04-15 07:55] elfelround commented on #965
tried setting FORCE_REDOWNLOAD and register_checksums=True with no success

[2020-04-15 08:15] Eshan-Agarwal commented on #965
@elfelround  Can you try it with `tfds-nightly` or cloning tfds repo ?

[2020-04-15 09:51] elfelround commented on #965
so i basically went onto tensorflow_datasets and deleted everything, then i run the code which errored again, went to the created folders, opened a .cc file that was created and found this

Sorry, you can't view or download this file at this time.

Too many users have viewed or downloaded this file recently. Please try accessing the file again later. If the file you are trying to access is particu

[2020-04-15 10:40] Eshan-Agarwal commented on #965
@Conchylicultor  can we add this dataset to `gs://tfds-data/datasets` .

[2020-04-15 15:58] csmcallister commented on #1783
Also receiving this error on Windows 10 with `coco_data = tfds.load('coco/2017')`.  A more descriptive error message pointing to the path length limit issues on Windows (e.g. the[ python docs](https://docs.python.org/3/using/windows.html#removing-the-max-path-limitation)) would be helpful.

[2020-04-15 16:19] Conchylicultor commented on #965
@Eshan-Agarwal we would love to add celebA to our public GCS, but we need to check first with the authors and internally if this would be ok.

[2020-04-15 16:20] Eshan-Agarwal commented on #1783
@Conchylicultor  I can send PR for fix this but is code solution (if possible) be better than error message ?

[2020-04-15 16:21] Eshan-Agarwal commented on #1783
@csmcallister  Thanks for reporting will fix this soon as suggested by you or maybe some code solution, if you want to fix you can ?

[2020-04-15 16:43] Eshan-Agarwal commented on #965
@Conchylicultor So should I contact them? As I also solve this same error on [stackoverflow](https://stackoverflow.com/questions/60992196/notmachingchecksumerror-in-tensorflow-datasets/60999603#60999603) and when I was trying I also face same error as mentioned by @elfelround  but after some time later it works fine. But it not works now, [colab](https://colab.research.google.com/drive/1cZhmt5CcJd

[2020-04-15 17:42] Conchylicultor commented on #965
@Eshan-Agarwal, before contacting them, I need to make sure is is ok internally.

[2020-04-16 20:46] lmoroney opened #1888 "Horses_or_Humans - No Examples Yielded"
**Short description**
Using Windows 10

Run:
dataset_name = "horses_or_humans"
dataset, info = tfds.load(name=dataset_name, split=tfds.Split.TRAIN, with_info=True)

Dataset will download, but when extracting will give error:

Shuffling and writing examples to C:\Users\lmoro\tensorflow_datasets\horses_or_humans\3.0.0.incomplete185N4P\horses_or_humans-train.tfrecord
Traceback (most recent call last)

[2020-04-16 23:20] #1888 closed

[2020-04-16 23:36] #1783 closed

[2020-04-17 10:42] mtruongle opened #1897 "Error importing tensorflow_datasets when waymo-open-dataset is installed"
**Short description**
Error importing tensorflow_datasets when waymo-open-dataset is installed. The first import can always be done, but the second import fails. Specifically, import tensorflow_datasets first then the waymo-open-dataset will fail and vice versa.

**Environment information**
* Operating System: <Ubuntu 18.04.4 LTS>
* Python version: <3.6.9>
* `tensorflow-datasets` version: <tensorf

[2020-04-17 13:48] rodrigob commented on #906
For info we are now at open_images_v6  (same image labels, boxes, masks, and images as v5, but new types of annotations added, and larger number of relation annotations).

[2020-04-17 15:13] Eshan-Agarwal commented on #1897
@mtruongle TFDS loads successfully problem is with `waymo_open_dataset `

[2020-04-17 18:15] Conchylicultor commented on #906
Nice, we would love have this!

For info, we (TFDS team) ensure the core API support and help with issues, but we let the community (both internal and external) implement the datasets they want (we have [130+ dataset requests](https://github.com/tensorflow/datasets/issues?q=is%3Aopen+is%3Aissue+label%3A%22dataset+request%22)).

Don't hesitate to help us with this. Or if anyone else is interested t

[2020-04-17 18:17] Conchylicultor commented on #27
`voc/2012` is now available. Closing this

[2020-04-17 18:18] rodrigob commented on #906
Not so much, since new data types / data conventions are needed.

[2020-04-17 18:22] Eshan-Agarwal commented on #906
@Conchylicultor  I want to work on it , should we keep both v4 and v6 ?

[2020-04-17 18:23] rodrigob commented on #27
This ticket was not understood.
https://www.tensorflow.org/datasets/catalog/voc
only has bounding boxes,
while
Pascal VOC12 with SDB extension
includes semantic labeling annotations (as indicated in the ticket) which are still missing in tfds.
It seems that semantic/instance/panoptic segmentation are missing as a category of image annotations.

[2020-04-17 18:26] rodrigob commented on #906
Note also that there was a potential bug in v4 tfds import, so v5/v6 should be implemented with care. Please add me in the reviewers pool.

[2020-04-17 19:47] #844 closed

[2020-04-17 19:47] #1824 closed

[2020-04-17 19:54] Eshan-Agarwal opened #1901 "caltech_birds yields no examples on windows"
**Environment information**
* Operating System: <os>Windows 10
* Issue is specific to windows.

**Short description**
`caltech_birds.py` yields no example on windows this is due to windows take `\` in path and other platform takes `/`. Error is in [line#49](https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/image_classification/caltech_birds.py#L49) & [line#173](https://github.

[2020-04-17 23:54] Conchylicultor commented on #906
@Eshan-Agarwal, yes we should keep both v4 and v6. However I feel this one may be a little too ambitious for you, especially if you don't have enough compute power.

[2020-04-18 00:55] Conchylicultor commented on #27
@rodrigob thanks for the clarification. Re-opening.

[2020-04-18 02:17] Eshan-Agarwal commented on #906
Yes as open_images dataset have huge size but I will try.

[2020-04-18 10:22] AdamHillier commented on #27
I have PR #1198 open to add VOC2012 segmentation with SBD.

[2020-04-19 20:08] vijayphoenix opened #1911 "Placeholder for all tfds bugs on windows"
**Short description**
Currently, tfds has no Kokoro windows tests.
So this issue is a placeholder for all bug report and fixes related to tfds on windows

**Environment information**
* Operating System: Windows
* Python version: 3.7.6
* `tensorflow-datasets`/`tfds-nightly` version: HEAD / tfds-3.0.0-nightly
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: tf 2.1.0 eigen_py37h

[2020-04-19 20:10] vijayphoenix commented on #1911
Related https://github.com/tensorflow/datasets/issues/817

**Problem**

Many os methods like `os.chown` are Unix specify.
So, they should not be mocked while unit testing on windows

[2020-04-19 20:28] vijayphoenix commented on #1911
**Problem**

`tf.io.gfile.rename` sometimes fails to rename files on windows.
[code]
**Possible fix**
Try until we successfully rename the file

Also see: https://github.com/tensorflow/tensorflow/issues/21135

[2020-04-19 20:33] vijayphoenix commented on #1911
**Problem**
`tfds/image_classification has the following bugs on windows

[code]

[2020-04-19 20:36] vijayphoenix commented on #1911
Problem
`tfds/image` has the following bugs on windows
[code]

[2020-04-19 20:48] Eshan-Agarwal commented on #1911
@vijayphoenix  Can you show some examples for this like where it make problem in TFDS, as I tried to rename some directories names it works fine

[2020-04-19 20:54] vijayphoenix commented on #1911
**Problem**
`tfds/object` detection has some bugs

[code]

[2020-04-19 20:55] vijayphoenix commented on #1911
**Problem**
`tfds/structured` detection has some bugs

[code]

[2020-04-19 20:56] vijayphoenix commented on #1911
**Problem**
`tfds/text` detection has some bugs

[code]

[2020-04-19 20:57] vijayphoenix commented on #1911
**Problem**
`tfds/translate` has some bugs

[code]

[2020-04-19 20:59] vijayphoenix commented on #1911
**Problem**
`tfds/audio` has some bugs

[code]

[2020-04-19 21:01] vijayphoenix commented on #1911
**Problem**
`tfds/core` has some bugs on windows.

[code]

[2020-04-19 21:02] vijayphoenix commented on #1911
No bugs were encountered in `tfds/proto`, `tfds/scripts`, `tfds/summarization`, `tfds/testing` and `tfds/video`

[2020-04-20 09:52] SouBanerjee opened #1917 "tensorflow_datasets.image.MNIST overriding to add extra functionality"
Hi,
I am new to tensorflow
I was wondering how to override predefined tensorflow_datasets.image.MNIST for my own work.
For example:
    I want to create a split-mnist dataset in which I will be accessing images from only two classes at a single time, how to modify MNIST class or how to inherit MNIST class to add that feature.

In pytorch, I could inherit torchvision.datasets.MNIST into another cla

[2020-04-20 09:57] diaoyingyu commented on #1019
Thanks!

[2020-04-20 09:58] diaoyingyu commented on #1019
@ucalyptus Thanks!

[2020-04-20 15:19] Eshan-Agarwal opened #1918 "Got errors in cycle_gan dataset"
**Short description**
Got error in two of the configs of cycle_gan dataset

1. `cycle_gan/maps`
2. `cycle_gan/cityscapes`

In `cycle_gan/maps` calling `tfds.builder("cycle_gan/maps")` shows empty split dict. However after calling `builder.download_and_prepare()` method it works fine.

In  `cycle_gan/cityscapes` shows first `NonMatchingChecksomeError` but after running `python -m tensorflow_dataset

[2020-04-21 19:55] rao208 opened #1923 "How to filter the dataset to get images from a specific class?"
**What I need help with / What I was wondering**

I want to use pre-trained networks to train my dataset. I am a novice at this and right now just exploring and playing with the basic dataset cats_vs_dogs as given in the link:

[https://www.tensorflow.org/tutorials/images/transfer_learning ](URL)

I am using the exact same code with some modifications like one-hot encoding and the architecture of

[2020-04-22 02:10] vijayphoenix commented on #1499
Thanks for implementing this.
 The issue can be closed as PR https://github.com/tensorflow/datasets/pull/1504 merged internally

[2020-04-22 02:18] #1499 closed

[2020-04-22 02:51] MaxGhenis opened #1928 "Typo in description of duke_ultrasound "avalible""
**Short description**
https://www.tensorflow.org/datasets/catalog/duke_ultrasound says:

Should be "available"

https://github.com/tensorflow/datasets/blob/d4e0e83a2c7b5ee8b807d036493ef0329e8f446e/tensorflow_datasets/testing/metadata/duke_ultrasound/1.0.0/dataset_info.json#L3

[2020-04-22 03:05] Eshan-Agarwal commented on #1928
@MaxGhenis  #1850 fix this by @vijayphoenix

[2020-04-22 04:07] vijayphoenix commented on #552
Fixed by PR #1092.
Can be closed.

[2020-04-22 04:09] vijayphoenix commented on #658
Taking over this issue as other PRs seems to be abandoned.

[2020-04-22 04:35] vijayphoenix commented on #34
This issue seems to be solved by ec89c3ed.
PR #468 can also be closed

[2020-04-22 05:04] #552 closed

[2020-04-22 05:05] #34 closed

[2020-04-22 14:19] shepsels opened #1931 "Running C4 dataset pipeline on Cloud Dataflow - running time and resources"
**What I need help with / What I was wondering**
I'm running the C4 Dataflow pipeline as described in this guide:
https://www.tensorflow.org/datasets/beam_datasets.
At first, I ran it without any restrictions, and it tried to scale up, until it used all of our free addresses across our entire Gcloud account.
On the second run, we set max_workers to 20. It's running for quite some time (~72h) and w

[2020-04-22 16:17] adarob commented on #1931
I recently added this information to the T5 README (https://github.com/google-research/text-to-text-transfer-transformer#c4):

#### C4

The [C4][c4] dataset we created for unsupervised pre-training is available in TensorFlow Datasets, but it requires a significant amount of bandwith for downloading the raw [Common Crawl][cc] scrapes (~7 TB) and compute for its preparation (~341 CPU-days). We sugge

[2020-04-22 16:56] Conchylicultor commented on #1931
@adarob Maybe we should also add the doc in `c4` description, or at least a link to the instructions: https://www.tensorflow.org/datasets/catalog/c4

[2020-04-22 17:02] shepsels commented on #1931
Thanks @adarob @Conchylicultor. We are using beam and download_and_prepare script. Good to know That nothing is stuck, just some more time to wait. And yes, I think it will be very useful to add that info to the main c4 info page, I guess that if I knew this before I would find a way to run this through the weekend on more CPUs.

Thank you again,
Paz.

[2020-04-22 22:38] f1recracker commented on #1923
Here's a colab to get you started: https://colab.research.google.com/drive/1svhZ_u6HoTt5nurNFWvofvBdotWaWUtj

`
dataset = tfds.load('cats_vs_dogs', split=tfds.Split.TRAIN)
dataset = dataset.filter(lambda fd: fd['label'] == 1)
`

[2020-04-23 02:41] vijayphoenix commented on #1051
This issue can be closed

[2020-04-23 02:41] vijayphoenix commented on #232
This issue can be closed as PR #1504 got merged internally

[2020-04-23 10:08] casab opened #1938 "tfds.load downloads nsynth with missing parts"
**Short description**
I am using tfds.load to download nsynth dataset. But no matter how many times I try, It's only downloaded up until nsynth-train.tfrecord-00975-of-01024. It seems like 976 to 1023 are missing.

**Environment information**
* Operating System: Windows 10
* Python version: 3.7.3
* `tensorflow-datasets`/`tfds-nightly` version: tensorflow-datasets@2.1.0
* `tensorflow`/`tensorflow-g

[2020-04-23 14:11] rao208 commented on #1923
@f1recracker Hi. Thank you very much for your reply. The above code works well when **as_supervised** argument in tfds.load is set to **False**, but is there a way to do the same when **as_supervised=True**?

When as_supervised=True, I get the error message:

[2020-04-23 15:57] Conchylicultor commented on #1923
[code]

[2020-04-23 16:20] #232 closed

[2020-04-23 16:21] #1051 closed

[2020-04-23 16:29] rao208 commented on #1923
@Conchylicultor Wow! I didn't realize that all I had to do was change x to img, label. It is so easy!

Thank you very much!

[2020-04-23 16:30] rao208 commented on #1923
I am closing this issue since my question has been answered by @f1recracker and @Conchylicultor and it is working.

[2020-04-23 16:30] #1923 closed

[2020-04-23 18:19] Conchylicultor commented on #1938
This seems to be a bug.
This dataset is pregenerated at: https://pantheon.corp.google.com/storage/browser/tfds-data/datasets/nsynth/full/

It may indicates a bug in our `download_gcs_dataset` which do not fetch the right number of files. https://github.com/tensorflow/datasets/blob/300eb8c751abc25b2780407714a231f0a18567c9/tensorflow_datasets/core/utils/gcs_utils.py#L81

We should check that `gcs_fi

[2020-04-23 18:22] Conchylicultor commented on #1938
In the meantime, you could try to copy the datasets manually, using:

`gsutil cp tfds-data/datasets/nsynth/full/2.3.0 ~tensorflow_datasets/nsynth/full/2.3.0`

Or you could stream the dataset without downloading with:

`ds = tfds.load("nsynth", data_dir="data", try_gcs=True)`

[2020-04-23 19:09] Eshan-Agarwal commented on #1938
@Conchylicultor  What I observed is, it loads all `tfrecords` but it loads like randomly but loading all of it. I am loading data on my gs bucket here is [colab](https://colab.research.google.com/drive/1dqKdTob2SRTUKI0ECVfTAZ-St7Ce4rwt), When counting for test tfrecord it loads all 32 examples. Also I am trying for `nsynth/gansynth_subset` config.

test.tfrecord-00030-of-00032
test.tfrecord-00004-

[2020-04-23 21:43] casab commented on #1938
@Conchylicultor thanks, I've used the following
`gsutil cp -r "gs://tfds-data/datasets/nsynth/full/2.3.0" "~/tensorflow_datasets/nsynth/full/2.3.0"`

@Eshan-Agarwal I believe default parameter `max_simultaneous_downloads` for `download_gcs_dataset` is 50. That's probably why it downloads 32 of them in random order. Because it's trying to download them in parallel. But the full Nsynth train dataset

[2020-04-24 16:05] shepsels commented on #1931
Hi again, I have a follow-up question. We started running the Dataflow pipeline ~25 hours ago while following your recommendations, with 7*64=448 CPU cores. The pipeline already used 10767 vCPU hours, which is ~450 CPU days. Is there a way for us to figure out for how long it will still be running? Or to understand if something has gone wrong?

Thanks again,
Paz.

[2020-04-24 16:16] adarob commented on #1931
Did you enable the shuffle service?

On Fri, Apr 24, 2020 at 9:05 AM shepsels <notifications@github.com> wrote:

[2020-04-24 16:19] shepsels commented on #1931
@adarob Not explicitly, no.

[2020-04-24 16:39] shepsels commented on #1931
@adarob Is this crucial (should I start again?) or it'll just take some more time?

[2020-04-24 16:47] Conchylicultor opened #1945 "[GSoC] Better lazy_imports usability"
**Part1**: Currently, lazy imports feels counter intuitive and confusing. It would be nice to improve the API to allow something like:

[code]
It would patch the default module import:
* If the module is installed (e.g. tested with `try/except ImportError`): Import the module as standard
* If the import isn't installed: Replace the module by a dummy ModuleType which raise error when access attribu

[2020-04-24 16:53] adarob commented on #1931
What exact command did you use to launch?
I haven't tried without shuffle service. It will certainly take longer and
will use more memory, which could possibly cause you to oom. It's worth a
try though!

On Fri, Apr 24, 2020, 9:39 AM shepsels <notifications@github.com> wrote:

[2020-04-24 17:01] Conchylicultor opened #1946 "[GSoC] Add a dummy beam wrapper"
Currently, implementing a beam dataset is quire painful due to lazy imports, which makes it impossible to use `beam.DoFn`,... in the global scope.
It would be nice to be able to implement beam datasets without worrying about declaring beam methods only in the main scope.

By replacing the `beam` module by a dummy no-op module, it would not crash when importing tensorflow datasets. It would greatly

[2020-04-24 17:34] vijayphoenix commented on #1945
Working on this!

[2020-04-24 17:37] shepsels commented on #1931
I'd like to run it again with the correct parameters. But after it ran for so long before, I want to be 100% sure this configuration is complete and optimal. Can you please take a look at this and let me know if something is missing, or not optimal?

`python -m tensorflow_datasets.scripts.download_and_prepare \
  --datasets=c4/en \
  --data_dir=gs://$MY_BUCKET/tensorflow_datasets \
  --beam_pipeli

[2020-04-24 17:40] adarob commented on #1931
I'm not positive it will use multiple cores on each machine by default due
to the python global lock. As long as you had
`experiments=shuffle_mode=service` with 450 workers before, you should have
been using the same setup as I did which completed in less than a day.

On Fri, Apr 24, 2020 at 10:37 AM shepsels <notifications@github.com> wrote:

[2020-04-24 23:11] Conchylicultor opened #1949 "[GSoC] Fix documentation images"
https://github.com/tensorflow/datasets/pull/1948 is adding visualisation to the documentation, however it seems that images have visual artefacts (missing images, bad labels,...).
It is likely due to the fact that matplotlib do not support multi-threading. We should investigate if the `scripts/generate_visualization.py`  can use multi-processing instead of multi-processing.

[2020-04-25 02:05] Eshan-Agarwal commented on #1949
working on it

[2020-04-25 02:16] Eshan-Agarwal commented on #1949
@Conchylicultor  using `ProcessPoolExecutor ` instead `ThreadPoolExecutor ` works for me it don't save
(missing images, bad labels,...).

[2020-04-25 02:32] Eshan-Agarwal commented on #1946
Working on it, can you please help me with few things which I don't get :

We have to implement `DummyBeam` class in `dummy_beam.py` which can be used as described in code above? or is above code is hint for `DummyBeam` ? or can be used to test after implementing `DummyBeam?`.

Sorry for trouble.

[2020-04-25 07:04] vijayphoenix commented on #1530
I think this issue can be closed as PR #1632, #1909 got merged

[2020-04-25 16:16] Conchylicultor commented on #1946
Yes. The code snippet above is an example of `DummyBeam` dataset usage.

[2020-04-25 17:06] Conchylicultor commented on #1530
Yes, thanks you all for fixing this.

Created https://github.com/tensorflow/datasets/issues/1949 to track the visualisation issue.

[2020-04-25 17:06] #1530 closed

[2020-04-26 11:55] javigd17 commented on #965
Same problem here.

Any update?

Thanks!

[2020-04-27 22:28] Conchylicultor opened #1960 "[GSoC] Investigate current kokoro failure."
Our builds are failing at head: https://source.cloud.google.com/results/invocations/08727437-e079-4920-bd0d-4929781edcef/targets/tensorflow_datasets%2Fgh_testing%2Fcontinuous/log

[code]

As far as understand:
* (1) Executing `document_datasets_test.py` execute `core/registered_test.py`, probably during imports.
* (2) When `registered_test` is executed, the `EmptyDatasetBuilder` is registered
* (3

[2020-04-27 23:35] vijayphoenix commented on #1960
The minimal command to reproduce this bug seems to be
[code]

[2020-04-28 00:27] Conchylicultor commented on #1960
@vijayphoenix Thanks for reproducing the issue. It is possible that pytest import all tests files before executing the tests, leaking registration across tests.

[2020-04-28 00:51] vijayphoenix commented on #1960
Yes, I could see `EmptyDatasetBuilder` as a part of `list_full_names` in `document_dataset_tests.py`.
This is not desirable in our case.

[2020-04-28 00:56] vijayphoenix commented on #1825
This can be closed as PR https://github.com/tensorflow/datasets/pull/1831 got merged internally

[2020-04-28 00:59] vijayphoenix commented on #584
This can be closed as the catalog now indicates which datasets are available only in `tfds-nightly`.

[2020-04-28 01:31] Conchylicultor commented on #584
I still need to update the table of content to display the nightly icon on the menu. Hopefully this should be done by tomorrow.

[2020-04-28 02:02] Eshan-Agarwal commented on #1960
Is it still open for investigate or fixed by #1959 :)

[2020-04-28 02:04] vijayphoenix commented on #1960
Fixed as the tests are passing.
(See Kokoro tests results of that PR)

[2020-04-28 02:06] Eshan-Agarwal commented on #1960
Yes :)

[2020-04-28 17:09] balajivenky06 opened #1963 "AssertionError: No examples were yielded for Rock_Paper_Scissors"
**Short description**
Description of the bug.
AssertionError: No examples were yielded.
Shuffling and writing examples to C:\Users\hp\tensorflow_datasets\rock_paper_scissors\3.0.0.incomplete6IRJSB\rock_paper_scissors-train.tfrecord
**Environment information**
* Operating System: windows 10
* Python version: <3.7>
_NAME_RE = re.compile(r"^(rps|rps-test-set)/(rock|paper|scissors)/[\w-]*\.png$") re.c

[2020-04-28 17:12] Eshan-Agarwal commented on #1963
@balajivenky06  can you try with `pip install tfds-nightly` ?, its been updated and probably you are using pip package

[2020-04-28 17:15] balajivenky06 commented on #1963
I installed tensorflow dataset through pycharm as per instructions from Google tensorflow certification... Almost all dataset have similar issues.

[2020-04-28 17:18] Eshan-Agarwal commented on #1963
Which datasets are you facing problem for and what type of problems ?. Try with `tfds-nightly `

[2020-04-28 17:34] vijayphoenix commented on #1963
@balajivenky06 eshan is correct.
Please upgrade to the lastest tfds package, i.e `tfds-nightly`.
A lot of bugs (related windows OS) have been recently fixed and some more are on their way.

If you need an urgent fix on some other datasets, please follow the issue #1911. You can find a potential fix in related PRs.

[2020-04-29 00:01] #1960 closed

[2020-04-29 03:29] balajivenky06 commented on #1963
Thanks, issue resolved with tfds-nightly.

[2020-04-29 03:29] #1963 closed

[2020-04-29 18:27] Eshan-Agarwal commented on #1949
I think this can be closed, as tfds datasets [catalog ](https://www.tensorflow.org/datasets/catalog/flic) looks great with visualizations :)

[2020-04-29 18:52] Conchylicultor commented on #1949
Yes, thanks @Eshan-Agarwal !

[2020-04-29 18:52] #1949 closed

[2020-04-29 19:50] #658 closed

[2020-04-29 21:37] Conchylicultor commented on #584
Closing this. Now the future datasets added will be marked explicitly on the website.

[2020-04-29 21:37] #584 closed

[2020-04-29 21:38] #1825 closed

[2020-04-30 01:45] mbaharan opened #1975 "Strange CUDA_ERROR_OPERATING_SYSTEM error"
**Short description**
When I run the attached code in Visual Studio Code, it perfectly runs, however, it gives me the following error in terminal:
[code]
**Environment information**
* Operating System: Ubuntu 18.04.4 LTS
* Python version: 3.6.9
* `tensorflow-datasets` version: 3.1.0
* `tensorflow-gpu` version: 2.1.0

**Reproduction instructions**

[code]

[2020-04-30 03:18] #817 closed

[2020-04-30 03:34] #1901 closed

[2020-04-30 11:17] lgeiger opened #1977 "Checksums for oxford_flowers102 changed"
**Short description**
The checksum for `oxford_flowers102` changed recently which breaks downloading of the dataset.

**Environment information**
* Operating System: macOS
* Python version: 3.7
* `tensorflow-datasets`/`tfds-nightly` version: 3.1.0
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: 2.2.0rc3

**Reproduction instructions**

[code]
[code]

**Link to logs**
[code]

[2020-04-30 15:32] h4ste commented on #1226
Just FYI: The MIMIC database is now on Version 3.4, and includes data from ~60,000 ICU admissions.
https://mimic.physionet.org/. However, the MIMIC-III and MIMIC-II databases require DUA and CITI certification for access.

To avoid confusion, please explicitly indicate that this is MIMIC-I (a 20+ year old database with an Open Data Commons license), not just "MIMIC" which suggests the much larger

[2020-04-30 18:33] elfelround commented on #1977
probably this

[2020-04-30 18:34] elfelround commented on #1977
probably this:

Sorry, you can't view or download this file at this time.

Too many users have viewed or downloaded this file recently. Please try accessing the file again later. If the file you are trying to access is particularly large or is shared with many people, it may take up to 24 hours to be able to view or download the file. If you still can't access a file after 24 hours, contact your d

[2020-04-30 18:37] lgeiger commented on #1977
@elfelround Looks like the file is still available at https://www.robots.ox.ac.uk/~vgg/data/flowers/102/102flowers.tgz so something probably changed.

[2020-04-30 18:39] elfelround commented on #965
please yes, upload it to an external cloud, ive tried many times, i check in a while every so many days and no luck, i even change my ip etc... the problem is celeba is 2-3 GB so i understand that the cdn collapses

[2020-04-30 18:44] elfelround commented on #1977
have a look at this thread https://github.com/tensorflow/datasets/issues/965

[2020-04-30 18:47] elfelround commented on #1977
well if ur downloads download the tgz why not unzip it outside of downloads and see if it compiles?
could be that the centralised checksum is different from the one on the site too? one of them updated or tampered, or some sort of cdn download limit

[2020-05-01 13:05] greentec opened #1978 "Checksums for oxford_iiit_pet changed, and the dataset cannot be loaded."
**Short description**
Checksums for oxford_iiit_pet dataset is changed.

**Environment information**
* Operating System: Google Colab
* Python version: 3.6.9 (default, Nov  7 2019, 10:44:02) \n[GCC 8.3.0]
* `tensorflow-datasets`/`tfds-nightly` version: 2.1.0
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: 2.2.0-rc3

**Reproduction instructions**

[code]

**Link to logs**
htt

[2020-05-01 13:22] Eshan-Agarwal commented on #1978
@greentec  Thanks for reporting

[2020-05-01 13:47] vijayphoenix commented on #1978
@Conchylicultor @Eshan-Agarwal
I think we need to generate checksums of all the datasets with base URL `robots.ox.ac.uk/~vgg/`.

[code]

[2020-05-01 13:57] Eshan-Agarwal commented on #1978
@vijayphoenix  Yes it seems they have some internal change

[2020-05-01 14:06] vijayphoenix commented on #1977
@lgeiger @elfelround It seems that http://www.robots.ox.ac.uk/~vgg/data/ site had some changes.

I have updated the checksums.
Thanks for reporting the issue.

[2020-05-01 18:12] #1977 closed

[2020-05-01 18:13] lgeiger commented on #1977
Thanks for the fix :+1:

[2020-05-01 19:13] mch55 commented on #1978
Hi folks, fantastic you are over this. I am on a course and it uses the oxford_flowers102 dataset so all of us are currently stuck and have fingers crossed it is an easy fix?
I am not the strongest programmer and have spent the last 48 hours trying to import the dataset other ways / generate the check_sum file for you but no luck so far.

If there is something we can do to help let us know?

[2020-05-01 19:24] Eshan-Agarwal commented on #1978
In PR #1980, checksums for `oxford_flowers102` are updated. Also try with `pip install tfds-nightly` it's recently merged. And if you are using `oxford_iiit_pet` dataset it's updated in PR #1979

[2020-05-02 01:52] greentec commented on #1978
@Eshan-Agarwal I tried `pip install tfds-nightly` and loaded `oxford_iiit_pet` dataset again, but failed again.

https://gist.github.com/greentec/c962f27fc67bf6899fdf87ca928bc034

[2020-05-02 02:13] vijayphoenix commented on #1978
After PR #1979 is merged, the changes will be reflected in `tfds-nightly` within few days

[2020-05-02 02:16] greentec commented on #1978
Okay. Thank you for checking.

[2020-05-02 16:31] harshag24 commented on #1977
The problem still persists! Is it due to too many users using the file because even after @vijayphoenix  has updated checksums it persists?

[2020-05-02 16:35] Eshan-Agarwal commented on #1977
Can you try with tfds-nightly ?

[2020-05-03 00:08] danielmapar commented on #1977
Tried `%pip install tfds-nightly` on my local machine with no success. Any suggestions?

[2020-05-03 00:58] danielmapar commented on #1977
`pip --no-cache-dir install tfds-nightly` fixes the issue for me

[2020-05-03 04:48] Eshan-Agarwal commented on #1977
Here is [colab ](https://colab.research.google.com/drive/170t-Y_k1vMfRMwXdT9kK222komUcBzM3) with `tfds-nightly` working with no issue.

[2020-05-05 04:11] logiccodes commented on #1978
In Colab this `has wrong checksum.` error seems to exist even if the `tensorflow_datasets` is updated to the nighty version.
[code]

[2020-05-05 04:16] greentec commented on #1978
@logiccodes I am also waiting for the tfds-nightly version update.
If you are in a hurry, you can download the dataset manually with the following command and then load it to execute normally.

[code]

[2020-05-05 16:56] Conchylicultor commented on #1978
The PR was rolled back as it was creating issue with TF colab. I'll try to re-merge it sometimes today.

[2020-05-05 17:33] Eshan-Agarwal commented on #1978
What exact problem is in colab, as I successfully run it here is [colab](https://colab.research.google.com/drive/16Kk4A1q9Y7o4pDGfOy4G5Nn6LBpny_2Z?usp=sharing)

[2020-05-05 19:28] #1978 closed

[2020-05-05 20:05] Conchylicultor commented on #1978
@Eshan-Agarwal yesterday we removed the change, so it break `tfds-nightly`. I resubmitted it in #1995, so it should be fixed (again) in the next `tfds-nightly`. Sorry for the inconvinience.

[2020-05-07 02:15] #1426 closed

[2020-05-07 13:01] DeqianBai opened #1998 "AttributeError: 'Split' object has no attribute 'subsplit'"
**What I need help with / What I was wondering**
Traceback (most recent call last):
  File "F:/ML/Deep Learning/NLP/Paper/07-Transformer/NMT-Transformer/Data_process/01.py", line 17, in <module>
    train_half_1, train_half_2 = tfds.Split.TRAIN.subsplit(2)
AttributeError: 'Split' object has no attribute 'subsplit'

**What I've tried so far**
I search this error in google , but there is no such iss

[2020-05-07 13:49] Thomasaws1 opened #2000 "ImageAugmentation using tf.keras.preprocessing.image.ImageDataGenerator and tf.datasets: model.fit() is running infinitely"
**What I need help with / What I was wondering**
I am facing issue while running the fit() function in TensorFlow(v 2.2.0-rc4) with augmented images(using ImageDataGenerator) passed as a dataset. The fit() function is running infinitely without stopping.

**What I've tried so far**
I tried it with the default code which was shared in Tensorflow documentation.

Please find the code snippet below:

[2020-05-07 14:29] Conchylicultor commented on #2000
Thanks for reporting, however, it seems you're confusing `TFDS` (this library) with the `tf.keras` data generators. Those are two independent projects.

You are not using `import tensorflow_datasets as tfds`, so there is nothing we can do here. You should post your issue in the `tensorflow/tensorflow` repo.

Or if you want to use TFDS, I think you're trying to use this dataset https://www.tensorfl

[2020-05-07 14:29] #2000 closed

[2020-05-07 14:35] Conchylicultor commented on #1998
`.subsplit` was part of the deprecated API, so cannot be used anymore.

Instead you should use:
*  the new subsplit API: https://www.tensorflow.org/datasets/splits
* Or if running on distributed setting, you can use `tfds.ReadConfig(input_context)` in tfds-nightly to shard the data across workers.

Where did you saw you could use `.subsplit` ? I though we had updated our doc.

[2020-05-07 14:35] #1998 closed

[2020-05-07 22:36] sleepinyourhat opened #2004 "URL changing for XNLI and MNLI/MultiNLI"
**Short description**
NYU is turning down the server/site that hosts the reference copies of XNLI and MNLI shortly, so the URLs will have to change.

New URLs:
https://cims.nyu.edu/~sbowman/multinli
https://cims.nyu.edu/~sbowman/xnli

[2020-05-07 23:28] Conchylicultor commented on #2004
Thank you for the heads up. It should be easy to update the urls and re-run the generation with `--record_checksums` to update the checksums.

[2020-05-08 07:17] vijayphoenix commented on #2004
@sleepinyourhat Thank you for the notice.
I have updated the checksums in #2006

[2020-05-08 09:39] magomar commented on #299
Tried to get this without success. This is very unfortunate. IBM got so much publicity from this announcement and then they retired access to the dataset without any explanation or clarification. They still keep the announcement online as if this dataset was still availabl , which is not the case. This is not right.

[2020-05-08 11:11] DeqianBai commented on #1998
thank you , I resolve the problem based on your method-1

and I see the use of `.subsplit` in a blog : https://leemeng.tw/neural-machine-translation-with-transformer-and-tensorflow2.html#%E5%88%87%E5%89%B2%E8%B3%87%E6%96%99%E9%9B%86

[2020-05-09 00:50] #2004 closed

[2020-05-11 01:45] TaylorBradshaw opened #2010 "Catalog Dataset Example Throws Error"
**Description of issue**

The example on https://www.tensorflow.org/datasets/catalog/overview is not usable.  The int2str function inside of the print function throws a ValueError because it's trying to print the label of 32 images at once.  Removing the line 'ds = ds.batch(32)' fixed the value error for me, and caused the program to print out all of the labels of each image, though I'm not sure t

[2020-05-11 07:29] djdongjin opened #2011 "oxford_iiit_pet has wrong Checksum"
**Short description**
Description of the bug.

The `oxford_iiit_pet` dataset has a wrong checksum value.

**Environment information**
* Operating System: colab
* Python version: 3.6.9
* `tensorflow-datasets`/`tfds-nightly` version: tensorflow-datasets 2.1.0
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: tensorflow 2.2.0-rc4

**Reproduction instructions**

[code]

**Link to

[2020-05-11 08:29] Eshan-Agarwal commented on #2011
@djdongjin  try with `tfds-nightly` works fine as PR #1995 recently merged, here is [colab](https://colab.research.google.com/drive/1UE-AgGy7pXuoOXdfqt8cY1qlCZGK8vxb?usp=sharing)

[2020-05-11 08:31] djdongjin commented on #2011
@Eshan-Agarwal tks!

[2020-05-11 08:31] #2011 closed

[2020-05-11 15:36] vijayphoenix commented on #2010
Thanks for reporting this.

We could do something like this instead.
[code]

[2020-05-11 22:01] johnmellor commented on #206
I'm working on a patch to add this.

[2020-05-12 03:09] nicolasshu opened #2015 "TFDS Librispeech cannot generate TFRecord files"
**Short description**
I have downloaded the entire dataset and I expected to make the TF Record files, but the code described by the documentation seems to crash while reading a JSON object, which I'm not sure which one. I'm not sure what else to do

**Environment information**
* Operating System: Ubuntu 18.04
* Python version: Python 3.6
* `tensorflow-datasets`/`tfds-nightly` version: `tensorflow

[2020-05-12 07:15] Vinnitsky opened #2016 "cifar10_1 error: wrong checksum"
**Short description**
When I load cifar10_1 dataset I got an error - the wrong checksum

**Environment information**
* Operating System: ubuntu 18.4
* Python version: 3.6.10               hcf32534_1    anaconda
* `tensorflow-datasets` version: 3.1.0                    pypi_0    pypi
* `tensorflow-gpu` version: 2.1.0                h0d30ee6_0
**Reproduction instructions**

[code]
or
[code]

**Link

[2020-05-12 13:37] vijayphoenix commented on #2016
Thanks for reporting this @Vinnitsky.
Thanks @Eshan-Agarwal for the update.

The dataset files got updated because it now uses the numpy format version 2.0.
https://github.com/modestyachts/CIFAR-10.1/tree/master/datasets

[2020-05-12 13:37] Eshan-Agarwal commented on #2016
@Vinnitsky Thanks for reporting I think checksums are changed because of some [`numpy formating`](https://github.com/modestyachts/CIFAR-10.1/tree/master/datasets) from owners.

[2020-05-12 20:26] Molkree commented on #1772
For anyone interested in this dataset: here's open [PR](https://github.com/tensorflow/datasets/pull/194) adding it and here it is [implemented](https://github.com/tensorflow/graphics/tree/master/tensorflow_graphics/datasets/modelnet40) in TensorFlow Graphics repo.

[2020-05-13 10:16] keosu opened #2021 "Error when loading imdb_reviews dataset"
**Short description**
the following code report an error when running on colab
[code]

**Environment information**
colab

**Reproduction instructions**

1. open this link https://www.tensorflow.org/tutorials/keras/text_classification_with_hub
2. run in colab

**Link to logs**
TypeError                                 Traceback (most recent call last)
<ipython-input-2-4b45eebfd65c> in <module>()

[2020-05-13 11:40] vijayphoenix commented on #2021
@keosu Thanks for reporting the issue.
This should be fixed soon by #2022

[2020-05-13 15:21] alvarobasi opened #2024 "TypeError 'UrlInfo' object is not iterable error when loading oxford_iiit_pet dataset."
**Short description**
Exception has occurred: TypeError
'UrlInfo' object is not iterable error is triggered when trying to load a TF dataset.

I've tried with other datasets such as dogs_vs_cats with the same result.
**Environment information**
* Operating System: Ubuntu 18.04 LTS
* Python version: 3.6.9
* `tfds-nightly` version: 3.1.0.dev202005130105
* `tf-nightly-gpu` version: 2.2.0.dev20200508

[2020-05-13 15:24] vijayphoenix commented on #2024
Thanks for reporting. It should be fixed by https://github.com/tensorflow/datasets/pull/2022

[2020-05-13 18:35] Conchylicultor commented on #2021
Sorry about the regression. The fix should appear in the next tf-nightly

[2020-05-14 15:53] Conchylicultor commented on #1402
Closing this as I think the question was answered. We might add a new util class in the future to simplify this use-case.

[2020-05-14 15:53] #1402 closed

[2020-05-15 16:55] sgodfrey66 opened #2033 "Colab uses old TFDS version"
**Short description**
To be honest, I'm not sure if this is a bug or how to consistently recreate the issue.  However, I found it challenging and others might as well.  In some cases, the tfds.load() method returns a DatasetV1Adapter object which seems to have a different set of methods than the expected Dataset.

Running this code snippet in Colab gave me errors (see Colab notebooks below) https:

[2020-05-15 18:41] Conchylicultor commented on #2033
It seems that you are using an older version of TFDS.

With new versions of TFDS:
* `tfds.load` always returns a `tf.compat.v2.data.Dataset` object.
* `tfds.show_examples` accept `(ds, info)` (instead of `info, ds`). This change was done for consistency with `tfds.load`

It seems that you're passing the new argument order using the older version.

The default version of TFDS installed in Colab is

[2020-05-16 05:33] tonyboston-au opened #2035 "Accessing a newly created tfds dataset"
A dataset was created and the guidance for adding the dataset to tfds from: https://www.tensorflow.org/datasets/add_dataset

After creating the dataset.py file, ran the command:
$ python -m tensorflow_datasets.scripts.download_and_prepare   --register_checksums=True   --datasets=auslssm2018

This downloaded my dataset and generated output:

Dataset auslssm2018 downloaded and prepared to /Users/tbo

[2020-05-16 18:31] Conchylicultor commented on #2035
`DatasetNotFoundError` indicates the dataset isn't registered. You should import your dataset to make sure TFDS is aware of your dataset existance:

[code]

[2020-05-16 20:26] nikregrado opened #2036 "Can i resume download of C4 dataset"
When i download this dataset in one of link i got 503 error and script was stopped. When i trying to run script again i got OsError: Not enough disk space...  Can I resume download, or i need to delete all downloaded files and try it again?

[2020-05-17 00:53] tonyboston-au commented on #2035
Thanks for your help @Conchylicultor

import my_dataset (as in import auslssm2018) generates this error:
[code]

ds = tfds.load('auslssm2018') generates a ```DatasetNotFoundError```

[2020-05-17 01:08] PanJason commented on #974
Hi, I am now in need of this dataset for my project of rib fracture detection. The dataset you provided didn't contain the annotation of vertebra as mentioned on Spine Web. These are really crucial for my project. Do you have any way to retrieve these data?

[2020-05-17 17:59] Conchylicultor commented on #2035
@tonyboston-au By `import my_dataset`, you need to import the module where you defined the dataset. See: https://docs.python.org/3/tutorial/modules.html

[2020-05-18 01:04] tonyboston-au commented on #2035
This is what I get when running python from ~/tensorflow_datasets:

(dea-sb) TonysMacBook:tensorflow_datasets tboston$ python
Python 3.6.10 |Anaconda, Inc.| (default, Jan  7 2020, 15:01:53)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "/Users/tboston/anaconda3/

[2020-05-18 07:21] tonyboston-au commented on #2035
Also is it possible to run a notebook within Google Colab that can access the dataset I have created and loaded into tfds?

[2020-05-18 15:04] Ouwen commented on #974
@leohu6

[2020-05-18 18:46] vijayphoenix commented on #2036
@nikregrado As of now resume feature is not implemented in TFDS.

Similar issue: https://github.com/tensorflow/datasets/issues/1077

[2020-05-18 18:58] vijayphoenix commented on #2035
Hi @tonyboston-au,
When adding a new dataset, I generally do the following
[code]
This automatically adds the current directory in the `sys.path`.
Now add the new `my_dataset.py` and other files here and generate the dataset.
Then the code

[code]
should work fine even in colab.

If you don't want to add your dataset to tfds then you might wanna follow https://www.tensorflow.org/datasets/add_datas

[2020-05-18 20:13] Conchylicultor commented on #2036
Even if there is no caching within a single file, there is caching per-file. All downloads are saved on a temporary directory until completion when they are renamed.

If the rename is atomic for your system, then it should be safe retry the download without having to delete all files.

[2020-05-19 00:15] tonyboston-au commented on #2035
Thanks @vijayphoenix
That worked up to a point, cloned the repository, did pip install -e, was able to generate the dataset. tfds.load works in python but not in colab.
[code]
[code]
[code]

[2020-05-19 06:48] tonyboston-au commented on #2035
Hi again @vijayphoenix
I guess I could use GCS to host the dataset then use Colab as discussed here: #486. But I would prefer not to have to do this if there is a way to access a user-created tfds dataset via Colab.

Thanks in advance for your help.

[2020-05-19 08:53] nikregrado commented on #2036
Thanks for replies

[2020-05-19 08:53] #2036 closed

[2020-05-19 09:39] muhammadfahid51 opened #2039 "ValueError: Shapes (28, 28) and (28, 28, 1) must have the same rank"
My dataset is in MNIST format.
When I load the data in tensorflow-datasets, it gives me the titled error. I don't know what and where the problem actually lies.

[2020-05-19 17:39] Conchylicultor commented on #2035
@tonyboston-au Basically it seems that the TFDS version you have installed on colab do not contain your dataset. As @vijayphoenix said, you need to install your custom TFDS version on Colab. Like:
https://colab.sandbox.google.com/drive/14lbqVnYBNIqRpz1woF6RE03JtVM8HbJF

Or import your dataset somehow.

[2020-05-20 08:07] jason-zl190 commented on #1688
@ChanchalKumarMaji I pulled a request of this dataset - #2041, please take a look. Any comments and reviews are also welcome.

[2020-05-20 08:44] PanJason commented on #974
I emailed Dr. Shuo Li directly and he sent me the dataset.

[2020-05-20 11:39] tonyboston-au commented on #2035
Thanks @Conchylicultor @vijayphoenix
Now TFDS with my dataset (ausls2018) is installed on Colab. I was able to prepare and download the dataset using: python -m tensorflow_datasets.scripts.download_and_prepare   --register_checksums   --datasets=ausls2018

But when I try to load the dataset, a Datasetnotfound error is still ghenerated:
[code]
which generates:
[code]

[2020-05-20 13:14] elfelround commented on #965
I advise uploading this dataset to kaggle.com

[2020-05-20 15:01] lgeiger opened #2042 "Image datasets set encoding_format incorrectly"
**Short description**

Many image datasets set `encoding_format`  metadata incorrectly to `png` even though real data uses `jpeg`.

**Environment information**
* Operating System: macOS
* Python version: 3.7.7
* `tensorflow-datasets`/`tfds-nightly` version: 3.1.0
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: 2.2.0

**Reproduction instructions**

[code]

**Expected behavior

[2020-05-20 19:20] vijayphoenix commented on #2035
@tonyboston-au Here is an example colab [notebook](https://colab.research.google.com/drive/1kdqmjjp-Omg3GfKO4FthubegCnJUrNqf).

It downloads and loads a new dataset, not in tfds (PR #1427).

Follow similar steps and you will be able to load the data

[2020-05-20 19:34] vijayphoenix commented on #2039
With the given context it is not possible to point out the error.

The error message is produced because of some mismatch in the matrix shape. Try using some reshape function to fix the error

[2020-05-21 05:17] muhammadfahid51 commented on #2039
It was solved and it was the shape mismatch issue. It happened during loading saved files from hard drive (cache). Then I had to change the shape of images to (28, 28, 1) and it started working.
@vijayphoenix Thanks for the reply though

[2020-05-21 05:17] #2039 closed

[2020-05-21 05:25] SinaChavoshi opened #2045 "duplicate logging message after calling tfds.load"
**Short description**
Description of the bug.
A call to tensorflow_datasets.load  adds an additional logging handler, tf registers a separate logging handler, this results in duplicate logging messages.

example :

**Environment information**
* Operating System: ubuntu 16
* Python version: 3.7
* `tensorflow-datasets` version: '2.0.0'
* `tensorflow` version:'2.1.0-dlenv_tfe'

**Reproduction instruc

[2020-05-21 06:01] nobutoba opened #2046 "Setting interleave_parallel_reads always results in KeyError"
**Short description**
The commits https://github.com/tensorflow/datasets/commit/e23fb248a575990cad34e260e564a37f8b181c6d, https://github.com/tensorflow/datasets/commit/c7027413b339d3a48fd309ec78ff8b2b3c93b1f4 deprecated `interleave_parallel_reads` and introduced `interleave_cycle_length` instead. However, instantiating the `ReadConfig` class with the `interleave_parallel_reads` argument always res

[2020-05-21 14:04] mikechen66 commented on #1977
lgeiger and danielmapar are correct.

I solve the issue by removing the old files and installing tfds-nightly

### 1. Remove the downloaded files

[code]
### 2. Install tfds-nightly

`$ pip --no-cache-dir install tfds-nightly`

Thank a lot.

[2020-05-21 15:36] Conchylicultor commented on #2046
Thank you for reporting. Sending a fix now.

[2020-05-21 15:41] Conchylicultor commented on #2045
I wasn't able to reproduce the issue. Could you share a colab which demonstrate the problem ?

[2020-05-21 16:06] Conchylicultor commented on #2042
I agree this is confusing. We should:

* Make `encoding=None` by default, and require an explicit encoding if the user yield `np.array`. Encoding would still be optional when yielding `bytes`/paths.
* If the encoding is explicitly set, we should make sure that the given encoding match the given bytes.

Don't hesitate to send a PR if you have time.

[2020-05-21 18:29] afrozenator opened #2048 "[data request] Deepmind's PG-19"
* Name of dataset: PG-19
* URL of dataset: https://github.com/deepmind/pg19
* License of dataset: Apache License 2.0
* Short description of dataset and use case(s): This repository contains the PG-19 language modeling benchmark. It includes a set of books extracted from the Project Gutenberg books library, that were published before 1919. It also contains metadata of book titles and publication da

[2020-05-21 18:30] afrozenator commented on #2048
@lukaszkaiser - please upvote?

[2020-05-21 19:15] lukaszkaiser commented on #2048
It's a very nice dataset, would be great to have it on TFDS for more impact!

[2020-05-21 20:22] #2046 closed

[2020-05-23 06:52] wysohn commented on #1351
If anyone interested, I've encountered the same problem and was able to fix it (kind of) by deleting the reserved tokens in the corpus while building the subword dictionary.

It seems like the original intension was to naively put all the `reserved_tokens` at the top of subword vocabs, so the build_from_corpus() doesn't seem to care if those tokens are in the vocabulary already.

Basically, it see

[2020-05-25 03:45] alejandrods commented on #142
Please add me as collaborator @cyfra

[2020-05-25 04:47] aaronhma opened #2053 "NonMatchingChecksumError for oxford_flowers102"
**Short description**
When

**Environment information**
* Operating System: macOS
* Python version: Conda Python 3.7.7
* `tfds-nightly
* `tensorflow 2.2.0

**Reproduction instructions**

[code]

**Link to logs**
[code]

**Expected behavior**
I expect the dataset to be downloaded without any checksum errors.

Any help with this would be appreciated! Thanks!

[2020-05-25 04:49] aaronhma opened #2054 "Disable check sum checkings"
**Is your feature request related to a problem? Please describe.**
This feature request relates to my issue: #2053 and many other people's issues.

**Describe the solution you'd like**
I think that there should be an option to disable the checking the checksum of a dataset.

Thanks!

[2020-05-25 04:59] vijayphoenix commented on #2053
Hi @aaronhma,
The checksums were recently updated. See https://github.com/tensorflow/datasets/issues/1977
So, I think the problem is fixed.
Let me know if you face any issues.

[2020-05-25 05:18] vijayphoenix commented on #2054
A solution I could think of is:
Passing `register_checksums=True` in `download_and_prepare_kwargs` option in `tfds.load`

See [tfds.download.DownloadConfig](https://www.tensorflow.org/datasets/api_docs/python/tfds/download/DownloadConfig) for various download options.

[2020-05-25 15:28] aaronhma commented on #2053
@vijayphoenix Thanks for letting me know! I just regenerated the checksums locally for the dataset v2.1.1. But, when I download the dataset, TensorFlow Datasets automatically downloads v2.1.0. I'm including a full bug log:

[code]

Thanks!

[2020-05-25 20:43] acharles7 commented on #2048
@afrozenator @lukaszkaiser Can I work on this?

[2020-05-25 20:52] lukaszkaiser commented on #2048
Sure!! Let us know if we can help in any way!

[2020-05-25 21:00] acharles7 commented on #2048
Thanks @lukaszkaiser
Is it fine if I put this data on the text section of the dataset?
Do we only need metadata for this dataset? because if not then this dataset is of > 10GB.
Please let me know what you really want in this dataset
Thanks.

[2020-05-25 21:04] lukaszkaiser commented on #2048
I think we want the whole dataset - with all the data and all splits, right? So anyone using TFDS can run experiments with this dataset same as with any other language modelling one. I guess so at least - I think that'd be the most beneficial for TFDS and all users, or am I missing something?

[2020-05-25 21:09] acharles7 commented on #2048
Thank you, I'm working on it. I'll let you know if I have any queries. I will make PR soon.

[2020-05-25 21:15] lukaszkaiser commented on #2048
Great news, looking forward to it!! :)

[2020-05-25 21:24] aaronhma commented on #2053
@vijayphoenix After some Googling, I just realized that the oxford_flowers dataset has been updated from 2.1.0 to 2.1.1. The reason this `NonMatchingChecksumError` occurs happens here: https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/stable_versions.txt#L619, as TFDS still relies on v2.1.0, instead of 2.1.1.

[2020-05-25 21:33] vijayphoenix commented on #2053
@aaronhma The dataset was recently updated, hence the changes are only present in tfds-nightly.

The stable_versions.txt contains all the versions and configs of datasets when stable version like tdfs-3.1.0 was released.

[2020-05-26 01:19] tonyboston-au commented on #2035
Thanks @vijayphoenix (@Conchylicultor)
That seems to work when the Colab runtime type is set to no hardware accelerator, but strangely when the runtime type is set to GPU or TPU I can't get it to work on my own dataset (ausls2018). I get the DatasetNotFoundError:
[code]
Any advice is really appreciated.

[2020-05-26 15:50] afrozenator commented on #2048
Hi @acharles7 -- In TFDS you write to code to process the dataset and store as tf-records, while you are iterating, maybe you can just process one or two files from the train split and one or two from validation split etc just to make things fast on your end.

In the eventual PR you can remove these constraints and then anyone who needs it can build the dataset on their own.

Let me know if you ha

[2020-05-26 15:51] afrozenator commented on #2048
I'll assign this issue to you at the moment, @acharles7 - many thanks again!

[2020-05-26 17:03] acharles7 commented on #2048
Thank you @afrozenator I'll let you know if I have any doubts.

[2020-05-26 18:02] aaronhma commented on #2053
@vijayphoenix Currently, I'm using `tfds-nightly`, but I still receive the `NonMatchingChecksumError`. Is there a way to fix this? Thanks!

[2020-05-26 18:11] vijayphoenix commented on #2053
Possible solutions:
https://github.com/tensorflow/datasets/issues/1977#issuecomment-623036343 and https://github.com/tensorflow/datasets/issues/1977#issuecomment-632105079

[2020-05-26 18:20] vijayphoenix commented on #2035
Changing Hardware accelerator to GPU should not cause any problem and it is difficult to point out the problem without more information.

Can u share the colab notebook?

[2020-05-27 01:15] tonyboston-au commented on #2035
@vijayphoenix - the colab notebook is unremarkable.

I worked out what the problem is. I needed to include this statement before loading my dataset using tfds.load('ausls2018'):
[code]
Seems to work fine now with any of the runtime environments.

Thanks for your help. Issue can be closed.

[2020-05-27 01:16] #2035 closed

[2020-05-28 14:43] sunseaandpalms opened #2059 "Seeing 403 when trying to get "imdb_reviews" dataset"
**Short description**
Seeing 403 when trying to get `"imdb_reviews"` dataset.

**Environment information**
* Operating System: `Win7`
* Python version: `3.7.7`
* `tensorflow-datasets`/`tfds-nightly` version:  `tfds-nightly==3.1.0.dev202005280105`
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: <package and version>

**Reproduction instructions**

[code]

**Link to logs**
[co

[2020-05-28 17:10] vijayphoenix commented on #2059
The `403 Forbidden Error` happens when the web page that you're trying to open is blocked for you.

Try to manually open the website in your browser. If it doesn't open then try to figure out why you are unable to open the website, for example, your internet service provider blocked it.

Using a VPN could be a possible fix.

[2020-05-28 21:51] acharles7 commented on #2048
@lukaszkaiser @afrozenator I got this error when running `download_prepare.py` script

As this dataset is of size >10 GB, and I'm saving the dataset locally. it might be the case of this error. Should I look into the Apache beam? As documentation suggests beam for TB sized dataset.

here's the code for the `my_dataset.py`
[code]
Please suggest any better approach for this or Let me know if I'm doi

[2020-05-28 22:05] afrozenator commented on #2048
Hi @acharles7 - I think this looks good, have you verified that this runs on a small sample of the dataset?

i.e. in `_generate_examples` instead of going over all files here:
[code]

What if you break after one file, i.e.
[code]

Is it neat if we can get the metadata too?

I don't think we'll need Beam for this dataset, 10Gb should be easy.

As again, please just iterate on one file per split to

[2020-05-28 22:15] acharles7 commented on #2048
Thank you @afrozenator
Yes, I have generated `dataset_info.json` file for validation and test set only.
Can you help me with the `metadata.csv` file, How to yield metadata and textfile content together?
I'll try other steps mentioned by you and get back to you.

[2020-05-28 22:25] acharles7 commented on #2048
I generated this output after iterating only 1 one file for each split.
which means it works properly. right?

[code]

[2020-05-28 22:41] afrozenator commented on #2048
So far so good.

For metadata:

I see that in `_generate_examples` you create a dictionary (`metadata_dict`) out of the `meta_data` list (and you create `meta_data` list in `_split_generators`) correct?

Instead let us move the dictionary generation to `_split_generators` entirely, so that each `_generate_examples` call doesn't need to do a lot of processing.

Also let's change the dictionary form

[2020-05-28 23:00] acharles7 commented on #2048
Yes, gotcha.
Thank you @afrozenator

[2020-05-29 17:26] acharles7 commented on #2048
I have one query related to `book_id`, the book_id related information is lost after it downloaded using `dl_manager.download(urls)`, This is what it looks like
[code]

_The bold text is book_id_

I can't find a way to retrieve `book_id` from the downloaded file format that we got in `_generate_examples`.
Do you have any idea to retrieve `book_id` in `_split_generators` or `_generate_examples` fro

[2020-05-29 18:30] afrozenator commented on #2048
Looking into it.

On Fri, May 29, 2020, 10:26 AM Charles Patel <notifications@github.com>
wrote:

[2020-05-29 19:08] Conchylicultor commented on #2048
The data seems to be hosted on GCS. It means that you could read directly the original files:

[code]

This way, you don't have to download the file and deal with name mangling.

[2020-05-29 19:14] acharles7 commented on #2048
@Conchylicultor thank you.
I'll try this too.

[2020-05-29 22:23] aaronhma commented on #2053
@vijayphoenix Thanks for the quick reply! After running these commands, there still is a `NonMatchingChecksumError`. Thanks!

[2020-05-29 23:11] acharles7 commented on #2048
@afrozenator I have completed the coding. here's the snippet of it. Let me know if it requires changes. I have run `download_and_prepare ` for only on test and validation set and generated `dataset_info.json`. Is it fine if I put `dataset_info.json` with partial information (without train set split) at  the time of PR?

[code]

[code]

[2020-05-30 01:29] afrozenator commented on #2048
Thanks @acharles7 please make the PR!

[2020-05-30 08:06] sunseaandpalms commented on #2059
I see the link is just working right now. Mb the site was down.

[2020-05-30 08:06] #2059 closed

[2020-05-30 18:18] vijayphoenix commented on #2053
@aaronhma I did not face any error. See [colab](https://colab.research.google.com/drive/1kdqmjjp-Omg3GfKO4FthubegCnJUrNqf).

Try removing both the dataset and tfds and reinstall them.

[2020-05-30 20:15] psds01 commented on #1351
This is interesting.

But according to me the real problem lies [here](https://github.com/tensorflow/datasets/blob/1705802f695a6d985d21469b3ce9d836629c7e1d/tensorflow_datasets/core/features/text/subword_text_encoder.py#L474). For any token, if the _next_ token is a space, then the given token will have an underscore at the end of it. This will create duplicates for all the tokens that are sometime

[2020-05-30 20:16] #1351 closed

[2020-06-01 04:39] aaronhma commented on #2053
@vijayphoenix Thanks for helping me! I ran the scripts and it worked! Thanks again and have a great day!

[2020-06-01 04:39] #2053 closed

[2020-06-01 04:39] aaronhma commented on #2054
#2053 Fixed

[2020-06-01 04:39] #2054 closed

[2020-06-01 19:56] acharles7 commented on #2048
@afrozenator @lukaszkaiser @Conchylicultor Thank you for your help in getting this PR done. You guys always inspire me to do more _open source contributions_

[2020-06-01 20:17] afrozenator commented on #2048
Many many thanks for doing this @acharles7 !

[2020-06-01 20:17] #2048 closed

[2020-06-01 22:20] vijayphoenix opened #2067 "New Image Folder dataset"
**Is your feature request related to a problem? Please describe.**
Currently, TFDS has a [tfds.image.ImageLabelFolder](https://www.tensorflow.org/datasets/catalog/image_label_folder) class which creates a dataset from a folder of images. However, the current API feels confusing and boilerplate.

**Describe the solution you'd like**

We should create a new `ImageFolder` class that should not pre-pr

[2020-06-03 18:32] TonyWZ commented on #931
Hi, I am working on adding MovieLens to tfds. I plan to first add MovieLens 25M and MovieLens latest small (100k) first.

[2020-06-03 22:40] acharles7 commented on #2010
@vijayphoenix Do you know how to fix this?

[2020-06-03 22:52] vijayphoenix commented on #2010
@acharles7 This fix did not work for you?

[2020-06-03 22:58] acharles7 commented on #2010
@vijayphoenix Do you know how to change catalog  https://www.tensorflow.org/datasets/catalog/overview

[2020-06-03 23:01] vijayphoenix commented on #2010
The catalog is generated from [this](https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/scripts/documentation/templates/catalog_overview.mako.md) `.mako` file.

[2020-06-03 23:03] acharles7 commented on #2010
Thank you.
I am making PR if you don't mind

[2020-06-03 23:06] vijayphoenix commented on #2010
PRs are always welcomed :-)

[2020-06-03 23:07] acharles7 commented on #2010
Thank you

[2020-06-03 23:17] vijayphoenix commented on #2024
Fixed by f096c13.
Can be closed

[2020-06-03 23:17] vijayphoenix commented on #2021
Fixed by f096c13.
Can be closed

[2020-06-03 23:27] vijayphoenix commented on #1757
Can be closed

[2020-06-03 23:30] #2021 closed

[2020-06-03 23:30] #2024 closed

[2020-06-03 23:31] #1757 closed

[2020-06-03 23:32] vijayphoenix commented on #1691
Closing this as we filter out Image_classification datasets.
We could add more sections in the future.

[2020-06-03 23:32] #1691 closed

[2020-06-04 00:16] #2010 closed

[2020-06-04 00:32] vijayphoenix commented on #1762
Documentation Updated

[2020-06-04 00:32] #1762 closed

[2020-06-04 04:38] enigma0160 opened #2073 "[data request] UCF-Crime"
* Name of dataset: UCF-Crime
* URL of dataset: https://visionlab.uncc.edu/download/summary/60-data/477-ucf-anomaly-detection-dataset
* License of dataset: Unkown
* Short description of dataset and use case(s):
Dataset of 1900 untrimmed videos
Total time of approx 128 hrs
Contains both normal and anomalous videos
Can be used for Anomaly detection, novelty detection etc

Folks who would also like to

[2020-06-04 04:44] Ouwen commented on #1867
@Conchylicultor I was wondering if there were any updates regarding the storage of this dataset!

[2020-06-04 15:38] Conchylicultor commented on #1867
Sorry for the delayed answer. In order for us to re-host the dataset, we also need to make sure that the individual images have a valid licence. Those images are probably owned by the university so it's not clear if we can redistribute it or not.

[2020-06-05 23:19] acharles7 commented on #1938
@Conchylicultor there is a limit on GCS, it returns only the first 1000 files per request if we want more than 1000 we have pass `NextMarker` (name of last file) and request again until we get all files. This way we can get all files without missing any.

let me know if you want additional information on this. I had implemented this functionality for `pg19 dataset` to get all files but my problem

[2020-06-05 23:39] Conchylicultor commented on #1938
@acharles7 Oh interesting. I didn't knew about the 1000 limitation.

@rsepassi, do you remember why our GCS util is using `requests` rather than the `tf.io.gfile` API to list and download files ? Was it performance issue ? Something else ?

[2020-06-05 23:41] acharles7 commented on #1938
https://cloud.google.com/storage/docs/xml-api/get-bucket-list
`The XML API does not return lists longer than 1000 objects.`

[2020-06-06 06:28] quantitative-technologies opened #2075 "HTTP code: 406 when downloading dataset"
**Short description**
DownloadManager.download("http://www.manythings.org/anki/fra-eng.zip") throws an error, even though I can download directly from that address, e.g. using wget.

**Environment information**
* Operating System: Ubuntu 20.04
* Python version: 3.8
* `tensorflow-datasets`/`tfds-nightly` tensorflow-datasets version: 3.1.0
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu

[2020-06-06 22:33] CoolNamesAllTaken commented on #1901
I just did a fresh install of tensorflow and tensorflow_datasets on Windows 10 and ran into this exact issue with caltech_birds2011. Is it possible that this issue didn't actually get fixed?

[2020-06-06 22:43] vijayphoenix commented on #1901
Please mention the versions of tf and tfds.

[2020-06-06 22:53] vijayphoenix commented on #2075
Please mention the name of the dataset and if possible the code to reproduce the error.

[2020-06-07 00:12] quantitative-technologies commented on #2075
This is not a named "pre-defined" dataset. I gave the url I was trying to download from, and here is the original code from my custom `GeneratorBasedBuilder` class:

    def _split_generators(self, dl_manager):
        url = "http://www.manythings.org/anki/fra-eng.zip"
        dl_paths = dl_manager.download_and_extract(url)

        return [
            tfds.core.SplitGenerator(
                na

[2020-06-08 00:05] louis925 opened #2077 "ImportError: cannot import name 'extract_zipped_paths' from 'requests.utils'"
**Short description**
ImportError: cannot import name 'extract_zipped_paths' from 'requests.utils'

**Environment information**
* Operating System: Windows 10 Pro 64bits
* Python version: 3.7.5
* `tensorflow-datasets`/`tfds-nightly` version: tensorflow-datasets 3.1.0
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: tensorflow 2.1.0

**Reproduction instructions**

[code]
This

[2020-06-08 03:09] CoaLee commented on #702
I think line number 176~178 of code still need to be corrected, though this part is deprecated.
[code]
It yields incorrect error message when `subword_id < 0`. For example, if `subword_id` is `-1`, it passes the condition and raises error saying `'Received id 0 ...'`

So I suggest changing `subword_id + 1` of line 178 to `subword_id`.

[2020-06-08 03:45] Ouwen commented on #1867
So right now the images in this dataset are released through the Creative Commons BY-NC Attribution-NonCommercial 4.0 International License.

Is there a particular license we need to change the dataset being released to?

[2020-06-08 06:40] bosecodes opened #2078 "ValueError while using ReadInstruction API"
**Short description**
ValueError while using ReadInstruction API
**Environment information**
* Operating System: Pop OS (Ubuntu : Linux)
* Python version: 3.7
* Tensorflow-datasets version 3.1.0
* Tensorflow-GPU version 2.0.0

**Reproduction instructions**

[code]

[code]
**Expected behavior**
The Slicing should have worked as simple as using the Simple String API approach.

[2020-06-08 18:01] Conchylicultor commented on #2078
As the error message explain, you should use keywords arguments for split:

You should use `tfds.load('mnist', split=[])` instead of `tfds.load('mnist', [])`

[2020-06-08 18:01] #2078 closed

[2020-06-08 18:10] Conchylicultor commented on #1867
The licence would be good, but how have the images been obtained ?
Is there for us a way to check that the images have indeed been released under this license ?

[2020-06-08 18:13] Conchylicultor commented on #2077
Thank you for reporting. This should have been fixed with `tfds-nightly`. Could you try to install `tfds-nightly` and check that the issue has been fixed ?

[2020-06-08 18:39] Conchylicultor commented on #1901
It seems the issue was fixed in tfds-nightly. Did you try ?

[2020-06-08 19:59] Ouwen commented on #1867
Ah yes: https://research.repository.duke.edu/concern/datasets/jh343s87k?locale=en
This is the official data repo supported by Duke library with the CC license.

Will this work?

[2020-06-08 22:04] Conchylicultor commented on #1867
Thanks for pointing the original data! I've added duke_ultrasound to the list of mirrored datasets.

[2020-06-08 22:04] #1867 closed

[2020-06-09 12:27] 275761919 commented on #1998
@Conchylicultor
https://www.tensorflow.org/tutorials/keras/text_classification_with_hub?hl=zh-cn
this doc has not been updated.

[2020-06-09 16:22] Aspie96 commented on #299
This would be absolutely great.
I agree it's a shame how private IBM is keeping this dataset

[2020-06-09 16:23] Aspie96 commented on #299
It'd be nice if the media stopped ruining everything just one day.

[2020-06-09 18:01] vijayphoenix commented on #1998
@275761919 I see that the English version of the doc is updated.

[2020-06-10 01:11] acharles7 commented on #1799
@Conchylicultor This dataset featured in many ML and  DS tutorial, one of them, [StatQuest with Josh Starmer](https://www.youtube.com/watch?v=q90UDEgYqeI&t=460s) (a famous machine learning youtube channel). It would be great for the community to have this dataset in tfds.

[2020-06-10 04:39] NohHaklim opened #2081 "UnicodeDecodeError: 'utf-8' codec can't decode byte ~"
**What I need help with / What I was wondering**
when i study this tutorial: https://www.tensorflow.org/tutorials/generative/cyclegan, error occured.
if load 'cycle_gan/horse2zebra' no problem occur, but use 'monet2photo', 'cezanne2photo',... same problem occured.
[code]
i had swiched tensorflow 2.0.0 but not solved.
How to solve this problem??

traceback:
[code]
**Environment information**
(if ap

[2020-06-10 15:21] vijayphoenix opened #2082 "TFX support for TFDS"
**Is your feature request related to a problem? Please describe.**
[TFX](https://www.tensorflow.org/tfx) is an end-to-end platform for deploying production ML pipelines.
They have an [ExampleGen](https://www.tensorflow.org/tfx/guide/examplegen) to load data from various sources (databases, tfrecord,...):
It would be good to have ExampleGen support TFDS natively.
This would unlock TFDS datasets for

[2020-06-11 00:01] Conchylicultor commented on #2082
Thank you for looking into this Vijay.
I think there might be two parts we might want to provide for the users:
* `ExampleGen`: Read the data from TF-Record
* `TFT`: Decode the images, eventually cast values,... (our current `info.features.decode_examples`)

A first good step would be to write a full end-to-end TFX with a trainer to see how TFDS can be plugged into a dummy model in practice.

Once

[2020-06-11 11:11] NohHaklim commented on #2081
I solved problem by extracting dataset manually...

[2020-06-11 11:11] #2081 closed

[2020-06-11 17:27] Conchylicultor commented on #1917
Sorry for the late answer. Mnist is small enough so you could load it entirelly in memory and use `ds = ds.filter` to only keep labels satisfying a specific condition.
Alternativelly, you can inherit from MNIST and overwrite `_generate_examples`

[code]

Closing this as the issue is old so probably obsolete, but don't hesitate to re-open if you need more info.

[2020-06-11 17:27] #1917 closed

[2020-06-11 17:45] Conchylicultor commented on #1975
Sorry for the late answer. Do you still encounter the issue ? As far I understand, this may be a cuda issue (old version, out of memory,...) or a TF issue. Did you try creating a `tf.data.Dataset` which call `tf.image.decode_image` without TFDS ?

The issue seems to be triggered by `eager/context.py", line 509 in ensure_initialized` by `framework/constant_op.py", line 95 in convert_to_eager_tensor

[2020-06-11 17:45] #1975 closed

[2020-06-11 23:03] garychanchan opened #2086 "[data request] <ImageNet>"
* Name of dataset: <name>
* URL of dataset: <url>
* License of dataset: <license type>
* Short description of dataset and use case(s): <description>

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests to prioritize.

And if you'd like to contribute the dataset (thank you!), see our [guide to adding a dataset](https://g

[2020-06-12 02:58] dearzhangyi commented on #299
The official diversity-in-faces program webpage has gone

[2020-06-12 03:15] Aspie96 commented on #299
They don't actually provide it it seems, which is a shame. Somebody should rebuild this dataset IMO. It wouldn't even be too hard to build a similar one.

[2020-06-12 12:36] lgeiger commented on #2086
ImagenNet is already available. Checkout https://www.tensorflow.org/datasets/catalog/imagenet2012

[2020-06-12 17:11] #2086 closed

[2020-06-12 17:13] garychanchan commented on #2086
it doesnt matter.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Conchylicultor"<notifications@github.com&gt;;
发送时间:&nbsp;2020年6月13日(星期六) 凌晨1:11
收件人:&nbsp;"tensorflow/datasets"<datasets@noreply.github.com&gt;;
抄送:&nbsp;"陈国祥"<335184725@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [tensorflow/datasets] [data request] <ImageNet&gt; (#2086)

Closed #2086.

—
You ar

[2020-06-12 18:05] jpgard commented on #299
That's correct, the dataset is not even available upon request (or has not been for around a year) -- unless someone can verify that they have received the dataset from IBM during that time. The same issue also exists with some other "diverse" facial datasets, such as Gender Shades PPB dataset afaik.

Rebuilding the dataset would be a difficult, but worthy task, and the procedure is fairly well-de

[2020-06-12 19:06] Aspie96 commented on #299
Yes, it'd be hard to rebuild it.
But with shared effort building a similar one isn't that hard, depending on the purpose.

I didn't check which features the original dataset had, so I can be wrong, but here's what I am thinking.

The original dataset it comes from might still be available. If it is, one can use the same dataset to extract all faces. Original images need not to be saved, only obtai

[2020-06-15 02:50] martinmamql opened #2087 "tarfile.ReadError: bad checksum ImageNet tensorflow dataset"
**What I need help with / What I was wondering**
Initialize checksum file when I have ILSVRC2012_img_train.tar and ILSVRC2012_img_val.tar

**What I've tried so far**
I have followed https://www.tensorflow.org/datasets/catalog/imagenet2012 and put the two archive files ILSVRC2012_img_train.tar and ILSVRC2012_img_val.tar to the corresponding directory. Then the error
`tarfile.ReadError: bad checksum

[2020-06-15 15:01] nikste opened #2090 "[data request] a2d2"
* Name of dataset: a2d2
* URL of dataset: https://www.a2d2.audi/a2d2/en.html
* License of dataset: CC BY-ND 4.0
* Short description of dataset and use case(s):

Autonomous driving dataset by audi.
Contains lidar and Images with semantic segmentation labels

The dataset features 41,280 frames with semantic segmentation in 38 categories. Each pixel in an image is given a label describing the type of

[2020-06-15 19:00] Conchylicultor commented on #2087
We haven't tested our code with Python 3.5. Could you try with 3.6+ ?

The error seems to be during the extraction of `/usr/lib/python3.5/tarfile.py`. Does the extraction works without TFDS ? It may indicate that the archive is corrupted.

[2020-06-16 07:20] pawarharshit commented on #1489
Please provide the source of data

[2020-06-16 07:23] pawarharshit commented on #327
I want to work on this

[2020-06-16 12:22] ahmadnazeeh opened #2092 "Data set problem"
**What I need help with / What I was wondering**
I have my own data set in ".csv" format with 2-columns, I need to use my own data set instead of "ted_hrlr_translate/pt_to_en", that is loaded as an example for data set from TED Talks. The code is:

examples, metadata = tfds.load('ted_hrlr_translate/pt_to_en', with_info=True,
                               as_supervised=True)
train_examples, val_ex

[2020-06-16 16:28] Conchylicultor commented on #2092
`ted_hrlr_translate` will load TED data. If you want your own data, you can create your own dataset: https://www.tensorflow.org/datasets/add_dataset.

We could make it easier to create custom datasets. We've started with `tfds.ImageFolder` in tfds-nightly.

[2020-06-17 13:54] vijayphoenix commented on #2092
Similar issue https://github.com/tensorflow/datasets/issues/1402
We can simplify this use case by providing some API like `tfds.TranslationDataset`.

Basically, create a dataset from a folder with the given structure.
Each example of a language `lang1` will be a line of text from the file `lang1.split_name`
[code]
Some References APIs:
- [tf.data.TextLineDataset](https://www.tensorflow.org/api_doc

[2020-06-17 15:47] nikste commented on #2090
I'm taking a look a this and its not clear to me if datasets are grouped by task or input type (there seem to be some dataset implementations for `object_detection` but also for `image`)

Additionally this dataset contains:
as input:
Lidar + images
as targets:
semantic segmentation + bounding boxes (plus lots of other configuration data)

Is it better to implement this as 2 separate datasets, or o

[2020-06-17 20:57] martinmamql commented on #2087
Dear Conchylicultor,

Greetings! Sorry for the reply. It is indeed two corrupted files and I have resolved this by downloading again.

Thank you so much for your great help and feel free to close this issue!

Sincerely,
Martin

[2020-06-17 20:57] #2087 closed

[2020-06-17 23:06] sharanramjee commented on #2033
I just ran `!pip install --upgrade tensorflow-datasets` and that fixed the issue.

[2020-06-18 00:11] sharanramjee opened #2096 "Update Waymo Open Dataset"
**Is your feature request related to a problem? Please describe.**
TFDS currently supports [Waymo Open Dataset v1.0](https://console.cloud.google.com/storage/browser/waymo_open_dataset_v_1_0_0_individual_files/)

**Describe the solution you'd like**
Add [Waymo Open Dataset v1.2](https://console.cloud.google.com/storage/browser/waymo_open_dataset_v_1_2_0_individual_files/) support to TFDS

**Additi

[2020-06-18 05:45] floydium commented on #2090
If I understand this correctly, there are three datasets:

1. Semantic Segmentation:
    Input: camera + lidar + bus
    Target: 38 class semantic segmentation + instance masks for traffic participant classes
    Size: 41,277

2. Object Detection:
    Input: camera + lidar + bus
    Target: 38 class semantic segmentation + instance masks for traffic participant classes + 3D bounding boxes for lida

[2020-06-18 07:08] acharles7 commented on #2096
@Conchylicultor do we have to update this dataset?

[2020-06-18 13:09] pawarharshit commented on #1771
Please assign this to me.
I want to work on it

[2020-06-18 18:12] Conchylicultor commented on #2096
@acharles7, what would be the drawback of updating the dataset ? Note that with `BuilderConfig`, the two versions could be available (e.g. as `waymo/v1.0` and `waymo/v1.2`)

[2020-06-18 18:53] acharles7 commented on #2045
Yes, I am able to reproduce this behavior. Here's colab notebook [logger.ipynb](https://colab.research.google.com/drive/1ILSvr56d2szUryxESLUac_Q5BFnEyKsI?usp=sharing)

[2020-06-18 19:33] vijayphoenix commented on #2045
Adding this should fix the issue
[code]
For more info on why logging happens twice see https://github.com/tensorflow/tensorflow/issues/8023

Closing this issue because it is not related to tfds.
Feel free to reopen if you feel I'm mistaken.