[2020-11-11 09:10] Conchylicultor commented on #2714
I just tried to create a new Cloud VM and this seem to work as expected:

[code]

[2020-11-11 09:14] houseofai commented on #1441
Same issue on a MacBook Pro for the 'imagenette' dataset

[code]
The error:
[code]

The above fix gives me this error:
[code]
When I check my system params I have a high limit:
[code]
I tried doubling those limits but I still got the same error.
[code]

[2020-11-11 09:27] Conchylicultor commented on #2714
It seems that `tensorflow_datasets` was already installed on the machine through Conda. `pip install tfds-nightly` installed the `tfds` CLI, but the strange thing is that `tfds --version` display the conda version installed (`3.1.0`), which do not have CLI.
I'm quite confused. I tried again, but this time `tfds --version` display the correct `TensorFlow Datasets: 4.1.0+nightly`

[2020-11-11 11:42] versae commented on #2711
The job now went through and it appears workers are being started. Adding more languages to the config also works.

Just one question though, should we use `max_num_workers` or directly `num_workers`?

Thanks!

[2020-11-11 11:42] versae commented on #2711
The job now went through and it appears workers are being started. Adding more languages to the config also works.

Just one question though, should we use `max_num_workers` or directly `num_workers`?

Thanks!

[2020-11-11 16:39] adarob commented on #2711
I think num_workers is the way to go, and also disabling auto scale.

On Wed, Nov 11, 2020 at 6:42 AM Javier de la Rosa <notifications@github.com>
wrote:

[2020-11-11 18:43] NikhilBartwal commented on #2714
@Conchylicultor Apologies, I was away for some time and did not read that much about the tfds CLI :(

[2020-11-12 15:52] versae commented on #2711
It's been working for 23 hours now but we don't see any progress, neither in the log of the process, the dataflow log. or the dataflow diagram. Total allocated HDD is 10.99TB, which is insufficient for the entire corpus, although we don't know if the corpus is downloaded in chunks, processed, and then discarded.

Moreover, nothing is being written to the bucket. And after a few hours, we started t

[2020-11-12 16:01] adarob commented on #2711
Do you not see any counters? @rezarokni is this a side effect of `upload_graph`?

If the job is not crashing my suspicion is that it's working. The input dataset is 71x the size of the original C4, so it going to take quite a bit longer. I'm not sure how much longer, but it sould be less than 71x as long.

[2020-11-12 16:29] vijayphoenix commented on #2422
https://github.com/tensorflow/datasets/commit/24211da0508a86f0a9efd82c69bab9d25cda0a20

[2020-11-12 16:29] #2422 closed

[2020-11-12 16:38] vijayphoenix commented on #1707
`download_and_prepare` to be deprecated and replaced.

[2020-11-12 16:38] #1707 closed

[2020-11-12 16:39] #1552 closed

[2020-11-12 17:06] versae commented on #2711
If by counters you mean the stages of each box in the diagram, a few boxes at the beginning are outlined in dashed green (started), but most of them are greyed out (not even started yet). All counters are at 0 (zero), none reported to succeed yet. Attaching a screenshot for reference.

![dataflow](https://user-images.githubusercontent.com/173537/98971666-c1248580-2511-11eb-8fae-ce988baeaa6a.png)

[2020-11-12 17:13] adarob commented on #2711
When the job starts running properly, you should see a "Custom Counters" section on the right as well, assuming the `upload_graph` option isn't disabling it somehow.

Just to be clear, have you downloaded all of the WET files to the manual directory?

[2020-11-12 17:32] versae commented on #2711
We have 72 files like this one in the bucket: `BUCKET/tensorflow_datasets/downloads/manual/crawl-data/CC-MAIN-2013-20/wet.paths`, one for each Common Crawl dump. Is the WET paths files we need or should we have downloaded the actual contents of the all the URLs inside the WET files into the bucket?

We used the next code to put the `wet.paths` files in the bucket:
[code]

[2020-11-12 20:56] ali-soltani commented on #2714
just had the same problem on windows. powershell didnt recognized tfds.
turned out that something removed the path of the python scripts from my environment variables.
pip said to add the folder to path while installing it the 3rd time if this helps anyone.

[2020-11-12 21:08] Conchylicultor commented on #2714
Thank you for reporting those issues. We want to make it easier for other to debug so please continue sharing those issues. Do you remember the steps you took to solve the issue ? I'll add a troubleshooting section on https://www.tensorflow.org/datasets/cli

[2020-11-13 00:55] versae commented on #2711
Is there any other indicator or flag that the job is actually running?

[2020-11-13 02:29] rezarokni commented on #2711
The experimental upload_graph option can cause issues in the UI.
If you click through to the logs from the UI, you should still see the logs in the log UI, which should give some indications.
You may also see some of the metrics using the gcloud options:
https://cloud.google.com/sdk/gcloud/reference/beta/dataflow/metrics

[2020-11-13 05:08] linda2341 commented on #974
I email him but he did not reply

[2020-11-13 08:38] versae commented on #2711
Attaching the Dataflow metrics as returned by the CLI command: [c4-nordic-gen.metrics.txt](https://github.com/tensorflow/datasets/files/5535621/c4-nordic-gen.metrics.txt) Nothing of interest there we believe.

In the UI, workers logs are empty, and the jobs log hasn't returned anything since 36 hours ago:
![image](https://user-images.githubusercontent.com/173537/99046527-29677b80-2593-11eb-881b-f8

[2020-11-13 08:57] versae commented on #2711
Our only hope is that some workers look like this:
![image](https://user-images.githubusercontent.com/173537/99048958-8b75b000-2596-11eb-9a3e-cf9fea6af07f.png)

[2020-11-13 14:04] adarob commented on #2711
It sounds like you only download the wet path files, not the actual wet
files. I'm not sure why it's not just crashing when it can't find them in
your manual directory.
I can try to set it up to download on the workers instead of requiring you
to do it ahead of time, but it's not straightforward due to how TFDS
download manager stores all of the files in the same directory.

I'll spend a bit of ti

[2020-11-13 14:28] versae commented on #2711
Just to be clear, you are saying that what we need to put into the bucket are WET files (files ending with `.wet`), and not the `wet.paths` files we are putting as of now, is that right? If that's the case we better stop this pipeline before it drains our budget.

[2020-11-13 14:31] adarob commented on #2711
Yes, that is the case.

On Fri, Nov 13, 2020 at 9:29 AM Javier de la Rosa <notifications@github.com>
wrote:

[2020-11-13 14:34] versae commented on #2711
Thanks. So WET files as they are, not the compressed versions they are now in the `wet.paths` files. What should we do with the file path, the part with `crawl-data/CC-MAIN-2020-45/segments/1603107863364.0/wet/CC-MAIN-20201019145901-20201019175901-00006.warc.wet.gz`?

[2020-11-13 16:03] adarob commented on #2711
FYI, I am implementing a part of the pipeline that will download everything you need for you. Sit tight :)

[2020-11-13 17:34] versae commented on #2711
I really thought the actual WET files were downloaded and processed by the workers. Thanks, @adarob!

[2020-11-13 18:04] adarob commented on #2711
That is the case for the original C4 but due to some limitations in TFDS,
it was not possible for mC4. However, I will make it so :)

On Fri, Nov 13, 2020 at 12:34 PM Javier de la Rosa <notifications@github.com>
wrote:

[2020-11-13 20:56] rhofour opened #2733 "FR: Support auxiliary data with datasets"
**Is your feature request related to a problem? Please describe.**
Some datasets are designed to be used with other data that isn't really part of the training set. Consider the existing web_questions dataset which clears states "The questions are supposed to be answerable by Freebase, a large knowledge graph." TFDS makes it easy to get the web_questions training and test sets, but it does nothing

[2020-11-13 21:15] adarob commented on #2711
I have a change that I've verified works for me on a subset of the WET files. I need to clean it up a bit and then I'll make a PR later tonight.

[2020-11-13 21:39] versae commented on #2711
That's excellent news, we really appreciate it. Looking forward to test it in a dozen workers before launching the big job.

[2020-11-14 01:40] adarob commented on #2711
Check out https://github.com/tensorflow/datasets/pull/2734

[2020-11-14 13:12] vijayphoenix commented on #2447
https://www.tensorflow.org/datasets/cli#tfds_build_download_and_prepare_a_dataset

[2020-11-14 13:12] #2447 closed

[2020-11-14 15:49] serabiasin opened #2735 "Need help on preprocessing Kitti Dataset"
**What I need help with / What I was wondering**
I'm trying to do some pre-processing for Kitti Image datasets, and following some procedure on https://www.tensorflow.org/datasets/keras_example,  but it seems this datasets doesn't have feature **as_supervised** flag and when i didn't include it it throw an error

Here is my code :
[code]

[code]

and here is the error message:
[code]

**It would b

[2020-11-14 16:23] charleswilmot commented on #943
The problem still occurs with `tensorflow 2.3.0` and `tensorflow-dataset 1.2.0`

[2020-11-14 20:40] versae commented on #2711
This is cool. So once it's merged, all we need to do is just run the `download_and_prepare` script, so no more manual handling of WET files, is that case?

[2020-11-16 10:51] Conchylicultor commented on #943
For info `tensorflow-dataset 1.2.0` is a very old version. I would strongly encourage you to use more recent version.

With recent TFDS, you can manually download the data yourself. See: https://www.tensorflow.org/datasets/overview#manual_download_if_download_fails

[2020-11-16 10:56] Conchylicultor commented on #2735
As your print statement display:
[code]

So to access the image:

[code]

[2020-11-16 11:34] Conchylicultor commented on #2733
This is already available through `tfds.core.MetadataDict` and `info.metadata`. See: https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/text/wordnet.py for example

[2020-11-16 12:39] versae commented on #2711
We launched a small job test with 50 workers. We hope to see counters counting soon in the UI. Will the bucket start to fill up only in the later stages of the pipeline?

Moreover, since we've just invested so much in these attempts, is there a way to get the data we need directly from you? At some point you have run this code, it worked for you, and you got somewhere the 20GB of Norwegian data we

[2020-11-16 14:24] adarob commented on #2711
Unfortunately we are not able to host the preprocessed data ourselves.  You should see the files being downloading in the bucket once the workers are up and running. They will be in `gs://$BUCKET/tfds_datasets/tensorflow_datasets/downloads/c4_wet_files`. Let me know if you don't start seeing them in there.

[2020-11-16 14:30] versae commented on #2711
The bucket seems stuck at 1.39 GiB and no logs from the workers or the job itself.

[2020-11-16 14:56] versae commented on #2711
Could it be a permissions or quota thing?

[2020-11-16 15:17] adarob commented on #2711
I'm honestly not sure -- this seems quite odd, as even in the original case you should have gotten an error message when it couldn't find the files. I think you'll need to get support from DataFlow directly. I'm sorry about that.

[2020-11-16 15:36] versae commented on #2711
Immediately after we start the job, a total of 145 files of the type `comm.s3*wet.path*.gz` are downloaded to the bucket. After that, absolutely nothing seems to happen. We are watching the size of the bucket with `gsutil du -s gs://BUCKET` and it reports exactly 1.39 GiB (1487344103) size. The UI is reporting this:
![image](https://user-images.githubusercontent.com/173537/99273727-b62b6700-2829-1

[2020-11-17 06:54] choward232 commented on #2680
Hello! I'm actually having a similar issue properly registering a custom tfds dataset. I think the documentation in the tutorial ( https://www.tensorflow.org/datasets/add_dataset ) is particularly unclear on this part. I'm able to build my custom dataset, but when I try to load it in another script, it gives the error tensorflow_datasets.core.load.DatasetNotFoundError: Dataset tfds_seedlings_datas

[2020-11-17 07:50] vijayphoenix commented on #2680
@choward232 Try something like this

[code]

[2020-11-17 16:16] GajdosDavid opened #2742 "[data request] Rubik's cube photos"
* Name of dataset: Rubik's cube photos
* Short description of dataset and use case(s): I need a dataset of 1-face photos of Rubik's cube and its variations. Any variation is welcome however the ones important are: Pyraminx (3 layers), 3x3 cube's face, 3x2 cube's face, 2x2 face + any other. I'll be using it for my School application for detecting the cube's configuration and visualizing how to solv

[2020-11-17 19:12] duran67 opened #2745 "Wrong labels in coil100 dataset, has 72 instead of 100"
Hi, I believe the labels are wrong the dataset.

If you examine the "label" feature it says number of classes is 72, it should be 100.
`info.features["label"].num_classes`
`72 `
72 is how many images there are per class, 100 is the number of objects/classes.

If you list the labels it shows the 5-degree steps.
`info.features["label"].names`
`'0' '5' '10' '15' '20' '25' '30' ...`

Should be:
`'obj1

[2020-11-17 22:11] versae commented on #2711
Before we completely give up on this, @adarob, do you think it would be possible to reduce the size of the job graph to we don't need the experimental features in Dataflow?

[2020-11-17 22:13] adarob commented on #2711
I really don't think that should be necessary. I used the same experimental flag and was still seeing logs and counters. @rezarokni can you please help with DataFlow support?

[2020-11-18 00:13] rezarokni commented on #2711
Can you please raise a support ticket.

[2020-11-18 02:43] versae commented on #2711
Not sure I know how to do that.

--
Sent using a cell-phone, so sorry for the typos and wrong auto-corrections.

On Wed, Nov 18, 2020, 1:14 AM Reza Rokni <notifications@github.com> wrote:

[2020-11-18 03:56] #2491 closed

[2020-11-18 06:46] sakinaljana commented on #2692
Thanks @NikhilBartwal, yes i think so. I'll close this issue

[2020-11-18 06:46] #2692 closed

[2020-11-18 07:39] rezarokni commented on #2711
Do you have any of the support plans with your account?
https://cloud.google.com/support/docs

If not, just some items from the top of mind, is the zone in which the workers running in the same region as the source and the same region as the destination? In case things are working but slower than expected.

In the logs for the failed job, do you see any messages that might be showing any permissio

[2020-11-18 07:49] versae commented on #2711
It seems we have Bronze support, which doesn't seem to include Dataflow?

We think so, we used the `--beam_pipeline_options` argument to set `region` to `us-central1`. Both bucket and the machine launching the job are `us-central1`.

In the failed job that lasted for 24 hours, after a few hours we started to see a lot of messages like these ones:

I1112 06:43:57.139022 139788711368448 transport.py

[2020-11-18 08:10] rezarokni commented on #2711
@adarob sorry didnt have chance to dig into the pipeline code, but whats the overall flow for creating the file_paths:

"create_wet_path_urls" >> beam.Create(file_paths["wet_path_urls"])

@versae in the slow pipeline what did the CPU graph look like? Was there one machine at high CPU with the rest all low for the pipeline that used @adarob new code.

[2020-11-18 09:41] versae commented on #2711
Not really. Here's previous code (worked for 24 hours with 450 workers):
![image](https://user-images.githubusercontent.com/173537/99512979-67491300-298a-11eb-861a-5ce66bc8ec80.png)

And here the short test based on the new code (4 hours with 50 workers):
![image](https://user-images.githubusercontent.com/173537/99513070-89429580-298a-11eb-991b-a0dda0d6bdc0.png)

[2020-11-18 13:46] adarob commented on #2711
As of #2734 (not yet merged), the initial pipeline looks like:

[code]

file_paths["wet_path_urls"] is ~72 files

[2020-11-18 14:00] lizgc opened #2748 "How to access to already downloaded ImageNet dataset?"
I downloaded two folders : ILSVRC2012_img_train.tar and ILSVRC2012_img_val.tar, and placed them in a drive with the following path: "H:\lizeth\imagenet2012" I additionally extracted both folders in the same directory (keeping the same directory organisation). As for the ILSVRC2012_img_train.tar after extraction, it contains 1001 .tar files too, which I extracted and keep them in the extracted ILSV

[2020-11-19 03:24] rezarokni commented on #2711
So the beam.Create([]) should return 72 elements.
@versae In the dataflow job when you clicked on the create_wet_path_urls transform did you see any of the element counters move up from 0? Or was everything stuck at 0?

@adarob I assume that file_paths does not need lots of machines? If the answer to the above is that it was stuck at 0, then one test would be to simply run that first step with the

[2020-11-19 06:01] versae commented on #2711
Everything was stuck at zero.

--
Sent using a cell-phone, so sorry for the typos and wrong auto-corrections.

On Thu, Nov 19, 2020, 4:25 AM Reza Rokni <notifications@github.com> wrote:

[2020-11-19 07:00] versae commented on #2711
Using `DirectRunner` at least we see workers logs (lines starting with `Splitting file` in the log), which never became available through the DataFlow UI: [nb-mc4-direct.log](https://github.com/tensorflow/datasets/files/5564944/nb-mc4-direct.log)

[2020-11-19 07:29] versae commented on #2711
Even the bucket seems to be growing in size, finally.

[2020-11-19 09:06] rezarokni commented on #2711
This could be some form of permission issue, but there should be a log of errors, sorry if you have tried this already:
In the previous job if you could goto logs and then on the 2nd drop down window which is by default set to something job_messages and select All , which will then include worker logs etc. If that doesnt have any error messages then we will need to work through the steps.

@adarob

[2020-11-19 09:12] rezarokni commented on #2711
@versae I checked with on of my colleagues and not sure if your work here would qualify or not, but you may want to have a look at the link under faculty:

https://edu.google.com/programs/faculty/benefits/

[2020-11-19 10:03] versae commented on #2711
In all cases workers logs are empty, no matter what I set the level filter to. I'm attaching all job logs (they are CSVs but I had to change them to TXT so I can attach them to this issue):
- tfds from master, run 450 workers, 24 hours: [nordic-mc4-24h-all-logs.txt](https://github.com/tensorflow/datasets/files/5565935/nordic-mc4-24h-all-logs.txt)
- tfds from PR, run 50 workers, 4 hours:
[nordic-mc

[2020-11-19 10:35] rezarokni commented on #2711
Let me try and chat to @adarob more on what the scripts are doing and then we can see what to dig into.

[2020-11-19 11:21] Conchylicultor commented on #2748
The error message indicate it doesn't find the archive file in: `H:\lizeth\imagenet2012\downloads\manual\imagenet2012\ILSVRC2012_img_train.tar`

Are you sure that the `ILSVRC2012_img_train.tar` is correctly ? Could you run:
[code]
And copy result here ?

Also it seems you're using an old TFDS version. I would suggest you to upgrade.

[2020-11-19 13:13] Conchylicultor commented on #2745
As far as I understand the implementation, it seems label correspond to the angle, while object_id correspond to the object id.
I agree this is confusing.

* object_id should be changed to a `ClassLabel`
* `label` should be renamed `angle_label`
* There likelly should be an additional `'angle': tf.int64` feature to contain the raw angle.

Don't hesitate to send a PR to update the dataset

[2020-11-19 13:32] versae commented on #2711
Just reporting that after an hour or so of running the `DirectRunner` locally, the process just stopped. No error. It simply stopped after a few `Splitting file` operations.

[2020-11-20 16:06] rhofour opened #2758 "FR: Support 7zip extraction"
**Is your feature request related to a problem? Please describe.**
Some datasets (such as YAGO-3: https://yago-knowledge.org/downloads/yago-3) provide their data in 7-Zip archives. Currently TFDS cannot handle this.

**Describe the solution you'd like**
7-zip should be supported. It's free and open-source (GNU LGPL) so I don't believe there should be any issues including it.

**Describe alternativ

[2020-11-20 17:11] Conchylicultor commented on #2758
This would be nice, unfortunately, there is no 7z support in the python standard library. We could try a third party module, but not sure about those.

Unfortunately , the best solution currently is for the user to manually extract the data and use `dl_manager.manual_dir`: https://www.tensorflow.org/datasets/add_dataset#manual_download_and_extraction

[2020-11-20 17:13] Conchylicultor commented on #2758
Or alternatively, you could try to use `path = dl_manager.download('....7z')` and use one of the third party module in your dataset `_split_generators` to read the data.

[2020-11-20 20:31] harsh020 commented on #2745
@Conchylicultor Hi, I was working  on this issue, I seem to have run into an issue. When I renamed the key `label` to `angle_label`, it seemed that I was able to load the dataset successfully using `load` but I was unable to iterate the dataset using `take`.

Code:

[code]

The peek function prints
[code]

The error it raises is
[code]

But `angle_lable` seems to be of `dtype: int64`.

Same goes t

[2020-11-21 10:48] wangwenchao-job opened #2761 "All attempts to get a Google authentication bearer token failed"
**What I need help with / What I was wondering**
Due to network problems, I can't log in to GCs, so there will be this problem

[code]

So I wonder if there's a way to block this.

At present, my requirement is to load my own dataset and use instructions：
[code]
Error in TFDs build step。

**What I've tried so far**
My version and try：
[code]

According to the error log, trace to / core/ builder.py

[2020-11-21 15:06] acul3 opened #2762 "Load only specific language in c4/multilingual"
Currently c4/multilngual size is too big too load for the people who need only specific language

as probably mentioned in #2711 [this](https://github.com/tensorflow/datasets/issues/2711#issuecomment-724045404)
can we load only specific language ini tfds c4/multilingual ? say if i want load only italy language, i can just call
[code]

or is it already possible to do that?

thanks

[2020-11-21 15:21] caxelrud opened #2763 "Radon dataset is not available"
Radon dataset is not available.

I installed the nightly version but the problem persist.
(But, I can see it is available in Colab.)

**Environment information**
* Operating System: Window 10
* Python version: 3.7
* `tensorflow-datasets`/`tfds-nightly` version: '3.2.1'
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: '2.3.0'

[2020-11-22 15:12] #2735 closed

[2020-11-22 17:12] maxisawesome commented on #2680
I got passed my issue, but there were actually several. You don't need to convert anything to a tfrecord beforehand, you can pass .wav files in directly like @Conchylicultor wrote above, so my last comment was basically all incorrect (lol oops). You can just ignore the `dl_manager: tfds.download.DownloadManager)` passed into `_split_generators` and just use local paths.

I managed load my tfds wit

[2020-11-23 06:44] Ouwen opened #2765 "v4.1.0 not compatible with AWS s3"
Using an s3 bucket instead of a gcs bucket url will result in a
`NotFoundError: s3:/<BUCKET>/cifar10/3.0.2.incompleteWPUHGB/cifar10-train.tfrecord-00000-of-00001; No such file or directory`

**Reproduction instructions**
[code]

This error does not occur in `4.0.1`

[2020-11-23 07:17] Ouwen commented on #2765
This issue can be fixed by modifying the `tensorflow_datasets/core/utils/gpath.py` to account for the `s3://` file extension.

[code]

[2020-11-23 10:35] Conchylicultor commented on #2765
Oh, I didn't knew `tf.io.gfile` was supporting S3. Sending a fix now

[2020-11-23 11:50] Conchylicultor commented on #2680
We recently updated the dataset creation workflow: https://www.tensorflow.org/datasets/add_dataset#download_and_prepare_tfds_build

With the new workflow, you could do:
[code]

[2020-11-23 12:00] Conchylicultor commented on #2763
Could you provide a code snippet and logs that you're getting ?

Also pease try with `tfds-nightly`

[2020-11-23 12:19] versae commented on #2711
Just wondering if there is any progress on this.

[2020-11-23 12:34] #2765 closed

[2020-11-23 12:47] Conchylicultor commented on #2761
Could you share the full stacktrace ? and code snippet that you're trying to run ?

[2020-11-23 12:47] rezarokni commented on #2711
@versae I have not had a chance to connect yet ( difficult timezones ). But worse case I will see if I can setup a test rig one of my evenings this week. That will help me dig around to try and emulate what you are seeing on your side.

[2020-11-23 12:51] Conchylicultor commented on #2745
Thanks for looking into this. Could you open a draft PR so we can take a look ?

[2020-11-23 15:54] versae commented on #2711
Thanks, @rezarokni. If there is anything I could do just let me know.

[2020-11-23 16:41] Ouwen commented on #2765
I believe https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/utils/generic_path.py might need to get edited as well

[2020-11-23 17:48] Conchylicultor commented on #2765
Nice catch. Updating now

[2020-11-23 18:50] lizgc commented on #2748
Hello,

Thanks for replying, I actually fixed the error in the following way:
1. Download both ILSVRC2012_img_train.tar and ILSVRC2012_img_val.tar (remember to check that names are the same, otherwise manually change them). You do not need to unzip those files manually, otherwise it'd be a waste of memory and time. tfds will do it later through download_and_prepare.

2. Set a folder for your downl

[2020-11-23 18:56] lizgc commented on #2748
Just to add another important comment, not sure if this is a bug. I had actually to modify dataset_builder.py. The following AssertionError keeps appearing :
[code]

[2020-11-23 19:13] Conchylicultor commented on #2745
Could you make sure the data is fully regenerated by deleting `~/tensorflow_datasets/coil100/`

[2020-11-23 19:46] harsh020 commented on #2745
Regenerating the dataset seems to have resolved the issue. Thank you very much. I am committing rest of the changes and opening the PR for review.

Thank You.

[2020-11-24 05:40] sparkingdark commented on #142
add me as collaborator @cyfra @rsepassi

[2020-11-24 05:41] sparkingdark commented on #314
Is this still open @Conchylicultor I am working similar type of issue in another project.

[2020-11-24 10:47] Conchylicultor commented on #2765
Windows s3 compatibility has been updated in https://github.com/tensorflow/datasets/commit/b37b279f9d1b98e34fcf383195a11b501eb2f20a. Let me know if you still encounter issue in the last tfds-nightly

[2020-11-24 13:47] wangwenchao-job commented on #2761
Thank you very much for your reply~

Here is my tracking process

[code]

So I wonder if there are other better ways to avoid accessing GCS instead of manually modifying the source code.

### Another problem

Currently, I use TFDs new my_ Dataset create my own dataset, and then build my through TFDs_ The dataset generates the corresponding tfrecord and other files.

Here is my dataset file：
[code]

[2020-11-24 13:58] wangwenchao-job commented on #2761
Thank you very much for your reply~

Here is my tracking process

[code]

So I wonder if there are other better ways to avoid accessing GCS instead of manually modifying the source code.

### Another problem

Currently, I use TFDs new my_ Dataset create my own dataset, and then build my through TFDs_ The dataset generates the corresponding tfrecord and other files.

Here is my dataset file：
[code]

[2020-11-24 17:21] devil-cyber commented on #2299
hi, is this issue still open can I work on this?

[2020-11-24 18:27] hyandell opened #2780 "Confusing licensing"
The following two files have both Apache-2.0 and Creative Commons Attribution-ShareAlike identified as the license for the files. Which license applies?

https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/text/wiki40b.py
https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/text/wikipedia.py

[2020-11-24 19:32] NikhilBartwal commented on #2780
Hey @hyandell, the two mentioned files, along with all others that are a part of Tensorflow Datasets fall under the Apache 2.0 license as mentioned in the scripts.
The datasets, however, have their own licenses as defined by the owner/admin if that very dataset.
`wikipedia` and `wiki40b` datasets fall under the Creative Commons licence.

If this solved your query, please close the issue!

[2020-11-25 10:56] Conchylicultor commented on #2780
As @NikhilBartwal explained, the dataset definition source code `wiki40b.py` is under Apache 2.0. But the data itself is CC.

[2020-11-25 10:56] #2780 closed

[2020-11-25 11:04] Conchylicultor commented on #2761
Thank you for the update. By stacktrace, I meant the command you're running and the logs which are displayed in your terminal.

[2020-11-25 12:46] Conchylicultor commented on #2299
I think this could still be worked on. As a first step, I think we could add a standalone script/function `generate_statistics(builder, dst_dir)` which generate the statistics and save them in `dst_dir / statistics.json`.

This way we don't add any more complexity in the core API. Then we can think more about better exposing the statistics directly inside the core API.

[2020-11-25 12:51] Conchylicultor commented on #2748
`tfds.load` will search for the pre-generated dataset inside `data_dir=` (`~/tensorflow_datasets/` by default). If you're seeing the error, it likely mean you generated the data in `tfds.load(..., data_dir='/some/dir')` but are loading it from another dir `tfds.load(..., data_dir='/another/dir')`.

[2020-11-25 13:03] harsh020 commented on #2745
@duran67 Hi, I hope PR #2769 resolved your issue.
Now, `label` has become `angle_label` with 72 classes (0, 5, 10, 15,.... labelled as 0, 1, 2, 3, ....)
We have converted `object_id` to a `ClassLabel` with 100 classes (obj1, obj2, obj3,.... labelled as 0, 1, 2, 3....)
We have also added `angle` feature which stores raw angles (0, 5, 10, 15.....)

Thank You.

[2020-11-25 13:23] #2745 closed

[2020-11-25 13:24] #2733 closed

[2020-11-25 13:24] Conchylicultor commented on #2733
I think this has been resolved. Let us know if not

[2020-11-25 18:28] Conchylicultor opened #2791 "Better `tfds.as_dataframe` visualization"
TFDS visualisation is helpful but currently a little too limited:

For example, [COCO](https://www.tensorflow.org/datasets/catalog/coco) visualisation makes it difficult to view the bounding boxes, labels:

![image](https://user-images.githubusercontent.com/9047355/100262249-2df54200-2f4c-11eb-9786-3ba9d90b96f6.png)

Here are a few ideas to improve the current visualisation:
Done:

* [x] `BBoxFeat

[2020-11-26 15:03] wangwenchao-job commented on #2761
So, any suggestions？
After loading the dataset, I encountered an error in the display process:
[code]

Here is my dataset file, and builder.info:
[code]

builder.info:
[code]

Thank you very much for your help and look forward to your reply！

[2020-11-26 15:15] wangwenchao-job commented on #2761
So, any suggestions？
After loading the dataset, I encountered an error in the display process:
[code]

Here is my dataset file, and builder.info:
[code]

builder.info:
[code]

Thank you very much for your help and look forward to your reply！

[2020-11-26 16:02] Conchylicultor commented on #2761
I meant if you want us to be able to help you, you should share the stacktrace and logs that you're getting when running the program. It indicates the call stack, which files, and lines have been called.

For your second error, you're setting `shape=(102, 62, 3)`, but your images are gray-scale (so should be `(102, 62, 1)`)

[2020-11-26 17:36] harsh020 commented on #2791
@Conchylicultor Hi, I was working on it. Could you please tell me if there is any way to preview **locally** how my changes will be rendered in the frontend?

Thank You.

[2020-11-26 19:01] Conchylicultor commented on #2791
Thank you @harsh020 . To preview locally, you can either:
* Test locally in a local jupyter notebook.
* Save the `tfds.as_dataframe(...)._repr_html_()` content in a `.html` file and view it on your browser.

Yes, for all features wrapped inside `Sequence` (e.g. `Sequence((my_feature))`), `my_feature.repr_html_batch(ex)` will be called during visualization. For other features, `repr_html` is called

[2020-11-29 04:00] lakshmanok opened #2799 "CLI does not understand GCS data_dir"
Doing:

`tfds build --datasets coco_captions --data_dir gs://practical-ml-vision-book/tfds_cache`

creates a local directory named gs instead of caching to GCS (the behavior of the Python API).

[2020-11-29 13:55] RobinSmits opened #2800 "Even with verify_ssl = False still SSL errors when downloading dataset"
/!\ IF YOU WANT PEOPLE TO HELP YOU, PLEASE GIVE AS MUCH DETAIL AS POSSIBLE, INCLUDING THE FULL STACKTRACE AND CODE SNIPPET

**Short description**
For a computer vision experiment I need tensorflow dataset UCF101. Even when disabling the SSL cert verification with 'verify_ssl = False' I still get the following error:

SSLError: HTTPSConnectionPool(host='www.crcv.ucf.edu', port=443): Max retries exc

[2020-11-30 00:09] Conchylicultor commented on #2799
Thank you for reporting. This is due to: https://github.com/tensorflow/datasets/blob/26587ec6d4b23a501210a687be667e2f8256f32a/tensorflow_datasets/scripts/cli/build.py#L78

The fix should be fairly easy.

[2020-11-30 02:04] ryoma310 opened #2801 "get KeyError while loading celeb_a dataset with tfds(tensorflow_datasets)"
**try to load celeb_a dataset with tfds(my code below)**

[code]

**output**
[code]

**Environment information**
* OS: ubuntu 20.04 LTS
* Python version: 3.8.5 with pipenv
* `tensorflow-datasets` version:  4.1.0
* `tensorflow` version: 2.3.1

[2020-11-30 08:05] versae commented on #2711
Any chance to get this working?

[2020-11-30 08:52] rezarokni commented on #2711
Didnt get a chance last week as most folks out on the holiday, will try and connect this week.
Are you able to raise your support level to be able to raise a support ticket? With a ticket number I could help @adarob track this down more easier.

[2020-11-30 09:01] rezarokni commented on #2711
@versae The instructions at the top are what I assume you tried with the full download. Do you have the commands that you used for the newer code @adarob added ? With that  I can check tonight if the env setup for things like the library are being pulled onto the workers ok.

[2020-11-30 09:17] versae commented on #2711
Almost identical, but getting rid of the uploading of the wet.paths files manually
[code]
Here, `$DATASET_CONFIG` is set to `nordic`, which we added to `datasets` locally: [nordic.patch.txt](https://github.com/tensorflow/datasets/files/5614928/nordic.patch.txt)

[2020-11-30 10:26] Conchylicultor commented on #2801
I'm gonna mark this as duplicate of https://github.com/tensorflow/datasets/issues/1482 or https://github.com/tensorflow/datasets/issues/2321.

I would suggest you to try: https://www.tensorflow.org/datasets/overview#manual_download_if_download_fails

[2020-11-30 11:51] Conchylicultor commented on #2800
In your colab:

[code]

You should pass `tfds.download.DownloadConfig` to:

[code]

[2020-11-30 11:51] #2800 closed

[2020-11-30 15:34] adarob commented on #2711
Just FYI that we use `clean=False` for mC4 since it is uses heuristics for en. However, it will probably work fine for Nordic languages since the alphabet is mostly the same.

[2020-11-30 18:39] RobinSmits commented on #2800
Thanks for clarifying! Much appreciated :-)

[2020-12-01 11:32] #2799 closed

[2020-12-02 11:54] Conchylicultor opened #2813 "Update documentation to display dataset module"
With community datasets coming in, TFDS will automatically document datasets generated outside of TFDS, but publicly available (e.g. in GCS).
We would like to point to the original source code which generated the dataset. Like the current "Source code" section: (e.g. https://www.tensorflow.org/datasets/catalog/accentdb).

We should save the `builber_cls.__module__` inside `dataset_info.json`. This

[2020-12-02 14:19] rezarokni commented on #2711
@adarob is the information in the c4.py config being used within the DoFn? The same one that is being added to the requirements.txt? Or is that information just being statically added as pipeline parameters before the pipeline is submitted?

[2020-12-02 14:38] rezarokni commented on #2711
@adarob also does the nightly have to be used? Looks like the pip install for it takes a long time, which I suspect will use up a lot of time on the workers. [Custom containers](https://beam.apache.org/documentation/runtime/environments/) would probably help with this, but if we can use one of the normal releases it should speed things up.

[2020-12-02 15:45] adarob commented on #2711
tf-nightly does need to be used to get the most recent changes. The C4Config is used to build the graph. The reference in requirements.txt is just to make sure the correct dependencies are installed since c4 has some that are non-default for tfds.

[2020-12-02 19:13] NikhilBartwal commented on #2549
@Conchylicultor I would like to work on the test and was looking at the code for it.

But I'm confused as to how can i access the keys returned by the `_generate_examples` from the `DatasetBuilderTestCase`. I think that I haven't completely understood how the `DatasetBuilder` class works. It would be really kind of you if you could guide me. Thanks!

[2020-12-02 20:02] NikhilBartwal commented on #2813
@Conchylicultor I would like to take this up. Could you guide me how should i get started with `dataset_info.proto`. Thanks!

[2020-12-02 23:04] Conchylicultor commented on #2813
@NikhilBartwal Thank you for your interest.
You should:
* have a look at `dataset_info.proto` and add a new string `module` field.
* Regenerate the dataset_info_generated_pb2.py with instruction from https://github.com/tensorflow/datasets/tree/master/tensorflow_datasets/core/proto
* Then you should fill this field in the `dataset_info.py`
* Then add test in `dataset_info_test.py` to make sure this

[2020-12-03 07:24] rezarokni commented on #2711
OK as the c4 config is used for graph creation time then its not a source of the issue. If it was used at runtime then the local change would not be available as the requirments.txt would pull the original onto the workers.
I think custom containers would be useful when using tf-nightly, but let me see what else I can find.

[2020-12-03 09:17] Conchylicultor commented on #2549
Thank you for your interest. One way would be to use `from unittest import mock` to patch `_generate_examples` and access the value you want.

[2020-12-03 09:20] Conchylicultor commented on #2549
Note: To support beam datasets (https://www.tensorflow.org/datasets/beam_datasets#instructions), if you detect a beam.PCollection, you could add `| beam.Map(_check_key_and_return)` to the pipeline.

[2020-12-03 09:48] NikhilBartwal commented on #2549
@Conchylicultor Thank you for the directions. I think i understand the issue now and will send a PR soon!

[2020-12-03 12:22] NikhilBartwal commented on #2549
@Conchylicultor I had been learning about the `mock.Mock()` and the `mock.patch()` for some time.
AFAIU, we need to patch the `_generate_examples` using something on the lines of:

`with mock.patch.object(self.builder, '_generate_examples') as mock_generate`

But I'm lost as to how to access the actual `keys` from it. Also. the `_generate_examples` usually takes a `path` or `dir` argument, so I'm

[2020-12-03 13:13] Conchylicultor commented on #2549
You need to replace the `_generate_examples` by your own version of `_generate_examples`:

[code]

[2020-12-03 15:08] NikhilBartwal commented on #2549
@Conchylicultor I have created an in-progress PR and it would be great if you could have a look at it. I'm pretty sure that the implementation is not right for now, I hope you could provide me with some pointers for further improvements.

 I was confused as to how would we perform the validation before calling the `original_generate_examples` itself.

[2020-12-03 19:36] toshohirasawa commented on #2762
+1. 27 TB is actually too big for preliminary use.

[2020-12-03 22:29] chrisrytting opened #2827 "Wrong metadata produced for tfds-nightly"
**Short description**
When trying to download the C4 dataset with apache-beam on google cloud dataflow, this exception gets thrown:

[code]
**Environment information**
* Operating System: Ubuntu 18.04
* Python version: 3.6.9
* `tensorflow-datasets`/`tfds-nightly` version: tfds-nightly==4.1.0.dev202012030107
* `tensorflow`/`tf-nightly` version: tensorflow==2.3.1

* Does the issue still exists with

[2020-12-04 06:46] rezarokni commented on #2711
@versae Could you please confirm if you see pip messages in the log files, for example stuff like  "Successfully installed" ... followed the package names that should have been installed. This should show up when clicking through to the Logs View and selecting all log types.

[2020-12-04 08:49] versae commented on #2711
In the main process log I see
[code]
And it all goes well. But I haven't figured out a way to see the workers logs yet.
I'll re-run with the latest master changes to see if anything has changed.

[2020-12-04 09:17] rezarokni commented on #2711
@versae  Its worth waiting while we do a little more investigation.

In the Dataflow logs there should be some pip command output along the lines of "Successfully installed". If that is not there it could be that the workers are not able to build from the tf-nightly due to an env issue. This should be testable with a small run that has a noop DoFn which does a simple log statement after an import

[2020-12-04 09:46] versae commented on #2711
I understand. I never got access to the workers log so I cannot tell whether the requirements are being installed or not. There is no pip message in the Dataflow main process log either. The only place I see that pip successfully installed the dependencies is in my own log of the main process as running in the machine that launches the job.

I am not entirely sure how the dependencies get into the

[2020-12-04 09:55] rezarokni commented on #2711
You should be able to see all of the worker logs from the Dataflow UI, in the Job page on the bottom expand the logs panel. In that panel on the top right there is a go to logs viewer icon. Once there you can use the filter marked dataflow.googleapis... and change it from jobmessages to all logs. This will give you access to all of the log output from all of the workers.

The config issue was exac

[2020-12-04 10:59] versae commented on #2711
Re-run again from scratch:
[code]
Still can't see workers log.

[2020-12-04 11:08] rezarokni commented on #2711
So no logs at all in the log viewer? For example messages like:

"2020-11-25 15:45:14.121 HKT Python sdk harness started with pipeline_options: .."

[2020-12-04 11:20] rezarokni commented on #2711
Are you still needing to make use of experiments=upload_graph btw? This does limit what can be seen in the UI. One other options, without being able to raise a support ticket, is to directly log into the worker. If you goto compute engine in the console, the worker vm's will be shown with a tag that matches the run if I recall. You can vm into them and have a look at the logs directly by connectin

[2020-12-04 11:49] versae commented on #2711
Job logs seem mostly fine:
![image](https://user-images.githubusercontent.com/173537/101160125-d1221780-362e-11eb-8c68-e3c3489b0bc1.png)
But workers log are empty as always no matter what level I choose to show:
![image](https://user-images.githubusercontent.com/173537/101160209-ef881300-362e-11eb-9b9a-cceaa37ebe1a.png)

If I remove the `experiments=upload_graph` flag, the job wouldn't even hit Da

[2020-12-04 12:06] versae commented on #2711
I got into one of the vms spawn up by Dataflow, but I couldn't attach nor exec using docker or kubectl:
[code]

[2020-12-04 12:18] versae commented on #2711
Search in the vm `/var/log`, but nothing containing "HKT", "started", or "pipeline". I did found messages like this:
[code]
Could it be that those vms and pods come with stuff preinstalled on boot and therefore do not install the dependencies for the job?

[2020-12-04 12:35] rezarokni commented on #2711
Interesting that you could not attach...
So rather than the 'worker logs' tab could you please also check the detailed log viewer? Its the square with the diagonal arrow next to the refresh icon, in the image you shared above.

[2020-12-04 13:00] versae commented on #2711
Oh well, I can see them now in the Logs Viewer! Here are the 500 more recent logs: [downloaded-logs-20201204-135226.json.txt](https://github.com/tensorflow/datasets/files/5642831/downloaded-logs-20201204-135226.json.txt)

I see a lot of `Error syncing pod` errors, but what's even more interesting is that effectively the local clone of `tensorflow_datasets` with the custom Config is not being insta

[2020-12-04 13:01] versae commented on #2711
Is the custom Config needed in the workers or only by the main process launching the Dataflow job?

[2020-12-04 14:22] adarob commented on #2711
The custom config is not needed by the workers. It's okay that the installed version doesn't include it.

Just to be clear, I was able to run this with no issue back when I submitted #2734. I'm not sure why you are still having trouble.

[2020-12-04 14:25] adarob commented on #2762
Unfortunately even loading only one language requires you to run a very large Apache Beam job to download and sift through 72 Common Crawl dumps since we are unable to release the fully processed dataset for licensing reasons.

[2020-12-04 15:22] rezarokni commented on #2711
@versae best to delete the txt file as the raw info is not needed.

[2020-12-04 16:52] versae commented on #2711
@adarob, @rezarokni thanks for all the help, we're all in good faith here :) I wish it just worked for me. After removing the local clone from the workers dependencies, getting rid of the experimental flag (job graph file is now 1.3MB instead of 13MB), it now seems we have reached a milestone. I can now see workers logs in the UI and the first stage (counter) has completed successfully. We are now

[2020-12-04 16:53] tvalentyn commented on #2711
This error indicates that a worker Docker container failed to start.
This typically happens when one of the containers is crashlooping on startup,
or a container image cannot be pulled.

If the container is crashlooping, look for an error message
describing the failure in `worker-startup`, `harness-startup` or `docker` logs.
Startup crashes are commonly caused by dependency issues with Python jobs

[2020-12-05 14:49] RobinBaumann commented on #2714
Any update on this? I just tried to install TFDS via `pip install tensorflow-datasets` and can't find the `tfds` CLI with the error: `Command 'tfds' not found`.

TFDS Version = 3.2.1
Operating System: Linux 5.3.0-61-generic #55~18.04.1-Ubuntu SMP x86_64

[2020-12-06 10:07] xumengwei opened #2833 "Load coco dataset from local storage"
I'm trying to load coco'17 dataset from local storage.

[code]

However, I encounter the following issue:

[code]

I'm confused since I already set the download=False, why it still tries to connect to google storage for downloading?

[2020-12-06 13:51] NikhilBartwal commented on #2435
@Conchylicultor The issue is no longer reproducible on the current tfds build and gives the output as expected.
The output as captured on my local machine:

![image](https://user-images.githubusercontent.com/42388668/101281929-1180c180-37f8-11eb-9359-4eccdd831694.png)

[2020-12-06 14:46] versae commented on #2711
After downgrading pip to "<20.0" we got it to work. It's been running for almost 18 hours now. So far we've got a few errors related to downloading of WET files (a HTTP 503 downloading `https://commoncrawl.s3.amazonaws.com/crawl-data/CC-MAIN-2015-27/segments/1435375090887.26/wet/CC-MAIN-20150627031810-00254-ip-10-179-60-89.ec2.internal.warc.wet.gz`, a HTTP 500 for `https://commoncrawl.s3.amazonaws

[2020-12-06 14:46] #2711 closed

[2020-12-06 14:47] versae commented on #2827
As a workaround, downgrading pip to "<20.0" worked for me.

[2020-12-07 08:18] versae commented on #2711
@adarob, @rezarokni, any way to estimate how long the process will take?

[2020-12-07 09:22] versae commented on #2711
If it crashes for any reason, is there a way to resume processing?

[2020-12-07 09:51] feather820 opened #2834 "C4 dataset download"
I want download C4 on my local computer,  I have a spark cluster with 5 slaves, I want use it to generate c4 dataset, but I don't know what the specific parameters by using sparkrunner. what exact parameter can I set spark master ip and port?and other parameters.

[2020-12-07 10:09] Conchylicultor commented on #2834
@adarob FYI

[2020-12-07 11:21] Conchylicultor commented on #2714
@RobinBaumann The CLI was added with TFDS 4+. Please upgrade to last version. I would suggest to install `tfds-nightly` which has additional bug fixes.

[2020-12-07 11:27] Conchylicultor commented on #2435
Thanks for reporting. I fixed recently a few bugs with dataframe.

[2020-12-07 11:27] #2435 closed

[2020-12-07 11:35] Conchylicultor commented on #2833
Thank you for reporting. Sending a fix now. It should be fixed in the next tfds-nightly

[2020-12-07 12:22] Conchylicultor commented on #2827
In the reproduction instruction, you're not sharing how beam_requirements.txt is created ? Is it through `echo 'tfds-nightly[c4]' > /tmp/beam_requirements.txt` ?
What is its content ?

[2020-12-07 12:33] Conchylicultor commented on #2827
I tried to `pip install tfds-nightly[c4]` with pip 20+ and could not reproduce the issue. There might be an issue with how Beam install required deps.

[2020-12-07 12:53] #2833 closed

[2020-12-07 13:10] harsh020 commented on #2791
@Conchylicultor Hi, the last task of grouping `ClassLabels` remain. Will open a PR ASAP.

Thank You.

[2020-12-08 02:24] mkuchnik opened #2839 "[ImageFolder] Calls to GCP"
**Short description**
Using tfds.ImageFolder currently calls into GCP.

**Environment information**
* Operating System: Ubuntu 18.04
* Python version: 3.7
* `tensorflow-datasets`/`tfds-nightly` version: nightly
* `tensorflow`/`tf-nightly` version: nightly
* Does the issue still exists with the last `tfds-nightly` package (`pip install --upgrade tfds-nightly`) ?
Yes

**Reproduction instructions**

[2020-12-08 04:04] pawarharshit commented on #2645
please assign this to me

[2020-12-08 06:37] tvalentyn commented on #2711
It's tricky and depends on the pipeline and even the Dataset. Besides trying the pipeline on datasets of different sizes, it would be prudent to check that pipeline can scale and data is ~evenly distributed between workers (no [hot keys](https://cloud.google.com/dataflow/docs/guides/common-errors#hot-key-detected)).

I don't think it is possible at this time. However Dataflow will retry failing wo

[2020-12-08 08:12] Conchylicultor commented on #2839
From your logs, it seems no error is raised, only a warning. But the dataset should be working properly. Is it not the case ?

It is because TFDS try to pre-cache the metadata info from GCS for all datasets, which in the case of ImageFolder does not exists.

[2020-12-08 08:33] #2616 closed

[2020-12-08 09:29] versae commented on #2711
We have enabled `shuffle_mode=service `, not sure if it mitigates the hot key thing, but we haven't got any errors related to hot keys yet.

To be honest, we are a bit worried. This is costing us around $1000 a day. We are small unit at the National Library of Norway trying to get a mono-lingual Norwegian BERT model released to the public. We are a non-profit European organization (no grant awardi

[2020-12-08 10:39] aiporre commented on #2498
FYI, to used with the tfds.load function:

[code]

[2020-12-08 14:42] adarob commented on #2711
I've never built one of these datasets on DataFlow with more than 1 crawl (the default for English only). For multilingual, we used 72 crawls to help get enough data for the tail languages. Based on this estimate (which is actually only for the *first* stage of processing), I'd highly suggest you reduce the number of crawls you use in the config.

[2020-12-08 20:00] mkuchnik commented on #2839
Yes, ImageFolder works. It just seems strange to me that this warning is presented to users when the dataset is not a GCP dataset. If you are behind proxy (common), you are given a large block of XML, which gets duplicated for each parallel worker you may have. For example:

[code]

I can see this being undesirable for experienced users, who realize that ImageFolder does not need to make a request

[2020-12-08 20:19] mkuchnik commented on #2839
It also means that it takes on the order of 10 seconds for the first `ImageFolder`, due to 10 retries. If the proxy is disabled, the first call only takes less than 0.2 seconds. Subsequent `ImageFolder` calls take less than 1ms.

Thus, if the metadata call, stalls any progress in the script for up to 10 seconds, which is likely a performance issue.

[2020-12-09 03:12] feather820 commented on #1931
How much money did you cost to download C4 dataset, I want to download it, but I'm afraid it will cost a lot.

[2020-12-09 10:31] Conchylicultor commented on #2839
You're right, we should try to avoid this

[2020-12-09 10:36] Marvin182 commented on #1073
LVIS is now included in TFDS.
github.com/tensorflow/datasets/pull/2836

[2020-12-09 11:00] Conchylicultor commented on #1073
Thanks Marvin for your contribution! Closing this

[2020-12-09 11:00] #1073 closed

[2020-12-10 04:39] IIIBlueberry opened #2845 "Would it will be okay to host a dataset on IPFS Network?"
**What I need help with / What I was wondering**
Hello there this is my first time here, and i would like to contribute a requested datasets(large datasets 86+GB no promises though).
I wondering, would it will be okay to host a dataset on IPFS Network? IPFS is a peer-to-peer hypermedia distribution protocol more info here: https://docs.ipfs.io/concepts/how-ipfs-works  https://ipfs.io/

Anyway the

[2020-12-14 10:23] SamuelMarks opened #2861 "`tfds.image_classification.image_folder.ImageLabelFolder` has been deleted"
This PR removed a `class` I use in my codebase: https://github.com/tensorflow/datasets/pull/2089 c47aa6ecd0dd62e114102286fec478af1330107f

The `class` is documented here: https://www.tensorflow.org/datasets/catalog/image_label_folder - but the link breaks (because the file was deleted in that PR).

If this isn't a mistake, then dropping it from the documentation would be a good idea. If this is a

[2020-12-14 14:22] Conchylicultor commented on #2861
As you pointed out, `tfds.image_classification.image_folder.ImageLabelFolder` was deprecated. New code should use:
 https://www.tensorflow.org/datasets/api_docs/python/tfds/folder_dataset/ImageFolder

Thank you for reporting. I'm sending a PR to remove the deprecated page.

[2020-12-14 14:22] #2861 closed

[2020-12-14 18:52] brianzhang01 commented on #1437
Seems like a worthwhile discussion to be having. Any pointers to other forums where this has been discussed?

[2020-12-14 18:52] brianzhang01 commented on #1432
I second @makeyourownneuralnetwork 's questions.

[2020-12-14 19:08] brianzhang01 commented on #1437
I found this discussion on MS-Celeb-1M, but haven't seen anything similar for CelebA. https://megapixels.cc/msceleb/

[2020-12-15 00:20] SamuelMarks commented on #2431
Just following up on this, how do I create TFRecord(s) from [`tfds.folder_dataset.ImageFolder`](https://www.tensorflow.org/datasets/api_docs/python/tfds/folder_dataset/ImageFolder)? - Or is the only way still [`tfds.core.GeneratorBasedBuilder`](https://www.tensorflow.org/datasets/api_docs/python/tfds/core/GeneratorBasedBuilder)?

(like the author, I used the old API for creating TFRecords)

[2020-12-15 01:46] ekchacon commented on #1441
import resource
low, high = resource.getrlimit(resource.RLIMIT_NOFILE)
resource.setrlimit(resource.RLIMIT_NOFILE, (high, high))

train, validation = tfds.load('imagenet_resized/32x32', split=['train', 'validation'], as_supervised=True, shuffle_files = True)

works for me.

[2020-12-15 11:35] Conchylicultor commented on #2431
@SamuelMarks `tfds.folder_dataset.ImageFolder` does not generate TF records. From the feedback we received, it seems users were confused about the previous behavior. Especially when updating the folder and images, it wasn't clear how to regenerate the dataset.

I think we could add another API to generate TF-record from folder like `build_image_folder` which would only generate TF-records files fr

[2020-12-15 13:31] jackd opened #2869 "Composite tensor support"
**Is your feature request related to a problem? Please describe.**
Composite tensors (e.g. `RaggedTensor`, `SparseTensor`) are seeing increased usage in tf applications, but it is not clear how these should be implemented in tfds. Critically, `TensorInfo` does not seem to support `tf.SparseTensor`s, and it is not clear how `sequence_rank` can be related to `ragged_rank` for encoding information re

[2020-12-16 05:26] SamuelMarks commented on #2431
Thanks @Conchylicultor… I got it working again with my old structure - [`BaseImageLabelFolder`](https://github.com/SamuelMarks/ml-prepare/blob/5a9108f/ml_prepare/_tfds/base.py#L36) (see also: [`exectors.py`](https://github.com/SamuelMarks/ml-prepare/blob/5a9108f/ml_prepare/exectors.py))

Probably needs a complete rewrite—as the process is slow and still uses [`tf.compat.v1.Session`](https://www.te

[2020-12-16 10:02] Conchylicultor commented on #2869
What is the concrete use case in which you want to use `SparseTensor` tensors ?

TFDS already supports `tf.RaggedTensor`, as:

[code]

[2020-12-16 13:38] mabidou opened #2872 "tfds is not running on Apple Silicon M1"
I managed to install without any issue & here is what I get on listing it

[code]

On running it even from terminal, I got the following error

[code]

**TensorFlow** has the same issue and I have reported it in https://github.com/tensorflow/tensorflow/issues/45645

**Environment information**

* OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS Big Sur 11.0.1
* tfds version: 4.1.0
*

[2020-12-16 14:26] Conchylicultor commented on #2872
As the log says:
[code]

[2020-12-16 14:26] #2872 closed

[2020-12-16 21:41] jackd commented on #2869
@Conchylicultor graph datasets - adjacency matrices and sparse node features.

My experience with `Sequence`s is that they are abominably slow - even moreso for nested `Sequence`s.

[code]

[2020-12-17 01:50] BJWiley233 commented on #2390
I get this error running IPython in Spyder.

[2020-12-17 06:25] SamuelMarks opened #2875 "How do I `decode_example` using the `tfds.features.FeaturesDict` from `tfds.folder_dataset.ImageFolder`?"
**What I was wondering**
How do I [`decode_example`](https://www.tensorflow.org/datasets/api_docs/python/tfds/features/FeaturesDict#decode_example) from the same [`tfds.features.FeaturesDict`](https://www.tensorflow.org/datasets/api_docs/python/tfds/features/FeaturesDict) as [`tfds.folder_dataset.ImageFolder`](https://www.tensorflow.org/datasets/api_docs/python/tfds/folder_dataset/ImageFolder) def

[2020-12-17 09:08] Conchylicultor commented on #2875
TFDS automatically decode the TFDS records for you. Once the dataset is generated, you just have to do:

[code]

[2020-12-17 09:23] SamuelMarks commented on #2875
I prefer to `class MyDataset(tfds.core.GeneratorBasedBuilder, skip_registration=True):`, which obviously skips this registration. I have the `class` in scope, how do I manually register it (just locally), e.g., is there a `tfds.add_dataset_cls(MyDataset)` interface?

[2020-12-17 09:34] SamuelMarks commented on #2875
Yep, that worked [`tfds.core.builder_from_directory`](https://www.tensorflow.org/datasets/api_docs/python/tfds/core/builder_from_directory) then `ds.as_dataset("train")`

[2020-12-17 10:35] Conchylicultor commented on #2875
1.

I'm confused. Why skipping dataset registration if you want to register it ?

 2. Once the data is generated, `tfds.load` should works even for non generated datasets. Please share a reproductible example and FULL stacktrace if this doesn't work for you.

3. To load an non-registered dataset, you can also directly instanciate `ds = MyDataset().as_dataset(split='train')`.

[2020-12-17 11:47] stefan-falk opened #2879 "Replacement for tfds.deprecated.text.SubwordTextEncoder"
Unfortunately there is no statement addressing the deprecation of [`tfds.deprecated.text.SubwordTextEncoder`](https://www.tensorflow.org/datasets/api_docs/python/tfds/deprecated/text/SubwordTextEncoder).

Why was the `SubwordTextEncoder` deprecated? Will there be a replacement and what can/should we use instead?

[2020-12-17 12:16] IIIBlueberry commented on #2879
I think it was replaced by [tensorflow/text](https://github.com/tensorflow/text)

[2020-12-17 12:21] stefan-falk commented on #2879
@IIIBlueberry Hm, they do not seem to have a `SubwordTextEncoder` yet as far as I can see.

There's discussions about it: https://github.com/tensorflow/text/issues/417 but it seems nothing has materialized yet.

[2020-12-17 13:03] Conchylicultor commented on #2879
We've warned of this changed in our [release notes](https://github.com/tensorflow/datasets/releases) and were raising warning when user was using it.

The reason it is deprecated is because it was non maintained, had known bug and performance issues.

Tensorflow text as text.BertTokenizer or SentencepieceTokenizer which are subword tokenizer. There is also pretrained tokenizer that you can install

[2020-12-17 13:26] stefan-falk commented on #2879
Indeed, it was stated in [v3.2.0](https://github.com/tensorflow/datasets/releases/tag/v3.2.0).

`BertTokenizer` and `SentencepieceTokenizer` do not look like they can create a vocabulary for you so I guess this is something we have to do on our own now - except I am overlooking something.

@Conchylicultor thank you for clarification though. I guess my question is answered. :)

[2020-12-17 13:26] #2879 closed

[2020-12-17 14:57] Conchylicultor commented on #2879
Yes, creating vocabulary isn't straightforward now. I believe TF-Text plan to make it easier. You should submit an issue on their repository to ask them directly.

[2020-12-17 15:00] Conchylicultor commented on #2390
You can also use `tfds.disable_progression_bar()` to avoid TQDM issues

[2020-12-17 16:10] stefan-falk commented on #2879
@Conchylicultor Will do, thank you! :)

[2020-12-17 17:47] NikhilBartwal commented on #2421
@Conchylicultor I would like to take this up. Could you clarify a bit more about the issue as to what needs to be changed? Thanks!

[2020-12-17 18:35] NikhilBartwal commented on #2845
@IIIBlueberry Warm welcome to the community!
Could you shed some light on the dataset that you would like to work on? TFDS supports various different publicly available datasets. Depending upon the size of the dataset, you can host it on Github or Kaggle as well

[2020-12-17 22:08] Conchylicultor commented on #2421
This should be mostly fixed I believe.

[2020-12-17 22:08] #2421 closed

[2020-12-18 00:22] SamuelMarks commented on #2875
@Conchylicultor I am hacking around an issue with [`download_and_prepare`](https://www.tensorflow.org/datasets/api_docs/python/tfds/core/DatasetBuilder#download_and_prepare), where it used to download even when the tfrecords of the right version have been generated. Here is my [`_split_generators`](https://github.com/SamuelMarks/ml-prepare/blob/5333ea9/ml_prepare/_tfds/base.py#L92-L105)

So I expl

[2020-12-18 02:09] ketan-lambat commented on #1781
Getting `AssertionError: No examples were yielded.` for custom tfds.

My output for `tfds build my_dataset.py`
[code]

This is what I had in colab
`!pip install -q tfds-nightly`
[code]
`ds = tfds.load('my_dataset') `

And then this output
[code]

Please help on how to solve this.

[2020-12-18 07:31] leonardozcm commented on #2761
@Conchylicultor What about this stacktrace：
[code]

and my codes related:
[code]

tensorflow version 1.15.0
tensorflow_datasets version 3.2.0

[2020-12-18 11:37] IIIBlueberry commented on #2845
The dataset was FFHQ(Flickr-Faces-HQ Dataset) I planned to add a note on "MANUAL_DOWNLOAD_INSTRUCTIONS=" asking user to have [ipget on the path](https://github.com/ipfs/ipget), and downloading it automatically by executing ipget via subprocess

[2020-12-19 05:21] SamuelMarks commented on #414
@bm777 Maybe something like [`tfds.builder`](https://www.tensorflow.org/datasets/api_docs/python/tfds/builder)?
[code]

More on usage here: https://www.tensorflow.org/datasets/overview#tfdsbuilder

[2020-12-19 06:13] #2875 closed

[2020-12-19 23:49] pkubik commented on #2461
Looks like directory structure has been changed again and now:
- The checksum is obviously wrong
- The code doesn't work even after manual unpacking

The previous convention was `<class_id>/<filename>` where `<class_id>` is one of [0, 1000) classes. Now it seems like they retreated to the original ImageNet convention with `<synset_id>/<filename>`. I guess the original `imagenet2012` code can be re

[2020-12-20 00:06] pkubik opened #2888 "The archive for imagenet_v2 has changed (again)"
An error from  #2461 reappeared:

[code]

It seems like the file hosted at https://s3-us-west-2.amazonaws.com/imagenetv2public/imagenetv2-matched-frequency.tar.gz has changed and the checksum doesn't match.

What's even worse the directory layout has been changed - I've extracted the archive manually but it the code still failed.

The previous convention was <class_id>/<filename> where <class_id>

[2020-12-20 23:21] ForQwandan commented on #2390
I get this same error, using Jupyter 4.6.3 and 4.7.0.  I've installed ipywidgets and tried tfds.disable_progression_bar().

[2020-12-21 13:11] versae commented on #2711
As you pointed out, it seems unreasonable for us to run this for all the crawls. It seems like even restricting it to one crawl will be a significant expense. We are trying to build a very large corpus for Norwegian (and the other Nordic languages), and this looks like a very good source. Are you able to give us a rough estimate (based on your experience) on how much data one crawl would give us?

[2020-12-21 15:24] adarob commented on #2711
If you let me know the languages you're interested in, I can compute ~ how
many documents you'll get from one crawl.

On Mon, Dec 21, 2020 at 8:11 AM Javier de la Rosa <notifications@github.com>
wrote:

[2020-12-21 21:34] FPGSchiba opened #2889 "Loading SUN397 crashed"
/!\ IF YOU WANT PEOPLE TO HELP YOU, PLEASE GIVE AS MUCH DETAIL AS POSSIBLE, INCLUDING THE FULL STACKTRACE AND CODE SNIPPET

Hi there i'am trying to load the SUN397 Dataset to make a short image Classification NN. And when loading the Dataset I am getting an Error. When Tensorflow tries to load around the 55910-55920 Example, the Error: ValueError: Cannot take the length of shape with unknown rank

[2020-12-21 21:43] versae commented on #2711
Sure, the languages we're interested in are Norwegian, Swedish, Danish, Icelandic, an Faroese (although I think this one is not included in mC4). The ISO codes are `no`, `sv`, `da`, and `is` (Faroese would be `fo`).

[2020-12-21 21:44] versae commented on #2711
It'd be also great to know how many words or GB of raw text would be.

[2020-12-22 08:06] PerryXDeng commented on #1441
Hi @houseofai , can you check if the code in pull request above works on your system?

[2020-12-22 16:46] rohit11544 commented on #2474
Is this issue closed?

[2020-12-22 16:57] rohit11544 commented on #18
I really love to work on this issue, so can I take this up??

[2020-12-22 17:04] rohit11544 commented on #18
This is my first contribution in this ( tensorflow/datasets ) , so any guide lines will really help me complete this issue.

[2020-12-22 17:10] rohit11544 commented on #2618
Can I take this issue?

[2020-12-22 18:53] seankerman opened #2891 "Subword Text Encoder Deprecated"
**What I need help with / What I was wondering**
Recently the text module of tfds has been deprecated. This library includes the subword text encoder class. According to the release notes users should switch to TF.text, but tf.text does not appear to have an equivalent encoder. Where can I find an equivalent subword text encoder that functions similar to the one recently deprecated in tfds?

**Wha

[2020-12-23 11:55] houseofai commented on #1441
@PerryXDeng I just tried with tf-nightly==2.5.0.dev20201223 on Mac and I got the same issue.

[2020-12-23 15:45] IIIBlueberry commented on #2891
https://github.com/tensorflow/datasets/issues/2879

[2020-12-23 18:36] PerryXDeng commented on #1441
@houseofai

The tensorflow version isn't really relevant here because the issue concerns tf-datasets and not tf itself. Can you try with the dataset code in the pull request above. You can pull the code, set up a virtual environment with the dependencies installed with `pip install -e .`, and then inside the root directory of the code, run the imports and the statements as you normally would.

[2020-12-23 20:16] houseofai commented on #1441
@PerryXDeng Indeed, I don't know where I was headed.
Tested on Mac, it works perfectly:

[code]

Many thanks

[2020-12-24 14:44] serabiasin commented on #2641
Hi, I am interested to work into this issue, does anybody working on it right now?

[2020-12-24 23:11] SamuelMarks opened #2893 "FeaturesDict({'image': Image(shape=(None, None, 3), dtype=tf.uint8)}) gives (1,224,224,3) shape"
**What I need help with / What I was wondering**
Training my NN, and I'm stuck on this error:

Which made me think that maybe my image data isn't as expected. Here is [`my class`](https://github.com/SamuelMarks/ml-prepare/blob/503736e/ml_prepare/_tfds/base.py#L65-L86).

**What I've tried so far**
So I ran:
[code]

And got:
[code]

So then I wrote a custom function, with also a call to [`tf.ensure_

[2020-12-26 10:49] wegmatho opened #2894 "Custom dataset: unclarities / manual_dir confusion / errors"
**Description of issue**

After following the tutorial to create a custom dataset (https://www.tensorflow.org/datasets/add_dataset) I get an error when trying to actually use it. The error dissappeared for no clear reason after I've built it again. Definition and build of dataset worked fine but there are unclarities and I think some clarifications would help.

**Dataset**

- custom segmentation d

[2020-12-27 05:39] atg-abhishek commented on #299
Anyone know of other instances where datasets have "disappeared" without a trace?

[2020-12-28 19:21] vijayphoenix commented on #2813
Closed by https://github.com/tensorflow/datasets/pull/2831

[2020-12-28 19:21] #2813 closed

[2020-12-29 07:35] FlamingJay commented on #2761
I have met the same problem. And I replace the tensorflow-datasets of version 4.1.0 with 2.1.0. And my tensorflow is v2.3.0 also. It works.

[2020-12-29 08:10] vijayphoenix commented on #2549
https://github.com/tensorflow/datasets/pull/2822

[2020-12-29 08:10] #2549 closed

[2020-12-29 08:18] vijayphoenix commented on #2460
This issue seems to be fixed.

[2020-12-29 08:18] #2460 closed

[2020-12-29 10:42] vijayphoenix commented on #2888
Hi @pkubik,
This should be fixed soon.

[2020-12-29 10:48] vijayphoenix commented on #2474
FIxed by https://github.com/tensorflow/datasets/pull/2633

[2020-12-29 10:48] #2474 closed

[2020-12-29 12:07] vijayphoenix commented on #2579
Contradictor information everywhere!!!

- In the official paper, https://arxiv.org/pdf/1702.05373v2.pdf

![image](https://user-images.githubusercontent.com/41972768/103281708-91fea080-49f9-11eb-8301-63a1024218f4.png)

![image](https://user-images.githubusercontent.com/41972768/103281789-d12cf180-49f9-11eb-8a3e-d3aa449b2a1c.png)

- In the official site, https://www.nist.gov/itl/products-and-service

[2020-12-29 13:21] adarob commented on #2711
First off, I found a significant bottleneck that reduces the parallelism to ~71 instead of your number of workers. It will be fixed in https://github.com/tensorflow/datasets/pull/2895.

Here are the number of documents from 1 common crawl dump:

[code]

[2020-12-29 14:18] #2801 closed

[2020-12-29 14:29] vijayphoenix commented on #2636
This seems to be the solution https://github.com/tensorflow/datasets/issues/2491#issuecomment-722562290

[2020-12-29 14:29] #2636 closed

[2020-12-29 14:45] vijayphoenix commented on #2623
`tfds build` should be used instead of `download_and_prepare`

[2020-12-29 14:45] #2623 closed

[2020-12-29 14:53] vijayphoenix commented on #2420
The issue seems to be fixed

[2020-12-29 14:53] #2420 closed

[2020-12-29 14:55] vijayphoenix commented on #2402
The downloaded files will be reused.
So, no need to add a `download=False` flag

[2020-12-29 14:55] #2402 closed

[2020-12-29 14:58] vijayphoenix commented on #2321
Duplicate of https://github.com/tensorflow/datasets/issues/1482

You can also follow https://www.tensorflow.org/datasets/overview#troubleshooting for manual download

[2020-12-29 14:58] #2321 closed

[2020-12-29 17:23] rohit11544 commented on #2385
can I add this dataset ??

[2020-12-29 17:24] rohit11544 commented on #2384
can I add this dataset ??

[2020-12-30 02:37] zdz1130 commented on #2384
@rohit11544 sure. you are more than welcome to contribute.

[2020-12-30 21:04] adsnaider opened #2899 "Download Manager's Progress bar not updating with S3 urls."
**Short description**
When I use the download manager to download files from S3, the download progress bar updates the total number of objects, but not the currently downloaded objects. This causes the progress bar to always get stuck at 0.

**Environment information**
* Operating System: Ubuntu 20.04
* Python version: 3.8.5
* `tensorflow-datasets`/`tfds-nightly` version: 4.1.0
* `tensorflow`/`tf-

[2020-12-30 21:31] vijayphoenix commented on #2539
Thanks for reporting.
It seems that using `tf.io.gfile` with python `zipfile` results in corruption of the data. (For some reason Windows only)

Related https://github.com/tensorflow/tensorflow/issues/32975

[2020-12-30 21:33] vijayphoenix commented on #2618
Thanks for reporting.
It seems that using `tf.io.gfile` with python `zipfile` results in corruption of the data. (For some reason Windows only)
Similar issue https://github.com/tensorflow/datasets/issues/2539

For more info https://github.com/tensorflow/tensorflow/issues/32975

[2020-12-30 21:42] vijayphoenix commented on #2537
Fixed by https://github.com/tensorflow/datasets/pull/2650

[2020-12-30 21:42] #2537 closed

[2020-12-30 21:48] vijayphoenix commented on #2188
It is very like that this is because of the following:
`tf.io.gfile` with python `zipfile` results in corruption of the data. (For some reason Windows only)
Similar issue #2539

For more info tensorflow/tensorflow#32975

[2020-12-31 13:27] MiWeiss opened #2900 "Multi-Config Dataset Loading / Wildcard Config Identifiers"
Some datasets, e.g. `mnist_corrupted` provide various configurations which are in many use-cases all used at the same time (without distinction). Afaik, tfds currently requires to load every dataset independenty and then concatenate them, e.g.

[code]
For tfds with a large number of configs, this snippet can become quite long. Also, it makes it hard to use some of the nice features of `load` over

[2020-12-31 19:05] adsnaider opened #2901 "DownloadManager with register checksum is much slower"
**Short description**
When using the DownloadManager to download many small files (1M+ images), if register checksum is disabled, the download seems to go relatively fast. However, if register checksums is enabled, then the download is painfully slow. We are talking about multiple orders of magnitude difference. I'm doing this with a non-beam dataset.
I'm unsure if this has something to do with th

[2021-01-01 05:00] SamuelMarks opened #2902 "Count duplicates… e.g., `tf.data.experimental.unique` + `tf.data.experimental.cardinality`"
**Is your feature request related to a problem? Please describe.**
My NN results are good. Too good. So I'm trying to figure out why it's so good. Maybe there are duplicates somewhere?

**Describe the solution you'd like**
Would be great to just count the duplicates.

**Describe alternatives you've considered**
I'm sure I'll end up hashing everything matrix into strings or [more efficiently… assum

[2021-01-02 09:05] Nikhileswar-Komati opened #2903 "Unable to load the citrus_leaves dataset"
**Short description**
Description of the bug.
I was trying to perform image classification on "citrus_leaves" dataset. But I'm unable to load the dataset.

**Environment information**
* Operating System: Google Colab
* Python version: 3.6.9
* ``tfds-nightly` version: 4.1.0
* `tensorflow`: 2.4.0

* Does the issue still exists with the last `tfds-nightly` package (`pip install --upgrade tfds-nightly

[2021-01-02 17:06] NikhilBartwal commented on #2903
Thank you @Nikhileswar-Komati for pointing this out! The website URL seemed to be outdated and has been fixed in the recent PR.
The PR will be merged into the repo in a few days approx.

However, if you need to use the dataset urgently, you can fork and build the local TFDS repo from [here](https://github.com/NikhilBartwal/datasets/tree/citrus_url) containing the required patch.

Please feel free

[2021-01-03 05:43] vijayphoenix opened #2905 "Modify existing checksum file"
**Short description**
Changing the download URL should modify the existing checksum file of a dataset.

For example:
Changing the download URL of the `citrus` dataset should modify `url_checksums/citrus_leaves.txt`.
However, `--register_checksum` flag in `tfds build` creates a new checksum file in `image_classification/checksums.tsv`

**Environment information**
* Operating System: Ubuntu 20.04
*

[2021-01-03 06:11] NikhilBartwal commented on #2905
Hey @vijayphoenix, I would like to take this up. As per what i understood what we can do is:

- When using the `--register_checksums` flag, check whether the dataset has the new folder structure and update/add the `checksums.tsv` file in the necessary location.
- Else, if the dataset follows the traditional structure, then add/update the `DATASET_NAME.txt` in `/url_checksums`

It would be great if

[2021-01-03 07:04] vijayphoenix commented on #2905
`tfds build` is the part of CLI script files. The `register_checksum` flag is used here https://github.com/tensorflow/datasets/blob/9b5e431f1c9d90e207d69972edc1d71ee02b57e4/tensorflow_datasets/scripts/cli/build.py#L367

To modify the default checksum file path, you will have to make some changes here.

https://github.com/tensorflow/datasets/blob/9b5e431f1c9d90e207d69972edc1d71ee02b57e4/tensorflow_

[2021-01-03 14:40] NikhilBartwal commented on #2905
Thank you @vijayphoenix for the pointers and apologies for the late reply.
As far as i understand, we will need to change the code to check the structure of the dataset and then record checksums accordingly.

I'm having network issues on my end today but I'll be sending the PR soon.

[2021-01-04 02:35] rohit11544 commented on #2384
It may take more time for me to complete this because of my collage works so this issue is open for everyone. This research paper may help you to get started with the data set. Link :  https://github.com/rohit9934/DRIVE-Digital-Retinal-Images-for-Vessel-Extraction/blob/master/DRIVE/DRIVE%20(1).pdf

[2021-01-05 10:13] Conchylicultor commented on #2901
Thank you for reporting. The download manager record the checksum for each downloaded file sequentially. This was done to avoid redownloading all files, even if the generation script crash. We could try to improve this. Another issue is that your final checksum file will contains checksums for 1M urls, so can be quite big.
The workaround for now would be to not use checksums at all.

[2021-01-05 10:37] Conchylicultor commented on #2623
This was fixed with tfds-nightly

[2021-01-05 11:05] Conchylicultor commented on #2894
Thank you for reporting. We want to improve the process.

1. Could you provide more information on what was confusing ? What was missing or confusing in the end-to-end example  https://www.tensorflow.org/datasets/add_dataset#dataset_example ?
2. > A hint would be nice though.

    Where would you put this hint ?
3. I'm sending a PR to hopefully clarify the documentation
4. If you reencounter the i

[2021-01-05 13:20] Conchylicultor commented on #2893
You're passing `batch_size=1`:

[code]
So images are batched. You should pass `batch_size=None` or use `ds_builder.as_dataset(split="train", as_supervised=True)` if you do not want to batch examples

[2021-01-05 13:20] #2893 closed

[2021-01-05 14:51] Conchylicultor commented on #2761
@leonardozcm From your stacktrace, you interrupted your program with Ctrl+C (which raised `KeyboardInterrupt`). Do you have a stacktrace where the original exception is raised ?

[2021-01-05 15:06] #2905 closed

[2021-01-05 15:54] #2903 closed

[2021-01-05 17:27] rohit11544 commented on #2393
please check the dataset URL it is showing no match found.

[2021-01-05 17:33] rohit11544 commented on #2742
I want to take this issue. can you mention how many images you want for each class (like 3x3, 3x2, 2x2,..). so that I can provide the required number of images.

[2021-01-05 18:50] axd465 commented on #2393
The URL link should be fixed now. Sorry for the confusion.

[2021-01-05 19:45] axd465 commented on #2393
@rohit11544 The URL link should be fixed now. Sorry for the confusion.

[2021-01-06 02:49] rohit11544 commented on #2393
I like to add this dataset can you please assign it to me.

[2021-01-06 12:58] Conchylicultor commented on #2761
As far as I understand, the code is working properly. This is simply a warning message indicating that GCS is used as guest. As our bucket is public, this can be safely ignored.

[2021-01-06 12:58] #2761 closed

[2021-01-06 13:50] #2888 closed

[2021-01-07 02:07] cameron-martin commented on #2146
I'm also having this problem when generating the librispeech dataset locally. It used up ~20GB of memory before I had to kill it. However, I don't understand why it needs so much memory. It seems the tfrecord files it generates are around 100mb each, so why does it need to keep 200x that amount in memory before it writes it to disk?

[2021-01-07 10:03] muthvin commented on #1278
thanks a lot!

[2021-01-08 08:19] acul3 commented on #2711
hi @versae thanks for creating the issue...
did you guys finish it successfully ?

i'm also planning to extract specific language from mc4 using dataflow...
any tips or maybe full code how to do it would be helpful
thanks

[2021-01-08 08:39] AmitMY opened #2923 "Download Manager Fails to Download FIle"
**Short description**
The download manager should be able to download files.
However, for a certain file, I get an error.

**Environment information**
* Operating System: CentOS 7
* Python version: 3.7.6
* `tensorflow-datasets`/`tfds-nightly` version: `4.1.0+nightly`
* `tensorflow`/`tf-nightly` version: `2.4.0`

* Does the issue still exists with the last `tfds-nightly` package (`pip install --upg

[2021-01-08 09:29] wegmatho commented on #2894
@Conchylicultor thank you for lookin into this. The API and documentation in general is superb.

1. In hindsight everything seems rather clear. Initially I think I struggled primarily with the idea, that the example generator returns simply paths to images and segmentation masks, not the data itself which would only be processed by the TFDS CLI or at runtime?
2. Instead of the hint towards depreca

[2021-01-08 09:56] AmitMY opened #2924 "How can I pass parameters to the builder config from the `load` method?"
**What I need help with / What I was wondering**
I have a dataset where I need to supply a decryption key when loading.

[code]

I could not find any reference how to pass such parameter that it would appear in the `_builder_config`. I tried the above code, but the parameter is unexpected.

[2021-01-08 11:11] Conchylicultor commented on #2924
I'm not sure where you want to pass the kwargs. to MyDataset ? Or to MyDatasetBuilderConfig ? In both cases, you can use `builder_kwargs=` kwarg of `tfds.load`.

[code]

[2021-01-08 12:31] axd465 commented on #2393
@rohit11544 The dataset should be added with the open pull request [here](https://github.com/tensorflow/datasets/pull/2468).

[2021-01-08 13:42] CrimsonRadiator opened #2925 "Outdated caltech101 URL"
**Short description**
TFDS uses outdated caltech101 url and fails to download the dataset.

**Environment information**
* Operating System: Ubuntu 18.04.5 LTS
* Python version: 3.6.9
* `tensorflow-datasets`/`tfds-nightly` version: tfds-nightly==4.2.0.dev202101080107
* `tensorflow`/`tf-nightly` version: tensorflow==2.4.0

* Does the issue still exists with the last `tfds-nightly` package (`pip inst

[2021-01-08 13:50] MarkDaoust commented on #2879
Yes. TFText has all the necessary classes to replace this. It's also implemented in tensorflow so you can export this preprocessing with the model.

I'm working on getting a tutorial published on how to do this.

[2021-01-08 13:57] MarkDaoust opened #2926 "Glue dataset downloads are broken."
The Glue datasets downloads are currently broken, returning 403: forbidden. Code to reproduce (in colab):

[code]
[code]

All of the `firebasestorage` URLs in [this file](https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/text/glue.py) return a 403.

[2021-01-08 14:01] NikhilBartwal commented on #2925
Thank you for pointing it out @CrimsonRadiator. Please feel free to send a PR for the same!

[2021-01-08 14:53] AmitMY commented on #2924
Thanks for detailing both options :)
I decided to go with the first one. Cheers

[2021-01-08 14:53] #2924 closed

[2021-01-08 17:53] Conchylicultor commented on #2923
Could you share the full logs, including the stacktrace ?

[2021-01-08 19:33] AmitMY commented on #2923
I do use the downloaded path, but it is not required for the minimal reproduction example.

Here is the full log from the command `tfds build`

[code]

[2021-01-09 03:12] lkgGitHub opened #2929 "tfds.load 'glue/sst2' dataset failure"
**What I need help with / What I was wondering**
tfds.load failure
[code]
Stack trace
[code]

**What I've tried so far**
I use VPN, but It was useless at the time

**It would be nice if...**
Could we have done anything to make things better (documentation, etc.)?

**Environment information**
(if applicable)
* Operating System:  mac os 10.15.7
* Python version: 3.7.9
* `tensorflow-datasets`  versio

[2021-01-09 22:42] hshankar61 opened #2930 "tf.data.Dataset core dump error when downloading mnist data set"
/!\ IF YOU WANT PEOPLE TO HELP YOU, PLEASE GIVE AS MUCH DETAIL AS POSSIBLE, INCLUDING THE FULL STACKTRACE AND CODE SNIPPET

**Short description**
Core dump when down loading the mnist data set

**Environment information**
* Operating System: Ubuntu
* Python version: 3.7.3
* `tensorflow-datasets`/`tfds-nightly` version: 4.2.0/4.2.0+nightly
* `tensorflow`/`tf-nightly` version: 2.4.0

* Does the issu

[2021-01-10 02:15] rohit11544 commented on #2930
The issue is with the version of  tf-nightly. Install tf-nightly with version  **4.1.0+nightly** and try it. Even then if it fails to work then run it in  python **3.8.x** and use tf-nightly version as  **4.1.0+nightly** then it will surly work.

![Screenshot (32)](https://user-images.githubusercontent.com/61901749/104112597-b0786c00-5316-11eb-87ac-50bc004de4d1.png)
this fixes #2930

[2021-01-10 07:47] vijayphoenix commented on #2923
We get the following response headers when we make a `get` request to the URL.
[code]

So, when we pass the above response to the `_get_filaname` function:

https://github.com/tensorflow/datasets/blob/79047eef78a7d8da6af05df89a1a0a6e11c71ce8/tensorflow_datasets/core/download/downloader.py#L98-L105

We get `glossvideo/ASL/BO/BOOK-418.mp4` as a return value but the expected value was `BOOK-418.mp4`.

[2021-01-10 07:48] jatin-code777 commented on #2923
Hi, I would like to work on this issue

[2021-01-10 07:50] acul3 commented on #2762
hi @adarob

if i edited the [cc_version](https://github.com/tensorflow/datasets/blob/79047eef78a7d8da6af05df89a1a0a6e11c71ce8/tensorflow_datasets/text/c4.py#L93) code  and [lang](https://github.com/tensorflow/datasets/blob/79047eef78a7d8da6af05df89a1a0a6e11c71ce8/tensorflow_datasets/text/c4.py#L136) into only 1 cc_version and 1 language

is it possible to generate/build data from it locally?

i'm

[2021-01-10 13:14] rohit11544 commented on #2889
can you past your complete code and the error message.

[2021-01-11 00:49] rohit11544 commented on #2902
Hope you are clear with the function mentioned in the stack overflow ( https://stackoverflow.com/a/60877708 ) so this issue can be closed right ?

[2021-01-11 10:03] Conchylicultor commented on #2889
Thank you for sharing the logs:
[code]
It seems to be raised by:

https://github.com/tensorflow/datasets/blob/721b0d8ff937dd6cf97604e1447acc84393290a9/tensorflow_datasets/image_classification/sun.py#L101

I'm not sure why this is raised only now, but not before. Does this means new TF version are unable to decode images which were previously correctly decoded with `tf.image.decode_image` ? Is it s

[2021-01-11 10:19] SamuelMarks commented on #2902
@rohit11544 No the answer I referenced is just a partial solution, the full solution would check for duplicates also.

I'm thinking it'd make a good top level function, in the same way `cardinality` is, or possibly as arguments to the `cardinality` method.

[2021-01-11 14:40] adarob commented on #2762
You'll still need to preprocess that 1 cc dump which is very large. It takes ~29 hours with 250 DataFlow workers.

[2021-01-11 17:47] paperd commented on #2903
Dataset still doesn't download with tfds.load()

[2021-01-11 17:57] GajdosDavid commented on #2742
Well, I think 200 of each class could be enough for the beginning. I am a very beginner so I can't tell how much it actually is required for model to be properly trained. However anything will be great, sir. Thank you

[2021-01-11 18:15] FPGSchiba commented on #2889
@rohit11544 I did Post my Code above. But here is the line, that I used in my Code.
And I run the Code with only this line in it.
Line:
(train_ds, val_ds), info = tfds.load("sun397", split=["train[:55900]", "validation"], as_supervised=True, with_info=True)

The Error you asked is above as well.

[2021-01-11 18:42] vijayphoenix commented on #2903
Hi @paperd
Please use the latest version of tfds or `tfds-nightly`.

[2021-01-12 04:40] rohit11544 commented on #2889
@FPGSchiba The issue is with the **split** argument, the argument takes only "train" , "test" but not "validation" you need to replace the "validation" with "test" then it will work. For your understanding I have run the same code on mnist dataset see this screenshots.

**1) split=["train[:55900]", "test"]**

![Screenshot (38)](https://user-images.githubusercontent.com/61901749/104270280-210dbd00-

[2021-01-12 05:15] rohit11544 commented on #2889
@FPGSchiba The issue is with the **split** argument, the argument takes only "train" , "test" but not "validation" you need to replace the "validation" with "test" then it will work. I have run the same code on mnist dataset see this screenshots.

 **1) split=["train[:55900]", "test"]**

![Screenshot (42)](https://user-images.githubusercontent.com/61901749/104272236-b27f2e00-54c2-11eb-8c77-e55128e

[2021-01-12 08:11] FPGSchiba commented on #2889
@rohit11544 I don't think this works for SUN397 in your example you are loading mnist and not SUN397.
And my Error has nothing to do with Splitting did you even read my first post?

[2021-01-12 09:02] rohit11544 commented on #2889
@FPGSchiba Firstly I am sorry to run your code on mnist dataset rather than SUN397. I completely agree with your point but the split argument doesn't change with the dataset right? so I suggested you to replace the "validation" with "test" and try if it works then its fine, if it doesn't work then we can try to find another solution.

[2021-01-12 10:41] FPGSchiba commented on #2889
@rohit11544 sorry for my harsh words, but i am sure that the Splitting is individual for every Dataset, but I tried it either way and it didn't work. The log output was the same as in the first post.
That's the code I used to run:
`(train_ds, val_ds), info = tfds.load("sun397", split=["train", "test"], as_supervised=True, with_info=True)`

Thanks for your help

[2021-01-12 11:37] rohit11544 commented on #2889
@FPGSchiba Hey that's completely fine. I don't know that Splitting is individual for every Dataset so I suggested that way. Ok we will find another way.

[2021-01-12 11:54] #2923 closed

[2021-01-12 12:13] #2926 closed

[2021-01-12 12:13] #2929 closed

[2021-01-12 15:13] TheLostProgrammer opened #2940 "raise source.error("unbalanced parenthesis") re.error: unbalanced parenthesis at position 27"
Hi, I have started using pytube yesterday with tkinter and I had everything working perfectly. I then uninstalled pytube to install pytube3 but then errors began to take place. I then uninstalled pytube3 and reinstalled pytube but I keep getting a range of errors. My current error is:
`Exception in Tkinter callback
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Ver

[2021-01-12 15:44] vijayphoenix commented on #2925
Fixed by #2927

[2021-01-12 15:44] #2925 closed

[2021-01-12 16:43] Conchylicultor commented on #2940
Closing as it seems unrelated to TFDS

[2021-01-12 16:43] #2940 closed

[2021-01-13 08:50] henriwoodcock opened #2944 "Micro: Checksum error when downloading GCC"
/!\ IF YOU WANT PEOPLE TO HELP YOU, PLEASE GIVE AS MUCH DETAIL AS POSSIBLE, INCLUDING THE FULL STACKTRACE AND CODE SNIPPET

**Short description**

[code]

**Environment information**
* Operating System: <os> macOS Catalina
* Python version: <version> n/a
* `tensorflow-datasets`/`tfds-nightly` version: <package and version> n/a
* `tensorflow`/`tf-nightly` version: <package and version> latest from

[2021-01-13 08:50] #2944 closed

[2021-01-13 08:50] henriwoodcock commented on #2944
sorry wrong repo

[2021-01-13 10:29] Electronicshelf commented on #299
IBM wake up, where is the dataset?

[2021-01-13 12:58] Aspie96 commented on #299
We shouldn't trust datasets that have a gatekeeper, EVER.

If there is a gatekeaper, it is not science.

[2021-01-13 14:52] vijayphoenix commented on #2930
Unable to reproduce this issue.
It was probably a lack of system resources on your end which caused this.
Perhaps try it without other applications running simultaneously.

[2021-01-13 14:52] #2930 closed

[2021-01-13 16:41] magomar commented on #299
Some info can be found here. https://www.nbcnews.com/tech/internet/facial-recognition-s-dirty-little-secret-millions-online-photos-scraped-n981921

[2021-01-14 05:40] forrestbao commented on #1404
@jieralice13 I think the problem has been fixed now.

[2021-01-15 16:46] yuliuclimate opened #2951 "BIGEARTHNET dataset Failed to get url"
**Short description**
I am not able to load the BIGEARTHNET and the error message is DownloadError: Failed to get url http://bigearth.net/downloads/BigEarthNet-v1.0.tar.gz. HTTP code: 404. Please update the url. Thanks!

[2021-01-16 12:47] kristalization opened #2957 "Unable to import tensorflow_datasets, 'tensorflow_datasets.core.download' has no attribute 'checksums'"
AttributeError: module 'tensorflow_datasets.core.download' has no attribute 'checksums'

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-26-66fff9018d39> in <module>
----> 1 import tensorflow_datasets

~\anacondaNov3\envs\tensorflow\lib\site-packages\tensorflow_datasets\__init__.p

[2021-01-16 13:12] jatin-code777 commented on #2957
Unable to reproduce this.

Have you tried using tfds-nightly?

[2021-01-16 16:01] kristalization commented on #2957
yes, I have tried that!

[2021-01-16 16:01] kristalization commented on #2957
Yes, I have tried that!

[2021-01-16 23:45] kristalization commented on #2957
I am not sure what I did, but it works now. Installed a completely new environment.

[2021-01-16 23:45] #2957 closed

[2021-01-17 03:51] atg-abhishek commented on #299
oh @magomar do you have links for some of the pages that still advertise it?

[2021-01-17 09:03] magomar commented on #299
The IBM Research Blog is a goog example: https://www.ibm.com/blogs/research/2019/01/diversity-in-faces/

[2021-01-17 09:11] magomar commented on #299
You may find more info on other datasets here: https://megapixels.cc/

[2021-01-17 22:13] claireroman opened #2958 "Kitti dataset"
Hi,

I don't understand Kitti dataset. Indeed, when I run :

ds = tfds.load('kitti', split='train', shuffle_files=True)
print(ds)

I have some strange info (copied below). Why is image shape (None, None, 3) ?

Thank you in advance.

{'train': <PrefetchDataset shapes: {image: (None, None, 3), image/file_name: (), objects: {alpha: (None,), bbox: (None, 4), dimensions: (None, 3), location: (None, 3),

[2021-01-18 03:37] vijayphoenix commented on #2958
[code]

This means that the Image shape is not defined but it will have three channels.

[2021-01-18 04:14] yang-song commented on #42
Any update on this dataset?

[2021-01-18 09:29] Conchylicultor commented on #2958
As @vijayphoenix said, each images in this dataset can have variable shape (e.g. `(256, 256, 3)`, `(123, 162, 3)`, ...).
If you want to batch them, you likely want to resize the images first.

[2021-01-18 09:29] #2958 closed

[2021-01-19 05:14] feather820 commented on #2834
someone can help me? please@adarob

[2021-01-19 06:46] AmitMY opened #2959 "Make cold start faster"
**Is your feature request related to a problem? Please describe.**
[code]
takes many seconds to complete

**Describe the solution you'd like**
faster import, perhaps by internally only differentially importing things when needed

**Describe alternatives you've considered**
None

**Additional context**
I'm trying to write a few datasets, and development is slow when this cold start is slow

[2021-01-19 07:00] AmitMY opened #2960 "Custom download method"
**Is your feature request related to a problem? Please describe.**
I have a dataset that requires a bit more complicated download method than usual (for example, add some headers)

**Describe the solution you'd like**
I would like to have a method: `dl_manager.download_custom` that is given:

1. a URL or list of URLs
2. a custom download method that receives:
  a. a single URL
  b. local file dest

[2021-01-19 11:17] Conchylicultor commented on #2960
Thank you for the suggestion. I think it would be best to add directly those features inside the `DownloadManager` class. It would ensure downloads are correctly tracked by the rest of the system (e.g. download size is recorded and exposed in our documentation, checksums ensure determinism,...).

How about adding parameters to the [Resource](https://www.tensorflow.org/datasets/api_docs/python/tfds

[2021-01-19 11:23] Conchylicultor commented on #2959
+1
Import time is becoming an issue, we should try investigate to optimise them (e.g. by lazy importing dataset source code as needed).
If someone has ideas, don't hesitate to contribute.

[2021-01-19 11:54] Conchylicultor commented on #2959
I quickly profile the import time with

[code]
If I read this correctly, most of the import time is taken by `import IPython` and the `import pandas.io.formats.style`. We should make both of the imports lazy which should already reduce by ~half the import time.

[importtime.log](https://github.com/tensorflow/datasets/files/5835649/importtime.log)

[2021-01-19 12:27] Conchylicultor commented on #2959
I'm gonna try a PR to remove those 2 imports. Please don't hesitate to share if this do not fix the issue.

Note: TFDS depends on TF which takes a while to import. The TF import time is unfortunately not really compressible from the TFDS side. So TFDS import time should be evaluated after importing TF:

[code]

[2021-01-19 14:11] AmitMY commented on #2960
Thanks @Conchylicultor
I think it is still important to have a custom download method,
One extra example I have that I don't see how to adapt would be downloading a youtube video

I'm adding [datasets for sign language](https://github.com/sign-language-processing/datasets) which include videos. Some datasets reference youtube links directly, like Microsoft's MSASL dataset. My custom download funct

[2021-01-20 04:06] chrisjihee opened #2964 "Building the C4 dataset in DataFlow from GCP but stuck on create_wet_path_urls and ReadAllFromText"
**What I need help with / What I was wondering**
What I need help with downloading C4 dataset in DataFlow from GCP.

**What I've tried so far**
I tried the command at https://github.com/google-research/text-to-text-transfer-transformer#c4
And I tried to modify the tensorflow_dataset code for Korean C4 dataset and publish it to https://pypi.org/project/tensorflow-datasets-ko/.
So, my changed comman

[2021-01-20 08:15] Conchylicultor commented on #2964
@adarob FYI

[2021-01-20 10:36] Conchylicultor opened #2966 "Better `tfds.as_dataframe` ragged tensor visualization"
Currently, datasets which contains nested sequences `Sequence(Sequence())` are not correctly displayed.

For example: Click on `Display examples...` in https://www.tensorflow.org/datasets/catalog/arc

We should investigate why nothing seems to be displayed. In theory, calling `tfds.as_dataframe(ds, ds_info)` should call `FeatureConnector.repr_html_ragged(ex)` on the ragged tensor and display its `

[2021-01-20 11:13] #2959 closed

[2021-01-20 11:33] Conchylicultor opened #2967 "Better `tfds.as_dataframe` visualization for segmentation masks"
Currently datasets with segmentation mask are poorly displayed. For example, click "Display examples..." in https://www.tensorflow.org/datasets/catalog/lost_and_found. `instance_id` and `segmentation_label` are displayed as black images. Indeed image values are between `[0, ~5]` while the image is displayed as `[0, 255]`, so looks almost black.

We should display the segmentation as a color image.

[2021-01-20 13:12] jatin-code777 commented on #2966
Hi, I would like to work on this

[2021-01-20 13:19] Conchylicultor opened #2969 "Support custom BuilderConfig when testing datasets"
It would be nice to be able to use custom config when testing datasets, like:

[code]

Currently this isn't possible as `BUILDER_CONFIG_NAMES_TO_TEST` only accept `str`, not `BuilderConfig`.

[2021-01-20 13:56] carlthome commented on #2082
Has someone here done this first work now and can showcase a hello world perhaps?

Speaking as a very happy TFDS user for exploratory ML work, as I have a model I'm happy with I'm now looking for how programmatically scheduled workflows in TFX would play with TFDS artifacts in an easy and _intended_ way, particularly for non-static data that's ingested from a data warehouse (daily BigQuery partiti

[2021-01-20 14:30] adarob commented on #2964
`create_wet_path_urls` should execute immediately, so there must be a bug in your updated implementation. I'd suggest testing with fewer workers until you get past that point. You could also try running it locally to test.

[2021-01-20 17:39] chrisjihee commented on #2964
@adarob
Thank you for your advice.
I found the problem! The problem was modifying directly tensorflow_datasets code.

Firstly I was worried about package name conflict, so I changed the package name and some parts for importing module.
Finally I noticed rather than modifying directly tensorflow_datasets code, adding a new custom dataset and importing on the command line!

My changed code is on htt

[2021-01-20 21:00] lely475 opened #2971 "Disable shuffling for tfds build"
**What I need help with / What I was wondering**
I'm using the tfds cli to create a custom dataset for timeseries data.
Everything is working as wanted and I can generate the data, however as all data is shuffled automatically it basically renders it useless for my task, as i need the timeseries data in correct order.

**It would be nice if...**
Is there any (easy) solution or workaround to disabl

[2021-01-20 22:05] vijayphoenix commented on #2971
Afaik, `tfds build` does not shuffle the data.
Also, the shuffling by `tfds.load` is disabled by default.
https://www.tensorflow.org/datasets/api_docs/python/tfds/load

[2021-01-21 05:04] jqwylb opened #2973 "Problem with adding tfds.ReadConfig(add_tfds_id=True) in v4.2.0"
ds, info = tfds.load(name=dataset_name, split='train+test', shuffle_files=True, with_info=True)
for k, batch in enumerate(dataset_train):
      x1, x2 = batch['image'], batch['label']

When I execute the above code, an error will be reported: 'tensorflow.python.framework.errors_impl.InvalidArgumentError: Feature: id (data type: string) is required but could not be found.'
I think the cause of the

[2021-01-21 07:02] #2973 closed

[2021-01-21 08:39] lely475 commented on #2971
So where I got the idea from is that when I used tfds-nightly 4.1.0.dev202012100107 it showed the following console output:

`Extraction completed...: 0 file [00:00, ? file/s]
Dl Size...: 0 MiB [00:00, ? MiB/s]
Dl Completed...: 0 url [00:00, ? url/s]0%|
**Shuffling and writing examples** to path/1.0.0.incompleteIZ30YN/ds-train.tfrecord   | 0/3 [00:00<?, ? splits/s]`

And I rechecked my `_generate_

[2021-01-21 11:45] Conchylicultor commented on #2971
Yes, it would be nice in some cases, but it is currently tricky to do due to the TF-record files which are sharded, so when they are read, it is tricky to iterate in the proper order.

We are planning to migrate away of TF-record into a new format which would allow this.
In the meantime, I'm gonna mark this as duplicate of https://github.com/tensorflow/datasets/issues/113

[2021-01-21 11:45] #2971 closed

[2021-01-21 12:18] lely475 commented on #113
I'm also vouching for this enhancement as I am dealing with timeseries sensor data, where the correct order is crucial.

In the meantime:
Is there any workaround/ quick and dirty solution to change `tfrecords_writer.py` to disable shuffling?

[2021-01-21 12:22] lely475 commented on #2971
Thank you for the info and referal to the issue #113, I was looking for a similar issue but hadn't found this one.

I assume the migration to a new format will still take a while? Is there any timeframe by which it might be done?

[2021-01-21 12:50] Conchylicultor commented on #2966
Hey @jatin-code777, thank you for your interest !
As explained in https://www.tensorflow.org/datasets/contribute, no need to get the issue assigned. Simply send us a PR directly

[2021-01-21 15:23] imnitishng commented on #2969
I'll work on this

[2021-01-21 21:33] Conchylicultor opened #2979 "Better progression bar for extraction"
Currently, extracting big archive made it looks TFDS is frozen. It would be great to have a more granular progression bar counting the extract number of files, rather than just extracted/non-extracted.

https://github.com/tensorflow/datasets/blob/0540c979cba848d814d8266e807352063b4ef355/tensorflow_datasets/core/download/extractor.py#L61

For the implementation, it would be like the download bar wh

[2021-01-22 10:10] #2966 closed

[2021-01-22 21:03] harsh020 commented on #2791
Fixed by PRs `#2798` and `#2887`

[2021-01-24 14:06] #2964 closed

[2021-01-24 14:13] chrisjihee commented on #2762
Hi @acul3
We also tried for Korean C4 dataset.
We tried first downloading to local, but huge memory size is required! (even using swap memory 480GB)

And, when I edited the source code directly, it could not run on GCP.
So we make another python package for a custom dataset for Korean C4 dataset.

You can refer to it: https://github.com/tensorflow/datasets/issues/2964#issuecomment-763816218
It was

[2021-01-24 20:49] #2791 closed

[2021-01-26 03:38] DumbMachine commented on #2951
Think this can be `closed` now. @Conchylicultor

[2021-01-26 08:52] #2951 closed

[2021-01-27 08:01] sakinaljana opened #2992 "Any reference on how to build multi-label classification datasets?"
**What I need help with / What I was wondering**
Need reference or explanation on how to define the multi label class inside TFDS. AFAIK, all the datasets inside the TFDS mostly about multi-class datasets, not the multi-label ones.

Just wondering if you guys have experience on how to defining the multi-label class definition

**What I've tried so far**
- Already tried to read some datasets code,

[2021-01-27 08:39] Conchylicultor commented on #2992
It's depend how you're planning to use the labels in your user code ?
One way is to represent as `{'label1': tf.bool,...}`. See https://www.tensorflow.org/datasets/catalog/celeb_a features for an example

[2021-01-27 13:40] sakinaljana commented on #2992
@Conchylicultor thanks for the response,

basically the label will be in `one_hot` format (e.g: [0, 1, 1, 1]),

seems boolean format make sense. thanks for the suggestion man!

[2021-01-27 18:50] #2969 closed

[2021-01-28 11:41] #2967 closed

[2021-01-28 19:16] liqinglin54951 commented on #1482
celeb_a tfrecord files:
https://drive.google.com/drive/folders/1MKQ9sRwr5OOFk3OBzLz91SsgF3MBqvtP?usp=sharing
OR
you can follow " **Create tfrecord files for 'test', 'train', 'validation'** " on cp13_Parallelizing NN Training w TF_printoptions(precision)_squeeze_shuffle_batch_repeat_image process_map_tfrecords (https://blog.csdn.net/Linli522362242/article/details/112386820)

[2021-01-28 19:49] liqinglin54951 commented on #2321
KeyError: <ExtractMethod.NO_EXTRACT: 1> since your code need tfrecord files

[2021-01-29 15:10] 0x0badc0de commented on #1284
For those who is facing the same issue. We were able to get 20x speed up for one of our datasets by replacing `tfds.features.Text` with `tf.string` and `tfds.features.Sequence(tf.float32)` with `tfds.features.Tensor(shape=(None, ), dtype=tf.float32)`.

Replacing Sequence w/ Tensor gave the most effect.

[2021-01-30 20:29] roma-glushko commented on #2761
Have got similar issue when trying to use Custom Dataset API(tfds 4.2.0):

[code]

Dataset is rock, paper, scissor images from https://www.kaggle.com/frtgnn/rock-paper-scissor

Output:

[code]

[2021-01-31 04:00] RS-Coop opened #3004 "ag_news_subset Checksum Error"
In trying to download the ag_news_subset dataset I ran into a checksum error. I found a workaround that I have a few questions about, and I am also not sure if this is known bug or not.

**Problem**: Running the tfds load function results in a checksum mismatch error. Interestingly the only way the checksums differed was that TensorFlow had their expected value in all caps.

**Fix**: My fix was to

[2021-01-31 17:18] NikhilBartwal commented on #3004
@RS-Coop Thank you for pointing this out. After having a look, the dataset checksums were indeed mismatching when generating the dataset. This might be due to some previous change in source code without changing the respective checksums  file.

The fix that you have tried, using the `--register_checksums` flag, is used for development when the contributor adds a new dataset or the checksums need t

[2021-01-31 17:28] NikhilBartwal commented on #3004
Since the PR made by @jatin-code777 solves this issue, I will be closing the other one.

[2021-01-31 17:30] RS-Coop commented on #3004
Yeah that answered my question, glad to help. Thanks for the quick response!

[2021-01-31 17:30] #3004 closed

[2021-02-01 05:36] Adrok24 commented on #2891
Same question!

[2021-02-01 09:32] Conchylicultor commented on #2761
But the dataset is loaded correctly right ? This is only a warning message which can be ignored. You can set

[code]
If you want to silence those messages

[2021-02-01 15:41] LastHorizon opened #3008 "Tensorflow 2.4.1 unshardable dataset from image directory"
/!\ IF YOU WANT PEOPLE TO HELP YOU, PLEASE GIVE AS MUCH DETAIL AS POSSIBLE, INCLUDING THE FULL STACKTRACE AND CODE SNIPPET

**Short description**
Hi All,

I hope this is the right section to report this under:

I am moving from tensorflow 2.3.1 to tensorflow 2.4.1 as I have changed GPUs from 2 x RTX 2060s to 2 x RTX 3090.  I create a dataset using  tf.keras.preprocessing.image_dataset_from_directo

[2021-02-01 18:23] Conchylicultor commented on #3008
This seems unrelated with TFDS (the `pip install tensorflow_datasets` package). I would suggest you to post to `tensorflow/tensorflow` instead.

[2021-02-01 18:23] #3008 closed

[2021-02-02 19:38] sumanthd17 opened #3013 "AssertionError: Two examples share the same hashed key!"
**What I need help with / What I was wondering**
I'm trying to create my own dataset for language modelling. The data files consist of language data with 1 sentence per line.
But I'm getting this error when I try to build my dataset.

`AssertionError: Two examples share the same hashed key! See logs above to view the examples.`

The stack trace shows these two examples to have the same hash

[code

[2021-02-02 23:07] lxkain opened #3015 "tfds.features.Audio(dtype=tf.int16) is written out as tf.train.Int64List, quadrupaling its size"
**Short description**
Building datasets from raw int16 waveforms quadrupels storage requirements

**Environment information**
* Operating System: ubuntu 20.04
* Python version: 3.8.7
* `tensorflow-datasets` version: 4.2.0
* `tensorflow` version: 2.4.1

* Does the issue still exists with the last `tfds-nightly` package (`pip install --upgrade tfds-nightly`) ? From the sources it appears so.

In htt

[2021-02-03 06:21] #3013 closed

[2021-02-03 10:17] Conchylicultor commented on #3015
I agree with you, this is a limitation of tf.train.Example proto which only support int64. https://github.com/tensorflow/tensorflow/blob/v2.4.1/tensorflow/core/example/feature.proto#L83

One solution would be to update the `example_serializer.py` / `example_parser.py` to store tf.Tensor as bytes, instead of int64. This would solve the issue in the general case.
The drawback is that it would makes

[2021-02-03 15:42] 1BM18CS403 opened #3017 "[English to Kannada] <English_to_kannada>"
* Name of dataset: <name>
* URL of dataset: <url>
* License of dataset: <license type>
* Short description of dataset and use case(s): <description>

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests to prioritize.

And if you'd like to contribute the dataset (thank you!), see our [guide to adding a dataset](https://g

[2021-02-04 11:26] maxcrous opened #3018 "wider_face download fails with a checksum error"
**Short description**
`tfds.load('wider_face')` fails with a checksum error, for multiple versions of tensorflow(-datasets), python, and on different operating systems.

**Environment information**
* Operating System: Ubuntu 20.0.4
* Python version: 3.8
* `tensorflow-datasets`/`tfds-nightly` version:  tensorflow-datasets 4.2.0
* `tensorflow`/`tf-nightly` version: tensorflow 2.4.1

* Does the issue

[2021-02-04 13:14] maxcrous commented on #3018
In the meantime, I'm using `tensorflow_datasets=4.1.0`, which does not throw an error for `wider_face`.

[2021-02-04 19:21] Conchylicultor commented on #3018
This is unrelated to the TFDS version. From the logs:
[code]

The server on which the data is hosted has returned a 3Kib error message file instead of the expected zip file.

As explained in https://www.tensorflow.org/datasets/overview#fixing_nonmatchingchecksumerror, Google Drive sometimes rejects downloads when too many people access the same URL.

Unfortunately not much we can fix from our side

[2021-02-04 19:21] #3018 closed

[2021-02-04 19:47] NikhilBartwal commented on #3017
Hey @1BM18CS403, it would help the developers and the contributors both if you add the dataset URL along with its description, so that we can prioritize and add it to TFDS efficiently. Thank You!

[2021-02-05 03:28] 1BM18CS403 commented on #3017
Hi,

Sorry, I don't have dataset. I'm looking for one. I didn't find anywhere in
the Internet.

Thanks and regards,
Ashok V

On Fri, 5 Feb, 2021, 1:17 am Nikhil Bartwal, <notifications@github.com>
wrote:

[2021-02-06 22:12] TeaPearce opened #3022 "oxford_flowers102 bad splits"
The train/val/test splits in the tfds [oxford_flowers102](https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/image_classification/oxford_flowers102.py) don't match up with established splits.

Training on the train and val splits, only acheive around 91% accuracy with finetuning. Should acheive 98%, e.g. table 6 [here](https://arxiv.org/abs/1905.11946). If one reads in the enti

[2021-02-07 06:42] jatin-code777 commented on #3022
This is not an issue within TFDS itself but perhaps a bug in the dataset itself.
I redownloaded the original dataset and confirmed that the splits given in the dataset match those in TFDS.
![image](https://user-images.githubusercontent.com/33352338/107138782-68ac2b00-693c-11eb-9dee-4f8a6394dc02.png)

These also match with the table 6 in the [paper](https://arxiv.org/abs/1905.11946):
![image](https

[2021-02-07 06:57] vijayphoenix commented on #3022
A workaround would be to do something like this

[code]

Perhaps, we can add a docstring in the TFDS to warn the users

[2021-02-08 09:14] Conchylicultor commented on #3022
TFDS provide the datasets as close as the original datasets authors. As pointed out above, TFDS splits match the splits as defined by the Oxford author. So I'm making this bug as working as intended.

Note: Our documentation already provide the number of examples: https://www.tensorflow.org/datasets/catalog/oxford_flowers102

Or programatically:
[code]
Or
[code]

[2021-02-08 09:14] #3022 closed

[2021-02-08 09:33] Conchylicultor opened #3025 "Support ReadConfig(input_context=) when number of shard is small"
Currently in distributed setting, user can use `tfds.ReadConfig(input_context=)` as described in
https://www.tensorflow.org/datasets/performances#auto-shard_your_data_across_workers. This make sure that each worker read a different slice of the data.

However this only works when the number of shards is bigger than the number of workers. Otherwise, user is required to use the subsplit API:

[code]

[2021-02-08 10:39] TeaPearce commented on #3022
Thank all, sounds sensible. I don't know the history of when/how/why the dataset splits evolved, but wanted to document it somewhere.

[2021-02-08 12:06] vijayphoenix commented on #3022
You can find the splitting and slicing doc here
https://www.tensorflow.org/datasets/splits

[2021-02-08 15:44] LastHorizon opened #3026 "load time for dataset created from image directory"
/!\ IF YOU WANT PEOPLE TO HELP YOU, PLEASE GIVE AS MUCH DETAIL AS POSSIBLE, INCLUDING THE FULL STACKTRACE AND CODE SNIPPET

**Short description**
Hi all,

Firstly, apologies if this is in the wrong place but I feel this is something that would be amazing to address if possible!
I am training a model using images stored in a directory and creating datasets with the **tf.keras.preprocessing.image_da

[2021-02-09 07:51] fengdoudou1895 commented on #2894
I meet this problem too, do you have any idea to deal it?

[2021-02-09 15:23] versae commented on #2711
Hi!

Sorry for the long hiatus. Thanks, @adarob. We're finally resuming work on this and I hope to start the processing in the coming days. We might just start with the first, last, and in between dumps just to get an idea of how long and how big. But the estimates in number of documents per language really help.

@acul3, we were not able to finish the processing even after starting 500 workers fo

[2021-02-09 18:08] puleon opened #3030 ""glue/qqp" DownloadError"
/!\ IF YOU WANT PEOPLE TO HELP YOU, PLEASE GIVE AS MUCH DETAIL AS POSSIBLE, INCLUDING THE FULL STACKTRACE AND CODE SNIPPET

**Short description**
The error during loading of the glue/qqp dataset.

**Environment information**
* Operating System: <os>
* Python version: Python 3.7.6
* `tfds-nightly` version: 4.2.0.dev202102090106
* `tensorflow` version: 2.4.0

* Does the issue still exists with the l

[2021-02-10 19:24] wegmatho commented on #2894
Do you mean the json_format.ParseError? Check your dataset definition, upgrade tfds package and build it again. I cannot reconstruct what exactly I've changed. Perhaps I was using tfds-nightly instead of a stable version.

[2021-02-10 21:21] harsh020 commented on #3015
@Conchylicultor Hi, I was looking into this issue.

Currently, I am thinking to change the `int64` to `byte` and pass a `ByteList` to serialize if the `dtype` is `int64` here:
https://github.com/tensorflow/datasets/blob/e821aa8e6ad05f7cebd5ccb3e0767134ec60398d/tensorflow_datasets/core/example_serializer.py#L134-L143

But, I suspect this might further break things. Could you brief me a bit. And yes

[2021-02-11 07:04] simonre commented on #2889
@rohit11544 @FPGSchiba Is there any update on this or have you found a solution? I am getting the same error on ubuntu with tfds 4.2.0 and tensorflow 2.4.1 .

This is the code I use to load the dataset:
`dataset_builder = tfds.builder("sun397/tfds:4.*.*", data_dir=data_dir)`
`dataset_builder.download_and_prepare() `

[2021-02-11 07:55] sakinaljana commented on #2992
Hi @Conchylicultor,

Need your more advice for the features format. Currently, i'm trying to use tf.bool as one of the feature. However, it throw errors:
`ValueError: Feature not supported: {tf.bool}`

This is my features structure:

[code]

Could you help to identify the cause of the error?

[2021-02-11 09:07] Conchylicultor commented on #2992
You should use either: `tfds.features.Sequence(tf.bool)` or `tfds.features.Sequence({'label': tf.bool})`. Not `tfds.features.Sequence({tf.bool})` as `set` is not a valid feature type

[2021-02-11 09:43] Conchylicultor commented on #3026
I would suggest to post in tensorflow/tensorflow repository. The `tf.keras` API is independent of `tensorflow_datasets` so we have no control over this. I think the shuffle buffer is only filled up during the first batch. Other batch should be faster. You can benchmark it with `tfds.benchmark(ds)`: https://www.tensorflow.org/datasets/api_docs/python/tfds/benchmark

[2021-02-11 09:43] #3026 closed

[2021-02-11 10:19] Conchylicultor commented on #3015
Thank you for looking into this. To see if things break, the best is to run the `features/` unittests which test encoding/decoding features:
https://github.com/tensorflow/datasets/blob/c5cdff996e92e6b6fc586718041015abbc769947/tensorflow_datasets/testing/feature_test_case.py#L313

It will make sure that data are correctly decoded. When updating `example_serializer.py`,  `example_parser.py` should b

[2021-02-12 07:36] AmitMY commented on #2960
Hi @Conchylicultor, can you please verify the following steps are correct to have a solution:
1. Add an attribute to the [Resource](https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/download/resource.py#L295) class called `download_fn=None`
2. Send it down the download_manager to the [`download` method](https://github.com/tensorflow/datasets/blob/master/tensorflow_dataset

[2021-02-13 21:36] simnalamburt opened #3034 "`shuffle_files` and `shuffle_reshuffle_each_iteration` is ignored."
#### Short description
`shuffle_files` and `shuffle_reshuffle_each_iteration` parameter of `tfds.load()` is ignored. The result dataset never get shuffled.

#### Environment information
* Summary: It's Google Colab
* Operating System: Linux 1803a98d124d 4.19.112+ #1 SMP Thu Jul 23 08:00:38 PDT 2020 x86_64 x86_64 x86_64 GNU/Linux
* Python version: Python 3.6.9
* `tensorflow-datasets`/`tfds-nightly`

[2021-02-13 22:07] simnalamburt commented on #3034
Current workaround:

[code]

Call `.shuffle()` manually. It'll be shuffled and reshuffled on every epoch properly.

[code]

[2021-02-14 10:04] sakinaljana commented on #2992
Thanks, it works!

[2021-02-14 10:04] #2992 closed

[2021-02-14 11:13] jatin-code777 commented on #3034
Outputs on subsequent runs do differ on `tfds-nightly` with `tf-nightly`

Here's a [link to the colab](https://colab.research.google.com/drive/11zZd4f44M97VP1Gf8gQWJVL90YQvCBHo?usp=sharing)

Although I will admit, it seems "less random". Not sure how to properly investigate this.

In any case, it works perfectly with `tensorflow==2.3.0`(and `tfds-nightly`) and the issue, if it exists, is most prob

[2021-02-14 16:16] BerenLuth commented on #2680
Unfortunately, this is not working, tfds keeps trying to find the dataset in the list of its own known datasets, and it gives an error when trying to load our own dataset.
We even tried to place our dataset in the cache, trying to avoid the online lookup, but it did not help.

[2021-02-14 16:22] Conchylicultor commented on #3034
`shuffle_files` as only shuffle the shardsfiles . It likely should have been named `shuffle_shards`. As mnist only has a single shard, it doesn't get shuffled. Bigger dataset like imagenet are written in multiple files (1024).
You can see the number of files with `info.split['train'].num_shards`

[2021-02-14 16:30] Conchylicultor commented on #2680
Please check that the dataset is correctly generated in `~/tensorflow_datasets/<dataset_name>/`. Also make sure you generated the dataset with a recent version of TFDS (4+).

[2021-02-14 17:02] BerenLuth commented on #2680
It worked! Thank you so much!

Actually we tried that before and it did not work, but it was out fault, since we're using Colab and the dataset was on google drive the folders did not match. In order to fix that we had to run ```!cp -r drive/MyDrive/dataset_path -t ~/tensorflow_datasets``` and now it loads it with no problem.

[2021-02-14 22:08] simnalamburt commented on #3034
Wow thanks for the explanation this definitely needs to be documented clearly.

[2021-02-15 09:12] tallamjr opened #3035 "Unable to load 'clic' dataset"
**Short description**
I am trying to work with the [`'clic'` dataset](https://www.tensorflow.org/datasets/catalog/clic). Working from the examples in the docs, I tried a drop-in replacement to the `mnist` dataset example, shown below:
[code]
After it downloads the dataset, I received the following error:
[code]
As I am quite new to using TFDS I feel quite stuck about how best to proceed or how I c

[2021-02-15 09:55] Conchylicultor commented on #3035
As the error message say, you cannot batch images with different shapes. You need to first reshape /crop the images to a same dimension: `ds = ds.map(_reshape)`

[code]

[2021-02-15 09:55] #3035 closed

[2021-02-15 10:14] Conchylicultor opened #3036 "Parallelise `tfds.list_builder` when community dataset is used"
Currently, when `tfds.list_builder()` is called, TFDS will sequentially try to list datasets in each of the registered data_dir which is very slow when there is many data_dir to look at:

https://github.com/tensorflow/datasets/blob/aa0547927fab3504a9980528c486bbe32a3b598c/tensorflow_datasets/core/community/register_path.py#L144

It would be nice if this sequential loop was parallelised, so all `li

[2021-02-15 10:17] tallamjr commented on #3035
Thank you very much @Conchylicultor for your reply and code example. That is just what I needed 👍🏼

[2021-02-15 14:45] TatianaShavrina commented on #2762
@chrisjihee could you please share the code you mentioned?
it is now unavailable(

Trying to collect lowest-resource languages from mC4

[2021-02-15 16:54] ajbrock commented on #2888
Hi @vijayphoenix,
This error is not fixed for me, just running
[code]
yields the  checksum error
[code]

Is there a way to fix this? Thanks.

[2021-02-15 18:15] Conchylicultor commented on #2888
@ajbrock For your logs, it seems you're using an old TFDS version. You can fix the issue by installing `tfds-nightly`.

[2021-02-15 18:32] ajbrock commented on #2888
I'm running this on a public colab, is there a way to get the version colab uses updated?

[2021-02-16 00:11] ihowell commented on #201
@iswariyam Is there any plan to include the mechanical turk attribution labels for the images in the dataset?

[2021-02-16 04:49] vijayphoenix commented on #2888
@ajbrock Run the following command
`pip install tfds-nightly`

[2021-02-16 07:39] chrisjihee commented on #2762
@TatianaShavrina
I changed visibility for some issue, but it is available NOW. :)
If you have any questions, please leave a message.
Thank you for your interest.

[2021-02-16 08:08] TatianaShavrina commented on #2762
Thank you so much! Very useful custom example!

[2021-02-16 11:02] ajbrock commented on #2888
ah got it, just using colab's inbuilt pip. Thanks!

[2021-02-16 14:32] smnrdln commented on #291
I have the same issue.

[2021-02-16 16:36] centrino13 commented on #807
I'm in China. Remember to set up the following configuration:
`import ssl
os.environ['http_proxy'] = 'http://127.0.0.1:12333'
os.environ['https_proxy'] = 'https://127.0.0.1:12333'
ssl._create_default_https_context = ssl._create_unverified_context`

`12333` is the number of port

[2021-02-17 02:18] sebaspv commented on #2742
I created a 140 3x3 rubik's cube faces dataset, I recommend taking a look at it and you can try using the data as well.
It's hosted on [Kaggle](https://www.kaggle.com/sebastianponce/rubiks-cubes-faces) You should take a look at it.

[2021-02-17 14:47] NikhilBartwal commented on #3036
Hey @Conchylicultor , I would like to take this up. Just so we are on the same page, we need to parallelize the nested sequential loop used in `_iter_builder_names`, so that all the different categories of datasets can be simultaneously loaded.

Also, I couldn't really understand the purpose of using `_maybe_iterdir` inside the nested loop:
https://github.com/tensorflow/datasets/blob/aa0547927fab3

[2021-02-17 15:12] FPGSchiba commented on #2889
I will try this one thanks @simonre.

[2021-02-17 16:57] Conchylicultor commented on #3036
Only the first loop need to be parallelized: https://github.com/tensorflow/datasets/blob/aa0547927fab3504a9980528c486bbe32a3b598c/tensorflow_datasets/core/community/register_path.py#L150

So all namespaces are processed in parallel. `ns2data_dir` is a Dict like:
[code]

`_maybe_iterdir` is just like `path.iterdir()` but do not crash if the path don't exists (`Path('non_existing_path').iterdir()` r

[2021-02-17 17:46] GajdosDavid commented on #2742
Thank you. I've also taken quite few photos of individual faces so I'll share them when I have enough time to do it.

[2021-02-17 18:52] NikhilBartwal commented on #3036
@Conchylicultor I have made the PR for parallelizing `tfds.list_builders`. It would be great if you could have a look. Thanks!

[2021-02-18 09:25] FPGSchiba commented on #2889
Sorry for closing so fast.
I got the same error, if it works on ubuntu, perhaps it is system dependent?

[2021-02-18 10:36] simonre commented on #2889
It does **not** work for me on ubuntu. I get the same error as you.

[2021-02-19 09:51] #3036 closed

[2021-02-22 11:24] zoeker22 opened #3052 "Import Error: IPprogress not found when using a builder in spyder"
So i'm currently using sypder to learn tensorflow and when trying to load a basic dataset according to the tutorial aka:

[code]

I get the following error message:
File "C:\Users\horsc\Desktop\TF_Test.py", line 16, in <module>
    builder.download_and_prepare()

  File "D:\Programme\Anaconda\envs\tf-gpu\lib\site-packages\tensorflow_datasets\core\api_utils.py", line 52, in disallow_positional_args

[2021-02-22 13:07] #3052 closed

[2021-02-22 13:12] zoeker22 commented on #2390
Had the same issue as ghost it was just a typo from Conchy pasting that doesn't do anything.
it is `tfds.disable_progress_bar()` not progression bar.

[2021-02-22 17:31] agentmorris opened #3053 "Memory requirements for c4/webtextlike"
**What I need help with / What I was wondering**

I am trying to build c4/webtextlike, which the documentation reports as 14MiB download size, 18GiB dataset size:

https://www.tensorflow.org/datasets/catalog/c4#c4webtextlike

I'm getting failures during download_and_prepare that I'm 99.9% sure are the result of memory capacity, and I'm wondering whether there's documentation of the memory required

[2021-02-23 09:20] Conchylicultor commented on #2390
The following should works:
[code]
If it doesn't please share a reproductible example with the full stacktrace

[2021-02-23 15:34] NikhilBartwal opened #3054 "dl_manager not downloading and/or extracting files as expected"
**Short description**
While working on an issue, when i tried running `dl_manager` on my local environment to better understand how it works, but it st doesn't download the file. The file in question was hosted as a public kaggle dataset

**Environment information**
* Operating System: <os> Windows 10
* Python version: 3.8.6
* `tensorflow-datasets`/`tfds-nightly` version: 2.4.0
* `tensorflow`/`tf-

[2021-02-23 15:40] NikhilBartwal commented on #3054
@Conchylicultor I was working on #2406 as the `celeb_a` dataset is still broken and the download links need to be updated. I have created a custom public dataset on Kaggle in accordance with the dataset generation script but `dl_manager` does not seem to be downloading the file. It would be great if you could help me clear this out. Thank you!

[2021-02-23 17:22] Conchylicultor commented on #3054
Thank you for reporting. Sending a fix now

[2021-02-23 17:28] vijayphoenix commented on #3054
@NikhilBartwal Downloading any Kaggle datasets requires login.

So, you can use this API https://www.tensorflow.org/datasets/api_docs/python/tfds/download/DownloadManager#download_kaggle_data

[2021-02-23 17:30] Conchylicultor commented on #3054
However, we are only using the original dataset author URL. We cannot use data re-hosted by third party users.

[2021-02-23 17:32] NikhilBartwal commented on #3054
@Conchylicultor I can understand. However there is also an official CelebA Kaggle dataset uploaded by the Kaggle Team itself [here](https://www.kaggle.com/jessicali9530/celeba-dataset?select=list_eval_partition.csv). Do you think we can use this one?

[2021-02-23 17:34] NikhilBartwal commented on #3054
Thank you for the help @vijayphoenix. However the same error happens when we use the example provided in the TFDS documentation [here](https://www.tensorflow.org/datasets/api_docs/python/tfds/download/DownloadManager#example_of_usage) as well. It would be great if you could clarify that. Thanks!

[2021-02-23 17:43] vijayphoenix commented on #3054
All the URLs in that example are fake. (They are used just as a placeholder)
Please try again with some working URLs

[2021-02-23 18:06] NikhilBartwal commented on #3054
Hey @vijayphoenix, I just tried doing that with the same URL that titanic dataset uses in the TFDS script (i.e. [this](https://www.openml.org/data/get_csv/16826755/phpMYEkMl)) but the same error happened again.
However, the file was downloaded successfully but the error persisted. Also, the file location was not stored in the variable as it shuold have been.
Here are the logs:
[code]

[2021-02-23 18:26] vijayphoenix commented on #3054
Seems like Conchylicultor has already fixed this issue by PR https://github.com/tensorflow/datasets/pull/3055 :smile:

[2021-02-24 06:57] alicialitrtwe opened #3057 "Checksums for the dataset imagenette has changed"
* Does the issue still exists with the last `tfds-nightly` package (`pip install --upgrade tfds-nightly`) ?
Yes
**Reproduction instructions**

[code]

**Link to logs**
/usr/local/lib/python3.7/dist-packages/tensorflow_datasets/core/download/download_manager.py in _validate_checksums(url, path, computed_url_info, expected_url_info, force_checksums_validation)
    756         'https://www.tensorflow

[2021-02-24 11:59] FreshmanLin opened #3059 "How to generate my own dataset locally?"
**What I need help with / What I was wondering**
I have a task which is to complete the experiment: https://github.com/google-research/vision_transformer, and after I successfully run the train code with cifar10 and cifar100, next step I want to train the model with my own dataset.  I have already made files of tfrecords, but this dataset is not registered in tfds.list_builders(). I don't want to

[2021-02-24 12:57] #3057 closed

[2021-02-24 19:33] Conchylicultor commented on #3059
Which version of the doc are you reading ? I would suggest to read the english version of https://www.tensorflow.org/datasets/add_dataset.

[2021-02-25 08:10] FreshmanLin commented on #3059
Right, the version of doc I read is in Chinese...

[2021-02-25 09:22] jadeaffenjaeger opened #3061 "Speech Commands Dataset: Test set different from the Set given in testing_list.txt"
**What I need help with / What I was wondering**
For the Google Speech Commands Dataset, it seems to be common practice to derive the test set from the file `testing_list.txt` found in the `speech_commands_v0.02.tar.gz` archive. This file contains 11005 filenames, drawn from the original distribution of 20 words with ca. 400 samples each and no separate class for background noise.

Different from

[2021-02-25 09:34] versae commented on #2711
I was finally able to try this again. A  few things have changed and it seems the experimental flags are not needed anymore. The setup is as follows:
[code]
The `beam_requirements.txt` looks as follows:
[code]

The last main process logs:
[code]
I run it for 24 hours only on one dump, `CC-MAIN-2013-20`. Everything run fine for approximately 11 hours, as I could see data being written to the bucket

[2021-02-25 09:36] jadeaffenjaeger commented on #3061
I just checked against the [original paper](https://arxiv.org/pdf/1804.03209.pdf). The dataset downloaded by TFDS is the one that is supposed to be used for obtaining a Top-One Metric (Section 7.1), while the files given in `testing_list.txt` are supposed to be used for general model evaluation (section 7).

The latter one seems to be a more sensible default to me, though it would be nice if both

[2021-02-25 10:05] Conchylicultor commented on #2711
If the input pipeline entered a phase where it is IO bound, it might be normal that the CPU rate drop.

[2021-02-25 10:16] versae commented on #2711
The throughput also drops to zero for all the pipeline stages, and although progress is 100% is not marked as "succeeded". For example:

![image](https://user-images.githubusercontent.com/173537/109138479-b3121200-775a-11eb-8a97-10f528adbbd2.png)

[2021-02-25 19:02] vijayphoenix commented on #3054
Fixed by https://github.com/tensorflow/datasets/pull/3055

[2021-02-25 19:02] #3054 closed

[2021-02-25 19:03] #3059 closed

[2021-02-26 00:51] versae commented on #2711
It seems like I got past that problem on a second run, but it has now failed with a "No space left on the device" error that I guess is coming from the workers as they try to write too many or too big temporary files.
[code]
Not sure what's a proper disk size for the workers, I'm using whatever is the default now. I also don't know if I should run it again with `experiments=shuffle_mode=service` o

[2021-02-26 06:29] kimsan0622 commented on #1931
It costs about 100$ in my case (only c4/en).

this is a configuration for "c4/en".
GCP dataflow took about 12 hours to process the task and download wet files from Common Crawl using 700 workers.

----------------------------configurations-----------------------------------------------------------
DATASET_NAME=c4
DATASET_CONFIG=en
GCP_PROJECT=???
GCP_BUCKET=???
GCP_REGION=us-central1

pip install

[2021-02-26 14:07] ilackner opened #3064 "[data request] <Coral>"
* Name of dataset: <name>
* URL of dataset: <url>
* License of dataset: <license type>
* Short description of dataset and use case(s): <description>

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests to prioritize.

And if you'd like to contribute the dataset (thank you!), see our [guide to adding a dataset](https://g

[2021-02-26 14:44] adarob commented on #2711
`experiments=shuffle_mode=service` should reduce the files, but potentially only on GCS. @daphnei has also recently seen this issue. It appears to be new.

[2021-02-26 18:14] tvalentyn commented on #2711
If the temporary files are created by shuffle, `--experiments=shuffle_mode=service` should help;
I think the default `--disk_size_gb` disk size is 250G; with shuffle service it is 25G.

[2021-02-26 20:38] qo4on opened #3065 "Is Dataset for small in memory data slower?"
Training on TPU I found that for small datasets (a few GB) that fit to memory it is faster to feed `tf.tensors` directly without creating a `Dataset`. The best result I managed to get using `tf.data.Dataset` is to convert "in memory" numpy data with `from_tensor_slices` then `repeat`, `batch`, `prefetch`.
Am I right that there is no need to use `Dataset` on "in memory" data? Or there is something

[2021-02-27 13:46] lahr-ul opened #3068 "Reproducibility with versioning"
I created a custom dataset with `tfds build` with a single train split. I want to share this dataset with my colleagues and ensure reproducibility such that if we all use a `80:10:10` split on the dataset, the split sets yield the same data on all our workstations. The [versioning section](https://www.tensorflow.org/datasets/datasets_versioning#semantic) in the documentation states that as long as

[2021-02-27 22:39] tanglz opened #3069 "tensorflow_datasets dependency conflict"
/!\ IF YOU WANT PEOPLE TO HELP YOU, PLEASE GIVE AS MUCH DETAIL AS POSSIBLE, INCLUDING THE FULL STACKTRACE AND CODE SNIPPET

**Short description**
when installing tensorflow_datasets occurs unacceptable error: “ERROR: After October 2020 you may experience errors when installing or updating packages. This is because pip will change the way that it resolves dependency conflicts.
We recommend you use

[2021-02-28 05:51] tanglz commented on #3069
Sorry, it's my virtual env issue. I fixed it.

[2021-02-28 05:51] #3069 closed

[2021-02-28 07:12] Conchylicultor commented on #3068
Yes, examples are deterministically shuffled sorted using the hash of the `key`, yield by `_generate_examples`.

If you don't observe this, it means there is likely a bug in the dataset implementation which does not yield deterministic key. See https://www.tensorflow.org/datasets/api_docs/python/tfds/core/GeneratorBasedBuilder#_generate_examples for details. The key should not contain any user sys

[2021-02-28 07:17] Conchylicultor commented on #3065
You can use `ds.cache()` for this: https://www.tensorflow.org/api_docs/python/tf/data/Dataset?version=nightly#cache.
Note it is automatically applied for TFDS datasets smaller than 250MB
https://www.tensorflow.org/datasets/performances#auto-caching

[2021-02-28 08:07] qo4on commented on #3065
Thanks for your help!
I tried `cache` and saw that training time increased. As far as I know `cache` copies data to memory at the first epoch. When original data is already in memory what's the point of using it.

[2021-02-28 11:32] rushabh-v opened #3070 "[data request] Netflix Movies and TV Shows"
- Name of dataset: Netflix Movies and TV Shows
- URL of dataset: https://www.kaggle.com/shivamb/netflix-shows
- License of dataset: CC0: Public Domain
- Short description of dataset: The dataset consists of tv shows and movies available on Netflix.
#### Use cases:
1. Understanding what content is available in different countries.
2. Identifying similar content by matching text-based features.
3. N

[2021-03-01 03:07] Sylviaxyz opened #3072 "curated_breast_imaging_ddsm downloading and setting problem"
**What I need help with / What I was wondering**
I want to use the cbis-ddsm dataset in tensorflow datasets and I have read the following instructions at https://www.tensorflow.org/datasets/catalog/curated_breast_imaging_ddsm  But I feel confused about some of the introductions in it. I don't know where should I put the dataset that I downloaded from https://wiki.cancerimagingarchive.net/display/P

[2021-03-01 09:24] versae commented on #2711
It finished! 🎉 It successfully processed the 105TB and almost 2 billion files of the `CC-MAIN-2013-20` dump. Using 75 workers, it took 31 hours. That's roughly 3.3TB per hour. I increased disk size to 100GB (it might be unnecessarily big), force v2 of the runner, and enabled shuffle mode.

[code]

The command looks like this:
[code]

The `beam_requirements.txt` file contains:
[code]

And I patched

[2021-03-04 03:57] zml24 opened #3078 "Cannot download wmt19_translate/zh-en dataset"
I ran the code like below to get `wmt19_translate/zh-en` dataset, but there are 504 error.
[code]
How can I get the dataset?

[2021-03-04 14:01] elda27 opened #3080 "Cannot download wiki40b on Windows"
There are not working on Windows because filesep is not "/".
Is this library is not supported on the client-side such as desktop computers?
or bags?

https://github.com/tensorflow/datasets/blob/74a60f94dbc4ffc385a18d6653b9fa829ff2d092/tensorflow_datasets/text/wiki40b.py#L118-L137

[2021-03-05 10:47] riibeirogabriel opened #3085 "Getting error when serialize a tfds object"
**What I need help with / What I was wondering**
I have tried serialize the dict `response` from this code:
[code]
But when i use the `pickle.dump` method to convert this dict to a binary file this exception is throwed:
`tensorflow.python.framework.errors_impl.InternalError: Tensorflow type 21 not convertible to numpy dtype.`

**Environment information**
(if applicable)
* Operating System: Debian

[2021-03-05 11:31] Conchylicultor commented on #3085
This is an issue with tensorflow, not TFDS. tf.Tensor and tf.data.Dataset object may not be pickable. I don't think this could be solved easily.

[2021-03-05 11:34] riibeirogabriel commented on #3085
@Conchylicultor You know if i can serialize using a tensorflow method? i read about the `save()` method, but i need a method that converts this object to a binary without write on disk.

[2021-03-06 17:11] NikhilBartwal opened #3087 "TFDS 'pylint' errors"
**Short description**
Using `pylint` on TFDS does not generate a 10/10 code rating.

Running `pylint --rcfile=pylintrc tensorflow_datasets/audio` on windows as mentioned [here](https://www.tensorflow.org/community/contribute/code_style#pylint) only gives a 9.03/10

**Expected behavior**
Using `pylint` should ideally give a 10/10 rating.

[2021-03-06 17:12] NikhilBartwal commented on #3087
I will be sending a PR for `tensorflow_datasets/audio` and `tensorflow_datasets/image` soon.
Anyone who wants to contribute, please feel free to comment and send a PR.

[2021-03-08 08:48] riibeirogabriel commented on #2476
Hi everyone, i have the same issue when trying run this code
[code]

[2021-03-08 19:55] Conchylicultor commented on #2476
@riibeirogabriel Make sure you're using the last TFDS version by installing `tfds-nightly`

[2021-03-09 05:40] daphnei commented on #2711
Congrats on getting this working!

Out of curiosity, did you have to request a lot of quota increases from GCS to make it work, and if so what quotas did you get increases to?

The last time I tried this, I kept running into various out-of-quota warnings.

[2021-03-09 06:36] sumanthd17 commented on #2711
@versae Congratulations on getting this work.

I would like to understand the finer details of this work. We are planning on doing this for english. Is it possible to set up a meeting to discuss this.

Thanks in Advance

[2021-03-09 13:21] elda27 commented on #3080
I tried to run test codes that are failing too many cases.
Who does know the maintainer around the processing path concatenation?

I can contribute to fix the error of this case on Windows. (Already edited on my local code and work it.)
But the same or similarity issue is found in too many positions.
So I'm worried that my opinion is wrong

[2021-03-09 13:31] versae commented on #2711
Thanks, @daphnei, @sumanthd17.

@daphnei, the quota thing was the first problem I had. Thankfully, it was fixed by my manager. I'm my experience, having a budget estimate on resources and cost really helps when justifying how much money you need to run experiments.

@sumanthd17, I am not affiliated with Google. I'm sure that @adarob and @rezarokni know way better the internals of their own work. T

[2021-03-09 17:27] Shiro-LK opened #3094 "C4/en dataset download stopped"
**What I need help with / What I was wondering**
I am trying to download the clean version of C4/en dataset. The dataset should be 800 GB and the space I have is 2 TB. Unfortunately after some times, the training "stopped". I am disconnected from the VM and can't access it whithout rebooting it.
I was wondering what are the requirement (hardware) to download the clean version of c4? How long does

[2021-03-09 20:37] rushabh-v opened #3097 "Community Datasets (GSoC - Discussion Thread)"
Hello everyone,

I am Rushabh Vasani, a 3rd-year IT student from India. I am interested in the `community datasets` project idea. Seems like a "DockerHub of Datasets" :)

Opening this thread to show my interest and to use it as a medium to share my thoughts. I also had a small doubt,

- Should the system store the entire datasets or the users need to host the data somewhere else and publish only t

[2021-03-10 09:16] vijayphoenix commented on #3097
Hi @rushabh-v,

Thank you for your interest in TFDS.

In community datasets. users write scripts using the procedure described [here](https://www.tensorflow.org/datasets/add_dataset). The only difference is that the user can use and share this dataset script without adding it to TFDS.

For example, a user can write a dataset script and publish it on his/her GitHub repository.
This script can use a

[2021-03-10 09:16] #3097 closed

[2021-03-10 09:22] vijayphoenix commented on #3087
Similar https://github.com/tensorflow/datasets/issues/1644

[2021-03-10 09:22] #3087 closed

[2021-03-10 09:22] rushabh-v commented on #3097
Sure, thanks for the clarification @vijayphoenix.

[2021-03-10 09:59] vijayphoenix commented on #3087
Yeah, please reference #1644

[2021-03-10 21:22] amchauhan commented on #1931
Hi @adarob @shepsels any estimates on processing mC4 (multilingual one which is ≈ 26TB) on GCP both in terms of time and cost?

[2021-03-13 08:05] prasadnemmikanti opened #3103 "[data request] <fashion_mnist>"
* Name of dataset: <fashion_mnist>
* URL of dataset: < https://github.com/zalandoresearch/fashion-mnist>
* License of dataset: <license type>
* Short description of dataset and use case(s): <description>

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests to prioritize.

And if you'd like to contribute the dataset (tha

[2021-03-13 12:16] vijayphoenix commented on #3103
See catalog https://www.tensorflow.org/datasets/catalog/fashion_mnist

[2021-03-13 12:16] #3103 closed

[2021-03-14 07:39] JianboTang commented on #3094
I encountered the same problem,
and I think the total downloaded datasets are saved in memory first,
therefore, VM will disconnect when it runs out of memory.

[2021-03-15 02:25] JianboTang commented on #3094
TensorFlow is becoming worse and worse~~~

[2021-03-16 09:17] NikhilBartwal opened #3106 "Community datasets not working on local env"
For this year's GSOC, TFDS is going forward with community datasets. However, I had some queries regarding it as I would like to contribute to TFDS as part of this year's GSOC.

1. The [community datasets index](https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/community-datasets.toml) currently contains only `huggingface` as part of registered namespaces. https://github.com/t

[2021-03-16 09:19] Conchylicultor commented on #3106
Have you tried with tfds-nightly ? You need to replace `any_dataset` by a valid dataset name

[2021-03-16 09:41] NikhilBartwal commented on #3106
@Conchylicultor I have been using a locally cloned TFDS repo up until now for contribution.
`pip install tfds-nightly` installs the nightly package but importing `tensorflow_datasets` in python, results in importing of the previous TFDS. How do I use the `tfds-nightly` package in that case?

[2021-03-16 11:24] NikhilBartwal commented on #3106
@Conchylicultor Commnity datasets are working successfully with `tfds-nightly` (that i tried with colab). However, I am not able to use `tfds-nightly` with the previously installed local repo.
It would be great if you could help me out. Thanks!

[2021-03-16 12:19] NikhilBartwal commented on #3106
@Conchylicultor Community datasets seem to be working successfully with `tfds-nightly` on colab. However, the same does not work on local environment.
Both the TFDS versions were `4.2.0+nightly`

[2021-03-16 16:12] Conchylicultor commented on #3106
Make sure to update your tfds-nightly with `pip install --upgrade tfds-nightly`

[2021-03-16 17:31] NikhilBartwal commented on #3106
@Conchylicultor I'm currently using `tfds-nightly==4.2.0.dev202103160106` on my local machine and community datasets does not seem to work on it.
I have tried uninstalling TFDS completely and then reinstalling using ``pip install tfds-nightly` but it didn't work.
I have also tried installing TFDS from the freshly cloned repo as well.
DO you have any idea why this could be happending?

[2021-03-16 19:34] NikhilBartwal commented on #3106
@Conchylicultor I think that I have pinpointed the issue. Since the original question has been answered, I think I should open a new issue so as to avoid further confusion for others.

[2021-03-16 19:34] #3106 closed

[2021-03-16 19:47] NikhilBartwal opened #3109 "Community Datasets not working on Windows system"
After installing `tfds-nightly` from scratch, the community datasets didn't seem to work as `tfds.list_builders()` did not display community datasets.
After checking the code, it seems that the fault lies in [register_package.py](https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/community/register_package.py).
While trying to create the `community_package_index`, TFDS ini

[2021-03-16 21:24] dirkgr commented on #1136
We just released the pre-processed C4 datasets in TensorFlow and JSON format: https://github.com/allenai/allennlp/discussions/5056

[2021-03-16 21:28] dirkgr commented on #2834
We just put a processed version of the dataset online. Details here: https://github.com/allenai/allennlp/discussions/5056

[2021-03-17 06:17] vijayphoenix opened #3110 "Multiple progress bars for single task"
On downloading a dataset via
[code]
or
[code]
multiple progress bars are displayed for the same task

[code]

**Expected:**
Only one progress bar is displayed

[2021-03-17 06:21] jatin-code777 commented on #3110
I had looked into this issue a bit, earlier, will send a PR in a few.

[2021-03-17 11:56] NikhilBartwal commented on #3109
@Conchylicultor We can make a workaround for windows system by shipping the [community-datasets-list.jsonl](https://gist.github.com/NikhilBartwal/b5351fcb63d1c4beb04ffe6fc7dca956) file along with the TFDS repo.

https://github.com/tensorflow/datasets/blob/d867411ea3f30971f4b532f68c48e48d1e4f30ff/tensorflow_datasets/core/community/register_package.py#L154

Here, we can do a basic check for windows

[2021-03-17 20:24] NikhilBartwal opened #3112 "Radon dataset not generated on windows"
**Short description**
WHen using `tfds.load('radon')`, the dataset is not generated.

**Environment information**
* Operating System: Windows 10
* Python version: 3.8
* `tensorflow-datasets`/`tfds-nightly` version: 4.2.0+tfds-nightly
* `tensorflow`/`tf-nightly` version: 2.4.1

* Does the issue still exists with the last `tfds-nightly` package (`pip install --upgrade tfds-nightly`) ? Yes

**Reprodu

[2021-03-17 20:24] NikhilBartwal commented on #3112
I will be sending a PR soon!

[2021-03-18 13:45] mr-ubik opened #3115 "Checksums for the dataset imagenette has changed"
**Does the issue still exist with the last tfds-nightly package (pip install --upgrade tfds-nightly)?**
* Yes

**Reproduction instructions**

[code]

**Link to logs**

[code]

[2021-03-18 14:48] mirik123 commented on #2476
I have the same issue with versions:
- tensorflow==2.4.1
- tensorflow-datasets==4.2.0

[2021-03-18 16:55] vijayphoenix opened #3116 "Add `tfds list` CLI command"
Addition of community dataset will sharply increase the no of available datasets. So it will become difficult to browse through repos or catalog.

So, it would great if we can add a new CLI command to list all the datasets in present in TFDS. This will allows users to easily search a dataset using tools like grep.

**Possible Usage**
[code]

**Implementation details**

• Use/modify the `tfds.list_

[2021-03-18 17:03] jatin-code777 commented on #3116
Hi, I have started work on this

[2021-03-18 19:09] Conchylicultor commented on #2476
The fix was added in tfds-nightly. Make sure you install this.

[2021-03-18 19:17] NikhilBartwal commented on #3115
@mr-ubik The `imagenette` dataset is successfully generated in `tfds-nightly` latest version. Please make sure you have installed this.
(Also the expected checksums showed in your error logs are not the ones currently used in `tfds-nightly`) You might night to upgrade to the latest version. Thanks!

[2021-03-18 19:19] NikhilBartwal commented on #3116
Since @jatin-code777 has already started working on `--type` and `--exclude_community` part, I will be sending a PR for the
`--search` and `--namespace` flags soon.

[2021-03-19 00:36] rwightman opened #3119 "Tighter bounds on split sizes for multi-worker use cases"
**Is your feature request related to a problem? Please describe.**
I'm having issues performing distributed validation in the case where I have multiple workers with TFDS.

Neither the tf.distribute.InputContext(num_input_pipelines=) or subsplit approach gives me what I'm hoping to achieve.

For a concrete scenario, I'm trying to perform validation across 8 worker nodes (separate processes) w/ TFD

[2021-03-19 05:00] rwightman commented on #3119
Silly me, should have poked around a bit longer. Looks like I can just split on the record indices themselves and ignore the whole % / even_splits API. Any reason there isn't an even_split equivalent that is based on indices?

One more question related to this if anyone happens to read before I close. If I want to manually partion a subsplit (ie I want to divide `train[90%:]` into 8 subsets with i

[2021-03-19 10:44] #3110 closed

[2021-03-19 11:11] #3112 closed

[2021-03-19 12:29] mr-ubik commented on #3115
@NikhilBartwal you are correct, I saw the issue persists even with `tfds-nightly` due to the dataset not being correctly removed in Colab.

[2021-03-20 07:01] NikhilBartwal commented on #3115
@mr-ubik Does the issue persists even with the latest version of `tfds-nightly`(`pip install --upgrade tfds-nightly`)?
If it does, please send full error logs along with `tfds.__version__`

[2021-03-21 06:23] summelon commented on #3013
Hi, I met the same problem as yours when I tried to build my customized dataset.
How did you solve this problem?

[2021-03-21 06:37] NikhilBartwal commented on #3013
@sumanthd17 @summelon It looks like the key that is used for yielding each example in the `_generate_examples` is not unique. ( as shown [Here](https://www.tensorflow.org/datasets/add_dataset#dataset_example) )
The problem lies not in the data itself but the way each example is associated with a key.
Please share the complete logs along with a snippet of the code used to generate the examples for

[2021-03-21 06:43] summelon commented on #3013
Thanks for your reply!
I have figured it out!
`tfds` need a unique id for each image file.
In my dataset, I have not such ids.
So here are my solution:
[code]

[2021-03-21 07:06] NikhilBartwal commented on #3013
@summelon Since your dataset uses random ids, thus it is possible for two images to have same ids (however unlikely it might be)
To resolve this, you can extract the image name from the `path` and use it as the `image_id` as each image would be having a unique name.

[2021-03-21 07:24] sumanthd17 commented on #3013
Yes the error was that 2 examples shared the same hash key. You can add an enumerate in your for loop and that will give you unique numbers. That solved the issue for me

[2021-03-21 14:50] orf opened #3125 "Support for mirroring datasets for use without an internet connection"
**Is your feature request related to a problem? Please describe.**

For compliance and security reasons training and experimentation may be done in environments without access to the internet. While datasets provides a local cache it's not clear or documented how you would utilize an internal mirror or proxy for many distributed clients.

An internal mirror also helps prevent against transient net

[2021-03-23 12:48] carlthome commented on #1345
Closing because getting pretty stale with unified Beam/Generator classes etc.

[2021-03-23 12:48] #1345 closed

[2021-03-23 20:43] Conchylicultor commented on #3125
Would https://www.tensorflow.org/datasets/overview#manual_download_if_download_fails works for you ?
Also it the dataset is already generated. You don't need internet anymore

[2021-03-23 22:58] leedrake5 commented on #2499
This is where I am too. I am baffled by tf.data.Datasets. Clearly it is meant to be a data pipeline, but it isn't clear how to use it yet. Finding a basic tutorial that says "here's imagedatagenerator, now here's how you can do the same thing with tf.data.Datasets" is very hard.

[2021-03-24 16:43] Conchylicultor commented on #2499
For how to use tfds in practice, you can have a look to our end-to-end keras example: https://www.tensorflow.org/datasets/keras_example#step_2_create_and_train_the_model

Please let us know if something isn't clear

[2021-03-24 20:07] Alyetama commented on #127
@Conchylicultor I still have this issue even with the latest tfds-nightly release.

[code]

[2021-03-24 20:37] NikhilBartwal commented on #127
@Alyetama The dataset download URL seems to not be working. Related to  #2406 and further mentioned in #3056
@Conchylicultor The dataset is also hosted officially on Kaggle [here](https://www.kaggle.com/jessicali9530/celeba-dataset) as well, do you think we can use that?

[2021-03-25 10:54] preeti13456 commented on #3125
Do you want all the data to be synchronous at the same time or it's a different change you were asking for?

[2021-03-25 13:16] orf commented on #3125
Thanks for the replies. Manual download if download fails requires the download to fail. On some environments this may take a long time, especially with retries. It also requires a _local_ cache running on some form of filesystem abstraction. After glancing at the code it seems like it makes direct use of `pathlib` and so can't use some of the tensorflow abstractions around this (so setting `manua

[2021-03-25 14:00] Conchylicultor commented on #3125
This is not true. TFDS first look at manual dir, and only try to download if the download data isn't found

Also not true. TFDS uses a custom pathlib abstraction which support GCS, s3

[2021-03-25 14:54] orf commented on #3125
Ok, so that's really good to know. Thank you! I might suggest documenting this (unless it already is, and I'm blind?). I'll give this a try and report back if there are any issues I encounter.

Thanks again!

[2021-03-25 15:27] orf commented on #3125
Has this been tested with an object store like S3?

[code]

Here I'm trying to build a single dataset and set the `download_dir` to a S3 bucket. Future invocations of `tfds` would be configured to use that prefix as a download directory and would then not require network access?

[2021-03-26 01:32] CosmoRied opened #3127 "'type' object is not subscriptable in tensorflow datasets. Unable to import datasets"
I recently install tensorflow_datasets but cannot import it in python3.8 or ipython3 with version 3.8.

[code]

Tensorflow can be imported.

I installed tensorflow nighly but this did not resolve the issue.

There is some collision for me about where the packages are installed. Firstly, I tried installing with sudo python3 -m pip install tensorflow_datasets, that loads it to the /usr/local directo

[2021-03-26 04:32] Srikeshram commented on #3116
I am working on this issue. Will you please assign it to me?

[2021-03-26 05:15] NikhilBartwal commented on #3116
Hey @Srikeshram,  @jatin-code777 is already working on the issue and taking it up would only lead to work duplication. You can take up other bugs and issues which are still unresolved in TFDS. Thank you for the efforts!

[2021-03-26 15:20] prerakmody commented on #1020
A little off-topic, but it seems like they are not providing permissions for this dataset anymore.

[2021-03-27 05:55] Hardika3 opened #3128 "VCTK dataset SSL Error - no local directories"
I am new to tensorflow and am making use of the VCTK dataset. However while loading the dataset I get the error as -

* SSLError: HTTPSConnectionPool(host='datashare.ed.ac.uk', port=443): Max retries exceeded with url: /bitstream/handle/10283/3443/VCTK-Corpus-0.92.zip (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local is

[2021-03-27 19:14] Conchylicultor commented on #3128
You can try:

[code]

This will disable https download

[2021-03-27 19:45] mamochibubboni opened #3129 "[data request] <cate>"
* Name of dataset: <name>
* URL of dataset: <url>
* License of dataset: <license type>
* Short description of dataset and use case(s): <description>

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests to prioritize.

And if you'd like to contribute the dataset (thank you!), see our [guide to adding a dataset](https://g

[2021-03-27 19:45] mamochibubboni opened #3130 "[data request] <cat>"
* Name of dataset: <name>
* URL of dataset: <url>
* License of dataset: <license type>
* Short description of dataset and use case(s): <description>

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests to prioritize.

And if you'd like to contribute the dataset (thank you!), see our [guide to adding a dataset](https://g

[2021-03-27 22:20] Motunrayo244 opened #3131 "NonMatchin CheckSum Error"
This was generated while downloading  oxford_flower102.

Downloading and preparing dataset oxford_flowers102 (336.76 MiB) to /root/tensorflow_datasets/oxford_flowers102/0.0.1...
Dl Completed...: 100%
1/1 [00:13<00:00, 13.27s/ url]
Dl Size...: 100%
328/328 [00:13<00:00, 24.84 MiB/s]
Extraction completed...:
0/0 [00:13<?, ? file/s]

-------------------------------------------------------------------

[2021-03-28 02:49] tengwang0318 opened #3132 "I can't download datasets in China"
[code]
error report:
[code]
json file:
[code]
I try to use VPN, but it doesn't work.

[2021-03-28 13:50] viotemp1 opened #3133 "coco dataset person key-points"
Hello,

I see in the source for coco DS that person ke-points could be added. Is this planned? Or how I can do it myself?
Regards,

[2021-03-29 08:33] Conchylicultor commented on #3127
Could you try to update `promise` package ? I think the `promise.Promise[]` was only added recently

[2021-03-30 01:52] Hardika3 commented on #3128
I am able to download with this. But is there a way to download using the ssl verification set to true?

Also is there a way to checkpoint the dataset? This is a large dataset and my machine gets disconnected from the network a lot of times making me start the download all over again.

Thank you for the help!!

[2021-03-30 06:04] xiaopphan opened #3137 "How to add"
There is no scripts/create_new_dataset.py in the new version.

[2021-03-30 06:11] NikhilBartwal commented on #3137
Hey @xiaopphan, with the TFDS CLI now up and running, you can simply do [this](https://www.tensorflow.org/datasets/add_dataset#tldr) to create the template files.
I hope this solved your query.

[2021-03-30 06:45] NikhilBartwal commented on #3131
@Motunrayo244 `The oxford_flowers102` dataset is being generated successfully on the latest version of TFDS.
Please upgrade the `tensorflow-datasets` to the latest version (The dataset version as shown in your code output is`0.0.1` whereas it is currently `2.1.1` in the latest TFDS version)

[2021-03-30 23:25] rodrigob commented on #26
This ticket seems dead. What is blocking a merge ?

[2021-03-31 22:30] CosmoRied commented on #3127
@Conchylicultor Thanks, it has fixed the issue to uninstall and then reinstall promise package. I had tried this already, and it had not worked, so I posted here... has the change happened only recently? Here's how it looks today.

[code]

[2021-03-31 22:31] #3127 closed

[2021-04-01 13:00] tiagoft opened #3144 "Needs pydub dependency in pip"
When tensorflow_datasets is installed with pip, it gives a runtime error while loading datasets. The runtime error is: needs module pydub. Using pip install pydub solves the error. Could pydub be listed as a dependency in the pip installation process?

[2021-04-01 13:16] Conchylicultor commented on #3144
Could you share the stacktrace with reproductible example ?

[2021-04-02 02:27] michael-wzhu commented on #3132
I have the same problem!

[2021-04-02 08:03] omerfbaspinar commented on #2092
is there any step by step example for this ?
i read this and can not apply for my csv dataset.
https://www.tensorflow.org/datasets/add_dataset#tldr

[2021-04-02 18:47] lxkain commented on #2082
Just want to +1 that interoperability between tfx and tfds would be amazing.

[2021-04-06 08:12] Conchylicultor commented on #3132
What is the full stacktrace ?

[2021-04-06 08:18] carlthome commented on #2082
AFAIK, @OscarUtterback got initial boilerplate setup for consuming the TFDS TFRecord naming scheme in an TFX ExampleGen. Perhaps you could share it here? :wave:

[2021-04-06 13:49] NIKKE1 commented on #2188
I encountered this today while training a VGG model using tensorflow 2.3

224/727 [========>.....................] - ETA: 41s - loss: 0.6927 - accuracy: 0.5188Corrupt JPEG data: 99 extraneous bytes before marker 0xd9
261/727 [=========>....................] - ETA: 38s - loss: 0.6925 - accuracy: 0.5247Warning: unknown JFIF revision number 0.00
273/727 [==========>...................] - ETA: 37s - l

[2021-04-06 18:23] NikhilBartwal opened #3148 "'huggingface:mnist' dataset not generating"
**Short description**
Loading the `huggingface:mnist` gives ArributeError

**Environment information**
* Operating System: Windows 10
* Python version: 3.8
* `tensorflow-datasets`/`tfds-nightly` version: 4.2.0+nightly
* `tensorflow`/`tf-nightly` version: 2.4.0

* Does the issue still exists with the last `tfds-nightly` package (`pip install --upgrade tfds-nightly`) ? Yes

**Reproduction instructio

[2021-04-06 18:24] NikhilBartwal commented on #3148
@Conchylicultor I would like to work further upon this. It would be great if you could have a look! Thanks.

[2021-04-07 01:47] xiaopphan commented on #3137
I've seen this page，the first step is add my_dataset.py, but there is no **scripts/create_new_dataset.py** in the new version(tensorflow datasets 4.2.0). I want to know what should I do  now?

[2021-04-07 07:30] Conchylicultor commented on #3137
Try to look at the english website which contains the current documentation version. Other language correspond to old version

[2021-04-07 07:48] Conchylicultor commented on #3148
It seems that beside mnist and fashion mnist, none of the hugging faces datasets are using this https://github.com/huggingface/datasets/search?p=1&q=array2d
As both datasets are already present in TFDS, we didn't think it was worth supporting this.

Hugging face compatibility layer is implemented in https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/community/huggingface_w

[2021-04-07 08:21] harsh020 commented on #3148
@Conchylicultor , Hi, this sound reasonable. But it got me wondering, that there can be several instances where a user is trying to load a `CommunityDataset`, but the same dataset is already present in TFDS. Wouldn't it reasonable to set up hierarchy with higher preference to datasets in TFDS (if not present then fallback to CDS, users may even forcefully override the hierarchy)?

Thanks.

[2021-04-07 10:48] NikhilBartwal commented on #3148
@Conchylicultor I think we can do what @harsh020 mentioned i.e. giving a higher priority to the TFDS dataset if it is present in TFDS and HF ( or Community Datsets in general) both.
That way, even if a user is not aware of the same dataset being in TFDS as well, `tfds.load` will automatically load the TFDS one and fall back to Community datasets if it's not present in TFDS.

Also, we can add somet

[2021-04-08 15:50] Ashvith opened #3150 "NonMatchingChecksumError for celeb_a"
**Short description**
NonMatchingChecksumError while trying to load celeb_a

**Environment information**
* Operating System: Ubuntu 20.10
* Python version: 3.8.2
* `tensorflow-datasets`/`tfds-nightly` version: 4.2.0
* `tensorflow`/`tf-nightly` version: 2.4.1

* Does the issue still exists with the last `tfds-nightly` package (`pip install --upgrade tfds-nightly`) ?
Yes

**Reproduction instructions

[2021-04-09 06:57] Conchylicultor commented on #3148
If the user pass `tfds.load('huggingface:my_dataset')` and TFDS returns `tfds.load('my_dataset')`, it would be quite confusing for the user I believe. I expect that users will want to add and use their own variant of existing tfds datasets, so we should not update this.
At best, we could eventually log a message to indicate the dataset also exists in TFDS but I'm not even sure.

[2021-04-09 07:55] NikhilBartwal commented on #3148
@Conchylicultor I think what you are saying makes sense.
So what do you think about `mnist` and `fashion_mnist` from HF? Since the `Array2D` is not implemented, we can use the prioritization for these two datasets specifically. So that `tfds.load('huggingface:mnist')` gives the TFDS `mnist` dataset (along with a message maybe)

[2021-04-09 09:48] harsh020 commented on #3148
I think that would avoid confusion and is better, at least for now, as we are still on experimentation for community ds. @NikhilBartwal I don't mean to meddle here but I think @Conchylicultor is right, currently we just have one implementation of community dataset so stating something that would act generic even for the future datasets would be difficult as of now.
I think we should simply log the

[2021-04-09 10:00] Ashvith commented on #3150
The issue is no longer persistent. Looks like there was some problem with Google Drive probably.

[2021-04-09 13:25] NikhilBartwal commented on #3148
@harsh020 I agree with you that the user should be able to generate the dataset variant that they need.
As far as `mnist` and `fashion_mnist` datasets are concerned, we can either implement the HF's `Array2D` feature or make `tfds.load` use the TFDS dataset whichever is more efficient.

Seeing that the `Array2D` is used only for these two datasets right now, but might be used in future HF datasets

[2021-04-09 16:53] NikhilBartwal commented on #3109
@NikhilBartwal This seems to be a major issue on windows systems as Community Datasets are currently not working or listing on windows.
The workaround PR manages to do the trick, however the local `json` file used in the PR needs to be updated frequently due to which it doesn't seem to be a viable solution. What do you think about it? Thanks!

[2021-04-09 20:54] LukasDauterman opened #3154 "Trying to load pre downloaded Imagenet2012 validation set only."
**What I need help with / What I was wondering**
I am trying to load only validation set for ImageNet2012, and I have already it downloaded and have been able to load it no problem in Pytorch, but I need to load it for TensorFlow models. How do I only load and use the validation set?

**What I've tried so far**
I have tried tfds builder and load but there doesn't seem to be an option for only load

[2021-04-11 05:42] adarshsin007 opened #3155 "[data request] AN IMAGE DATASET OF VARIOUS SKIN CONDITIONS AND RASHES"
* Name of dataset: AN IMAGE DATASET OF VARIOUS SKIN CONDITIONS AND RASHES
* URL of dataset: https://ieee-dataport.org/documents/image-dataset-various-skin-conditions-and-rashes
* License of dataset: Creative Commons Attribution
* Short description of dataset and use case(s): The dataset contains rash images of 11 different disease states. Images of normal skin are also included in the dataset.

Fo

[2021-04-12 08:48] Conchylicultor commented on #3154
Imagenet require you to put the manually downloaded archive file in the manual dir (`~/tensorflow_datasets/download/manual/`). If you only put the validation set in the manual dir, then the TFDS dataset will be generated with only the validation set

[2021-04-12 21:37] slala2121 opened #3159 "found a different version of the requested dataset"
I posted my question here.

https://stackoverflow.com/questions/67066005/tensorflow-datasets-found-a-different-version-of-the-requested-dataset

**Environment information**
* Python version: 3
* `tensorflow-datasets`/`tfds-nightly` version: tensorflow-datasets/ 4.2.0

[2021-04-13 11:30] OscarUtterback commented on #2082
Yep, this is done via Input.Split, using file-name patterns. Given that TFDS has generated a data set named `epidemic/tiny:1.0.0`, this will ingest the tfrecord files according to the split defined by the pattern parameter.

It's not as nice as using `tfds.load`, but it works.

[code]

[2021-04-13 12:21] tarrade opened #3163 "'glue/sst2': tensorflow_datasets.core.download.downloader.DownloadError: Failed to get url https://firebasestorage.googleapis.com/ HTTP code: 403"
**Short description**
cannot download sst2 tensorflow dataset:
tensorflow_datasets.load(name='glue/sst2', data_dir='tensorflow-dataset', with_info=True)

**Environment information**
* Operating System: MacOS and Linux
* Python version: 3.6
* `tensorflow-datasets`/`tfds-nightly` version: 4.2.0
* `tensorflow`/`tf-nightly` version: 2.4.1

* Does the issue still exists with the last `tfds-nightly` pac

[2021-04-14 02:50] chansonzhang opened #3164 "Can‘t load mnist"
[code]
The code above report following error:

[code]

And When I paste the url `https://www.googleapis.com/storage/v1/b/tfds-data/o/dataset_info%2Fmnist%2F3.0.1?fields=size%2Cgeneration%2Cupdated` in chrome, it showed as follow:
[code]

Additional Info:
OS: mac os 10.15.7
python: 3.8.8
tensorflow               2.4.1
tensorflow-datasets      4.2.0

[2021-04-14 03:23] chansonzhang commented on #3164
sorry, though this message bothered me, but after a very long wait, the mnist dataset finally got downloaded.

[2021-04-14 03:23] #3164 closed

[2021-04-14 06:15] FBEMPSS commented on #431
when i convert train.bcf to images, a problem appeared.
IOError:cannot identify image file <StringIO.StringIO instance at 0x7f3a11798870>
the bug occured when the 1687th font was converted.

[2021-04-15 12:48] jmr commented on #17
@dhirensr Based on what other datasets do, I'm guessing you'd download both then have `wikitext103/word` and `wikitext103/raw`.

[2021-04-15 18:39] NikhilBartwal commented on #3131
@Motunrayo244 If your query was solved successfully, please consider closing this issue. Thank you!

[2021-04-16 01:07] lxkain commented on #2082
Thank you for providing this example! It looks like this can take care of versioning, splits, and configuration by simply pointing at the right directory. However, as you hint at, the tfds.load argument also offers functionality in terms of acquiring just parts of the data (specified in absolute or percentage terms) - would this best be implemented using methods on the example_gen object?

[2021-04-16 18:26] NikhilBartwal opened #3170 "`huggingface:xnli` not generated due to `tuple` as key"
**Short description**
The `huggingface:xnli` dataset is not generated as it contains a tuple as key (which should be str/int)

**Environment information**
* Operating System: Windows 10
* Python version: 3.8.0
* `tensorflow-datasets`/`tfds-nightly` version:4.2.0+nightly
* `tensorflow`/`tf-nightly` version: .2.4.0

* Does the issue still exists with the last `tfds-nightly` package (`pip install --u

[2021-04-17 11:22] Motunrayo244 commented on #3131
Thanks, @NikhilBartwal

[2021-04-17 11:22] #3131 closed

[2021-04-17 18:46] NikhilBartwal commented on #3163
@tarrade The issue seems to have been solved in `tfds-nightly` (This might be due to a faulty download URL in the earlier tfds)
You can install it by using `pip install tfds-nightly`. THe dataset is successfully being generated in the nightly update.

Please let us know if the issue persists!

[2021-04-17 20:16] NikhilBartwal commented on #3115
@mr-ubik Please consider closing this issue if your query was answered. Thanks!

[2021-04-18 17:14] tarrade commented on #3163
@NikhilBartwal thanks and I confirm that the issue is fixed in the nightly. I hope this fix will be collected soon in a new release > 4.2.0. Closing.

[2021-04-18 17:14] #3163 closed

[2021-04-19 02:08] ppbt opened #3171 "[data request] <dataset name>"
* Name of dataset: <CIFAR10>
* URL of dataset: <url>
* License of dataset: <license type>
* Short description of dataset and use case(s): <description>

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests to prioritize.

And if you'd like to contribute the dataset (thank you!), see our [guide to adding a dataset](https:

[2021-04-19 19:41] lxkain commented on #2082
Cross-referencing:
https://github.com/tensorflow/tfx/issues/2027

[2021-04-20 08:25] hamed-ahangari commented on #2925
Sorry to bring it up again, but I still have a problem with loading Caltech101 using `tfds`.

I'm trying to run this piece of code:
`
dataset_name = "caltech101"
caltech101, ds_info = tfds.load(
    dataset_name, split="train", with_info=True, as_supervised=True
)
`
But an exception would happen like this:
`
NonMatchingChecksumError: Artifact http://www.vision.caltech.edu/Image_Datasets/Caltech101

[2021-04-20 09:39] NikhilBartwal commented on #3170
The issue was solved by [this](https://github.com/huggingface/datasets/pull/2233) PR.
However, when it comes to community datasets, TFDS uses the same cached dataset script even if there was a change/update to the original script. I will be closing this issue for now and opening an enhancement issue to fix this.

[2021-04-20 09:39] #3170 closed

[2021-04-20 09:47] NikhilBartwal opened #3172 "Adding an option for updating cached community dataset script"
**Is your feature request related to a problem? Please describe.**
When using community datasets, TFDS downloads the dataset script and uses the same cached script for further use. However, if there was an update/improvement in the original script, there is no option to use the latest script as TFDS uses the older cached version.
For example, in issue #3170, although the original script has been f

[2021-04-20 18:00] Ashvith commented on #3150
Looks like the issue is up again.

[2021-04-20 18:06] Ashvith commented on #3150
#1482 maybe, so closing this issue

[2021-04-20 18:06] #3150 closed

[2021-04-20 18:32] Ashvith commented on #1482
This is such a burden, especially while working on Colab. From the past three days, I am not able to access the datasets. Any help with this?

[2021-04-21 05:16] GrayWasTaken opened #3175 "Issues loading saved model - TypeError: __init__() got an unexpected keyword argument 'name'"
I'm trying to load a saved model but I am failing thus far. The solution I keep seeing is to add **kwargs to my layer class constructor but that didn't work either.

Loading code:
[code]

Possibly relevant code:
[code]

Full stack trace:
[code]

[2021-04-21 08:24] Ashvith commented on #2321
Can this be done in Colab? I can't see the home directory....

[2021-04-21 10:02] Conchylicultor commented on #3175
Closing this as this seems unrelated to TFDS. Try to post in tensorflow/tensorflow/

[2021-04-21 10:02] #3175 closed

[2021-04-22 20:01] lxkain opened #3177 "tfds load string contains split name"
Is there a fundamental reason the tfds.load string can't also contain the name of the split?

[2021-04-22 20:26] NikhilBartwal commented on #3177
Hey @lxkain, you can indeed provide the name of the split to `tfds.load()` as well like:
`tfds.load('dataset_name', split='split_name')`. You can find more info about the TFDS splits and slicing API [here](https://www.tensorflow.org/datasets/splits#examples).

I hope this answered your query!

[2021-04-22 22:33] lxkain commented on #3177
Thanks a ton for your assistance! Actually, what I'm asking about is whether (and if not why not) the split can be included in the string itself. What I would like to do is:

tfds.load('NAME;SPLIT/CONFIG:VERSION')  # SPLIT and ; notation are fictitious

This would allow specifying the returned ds entirely using a single string -> useful for configuration files etc

[2021-04-22 22:34] lxkain commented on #3177
Our current workaround is to specify datasets with a 2-tuple, like [('NAME/CONFIG:VERSION'), ('SPLIT')]

[2021-04-24 14:10] Ashvith commented on #1482
Is there an easier way to install the celeb_a dataset? I am trying the "download" manually method, but it is not helping at all.

[2021-04-24 17:53] Ashvith commented on #2321
I think that this problem does not get fixed in Colab. I've tried in my laptop, and it works fine. But on Colab, nah, it just won't.

[2021-04-28 14:03] Conchylicultor commented on #3177
Having the split in the name would feel inconsistent with the builder API:

[code]

Additionally, it wouldn't work very well when requesting multiple splits or using split objects or like:

[code]

It seems most researcher want to hardcode the split they use in their code to avoid accidentally training on the eval set or similar issue.

More generally it seems it would duplicate the API while it's

[2021-04-29 01:36] parasol4791 commented on #2539
I am actually seeing the same issue on Ubuntu 20.04 with the same dataset 'cats_vs_dogs'. Fine-tuning EfficientNet B4, getting similar errors. A separate investigation showed 'corrupted' file names change on every run.
Epoch 1/20
75/234 [========>.....................] - ETA: 43s - loss: 0.3529 - accuracy: 0.9261Corrupt JPEG data: 99 extraneous bytes before marker 0xd9
119/234 [==============>....

[2021-04-29 16:19] lxkain commented on #3177
1. Inconsistency with the API - noted.
2. I overlooked the fact that splits can be objects, that would indeed not work well.
3. hardcoding splits seems like a good idea, but also removes some flexibility. For example, it's possible one might want to run some evaluation on training data, to see the training error. Still considering this one.

The benefits of name/split unification would be (at leas

[2021-04-29 18:32] aliisakroe opened #3189 "Uploading a custom dataset"
I am trying to convert a huggingface dataset saved to disk to a tensorflow tfds dataset so I can retrain pegasus model.

From HF I have a set of files dir/*/ (dataset.arrow, dataset_info.json, state.json) for (train, validation, test) directories. I am trying to follow uploading a dataset to tfds https://www.tensorflow.org/datasets/add_dataset, but cannot  generate_examples.

It would be nice if t

[2021-04-30 08:44] jeongukjae opened #3191 "Add `__all__` attribute to generated dataset files"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

When creating a new dataset via `tfds new` cli, `__init__.py` has the linting error. (`W0611 (unused-import)` for pylint, `F401 (imported but unused)` for flake8)

**Describe the solution you'd like**
A clear and concise description of wha

[2021-04-30 09:56] Conchylicultor commented on #3189
If the dataset is one of the official huggingface dataset, could you try:

[code]

using `tfds-nightly` ? It might just generate the hugging face dataset for you

[2021-04-30 11:04] aliisakroe commented on #3189
Thank you for your response! Sorry I was not more specific. This is a modified huggingface dataset, saved to disk and hosted on my local machine or kaggle only.

I have been able to extract the files, but not yield examples for this data format. I am looking at PRs of dataset submissions for further guidance.

[2021-04-30 12:41] Conchylicultor commented on #3191
Or alternativelly:

[code]

But first make sure you're using a recent version of pylint. I'm pretty sure unused imports inside __init__ files are valid. So this is a pylint bug in the old versions

[2021-04-30 14:35] jeongukjae commented on #3191
@Conchylicultor Oh, I checked and tested the functionality of the `__all__` attribute, and I think I misunderstood it. I will close this issue. Thank you :)

[2021-04-30 14:35] #3191 closed

[2021-05-02 03:58] calvuser opened #3195 "TFDS link broken for Cars196"
I am trying to download Cars196 using tflite_model_maker

Code line:
train_data, validation_data, test_data = ImageClassifierDataLoader.from_tfds('cars196')

Error:
DownloadError: Failed to get url https://imagenet.stanford.edu/internal/car196/cars_test.tgz. HTTP code: 404.

It was working previously. Any ways to resolve broken link?

[2021-05-02 13:05] umairbinmansoor commented on #414
Dear, I have downloaded the cheXpert dataset to my Google drive. How can I access it using                     ds = tfds.load('cheXpert', data_dir='****************').
I can see this chexpert dataset already present in the list tfds.list_builders()
????

[2021-05-02 19:00] NikhilBartwal commented on #3195
Hey @calvuser, thank you for pointing this out!

The training and test data seems to have been shifted to another URL. I will be sending a fix soon, which you can then use after it gets merged.

[2021-05-02 22:16] daskol opened #3198 "Failed to Download One Billion Word Dataset"
Failed to fetch dataset.
[code]
It seems like the dataset file is unavailiable.
[code]

[2021-05-04 18:36] NikhilBartwal commented on #3198
Hey @daskol, have you tried it again recently as the dataset seems to be successfully downloaded and generated on the latest version of TFDS and `tfds-nightly` both. It might be that the url was temporarily down.
Please let us know if the problem persists. Thanks!

[2021-05-04 19:58] pierrot0 opened #3202 "Automatically rotate images based on image metadata"
**Is your feature request related to a problem? Please describe.**
It seems some datasets may have a few images which aren't oriented the right way, while the metadata of underlying image file gives the orientation.

eg: open_images_v4, 0000587b9647679e.jpg

**Describe the solution you'd like**
Image should automatically be rotated by TFDS at preparation time.
Bounding box if any should also be ro

[2021-05-04 20:48] VikramAchuthan opened #3203 "[data request] <cars196>"
* Name of dataset: <cars196>
* URL of dataset: <https://ai.stanford.edu/~jkrause/cars/car_dataset.html>
* License of dataset: <http://image-net.org/download-faq>

This dataset is already a part of the collection, but I am getting a 404 error when I run this code, saying that the program is unable to get the dataset url :
* ds_train_all,ds_info = tfds.load('cars196', split='train', shuffle_files=Tr

[2021-05-05 17:26] NikhilBartwal commented on #3203
Hey @VikramAchuthan. This was also mentioned in #3195 and solved with PR #3197. You can use the updated `tfds-nightly` once the PR is merged. Thanks!

[2021-05-05 19:04] daskol commented on #3198
@NikhilBartwal URL is available now. It was inaccessible for long enough time in order to report the issue. By the way, I wonder why `tensorflow-datasets` does not cache datasets in a cloud storage like GCS.

[2021-05-06 05:46] calvuser commented on #3195
Thanks Nikhil. When will it be fix?

[2021-05-06 10:00] Conchylicultor commented on #3198
We would love mirror datasets to avoid depending on third_party website. Unfortunately we are not allowed to redistribute most datasets due to legal issues :'(

[2021-05-06 11:51] daskol commented on #3198
@Conchylicultor Oh, I see. This is disappointing.

Should I report issues related to unavailability of a third-party dataset next time?

[2021-05-06 12:57] NikhilBartwal commented on #3198
@daskol Yes, it would be great if you could. Many times the official dataset is shifted to a different URL or the dataset structure changed. In these cases we can update the dataset generation script accordingly.

[2021-05-06 12:59] NikhilBartwal commented on #3195
Hey @calvuser, although I've sent the PR for the fix, but it still needs to be merged.
When it is merged, you can then use the latest `tfds-nightly` in your project to use the dataset.

[2021-05-06 14:01] Conchylicultor opened #3207 "Support optional tensors"
TF recently added optional support: https://www.tensorflow.org/api_docs/python/tf/experimental/Optional
It seems to be working inside tf.data:

[code]

We should update our feature connectors to accept None to return optionals. Maybe something like

[code]
Which would returns:
[code]

[2021-05-06 14:28] NikhilBartwal commented on #3207
@Conchylicultor I would like to take this up. This does look like a nice feature to have.

Regarding the tf.train.Example, since it only defines int, float or bytes as compatible data types but still, string, bool, double, enum etc can be converted to them, in a similar fashion Optional can be used as well (maybe we can port None to int 0 or bool False?).

I think i would need to dig a little more

[2021-05-06 15:27] daskol commented on #3198
Thanks!

[2021-05-06 15:27] #3198 closed

[2021-05-07 01:28] calvuser commented on #3195
@NikhilBartwal Oh I got it. Thank you!

[2021-05-07 19:16] thisiscam opened #3210 "Cannot import ` tensorflow_datasets.folder_dataset`"
/!\ IF YOU WANT PEOPLE TO HELP YOU, PLEASE GIVE AS MUCH DETAIL AS POSSIBLE, INCLUDING THE FULL STACKTRACE AND CODE SNIPPET

**Short description**
I get:
[code]
when I try to import `tensorflow_datasets.folder_dataset`.

**Environment information**
* Operating System: macOS
* Python version: 2.8.8
* `tensorflow-datasets`/`tfds-nightly` version: 4.3.0
* `tensorflow`/`tf-nightly` version: 2.4.1

* Do

[2021-05-09 01:10] Pavan0798 commented on #1403
can anyone please let me know.  info.splits['train[50%:]'].**num_examples****** what is num_examples here

[2021-05-10 11:12] Conchylicultor commented on #3210
Does the following works ?
[code]
There is no tensorflow_datasets/folder_dataset/ module. It's get added in the `__init__.py`.
More generally our API is intended to by used through
[code]
Direct imports are discouraged.

[2021-05-10 17:07] thisiscam commented on #3210
[code]
That works for me. Thanks!

[2021-05-10 17:07] #3210 closed

[2021-05-11 01:35] Jacketlove opened #3215 "I have pip install tensorflow-io==0.12, but ModuleNotFoundError: No module named 'tensorflow.io'"
import tensorflow_datasets as tfds

Error Infomation:
---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-3-46a8a2031c9c> in <module>
----> 1 import tensorflow_datasets as tfds

~\anaconda3\lib\site-packages\tensorflow_datasets\__init__.py in <module>
     51 from tensorflow_datasets

[2021-05-11 14:22] #3215 closed

[2021-05-11 17:07] Reozil opened #3218 "citrus_leaves, dataset not working"
(train_ds, val_ds, test_ds), metadata = tfds.load(
    'citrus_leaves',
    split=['train[:80%]', 'train[80%:90%]', 'train[90%:]'],
    with_info=True,
    as_supervised=True
)
NonMatchingChecksumError: Artifact https://data.mendeley.com/datasets/3f83gxmv57/2/files/53398b67-6f0e-4a67-8384-e2b574b2ebf4/Citrus.zip, downloaded to /root/tensorflow_datasets/downloads/data.mend.com_data_3f83_2_file_5339

[2021-05-11 18:35] NikhilBartwal commented on #3218
Hey @Reozil, the `citrus_leaves` dataset URL was changed some months back and this bug was fixed in the latest tensorflow-datasets release i.e v4.3.0.
You can update it using `pip install tensorflow-datasets --upgrade`. This should generate the dataset successfully.
Please let us know if the issue still persists. Thanks!

[2021-05-13 05:06] Tejas-Beedkar opened #3219 "cars196 link broken - needs updating"
**Short description**
The path of the cars196 database has changed. In the file:

[](https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/image_classification/cars196.py)

Line 22: ` _URL = 'http://imagenet.stanford.edu/internal/car196/`

should be updated to
Line22: `_URL = 'http://ai.stanford.edu/~jkrause/car196/'`

**Reproduction instructions**
Env - Google Colab Pro
[code]

L

[2021-05-13 05:12] NikhilBartwal commented on #3219
Hey @Tejas-Beedkar, this issue was recently detected and PR #3197 has been made to address this.
You can use the dataset in the updated `tfds-nightly` once the PR gets merged.

@Conchylicultor There has been multiple issues for the `cars196` dataset. Would be great if you could have a look at the PR. Thanks!

[2021-05-13 05:40] Tejas-Beedkar commented on #3219
Thanks Nikhil. I gave a approval for the review in PR #3197 assuming the system will filter me out if I am not supposed to.
I verified that the currently nightly build is not updated:
[code]
I will try again tomorrow. Thanks for your help!

[2021-05-13 11:05] jfb54 commented on #2889
I have the same problem on ubuntu 18.04:

CRITICAL:absl:Image /t/track/outdoor/sun_aophkoiosslinihb.jpg could not be decoded by Tensorflow
Traceback (most recent call last):
  File "run_meta_learn.py", line 407, in <module>
    main()
  File "run_meta_learn.py", line 18, in main
    learner.run()
  File "run_meta_learn.py", line 190, in run
    self._test_transfer_learning(self.args.test_model_pat

[2021-05-13 13:32] Moronixo opened #3220 "TensorFlow - Having Trouble with Datasets"
**What I need help with / What I was wondering**
I've been trying to load an image dataset I have stored locally for my TensorFlow project and I'm just not sure how to go around it, I've used https://www.tensorflow.org/datasets/add_dataset to help try to solve my issue but I'm a little confused on the details here.

I'm running it on Python 3.8 in PyCharm, with Tensorflow 2.3.0.

Any help would be

[2021-05-13 16:47] Moronixo commented on #3220
The Dataset I'm trying to load is from here: https://www.kaggle.com/shyambhu/hands-and-palm-images-dataset

[2021-05-13 18:10] NikhilBartwal commented on #3220
Hey @Moronixo, glad to know about you using TFDS!
We would be able to help you if you could clarify which part you are having trouble with. It would be even better if you could share the code that you are having problem with. Thanks !

[2021-05-13 18:32] Moronixo commented on #3220
@NikhilBartwal Sorry for not clarifying it and thank you for helping me. I have this at the moment, which as far as I'm aware should download the dataset into .keras/datasets. But when I run the script, it comes back with a .tar file that's only 7kb big.

`dataset_url="https://www.kaggle.com/shyambhu/hands-and-palm-images-dataset/download"
data_dir = tf.keras.utils.get_file(origin=dataset_url,

[2021-05-14 16:50] Aspie96 commented on #299
It is really bad this happens.

[2021-05-14 18:39] NikhilBartwal commented on #3220
Hey @Moronixo, the method that you are using is correct, however, it is not able to download the actual data as it is a Kaggle URl (Kaggle requires a person to signin first before downloading the data). That's why, the mehod is not working properly.

For accessing kaggle data, you can use `tfds.download.DownloadManager().download_kaggle_data()` as shown [here](https://www.tensorflow.org/datasets/a