[2019-09-23 03:55] MOdusa opened #1019 "using load() ,Extraction step interrupt"
**i try to download the bigearthnet datasets by load().**
[code]

**What I've tried so far**
**then i set a beam-runner,**
[code]
**another problem happened,**
![image](https://user-images.githubusercontent.com/31296628/65401002-fc3c9480-ddf7-11e9-80e6-ecf7f81f4915.png)
**after Dl size and Dl Completed steps ,Extraction step interrupt without any error report,**
**in the download folder,only has o

[2019-09-23 13:17] #1019 closed

[2019-09-23 13:17] #1007 closed

[2019-09-23 19:05] MyWhiteCastle opened #1020 "[data request] <dataset name>"
* Name of dataset: StructSeg
* URL of dataset: https://structseg2019.grand-challenge.org/Home/
* License of dataset: Unknown
* Short description of dataset and use case(s):
The dataset contains two types of cancers, nasopharyngeal cancer and lung cancer, with OAR and GTV annotations. The usage is to set up tasks for evaluating automatic algorithms on segmentation of organs-at-risk (OAR) and gross

[2019-09-23 19:35] Ouwen commented on #853
https://github.com/tensorflow/datasets/pull/1006

[2019-09-24 22:52] #981 closed

[2019-09-25 10:55] dhirensr commented on #831
working on it! will send a PR in a week

[2019-09-26 08:36] Suhasnama commented on #658
Hello @cyfra , @pierrot0 , @us , I would like to work up on this issue , could you please help me with this!!
Thank you!

[2019-09-26 09:20] pierrot0 commented on #658
Hi Suhasnama,

Thanks for voluntering.
You basically want to change `path = dl_manager.download_and_extract(_URL)` into `path = dl_manager.download(_URL)`, then in generate_examples, read from archive directly (`dl_manager.iter_archive(path)`).
You have an example in other datasets, for example, cats_vs_dogs: `for fname, fobj in archive:...`

[2019-09-27 01:24] WeyShi commented on #127
same with tf 1.13.1 python3.7

[2019-09-27 02:24] SoyeongChoi opened #1035 "[data request] planesnet"
* Name of dataset: planesnet
* URL of dataset: https://www.kaggle.com/rhammell/planesnet
* License of dataset: CC BY-SA 4.0
* Short description of dataset and use case(s): The aim of this dataset is to help address the difficult task of detecting the location of airplanes in satellite images

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers

[2019-09-27 02:35] #1035 closed

[2019-09-27 20:49] SMercier88 opened #1036 "[data request] Google conceptual captions"
* Name of dataset: Google conceptual captions
* URL of dataset: https://ai.google.com/research/ConceptualCaptions/download
* License of dataset: unknown
* Short description of dataset and use case(s): Large dataset of images and captions - useful for training image captioning algorithms.

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can

[2019-09-28 18:10] Suhasnama commented on #658
Thank yoy @pierrot0  for the help!!
Sry for the late reply.
Started working on it!!

[2019-09-28 20:42] Suhasnama commented on #658
Hello @pierrot0 ,
I had changed `_split_generators()` to use `iterate_archive()` instead of
`download_and_extract(_URL)` in [tf_flowers](https://github.com/Suhasnama/datasets/blob/master/tensorflow_datasets/image/flowers.py) as you mentioned.

And also changed `_generate_examples` as following , given directory structure as :
[code]
[code]
But when I ran tests , I had encountered with
[code]
Help

[2019-09-30 15:43] Conchylicultor commented on #658
@Suhasnama, just for confirmation, you still need to download the archive, right. But instead of `download_and_extract`, you have to use `download`. Have look at the examples pierrot pointed you to.

[2019-09-30 15:54] Suhasnama commented on #658
@Conchylicultor , I am downloading the archive,
 here is the complete `_split_generators()`
[code]
and here is `_generate_examples()`
[code]
and here is the directory sturcture inside archive
[code]
Thank you!!

[2019-09-30 20:43] Conchylicultor commented on #658
It seems it wasn't able to correctly detect the file extension. Could you print what is the `path` provided to dl_manager.iter_archive ?

[2019-10-01 06:21] DeveloperRachit opened #1042 "open_images_v5"
how could i load this data set and  how to use it to detect object. train also

[2019-10-01 13:03] ShambhaviCodes commented on #936
I want to work on this issue. Can you please guide how to go ahead with it?

[2019-10-01 13:23] ShambhaviCodes commented on #268
I want to fix this bug if it isn't fixed yet.

[2019-10-01 14:06] dhirensr commented on #552
@Conchylicultor : I am working on this! how do I test this after adding this feature?

[2019-10-01 15:46] Conchylicultor commented on #936
@ShambhaviCodes Thanks for looking into this.

manual dir is accessed through: https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/download/download_manager.py#L372
After download_and_prepare, the dataset builder should looks if this field has been called, indicating that the dataset is using manual data: https://github.com/tensorflow/datasets/blob/master/tensorflow_dataset

[2019-10-01 15:50] Conchylicultor commented on #268
With tf.Text https://medium.com/tensorflow/introducing-tf-text-438c8552bd5e and in-graph tokenizer, our long term plan is to deprecate our tokenizer to replace them by the TensorFlow ones.
So we have deprioritized this, and we encourage to try https://github.com/tensorflow/text instead.

[2019-10-01 15:54] Conchylicultor commented on #552
@dhirensr  Thank you for looking into this. For testing, ddd your test in https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/registered_test.py
Create a dataset with this SKIP_REGISTER property and check in a test that this dataset hasn't been added into the register _DATASET_REGISTRY.

[2019-10-01 15:57] mariodoebler opened #1043 "diabetic_retinopathy_detection (configuration: btgraham-300) uses tf.logging instead of logging from absl"
**Short description**
The configuration btgraham-300 of the dataset diabetic_retinopathy_detection uses tf.logging (does not exist in TensorFlow 2.0) instead of logging from absl.

**Environment information**
* Operating System: Ubuntu 18.04
* Python version: 3.6.8
* `tensorflow-datasets`/`tfds-nightly` version: tensorflow-datasets 1.2.0
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu

[2019-10-01 15:59] Conchylicultor commented on #1042
Our catalog of dataset is available at https://www.tensorflow.org/datasets/catalog/overview

https://www.tensorflow.org/datasets/catalog/open_images_v4
Only Open image V4 is currently present, not V5.

[2019-10-01 16:35] mariodoebler commented on #1043
Created pull request https://github.com/tensorflow/datasets/pull/1044

[2019-10-01 17:09] Conchylicultor commented on #1043
Thanks for fixing this. Merging now

[2019-10-01 21:21] dhirensr commented on #552
@Conchylicultor : thank you for your reply.
I had 2 doubts : should I directly create a new instance of class tfds.core.GeneratorBasedBuilder or EmptyDatasetBuilder is doing that? and after the instance how do I call registered.RegisteredDataset class object?
I think the test does not create an instance of registered.RegisteredDataset class .

[2019-10-01 23:52] #1043 closed

[2019-10-01 23:59] Conchylicultor commented on #552
Just creates another `class SkipRegistering(EmptyDatasetBuilder):`. The registration is done automatically when the class is declared (using Python `__metaclass__`).

Once declared, you can the class are accessible through `load`, like in `registered.load('empty_dataset_builder')`: https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/registered_test.py#L116

[2019-10-02 12:30] ShambhaviCodes commented on #936
I have downloaded/cloned the .zip file.
Extracted it and trying to run it on a virtual environment.
I am facing errors in doing so. I have checked the requirements etc. Can you please guide for the same, if I am facing any version difference or is it something else?
![Issue](https://user-images.githubusercontent.com/42893001/66043536-07e93300-e53d-11e9-93f3-146d2ff3930e.JPG)

[2019-10-02 14:27] ShambhaviCodes commented on #936
I was trying to re-create this issue. I have successfully managed to clone, extract and run the code to reproduce the (mnist) dataset. Can you suggest a dataset that requires manual downloading of files?

[2019-10-02 16:05] Conchylicultor commented on #936
You can find which datasets are using manual_dir by searching on the code: https://github.com/tensorflow/datasets/search?p=2&q=dl_manager.manual_dir&unscoped_q=dl_manager.manual_dir

For instance: `abstract_reasoning`, `chexpert`, `xsum`,...

[2019-10-02 18:03] Suhasnama commented on #658
I have tried seeing `path` in `cats_vs_dogs_test.py` it points to a zip file
[code]
here(i.e, in `cats_vs_dogs.py`) it was a zip file even in tests, but in `flowers_test.py` it is not a archive in tests, but when downloading from URL
[code]
a archive is returned.

[2019-10-02 20:19] Conchylicultor commented on #354
According to https://github.com/abseil/abseil-py/issues/99#issuecomment-525390675, absl.logging no longer registers itself at import time.
Closing this as it should be fixed.

[2019-10-02 20:19] #354 closed

[2019-10-02 20:25] dhirensr commented on #552
@Conchylicultor : I have tried to fix according to what you said but the test is failing! can you guide me by reviewing the PR https://github.com/tensorflow/datasets/pull/1049 so that I can fix it completely.
Thanks a lot.

[2019-10-02 21:07] Conchylicultor commented on #553
Closing this as there hasn't been updates in 3 months

[2019-10-02 21:07] #553 closed

[2019-10-03 03:46] DeveloperRachit commented on #1042
i mean how to  implement at the time of object detection.

[2019-10-03 14:44] phiwei commented on #233
Hi jackd,
could you elaborate on this? What exactly needs to be done to look at a numpy array to confirm everything works as expected? Thanks!

[2019-10-03 15:11] sararob opened #1051 "Loading diabetic_retinopathy_detection dataset throws error"
**Short description**
When I try to run:

[code]
I get the following error:

`AssertionError: Manual directory /root/tensorflow_datasets/downloads/manual/diabetic_retinopathy_detection does not exist. Create it and download/extract dataset artifacts in there.`

Just to confirm this wasn't an environment or versioning issue I tried changing the dataset I was loading to `mnist` and it worked.

**Env

[2019-10-03 20:49] Conchylicultor commented on #233
@phiwei I would suggest you to read the TF1 tf.data guide if you want to use Graph mode: https://github.com/tensorflow/docs/blob/master/site/en/r1/guide/datasets.md

[code]

[2019-10-03 20:52] Conchylicultor commented on #1051
As the error message says, `diabetic_retinopathy_detection` do not supports automatic download, so you should manually download the file and put in in the requested location instead.

[2019-10-04 00:31] sararob commented on #1051
Is it possible to make the error message and / or docs clearer to explicitly say you need to download the data into a directory with that name? In the current error message it isn't clear that this specific dataset doesn't support automatic download.

On [this page](https://www.tensorflow.org/datasets/api_docs/python/tfds/load) it might be helpful to add something along the lines of "datasets that

[2019-10-04 12:59] giulbia opened #1053 "Install fails MACOS virtualenv python3"
Hi,

I am trying to build a virtualenv with tensorflow-datasets, it fails on `psutil`: `Building wheels for collected packages: psutil  Building wheel for psutil (setup.py) ... error`

**Environment information**
* Operating System: macOS 10.14.6
* Python version: 3.7 & 3.6
* `tensorflow-datasets`/`tfds-nightly` version: tensorflow-datasets 1.2.0
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-ni

[2019-10-04 17:16] us commented on #1053
Hello @giulbia, thanks for reporting.
Please send all error message. You can use gist.

[2019-10-04 20:59] Suhasnama commented on #658
@Conchylicultor  , @pierrot0  , I had submitted a PR #1055 , please suggest me changes if any.
Thank you!!

[2019-10-05 00:59] Conchylicultor commented on #1051
Yes, we should make a better job to document this. There is https://github.com/tensorflow/datasets/issues/936 for better surfacing this info on the doc

[2019-10-05 17:52] Suhasnama commented on #991
@remydubois , @Conchylicultor , I would like to work on this issue. Could you please help me get started with this issue.
Thank you!!

[2019-10-07 18:39] Conchylicultor commented on #991
I agree the current names could be made more user friendly, but we rely on the hashing mechanism to guarantee that datasets are reproducible and check the integrity of the files.
This would require some though from our side to satisfy both requirements.
@pierrot0, do you have some though on this ?

[2019-10-07 22:18] netw0rkf10w opened #1060 "Update dataset after updating code"
Hello,

I downloaded the `coco/2017_panoptic` dataset using `dataset, info = tfds.load('coco/2017_panoptic', with_info=True)`. It took a very long time to download, extract, and convert to TFRecords. Then I realized that the current stable version (1.2.0) has a bug that does not provide the panoptic object IDs as listed in the catalogue:

[code]

(In `'panoptic_objects'`, there is no `'id'`). I wa

[2019-10-08 09:01] ericmclachlan opened #1063 "Has ReadInstruction been removed?"
**Short description**
I want to split the test portion of a TensorFlow dataset in half so I can use half as test data and half as validation data. I was trying to follow the examples in [here](https://www.tensorflow.org/datasets/splits) and it seems that ReadInstruction is no longer in tensorflow_datasets.

**Environment information**
* Operating System: Windows
* Python version: 3.7.4
* tensorflo

[2019-10-08 13:05] ShambhaviCodes commented on #936
Hello!
This is my first PR and first contribution to OpenSource.
I am much excited but scared at the same time.

Can you please approve if I am going correct or not.

def download_and_prepare(self, download_dir=None, download_config=None):

   download_and_prepare.has_been_called = True
     pass
  download_and_prepare.has_been_called = False

  download_and_prepare()
  if not download_and_prepare

[2019-10-08 17:56] Conchylicultor commented on #1063
Thanks for reporting. Indeed we forgot to exposed the object on the public API.
I think you should try to use the string version instead: `train_ds, test_ds = tfds.load('mnist:3.*.*', split=['train[50%:]', 'test[:50%]'])`

[2019-10-08 17:58] ericmclachlan commented on #1063
Ah. Thanks for the confirmation.

[code]
I tried that and an error was reported saying that only "train", "test", and some other category I can't remember off the top of my head were available.

In other words, I believe that the string version is also... not available on the public API.

[2019-10-08 18:28] Conchylicultor commented on #1063
It means that you're probably using a legacy dataset. Have you tried the legacy API ? https://www.tensorflow.org/datasets/splits#legacy_slicing_api

[2019-10-08 21:02] netw0rkf10w commented on #1060
Apparently there's no simpler solution than the above.

[2019-10-08 21:02] #1060 closed

[2019-10-09 07:15] ericmclachlan commented on #1063
Ah yes. I see that the [documentation](https://www.tensorflow.org/tutorials/text/text_classification_rnn) is using a data source (`imdb_reviews/subwords8k`) that is flagged for "retirement" and does not support the S3 slicing API.

For anyone else stumbling on this threat, you can test this by running,
[code]
which outputs `False`.

Thanks.

[2019-10-09 08:25] pierrot0 commented on #991
One possible way would be to use symlinks.
Symlinks aren't supported on all file systems, so the canonical dir name could stay the same, and if symlink is possible, symlink from ${dataset_name}_%{fname} to downloaded file.
This way, if two datasets use the same file, file is accessible through both names.

Would that work for you Remy?

[2019-10-09 09:04] diego1109 commented on #43
Tensor flow_dataset

数据集默认存放路径：`~/tensorflow_datasets`
数据集存放路径修改方式：以**MNIST**为例，代码如下：

[code]

[2019-10-10 05:13] DeveloperRachit commented on #1042
op._set_device_from_string(device_string)
AttributeError: '_TfDeviceCaptureOp' object has no attribute '_set_device_from_string'
this error i am getting now after maintaining data files structure

[2019-10-10 10:39] remydubois commented on #991
Thank you for your answers.

Agreed, that would be a good way around to expose more human friendly raw datasets.

I do not know how this could be done while altering as less as possible the current API.
Perhaps the ´tfds.download.Resource´  object could accept a ´symlink´ argument (?).

Explanations: my current workflow is such that I build a table summarizing my dataset with a bunch of metadata a

[2019-10-10 14:54] npuichigo commented on #561
@NumesSanguis Hi. What if I have to use dict based datasets with keras model's fit function? For example, I have several inputs and several outputs, so I prepare the dataset as what tf.estimator used (feature dict and label dict).
[code]

[2019-10-10 21:44] netw0rkf10w opened #1073 "[data request] LVIS"
* Name of dataset: LVIS
* URL of dataset: https://www.lvisdataset.org
* License of dataset:  Creative Commons Attribution 4.0 License
* Short description of dataset and use case(s): A new dataset for Large Vocabulary Instance Segmentation. There will be ∼2 million high-quality instance segmentation masks for over 1000 entry-level object categories in 164k images.

Folks who would also like to see

[2019-10-11 02:16] NumesSanguis commented on #561
@npuichigo I think you mentioned the wrong person. I was also just trying to get it to work. In this chat, @Conchylicultor is one of the maintainers of this repository and therefore more knowledgeable.

And what is actually your question? You want to know if, and how, a dict can be turned into a `DatasetBuilder`?

[2019-10-11 21:35] hollowgalaxy opened #1075 "imagenet2012 url not found"
**Short description**
Description of the bug.
gives url not found when attempting to download it.

**Environment information**
* Operating System: Linux 16.04
* Python version: 3.6
* `tensorflow-datasets`/`tfds-nightly` version:  tensorflow_datasets 1.1.0
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: tensorflow 1.14

**Reproduction instructions**
[code]

**Link to logs**
[

[2019-10-12 17:19] nikste opened #1077 "Resume dataset download if failed"
**Is your feature request related to a problem? Please describe.**
It's frustrating if trying to download a large dataset (e.g. imagenet, coco etc.) and for some reason the download fails. Apparently it does not continue where interrupted (or am I doing something wrong here?)

**Describe the solution you'd like**
Automatic resume of download if files already exist in the download folder

**Describ

[2019-10-14 19:57] feapri opened #1079 "Splits and slicing documentation errors"
**Short description** Please use keyword arguments and not positional arguments
Description of the bug.
following the documentation on this link https://github.com/tensorflow/datasets/blob/master/docs/splits.md
running this example generates the error below the code

[code]

**`ValueError: Please use keyword arguments and not positional arguments. This enables more flexible API development. Thank

[2019-10-14 20:08] feapri opened #1080 "AttributeError: module 'tensorflow_datasets' has no attribute 'ReadInstruction'"
**Short description**
Description of the bug.
AttributeError: module 'tensorflow_datasets' has no attribute 'ReadInstruction'
when running the sample from https://github.com/tensorflow/datasets/blob/master/docs/splits.md:
"#or using the `ReadInstruction`:"
vals_ds = tfds.load('fashion_mnist:3.*.*', [
    tfds.ReadInstruction('train', from_=k, to=k+10, unit='%')
    for k in range(0, 100, 10)])

**

[2019-10-14 23:40] Conchylicultor commented on #1080
Thanks for reporting. Sorry about that. I though I had updated this. Sending a fix now (https://github.com/tensorflow/datasets/pull/1064).

Marking this as duplicate of: https://github.com/tensorflow/datasets/issues/1063

[2019-10-14 23:40] #1080 closed

[2019-10-15 15:28] Conchylicultor commented on #1079
Sorry about that, you should explicitly pass split kwargs to tfds.load:

[code]

[2019-10-16 20:45] Conchylicultor commented on #1063
Should be fixed with https://github.com/tensorflow/datasets/pull/1064
`tfds.core.ReadInstruction` is now exposed.

[2019-10-16 20:45] #1063 closed

[2019-10-16 20:45] Conchylicultor commented on #1079
Should be fixed with https://github.com/tensorflow/datasets/pull/1064

[2019-10-16 20:45] #1079 closed

[2019-10-18 09:08] us commented on #1077
I started to work on it. Please check this #921. I will continue as soon as possible. If you want to help you can.

[2019-10-18 12:16] 0x0badc0de opened #1093 "No-op `decode_example` affects iteration speed"
**Short description**
Eventhough `decode_example` used for most features is no-op in sence it just returns its argument (see https://github.com/tensorflow/datasets/blob/v1.2.0/tensorflow_datasets/core/features/feature.py#L285-L301) it affects dataset iteration speed especially when dataset has sequence features. We use TFDS to make private datasets but the issue can be reproduced w/ public one as

[2019-10-18 13:52] cyfra commented on #1075
Is there any announcement on their page, that the links will no longer be valid?

We could change to the manual_dir, but we'd still need to provide information to people on where to download the files from.

[2019-10-18 13:54] cyfra commented on #1042
Hey @DeveloperRachit

The dataset request for V5 is in #906  - but it is not ready yet.

I didn't understand your most recent question about the device_from_string - this code doesn't seem to come from tensorflow_datasets library.

[2019-10-18 15:10] giulbia commented on #1053
Looks like it!

`Successfully installed tfds-nightly-1.2.0.dev201910180106`

Thx

[2019-10-18 15:10] #1053 closed

[2019-10-18 20:50] Conchylicultor commented on #552
Thank you all for your contributions. After discussion internally, we decided to allow register overwriting automatically when running in a colab environment.

So this should be completely transparent for the user. The same class declaration can be run twice when running on Jupyter Notebook, and will overwrite the previous dataset.

So this should solve this issue if you're running after https://g

[2019-10-18 22:12] szeng7 opened #1098 "Wikipedia Dataset HTTP 404"
**Short description**
When using the standard DatasetBuilder apache beam "download_and_prepare" command provided here (https://www.tensorflow.org/datasets/beam_datasets), I get a HTTP 404 error.

**Environment information**
* Operating System: MacOS
* Python version: 3.6.8
* `tensorflow-datasets`/`tfds-nightly` version: 1.0.2
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: 1

[2019-10-19 00:34] Nodice opened #1100 "Small Bug on Windows in Oxford_iiit_pet"
Tensorflow 2.0.0
Latest tensorflow_datasets from pip install tensorflow_datasets

Windows Anaconda environment.

Code is from Tensorflow tutorials.

import tensorflow as tf
from future import absolute_import, division, print_function, unicode_literals
from tensorflow_examples.models.pix2pix import pix2pix

import tensorflow_datasets as tfds
tfds.disable_progress_bar()

from IPython.display import

[2019-10-19 01:40] Conchylicultor commented on #1100
Sorry about that, sending a fix now.

[2019-10-19 01:43] Conchylicultor commented on #1098
Thanks for reporting. We are downloading the data from the internet original sources, but we don't control whenever those external websites go down or change their urls. It seems that the current link is broken and should be updated. Don't hesitate to send a PR with the new link if you know a mirror url.

[2019-10-19 07:35] dhirensr commented on #1036
@SMercier88 : the training dataset would contain image links and captions right? as per the website in the dataset file they provide links and image captions.
I can work on this dataset.

[2019-10-19 09:27] dhirensr commented on #989
@shenjikai : working on this! will send a PR soon

[2019-10-21 13:02] zishanahmed08 commented on #214
@f1recracker @mathmanu any updates?

[2019-10-21 13:06] mathmanu commented on #214
Hi @f1recracker, It looks like there is one pending comment on your PR, can you address the comment  https://github.com/tensorflow/datasets/pull/225 and then make sure it is merged?

[2019-10-21 13:09] zishanahmed08 opened #1106 "[data request] Mapillary Traffic Sign Dataset (research)"
* Name of dataset: Mapillary Traffic Sign Dataset (research)
* URL of dataset: https://www.mapillary.com/dataset/trafficsign
* License of dataset: https://www.mapillary.com/dataset/assets/mapillary-object-dataset-research-use-license-2019.pdf
* Short description of dataset and use case(s): Mapillary Traffic Sign Dataset, the world’s most diverse publicly available dataset of traffic sign annotatio

[2019-10-21 13:21] SMercier88 commented on #1036
@dhirensr yes, that is exactly it. Thank you!

[2019-10-21 13:43] nikste commented on #1106
Good suggestion, need it too!

[2019-10-21 18:17] Conchylicultor commented on #1100
Should be fixed with https://github.com/tensorflow/datasets/pull/1101

[2019-10-21 18:17] #1100 closed

[2019-10-21 18:19] Conchylicultor commented on #1093
Thanks for reporting. Sending a PR which should fix those performance issues: https://github.com/tensorflow/datasets/pull/1096

[2019-10-21 18:26] Nodice commented on #1100
Thanks. There were a few others in the main Tensorflow board having the same issue that no one addressed here. Good to get it resolved.

[2019-10-21 18:36] leimao commented on #1075
Any solution or fix so far?

[2019-10-21 19:27] 0x0badc0de commented on #1093
Thanks for picking this up. So once #1096 is merged - how exactly can we avoid no-op decoding overhead of sequences? If I got your changes right `tf.map_fn` will still be invoked. Should we override `decode_batch_example` or something like this?

[2019-10-22 01:38] Conchylicultor commented on #1093
If you're using only the official `tfds.features`, no change should be required.
* `tf.map_fn` shouldn't be invoked anymore for all features which inherit from `tfds.features.Tensor` (`Tensor`, `ClassLabel`, `BBoxes`,...).
* `tf.map_fn` will still be invoked for `tfds.features.Image` or other features which requires per-example decoding.
* If you are using your custom FeatureConnector, you may hav

[2019-10-22 01:42] Conchylicultor commented on #1075
We do not have control over http://www.image-net.org. It seems they have removed their data. If someone knows a link to a mirror of the imagenet data, don't hesitate to share.

[2019-10-22 01:45] leimao commented on #1075
How does image-net data download in TensorFlow Datasets? To download dataset from ImageNet website, we need to register and use some kind of tokens. The URL would be available after login. Does TensorFlow Datasets also require tokens?

[2019-10-22 07:10] 0x0badc0de commented on #1093
Great, thanks!

[2019-10-23 00:41] Conchylicultor commented on #1075
Should be fixed with https://github.com/tensorflow/datasets/pull/1121

[2019-10-23 02:24] leimao commented on #1075
This is what I was expecting. But if TensorFlow Datasets API could somehow still automatic this process, with automated login, etc., it will be great.

[2019-10-23 07:54] f1recracker commented on #214
Hey @mathmanu. Sorry for the late response. I just rechecked all comments and I have addressed all of them in the past. Some conversations were still marked as unresolved which have now been closed.

[2019-10-23 08:54] Flamefire opened #1124 "Loading of stanford_dogs fails with ValueError(Trying to overwrite already defined ClassLabel names)"
**Short description**
The call to `tfds.load(name='stanford_dogs',
                               with_info=True,
                               as_supervised=True,
                               shuffle_files=False)`
fails with a ValueError if the dataset does not exists in the tensorflow_datasets folder (case just after installing tensorflow_datasets

**Environment information**
* Operating Syst

[2019-10-23 15:07] Rajan-sust opened #1125 "Wikipedia source data no longer available"
**Short description**
ModuleNotFoundError: No module named 'apache_beam'

**Environment information**
* Operating System: Linux
* Python version: 3.6.8
* `tensorflow-datasets`/`tfds-nightly` version: `tensorflow-datasets 1.3.0`
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: `tensorflow 2.0`

**Reproduction instructions**

[code]

**Errors**

Downloading and preparing datase

[2019-10-23 15:40] Rishan123 commented on #720
I get the following error:

[code]

[2019-10-23 16:24] Rajan-sust commented on #1098
As no one can control whenever those external websites go down or change their URLs, TensorFlow team can add a parameter named `url` in `load` module.  And documentation will contain current `url` string of every dataset. If any change in URL, then only change in documentation and no change in code.

[2019-10-23 16:49] hollowgalaxy commented on #720
@Rishan123, not sure how your code corelates with the reference. But try feeding into tfkeras model directly. Something along the lines,
[code]

Something like this should work.

[2019-10-23 17:02] Conchylicultor commented on #720
@Rishan123, `as_numpy` returns a generator, so you need to iterate over it first.

[code]

[2019-10-23 17:35] Conchylicultor commented on #1125
`apache-beam` is not automatically installed with tfds. So you'll have to manually install it, usually with pip install

[2019-10-23 17:41] Suhasnama commented on #991
Hello @Conchylicultor , @pierrot0  could you please help get started with this issue!!

[2019-10-23 18:59] Conchylicultor commented on #1124
Thanks for reporting. https://github.com/tensorflow/datasets/pull/1126 should fix it.

[2019-10-23 22:48] jvmancuso opened #1129 "v1.3.0 GitHub tag"
**Short description**
There is no GitHub tag for v1.3.0, which makes it hard to browse the source for the current stable version from a browser. I can browse locally, but it seemed strange to have tags for all other recent versions and not this one.

[2019-10-24 03:56] Rajan-sust commented on #1125
But TensorFlow documentation does not tell to install `apache-beam`. So, I added label as bug. If `apache-beam` is tied with `tfds`, it will be great.

[2019-10-24 04:34] Rajan-sust commented on #1125
I saw [1] for downloading Wikipedia dataset but this is not clear to me. Please, can you provide me an example code snippet?

[1] https://www.tensorflow.org/datasets/beam_datasets

[2019-10-24 16:16] Conchylicultor commented on #1129
Sorry about that. Created the release. Thanks for reporting. https://github.com/tensorflow/datasets/releases

[2019-10-24 16:16] #1129 closed

[2019-10-24 16:49] impulsecorp opened #1136 "C4 Dataset Download Problem"
I am trying to download the c4 cleaned dataset on my AWS Linux 16.04 server but am having some problems. The main issue is that I only want the 750GB cleaned version, but it seems to still require 6.96TiB of disk space.  So to deal with that, I set up a new AWS server with a 7.5TB drive, but when I try to do the download it says I don't have the 6.96TiB of space that is needed. Fdisk-i shows "Disk

[2019-10-24 17:21] Conchylicultor commented on #1124
Closing this as it has been merged. It should be available on the next release.

[2019-10-24 17:21] #1124 closed

[2019-10-24 18:04] Conchylicultor commented on #1136
I do not have solution for the space issue.

What is the last error stacktrace ? make sure you have `pip install appache_beam`. From your code, it looks like you haven't imported `import appache_beam as beam`, so it's an undefined variable.
[code]
Documentation: https://www.tensorflow.org/datasets/beam_datasets#run_your_pipeline

Note that you could just use the default download script:
[code]
whi

[2019-10-24 18:07] Conchylicultor commented on #1136
Note that you can customize olders individually (have a look at: https://www.tensorflow.org/datasets/api_docs/python/tfds/download/DownloadConfig#__init__)

So generate the data in a different folder from where you download the data.

[code]

[2019-10-24 18:14] adarob commented on #1136
FYI, I'm working on ensuring this dataset is reproducible outside of Google's internal infrastructure. Once the data is downloaded, the real fun begins, as it requires some very large joins to do the cleaning.

I wrote some initial instructions for use on Cloud Dataflow here: https://www.tensorflow.org/datasets/beam_datasets#run_your_pipeline . However, I am finding that Beam's default shuffling i

[2019-10-24 18:16] impulsecorp commented on #1136
Thanks!  It works now (it is downloading) when I did what you suggested:
1. Add "import apache_beam as beam"
2. Remove the checksums part.

But, I still don't understand about the cleaning part. Aren't I able to download the cleaned version (750GB)?

[2019-10-24 18:18] adarob commented on #1136
Unfortunately Google cannot redistribute the Common Crawl dataset.

Our hope is that someone will reproduce the clean dataset and host it on GCS for others to access, since we cannot.

[2019-10-24 18:19] Conchylicultor commented on #1136
All data has to be downloaded (6TB), but after the data his generated, the final dataset-size should only be 750GB. As adarob said, if someone was hosting the clean data, users could directly download the pre-processed tf-record from there, and skip the entire download/processing phase.

Also just be careful to specify the config you want `c4/en`, `c4/en.noclean`, ... if you're using the `download

[2019-10-24 18:29] impulsecorp commented on #1136
That info is a huge help, but I am still a little confused.  Once I have the 6.96TB of data in my S3 bucket, why do I need to use Beam to clean it? I know Beam makes things faster, but it also seems to make it a lot more complicated.

Is the 6.96TB of data WET files? If so, what would I run to clean it?  The file at https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/text/c4.py

[2019-10-24 19:08] Conchylicultor commented on #1125
`pip install appache_beam`

[2019-10-24 19:11] Conchylicultor commented on #1125
`apache_beam` is a dependency specific to wikipedia which is not installed by default with tfds, so you have to install it by yourself

[2019-10-24 19:13] Conchylicultor commented on #1125
To install wikipedia:
[code]

[2019-10-24 19:26] shun-lin opened #1137 "Is "train+test" still valid as a key for split?"
**Short description**
Description of the bug.

```omniglot_data = tfds.load('omniglot', split="train+test")``` appears to be broken as "train+test" is an invalid split, but based on the documentation on tensorflow.org, https://www.tensorflow.org/datasets/splits, it should be valid.

**Environment information**
* Operating System: glinux
* Python version: 3.7
* `tensorflow-datasets`/`tfds-nightly`

[2019-10-24 19:32] Conchylicultor commented on #1137
Only the last (non-default) version of omniglot support the new split API. To use it: `tfds.load('omniglot/3.0.0')`.
We plan to switch all datasets to the new default at once all datasets have been converted.

[2019-10-24 19:33] shun-lin commented on #1137
@Conchylicultor thank you so much for your quick response! Thank you!

[2019-10-24 19:36] shun-lin commented on #1137
@Conchylicultor when I ran ```tfds.load('omniglot/3.0.0')``` on Colab it gives me the following error

ERROR:absl:Failed to construct dataset omniglot
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-23-efab314d8ed9> in <module>()
----> 1 omniglot_test = tfds.load(name="omniglot/3.

[2019-10-24 19:39] Conchylicultor commented on #1137
`tfds.load('omniglot:3.0.0')`, sorry.

[2019-10-24 21:44] shun-lin commented on #1137
oh got it, thanks @Conchylicultor!

[2019-10-24 22:17] JoshEZiegler commented on #233
I'm facing a similar problem, but can't use the tf.Session() strategy due to using TF 2.0.

In case anyone has this same issue in TF2.0,  I was able to solve the problem by using tf.data.experimental.get_single_element(dataset.take(1)) (see [docs](https://www.tensorflow.org/api_docs/python/tf/data/experimental/get_single_element)). The example code didn't work as written, but I could get it to wor

[2019-10-25 04:14] Rajan-sust commented on #1125
My set-up:

[code]
[code]

The config_name has been taken from [1]. But finally, an error occurred.

**Error:**

Because this URL does not exist anymore.

[1] https://www.tensorflow.org/datasets/catalog/wikipedia

[2019-10-25 13:44] #1136 closed

[2019-10-25 16:25] adarob commented on #1136
@impulsecorp were you able to create the cleaned dataset?

[2019-10-25 16:49] impulsecorp commented on #1136
No, I did not try. I was already in the process of creating my owned cleaned version when I heard about c4, so it is easier for me to just do it the way I was going to do it, and also add some of the methods you use that I had not though of.  Using Beam/Dataflow is far above my programming level.

[2019-10-25 16:51] adarob commented on #1136
Gotcha. The Beam part was especially important in globally deduplicating
repetitive and boilerplate text. Best of luck on your cleaning!

On Fri, Oct 25, 2019 at 9:49 AM Eric Borgos <notifications@github.com>
wrote:

[2019-10-25 19:44] deathstrikex opened #1144 "[data request] UCI Machine Learning Repo"
* Name of dataset: Multiple, from UCI machine learning Repository
* URL of dataset: https://archive.ics.uci.edu/ml/datasets.php
* License of dataset: Unknown
* Short description of dataset and use case(s):

The UCI Machine Learning Repository is a collection of databases, domain theories, and data generators that are used by the machine learning community for the empirical analysis of machine lear

[2019-10-25 22:09] cyfra commented on #1125
That's a very good point @Rajan-sust.

It seems that wikipedia is cleaning their old dump statuses.
(for example if you try to take 20191001 - it does work).

We currently have the date "hardcoded":
https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/text/wikipedia.py#L120

which of course stopped working.

[2019-10-25 22:12] cyfra commented on #1098
Duplicate of #1125

[2019-10-25 22:12] #1098 closed

[2019-10-26 15:24] leonardoaraujosantos opened #1148 "[data request] IAM Handwriting"
* Name of dataset: iam-handwriting-database
* URL of dataset: http://www.fki.inf.unibe.ch/databases/iam-handwriting-database
* License of dataset: CC BY-NC-SA 4.0
* Short description of dataset and use case(s): It's a dataset used to train handwriting recognition systems

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which reque

[2019-10-27 06:03] karthika95 opened #1149 "INRIA person dataset"
* Name of dataset: <name>
* URL of dataset: <url>
* License of dataset: <license type>
* Short description of dataset and use case(s): <description>

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests to prioritize.

And if you'd like to contribute the dataset (thank you!), see our [guide to adding a dataset](https://g

[2019-10-28 08:44] leno86 commented on #1007
I have installed beam and got following prompt for nearly 24 hours without any changes

Downloading and preparing dataset bigearthnet (?? GiB) to /root/tensorflow_datasets/bigearthnet/all/0.0.2...
Dl Completed...:   0%|                                                                                                                          | 0/1 [05:35<?, ? url/s]
Dl Size...:   0%|

[2019-10-28 08:46] leno86 commented on #1007
BTW, Could you share how the problem was solved?

[2019-10-28 17:09] Conchylicultor commented on #1007
It seems you are running within an Anaconda environment, so make sure that apache_beam is installed within this environment.

[2019-10-29 01:41] leno86 commented on #1007
apache_beam has been correctly installed and the dataset has been extracted. But there is another problem with beam.

Downloading and preparing dataset bigearthnet (?? GiB) to /root/tensorflow_datasets/bigearthnet/all/0.0.2...
Dl Completed...:   0%|                                                                                                                          | 0/1 [50:13<?, ? url/s]
Dl S

[2019-10-29 01:55] leno86 commented on #1007
This problem arised when the system memory was nearly full, in my case is about 500G. I guess the load() function will expand all the samples in datasat  into memory, so the system memory will be a bottleneck when using the fucntion.

Is there any solution that can be used to fix this memory run-out-of problem? @Conchylicultor
Thank you.

[2019-10-29 19:07] Conchylicultor commented on #1093
Should be fixed now that the PR is merged. Let me know if you still encounter performances issues.

[2019-10-29 19:07] #1093 closed

[2019-10-29 19:08] Conchylicultor commented on #1137
Closing as this should be working now. We'll try to deprecate the legacy split as soon as possible so it won't be an issue anymore.

[2019-10-29 19:08] #1137 closed

[2019-10-29 19:11] Conchylicultor commented on #1075
I agree this would be better if the data was automatically downloaded which is why we had the previous link.

If someone find a way to automatize the download, don't hesitate to send a PR. Closing the issue in the meantime as the original issue has been resolved.

[2019-10-29 19:11] #1075 closed

[2019-10-29 19:13] Conchylicultor commented on #849
Closing this for now. We might revisit this if we have a usage in tfds. In the meantime, either `ds.map` or returning `dict` should works fine.

[2019-10-29 19:13] #849 closed

[2019-10-29 19:18] Conchylicultor commented on #829
Closing this as `setup.py` should be the only source of truth. For TensorFlow, we explicitly do not link the version to tfds to let the users install the version of their choice (nightly VS official). Maybe we should but this would be another issue.

Having an additional file would duplicate the dependencies and would be harder to maintain.

[2019-10-29 19:18] #829 closed

[2019-10-29 19:20] Conchylicultor commented on #671
Closing this as the issue seems inactive. Please reopen the issue with the complete gist and code snippet used if it's not fixed.

[2019-10-29 19:20] #671 closed

[2019-10-29 19:23] Conchylicultor commented on #728
Close issue as tests are using pytest-xdist now

[2019-10-29 19:23] #728 closed

[2019-10-29 22:10] adarob commented on #1098
FYI, the preprocessed wikipedia dataset is available on GCS for you to copy into your data_dir: gs://tfds-data/datasets/wikipedia

[2019-10-30 16:29] dhirensr commented on #1036
@Conchylicultor : if the data is in .tsv format and it doesn't need to be extracted then should i download it manually? because when I give the link of .tsv it's not downloading properly maybe because it's trying to extract but it should not.
what would be the solution?

[2019-10-31 01:45] Conchylicultor commented on #1036
@dhirensr use `dl_manager.download(url)` instead of `dl_manager.download_and_extract()` ?

[2019-11-01 16:20] dhirensr commented on #1036
@Conchylicultor @SMercier88 : added this dataset! please review https://github.com/tensorflow/datasets/pull/1165

[2019-11-02 14:22] Wursthub commented on #974
Hi, thanks for adding this dataset!
Will you make the other datasets available, as well? I would be interested in 9,12 (Vertebral fracture assessment) and our Prof already applied via the contact form but he hasn't received anything back.

[2019-11-04 17:04] 0x00b1 opened #1170 "imagenet2012 ResourceExhaustedError exception"
**Short description**
A `ResourceExhaustedError` exception is thrown when running:

[code]

**Environment information**
* Operating System: Linux
* Python version: Python 3.7.3
* `tensorflow-datasets`/`tfds-nightly` version: source
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: source

**Reproduction instructions**

[code]

**Link to logs**

[code]

[2019-11-06 13:18] bajw opened #1179 "词法人0"
* Name of dataset: <name>
* URL of dataset: <url>
* License of dataset: <license type>
* Short description of dataset and use case(s): <description>

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests to prioritize.

And if you'd like to contribute the dataset (thank you!), see our [guide to adding a dataset](https://g

[2019-11-06 13:19] bajw opened #1180 "cifar10"
* Name of dataset: <name>
* URL of dataset: <url>
* License of dataset: <license type>
* Short description of dataset and use case(s): <description>

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests to prioritize.

And if you'd like to contribute the dataset (thank you!), see our [guide to adding a dataset](https://g

[2019-11-06 13:19] #1180 closed

[2019-11-06 13:20] #1179 closed

[2019-11-06 17:25] Conchylicultor commented on #1170
Note sure what's going not here. Could you try to generate the version `5.0.0`, which uses the new generation mechanism ?

[code]

[2019-11-08 23:18] ksachdeva opened #1186 "APIs to read/access generated tensorflow datasets with out requiring Builder interface"
**Is your feature request related to a problem? Please describe.**

I wrote some custom Builder classes i.e subclasses of tfds.core.GeneratorBasedBuilder to generate/build my datasets. These classes make use of various CSVs files, images etc.

Now as long as I have access to my custom GeneratorBasedBuilder classes I have no problem as I create the instance of my builder class (do not call download

[2019-11-10 00:48] philqc commented on #1098
When I try to copy the dataset from GCS, I get an access denied error:
"AccessDeniedException: 403 USER does not have storage.objects.list access to tfs-data."

[2019-11-11 10:06] adarob commented on #1098
@philqc are you using `gsutil cp`?

[2019-11-11 15:30] philqc commented on #1098
It works ! Thank you :)

[2019-11-12 00:52] rsepassi commented on #1186
Good idea.

The first thing would probably be to think about the potential benefits and costs of moving to a design like this. Some benefits that come to mind:
* Limits the amount of code necessary at read time.
* May simplify `Features` and `DatasetBuilder`. Cleaner code base.
* Better-specified cross-language support; each language needs to implement only `DatasetReader` and the generation can a

[2019-11-12 01:50] Conchylicultor commented on #1186
There benefit of being able to load any generated dataset without access to the original dataset.

Currently, not all information get saved in `dataset_info.json`. Feature can already save/resore their config through the `save/load_metadata`, but most of them don't do it. We would also need a mapping `str > FeatureConnector` to save restore the feature structure.

One drawback I can see is that if

[2019-11-12 11:44] praveenjune17 opened #1192 "FailedPreconditionError :- when loading the summarization dataset 'aeslc'"
**Short description**
Description of the bug.

Dataset not extracted after download

**Environment information**
Used google colab
* Operating System: linux
* Python version: 3
* `tensorflow-datasets`/`tfds-nightly` version:  1.3.0.dev201911120105
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version:
tf-gpu :- 2.0.0b1

**Reproduction instructions**
examples, metadata = tfds.load('

[2019-11-15 02:22] suziW commented on #102
import tensorflow_datasets as tfds
AND i solved this error,  try it.

[2019-11-15 02:28] Conchylicultor commented on #102
`ds.output_shapes` is deprecated (will be replaced by a new tensor spec system).
In the meantime, you can use `tf.compat.v1.data.get_output_shapes(ds)`

[2019-11-15 08:27] Flamefire commented on #1075
This is not an option. From their website:

[2019-11-15 08:28] Flamefire commented on #587
I'm also affected by that. We have a shared download of the ImageNet2012 dataset on the cluster and it is really hard to use (and impossible with currently released TF_datasets 1.3 due to #1075)

[2019-11-15 19:25] Conchylicultor commented on #587
That would make sense to allow sharing `manual_dir` between different datasets.

If you send a PR for this, please also update the `download_and_prepare.py` script to set `manual_dir=os.path.join(FLAGS.manual_dir, builder.info.name)` for backward compatibility: https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/scripts/download_and_prepare.py#L119

An alternative solution is fo

[2019-11-15 19:43] pluskid opened #1199 "Add an option to load the data in the original order"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I'm working with collaborators who uses completely different data pipeline that is too much efforts or impossible to switch to tfds. We need to have controlled experiment with aligned example orders in the dataset we loaded. While most of

[2019-11-15 23:06] rsepassi commented on #1199
Thanks for this request @pluskid.

There are 2 approaches that come to mind:
1. General: try to do this for all datasets automatically somehow.
2. Specific: add an index feature to datasets for which it makes sense or for which you need it.

General would be tough for a few reasons:
* You'd have to define an ordering semantics that made sense across many file types and datasets with many files, od

[2019-11-16 01:30] carlosfloar opened #1201 "Plant village data set problem"
I'm try to use the plant_village data set from tensorflow-datasets. first i run the builder 	plant_village.py hosted in https://github.com/tensorflow/datasets/tree/master/tensorflow_datasets/image in my colab notebook but when i execute

SPLIT_WEIGHTS = (7, 2, 1)
splits = tfds.Split.TRAIN.subsplit(weighted=SPLIT_WEIGHTS)

(raw_train, raw_validation, raw_test), metadata = tfds.load(
    'plant_vill

[2019-11-16 03:14] shun-lin opened #1202 "[data request] homoglyph (name/domain spoofing)"
* Name of dataset: homoglyph (name/domain spoofing)
* URL of dataset: https://github.com/endgameinc/homoglyph/tree/master/data
* License of dataset: GNU Affero General Public License v3.0, https://github.com/endgameinc/homoglyph/blob/master/LICENSE
* Short description of dataset and use case(s): This dataset contains homoglyph of active/public domains. This dataset is useful for developing models

[2019-11-17 01:06] Sharathmk99 opened #1203 "Use Tensorflow Dataset with other ML framework (Sklearn)"
**What I need help with / What I was wondering**
I wanted to use Tensorflow Dataset as one source for all the framework like sklearn. Is it possible to use this framework with Sklearn?

Any steps to host provate Tensorflow Dataset?

**What I've tried so far**
I have tried with Tensorflow, it works awesome. How can I try with Sklearn?

[2019-11-17 17:07] heartcored98 opened #1204 "[data request] <dataset name>"
* Name of dataset: BBBP
* URL of dataset: http://moleculenet.ai/datasets-1
* License of dataset: MIT
* Short description of dataset and use case(s): The Blood-brain barrier penetration (BBBP) dataset comes from a recent study 52 on the modeling and prediction of the barrier permeability. As a membrane separating circulating blood and brain extracellular fluid, the blood-brain barrier blocks most d

[2019-11-17 17:09] sihyun-yu commented on #1204
Nice work! Look forward to using it.

[2019-11-18 17:45] pluskid commented on #1199
@rsepassi Thanks for the reply. I totally agree with you that it is difficult to define an index (that everybody will be happy with) for largescale datasets that do not naturally come with one, and especially when the datasets are built with distributed processing pipelines.

I like your suggestion that for now, it is good to only add support (or have an option to add support) for datasets that al

[2019-11-18 17:51] Conchylicultor commented on #1203
For use with other frameworks, you can convert any datasets into numpy array, using `tfds.as_numpy(ds)`.

[code]

[2019-11-18 17:53] #1203 closed

[2019-11-18 18:03] Conchylicultor commented on #1201
Could you re-try with `tfds-nightly` ? This dataset has been added in end of october, so may not be present in the `1.3.0` version

[2019-11-18 18:12] Conchylicultor commented on #1199
@pluskid, you can send a PR to modify the existing mnist dataset to add this `index` key.  I believe that is what rsepassi is suggesting.
But the user would still have to manually sort the dataset in memory using this "index" key. This would works for small dataset like Cifar/Mnist, but won't be scalable to bigger datasets.

[2019-11-19 15:58] hannesrichter opened #1207 "Wrong labels in "DeepWeeds" Dataset"
The current implementation of the "DeepWeeds" dataset uses the wrong data as a class label.
The labels are parsed from the filename, but the original repository of the author states:
[code]
link to the original repository: https://github.com/AlexOlsen/DeepWeeds

So what is expected to be the labels is an ID of the image acquisition device used when recording the images.

[2019-11-19 16:23] carlosfloar commented on #1201
thank you very much, I already downloaded it.

[2019-11-19 16:23] #1201 closed

[2019-11-19 17:52] Conchylicultor commented on #1207
Sorry about that, please don't hesitate to send a PR to fix this.

[2019-11-20 09:15] hannesrichter commented on #1207
I made a PR and proposed a fix for this.
PR: #1209

[2019-11-20 17:32] drozzy commented on #462
What's the status on this? I still can't import tfds as I get:

[code]

[2019-11-20 17:41] Conchylicultor commented on #462
@drozzy which TFDS version, plateform,... are you using ?
What are you trying to import ?

`import tensorflow_datasets as tfds` should works, no matter which version you are using

[2019-11-20 18:44] mhamilton723 commented on #127
This is still an error with imagenet_resized in py35, py36, py37 , tf1.15, tf2.0 and their combinations -.-

[2019-11-20 19:30] Conchylicultor commented on #127
Have you tried `tf-nightly` ?

[2019-11-21 11:51] sweaterr opened #1215 "There is only a train split in the food101 dataset."
**Short description**

There is only a train split in the [food101 dataset](https://www.tensorflow.org/datasets/catalog/food101). In the [source data](https://www.vision.ee.ethz.ch/datasets_extra/food-101/), the dataset consists of the following configurations:

[code]

I think it should be fixed.
Thanks

[2019-11-21 12:21] sweaterr opened #1216 "[data request] FGVC Aircraft"
* Name of dataset: FGVC Aircraft
* URL of dataset: http://www.robots.ox.ac.uk/~vgg/data/fgvc-aircraft/
* License of dataset: for non-commercial research purposes only
* Short description of dataset and use case(s): Fine-Grained Visual Classification of Aircraft (FGVC-Aircraft) is a benchmark dataset for the fine grained visual categorization of aircraft.

Folks who would also like to see this data

[2019-11-21 13:06] sweaterr opened #1218 "Add tests labels for `car196` dataset"
**Short description**

All labels in the test split of the `car196` dataset are `196`

![image](https://user-images.githubusercontent.com/1518919/69340488-f6a1e480-0caa-11ea-917b-d219ebe61390.png)

**Environment information**
* Operating System: CentOS Linux release 7.5.1804 (Core)
* Python version: 3.6
* `tensorflow-datasets`/`tfds-nightly` version: 1.3.0
* `tensorflow`/`tensorflow-gpu`/`tf-night

[2019-11-21 18:45] Conchylicultor commented on #1218
Thanks for reporting, I believe the dataset  do not provide tests labels (labels are private and can be evaluated using their evaluation server): https://ai.stanford.edu/~jkrause/cars/car_dataset.html

However, unknown labels should returns `-1`. Sending a fix.

[2019-11-21 19:08] Conchylicultor commented on #1215
Thanks for reporting.
Yes it would be nice to use the original dataset splits. Please don't hesitate to send a PR to fix this.

[2019-11-22 01:29] sweaterr commented on #1218
@Conchylicultor thank you for reply!

[2019-11-22 02:07] sweaterr commented on #1218
I downloaded the data myself. I found that `car_devkit.tgz` contains a label for the test data. Is this label data not available due to licensing issues?
[code]

[2019-11-22 02:10] sweaterr commented on #1218
@Conchylicultor I downloaded the data myself. I found that `car_devkit.tgz` contains a label for the test data. Is this label data not available due to licensing issues?
[code]

[2019-11-22 02:27] sweaterr commented on #1218
@Conchylicultor

The site you linked has the following phrase:

I think that it now provides a label for the test.

[2019-11-22 03:31] Conchylicultor commented on #1218
Oh nice. Don't hesitate to send a PR to add the test labels.

[2019-11-22 06:37] captain-pool commented on #1218
Hey, @Conchylicultor can I add this as a task for Google Code-In?

[2019-11-22 13:22] jrabary opened #1221 "NonMachtingChecksumError for Kitti dataset"
The following code fails with `NonMatchingChecksumError`

Code:

[code]

Output error:

[code]

[2019-11-22 19:03] MarkDaoust commented on #330
Thanks for adding this!

When I tried `tfds.load('higgs')` it looked like it was going to take about 5h to process!

TensorFlow can read csv records directly out of the `.gz` file:

https://www.tensorflow.org/tutorials/keras/overfit_and_underfit

Is there anyway use that trick to speed this up?

[2019-11-22 20:43] Conchylicultor commented on #1218
@captain-pool Yes, sounds good!

[2019-11-23 10:00] #1207 closed

[2019-11-23 19:39] olk commented on #704
The documentation is incomplete!
You have to document the naming format of the file that holds the checksums (== name of the dataset class in lower cases with under scores) and pass DownloadConfig(register_checksums=True) to
DownloadManager.download_and_prepare()

[2019-11-23 19:40] olk opened #1223 "Better doc to define datasets outside TFDS"
Documentation is incomplete  see https://github.com/tensorflow/datasets/issues/704#issuecomment-557826887.

[2019-11-24 19:50] jason-zl190 opened #1225 "[data request] NIH Deep Lesion Dataset"
* Name of dataset: NIH Deep Lesion Dataset
* URL of dataset: https://www.nih.gov/news-events/news-releases/nih-clinical-center-releases-dataset-32000-ct-images
* License of dataset: Unknown
* Short description of dataset and use case(s): The National Institutes of Health’s Clinical Center has made a large-scale dataset of CT images publicly available to help the scientific community improve detect

[2019-11-24 19:51] jason-zl190 commented on #1225
#1224

[2019-11-24 19:55] jason-zl190 commented on #1225
@Ouwen I closed the old issue because it's outdated. Would you mind be my reviewer? This version supports no long need to manually download and place the data.

[2019-11-24 19:56] jason-zl190 commented on #1225
the link of the old issue: https://github.com/tensorflow/datasets/issues/853

[2019-11-24 20:07] jason-zl190 commented on #853
I create a new pull request and closed the old one because it's outdated. I also create a new issue for it #1225 . Would you mind be my reviewer? This version no longer needs to manually download and place the data.

[2019-11-24 23:04] Ste29 opened #1226 "[data request] MIMIC Database"
* Name of dataset: MIMIC Database
* URL of dataset: https://doi.org/10.13026/C2JS34
* License of dataset: Open Data Commons Attribution License v1.0
* Short description of dataset and use case(s): The MIMIC Database includes data recorded from over 90 ICU patients. The data in each case include signals and periodic measurements obtained from a bedside monitor as well as clinical data obtained from

[2019-11-25 19:13] Conchylicultor commented on #1218
Someone added the tests labels internally, this should appear on GitHub soon.

[2019-11-25 19:13] #1218 closed

[2019-11-25 19:14] pluskid commented on #1199
@rsepassi @Conchylicultor Thanks for the clarification and suggestions on how to add this feature. I'm closing this issue for now as it has served its purpose. I will try to send a PR if I find a chance to do that in the future.

[2019-11-26 07:04] darcula1993 commented on #1075
So how exactly we use `manual_dir` for imagenet2012? I already manually download the train and val dataset but can not find a way to use them.
`tfds.load(manual_dir = /path/to/data)`?

[2019-11-26 08:06] darcula1993 opened #1236 "how to use manual_dir to load imagenet2012 dataset?"
From #1075 and #1121
Seems that we can manully download imagenet2012 dataset and use tfds to load it. Is there any clear documentation show how to do that?

I tried `tfds.load("imagenet2012",download = False, manual_dir = path/to/data )` but failed since no manual_dir for `load`

[2019-11-26 17:56] Conchylicultor commented on #1236
TFDS converts all datasets into `.tfrecord` files.
Even after manual downloading the archive files and placing them into the manual_dir, you still need to generate the tfrecord files by passing `download=True`, which will call `ImageNet2012().download_and_prepare()` which will generate the tfrecord files.
Hope this helps.

[2019-11-26 19:35] nami-reddy opened #1237 "[data request] BCCD (Blood Cell Count and Detection)"
* Name of dataset: BCCD (Blood Cell Count and Detection)
* URL of dataset: https://github.com/Shenggan/BCCD_Dataset/tree/master/BCCD
* License of dataset: MIT License
* Short description of dataset and use case(s):
BCCD (Blood Cell Count and Detection) Dataset is a small-scale dataset for blood cells detection.
12,500 augmented images of blood cells (JPEG) with accompanying cell type labels (CSV).

[2019-11-27 02:17] darcula1993 commented on #1236
so which function should I call to set manual_dir?
`ImageNet2012(manul_dir = path/to/data)`?

[2019-11-27 18:14] Conchylicultor commented on #1236
`manual_dir` is set in `tfds.download.DownloadConfig()`. See https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/scripts/download_and_prepare.py for an example of usage.

[2019-11-27 19:23] Conchylicultor commented on #704
@olk sorry about that, please don't hesitate to send a PR with the additional info

[2019-11-27 20:35] Conchylicultor commented on #1221
Is the issue still here ? This might indicates that the file has been silently updated or is momentarily unavailable. If the issue persist, it means that we need to find a non-corrupted mirror of this file and update the url.
If it's the dataset which has been updated, the version should be increased with the new checksum (and should make sure the dataset still correctly generate).

[2019-11-28 02:20] darcula1993 commented on #1236
thank you very much!
I found I cannot set manual_dir is because the officially tfds 1.3.0 hasn't changed the code of imagenet builder. I guess pip install tfds-nightly can solve the problem.

I just hacked the code and manually insert the path which point to downloaded imagenet dataset(.tar file) and problem solved.

[2019-11-28 02:20] #1236 closed

[2019-11-28 07:53] jrabary commented on #1221
The workaround I found is to run the script `download_and_prepare` with `register_checksums=True` as follow

[code]

[2019-11-28 08:53] cyfra commented on #1221
This is a good workaround - but running with 'register_checksums=True' basically means that you 'ignore' the build-in checksum and simply download the file.

@jrabary - could you do us a favor and
a) verify that data is still correct and not corrupted (same number of elements etc)
b) send the pull request with the new checksum + version change?

Thanks!

[2019-11-28 08:56] cyfra commented on #1192
Yes, I can reproduce this bug.

[2019-11-28 20:58] dfurrer opened #1246 "[data request] SCAN"
Name of dataset: scan
URL of dataset: https://github.com/brendenlake/SCAN
License of dataset: BSD License
Short description of dataset and use case(s): SCAN is a set of simple language-driven navigation tasks for studying compositional learning and zero-shot generalization.

Folks who would also like to see this dataset in tensorflow/datasets, please thumbs-up so the developers can know which requ

[2019-11-29 04:58] formath opened #1247 "Where is the old data input pipeline tutorial for 1.12"
That tutorial is very particular. However, I can't find it now .

[2019-11-29 08:37] #1247 closed

[2019-11-29 15:31] dfurrer commented on #1246
1. I noticed that I did not create this issue in the standard way and thus it's missing the proper label and IIUC I don't have the permissions to add it. Could someone help?

1. This is a pretty small dataset (20K examples) and the interesting thing is to look at how models perform on different train/test splits so there are many different splits of this same dataset. I'm wondering what would be t

[2019-12-01 06:09] captain-pool commented on #1215
Hey @Conchylicultor, can I put this issue as a task for Google Code In?

[2019-12-01 06:31] captain-pool commented on #1192
Hey @cyfra can I put this as a task for Google Code In?

[2019-12-02 20:16] WilliamHYZhang commented on #1237
Hi,
I'm a Google Code-In participant and I'm planning on adding this dataset for one of the tasks. Thank you!

[2019-12-02 22:11] WilliamHYZhang commented on #1216
Hi, I'm a Google Code-In participant and I'm working on adding this dataset.

[2019-12-03 02:58] HayekLynx opened #1251 "[data request] <imdb>"
* Name of dataset: <name>
* URL of dataset: <url>
* License of dataset: <license type>
* Short description of dataset and use case(s): <description>

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests to prioritize.

And if you'd like to contribute the dataset (thank you!), see our [guide to adding a dataset](https://g

[2019-12-04 01:18] WilliamHYZhang opened #1257 "setup.py link returns error 404"
**Short description**
When clicking on the setup.py link in the guide to adding a dataset ("https://github.com/tensorflow/datasets/blob/master/docs/add_dataset.md"), returns error 404. I would like to submit a pull request to edit the guide so that the setup.py links instead to "https://github.com/tensorflow/datasets/blob/master/setup.py". Thanks so much!

**Environment information**
* Operating S

[2019-12-04 09:41] hermannsblum commented on #838
@lgeiger Do you plan on creating a PR with your version as #892 is now merged?

[2019-12-04 09:49] cyfra commented on #1257
Thanks for the PR.

[2019-12-04 09:50] #1257 closed

[2019-12-04 10:48] lgeiger commented on #838
I don't have current plans to upstream it since the raw dataset is not complete, but it might be useful anyway. I opened https://github.com/ialhashim/DenseDepth/issues/90 to check if we are allowed to use this URL.

[2019-12-04 16:34] diaoyingyu commented on #1019
I also met this problem. Have you solved it?

[2019-12-05 12:01] captain-pool commented on #547
@sgdgp can you provide the error you are facing?

[2019-12-05 13:53] pierrot0 commented on #121
Closing issue, new subsplit api has been out for a while, and is about to become the default everywhere.

[2019-12-05 13:53] #121 closed

[2019-12-05 13:53] #884 closed

[2019-12-06 03:24] tracy-talent opened #1270 "report UnicdeDecodeError when use tfds to load wmt14_translation/fr-en dataset"
**Short description**
When I use tfds to load wmt14_translation/fr-en dataset, it meets UnicodeDecodeError.

**Environment information**
* Operating System: Ubuntu18.04
* Python version: 3.6.2
* `tensorflow-datasets`/`tfds-nightly` version: tensorflow-datasets1.3.0
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: tf-nightly2.0.0

**Reproduction instructions**

[code]

**Link

[2019-12-06 10:32] nepet opened #1271 "Celeb A mirrors are down"
**Short description**
The following mirrors lead to a 404 page:
- https://drive.google.com/uc?export=download&id=0B7EVK8r0v71pY0NSMzRuSXJEVkk 2836386 fc955bcb3ef8fbdf7d5640d9a8693a8431b5f2ee291a5c1449a1549e7e073fe7
- https://drive.google.com/uc?export=download&id=0B7EVK8r0v71pblRyaVFSWGxPY0U 26721026 f0e5da289d5ccf75ffe8811132694922b60f2af59256ed362afa03fefba324d0
- https://drive.google.com/uc?exp

[2019-12-06 19:15] Conchylicultor commented on #1271
The links works for me, could you try again ?

[2019-12-06 21:25] cyfra commented on #1270
Hey @tracy-talent

Yes, we had a UTF-8 related bug there.  It should be fixed (but we didn't cut the new release since then).

Could you see if tfds-nightly works for you ?

[2019-12-06 21:31] cyfra commented on #1246
One option is to have custom names for the splits (tfds.core.SplitGenerator accepts string as name).

Another is to use separate datasets configs.

Reading quickly through this dataset description - it seems that separate configs might be a better choice (as normally we assume that splits don't have common objects).

[2019-12-06 21:33] cyfra commented on #936
Fixed in #1227

[2019-12-06 21:33] #936 closed

[2019-12-06 22:00] Conchylicultor commented on #838
Why not creating the dataset from the original website ? https://cs.nyu.edu/~silberman/datasets/nyu_depth_v2.html

It provides links to the full data and annotations. I think this is what users would expect when using this dataset, no ?

[2019-12-07 00:37] sdliuyuzhi commented on #1136
Do we have a script to run the downloading part with Dataflow? It takes forever to download even one month 6.96TB data.

[2019-12-07 16:19] William-Yin123 commented on #1237
Hi I am a Google Code-in participant, can you please assign this issue to me? I have already started working on it.

[2019-12-07 16:24] tracy-talent commented on #1270
Yes, tfds-nightly works well.
Thanks a lot!

[2019-12-07 18:46] lc0 commented on #44
@Rohith-hacker were you able to add this one?

[2019-12-07 22:08] captain-pool opened #1277 "Fake data utility for audio files"
**Is your feature request related to a problem? Please describe.**
While writing tests for audio dataset downloader, the fake sample needs to be taken from the dataset itself since there's no fake data generator utility for audio. (Like `testing/fake_data_utils.py` is used for generating random images for fake samples)

**Describe the solution you'd like**
A couple of new functions in `fake_data_u

[2019-12-08 16:22] zaabek opened #1278 "AttributeError: 'ShuffleDataset' object has no attribute 'output_shapes'"
Text classification with an RNN with the tutorial:
https://www.tensorflow.org/tutorials/text/text_classification_rnn
Description of the bug.

**Environment information**
* Operating System: Windows 8.1
* Python version: 3.6.4
* `tensorflow-datasets`/`tfds-nightly` version: 1.3.2
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: <2.0.0

**Reproduction instructions**

[code]

**

[2019-12-08 18:13] zaabek opened #1279 "Infinite running - unknwon steps."
I trying run the example https://www.tensorflow.org/tutorials/text/text_classification_rnn

**Environment information**
* Operating System: Windows 8.1
Python version: 3.6.4
tensorflow-datasets/tfds-nightly version: 1.3.2
tensorflow/tensorflow-gpu/tf-nightly/tf-nightly-gpu version: 2.0.0

**Reproduction instructions**
Just run the below code.
[code]

**Link to logs**
     48/Unknown - 332s 7s/step

[2019-12-08 18:14] zaabek commented on #1278
change "train_dataset.output_shapes" to  "tf.compat.v1.data.get_output_shapes(train_dataset)"

[2019-12-09 17:05] Conchylicultor commented on #1278
`output_shapes` is deprecated in TF2, you can use the compat.v1 or use `ds.element_spec`: https://www.tensorflow.org/api_docs/python/tf/data/Dataset#element_spec

[code]

[2019-12-09 17:10] #1278 closed

[2019-12-09 17:51] #1270 closed

[2019-12-09 17:57] cyfra commented on #1271
Hey,

AFAIK Google drive does have a download limit per file per day.
Unfortunately we don't have a control over that.

[2019-12-09 17:57] #1271 closed

[2019-12-09 17:58] cyfra commented on #1277
Thanks @captain-pool  - yes, having such tooling for audio would be nice to have.

[2019-12-09 18:25] cyfra commented on #1279
Hey,

I think it is working as intended: the dataset has 25'000 objects. Your batch size is 64.
So you should expect around 391 steps.
Based on your log - you waited only to 54 .. :-)

Let it run for a little bit longer, and it should finish once it reaches 391.
If not - please reopen this bug and we can investigate.

[2019-12-09 18:25] #1279 closed

[2019-12-09 18:26] cyfra commented on #1251
Hey @HayekLynx - your request is empty (you didn't provide the name or the url of the dataset).

We already have imdb_reviews - is that the one that you wanted ?

If not - please create a new request with the fields filled.

[2019-12-09 18:26] #1251 closed

[2019-12-10 11:01] dfurrer commented on #1246
Thanks Marcin. I discussed this with Etienne Pot as well and it seems to me that a config is the way to go so will look into that.

[2019-12-10 11:06] 0x0badc0de opened #1284 "Slow 'encode_example' for Sequence"
**Short description**
Probably just like #1093 but for encoding. We have a lot of data stored in `tfds.features.Sequence(tf.int64)` and `tfds.features.Sequence(tf.float32)` and the more data we add the slower dataset creation becomes.

Some measurements:
Default dataset - 14min 8s
Dataset with sequence features values set to empty list - 16s
All sequence feature values wrapped in np.array - 12min

[2019-12-10 18:17] Conchylicultor opened #1285 "Checksums in DatasetBuilderTestCase non deterministic for str"
The example `checksum(example)` computed in https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/testing/dataset_builder_testing.py
is not deterministic for string arrays.

snippet to reproduce the issue:
[code]

It seems the issue is that `tf.constant([b"foo", b"bar"]).numpy().dtype == object` while `np.array([b"foo", b"bar"]).dtype = 'S3'`.
In TF1, the issue is the same as `ses

[2019-12-10 20:11] cyfra commented on #1192
I debugged it a little bit - seems that github sends some strange headers when we download the zip files from it.

import requests
result = requests.get("https://github.com/ryanzhumich/AESLC/archive/master.zip")
print(result.url)
# 'https://codeload.github.com/ryanzhumich/AESLC/zip/master'
print(result.headers.get('content-disposition', None))
# attachment; filename=AESLC-master.zip

There are two

[2019-12-10 21:11] Conchylicultor commented on #487
Closing this as there is now a `tfds.ReadConfig` which allow customizing the input pipeline. Please open a new bug if you need control over a specific parameter which is not exposed yet.

[2019-12-10 21:11] #487 closed

[2019-12-10 21:12] Conchylicultor commented on #951
`experimental_deterministic` can now be customized through the `tfds.ReadConfig()` argument, so closing this.

[2019-12-10 21:12] #951 closed

[2019-12-10 21:26] Conchylicultor commented on #1284
Thanks for reporting. Contrary to https://github.com/tensorflow/datasets/issues/1093, `Tensor.encode_example` execute some type checking on the values that we should try to keep.

1) At first, we could try to make `Tensor.encode_example` perform the same types of shape/dtype checking, but without converting to `np.array` first. That should make the encoding faster.

2) If this is still not enough,

[2019-12-11 04:10] cyfra opened #1291 "Top requested datasets (ranking)"
Here is the list of top-voted datasets (as of December 10 2019)

* #301 "Highway Drone Dataset" - 18 votes
* #27 "Pascal VOC" - 12 votes
* #299 "IBM Faces dataset" - 11 votes
* #18 "Youtube 8M" - 10 votes

[2019-12-11 15:12] cyfra commented on #1192
Fixing in #1287

[2019-12-11 15:15] #415 closed

[2019-12-11 16:47] #1192 closed

[2019-12-11 21:55] Conchylicultor commented on #1291
Voc2012 is available in: https://www.tensorflow.org/datasets/catalog/voc

There is a PR to add the additional SDB extension, but it seems to add quite a lot of complexity, so I'm not sure about what is the right implementation: https://github.com/tensorflow/datasets/pull/1198

[2019-12-11 22:19] divij30bajaj commented on #827
Hello! I would like to work on this issue. This will be my first contribution. Kindly guide me on this. Thanks.

[2019-12-11 22:25] Conchylicultor commented on #827
Thanks.
The dataset is implemented in https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/image/clevr.py
Have a look at our guide to understand the code: https://www.tensorflow.org/datasets/add_dataset

[2019-12-12 06:31] ChanchalKumarMaji commented on #1277
I think @us was working on some `fake_data` generator.

[2019-12-12 10:20] remydubois commented on #487
Fantastic,
thank you for following-up on that.

[2019-12-15 09:00] arnav-tandon commented on #680
Hi, I'm a Google Code-In participant and I'm working on adding this dataset. Can you assign this to me?

[2019-12-15 09:16] arnav-tandon commented on #1144
Hi, I am a Google Code-In Participant and I would like to contribute by adding the following dataset from the UCI repo, this is same as #680:
https://archive.ics.uci.edu/ml/datasets/Breast+Cancer+Wisconsin+(Diagnostic)

[2019-12-16 10:51] #1215 closed

[2019-12-16 11:31] Xenoire commented on #431
Hi everyone,
I want to use the dataset for experiment.
it says that there’s still an importError, i wonder what is the status of this dataset now.

[code]

can anyone resolve this problem?

Thanks guys!

[2019-12-17 17:06] 0x0badc0de commented on #1284
The only thing I was able to improve in `Tensor.encode_example` is caching `np_dtype` as `self._np_dtype = np.dtype(self.dtype.as_numpy_dtype)` in `Tensor.__init__`, this change is invalid if `np.dtype(self.dtype.as_numpy_dtype)` expression can return different results after `__init__` is done.

This gives 7% speed up which is not so big improvement comparing to 3x times if `Tensor.encode_example`

[2019-12-17 18:06] Conchylicultor commented on #1284
Thanks for investigating and for the benchmarks. I don't know yet when we'll have time to look into this, but those information will be useful.

[2019-12-17 18:07] Conchylicultor commented on #1170
Closing this as it should be obsolete with the new version. Please reopen if you still encounter this

[2019-12-17 18:07] #1170 closed

[2019-12-17 19:22] shun-lin opened #1298 "Inconsistency in Type of Tensor when using dataset.take() vs dataset.map()"
**Short description**
I do not know if this is a bug or a feature, but I open this issue in case others are experiencing the same thing.

When I query the tensors within the datasets loaded using `tfds.load` using `.take()`, they are `EagerTensor`, which allows me to query the value like `tensor.numpy()`. But when I try to apply a function to the entire dataset using `dataset.map()`, the tensors a

[2019-12-17 20:10] Conchylicultor commented on #1298
The colab is not public, so I can't really see.

The reason is that `tf.data.Dataset` pipelines are designed for performance. All the input pipeline is compiled in graph and run in parallel. So the map function cannot run arbitrary python code.

For insert Python code inside a TF graph, you could use `tf.py_function`, which will convert tensors to np and vice verse. See https://www.tensorflow.org/

[2019-12-17 20:10] #1298 closed

[2019-12-17 20:28] shun-lin commented on #1298
thank you so much for your quick response @Conchylicultor , I will try `tf.py_function` and `tf.lookup` :)

[2019-12-18 16:16] Flamefire opened #1302 "TFDS fails when running distributed"
**Short description**
When running TF with multiple workers (e.g. using `MultiWorkerMirroredStrategy`) then all workers seem to try and download & extract the dataset. This will then fail in the process due to accessing the same files

**Environment information**
* Operating System: RHEL 7.4
* Python version: 3.7.4
* `tensorflow-datasets`/`tfds-nightly` version: tensorflow-datasets 1.3.2
* `tensor

[2019-12-18 16:27] Flamefire commented on #1302
Putting the `load` into `with strategy.scope()` leads to:

[code]

[2019-12-18 21:33] Conchylicultor commented on #1302
If you're running in distributed mode, I think you should first generate the dataset in some shared folder (like Google Cloud Storage or similar), then use `data_dir='gs://my/dataset'` to access the dataset.
You also need to be careful that each worker should read a different portion of the dataset, or you will read the same examples multiple times across workers. You can try the split API for thi

[2019-12-19 08:20] Flamefire commented on #1302
I did that now as I figured the same. It still is strange as this is something done in the background without explicit user interaction. Previously you had a separate command to create the tf_record files, now it is hidden behind the `load` method and that doesn't work with a distributed strategy

Shouldn't this be done by the strategy? As I understood it this is (one of its) purposes. There is so

[2019-12-19 16:32] anigasan commented on #1225
Hi, Can I work on this dataset?

[2019-12-19 17:04] Conchylicultor commented on #1302
You can disable generation by setting `tfds.load(..., download=False)`. Having `download=True` by default was a deliberate choice, even if we understand not everyone might like this default.
Or alternatively, `builder = tfds.builder('my_dataset')` followed by `builder.as_dataset()` won't download the data.

For the multi-worker distribution strategy, `experimental_distribute_dataset` tries to auto

[2019-12-19 19:55] Flamefire commented on #1302
IIRC there was a warning that this is deprecated, hence my setting to False. Has this been changed?

Oh, good point. Couldn't this be done automatically? The doc for the distribute says

This seems to say that the distribution happens at the file level, hence no need to keep the shuffle deterministic. Or did I misunderstood that?

[2019-12-19 22:05] shun-lin opened #1304 "ImageNet_Resized not working"
**Short description**
The ImageNet_Resized unable to download using `tfds.load("imagenet_resize/8x8)` and all available options of sizes (`8x8`, `16x16`, `32x32`, `64x64`).

**Environment information**
* Operating System: gLinux, but reproducible on Colab
* Python version: 3.6.9
* `tensorflow-datasets`/`tfds-nightly` version: 1.3.2
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` vers

[2019-12-19 22:25] jason-zl190 commented on #1225
Of course, you can take a look at #1224 if you don't mind. I was busy on my final the past two weeks. I plan to have two updates next: beam download; different configs for different tasks — for example, classification and 3d volume for detection.

[2019-12-19 22:49] Conchylicultor commented on #1304
Thanks for reporting. The `txt` file was missing from the `setup.py`. Sending a fix now, it should appear in the nightly version in the next few days.

In the meantime, building the dataset from the cloned repo should works.

[2019-12-19 22:50] shun-lin commented on #1304
@Conchylicultor thanks for the quick response!

[2019-12-19 23:05] Conchylicultor commented on #1302
I believe the automatic file sharding only works if called as `TFRecordDataset([file0, file1,...])`.
TFDS uses `ds.interleave()` to construct the multiple files, so I don't think the automatic sharding works in this case.
It is the user responsibility to ensure the pipeline is deterministic. See: https://www.tensorflow.org/api_docs/python/tf/data/Dataset?version=stable#shard

In any case, the leas

[2019-12-20 15:23] Flamefire commented on #1302
I think this should "just work": https://www.tensorflow.org/tutorials/distribute/multi_worker_with_keras#dataset_sharding_and_batch_size

I'll see if I can come up with some pseudo-dataset to test this. Not sure how to do that though. TF2 API is quite complicated and documentation isn't that mature yet if you want to do something "more advanced"

[2019-12-20 17:19] Conchylicultor commented on #1302
From: https://www.tensorflow.org/api_docs/python/tf/data/Dataset?version=stable#shard
`Be sure to shard before you use any randomizing operator (such as shuffle).`

And https://www.tensorflow.org/api_docs/python/tf/distribute/Strategy?version=stable#experimental_distribute_dataset:
`we will shard the dataset evenly at the end by appending a .shard operation to the end of the processing pipeline.`

[2019-12-20 17:30] Conchylicultor commented on #1302
My feeling would be to use `experimental_distribute_datasets_from_function` which is more explicit, so less error prone and should be more performant:

Something like:
[code]

[2019-12-23 11:05] RajatGarg45 commented on #478
@yongtang I am unable to find support for tiff file format under tensorflow-io. Can we please have a dedicated function for encoding and decoding tiff images just like that available for jpeg and png formats? This would be very helpful.
Eagerly looking forward to a solution. I am currently unable to train my dataset which are high resolution tiff images.

[2019-12-23 16:22] jpgard commented on #299
Has anyone had success accessing this dataset by request? I have not heard back from a request for the data after over 6 weeks, despite following the protocol listed on the dataset website.

[2019-12-24 19:07] arpan-dhatt commented on #854
Hello! I am a Google Code-in participant, and would like to work on this issue. Can someone assign this to me? I have already begun working.

[2019-12-28 03:07] anigasan opened #1317 "[data request] Imagewoof"
* Name of dataset: Imagewoof
* URL of dataset: https://github.com/fastai/imagenette
* License of dataset: Apache
* Short description of dataset and use case(s): A subset of 10 dog breed classes from Imagenet. It is slightly complicated dataset  than imagenette as all 10 classes are dog breeds.

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the develope

[2019-12-29 08:40] WilliamHYZhang commented on #827
@divij30bajaj are you still working on this issue?

[2019-12-30 09:05] rickwierenga commented on #1317
I would like have a go at this.

(To the devs: I'm doing Google Code In and currently working on another task, but would love to do this one afterwards.)

[2019-12-30 10:25] yhao2014 opened #1321 "attributes() got an unexpected keyword argument 'frozen'"
**Short description**
when I am running code `import tensorflow_datasets as tfds`, the error appear as follow:

**Environment information**
* Operating System: windows 10
* Python version: 3.6.5
* `tensorflow-datasets`/`tfds-nightly` version: 1.3.2
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: 2.0.0

**Reproduction instructions**

[code]

[2019-12-30 15:38] wrenchonline commented on #560
'casict2011': ['ftp://cwmt-wmt:cwmt-wmt@nlp.nju.edu.cn/parallel/casict2011.zip'], 'casict2015': ['ftp://cwmt-wmt:cwmt-wmt@nlp.nju.edu.cn/parallel/casict2015.zip'], 'datum2015': ['ftp://cwmt-wmt:cwmt-wmt@nlp.nju.edu.cn/parallel/datum2015.zip'], 'datum2017': ['ftp://cwmt-wmt:cwmt-wmt@nlp.nju.edu.cn/parallel/datum2017.zip'], 'neu2017': ['ftp://cwmt-wmt:cwmt-wmt@nlp.nju.edu.cn/parallel/neu2017.zip']

[2019-12-30 17:29] wrenchonline commented on #560
(base) wrench@wrench-Z370-HD3:~$ ping nlp.nju.edu.cn
PING nlp.nju.edu.cn (114.212.189.224) 56(84) bytes of data.
^C
--- nlp.nju.edu.cn ping statistics ---
4 packets transmitted, 0 received, 100% packet loss, time 3064ms

(base) wrench@wrench-Z370-HD3:~$ ftp 114.212.189.224
ftp: connect: Connection timed out
ftp>

[2019-12-31 14:41] rickwierenga opened #1325 "[data request] Image网, Imagewang"
* Name of dataset: Image网, Imagewang
* URL of dataset: https://github.com/fastai/imagenette
* License of dataset: Apache 2.0
* Short description of dataset and use case(s): Image网 contains Imagenette and Imagewoof combined.

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests to prioritize.

And if you'd like to contrib

[2020-01-02 03:26] arpan-dhatt commented on #854
Unfortunately, I am unable to add this dataset to the repository. My internet connection is too slow to run download_and_prepare(18 hours to download the dataset). I have completed the `diode_depth.py` file, however. Here is a link to the gist:
[diode_depth.py](https://gist.github.com/arpan-dhatt/66cd89b074c5d50fe7ce73c1e019625f)

I apologize for having to bail on this...

[2020-01-02 17:44] Conchylicultor commented on #1321
This likely indicates that you're using an old version of `attr`. Try to update the version with `pip`

[2020-01-03 03:11] yhao2014 commented on #1321
I updated the module `attr` to 19.3.0, but it does not work any way.

[2020-01-03 10:15] #214 closed

[2020-01-03 19:22] Conchylicultor commented on #1321
`@attr.s(frozen=True)` is a documented value in: https://www.attrs.org/en/stable/api.html#attr.s

Are you sure you're not using a virtual environment which has a different version of attrs ? Can you try to `print(attrs.__version__)` in your code ?

[2020-01-05 07:25] Mageswaran1989 commented on #561
I have a Tensorflow dataset emitting : {"char_ids" : Tensor(....), "word_ids" : Tensor(...)}, Tensor(...)
By passing the features as it is I am able to access the dict inside my model `call` function, however I loose the `batch size` info completely even if I set True for drop the remainder  in dataset APIs.

If I use this with Keras fit() or fit_generator(), the batch size information erased, whi

[2020-01-05 21:29] boronhub opened #1335 "[data request] UCI Adult dataset"
* Name of dataset: Adult Data Set
* URL of dataset: https://archive.ics.uci.edu/ml/datasets/adult
* License of dataset: CC BY-NC-SA
* Short description of dataset and use case(s): Prediction task is to determine whether a person makes over 50K a year.

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests to prioritize.

[2020-01-06 08:30] BrEr opened #1337 "OutOfRangeError Unknown Error when downloading imagenet_resized"
**Short description**
When the download of imagenet_resized finished and tfds starts extracting/writing records, the program crashes.

**Environment information**
* Operating System: Windows 10
* Python version: 3.7
* tensorflow-datasets version: 1.3.2
* tensorflow-gpu version: 2.0.0

**Reproduction instructions**

[code]

**Link to logs**
[code]
**Expected behavior**
No error

[2020-01-06 12:05] BrEr commented on #1337
Error also occurs with the latest nightly version.

[2020-01-06 14:12] abhayKashyap03 commented on #1204
Hey, This is Abhay, I'm claiming this issue for a Google code-in task, I'll try to get this dataset into the tfds repo.

[2020-01-06 18:23] Conchylicultor commented on #1337
It seems that the error is triggered during the zip file extraction. Not sure what this error is about. Either TF GFile API bug with this file, or the file is corrupted.

To reproduce in a minimal example, you could try:

[code]

If this still crash, try to re-download the zip file. If this still crash, open a bug in TensorFlow with the reproduction instructions.

[2020-01-07 07:10] BrEr commented on #1337
Your minimal example does not work in TF2.0 unless I use tf.io.gfile.GFile(path, 'rb'). I get the same error then. Redownloading the file also causes the same issue.

Interesting enough the 16x16 variant does not suffer from this issue. I will post a bug in Tensorflow as well.

[2020-01-07 09:50] yhao2014 commented on #1321
I solved this question by updating all Depended packages，thanks for your answer.

[2020-01-07 09:50] #1321 closed

[2020-01-07 12:07] BrEr commented on #1337
Confirmed not be an issue on Ubuntu 18.04

[2020-01-07 16:38] carlthome opened #1345 "[GSoC] FileNotFoundError with BeamMetadataDict on Dataflow but not DirectRunner"
**Short description**
I'm running my own `BeamBasedBuilder` implementation on Dataflow. It has worked fine until I added `BeamMetadataDict`. The pipeline works with the DirectRunner (metadata too). On Dataflow I get a `FileNotFoundError` however.

**Environment information**
* Debian 9.11
* Python 3.7
* TensorFlow 2.0.0
* tensorflow-datasets 1.3.0

**Reproduction instructions**
[code]

**Logs**
[c

[2020-01-07 19:18] Conchylicultor commented on #1345
Thanks for reporting. Yes, this is possibly the issue, the tmp location may not be accessible from all workers.

Don't hesitate to send a fix if you can solve the issue. One way would be to forward the temporary location from `BeamBasedBuilder._download_and_prepare`. Something like

[code]

Please note that when using `tfds-nightly`, you shouldn't use `, experiments={tfds.core.Experiment.S3: False

[2020-01-08 08:20] psds01 opened #1351 "Reserved tokens appear twice in the subwords list of SubwordTextEncoder"
**Short description**
The SubwordTextEncoder text encoder counts twice the tokens which are reserved when building the encoder.
**Environment information**
* Operating System: Ubuntu 18
* Python version: 3.7.5
* `tensorflow-datasets` version: 1.3.2
* `tensorflow` : 2.0.0

**Reproduction instructions**

The working example to reproduce the bug is here: https://gist.github.com/psds01/2e03f8c5f53e45e

[2020-01-08 08:27] psds01 commented on #1351
Also, even spacing causes the token embedding IDs to be changed.
[code]

[code]

[2020-01-08 18:05] Conchylicultor commented on #1351
Thank you for reporting. We are aware that our text tokenizer has some bug and we are planning to remove it entirely in the future in favour of better alternative.

You should have a look at tensorflow text, which contains online C++ ops to tokenize sentence in a performant way: https://github.com/tensorflow/text
https://www.tensorflow.org/tutorials/tensorflow_text/intro

[2020-01-08 20:16] psds01 commented on #1351
@Conchylicultor  thank you for the reply .

Is there any scope to include sub-word tokenization with `tensorflow_text`? For my specific case, subword tokenization is working really well (even with the above bug) and I would love to keep using it.

Thanks,

[2020-01-08 20:39] ForeverZyh opened #1356 "The labels in test set of glue/sst2 are -1."
**Short description**
The test set of glue/sst2 has wrong labels. All labels are -1.

**Environment information**
* Operating System: <os>
* Python version: <version>
* `tensorflow-datasets`/`tfds-nightly` version: <package and version>
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: <package and version>
ubuntu 18.04
python 3.6.9
tensorflow-gpu==1.13.1
tensorflow-datasets=1

[2020-01-08 20:46] ForeverZyh commented on #1356
It seems that it is the expected behavior?

[2020-01-08 21:11] Conchylicultor commented on #1356
This probably indicates that the labels are not public, or are not present in the original dataset. Probably nothing we can do

[2020-01-08 21:53] Conchylicultor commented on #1351
Here are the available tokeniser: https://github.com/tensorflow/text/blob/master/docs/api_docs/python/text.md

I believe that `WordpieceTokenizer` or `BertTokenizer` should allow subword encoding. Maybe `SentencepieceTokenizer` too though I'm less sure.

[2020-01-09 15:39] cyfra opened #1361 "Better (a.k.a smalller) fake image generator"
Currently our fake_image code (get_random_picture) in fake_data_utils, is creating a truly random image (by randomizing each pixel).

This unfortunately means, that images are non-compresable, which results in large images in test_data directory.

The goal is to:
a) change that method to generate random images that compress better (for example maybe by generating larger 'tiles' instead of single p

[2020-01-09 17:07] Flamefire opened #1362 "Wrong docu for _generate_examples"
The docu for the function `_generate_examples` of `GeneratorBasedBuilder` is wrong or outdated. It states:

[code]

However it must yield a tuple `(key, example)` and I can't even find what `key` is supposed to do or how it is used.

[2020-01-09 17:53] Conchylicultor commented on #1362
Thanks for reporting. I've sent a commit to fix this:

[code]

Closing this, but it may take some times before the fix appear on Github, and even more before the online documentation catch the change.

[2020-01-09 18:04] Conchylicultor commented on #1361
Yes I completely agree. I had plan to add a script to parse all images in the `fake_data/` directory and replace all images by single colour of the same shape (Something like: `np.ones_like(original_image) * np.random.randint(max(original_image))`).

It shouldn't be too difficult, but the tricky part is that some images are compressed inside `.zip`, `.tar`,... archives. So ideally the script shoul

[2020-01-09 19:35] #1362 closed

[2020-01-09 22:19] dojipkim opened #1366 "NonMatchingChecksumError for datasets "flores""
**Short description**
Description of the bug.
tfds.load for "flores" fails due to NonMatchingChecksumError.

**Environment information**
* Operating System: Windows 10
* Python version: 3.7
* `tensorflow-datasets`/`tfds-nightly` version: tensorflow-datasets 1.2.0
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: tensorflow 2.0.0

**Reproduction instructions**

[code]

**Link t

[2020-01-10 16:41] ForeverZyh commented on #1356
Thanks!

[2020-01-10 16:41] #1356 closed

[2020-01-11 04:29] RichardXiao13 opened #1371 "[data request] CMU-Cornell iCoseg"
* Name of dataset: <CMU-Cornell iCoseg>
* URL of dataset: <http://chenlab.ece.cornell.edu/projects/touch-coseg/>
* License of dataset: <Unknown>
* Short description of dataset and use case(s): <The iCoseg dataset should be used for image segmentation - specifically background segmentation. The dataset contains 38 different object groups totalling 643 images.>

Folks who would also like to see this

[2020-01-11 04:37] #1371 closed

[2020-01-12 19:21] Shashankjain12 commented on #1361
Yes i will be happy to work on this issue @Conchylicultor  and @cyfra so if you won't mind can you assign me the issue so that I can work on that.!

[2020-01-13 11:11] adriaangraas commented on #97
I've written this [FlyingChairs dataset](https://github.com/adriaangraas/datasets/tree/flying-chairs-dataset).

The [original dataset split](https://lmb.informatik.uni-freiburg.de/resources/datasets/FlyingChairs/FlyingChairs_train_val.txt) provides only training and validation examples, there are no testing samples. Should I go ahead and provide an own split or is this fine?

What can I do to proc

[2020-01-13 11:14] Ecalpal commented on #97
Sorry, I haven't used tensorflow for a long time.
This dataset does not need test split.

[2020-01-13 11:17] psds01 commented on #1351
Thanks @Conchylicultor

[2020-01-13 12:14] adriaangraas commented on #97
Hi @Ecalpal, can you reopen the issue? It is still valid for other people.
@rsepassi if you can assign me on to the issue I'll PR the dataset.

[2020-01-13 13:30] psds01 commented on #1351
Just FYI, the bug in the above comment is because of the ` \n` subword in the vocab. Since the `save_to_file` writes the file as text file and the token ` \n` gets split into two lines like this:
[code]
Replacing newline from the data with space seems to work. For now.

[2020-01-14 12:03] SicariusNoctis commented on #43
Could this be put into a JSON config option? e.g. `~/.config/tensorflow_datasets.json`:

[code]

[2020-01-14 21:16] payman-ap commented on #1278
worked for me! thanks to zaabek

[2020-01-14 22:39] WilliamHYZhang opened #1382 "PR Templates for Dataset Additions"
**Is your feature request related to a problem? Please describe.**
No template = increase in PR review times.

**Describe the solution you'd like**
Implement a simple PR template for dataset additions, i.e. checkpoints such as "GitHub Gist:", "Lint Code: yes/no", "Add import: yes/no", etc. based on the instructions on adding a dataset. Provides helpful reminder.

**Describe alternatives you've con

[2020-01-14 23:18] Conchylicultor commented on #1382
I'm not familiar with github PR template but this sounds nice :) (as long as people can still submit non-dataset PR).
I assigned it to you if you want to work on this.

[2020-01-15 09:00] Shashankjain12 commented on #1361
hey @Conchylicultor  and @cyfra can we use np.compress() method to compress those images?

[2020-01-15 11:19] Shashankjain12 commented on #1361
I got a bit confused in this case, To solve this problem I was thinking to use ```np.ones_like(original_image) * np.random.randint(np.amax(original_image))```
and for the compressing part I got a bit confused do we need to replace all the previously generated fake image files by it's compressed equivalant generated from above or just replace with newly generated fake files?

[2020-01-15 18:20] Conchylicultor commented on #1361
The goal of the issue is to reduce the size of the `.png` and `.jpg` images present in the folder. `.png` and `jpg` images are format which already compress the image.

The issue is that white noise images by definition cannot be compressed, as they do not have any patterns and contains the maximum information. They are too random to be compressed by the png and jpg compression algorithm, so the r

[2020-01-15 18:33] #1382 closed

[2020-01-15 19:04] Shashankjain12 commented on #1361
So @Conchylicultor  i need to write the script which will iterate over all the archive files can be either ```.tar``` or ```.zip``` format  and then find ```.jpg``` or ```.png``` files and decompress them and replace them with their compressed equivalant images  and then recompress that folder containing images.

[2020-01-15 20:05] Conchylicultor commented on #1361
That's correct. Note that images which are not already inside archives should be compressed as well. You may want to start by this as it may be easier.

For archives, I gave `zip` and `tar` as example, but they might be other format as well. For a list of archive format that we supports, have a look at: https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/download/extractor.

[2020-01-16 09:19] bilalsoomro opened #1391 ""max_examples_per_split" DownloadConfig option not working in COCO dataset"
**Short description**
Downloading COCO dataset with small max_examples_per_split in DownloadConfig still tries to download entire (37.5 GB) dataset in Colab and causes Colab to run out of storage space.

**Environment information**
* Operating System: Google Colab
* Python version: 3.7
* `tensorflow-datasets`/`tfds-nightly` version: 1.3.2
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gp

[2020-01-16 17:04] Conchylicultor commented on #1391
I'm sorry, but this is the intended behavior. TFDS cannot download partially the archive containing the images. This is a technical limitation.
The `max_examples_per_split` will only stop the generation, after the download.

If the dataset is too big, you may have to preprocess it on GCS. See instructions: https://www.tensorflow.org/datasets/gcs

[2020-01-16 17:04] #1391 closed

[2020-01-17 21:19] Conchylicultor opened #1397 "Test that new dataset has correctly set the checksums"
When adding new datasets in our repository, it is possible for developer to forgot the checksums.

We cannot test the actual checksums values in the unittest, but we should at least check the presence or not of the requested urls.

In `dataset_builder_testing.py`, should modify the mocking of the `dl_manager.download` and `dl_manager.download_and_prepare` to validate the checksum urls presence.
ht

[2020-01-18 19:13] Shashankjain12 commented on #1361
hello @Conchylicultor I had created the following script considering only  ```.zip``` file just for now. Kindly look at the script and give me suggestion whether it is alright or not or what do i need to change in the following:-
[code]

[2020-01-18 19:14] Shashankjain12 commented on #1361
I will do the path changes accordingly!!

[2020-01-19 20:25] ghost opened #1402 "Creating custom dataset in tfds format"
**What I need help with / What I was wondering**
I am trying to create a sequence to sequence dataset in the exact format as the `ted_hrlr_translate/pt_to_en` data used in the [transformer example](https://www.tensorflow.org/tutorials/text/transformer). How can I do this?

**What I've tried so far**
I tried to create my own dataset but I am unable to feed my data into the transformer model as the

[2020-01-19 21:46] vijayphoenix opened #1403 "Implement a efficient way to find the number of files in a dataset"
**Is your feature request related to a problem? Please describe.**
We can obtain the no. of files in a dataset in the following way.
[code]
But this solution does not work when we define our own train and test split. For example:
[code]
Here we cannot use the above method for finding the length of `training_set`.

**Describe the solution you'd like**
It would be great if we could have a function o

[2020-01-19 22:15] forrestbao opened #1404 "Bad CRC-32 when extracting scientific_papers"
**Short description**
I have been using the `tfds.load` function to download and split many other summarization datasets, `billsum`, `cnn_dailymail`, and `big_patent`, without any problem.
When trying to do so with `scientific_papers`, I ran into Bad CRC-32 error when trying to load scientific_paper dataset in the extraction step. However, I could manually unzip the file without any CRC-32 error.

[2020-01-20 14:48] Flamefire opened #1405 "num_shards in SplitGenerator is ignored"
**Short description**
Due to introduction of https://github.com/tensorflow/datasets/pull/650 the `num_shards` parameter in `SplitGenerator` is ignored and instead the TFRecord file writer will calculate an own number of shards in `_get_number_shards`.

**Expected behavior**
`num_shards` is honored if specified

**Additional context**
The number of shards determines the maximum number of parallel i

[2020-01-21 17:52] Conchylicultor commented on #1405
Thanks for reporting, this is indeed a bug and feel inconsistent.

+CC @pierrot0 which added this feature

[2020-01-21 18:33] Conchylicultor commented on #1361
Thank you very much. This looks good, but I would refactor the code to make it more scalable to add more formats. How about something like:

[code]

1. Only use a single `os.walk(path)` in a `process_dir`, and recursively call `process_dir`
1. Use `os.path.join` instead of `os.sep`
1. Extract the archive files in a new clear directory: `with tempfile.TemporaryDirectory() as tmpdirname:`. This way,

[2020-01-21 20:07] Conchylicultor commented on #1404
Thanks for reporting. Could you try to download the file manually and create a small python script to extract it to see it you get the same error ?

[code]

[2020-01-21 20:10] Shashankjain12 commented on #1361
Ok thanks for the suggestions @Conchylicultor  i will make the changes accordingly and then add to the repository :+1:

[2020-01-21 20:14] Conchylicultor commented on #1361
Another important thing is to make sure the archive are safe. By default archives are allowed to extract files outside of the default directory. To make sure that paths are safe, have a look at the `_normpath` function in `extractor.py`

[code]

[2020-01-21 20:39] Conchylicultor commented on #1403
Yes, it should be possible nice to expose this information. For the API, how about something like:
How about allowing something like ?

[code]

It should be relatively straightforward to wrap it in a function and expose it to the public API.
This can be done in two steps:

1. Add a `_num_examples_from_split_dict(info.splits, 'train[50%:]')` util function
1. Modify `SplitDict.__getitem__` to expose

[2020-01-21 21:43] Conchylicultor commented on #1402
To create your dataset, have a look at our guide: https://www.tensorflow.org/datasets/add_dataset

For text data, you just have to load your file and yield the examples that you want:
[code]

[2020-01-22 01:48] vijayphoenix commented on #1403
@Conchylicultor Thank you for your input.
You can assign me to this issue, I will be happy to help.

[2020-01-22 02:01] Conchylicultor commented on #1403
Thank you very much, this would be great.

[2020-01-22 08:43] pierrot0 commented on #1405
Thanks for reaching out and reporting on inconsistent comments.
I'll fix those comments.

numShards was originally here because the pre-processing wasn't figuring it out automatically. So Builder authors were using "random" numbers here. The new way the processing is done, tfrecords_writer figures out a value, which I think is better than most humans tended to specify.

Old code is still not fully

[2020-01-22 08:58] Flamefire commented on #1405
Sure, but at least keep it consistent in the JSON or remove it there completely because shardSizes already contains numShards. At least this is what I'd consider a bug.

Well it uses some heuristics which I don't see the reasoning explained so I can't tell how good that heuristic is. See below for more.

Would you have a specific example where _get_number_shards would return something which you'd

[2020-01-22 19:30] Conchylicultor commented on #309
Closing this in favor of: https://github.com/tensorflow/datasets/issues/1403

[2020-01-22 19:30] #309 closed

[2020-01-24 19:47] Conchylicultor commented on #1405
I completely agree that we should fix the inconsistency in num_shards, or at least make the two fields consistent.

However, it is by design that the number of shards is independent of the user system. TFDS API guarantee that generating the data on two different system always generate the same data in the same order.
The user should cannot change it at runtime (allowing this would also force to re

[2020-01-25 23:43] romanngg opened #1420 "S3 slicing API no longer works"
**Short description**
The S3 slicing API described in https://www.tensorflow.org/datasets/splits#s3_slicing_api stopped working and results in the error below.

**Environment information**
Public Python 3 colab, latest TF (1.15.0) and TFDS (1.3.2) through
```pip install tensorflow tensorflow-datasets```

**Reproduction instructions**
[code]

**Link to logs**
[code]

**Expected behavior**
The datas

[2020-01-26 14:57] bosecodes opened #1421 "[data request] 12306_captcha_2019"
* Name of dataset: 12306_captcha_2019
* URL of dataset: https://www.kaggle.com/kmahyyg/12306-captcha-2019
* License of dataset: Other
* Short description of dataset and use case(s): Collection of Captcha images test from a chinese website

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests to prioritize.

And if you'd

[2020-01-26 19:13] Conchylicultor commented on #1420
I believe this was fixed recently. Could you try to install `tensorflow-dataset` v2.0.0, which was released last week ? Or test with `tfds-nightly` ?

[2020-01-27 06:21] romanngg commented on #1420
Thanks, this works! Colab had the version 1.3.2 installed.

[2020-01-27 06:21] #1420 closed

[2020-01-27 20:33] vijayphoenix opened #1424 "[data request] <dataset name>"
* Name of dataset: affNIST
* URL of dataset: http://www.cs.toronto.edu/~tijmen/affNIST/
* License of dataset: None
* Short description of dataset and use case(s)
The affNIST dataset for machine learning is based on the well-known MNIST dataset.
MNIST, however, has become quite a small set, given the power of today's computers, with their multiple CPU's and sometimes GPU's.
affNIST is made by takin

[2020-01-28 03:10] iamtekeste commented on #431
@sklan I would love to know if you need help creating that PR 💙

[2020-01-28 10:22] carlthome commented on #1345
Same error happens on Dataflow with TFDS 2.0.0

Probably still https://github.com/tensorflow/datasets/blob/v2.0.0/tensorflow_datasets/core/dataset_info.py#L665 if I were to guess.

[2020-01-28 12:55] Flamefire commented on #1405
This wouldn't be touched when using more files, would it?

It should be designed that it will result in a regeneration from the existing dataset only if the number of shards do not match. If the user specifies the number of shards explicitely and changes it, he pays for the resharding (which BTW is cheaper then redownloading and generating from scratch)
I don't see this as a problem. There is alwa

[2020-01-28 14:46] JoepMoritzSamsung commented on #519
Careful, license might need clarification! On bottom of the readme of the 'Dataset' subfolder, it states 'The ExDark dataset can be used only for non-commercial research purpose.' See [here](https://github.com/cs-chan/Exclusively-Dark-Image-Dataset/tree/master/Dataset)

[2020-01-28 17:06] jzazo commented on #943
The following code gives me that same error:

[code]

Any idea how to fix this? Thanks!

[2020-01-28 17:12] Conchylicultor commented on #1405
It would be. By default shards are read in parallel and interleaved, so changing the shards will change the order in which examples are read.

The default option are likely not to work because we are using `ds.interleave` instead of a single TFRecordDataset with multiple shards. This is probably something we should improve, to make autosharding works by default (ex: by adding a `ds.shard`, or supp

[2020-01-28 17:29] Conchylicultor opened #1426 "Better integration with tf.data autosharding"
Currently, if a user want to train on multiple workers, he/she needs to manually shard the data using the split API (https://www.tensorflow.org/datasets/splits).

Distribution Strategy [tries to auto-shard](https://www.tensorflow.org/api_docs/python/tf/data/experimental/DistributeOptions#auto_shard_policy) the `tf.data` pipeline. Because we are using `ds.interleave`, this is likely not going to wo

[2020-01-28 17:31] Conchylicultor commented on #1405
If I understand correctly, it seems that what you really want is an easier way to set-up distributed tf.data pipelines. I just created a new feature request to track this: https://github.com/tensorflow/datasets/issues/1426

[2020-01-28 17:33] VMBoehm commented on #943
I think it's due to an incomplete download. The dataset is pretty big and sometimes the download fails. I ran into the same error when I tried to download the dataset directly from the gdrive link, so it might not be a tfds issue at all. I think hosting the data on gdrive is just an unfortunate choice, since it's not meant for the purpose of sharing such big datasets. Sometimes it works after seve

[2020-01-28 17:45] Conchylicultor commented on #1345
Yes, this is likely the issue. Have you tried the bug fix I suggested in my previous message ? Forward a directory to `BeamMetadataDict` which would be accessed from all workers. Updating `BeamBasedBuilder._download_and_prepare` with something like:

[code]

If this works, please open a PR.

[2020-01-28 20:52] jzazo commented on #943
I downloaded the `img_align_celeba.zip` directly from the Google Drive, and I was trying to set it up with `tfds.load(name="celeb_a", data_dir=my_unzipped_folder)`, but it tells me

`ConnectionError: HTTPConnectionPool(host='storage.googleapis.com', port=80): Max retries exceeded with url: /tfds-data/dataset_info/celeb_a/2.0.0/dataset_info.json (Caused by NewConnectionError('<urllib3.connection.HT

[2020-01-28 21:11] vijayphoenix commented on #1424
Made a PR #1427 for adding this dataset.

[2020-01-29 10:48] Flamefire commented on #1302
I did a very simple test: Create a dummy dataset which has numbered samples. Then use the standard TF workflow to distribute this to 2 workers and print out the samples seen by each worker. It does work indeed without fiddling with the distribution and all workers (combined) do see each "image" exactly once. So there is no duplication, i.e. each worker does work on a subset of the whole dataset.

[2020-01-29 10:58] Flamefire commented on #1405
Ok then maybe document that changing the shard number may change the order?

I was following the tutorial at https://www.tensorflow.org/tutorials/distribute/keras. So you are telling me that tutorial is wrong and cannot work? If it was true what you say that TF does not work with the ds.interleave, what is expected to happen instead? Because TF does recognize the underlying number of files used co

[2020-01-29 23:00] makeyourownneuralnetwork opened #1432 "copyright and permissions for celebA dataset"
I have tried quite hard but have not been able to find answers to the following questions about the celebA dataset.

1. I know the dataset is for "non-commercial use" as per the source website. It is not clear if this means we can't redistribute the website, but can commercialise instructions for working with the dataset. (In my own specific case, a member of the HK university replied to give me p

[2020-01-30 01:21] Conchylicultor commented on #1403
I ended up taking this as this was required by other people. It should appear in tfds-nightly within a few days.

[2020-01-30 01:33] Conchylicultor commented on #1302
Thank you for the update. I think it worked because `shuffle_files=False` by default in TFDS. I you were trying with `tfds.load(..., shuffle_files=True)`, my feeling is that two workers may see the same image, unless the user specify the seed explicitly `tfds.ReadConfig(seed=...)`.

But as long as you understand what is happening with determinism and shuffling, you're good to use the auto-sharding

[2020-01-30 01:36] Conchylicultor commented on #1405
Thank you for pointing out to the doc. If indeed, it doesn't works, it is something we should fix. I don't think the fix should involve changing the number of shard though.

Could you paste the full stacktrace that you get when running `model.evaluate(test_dataset)` ideally with a small code snippet to reproduce the issue ?

[2020-01-30 01:43] Conchylicultor commented on #1432
We are not the author of the dataset, so unfortunately we cannot provide legal advice. TFDS is only a TF interface but we are not hosting the data our-self.

You should contact the dataset authors directly: http://mmlab.ie.cuhk.edu.hk/projects/CelebA.html

Closing this as TFDS cannot help for those issues unfortunately.

[2020-01-30 01:43] #1432 closed

[2020-01-30 03:22] vijayphoenix commented on #1403
Well, sorry for the delay on my side and thanks for the API update

[2020-01-30 06:56] Leslie-Fang opened #1434 "Is it possible to add the Kaggle dataset?"
**What I need help with / What I was wondering**
Hi, I just wondering if is it possible to add the kaggle competition dataset into this project?
Do we have any legal concerns?

**What I've tried so far**
A description of what you've tried so far to solve your problem.

**It would be nice if...**
Could we have done anything to make things better (documentation, etc.)?

**Environment information**
(

[2020-01-30 08:05] Flamefire commented on #1302
Yes I think this issue can be closed as "won't fix" unless you intend integration with the TF strategy and make it prepare the dataset only once

[2020-01-30 08:24] Flamefire commented on #1405
Sure:

[code]

From:

[code]

[2020-01-30 12:04] makeyourownneuralnetwork commented on #1432
I don't believe this issue should be closed without considering the question of a TF interface that allows data to be downloaded and transformed

[2020-01-30 16:03] makeyourownneuralnetwork opened #1437 "copyright and permissions for celebA dataset - again"
I don't believe the previous issue should have been closed because the questions remain valid and unanswered. Let me elaborate:

- TF allows users to download the celebA database of images scraped from the internet
- TF is not hosting or redistributing the data, just enabling users to get it
- questions around copyright, photography rights, and permissions for using personal data in ways different

[2020-01-30 16:04] makeyourownneuralnetwork commented on #1437
I should add - I really do want to use the data, I'm not trying to put a downer on it. I'd love a good credible explanation for how TF or others can enable the use of such data that is still ethical.

[2020-01-30 17:07] LexusH commented on #827
Hey @divij30bajaj if you are no longer working on this issue I would love to take a look at it

[2020-01-30 17:23] Conchylicultor commented on #1437
The question is perfectly valid. But this is not a question the TFDS team can answer, as we cannot not providing legal advices. If you have a doubt about whether you can or cannot use the data, you should contact the CelebA owner directly.
We cannot provide an answer on their behalf.

[2020-01-30 17:50] Conchylicultor commented on #1302
Thank you for the confirmation.
I don't think it would be feasible to make tfds distribution aware to generate the data only once. For instance what if each worker is working on different version of the dataset, workers should now what other workers are building to decide if they need to build the dataset or not.
The best thing we could do may be to raise a more explicit error message to forbid ge

[2020-01-30 17:50] #1302 closed

[2020-01-30 17:53] Conchylicultor commented on #1434
Kaggle has a lot of dataset. Which dataset do you want exactly ? To add a dataset, see our contribution guide: https://www.tensorflow.org/datasets/add_dataset
Also note TFDS has a Kaggle helper to gather the data: https://www.tensorflow.org/datasets/api_docs/python/tfds/download/DownloadManager#download_kaggle_data

[2020-01-30 18:03] Conchylicultor commented on #1403
No worries, thank you for the help. It ended up to be a little more tricky than I anticipated.

[2020-01-30 21:40] makeyourownneuralnetwork commented on #1437
thanks @Conchylicultor but this is a question for whether TF should be providing tools to enable downloading and using the dataset

[2020-01-30 21:47] Conchylicultor commented on #1437
From our readme:

If this doesn't answer your question, could you clarify your question ?

[2020-01-31 00:23] makeyourownneuralnetwork commented on #1437
thanks @Conchylicultor I will try to clarify my question.

Should Tensorflow (Google) be providing tools to enable use of data where basic questions of privacy, personal data permissions and creative ownership rights have not been answered.

I understand the readme legal advice. The question is about ethics.

It would be unethical of me to provide a tool to download private copies of software for

[2020-01-31 09:28] ManishAradwad commented on #118
Hii @Conchylicultor @cyfra,
What if we compress txt files into a zip file and use drive links of those zip files for downloading??
Will `iter_archive` work since `extracted_dir` will contain zip files only?
Plz reply as I'd love to fix this issue! Thanks for help!

[2020-02-01 01:44] Leslie-Fang commented on #1434
Thanks, I will check the help APIs: https://www.tensorflow.org/datasets/api_docs/python/tfds/download/DownloadManager#download_kaggle_data

[2020-02-01 01:44] #1434 closed

[2020-02-01 01:54] PerryXDeng opened #1441 "dataset_builder._prepare_split ResourceExhaustedError"
**Short description**
[dataset_builder._prepare_split](https://github.com/tensorflow/datasets/blob/e1c9535c9d9b67e99ee962ee0ac4ce14dfe89a2b/tensorflow_datasets/core/dataset_builder.py#L1047) throws `tensorflow.python.framework.errors_impl.ResourceExhaustedError; Too many open files` when used on imagenet_resized 64x64.

**Environment information**
* Operating System: linux with user privileges, so

[2020-02-02 07:47] pluskid commented on #1199
Today I found that the following code snippet produce different results when connected to two different colab kernel (one several days older than the other)

[code]

What could be the potential reason? Is that a new version of the dataset get generated in tfds and the order changed again? Or some other potential issue?

The two different results are:

[code]

and

[code]

[2020-02-02 17:53] Conchylicultor commented on #1199
Thanks for reporting. Could you make sure you have the last version of TFDS installed ? Colab may use an older version but you can update it within colab with `!pip`.
Also could you try to explicitly pin the version to `data_name = 'mnist:3.0.0'` ?

[2020-02-02 18:35] pluskid commented on #1199
@Conchylicultor Thanks for the tip! The problem is that a subset of my results are analyzed using an old colab (i.e. analyzed a few days/weeks ago). So if I update I will have to re-run all the old analysis. And I'm using internal colab so pip is probably not available.

I will try to pin the version. Is it expected that if the dataset version change, the order of the example will be different? Th

[2020-02-02 23:09] Conchylicultor commented on #1199
We updated the generation such as each example is uniquely identified by a key. The key is used to shuffle examples deterministically. Re-generating the dataset or updating the dataset shouldn't modify the order (as long as the number of example stays the same and keys are the same).
Old versions of TFDS (previous to tfds 2.0.0) do not have this system (at least not by default), so may have differ

[2020-02-02 23:21] JJW152 opened #1442 "Download Error- KITTI Dataset"
**Environment information**
* Operating System: Windows 10
* Python version: 3.7.6
* `tensorflow-datasets` version: 1.2
* `tensorflow`/`tensorflow-gpu` version: 2.0

When running:
[code]

 on Windows 10, I get the following error:

`DownloadError: Failed to get url https://s3.eu-central-1.amazonaws.com//avg-kitti\data_object_image_2.zip. HTTP code: 400.`

If I put the link into my browser, the zip

[2020-02-02 23:30] Conchylicultor commented on #1442
Thanks for reporting. The issue was that urls were joined with `\` instead of `/` due to `os.path.join` on Windows. Sending a fix now which should appear in tfds-nightly in a few days.

[2020-02-02 23:33] JJW152 commented on #1442
Sounds good. Thank you for the quick response. Closing.

[2020-02-02 23:33] #1442 closed

[2020-02-03 08:49] cyfra opened #1444 "[data request] STL-10 dataset"
* Name of dataset: STL-10 dataset
* URL of dataset: http://ai.stanford.edu/~acoates/stl10/
* License of dataset: Imagenet license
* Short description of dataset and use case(s): Very popular image recognition dataset.

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests to prioritize.

And if you'd like to contribute th

[2020-02-03 20:56] Rut-B opened #1446 "Download_and_prepare the300w_lp tensorflow"
## The problem:
I try to get the300w_lp dataset of tensorflow. and I get this error:

### I try to run this code:
[code]

### The error

this code work for me in the past, include today (3.2.20)
I try to run it in google colab, in some different computer, and with some different google account.
but the problem exist.

**Environment information**

* Operating System: google colab
* Python version:

[2020-02-03 21:47] Conchylicultor commented on #1441
Thanks for reporting. Could you check the maximum number of files allowed in your system ?
https://easyengine.io/tutorials/linux/increase-open-files-limit/

During generation, around 1000 temporary shards may be created simultaneously. This allow to shuffle and sort the data deterministically. Done in: https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/shuffle.py

[2020-02-03 21:51] PerryXDeng commented on #1441
Thanks for the reply. Two servers I have access to have upperbound hard limited limited at 130k, and cannot be modified with only user privileges. I will see if I can play with some of the tfds source files in shuffle.py and imagenet_resized.py to fix the issue, and provide any updates if they work.

[2020-02-03 23:00] PerryXDeng commented on #1441
Temporary fix:
It appears that even though the Python soft limit (1024 in both of the servers) is above the number of temporary shard files for the shuffler buckets (1000), it is not high enough for the downloaded data to be split into tfrecords using the shuffler. Even though user privilege is not enough to modify the hard limit, it suffices to simply increase the soft limit in python without roo

[2020-02-04 04:03] mathemakitten commented on #1426
Hi! Thanks for flagging this. Would you be able to expand the issues with `ds.interleave` and autosharding? I'm using a TFDS dataset with a TPU pod but having data pipeline issues which results in extremely slow step times and non-convergence. I was using `experimental_distribute_dataset` but the docs seem to say that TPU pods require `experimental_distribute_datasets_from_function` instead, so I

[2020-02-04 14:05] dhirensr commented on #1444
hello @cyfra : https://github.com/tensorflow/datasets/pull/1038 this ticket has included the dataset already and under review

[2020-02-04 16:46] Conchylicultor commented on #1426
To debug you pipeline you should first try on a single machine. What is the performance when you're loading the full dataset in imgs/sec ? That would give you an idea of the performances. Also, when benchmarking, you should skip first batch as the initial set-up is not representative of the true performance (buffers are loading & cie).

Have a look at the guide for some tips on performances: https

[2020-02-05 21:00] aynesss opened #1452 "How train a tf.data.Dataset"
Hello,
I woould like to train the flowers dataset in this tutorial [https://www.tensorflow.org/tutorials/load_data/images](url)
here is my code

[code]
[code]

[2020-02-05 22:02] Conchylicultor commented on #1452
To debug your program, remove all the unnecessary stuff until you can isolate the element which make the program bug.

[2020-02-06 09:02] ines321 commented on #1452
for example ? what i can remove?

[2020-02-06 14:55] Flamefire commented on #1403
I was wondering if there was a better way to do this. I noticed that tensorflow during the first epoch shows the training progress as something like `32/Unknown` while it shows the correct number instead of "Unknown" during the 2nd epoch.

So there seems to be something that knows the size. It would be great if we could just do `dataset.num_examples` or even `len(dataset)` (overloaded `__len__`) w

[2020-02-06 16:28] tmensink commented on #1221
I get the same error and used a similar workaround.

The resulting checksum is:
`https://s3.eu-central-1.amazonaws.com/avg-kitti/devkit_object.zip 63794 ce0b76b69c0c5f89690a0d65b7302bbbdb962a0c7e8aba6efc7050d1b04b4cf1`

[2020-02-06 17:37] Conchylicultor commented on #1403
@Flamefire TFDS is a wrapper around a `tf.data.Dataset` object. There is currently no way to specify the `len` of the dataset in `tf.data.Dataset` as far as I know.

That could be a nice feature to add to TensorFlow though, but it's not something TFDS can do anything about it while TF do not supports `__len__`.

[2020-02-06 17:41] Conchylicultor commented on #1452
All the processing, try with a simpler model. Basically try to reproduce the same bug with a code snippet of 10 lines of code or less

[2020-02-07 02:28] Conchylicultor commented on #1366
Do you still encounter this ? We do not host the data and sometimes the server hosting the data is down or reject the query if too many people try to download at the same time.
If you still get the issue, you can try to regenerate the checksums by running

This might indicates that the data has changed. In which case, we might want to regenerate the checksums with:

[code]

[2020-02-07 12:20] mrahtz opened #1455 "tfds.Split.ALL does not work"
**Short description**

[splits.py](tensorflow/datasets/blob/master/tensorflow_datasets/core/splits.py) refers to a special split, `tfds.Split.ALL`, that's supposed to contain all splits merged together. Currently, this does not work, raising the error:

[code]

**Environment information**

* `tensorflow-datasets` version: 2.0.0

**Reproduction instructions**

[code]

[2020-02-07 12:33] Flamefire commented on #1403
There is something similar: `tensorflow.python.data.experimental.ops.cardinality`

Example:

    import tensorflow as tf
    from tensorflow.python.data.experimental.ops import cardinality
    import numpy as np

    scale = lambda x: x
    BATCH_SIZE = 64
    examples = np.ones([10*BATCH_SIZE,28,28,1])
    labels = np.ones([examples.shape[0]])
    dataset = tf.data.Dataset.from_tensor_slices((exa

[2020-02-07 18:38] Conchylicultor commented on #1403
We are returning `TFRecordDataset`, but as you pointed out, `TFRecordDataset` do not provides cardinality.

[code]

If there was a way to manually overwrite the cardinality, we could provide this information to `tf.data.Dataset` object as we can compute the number of example after the interleave op. But that would be a feature to add to core TF.

[2020-02-07 18:43] Conchylicultor opened #1456 "Expose the number of examples directly in the tf.data object once supported by TF"
`tf.data` has a `tf.data.experimental.cardinality(ds)` feature to get the number of examples contained in the dataset.

However, this feature do not works with `interleave` and `TFRecordDataset`. If there was a way to overwrite the cardinality of a dataset, we could manually set the number of examples in the dataset after the interleave op.

Related: https://github.com/tensorflow/tensorflow/issues

[2020-02-07 18:44] Conchylicultor commented on #1403
I'm closing this as the original issue has been solved. I opened https://github.com/tensorflow/datasets/issues/1456 to track the cardinality issue.

[2020-02-07 18:44] #1403 closed

[2020-02-08 16:58] ChanchalKumarMaji commented on #1325
@Conchylicultor @cyfra this can be closed :+1: .

[2020-02-08 17:25] #1325 closed

[2020-02-09 10:07] dhirensr commented on #631
@Conchylicultor : are you looking for this link https://1drv.ms/u/s!AmgKYzARBl5ca3HNaHIlzp_IXjs ?

[2020-02-10 18:54] Conchylicultor commented on #631
@dhirensr It seems this is the link already pointed in: https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/image/resisc45.py#L72

Does this works if you replace the manual dir by `dl_manager.download_and_exatract()`, and generate the dataset with `--register_checksums` ?
If so, don't hesitate to update [the dataset](https://github.com/tensorflow/datasets/blob/master/tensorflow_

[2020-02-11 09:39] libichong commented on #233
import tensorflow.contrib.eager as tfe

# Set Eager API
tfe.enable_eager_execution()

it works for me.

[2020-02-11 17:01] Conchylicultor commented on #233
@JoshEZiegler Note that you can still access graph-mode in TF2 using `tf.compat.v1.Session`, `tf.compat.v1.placeholder`,...

[2020-02-12 09:24] dhirensr commented on #631
@Conchylicultor : thank you for your reply.
The links surely works but then it downloads and creates a folder with the same as link name and then it cannot extract because the method automatically detects that filename is not a tar or something.
should i send an intermediate PR for review for better understanding?

[2020-02-12 15:36] bryanko1 commented on #18
Wondering if this dataset has been resolved yet? If not, I can tackle it as well.

[2020-02-14 19:51] VikramTiwari commented on #18
Hey @bryanko1: This has not been resolved yet. Please feel free to take it ahead :)

[2020-02-15 17:32] ucalyptus commented on #1019
@diaoyingyu any ypdates?

[2020-02-15 17:44] ucalyptus commented on #1019
@diaoyingyu this solved all problems :
`#data, info = tfds.load("bigearthnet", with_info=True)`
`import tensorflow as tf`
`import tensorflow_datasets as tfds`
`import apache_beam as beam`
`SPLIT_WEIGHTS = (6, 2, 2)`
`splits = tfds.Split.TRAIN.subsplit(weighted=SPLIT_WEIGHTS)`
`downConfig =`
`tfds.download.DownloadConfig(beam_options=beam.options.pipeline_options.PipelineOptions(),reg```ister_check

[2020-02-16 07:13] manda-creator commented on #1455
From my understanding of tfds.Split.ALL, in other files of code it says that its a special keyword that cannot be used as a key like in your reproduction instructions. split='all' cannot be used. If you did just have tfds.load(name='omniglot') split would default and return all splits. If that helps.

[2020-02-16 16:59] RahulR432 commented on #802
Is it possible to import tensorflow_datasets using any other TF 2.x version other than the beta.

[2020-02-16 20:26] Conchylicultor commented on #802
@RahulR432 `tf.compat.v2.autograph.experimental` should be available in all version of TF 2.0.0, including the last stable 2.1. https://www.tensorflow.org/api_docs/python/tf/autograph/experimental/do_not_convert

[2020-02-17 14:28] laurita opened #1473 "download_and_prepare fails at step FlatMap(_emit_line_to_urls)"
**Short description**
When running `download_and_prepare` script for C4 dataset on Google Cloud Compute, it fails at step `FlatMap(_emit_line_to_urls)` with error:

[code]
and (unless we are missing something) there is no way of starting the script from the place it finished.

**Environment information**
* Operating System: Debian GNU/Linux 9 (see `/etc/os-release` contents below)
* Python version

[2020-02-17 20:40] Alex-Fabbri commented on #1404
I got the same error as the original poster and the same error when trying to extract the file with python as suggested. Just running unzip on the file gives me the data without a problem.

[2020-02-18 17:14] Conchylicultor commented on #1404
Copying the stacktrace here for reference, as it avoid having to download the file.

[code]

[2020-02-18 17:20] Conchylicultor commented on #1473
Thank you for reporting. Could you share here the logs of the worker which crashed ?https://cloud.google.com/dataflow/docs/guides/using-monitoring-intf#error_reporting

[2020-02-18 17:30] adarob commented on #1473
Sorry for the issue @laurita. This should be fixed with version c4/en:2.2.0.  You may need to use tfds-nightly to find that version.

Here is the command that worked for me:
[code]
where beam_requirements.txt contains simply `tfds-nightly[c4]`.

[2020-02-19 19:23] Conchylicultor commented on #631
Thanks for the update. If the file is correctly downloaded, but the extension isn't detected, you can manually set the archive type with:

[code]

With extract_method being one of: https://www.tensorflow.org/datasets/api_docs/python/tfds/download/ExtractMethod

Let us know if this works.

[2020-02-19 19:38] Conchylicultor commented on #365
For update `tfds.features.Sequence()` accept any arbitrary nested feature (including other `tfds.features.Sequence`).
Ex: You can have a nested sequence of int with `tfds.features.Sequence(tfds.features.Sequence(tf.int32))`. You can also use `tfds.features.Tensor(shape=(None,), dtype=tf.int32)` for sequences with a single time dimension and which don't match other more explicit features (Image, Cl

[2020-02-19 19:38] #365 closed

[2020-02-19 19:49] Conchylicultor opened #1482 "Better Drive files download failure"
When there are too many downloads from the same google drive file (ex: usually triggered on Colab), Google Drive redirect to a failure page and the download fails with `NonMatchingChecksumError: Artifact https://drive.google.com/... has wrong checksum.`

There is no real solution currently:

* Try the download latter on.
* Try on a different computer
* Rather than downloading the file in each cola

[2020-02-19 19:52] Conchylicultor commented on #1446
Unfortunately, when too many users download the same drive file (or the same user download the same file multiple times), Google Drive will reject the download.

Created https://github.com/tensorflow/datasets/issues/1482 with some things to try. Closing this as duplicate of the new bug.

[2020-02-19 19:52] #1446 closed

[2020-02-20 05:27] Celine00 opened #1484 "[data request] <newsroom>"
* Name of dataset: <name>
* URL of dataset: <url>
* License of dataset: <license type>
* Short description of dataset and use case(s): <description>

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests to prioritize.

And if you'd like to contribute the dataset (thank you!), see our [guide to adding a dataset](https://g

[2020-02-20 08:57] dhirensr commented on #631
@Conchylicultor : i tried that but the problem is none of the extract method is working because it's a .RAR file and according to the code https://github.com/tensorflow/datasets/blob/9dd9d66e889d9f9c4b94cb1c51dcaadee882dcac/tensorflow_datasets/core/download/resource.py#L59 none of the methods fit for .Rar

is there any method for extracting .rar files with tfds ?

[2020-02-20 12:08] laurita commented on #1473
@adarob Thank you for a quick reply! I will try your suggested approach.

[2020-02-20 15:13] skyhanil1004 opened #1489 "[traffic lights] <traffic lights>"
* Name of dataset: <name>
* URL of dataset: <url>
* License of dataset: <license type>
* Short description of dataset and use case(s): <description>

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests to prioritize.

And if you'd like to contribute the dataset (thank you!), see our [guide to adding a dataset](https://g

[2020-02-20 17:52] rodrigob opened #1490 "[data request] MSRA10K Salient Object Database / THUS10000"
* Name of dataset: MSRA10K Salient Object Database / THUS10000
* URL of dataset: http://mmcheng.net/msra10k
* License of dataset: unknown
* Short description of dataset and use case(s):  Pixel accurate salient object labeling for 10000 images from MSRA dataset.

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests to pri

[2020-02-20 21:49] dhirensr commented on #1361
@Conchylicultor : if no one is working on it I can take a look at it, and you can assign to me then.
I wanted to participate for GSOC 2020 with tfds

[2020-02-20 22:36] dhirensr commented on #1366
@Conchylicultor : even I am able to reproduce this on ubuntu!
[code]
is not working.
however
[code]
with this it's working
can you describe how could we solve this? I would like to contribute to this issue

[2020-02-20 23:11] dhirensr commented on #22
@cyfra : I would like to take this task if no one is working on it.
also regarding the implementation details how would we combine 6 links in dl_manager? does it takes a list of links? or should i have to call dl_manager with 6 different links to download and extract?

[2020-02-20 23:18] dhirensr commented on #17
@rsepassi : i would like to take this task.
however in this dataset there are 3-4 variations like word level and Raw / character level.
which version dataset should be download with this?
could you elaborate a bit?

[2020-02-20 23:36] dhirensr commented on #1490
@rodrigob : i would work on adding this dataset.

[2020-02-20 23:39] dhirensr commented on #1482
@Conchylicultor : do we need to just change the error message in this ticket? could you guide me a little bit so that I could work on it.

[2020-02-20 23:48] dhirensr commented on #1397
@Conchylicultor : I would like to work on this one. could you assign the ticket to me?
also in this should we just check that if os.listdir(current_dir) has the url_checksums file or not?

[2020-02-21 00:33] Conchylicultor commented on #1397
Thank you for looking into this. When the test execute the training pipeline there are multiple call to `dl_manager.download` during the `_generate_examples` call.

The goal of this bug is to ensure that after the generation is complete, the urls from `checksums/**.txt` and the urls passed in `dl_manager.download(url)` matches (all urls called inside `dl_manager.download`) are already present in `

[2020-02-21 14:15] gaurav-singh1998 commented on #1285
Hi, @Conchylicultor I want to take up this issue. Since this will be my first issue with TensorFlow datasets any help on how to move forward with this will be extremely helpful. Thanks.

[2020-02-21 15:21] gaurav-singh1998 commented on #1317
Hi, @Conchylicultor Please assign me this.

[2020-02-21 17:50] Conchylicultor commented on #1285
Thanks for helping us. The goal of this issue is to update the `def checksum(example):` function in `dataset_builder_testing` such as it always produce the same value when the same input is provided:

[code]

[2020-02-21 17:53] gaurav-singh1998 commented on #1285
Hi, @Conchylicultor I would definitely like to help but since I am new to this repository it might take some time for me to solve it. Is it okay?

[2020-02-21 17:58] Conchylicultor commented on #1285
Sure, please note that the function is independent of the rest of the repository, so I would suggest to just experiment on a separate file/colab. Something like:

[code]

Then you can run this file and apply modifications until the `assert` pass.

[2020-02-21 18:24] gaurav-singh1998 commented on #1285
@Conchylicultor Sure and thanks for the reply :)

[2020-02-21 18:43] Conchylicultor commented on #1366
Thanks for confirming. It seems the data has bee updated in https://github.com/facebookresearch/flores/commit/2f4a0e60bd7744304e87e456995fee5c61e87147, so the checksum has changed.

`--registrer_checksums=True` should have updated the `tensorflow_datasets/url_checksums/flores.txt` file. Could you send a PR with the updated checksum file ?

[2020-02-21 20:31] dhirensr commented on #1366
@Conchylicultor : https://github.com/tensorflow/datasets/pull/1494 please review and let me know if any changes are required.
I changed the MINOR IN patch because data got increased and also let me know if I have implemented the check correctly.

[2020-02-23 05:09] zplizzi opened #1496 "CelebaHQ manual data preparation no longer possible?"
The docs [here](https://www.tensorflow.org/datasets/catalog/celeb_a_hq) suggest that you need a set of `.tar` files in order to use the CelebaHQ dataset, but the [linked repository](https://github.com/tkarras/progressive_growing_of_gans) for generating them now has what appears to be a different format for the generated dataset, with `.tfrecords` files. I dug around in the history of that repo but

[2020-02-23 13:38] rushabh-v commented on #1441
@Conchylicultor should I go on with the above fix?

[2020-02-23 22:52] dhirensr commented on #1496
@zplizzi : I agree that the mentioned repo doesn't has any links to download the .tar file, however I think this link would help you https://drive.google.com/drive/folders/1jU-hzyvDZNn_M3ucuvs9xxtJNc9bPLGJ to download celeba 1024x1024 images.

[2020-02-24 04:29] bosecodes commented on #1444
@cyfra  , Is this for GSoC'20? Can I work on this?

[2020-02-24 08:55] ANONYMOUS-GURU commented on #26
@rsepassi  and @cyfra I would like to work on this. I want to contribute in this issue. Can you give me a collaborator invite.

[2020-02-24 08:57] ANONYMOUS-GURU commented on #118
@dynamicwebpaige @cyfra  I am interested to work on it. I am new to open source can you tell me how should I get started?
Thanks for the help.

[2020-02-24 09:15] ANONYMOUS-GURU commented on #1317
Hi @anigasan can you assign me the task of this issue. I would like to work on this.
Thanks!!

[2020-02-24 10:49] punndcoder28 commented on #1421
Hi! Can I work on this?

[2020-02-24 11:46] bosecodes commented on #1335
@boronhub I'd like to work on this!

[2020-02-24 13:00] captain-pool opened #1499 "[Feature Request] Kaggle Datasets Download"
**Is your feature request related to a problem? Please describe.**
kaggle downloader of the core supports downloading only from competitions. However, it doesn't support downloading dataset from kaggle datasets.

**Describe the solution you'd like**
The `download_kaggle_data` function of the kaggle Downloader API must support downloading datasets too.

**Additional context**
This can be integrated

[2020-02-24 15:01] bosecodes commented on #1499
The issue raised here is similar to #232, and was probably said to have been resolved in #381 @captain-pool

[2020-02-24 15:32] bosecodes commented on #1018
Can I work on this? @yihangx

[2020-02-25 08:16] captain-pool commented on #1499
@bosecodes I've added a PR to fix the kaggle datasets downloader. (#1504)
Once that gets merged you can freely use
[code]
for the job.

[2020-02-25 10:09] faajabbari commented on #965
I have exactly the same problem. Have you found any solution?

[2020-02-25 10:43] faajabbari commented on #127
I have exactly the same problem.
I have tried:

I still get the error massage:
NonMatchingChecksumError: Artifact https://drive.google.com/uc?export=download&id=0B7EVK8r0v71pZjFTYXZWM3FlRnM, downloaded to /root/tensorflow_datasets/downloads/ucexport_download_id_0B7EVK8r0v71pZjFTYXZWM3FlDDaXUAQO8EGH_a7VqGNLRtW52mva1LzDrb-V723OQN8.tmp.b487bbf725dd4b8999e33068270ffc74/uc, has wrong checksum.

[2020-02-25 10:44] breadbread1984 commented on #965
no solution yet

[2020-02-25 13:04] npuichigo commented on #674
Any update? In fact the options parameter of tf.io.TFRecordWriter is eaten. (https://github.com/tensorflow/datasets/blob/v2.0.0/tensorflow_datasets/core/file_format_adapter.py#L232) So it's hard for us to add an custom compressed dataset.

[2020-02-25 14:41] abhinavsp0730 commented on #1421
Hey, I would love to work in this but the dataset is compressed in the format of
.zst and tfds only supports

_EXTRACT_METHODS = {
    resource_lib.ExtractMethod.BZIP2: iter_bzip2,
    resource_lib.ExtractMethod.GZIP: iter_gzip,
    resource_lib.ExtractMethod.TAR: iter_tar,
    resource_lib.ExtractMethod.TAR_GZ: iter_tar,
    resource_lib.ExtractMethod.TAR_GZ_STREAM: iter_tar_stream,
    resource_

[2020-02-25 15:16] abhinavsp0730 commented on #1455
Hey, @mrahtz I'm giving you an example of mnist dataset for using all the split data. If you're looking for making a dataset which is having all the split then  it may  helps you.
`all=tfds.Split.Train+ tfds.Split.Test
ds = tfds.load("mnist", split="all")
print(len(ds))
# output= 70000

`

[2020-02-25 17:12] Conchylicultor commented on #1496
Thanks for catching this. It seems the processing is now done with https://github.com/tkarras/progressive_growing_of_gans/blob/master/dataset_tool.py#L454 but not sure where the data is coming from.
If you found where they moved file (e.g. looking at the README history, or even open a bug in their repo.), don't hesitate to send a PR to update the dataset.

[2020-02-25 18:18] Conchylicultor opened #1506 "[GSOC] 🌟 Getting started with contributing to TFDS 🌟"
Edit: If you're looking to contribute to TFDS, please look at our [contributor guide](https://www.tensorflow.org/datasets/contribute).

[2020-02-25 19:45] Conchylicultor commented on #1455
For context, there was a regression when we switched to our new reader.

The question is, should we restore this feature to allow `tfds.load(..., split='all')` ?
From our statistics internally, it seems that this feature has almost never been used so this hasn't been prioritised.

Please +1 this issue if you're interested, so we can evaluate the demand.

[2020-02-25 20:11] Conchylicultor commented on #127
Closing this issue as it should be solved with recent version of TF.

@faajabbari , see: https://github.com/tensorflow/datasets/issues/1482 for explainations on your issues

[2020-02-25 20:11] #127 closed

[2020-02-25 20:12] Conchylicultor commented on #965
For wrong checksums issues: See: https://github.com/tensorflow/datasets/issues/1482

[2020-02-26 11:10] dhirensr commented on #1496
@Conchylicultor : I tried to find the links however was not sucessful. However I found the drive link where one can download the celebahq 1024x1024 images. (https://drive.google.com/drive/folders/1jU-hzyvDZNn_M3ucuvs9xxtJNc9bPLGJ)
so maybe if we are not able to find the link, then we can change the processing code of the dataset to adapt to them.

[2020-02-26 14:52] gongel opened #1516 "downloaded c4 can‘t be loaded"
I use command: python -m tensorflow_datasets.scripts.download_and_prepare --datasets=c4 --data_dir='/home/ubuntu/efs' and c4 has been downloaded. All downloaded files are under the folder /home/ubuntu/efs/downloads and the fold /home/ubuntu/efs/c4/en is empty. When I load c4 like tfds.load(name='c4',split="train", shuffle_files=True, download=False, data_dir='/home/ubuntu/efs'),  and I raised the

[2020-02-26 14:54] gongel commented on #1516
But other dataset like mnist can be loaded.

[2020-02-26 17:12] Eshan-Agarwal commented on #1489
Can You please provide respective information of dataset along with link of data ?

[2020-02-26 17:21] Eshan-Agarwal commented on #1506
Hello, I love to work on this issue can you please assign me this. I can send you PR by day after tomorrow.

[2020-02-26 17:29] Conchylicultor commented on #1506
@Eshan-Agarwal , thanks for your contribution. This bug is just a placeholder with the instructions. You should look at our issue list and pick one from there.

[2020-02-26 17:38] Eshan-Agarwal commented on #624
Hello, I love to work on this issue can you please assign me this.

[2020-02-26 17:38] Eshan-Agarwal commented on #1506
Okay Thanks

[2020-02-26 17:45] Eshan-Agarwal commented on #1484
Can You please provide respective information of dataset along with link of data ?

[2020-02-26 17:47] Eshan-Agarwal commented on #1226
Hello, I love to work on this. Can you please assign me this !

[2020-02-26 18:20] prabhuomkar commented on #624
Hey sure, go ahead. It's yours. Send a PR and reference this issue.

[2020-02-26 18:22] Eshan-Agarwal commented on #624
okay ! I am working on it.

[2020-02-26 18:41] Conchylicultor commented on #1361
Hey, @Shashankjain12 any update on this ? If not don't hesitate to share what you started so someone else could take over.

[2020-02-26 18:43] Conchylicultor commented on #1397
Hey @dhirensr , any update on this ? Let me know if you want to pass over the issue to someone else.

[2020-02-26 18:49] MrAsimZahid commented on #1506
Thank you so much @Conchylicultor for opening this issue. For the past few days, I was looking for a way to contact mentors and a pathway to contribution in TFDF through GSoC'2020.

[2020-02-26 19:07] Conchylicultor opened #1517 "[GSoC] Add Python 3 typing annotations to TFDS"
**Task:** Add Python 3 typing annotations to TFDS repository. Now that Python 2 support is officially dropped, we can add better typing to TFDS.

**Impact:** Everyone using TFDS with a static type checker

**Instructions:**

* Add typing annotations to our API: (Typing annotation guide: https://docs.python.org/3/library/typing.html)
* Check that the typing annotations are valid with https://github

[2020-02-26 19:16] Eshan-Agarwal commented on #624
Hey ! I am getting some error when I am following this instruction by tensorfow on [here ](https://www.tensorflow.org/datasets/add_dataset#overview)

After cloning repository I am run this code
`python tensorflow_datasets/scripts/create_new_dataset.py \
  --dataset my_dataset \
  --type image  # text, audio, translation,...`

And Got error :

  File "tensorflow_datasets/scripts/create_new_dataset.

[2020-02-26 21:20] Conchylicultor opened #1519 "[GSoC] Update datasets to cleanup legacy code"
**Task**: We have migrated to a new reading API, however, some datasets still contains artifact from the old legacy API.

**Instructions:**

For all datasets:

 * Remove all versions using `tfds.core.Experiment.S3: False` from `supported_versions=`
 * Remove `num_shards=` arguments from all `tfds.core.SplitGenerator`
 * Remove the `VERSION = experimental_latest` from the tests.

Example: https://g

[2020-02-27 00:29] Conchylicultor commented on #1516
c4 is one of the biggest dataset that we have and require a lot of preprocessing (multiple days). I strongly doubt that you can generate it from your local machine.

You probably need a distributed system, like Dataflow. See instructions at: https://www.tensorflow.org/datasets/beam_datasets#generating_a_beam_dataset

[2020-02-27 01:16] Conchylicultor commented on #35
For update, the Split API has been updated to be more performant and only read required shards, rather than the whole dataset.
This should significantly increase performances.

For automatic multiprocessing, I'm closing this issue in favor of https://github.com/tensorflow/datasets/issues/1426

[2020-02-27 01:16] #35 closed

[2020-02-27 01:22] Conchylicultor commented on #54
Designing a good API for this which would satisfy most use cases while being simple and performant ended up more complicated than first though. It's not clear how to balance the different trade-offs (see discussion in https://github.com/tensorflow/datasets/issues/662).

I think this is still one of the main pain point of TFDS / tf.data, but. closing this issue in favor of https://github.com/tensor

[2020-02-27 01:22] #54 closed

[2020-02-27 01:30] Conchylicultor commented on #350
Unfortunately, we don't really have a fixed release schedule. We publish updates gradually once they are ready.

See: https://github.com/tensorflow/datasets/releases for the history of release.

[2020-02-27 01:30] #350 closed

[2020-02-27 01:33] Conchylicultor commented on #406
Closing this as it seems fixed.
Note that you can also overwrite `EXAMPLE_DIR` to customize the fake data dir.

See: https://www.tensorflow.org/datasets/api_docs/python/tfds/testing/DatasetBuilderTestCase?version=nightly

[2020-02-27 01:33] #406 closed

[2020-02-27 01:37] Conchylicultor commented on #478
Do we have a concrete example of dataset which require this ?

[2020-02-27 01:41] Conchylicultor commented on #631
@dhirensr thanks for the update. This is the reason why it requires manual download. Solving this would require updating TFDS to support rar file extraction.

[2020-02-27 01:49] Conchylicultor commented on #1125
Please don't hesitate to send a PR with the updated config and checksums. However, this would have to be done every few month as the wikipedia data is only kept a limited amount of time.

Not sure there is a long term solution for this.

[2020-02-27 01:50] Conchylicultor commented on #1042
Closing this in favor of https://github.com/tensorflow/datasets/issues/906

[2020-02-27 01:50] #1042 closed

[2020-02-27 01:51] Conchylicultor commented on #737
Closing this now S3 has been rolled out.
https://github.com/tensorflow/datasets/issues/1519 to track cleanup legacy code.

[2020-02-27 01:51] #737 closed

[2020-02-27 01:55] Conchylicultor commented on #765
Seems obsolete

[2020-02-27 01:55] #765 closed

[2020-02-27 02:17] Eshan-Agarwal opened #1521 "Got error when trying to add a new dataset in tfds"
Hey ! I am getting some error when I am following this instruction by tensorflow on [here ](https://www.tensorflow.org/datasets/add_dataset#overview)

After cloning repository I am run this code
`python tensorflow_datasets/scripts/create_new_dataset.py \
  --dataset my_dataset \
  --type image  # text, audio, translation,...`

And Got error :

  File "tensorflow_datasets/scripts/create_new_dataset

[2020-02-27 02:28] vijayphoenix commented on #1521
Try running this command
[code]

[2020-02-27 02:41] Eshan-Agarwal commented on #1521
Yeah I done that and after running it says search for TODO(mydataset) where to find it ?

[2020-02-27 02:58] vijayphoenix commented on #1521
See your output log.

Most probably this will be the path

[code]

[2020-02-27 03:00] Eshan-Agarwal commented on #1521
No I found mydataset.txt in url_checksums.

[2020-02-27 03:12] vijayphoenix commented on #1521
`mydataset.txt`, `my_dataset.py` `mydataset_test.py` all are different files.

I gave you the possible file path of  `my_dataset.py` and `mydataset_test.py` files

Which file do you want?

[2020-02-27 04:31] gaurav-singh1998 commented on #1285
Hey @Conchylicultor, so I added a line in between `elif isinstance(element, np.ndarray):` and `ret += element.tobytes()` to convert the *dtype* of the *numpy array* from **object** to **S3** i.e. `element = element.astype('S3')` and everything worked fine. So, I wanted to ask to apply these modifications and open a Pull Request.

[2020-02-27 04:44] Eshan-Agarwal commented on #624
Hey ! I completed my work, can I send you PR ?

[2020-02-27 04:57] gaurav-singh1998 commented on #1285
Hey, @Conchylicultor I added a test between the lines `elif isinstance(element, np.ndarray):` and `ret += element.tobytes()` to check if the *type* of the *dtype* of the numpy array is *object* and if this true then I changed it to *S3* i.e.
[code]
I wanted to know if this correct and should I go ahead and apply the same modifications to the main repository and open a pull request?

[2020-02-27 05:15] Eshan-Agarwal commented on #1521
Hey thanks for helping I got another error don't understand it. I make my_dataset.py and my_dataset_test.py file and update it in __init__.p also which is in Image directory also create mydataset.txt as mentioned now when I am trying this code
`# default data_dir is ~/tensorflow_datasets
python -m tensorflow_datasets.scripts.download_and_prepare \
  --register_checksums \
  --datasets=my_new_datas

[2020-02-27 05:21] vijayphoenix commented on #1521
Please reopen the issue, so even other people can help you out.

[2020-02-27 05:30] Conchylicultor commented on #1285
@gaurav-singh1998 This won't works as `S3` correspond to fixed string of len 3 while this should handle arbitrary string. One way to solve this is to convert the np array into a list of str and compute the hash as a function of np_array.shape and flat_str_list.

[2020-02-27 05:37] Eshan-Agarwal commented on #1521
I think there is some version problem. How to decide right version for dataset ?

[2020-02-27 07:07] puneetjindal commented on #486
I am running this code from my tf 2.1.0 docker on ubuntu 16.04 and my host machine directory is mounted inside the docker. Is there any way that i can use host volume mounted inside docker instead of GCS bucket?

[2020-02-27 07:34] vijayphoenix commented on #1521
When implementing a new dataset, you can keep the version of dataset equal to `1.0.0`

[2020-02-27 08:04] gaurav-singh1998 commented on #1285
@Conchylicultor Have a look at this,

[code]

[2020-02-27 08:47] gaurav-singh1998 commented on #1285
@Conchylicultor what about this,
[code]

[2020-02-27 09:35] dhirensr commented on #1397
@Conchylicultor : Yes I unassigned from this ticket. I am working on some other ticket :smile:

[2020-02-27 09:46] dhirensr commented on #1444
@bosecodes : I have already added in  https://github.com/tensorflow/datasets/pull/1038 and working on the improvements

[2020-02-27 09:54] Eshan-Agarwal commented on #1521
There is some problem in cogiguraton of wmt_translate while I am run download_and_prepare locally using
 `# default data_dir is ~/tensorflow_datasets
python -m tensorflow_datasets.scripts.download_and_prepare \
  --register_checksums \
  --datasets=my_new_dataset`

but get this error

  File "C:\Users\eshan\Anaconda3\envs\keras-gpu\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mo

[2020-02-27 10:11] dhirensr commented on #631
@Conchylicultor : so I don't need to update anything in this dataset right?

[2020-02-27 11:25] dhirensr commented on #587
@Conchylicultor  : I am working on this ,will send a PR this weekend.

[2020-02-27 15:03] abhinavsp0730 commented on #1519
Hi @Conchylicultor  I'm Abhinav Prakash and I'm working on this

[2020-02-27 15:56] vijayphoenix commented on #1519
PR https://github.com/tensorflow/datasets/pull/1522 addresses this issue.
Thank you

[2020-02-27 16:33] vijayphoenix commented on #1496
Hi @Conchylicultor @dhirensr @zplizzi
I don't think a lot of changes will be required if we use the .zip files from this [drive link](https://drive.google.com/open?id=11Vz0fqHS2rXDb5pprgTjpD7S2BAJhi1P).

Thank you

[2020-02-27 16:46] vijayphoenix commented on #1221
Fixed by PR https://github.com/tensorflow/datasets/pull/1507

[2020-02-27 17:01] #1221 closed

[2020-02-27 17:26] abhinavsp0730 opened #1526 "Got an error while "Merging Splits with the Legacy API""
**Short description**
Description of the bug.
Got an error while "Merging Splits with the Legacy API". See the code below.

**Reproduction instructions**

[code]

*
**Expected behavior**
What you expected to happen.
Returning 70000 records.
but Got an error
"AssertionError: Unrecognized instruction format: (NamedSplit('train')"

*

[2020-02-27 17:29] abhinavsp0730 commented on #1526
Hey, @Conchylicultor  would you please look into this. I think it's a bug and if it's so, Kindly guide me on how to fix it.
Thanks

[2020-02-27 17:42] Conchylicultor commented on #631
@dhirensr Yes, the issue is that RAR license is too restrictive, so we cannot include this at Google.

I'm gonna close this as there is no straightforward answer and it only affect a single dataset. We might reconsider this if we encounter other datasets using RAR.

[2020-02-27 17:42] #631 closed

[2020-02-27 17:44] Conchylicultor commented on #1526
The legacy split is deprecated and do not works anymore.
You should use the new split API: https://www.tensorflow.org/datasets/splits

`split='train+test'`

[2020-02-27 17:44] #1526 closed

[2020-02-27 17:50] abhinavsp0730 commented on #1526
Okay, @Conchylicultor  I got it but I think the error should be better if it's like "The legacy API is depreciated please use new S3.API"?

[2020-02-27 17:55] Conchylicultor commented on #1526
You're right. Don't hesitate to send a PR to change the error message when a sub-split is passed.

[2020-02-27 18:02] abhinavsp0730 commented on #1526
Hey, @Conchylicultor would you please guide where I have to do the changes So that I'll change it accordingly and then I'll send a PR.
Thanks.

[2020-02-27 19:47] Yash-Varshney commented on #1506
Thank you @Conchylicultor. these instructions are really helpful to get started ..

[2020-02-27 19:49] gaurav-singh1998 commented on #1397
@Conchylicultor: Can I take up this issue?

[2020-02-27 20:11] Yash-Varshney commented on #1519
hi @Conchylicultor. I am Yash, as this issue addresses a big problem. I would love to work on it and will inform about the results by saturday.
Thanks

[2020-02-27 20:25] Conchylicultor opened #1528 "[GSoC] Support more datasets format for visualization with tfds.show_examples()"
**Task**: Currently [tfds.show_examples()](https://www.tensorflow.org/datasets/overview#visualization) only works for supervised images datasets. It would be good to extend the heuristic to more dataset types, like:
* object detection
* 2-images side by side (ex: `div2k`, `cityscapes`)
* video (generated as gifs) ?
* texts ?
* audio ?

**Instructions**:

* Update `show_examples` [visualization.py]

[2020-02-27 20:56] Conchylicultor opened #1530 "[GSoC] Update documentation generation script to display a few examples"
**Task:** It would be nice to have our dataset catalog to display a snippet of the dataset content, similarly to https://www.tensorflow.org/datasets/overview#visualization.

**Instructions:**

* Assume that the datasets are already generated and that you could load a few examples with either with `ds.take()` or the subsplit-API (DO NOT generate all datasets yourself, but only test on a few ones)
*

[2020-02-27 21:26] vijayphoenix commented on #1517
@Conchylicultor I was thinking of editing the my_dataset generator script, so that all new datasets will have Python3 typing annotations.
For example,
[code]
Please share your views and guide me on the same
Thank you

[2020-02-27 22:08] dhirensr commented on #1528
@Conchylicultor : working on translate type datasets.

[2020-02-27 22:47] Conchylicultor commented on #1517
@vijayphoenix, That's a good idea. To avoid boilerplate, you could add a `core/types.py` with:

[code]

And then have: `_generate_examples() -> tfds.types.KeyExample:` with:

[2020-02-27 23:32] Conchylicultor opened #1534 "[GSoC] Script to cleanup the testing/metadata dir"
**Task**: Our [metadata folder](https://github.com/tensorflow/datasets/tree/master/tensorflow_datasets/testing/metadata) is growing big, but some of the content is obsolete and do not match any existing version. We should add a script to cleanup the metadata versions which do not exists anymore.

**Instruction**

* Add an util to `registered.py` to get all available versions:

[code]

* Add a scri

[2020-02-28 02:21] npuichigo commented on #674
@Conchylicultor  @ChanchalKumarMaji @pierrot0

[2020-02-28 04:17] Conchylicultor commented on #1526
@abhinavsp0730 , just try to find a good place to check the input split type and raise an error if the input is not the expected format.

[2020-02-28 05:37] Player0109 commented on #1018
I am a deep learning enthusiast and my specialization is image recognition and object detection.
So I want to work on this dataset.
Can I do so? @yihangx

[2020-02-28 05:39] Player0109 commented on #1106
I am a deep learning enthusiast  and I want to work on this dataset.
Can I do so? @zishanahmed08

[2020-02-28 05:41] Player0109 commented on #997
I am a deep learning enthusiast, so I want to work on this dataset.
Can I do so? @powergkrry

[2020-02-28 05:42] Player0109 commented on #998
I am a deep learning enthusiast, so I want to work on this dataset.
Can I do so? @ksachdeva

[2020-02-28 05:43] Player0109 commented on #1020
I am a deep learning enthusiast, so I want to work on this dataset.
Can I do so? @MyWhiteCastle

[2020-02-28 05:44] Player0109 commented on #1073
I am a deep learning enthusiast, so I want to work on this dataset.
Can I do so? @netw0rkf10w

[2020-02-28 05:44] Player0109 commented on #1144
I am a deep learning enthusiast, so I want to work on this dataset.
Can I do so? @deathstrikex

[2020-02-28 05:45] Player0109 commented on #1148
I am a deep learning enthusiast, so I want to work on this dataset.
Can I do so? @leonardoaraujosantos

[2020-02-28 05:45] Player0109 commented on #1149
I am a deep learning enthusiast, so I want to work on this dataset.
Can I do so? @karthika95

[2020-02-28 05:45] Player0109 commented on #1202
I am a deep learning enthusiast, so I want to work on this dataset.
Can I do so? @shun-lin

[2020-02-28 05:47] Player0109 commented on #1226
I am a deep learning enthusiast, so I want to work on this dataset.
Can I do so? @Ste29

[2020-02-28 05:48] Player0109 commented on #1237
I am a deep learning enthusiast, so I want to work on this dataset.
Can I do so? @nami-reddy

[2020-02-28 05:49] Player0109 commented on #1317
I am a deep learning enthusiast, so I want to work on this dataset.
Can I do so? @anigasan

[2020-02-28 05:50] Player0109 commented on #1335
I am a deep learning enthusiast, so I want to work on this dataset.
Can I do so? @boronhub

[2020-02-28 07:36] #1437 closed

[2020-02-28 07:37] Conchylicultor commented on #1473
This should be fixed with the last versions

[2020-02-28 07:37] #1473 closed

[2020-02-28 07:43] Conchylicultor commented on #910
@rodrigob Sorry for the late answer, but this is a very good question. As first step, an easy solution would be to have an image filled with `-1`. This is sub-obtimal for decoding but shouldn't take more space due to png encoding. For decoding, users can still pass `tfds.decoder.SkipDecoding`

[2020-02-28 07:46] Conchylicultor commented on #807
Closing this as the issue seems to be geo-restriction access. So not sure we can do anything from our end. Don't hesitate to post below is someone has a good solution.

[2020-02-28 07:46] #807 closed

[2020-02-28 07:48] Conchylicultor commented on #1452
Closing this. Please reopen a new issue with a ~10 lines reproductible code snippet if the problem hasn't been solved.

[2020-02-28 07:48] #1452 closed

[2020-02-28 07:51] Conchylicultor commented on #1456
Closing this as this has been added in tfds-nightly.

[2020-02-28 07:51] #1456 closed

[2020-02-28 07:58] Eshan-Agarwal commented on #624
Hey here is my PR #1535.
Thanks !

[2020-02-28 09:04] #1521 closed

[2020-02-28 09:10] Eshan-Agarwal commented on #1534
Hey! I want to confirm dew things.
 The code snippet you given above is a util to `registered.py` which get all available versions of datasets ?
And the code which we have to add in `scripts/` have `--dry_run` option which only prints folders to delete ?

[2020-02-28 13:38] gongel commented on #1098
Changing 20190301(date) to 20200220 works.
Ref: [https://dumps.wikimedia.your.org/backup-index.html](https://dumps.wikimedia.your.org/backup-index.html)

[2020-02-28 13:43] gongel opened #1537 "Generating a Beam dataset With a custom script"
The code below will raise error:
"AttributeError: module 'apache_beam' has no attribute 'options'"

`import tensorflow_datasets as tfds
import apache_beam as beam

flags = []

dl_config = tfds.download.DownloadConfig()
dl_config.beam_options = beam.options.pipeline_options.PipelineOptions(flags=flags)

builder = tfds.builder('wikipedia/20190301.en')
builder.download_and_prepare(
    download_confi

[2020-02-28 14:03] faajabbari commented on #282
Could you please explain how to create a checksum file, or refer to a link about this respect ?

[2020-02-28 15:48] Eshan-Agarwal commented on #624
Please have a look I update and correct it and linting is passed

[2020-02-28 18:00] Eshan-Agarwal commented on #583
Hey ! is this is open now for add mentioned data set ?

[2020-02-28 18:10] Eshan-Agarwal commented on #1223
Hey! Can you please provide further information regarding this ?

[2020-02-28 19:18] Conchylicultor commented on #1223
Don't hesitate to send a PR to update the missing info. From the comment:

[2020-02-28 19:25] Conchylicultor commented on #583
This has been merged, so can be closed.

[2020-02-28 19:25] #583 closed

[2020-02-29 00:11] ksachdeva commented on #998
Hi @Player0109

Please go ahead. You should be able to reuse the code from my repo mentioned above.

Thanks

[2020-02-29 08:28] ashutosh1919 opened #1544 "ModuleNotFoundError: No module named 'tensorflow_datasets'"
**Short description**
Interpreter is not able to import `tensorflow_datasets.core` in case of unstable versions of pythons. For example, code won't run in case of python 3.5 but it runs for 3.6. I have 3.7.6 in which it is not running. The problem is with `sys.path`. I think we need to insert tfds dir into `sys.path` .

**Environment information**
* Operating System: Windows 10
* Python version: 3

[2020-02-29 13:44] Eshan-Agarwal commented on #1544
Hello,  you have to check two things first make sure you have installed tensorflow datasets using
`pip install tensorflow_datasets`  in your environment and second is you have to run following command:
`python tensorflow_datasets/scripts/create_new_dataset.py --dataset my_dataset --type image`  by using this command four files are created in you installed tensorflow datasets directory
`my_dataset.

[2020-02-29 13:51] ashutosh1919 commented on #1544
@Eshan-Agarwal , Thanks for your comment.

(1) There is no need to install `tensorflow_datasets` using pip since we are in the same dir of datasets in which `tensorflow_datasets` dir exists. So, py can import `core` from `tensorflow_datasets`.
(2) If you install `tensorflow_datasets` using pip, then your new dataset files generated using
[code]
will not be created in the current contribution dir o

[2020-02-29 13:57] Eshan-Agarwal commented on #1544
Yes I also have same problem and it install it in site-packages/tensorflow_datasets. Maybe its a bug

[2020-02-29 14:01] ashutosh1919 commented on #1544
Yeah. That's the bug. Now if it's very urgent and if you want temporary fix, then do following :

(1) uninstall the `tensorflow_datasets` from $PYTHONPATH using
[code]
(2) Add these 2 lines in create_new_datasets.py
[code]

Above PR #1545 solves this problem. But till the time it merges, you can do the above steps.

[2020-02-29 14:07] Eshan-Agarwal commented on #1544
Ok thanks for this bug fixing

[2020-02-29 17:59] shun-lin commented on #1202
Hi @Player0109 sure, thanks for your contribution!

[2020-03-01 09:24] orionjiang opened #1546 "minst"
* Name of dataset: <name>
* URL of dataset: <url>
* License of dataset: <license type>
* Short description of dataset and use case(s): <description>

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests to prioritize.

And if you'd like to contribute the dataset (thank you!), see our [guide to adding a dataset](https://g

[2020-03-01 09:44] rohanreddych commented on #1534
@Conchylicultor the `iter_dataset_full_names` is returning empty generator because `_DATASET_REGISTRY` is empty how should I test my script?

[2020-03-01 10:02] rohanreddych commented on #1534
@Conchylicultor Github skips through the empty directories do you want the script to remove those directories.

[2020-03-01 11:00] Ste29 commented on #1226
I don't know how it works. Do I have to choose one of you? @Eshan-Agarwal @Player0109

[2020-03-01 11:04] Eshan-Agarwal commented on #1226
You can give it to @Player0109  I can work on other one .

[2020-03-01 11:13] vijayphoenix commented on #1546
@orionjiang Hi, can you provide some links to the datasets.

FYI, the MNIST dataset is already a part of `tensorflow/datasets`.
For list of available datasets, see https://www.tensorflow.org/datasets/catalog/overview

[2020-03-01 13:00] vvkio commented on #1530
I've started working on this, I will make a PR begging of next week

[2020-03-01 16:08] mrahtz commented on #1455
(Personally, I don't need this feature - I only reported it because I thought it might be a regression. I'd be happy with this issue being closed.)

[2020-03-01 19:20] Conchylicultor commented on #1546
As @vijayphoenix pointed out, mnist already exists in TFDS

[2020-03-01 19:20] #1546 closed

[2020-03-01 20:40] Conchylicultor commented on #1534
@Eshan-Agarwal yes, exactly

@rohanreddych To make `iter_dataset_full_names` return datasets, you have to import tensorflow_datasets as datasets are registered in __init__.py.
The goal of the script is to remove folders which correspond to old versions. Ex: `metadata/mnist/1.0.0/` should be deleted as `mnist` only exists in version `3.*.*`

[2020-03-01 20:43] Conchylicultor commented on #1455
Thanks for the update. I removed Split.ALL from the API and the doc. So hopefully users will stop being confused about this.

[2020-03-01 20:43] #1455 closed

[2020-03-02 03:02] rohanreddych commented on #1534
Thank you will make the changes now.

[2020-03-02 05:44] ashutosh1919 commented on #1517
@Conchylicultor, I have added first PR for this issue which adds `pytype` in 3 files. I will add multiple PRs and I will only include 3-4 files per PR so that it will be easy for reviewer to review.

[2020-03-02 08:36] LuigiSavino opened #1551 "Dataset wrong checksum in download"
**Short description**
Cannot load properly camelyon dataset.

**Reproduction instructions**

[code]

**Output Error**
[code]
**Expected behavior**
It should load all datasets from Zenodo but i think some urls have changed.

**Additional context**
Here are all of the URLs and checksums:
Name

**camelyonpatch_level_2_split_test_meta.csv**

https://zenodo.org/record/2546921/files/camelyonpatch_level_

[2020-03-02 14:04] Eshan-Agarwal commented on #1551
This patch_camelyon is which type of data image , text, object_detection etc

[2020-03-02 14:16] LuigiSavino commented on #1551
I don't know what changed but suddenly after 10 equal tries, it worked.

Should  I close this issue?

[2020-03-02 14:19] Eshan-Agarwal commented on #1551
Actually its looks like checksum file for this dataset is not correctly mentioned. I am updating it and send PR.

[2020-03-02 14:19] Eshan-Agarwal commented on #1551
10 equal  tries means you run 10 times and it worked after it without any changes ?

[2020-03-02 14:22] LuigiSavino commented on #1551
Yes. After the forth time I always deleted already downloaded elements and restarted downloads.

Could it be some kind of server error zenodo side sending the wrong checksum?

Are you sure it's not correct? It worked...late but it worked.

[2020-03-02 15:03] Eshan-Agarwal commented on #1551
According to your error

tensorflow_datasets.core.download.download_manager.NonMatchingChecksumError: Artifact https://zenodo.org/record/2546921/files/camelyonpatch_level_2_split_train_x.h5.gz, downloaded to /home/luigi/tensorflow_datasets/downloads/zeno.org_reco_2546_file_came_leve_2_spli_trbOY5E-X_2wontwSZI65F3fEMTim90H_hpA4Swq0obJw.gz.tmp.5ca1a06c29894e8c8c543733097e6702/camelyonpatch_level_2_s

[2020-03-02 15:04] Eshan-Agarwal commented on #1551
I don't think it is server error.

[2020-03-02 15:07] LuigiSavino commented on #1551
Let's wait

[2020-03-02 15:07] LuigiSavino commented on #1551
Just guessing 😁

[2020-03-02 15:25] vijayphoenix opened #1552 "Remove legacy Python 2 code"
As support for Python 2 has been dropped and we have also started adding Python 3 typing annotations https://github.com/tensorflow/datasets/issues/1517.
I think we can now remove all lot of unnecessary code like

[code]

[2020-03-02 17:45] Conchylicultor commented on #1551
Thanks for reporting. Please note that we do not use md5 for checksums, but sha256 I believe. If it worked after some times, it may indicates the server was temporary down or returned wrong checksum.

[2020-03-02 17:56] Eshan-Agarwal commented on #1551
@Conchylicultor  I am running
 `python -m tensorflow_datasets.scripts.download_and_prepare \
  --register_checksums \
  --datasets=my_new_dataset`

locally after removing all URL in checksum file for `patch_camelyon.txt` and then for

`camelyonpatch_level_2_split_train_x.h5.gz`

 got check sum : `https://zenodo.org/record/2546921/files/camelyonpatch_level_2_split_train_x.h5.gz 29275141 c5a38bcaa89

[2020-03-02 18:29] dhirensr opened #1555 "Remove pieces of code that support python2"
as we are dropping support for python2 as in https://github.com/tensorflow/datasets/issues/1552 and https://github.com/tensorflow/datasets/issues/1517
there are few pieces of code which are written to support python2 only and can be reomved like https://github.com/tensorflow/datasets/blob/950309fec49d0b789878ba52d108362f354bd4a4/tensorflow_datasets/core/download/download_manager.py#L391

@Conchyli

[2020-03-02 19:10] vinayvr11 commented on #1291
Hello I would like to work on these datasets. This will be my first contribution so please guide me on this.
Thanks

[2020-03-02 19:14] vinayvr11 commented on #301
Hello I would like to add this data at tfds. So could you please guide me on this as this will be my first contribution.
Thanks

[2020-03-02 19:35] vinayvr11 commented on #1528
Hello I would like to contribute on this issue. This is my first time so could you please guide me. So I only need to make a visualisation of these formats by implementing some updates in visualization_test.py.

[2020-03-02 21:03] Conchylicultor commented on #1555
Sounds good to me, yes don't hesitate to send PR to cleanup the code.
I'm just marking this bug as duplicate of https://github.com/tensorflow/datasets/issues/1552 to have a single bug to track all Py2 cleanup.

[2020-03-02 21:03] #1555 closed

[2020-03-02 21:50] LuigiSavino commented on #1551
Ok. Should I close this issue?

[2020-03-03 06:31] vinayvr11 commented on #1528
@Conchylicultor : I am working on coco object detection dataset but this dataset was to big to load in my colab so can i use another dataset apart from tensorflow datasets because tensorflow object detection datasets are too big.

[2020-03-03 08:25] tanviagwl98 commented on #1552
I agree with your issue as with the advancement we cover up limitations.

[2020-03-03 08:28] tanviagwl98 opened #1560 "Documentation more precise"
**Is your feature request related to a problem? Please describe.**

So far after getting through the documentation, I found links to software downloads required for the application are not provided.

**Describe the solution you'd like**

It would set easy path for newbies if link to required softwares be attached with the procedure explained in the documentation.

[2020-03-03 09:19] vijayphoenix commented on #1560
@tanviagwl98 what software are you trying to download?
Please provide the link to the documentation, you are describing.

[2020-03-03 12:56] vinayvr11 commented on #1361
@Conchylicultor : I used `np.ones_like(original_image) * np.random.randint(np.amax(original_image)) ` this method but this method removes all the data of image and convert that image into gray all the information loss.
![image](https://user-images.githubusercontent.com/43430992/75777707-71839c80-5d7c-11ea-96c7-0d413664efda.jpg)

[2020-03-03 13:02] vinayvr11 commented on #1361
can i use lossless method to compress images

[2020-03-03 13:06] tanviagwl98 commented on #1560
https://github.com/tensorflow/docs
This is the documentation link. If google colaboratory link can be directly added to this would be helpful... and also other sources to implement tensorflow .

[2020-03-03 15:29] Fengmoon93 commented on #301
have you ever thought to filter the dataset or just convert the 60 csv files into tfrecord?
recently I wanna find the driving behavior dataset,but I think that highd dataset need to be filtered.

[2020-03-03 17:04] Conchylicultor commented on #1560
I'm not sure I understand what you are trying to achieve. Could you try to rephrase ?
The link https://github.com/tensorflow/docs isn't part of TFDS.

To install tfds, just use `pip install tensorflow-datasets` as explained in https://www.tensorflow.org/datasets/overview#installation

[2020-03-03 17:06] Conchylicultor commented on #1361
@vinayvr11, removing the image content is exactly the point of the issue. Those images are just fake data used to test dataset generation pipeline. The content does not matter so we want them to be as small as possible.

[2020-03-03 17:17] Conchylicultor commented on #1528
@vinayvr11 Why don't you have a look at our catalog which display the download size ? For instance voc/2007 is about 1GB, https://www.tensorflow.org/datasets/catalog/voc

[2020-03-03 18:45] vinayvr11 commented on #1361
What about setting a threshold for height and width of image and reduce the images dimension to this threshold value using openCV.
like->
`import cv2 as cv
scale = 20 #This variable reduced image size by 80 percent
width = int(img.shape[1]*scale/100) #Scaling of the image width
height   = int(img.shape[0]*scale/100) #Scaling of the image height
dim = (width,height)
img_resize = cv.resize(img,dim,i

[2020-03-03 18:50] vinayvr11 commented on #1361
ok thanks for your suggestion @Conchylicultor. What about setting a threshold for height and width of image and reduce the images dimension to that threshold value using openCV.
like->
`import cv2 as cv
scale = 20 #This variable reduced image size by 80 percent
width = int(img.shape[1]*scale/100)
height   = int(img.shape[0]*scale/100)
dim = (width,height)
img_resize = cv.resize(img,dim,interpolati

[2020-03-03 19:07] Conchylicultor commented on #1361
@vinayvr11, can you give more context why you want to compress images rather than using the gray-scale as suggested ?
It it important that images keep the same shape, but content itself do not matter. The current images are already white noise, so do not contains any useful information.

[2020-03-03 19:15] Conchylicultor commented on #1560
Additionally, to see the list of required dependency, you can look at our setup.py: https://github.com/tensorflow/datasets/blob/master/setup.py#L42

But those are automatically added when installing with `pip install`.

[2020-03-03 20:34] vinayvr11 commented on #1361
I am sorry i think i need to understand the whole work first. So i have to make an parser which parse all the images and convert them into gray-scale as by the suggested method and after conversion recompress them into the same format from which those images will be extracted.

[2020-03-03 22:55] Conchylicultor commented on #1361
@vinayvr11 This sounds correct. For coding, you can follow the structure proposed by my comment above: https://github.com/tensorflow/datasets/issues/1361#issuecomment-576818039

[2020-03-03 23:08] lmoroney opened #1562 "Kitti has bad checksum error on download"
**Short description**
When using Kitti I get a bad checksum error when downloading the dataset

NonMatchingChecksumError: Artifact https://s3.eu-central-1.amazonaws.com/avg-kitti/devkit_object.zip, downloaded to /root/tensorflow_datasets/downloads/s3.eu-central-1_avg-kitti_devkit_objectLwMAO1uIjU-eBJEp605N-Wtd3-25ncIu5j-rD605uW0.zip.tmp.dbb0c85c8f604faf8f923efa33da7ad7/devkit_object.zip, has wrong

[2020-03-03 23:15] lmoroney opened #1563 "CNN-DailyMail fails to download with tfds.load()"
**Short description**
Trying to use tfds.load() to get cnn_dailymail fails with error (no field named "downloadSize".)

**Environment information**
* Operating System: Google Colab
* Python version: 3

**Reproduction instructions**
Run this code in Colab:
[code]

**Link to logs**
ERROR:absl:Failed to construct dataset cnn_dailymail
------------------------------------------------------------------

[2020-03-03 23:19] Conchylicultor commented on #1563
Which version of TFDS are you using ? Does the problem goes away with tfds-nightly or the latest tensorflow_datasets 2.1.0 ?

[2020-03-03 23:20] Conchylicultor commented on #1562
This should have been fixed recently. Does the issue goes away with tfds-nightly ?

[2020-03-04 00:44] vijayphoenix commented on #1563
The error goes away at least with tdfs-nightly
https://colab.research.google.com/drive/1vai1vv91FvLQRDupMnhsGcPYd7S_7BZ-

[2020-03-04 01:34] jpgard commented on #1482
Is there a way for users to e.g. make a copy of the files into our own Google Drive for a dataset, manually download them to the correct location, and proceed from there?

[2020-03-04 05:47] vinayvr11 commented on #1361
Thanks for clarification  @Conchylicultor. Now i finish this task today.

[2020-03-04 07:51] Eshan-Agarwal commented on #1562
Actually I am also facing this error in patch_camelyon data-set.

So I manually run again :
`python -m tensorflow_datasets.scripts.download_and_prepare \
  --register_checksums \
  --datasets=patch_camelyon `

And check checksum of `patch_camelyon .txt` and checksum for camelyonpatch_level_2_split_train_x.h5.gz always changes like for 1st run got checksum `https://zenodo.org/record/2546921/files/c

[2020-03-04 08:18] JobCollins opened #1566 "curated_breast_imaging_ddsm download and use"
**What I need help with / What I was wondering**
I have tried following instructions at https://www.tensorflow.org/datasets/catalog/curated_breast_imaging_ddsm to be able to download the curated breast imaging datasets but I am not able. For one, the download link does not work and the documentation on the same is scanty.

**What I've tried so far**
I have tried loading the data directly

`(train_

[2020-03-04 08:25] Eshan-Agarwal commented on #1563
@lmoroney  @Conchylicultor  Also it works fine in tfds 2.1.0 when using [Colab](https://colab.research.google.com/drive/1hOT1YoPxBDm2376WBaxcJT9mboxFS68l)

[2020-03-04 08:47] vijayphoenix commented on #1562
Kitti checksum error fixed by https://github.com/tensorflow/datasets/pull/1507
Works with tfds-nightly.
See https://colab.research.google.com/drive/1kdqmjjp-Omg3GfKO4FthubegCnJUrNqf

[2020-03-04 08:48] Eshan-Agarwal commented on #1566
This data-set require manual downloading you can download it [here](https://wiki.cancerimagingarchive.net/display/Public/CBIS-DDSM)

Or for dataset that do no require manual downloading you can use this to load data
`import tensorflow_datasets as tfds
`
`dataset, info = tfds.load(name="mnist", with_info=True, split="train")`
`print(info)`

[2020-03-04 08:57] JobCollins commented on #1566
Thanks @Eshan-Agarwal !
So I am realizing that the link works on a different network from the one I used before.
The size of the data is a mammoth 163GB. How can I use the curated_breast_imaging_ddsm.py file to download a portion of the data?

[2020-03-04 09:03] Eshan-Agarwal commented on #1562
@vijayphoenix  Its working properly in colab either with tfds-nightly and tfds 2.1.0 but got extraction error when running locally

Environment information

Operating System: Windows 10 (64bit)
Python version: 3.6.10
tfds version = 2.1.0
tensorflow version = 1.15.0

[2020-03-04 09:06] Eshan-Agarwal commented on #1566
I think `curated_breast_imaging_ddsm.py` is for testing or generating some fake examples after you manually download data. Is it mention anywhere that you can use the `curated_breast_imaging_ddsm.py` file to download a portion of the data?

[2020-03-04 09:09] vijayphoenix commented on #1562
Are you facing the extraction problem with the Kitti dataset or patch_camelyon dataset?
If the problem is related to patch_camelyon dataset, let's discuss it on issue https://github.com/tensorflow/datasets/issues/1551

[2020-03-04 09:15] Eshan-Agarwal commented on #1562
@vijayphoenix  Got Extraction error for both Kitti dataset or patch_camelyon when running locally but on running on colab don't get.

[2020-03-04 09:15] zishanahmed08 commented on #1106
Hi @Player0109 , As far as I am aware of no one has worked on it yet. Please check with the owners of the repo  and you cant start working on it
PS:- I am not with owners of the repo. I just requested the dataset

[2020-03-04 09:15] Eshan-Agarwal commented on #1551
@vijayphoenix  can you please look on previous comments

[2020-03-04 09:22] vijayphoenix commented on #1551
Please provide some more details like the type of file that failed during extraction and also the type of archive manager you have on your machine.

[2020-03-04 09:31] Eshan-Agarwal commented on #1551
Environment information

Operating System: Windows 10 (64bit)
Python version: 3.6.10
tfds version = 2.1.0
tensorflow version = 1.15.0

When loading this data set it gives error : `NonMatchingChecksumError: Artifact ` for `camelyonpatch_level_2_split_train_x.h5.gz`

So i manually run `python -m tensorflow_datasets.scripts.download_and_prepare \ --register_checksums \ --datasets=patch_camelyon`

and

[2020-03-04 09:36] vijayphoenix commented on #1566
`curated_breast_imaging_ddsm.py` is only for preparing the manually downloaded data, so that we can use the data with tfds pipeline.
@JobCollins I found this [link](https://www.cancerimagingarchive.net/nbia-search/?CollectionCriteria=CBIS-DDSM) on their site.
Download a subset of the data from the above link and follow the instructions at https://www.tensorflow.org/datasets/catalog/curated_breast_

[2020-03-04 09:47] JobCollins commented on #1566
Awesome @vijayphoenix ! let me take a look at the link and then I will tell whether it worked for me or not. Thanks!!

[2020-03-04 14:20] tanviagwl98 commented on #1560
Okay, thank you for your response I got it.

[2020-03-04 14:20] #1560 closed

[2020-03-04 16:24] lmoroney commented on #1563
Confirmed that when I update colab to 2.1, this will work.
With colab defaulting to tfds 2.0.0, it's a bit misleading

[2020-03-04 16:24] #1563 closed

[2020-03-04 18:05] Eshan-Agarwal commented on #1517
@Conchylicultor and @ashutosh1919  can you check this PR #1571 and let me know if I am mistaking ?

[2020-03-04 19:42] vinayvr11 commented on #1361
Hello @Conchylicultor  i have created the following script considering all archive files formats. And also tested the script on some test files and it works for every format. Kindly check the script and suggest me if there is anything left.
[Colab Link](https://colab.research.google.com/drive/1jkiw7tx7xTIc4qld87dZV8fjkketU6o4)
`def image_process(root,imgPath):
        for im in imgPath:

[2020-03-04 19:44] vinayvr11 commented on #1361
Hello @Conchylicultor i have created the following script considering all archive files formats. And also tested the script on some test files and it works for every format. Kindly check the script and suggest me if there is anything left.
[Colab link](https://colab.research.google.com/drive/1jkiw7tx7xTIc4qld87dZV8fjkketU6o4)
`
def image_process(root,imgPath):
        for im in imgPath:

[2020-03-04 19:51] vinayvr11 commented on #1361
Hello @Conchylicultor i have created this script considering all the archive file formats and also tested this script on some test files. Kindly check the script and suggest me if i need to change something in it.

[Colab link](https://colab.research.google.com/drive/1jkiw7tx7xTIc4qld87dZV8fjkketU6o4)

`
def image_process(root,imgPath):
        print(root)
        for im in imgPath:
            if

[2020-03-04 22:03] Conchylicultor commented on #1361
@vinayvr11 Thank you very much. This looks mostly good. Could you send a PR as it makes it easier for me to comment ?

Some remark:

* Please follow the style guide and pylint to format the code properly
* For the random generation, rather than pure randomness, we should make it deterministic such as running the script twice produce the same image. One way is to use the hash of the relative path %

[2020-03-05 00:59] Conchylicultor opened #1575 "[GSoC] Add `as_supervised=True` compatibility for `tfds.show_examples`"
It would be nice if `tfds.show_examples` was working with `as_supervised=True`. Currently it raise a not supported error:

[code]
Changes should only affect the `show_examples` function, so it should be fairly simple.

[2020-03-05 04:47] vijayphoenix commented on #1575
Working on it!

[2020-03-05 05:43] vinayvr11 commented on #1361
Sure first i make these changes in my code and then send you an PR of this to you. @Conchylicultor I have some doubt in the second point so first i explain you what i understand and then please correct me if i was wrong. So the random generation using `np.random.randint(np.amax(original_image))` this method won't works twice so i have to change that random generation with `Image_path%255` this met

[2020-03-05 05:45] vinayvr11 commented on #1361
@Conchylicultor : Could you please assign this to me.

[2020-03-05 05:48] levskaya opened #1577 "import failure on tf=1.14, tfds=2.1.0"
**Short description**
python=3.5 tf=1.14 tfds=2.1.0
running pip install tensorflow tensorflow_datasets then "import tensorflow_datasets" fails w.:
AttributeError: module 'tensorflow.compat.v2' has no attribute 'contrib'

**Environment information**
* Operating System: Debian 4.9.130-2 (2018-10-27) x86_64 GNU/Linux
* Python version: 3.5
* `tensorflow-datasets`/`tfds-nightly` version: tensorflow-dat

[2020-03-05 06:02] ManishAradwad opened #1579 "Broken link for `tfds.core.DatasetBuilder`"
Link for `tfds.core.DatasetBuilder` is broken in https://github.com/tensorflow/datasets/blob/master/docs/add_dataset.md#datasetbuilder

[2020-03-05 07:09] vijayphoenix commented on #1577
@levskaya tensorflow_datasets has tensorflow >= 1.15.0 as dependency
See [dependencies](https://github.com/tensorflow/datasets/blob/38202b51cab90e5725b25ed72537172bbe905f4b/setup.py#L157)

[2020-03-05 07:34] Eshan-Agarwal commented on #1579
Thanks for finding it out soon sending PR with improved one.

[2020-03-05 08:17] Eshan-Agarwal commented on #1579
Ok its look like that datasetbuilder.md is missing from `https://github.com/tensorflow/datasets/tree/master/docs` its a bug soon send PR and add missing contents in docs.

[2020-03-05 09:07] Eshan-Agarwal commented on #1579
I created DatasetBuilder.md file. you can read all contents [here](https://www.tensorflow.org/datasets/api_docs/python/tfds/core/DatasetBuilder) as its not merged yet

[2020-03-05 12:47] Merlin2013 commented on #299
I got the same situation,have you received any infomation?

[2020-03-05 14:38] Nikhilnama18 commented on #1530
I would like to contribute on this issue.
Hey @vvkio , share your status, if possible we could work on this parallely.

[2020-03-05 15:13] levskaya commented on #1577
My apologies for the noise, this came about because of a stale pip version on a test machine, I thought it was installing a more recent version and was concerned.  Thanks!

[2020-03-05 15:13] #1577 closed

[2020-03-05 15:40] vvkio commented on #1530
Hey @Nikhilnama18, sure we can work on this together. What's left is writing the logic for updating the documentation and testing.

[2020-03-05 16:55] LexusH commented on #656
Hey DavidNorman, I'll be happy to get to adding this to Tensorflow. Thank you for the link and the tutorial