[2018-09-14 10:09] LoSealL opened #1 "Import error on Windows"
ModuleNotFoundError: No module named 'cPickle'

[2018-09-17 09:54] piyush-kgp commented on #1
Try this from https://stackoverflow.com/questions/43550407/pip-install-pickle-not-working-no-such-file-or-directory
import _pickle as cPickle

[2018-09-17 14:29] LoSealL commented on #1
I know, i mean this should be included in source codes

[2018-09-17 18:42] piyush-kgp opened #2 "Example in README not working"
Example given in README not implemented as of yet.
`AttributeError: module 'tensorflow_datasets' has no attribute 'load'`

[2018-09-17 20:01] piyush-kgp commented on #2
#3 is a step in that direction. @rsepassi I am very much willing to contribute to this project. Please let me know/raise Issues on this repo on where you would like help.

[2018-09-17 21:56] rsepassi commented on #2
As the README states, tensorflow-datasets is not yet functional so this is expected for now. We'd be happy to have contributions once we have some of the initial code out.

[2018-09-17 21:56] #2 closed

[2018-09-26 12:32] tiaguinho opened #4 "error on pip install"
I'm receiving the following error after run ```pip install tensorflow-datasets```

[code]

[2018-10-01 07:15] rsepassi opened #5 "Follow this issue to be notified of release"
Hi all, thanks for your interest in `tensorflow/datasets`. We're actively working on the project and hope to release soon with a starter set of datasets. Please follow this issue to be notified of when we have an initial version on PyPI.

We have an alpha nightly release that you can try out: `pip install tfds-nightly`. Please leave feedback through Issues if you try it out.

If you're interested

[2018-10-01 07:16] rsepassi commented on #4
Hi, we have yet to actually release, so please follow #5 to be notified when we do. Thanks!

[2018-10-01 07:16] #4 closed

[2018-10-01 07:17] rsepassi commented on #1
Hi, we have yet to actually release, so please follow #5 to be notified when we do. Thanks!

[2018-10-01 07:17] #1 closed

[2018-11-28 19:33] ksachdeva opened #6 "[Question] - Would it be okay to generate tfrecords from downloaded/pre-downloaded dataset ?"
Hi,

Thanks for this package; its look really good.

I have a question regarding the optimal workflow and usage of this package for below mentioned scenario :

Let's say that there is a very large database (20+ GBs) of images (and access is password protected). In the tensorflow ecosystem it is recommended to use tfrecords to consolidate the labels and data and speed up training etc so this data n

[2018-11-29 19:09] slerman12 commented on #5
This is fantastic! Thank you for building this. Any expected timeline for the release?

[2018-11-29 19:11] rsepassi commented on #6
Hi Kapil,

We recommend setting up that dataset such that the user is expected to first manually download the password-protected data into a directory and then specify that directory as `manual_dir` when calling `builder.download_and_prepare`. The builder would then expect the data to be in `manual_dir` and convert it to TFRecord files.

The [`diabetic_retinopathy_detection`](https://github.com/te

[2018-11-29 19:11] #6 closed

[2018-11-29 19:12] rsepassi commented on #5
Thanks! We plan to have an initial release either before the holidays or just after.

[2018-11-29 19:14] rsepassi commented on #5
You can be an early user of `tensorflow_datasets` with `pip install tfds-nightly` which is a nightly release from HEAD. If you try it out, please do open an issue to give feedback. Thank you!

[2018-12-06 19:40] suvarnak commented on #5
Thanks for this library!.
Is there any api to process custom datasets (those which are not in the list, for ex. nonMNIST) with this library? Thanks

[2018-12-06 20:16] rsepassi commented on #5
Yes, there is. See our doc on [adding a dataset](https://github.com/tensorflow/datasets/blob/master/docs/add_dataset.md).

We also plan on having even easier versions for common dataset types like image classification or text-to-text problems. See [the `ImageLabelFolder` dataset](https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/image/image_folder.py) for our first example for

[2018-12-15 16:07] MareoRaft opened #8 "two files of same name but different capitalization"
You have a file called `Text.md` and one called `text.md` in the same directory `datasets/docs/api_docs/python/tfds/features/`.

This is causing an issue in filesystems that ignore capitalization in filenames.  (My filesystem overwrote one of the files with the other, and now git shows unstaged changes/modification.)

Could you resolve the conflict between the two files?

[2018-12-19 00:20] rsepassi commented on #8
Thanks for reporting. We'll see if we can rename one of them. We develop on Linux (which generally has case-sensitive filesystems) so that's why we didn't spot it before.

[2018-12-21 02:56] rsepassi commented on #8
Are you using Windows? Have you otherwise found Windows usage to be working well?

[2018-12-21 16:55] cyfra opened #9 "[data request] Amazon product data"
* Name of dataset: Amazon product data
* URL of dataset: http://jmcauley.ucsd.edu/data/amazon/
* Short description of dataset and use case(s): Dataset contains product reviews and metadata from Amazon.

Folks who would also like to see this dataset in `tensorflow/datasets`, please +1/thumbs-up so the developers can know which requests to prioritize.

[2018-12-21 17:27] rsepassi opened #10 "XL dataset generation with Apache Beam"
This is a tracking bug for extra-large dataset generation using Apache Beam (i.e. for datasets that cannot feasibly be generated within a day on a single machine). Follow it to be notified of updates on this support.

[2018-12-23 20:53] anandtrex opened #11 "[data request] Omniglot"
* Name of dataset: Omniglot
* URL of dataset: https://github.com/brendenlake/omniglot
* License of dataset: MIT
* Short description of dataset and use case(s): Image dataset for few-shot image classification and meta-learning

Folks who would also like to see this dataset in `tensorflow/datasets`, please +1/thumbs-up so the developers can know which requests to prioritize.

[2019-01-01 15:59] rsepassi commented on #8
Great, thank you for clarifying. Confirmed that this is an issue on MacOS
as well.

On Mon, Dec 31, 2018 at 8:23 PM Matthew Lancellotti <
notifications@github.com> wrote:

[2019-01-09 16:11] rsepassi commented on #11
[Added](https://github.com/tensorflow/datasets/blob/master/docs/datasets.md#omniglot)!

[2019-01-09 16:11] #11 closed

[2019-01-09 21:02] rsepassi opened #12 "[data request] LSUN"
* Name of dataset: LSUN
* URL of dataset: http://lsun.cs.princeton.edu/2017/
* License of dataset: unknown
* Short description of dataset and use case(s): scene and object recognition.

Folks who would also like to see this dataset in `tensorflow/datasets`, please +1/thumbs-up so the developers can know which requests to prioritize.

[2019-01-09 23:27] rsepassi opened #13 "[data request] Moving MNIST"
* Name of dataset: Moving MNIST
* URL of dataset: http://www.cs.toronto.edu/~nitish/unsupervised_video/
* License of dataset: unknown (same as MNIST probably)
* Short description of dataset and use case(s): A test set for evaluating sequence prediction/reconstruction. 10,000 sequences each of length 20 showing 2 digits moving in a 64 x 64 frame.

Folks who would also like to see this dataset in `t

[2019-01-11 17:01] Conchylicultor commented on #8
This should be fixed by: https://github.com/tensorflow/datasets/commit/ba1bec65eb310b86a68234d3d80f1d0d95dbeb69

Please re-open if you still get the issue

[2019-01-11 17:17] #8 closed

[2019-01-17 18:42] rsepassi commented on #12
Added!

[2019-01-17 18:42] #12 closed

[2019-01-17 18:57] rsepassi commented on #9
I think we should instead use https://s3.amazonaws.com/amazon-reviews-pds/readme.html
It doesn't require contacting the data provider.

[2019-01-17 18:59] rsepassi opened #15 "[data request] bAbI Question Answering"
* Name of dataset: bAbI Question Answering
* URL of dataset: https://research.fb.com/downloads/babi/
* License of dataset: CC BY 3.0
* Short description of dataset and use case(s): question answering dataset for automatic text understanding and reasoning

Folks who would also like to see this dataset in `tensorflow/datasets`, please +1/thumbs-up so the developers can know which requests to priorit

[2019-01-17 19:03] rsepassi opened #16 "[data request] CNN DailyMail"
* Name of dataset: CNN DailyMail summarization
* URL of dataset: https://cs.nyu.edu/~kcho/DMQA/
* License of dataset: unknown
* Short description of dataset and use case(s): news articles for question answering and summarization

Related URL that uses the data: https://github.com/abisee/cnn-dailymail

Folks who would also like to see this dataset in `tensorflow/datasets`, please +1/thumbs-up so th

[2019-01-17 19:04] rsepassi opened #17 "[data request] WikiText-103"
* Name of dataset: WikiText-103
* URL of dataset: https://blog.einstein.ai/the-wikitext-long-term-dependency-language-modeling-dataset/
* License of dataset: CC BY-SA 3.0 Unported
* Short description of dataset and use case(s): The WikiText language modeling dataset is a collection of over 100 million tokens extracted from the set of verified Good and Featured articles on Wikipedia.

Folks who wou

[2019-01-17 22:03] madiator opened #18 "[data request] YouTube 8M"
* Name of dataset: YouTube 8M
* URL of dataset: https://research.google.com/youtube8m/
* License of dataset: Creative Commons Attribution 4.0 International (CC BY 4.0) license.
* Short description of dataset and use case(s): YouTube-8M is a large-scale labeled video dataset that consists of millions of YouTube video IDs, with high-quality machine-generated annotations from a diverse vocabulary of

[2019-01-17 23:28] georgedahl opened #19 "[data request] MultiNLI"
* Name of dataset: MultiNLI
* URL of dataset: https://www.nyu.edu/projects/bowman/multinli/
* License of dataset:
License
See details in the data description paper: https://www.nyu.edu/projects/bowman/multinli/paper.pdf

* Short description of dataset and use case(s):

The Multi-Genre Natural Language Inference (MultiNLI) corpus is a crowd-sourced collection of 433k sentence pairs annotated with t

[2019-01-18 00:17] nikiparmar opened #20 "[data request] SNLI"
* Name of dataset: SNLI
* URL of dataset: https://nlp.stanford.edu/projects/snli/
* License of dataset: Creative Commons Attribution-ShareAlike 4.0 International License
* Short description of dataset and use case(s):
The SNLI corpus (version 1.0) is a collection of 570k human-written English sentence pairs manually labeled for balanced classification with the labels entailment, contradiction, and

[2019-01-18 03:52] rsepassi opened #21 "[data request] UCF101"
* Name of dataset: UCF101
* URL of dataset: http://crcv.ucf.edu/data/UCF101.php
* License of dataset: unknown
* Short description of dataset and use case(s):
UCF101 is an action recognition data set of realistic action videos, collected from YouTube, having 101 action categories. This data set is an extension of UCF50 data set which has 50 action categories.

Folks who would also like to see this

[2019-01-18 03:54] rsepassi opened #22 "[data request] KTH human action video data set"
* Name of dataset: KTH human action video data set
* URL of dataset: http://www.nada.kth.se/cvap/actions/
* License of dataset: unknown
* Short description of dataset and use case(s):
The current video database containing six types of human actions (walking, jogging, running, boxing, hand waving and hand clapping) performed several times by 25 subjects in four different scenarios: outdoors s1, out

[2019-01-18 09:36] yunpengli commented on #21
+1.

[2019-01-18 09:37] yunpengli commented on #22
+1.

[2019-01-18 10:36] rodrigob opened #23 "[data request] OpenImages v4"
* Name of dataset: OpenImages v4
* URL of dataset: https://storage.googleapis.com/openimages/web/index.html
* License of dataset:  licensed by Google Inc. under CC BY 4.0 license. The images are listed as having a CC BY 2.0 license.
* Short description of dataset and use case(s): bigger ImageNet with image level labels and bounding boxes.

Folks who would also like to see this dataset in `tensorfl

[2019-01-20 08:44] joel-shor opened #24 "[data request] Horses and Zebras"
* Name of dataset: Horses and Zebras
* URL of dataset: https://github.com/junyanz/CycleGAN/blob/master/datasets/download_dataset.sh
* License of dataset: <license type>
* Short description of dataset and use case(s): Image to image examples using in CycleGAN.

Folks who would also like to see this dataset in `tensorflow/datasets`, please +1/thumbs-up so the developers can know which requests to pr

[2019-01-22 16:08] rodrigob opened #25 "[data request] COCO 2018"
* Name of dataset: COCO 2018
* URL of dataset: http://cocodataset.org/#panoptic-2018
* License of dataset: CC 4.0 see http://cocodataset.org/#termsofuse
* Short description of dataset and use case(s): Thing and stuff annotations over Coco images

Folks who would also like to see this dataset in `tensorflow/datasets`, please +1/thumbs-up so the developers can know which requests to prioritize.

[2019-01-22 16:10] rodrigob opened #26 "[data request] ADE20k"
* Name of dataset: ADE20k
* URL of dataset: http://groups.csail.mit.edu/vision/datasets/ADE20K/
* License of dataset: ?? (not specified on website)
* Short description of dataset and use case(s): dense stuff, things, and parts annotations over 20k images.

Folks who would also like to see this dataset in `tensorflow/datasets`, please +1/thumbs-up so the developers can know which requests to priori

[2019-01-22 16:12] rodrigob opened #27 "[data request] Pascal VOC"
* Name of dataset: Pascal VOC12 with SDB extension
* URL of dataset: http://host.robots.ox.ac.uk/pascal/VOC/ and http://home.bharathh.info/pubs/codes/SBD/download.html
* License of dataset: ?? (to be investigated)
* Short description of dataset and use case(s): the classic detection and semantic segmentation dataset. Used in many works related to weakly supervised learning (since a bit easier than

[2019-01-28 08:21] mr-ubik commented on #5
Should the `tensorflow-datasets` available on PyPi be for the moment removed or be added a warning that `tfds-nightly` is to be used instead? Also removing that indication from the README.md would be ideal since it can mislead into installing the wrong package.

[2019-01-28 09:05] jackd commented on #13
[pull request](https://github.com/tensorflow/datasets/pull/28) made.

[2019-01-28 18:54] rsepassi commented on #5
Thanks @mr-ubik. I've removed the bad releases of `tensorflow-datasets` and will update the README shortly. TF 1.13 now has a [release candidate](https://www.tensorflow.org/versions/r1.13/api_docs/python/tf) and we'll be releasing a stable `tensorflow-datasets` after 1.13 is the stable TF.

[2019-01-28 19:11] dynamicwebpaige commented on #5
@mr-ubik - socks incoming. Check your Twitter DMs! 😊

[2019-01-29 10:21] mr-ubik opened #29 "Leverage tf.io.gfile as a downloader"
**Is your feature request related to a problem? Please describe.**
Using `tf-datasets` with private datasets stored on Google Cloud Storage returns an error code 403 since the current download method using request does not handle the authentification. Also, paths specified in the form of `gs://...` are not currently supported

**Describe the solution you'd like**
Using `tf.GFile` whenever possible

[2019-01-29 23:46] rsepassi commented on #29
That's a great idea.

So just to be clear, `download_manager.download` fails on a `gs://...` path?

[2019-01-30 00:59] rsepassi commented on #29
Confirmed that `gs://...` does not work. Working on a fix.

[2019-01-30 20:21] #29 closed

[2019-01-31 23:03] lc0 opened #31 "Support TF 2.0"
Any plans to support **TensorFlow 2**? Since **Datasets** are not released and hopefully TF2 is going to be released in the next months, would totally make sense.

What do you think?

Currently I've got the issues with contrib part
[code]

[2019-02-01 19:44] rsepassi opened #33 "[data request] Natural Questions"
* Name of dataset: Natural Questions
* URL of dataset: https://ai.google.com/research/NaturalQuestions/dataset
* License of dataset: Creative Commons Share-Alike 3.0
* Short description of dataset and use case(s):
To help spur development in open-domain question answering, we have created the Natural Questions (NQ) corpus, along with a challenge website based on this data. The NQ corpus contains q

[2019-02-01 22:43] rsepassi opened #34 "Rm dep on tf.contrib.data.LMDBDataset for TF 2.0"
tf.contrib.data.LMDBDataset will not make it to TF2. It may be moving to a new repo/package. If/when that happens, we should switch to it.

Part of #31 (TF 2.0 support)

[2019-02-01 22:58] rsepassi commented on #31
Linked issue: tensorflow/tensorflow#25367

[2019-02-01 23:14] samsamoa opened #35 "Split dataset between workers"
For large datasets being processed on many workers, it is useful to be able to read separate shards of the dataset on each worker.  Is this possible with the `tfds` API?

I experimented a bit with the `Split.subsplit` functionality, but it looks like it works by reading every dataset element and masking out selected elements (see [here](https://github.com/tensorflow/datasets/blob/master/tensorflow

[2019-02-02 04:37] Worthy7 commented on #5
Came here after a day of struggling trying to get https://www.tensorflow.org/tutorials/images/deep_cnn working, which says to run `pip install tensorflow-datasets` :(

[2019-02-02 04:51] rsepassi commented on #5
Yikes, sorry about that. Will release after TF 1.13 is out. You can use
tfds-nightly if you’d like to live on the edge.

On Fri, Feb 1, 2019 at 8:37 PM Worthy7 <notifications@github.com> wrote:

[2019-02-02 04:54] Worthy7 commented on #5
Got it thanks - excited!

On Sat, 2 Feb 2019 at 13:51, Ryan Sepassi <notifications@github.com> wrote:

[2019-02-03 01:59] rsepassi opened #36 "GCS access doesn’t work from Colab"
Using colab.research.google.com GCS access doesn’t work (`tfds.load(“mnist”)` hangs). It seems due to `tf.io.gfile` and not TFDS. TFDS is trying to access the `dataset_info.json` file from GCS.

TensorFlow or Colab should fix this.

For now, a possible alternative is to use `requests` to access the GCS files through the http API: `http://storage.googleapis.com/tfds-data/dataset_info/mnist/1.0.0/da

[2019-02-03 02:01] rsepassi opened #37 "Unused pytz dependency?"
`pytz` is in setup.py but doesn’t seem to be used anywhere. Rm?

[2019-02-03 02:06] rsepassi opened #38 "Spurious logging from GCS access"
**Short description**
Spurious logging from GCS access when using `tfds.load`. From metadata file access internally.

**Environment information**
* Operating System: Ubuntu 16
* Python version: Python 3
* `tensorflow-datasets`/`tfds-nightly` version: `tfds-nightly`
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: `tf-nightly`

**Reproduction instructions**

[code]

**Link to

[2019-02-04 03:28] rsepassi opened #40 "Document `lazy_imports` in add a dataset doc"

[2019-02-04 16:24] rsepassi commented on #31
TFDS is now 2.0-ready. We’re testing against 2.0 in Travis.

One exception for now is that the LSUN dataset cannot be generated with TF 2.0 because of the use of `tf.contrib`. We have a plan to resolve it. See #34.

[2019-02-04 16:25] #31 closed

[2019-02-04 18:22] rsepassi opened #41 "Make adding a dataset doc more prominent on README"

[2019-02-04 19:42] VikramTiwari commented on #18
I can take ownership of this one.

[2019-02-04 19:43] VikramTiwari commented on #23
I can take ownership of this one too!

[2019-02-04 20:32] rsepassi commented on #18
(will assign you once you accept the collaborator invite)

And please keep us posted on your progress so that if you get stuck or busy with other things, we know that someone else can pick it up.

[2019-02-04 20:34] VikramTiwari commented on #18
Perfect! Just accepted. I will start with this dataset and will pick up others when it's done. Will also open PRs in case of documentation updates. Thanks for the quick action on these @rsepassi 👍

[2019-02-05 09:47] rodrigob opened #42 "[data request] Flickr-Faces-HQ"
* Name of dataset: Flickr-Faces-HQ
* URL of dataset: https://github.com/NVlabs/ffhq-dataset
* License of dataset: Dataset itself Creative Commons BY-NC-SA 4.0; the individual images were published in Flickr by their respective authors under either Creative Commons BY 2.0, Creative Commons BY-NC 2.0, Public Domain Mark 1.0, Public Domain CC0 1.0, or U.S. Government Works license.
* Short descriptio

[2019-02-05 15:14] pierrot0 commented on #23
https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/image/open_images.py

[2019-02-05 15:14] #23 closed

[2019-02-05 18:39] #36 closed

[2019-02-06 00:56] yongtang commented on #34
LMDB has been migrated to `tensorflow/io` (https://github.com/tensorflow/io/pull/74). The PR has been merged into the master and should be available in next release soon (hopefully in a couple of weeks).

[2019-02-06 03:56] rsepassi commented on #38
We've switched to using the HTTP API for access to the public bucket (fix for #36) so aren't seeing this anymore. It's a TF bug.

[2019-02-06 03:56] #38 closed

[2019-02-06 03:58] rsepassi commented on #34
Ok, thank you @yongtang. Could you update us when it's available in the release? TFDS tries to support Python 2 and Python 3 as well as TF 1.13, nightly, and 2.0. Will we be able to use your package (i.e. will it work across that matrix)?

[2019-02-06 16:52] frthjf opened #43 "Change default download directoy to hidden folder"
Currently, the default download directory for dataset caching appears to be ``~/tensorflow_datasets``. However, since it's not a folder that is meant to be accessed through a file manager, I'd suggest to make it hidden by default, e.g. ``~/.tensorflow_datasets``.

[2019-02-06 20:12] #37 closed

[2019-02-06 20:13] #40 closed

[2019-02-06 20:13] #41 closed

[2019-02-06 23:42] lc0 opened #44 "[data request] ModaNet"
* Name of dataset: ModaNet
* URL of dataset: https://github.com/eBay/modanet
* License of dataset: Creative Commons Attribution-NonCommercial license 4.0.
* Short description of dataset and use case(s):
ModaNet is a street fashion images dataset consisting of annotations related to RGB images. ModaNet provides multiple polygon annotations for each image. This dataset is described in a technical pa

[2019-02-08 10:48] rodrigob opened #45 "[data request] Downsampled ImageNet"
* Name of dataset:  Downsampled ImageNet
* URL of dataset: http://image-net.org/small/download.php
* License of dataset: Same as ImageNet
* Short description of dataset and use case(s): great for prototyping and quick experimentation beyond MNIST.

Folks who would also like to see this dataset in `tensorflow/datasets`, please +1/thumbs-up so the developers can know which requests to prioritize.

[2019-02-12 01:45] rsepassi opened #47 "Fix `sequence_feature_test` and `open_images_test` in TF 2.0"
**Short description**

With TF 2.0, there's a new Defun implementation that breaks `sequence_feature_test.py` and `open_images_test.py`. Currently these are disabled.

**Environment information**
* Operating System: Ubuntu 14.04
* Python version: Python 2.7 and Python 3.6
* `tensorflow-datasets`/`tfds-nightly` version: `HEAD`
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: `

[2019-02-12 01:59] rsepassi opened #48 "Re-enable notebook tests"
Jupyter does not seem to be respecting the virtualenv. Update the test script to make the notebook respect the virtualenv.

Results here seem relevant: https://www.google.com/search?q=jupyter+running+in+virtualenv

[2019-02-12 07:33] VikramTiwari commented on #18
Hey @rsepassi I see that youtube dataset has 2 types of dataset in itself. Aggregated features vs frame features. I was gonna implement it just for frame features but could also do one for aggregated features. Just unsure which category would that be. Also, it could be done as an option of this dataset itself. What do you think?

Reference: https://github.com/google/youtube-8m/blob/master/readers.

[2019-02-12 16:52] tarrade opened #49 "[data request] Colorectal Histology (Collection of textures in colorectal cancer histology)"
* Name of dataset:  Colorectal Histology (Collection of textures in colorectal cancer histology)
* URL of dataset: https://zenodo.org/record/53169#.XGL2CNFCfOR
* License of dataset: Open Access
* Short description of dataset and use case(s):
The dataset serves as a much more interesting MNIST or CIFAR10 problem for biologists by focusing on histology tiles from patients with colorectal cancer. In

[2019-02-13 00:12] rsepassi commented on #43
Thanks for the suggestion! We'd be open to making it hidden, but it is sometimes useful to look in that directory. The `manual_dir` that some datasets need (e.g. ImageNet) also defaults to being in there, so that also makes us lean to not having it be hidden. I'll leave this open though so that other users can chime in.

[2019-02-13 17:54] rsepassi commented on #18
Hi @VikramTiwari, thanks for checking. Let's start with the video-level features only, but please use a `BuilderConfig` so that the frame-level features can be added next.

[2019-02-13 17:54] rsepassi commented on #18
[`BuilderConfig` docs](https://github.com/tensorflow/datasets/blob/master/docs/add_dataset.md#dataset-configuration)

[2019-02-14 23:26] rsepassi commented on #5
Hi all, `tensorflow-datasets` is now released! `v1.0.0` is now on PyPI. Thanks for waiting, and enjoy! Please leave feedback through GitHub issues, and consider adding a dataset yourself ([guide to add a dataset](https://github.com/tensorflow/datasets/blob/master/docs/add_dataset.md), [current dataset requests](https://github.com/tensorflow/datasets/labels/dataset%20request)).

[2019-02-14 23:26] #5 closed

[2019-02-14 23:44] HanGuo97 opened #50 "[data request] GLUE Datasets"
* Name of dataset: GLUE Datasets
* URL of dataset: https://gluebenchmark.com/tasks
* License of dataset:
* Short description of dataset and use case(s): The General Language Understanding Evaluation (GLUE) benchmark is a collection of resources for training, evaluating, and analyzing natural language understanding systems.

Folks who would also like to see this dataset in `tensorflow/datasets`, pl

[2019-02-15 02:26] rsepassi commented on #47
Fixed by TF team and re-enabled in 1b9b7dc4e6b22793fd1a5d83109da08509ba70df

[2019-02-15 02:26] #47 closed

[2019-02-15 17:07] gongliyu opened #52 "import tensorflow_datasets always enables eager execution"
It seems importing tensorflow_datasets always enables eager execution, which I don't want. Is there a way to disable it? Thank you very much!

If I execute the following piece, the eager mode will be enabled by importing tensorflow_datasets
[code]
However, if I execute the following, an error will be raised!
[code]

[2019-02-15 17:24] frthjf commented on #52
I'm running into the same problem. The issue seems to be that public_api imports the whole testing suite [here](https://github.com/tensorflow/datasets/blob/36db8e0080473a8a3248e77e5b0d0a534911c086/tensorflow_datasets/public_api.py#L61), which then in turn enables eager mode.

If you change that line to testing = None the problem goes away.

[2019-02-15 17:31] gongliyu commented on #52
Thanks for pointing out the reason. Does this mean that I have to modify the source to let it work? My package is installed from PyPI.

[2019-02-15 17:39] cyfra commented on #52
Thanks for reporting. We're working on the fix.

[2019-02-15 17:41] mikeymezher commented on #38
@rsepassi This is also an issue in the Tensor2Tensor where tf.gfile.Exists() is called in t2t_decoding.py

[2019-02-15 18:44] #48 closed

[2019-02-15 18:49] rsepassi commented on #52
Will soon have a fix in v1.0.1. Will update here when it's out and will be removing v1.0.0 from PyPI and GitHub.

[2019-02-15 21:32] kovasb commented on #52
Hitting the same issue.

This is problematic because I'm trying to use it in conjunction with tfhub, but it appears tfhub modules are not eager friendly yet.

[2019-02-15 21:40] rsepassi commented on #52
Version `1.0.1` is now on PyPI. This is now fixed. Thanks for reporting the bug!

[2019-02-15 21:40] #52 closed

[2019-02-16 00:51] kovasb opened #54 "Add option to return images as float instead of uint8"
**Is your feature request related to a problem? Please describe.**
Dataset features do not immediately compose with tf.hub modules. For example I want to fine tune a model for the cats_vs_dogs dataset, by reusing a tfhub image feature module. cats_vs_dogs provides the image as uint8 and undefined image size, but tfhub image modules expect float32 at specific sizes.

This can be solved with Dataset

[2019-02-16 02:52] rsepassi commented on #54
Thanks for this suggestion!

We try to define `DatasetBuilder`s in a way that accurately represents the source data instead of making opinionated decisions on how a user may want to use it. This allows TFDS to be modular and useful across a wide variety of use cases. The `tf.data` API is simple, flexible, and powerful enough to allow users to manipulate the data and it seems that simple casts and

[2019-02-16 08:56] Conchylicultor commented on #43
Also open to discussion, but I would have some concerns about making it hidden.
The download directory may contains hundreds of GB downloaded automatically. In a hidden directory, users may have more difficulty to locate where their data are located, or even not being aware that they have a huge hidden folder consuming their diskspace.

[2019-02-16 17:34] kovasb commented on #54
Thanks for considering this.

TL;DR I don't think it would hurt anyone to optionally provide TF-ecosystem-standard representations, and it would certainly help a lot of people immensely.

Somewhat basic question: Is this package targeted toward end users, or to developers?

If end users are a major audience, needing to transform the data to make it useful is a high barrier to entry. Experienced TF

[2019-02-18 09:55] Conchylicultor commented on #54
I agree that getting the data as float is a really standard use case (required by Hub, Keras,...). The problem is that there isn't really a standard way of normalizing input image.

Mnist may be normalized between 0-1, but people uses a lot of different normalization for ImageNet (https://github.com/keras-team/keras-applications/blob/master/keras_applications/imagenet_utils.py#L21). So it's not cl

[2019-02-18 19:12] kovasb commented on #54
That is a pretty good example to consider.

For background, I helped work on this example of integrating data into a modelling system: https://reference.wolfram.com/language/ref/CountryData.html

The analogous issue with CountryData is map projections: should we make users project the data themselves, because there is no standard projection? Fortunately, the set of commonly used projections is pre

[2019-02-19 20:25] kovasb opened #55 "Consider hosting preconverted Datasets to minimize time-to-first-example"
**Is your feature request related to a problem? Please describe.**
I just tried the minist dataset in a colab. It took a few minutes to download & convert the data to tfrecords, before I can try anything at all.

The keras built-in MNIST dataset loaded in a few seconds.

This is concerning because MNIST is pretty small. If I tried to use a bigger dataset, seems like I might be waiting for an hour.

[2019-02-19 20:37] bileschi commented on #55
Related: Is it possible to quickly get a tf.data.Dataset connected to just a few examples? Programmatically viewing, e.g., the first 'wmt_translate_ende' example takes half an hour.

[2019-02-20 19:15] rsepassi commented on #10
Some thoughts:

`BeamBasedBuilder` or `BeamWriter` that instead of `_generate_examples` yielding `dict`s, it would return a `PCollection`.

[2019-02-20 19:31] Conchylicultor commented on #54
What would you think of an API which would apply transformation to each individual features. Would this satify your use case ?

[code]

This would allow people to apply arbitrary augmentation to their pipeline.
This could also be used for text to apply custom "in graph" decoding.

However, it's not clear yet when we'll have time to implement this but I'll have a look those following weeks.

[2019-02-20 20:37] kovasb commented on #54
I like this idea a lot. Simple semantics, obvious utility, seems easy to build on in the future in terms of where the transforms are sourced.

If, in addition to this, it was possible to provide simple dataset statistics, then it would be a complete solution. It would be easy to take the statistic and plop it into a transform applied on the right feature.

[2019-02-21 20:38] cyfra commented on #55
@kovasb  - thanks for the suggestion. Unfortunately (as you've mentioned) licensing becomes tricky very quickly. But we might look into this in the future, on the dataset-by-dataset basis.

@bileschi  - interesting idea. While we could not do it with real data (as we need to download the whole file in order to compute checksums etc), we could do something with reading testing/example data, that al

[2019-02-21 21:49] dbieber commented on #10
For defining the splits, `BeamBasedBuilder`'s `_split_generators` could have the same signature as `tfds.core.GeneratorBasedBuilder` (dl_manager -> list of SplitGenerators). But importantly, some Beam calculation might have to run as part of setting up the feature connectors. E.g. in lm1b `_split_generators` calls `maybe_build_from_corpus` which does a full pass through the dataset. In a very larg

[2019-02-22 05:31] alexalemi opened #58 "[data request] EMNIST"
* Name of dataset: EMNIST
* URL of dataset: https://www.westernsydney.edu.au/bens/home/reproducible_research/emnist
* License of dataset: Unknown, but from the same NIST sources originally as MNIST.
* Short description of dataset and use case(s): EMNIST is an extended MNIST dataset using the same processing and normalization techniques as MNIST itself on a superset of the original NIST images.  Th

[2019-02-22 13:15] bileschi commented on #55
@cyfra Curious about the technological limitation.  Given that you control the backend file formats and locations, why is it not possible to shard the backend and get started delivering elements when the first shard arrives?  Certainly access to sample data would be better than no access, but even better is access to the real data before downloading the entirety.

[2019-02-22 13:16] bileschi commented on #55
@cyfra thanks by the way.  Big fan of the API.

[2019-02-22 13:21] bileschi opened #60 "Would the team accept a JS version, published in NPM (instead of PyPi)?"
**Is your feature request related to a problem? Please describe.**
Ideally, the datasets API would be available cross language, like Keras or TensorFlow.  Many TF learners are coming to TensorFlow from JavaScript, and would benefit from the access to known datasets.

**Describe the solution you'd like**

in package.json
----

    npm add @tensorflow/tensorflow-datasets

in index.js
----

    impor

[2019-02-22 16:08] rsepassi commented on #60
Absolutely, this would be fantastic! We’d love for TFDS to be cross language.

Looks like TFJS has a [tf.data.Dataset](
https://js.tensorflow.org/api/0.15.1/#class:data.Dataset) API.

I think we’d keep all the data generation in Python, but the input pipeline could be portable. The input pipeline is a TF Graph, so one way of adding cross-language support is to export the TF graph for each dataset’

[2019-02-22 16:13] rsepassi commented on #55
@bileschi once the data is actually generated to disk, it’s easy to get just a few elements with `tf.data.Dataset.take`:

[code]

But all datasets in TFDS go through 2 stages when you call `tfds.load`:
1. `tfds.core.DatasetBuilder.download_and_prepare`: Download the original source data, extract it, and write it to a standard format on disk
2. `tfds.core.DatasetBuilder.as_dataset`: Construct a `tf

[2019-02-22 16:35] bileschi commented on #55
Aha.  Ok.  And it is not possible to clone the dataset from the remote URL
to a GCS bucket that we control, and write it to a format that allows us to
spool examples upon reception of the first shard?

On Fri, Feb 22, 2019 at 11:13 AM Ryan Sepassi <notifications@github.com>
wrote:

--
Stan Bileschi Ph.D.  |   SWE  |  bileschi@google.com |  617-230-8081

[2019-02-22 17:57] kovasb commented on #55
Thanks for the response @cyfra

If licensing is an issue for the common case, rather than an exception, then I would urge looking for a different solution to providing the data to the user more quickly. If the main selling-point of the package is that it provides TFRecord-formatted-data, that is rather weaker than if the main selling point is fast and easy access to data.

One alternative to hosti

[2019-02-22 21:18] cyfra commented on #55
**For the "getting few elements before all data is preprocessed":**
  - on top of what @rsepassi  mentioned - we're also doing shuffling (which requires all the sources to be extracted)
  - we're also working on a different system, using apache beam, to handle preprocessing of larger datasets faster (but this will make the process even more asynchronous, and even harder to fetch some objects befor

[2019-02-22 21:23] cyfra commented on #49
Big thanks to @jackd for submitting this dataset.

[2019-02-22 21:23] #49 closed

[2019-02-22 21:24] cyfra commented on #13
Thanks @jackd

[2019-02-22 21:24] #13 closed

[2019-02-22 21:41] rsepassi commented on #55
@kovasb For the use case of getting started more quickly on the rest of your pipeline, having a way to mock the dataset (using either random features or the fake test data) would be sufficient I think.

[2019-02-23 17:27] slerman12 opened #76 "Simple MNIST model training example"
Is there a simple example showing how to import MNIST and train a simple neural network to make inferences on the data. It would help to see how to use this library in an end to end manner. Right now, I know how to import a dataset but not how to actually train a model with it.

I'm a lot more used to working with numpy datasets that I can feed directly into a TensorFlow feed dict.

[2019-02-24 04:02] kovasb commented on #55
I'd urge folks to validate the assumption that dataset conversion is a relatively insignificant one-time cost. If its not the case, its pretty costly to adoption.

Colab is just 1 representative of the entire class of cloud-based workflows, both in public cloud and on-prem. Its not immediately obvious how we will avoid paying the transformation cost each time a new instance/container spins up. Is

[2019-02-24 17:57] yashk2810 commented on #76
Hey, you can find the tutorials here: https://github.com/tensorflow/docs/tree/master/site/en/r2/tutorials/quickstart

[2019-02-24 19:59] tabshaikh commented on #33
@rsepassi if anyone is not working on this, could I add this dataset ?

[2019-02-24 20:01] tabshaikh commented on #45
As this is a good first issue would like to take this up 😀

[2019-02-24 21:03] slerman12 commented on #76
Would the process be analogous for training on Omniglot?

[2019-02-24 21:20] slerman12 commented on #76
Could an example be provided without the use of eager execution? I'm used to using placeholders. Would I have to first use the numpy API and pass it to a feed dict?

[2019-02-24 21:24] slerman12 commented on #76
Here was my guess:

I would ordinarily use two placeholders called `image` and `label`. I want to replace that workflow with TensorFlow Datasets. Here is how I tried to get those same objects with the Datasets workflow:

[code]

[2019-02-25 07:27] bileschi commented on #55
@kovasb my use case is similar.  I would like to include the tf.dataset api in a web tool, where users might be noodling around and exploring datasets, where the expectation is that selecting a new dataset should cost ~seconds or less.  It's ok though if the tool doesn't have *all* of the data at this time.  The user typically has much more work to do before they will have need of an entire copy.

[2019-02-25 08:11] bileschi commented on #60
Thanks @rsepassi

What sort of pipelining is done, before the data is yielded?  Is it possible to store the result of the `decode_example` methods in some language-agnostic format (like [apache arrow](https://arrow.apache.org/)), and then yield those over the wire?

[2019-02-25 17:48] rsepassi commented on #55
We're working on hosting the datasets that we can in a GCS bucket.

For your own uses, you can pre-generate the data to a GCS bucket (by setting `data_dir` to one, or to any other filesystem that `tf.io.gfile` can write to) so that you or your users can use them.

Redistributing data is not something that we can do for all datasets. It depends on the license that the dataset was published under. W

[2019-02-25 18:27] rsepassi commented on #60
It's a simple `tf.data` pipeline:

1. Read records from `TFRecord` files
2. Parse `Example` protos
3. Decode each feature, if there's special decoding (e.g. decode jpg images to `[h, w, c]`)

Arrow is a great idea!

Here's what I think would be necessary to enable nice cross-language support:

1. Add a TF op to convert a `Tensor` or `dict` of `Tensor` to an Arrow `RecordBatch` or `DictionaryBatch`

[2019-02-25 19:12] tabshaikh commented on #45
There are 2 version of this dataset 32*32 images and 64*64 images should both be done ?

[2019-02-25 19:15] rsepassi commented on #45
That's great @tabshaikh, thank you!

Yes, I think we should have both using ["heavy" configuration](https://www.tensorflow.org/datasets/add_dataset#dataset_configuration), but you can start with just one.

[2019-02-25 19:17] rsepassi commented on #45
I'll assign the issue to you as soon as you accept the collaborator invite! :smiley:

[2019-02-25 19:17] tabshaikh commented on #45
Sure thanks :)

[2019-02-25 19:19] rsepassi commented on #76
So the only line you're missing is to get an iterator:

[code]

[2019-02-25 20:16] kovasb commented on #55
@rsepassi Thanks, great to hear data will be on GCS when possible! Think this will make a huge difference.

It would be great to have an end-to-end example of persisting the conversion yourself. Based on the API examples it was not clear to me how to point it to already-converted data.

Just my 2 cents, but I also wonder if the conversion process can also be perf-optimized. For example I'm not sur

[2019-02-25 22:03] rsepassi commented on #55
It will automatically be cached at data_dir (which defaults to
`~/tensorflow_datasets`) and reused.

On Mon, Feb 25, 2019 at 12:16 PM Kovas Boguta <notifications@github.com>
wrote:

[2019-02-25 23:53] yongtang commented on #60
@bileschi @rsepassi That would be great! We are working on adding more write ops support in tensorflow-io for many formats and Arrow will be an idea case.

/cc @BryanCutler as he may have more knowledge with Arrow.

[2019-02-26 16:21] rsepassi commented on #45
Sounds good! Thank you!

[2019-02-26 16:26] BryanCutler commented on #60
@rsepassi I think that sounds like a good idea! You will want to follow the Arrow stream protocol for send over the wire [see](https://arrow.apache.org/docs/python/ipc.html#writing-and-reading-streams). This is basically a schema to describe the data, followed by a sequence of record batches. The Arrow `DictionaryBatch` is meant to encode data in a regular `RecordBatch` for efficiency, e.g. encodi

[2019-02-26 23:25] rsepassi opened #85 "Index datasets in Google Dataset Search"
It would be great to have all TFDS datasets indexed in [Dataset Search](https://toolbox.google.com/datasetsearch).

[Example Kaggle dataset](https://toolbox.google.com/datasetsearch/search?query=Keras%20IMDB%20Reviews&docid=GeShZxU5XakIq2%2BnAAAAAA%3D%3D).

We need a library function that goes from a `DatasetBuilder` to the schema.org markup needed. See the [Google Dataset type docs](https://devel

[2019-02-26 23:39] slerman12 commented on #76
Thank you!

[2019-02-26 23:41] VIGS25 commented on #85
I don't have experience with schema.org, but would definitely be interested in learning about it and picking up this issue.

[2019-02-26 23:48] natashafn commented on #85
Take a look at the markup helper: https://www.google.com/webmasters/markup-helper/?hl=en

Select datasets, point to your page, highlight various parts of the description, and get JSON-LD generated for you. You can then embed it in your HTML for the page.

Then we will need to check if those pages get indexed: do you have an example page? We can just search for it on google.com -- if it appears the

[2019-02-27 00:14] danbri commented on #85
Happy to help too. Perhaps we could collaborate in a Colab notebook if someone could start us off with a few instantiated DatasetBuilder objects?

[2019-02-27 02:14] slerman12 commented on #76
A few more questions, if it's alright...

How do I do the same thing but for testing? I'm not super familiar with TensorFlow's data API. I imagine I wouldn't need the batch iterator. Ideally, I would have a training, validation, and testing set. Is there a way I could split the training data once more so that I have some data reserved for the validation set? Is there a way I can check if the train

[2019-02-27 02:35] rsepassi commented on #85
Thanks @VIGS25 @natashafn and @danbri!

Let's try it on MNIST first. Here's something to start you off. You can get started in a [Colab](https://colab.research.google.com) notebook and share it here, or send over a PR.

[code]

[2019-02-27 02:45] rsepassi commented on #76
1. Splits: Pass `split="train"` or `split="test"` to get different splits. Different datasets expose different splits. If you need finer grained splits, see the (Splits documentation](https://www.tensorflow.org/datasets/splits).
2. See 1.
3. You can train on multiple epochs by calling `dataset.repeat(5)` (to train on 5 epochs). `tf.data` unfortunately does not expose anything special for end of ep

[2019-02-27 09:51] cagbal opened #86 "[data request] HMDB51"
* Name of dataset: HMDB51
* URL of dataset: http://serre-lab.clps.brown.edu/resource/hmdb-a-large-human-motion-database/
* License of dataset: Creative Commons Attribution 4.0 International License.
* Short description of dataset and use case(s): Action Recognition Dataset containing Videos. It is a widely used Benchmark with UCF101 #21

Folks who would also like to see this dataset in `tensorflow

[2019-02-27 09:51] andrewk1 opened #87 "Chexpert not in dataset list"
**Short description**
The DatasetBuilder for CheXpert was recently merged into master, but it currently does not appear in the [datasets list](https://github.com/tensorflow/datasets/blob/master/docs/datasets.md). I was just wondering if this should have been generated automatically. Thanks!

**Environment information**
* Operating System: Not applicable
* Python version: Not applicable
* `tensorfl

[2019-02-27 14:04] slerman12 commented on #76
Thank you. For 1, I meant, how can I substitute my training dataset with the testing dataset? For example, with regular placeholders, I would use a feed dict to feed first the training data into the placeholders and then the testing data in order to get testing results. Here, my only option seems to be copying the full set of code for a testing phase. Is there a way I can substitute the training v

[2019-02-27 14:06] slerman12 commented on #76
Also, if I catch an OutOfRangeError, how do I continue iterating through the dataset after that? Will repeating still happen automatically and the error go away?

[2019-02-27 16:03] rsepassi commented on #76
1. You can have a function that takes the dataset and first call it with the training dataset, then the testing dataset.
2. OutOfRangeError: that indicates you've reached the end of the dataset. To do another epoch, you can create another [iterator](https://www.tensorflow.org/api_docs/python/tf/data/make_one_shot_iterator) out of the dataset.

It'd be worth reading the [guide on `tf.data`](https:/

[2019-02-27 16:05] VIGS25 commented on #85
@rsepassi: I went through the code for `DatasetInfo` and only a small fraction of the properties mentioned in [schema.org](https://schema.org/Dataset) or [Google Dataset type docs](https://developers.google.com/search/docs/data-types/dataset) is used.

Is it alright if only that subset is used for generating the schema from the builder? For a start case, it does look alright though!

[2019-02-27 16:06] danbri commented on #85
I made a quick start here, https://colab.research.google.com/drive/1b5h_9L8JMbZDasbgnPe6ZonTdoSwG6wn#scrollTo=eshIB6OyrVH5 ... with links to your API, our markup specs etc. It emits a basic schema.org description, maybe we can add more.

[2019-02-27 17:33] rsepassi commented on #85
Thanks @danbri!

Yeah, let's keep building on this. Here's an [editable Colab](https://colab.research.google.com/drive/1AllmySMfvaKEsA8od23BHOzSUvwfmwIM) or send a PR to add functionality to the [`schema_org` function](https://github.com/tensorflow/datasets/blob/242a3194b03320987ca9c2b5d9694a20154c2473/tensorflow_datasets/scripts/document_datasets.py#L370).

[2019-02-27 17:51] rsepassi commented on #85
What we want is a nice page like [this one](https://toolbox.google.com/datasetsearch/search?query=Keras%20IMDB%20Reviews&docid=boG6y5%2FShdFGYKfGAAAAAA%3D%3D).

The associated JSON-LD from the source is below. Note that we can put the contents of that nice page in here:

[code]

[2019-02-27 17:53] rsepassi commented on #85
Maybe we put exactly what's in [`datasets.md`](https://github.com/tensorflow/datasets/blob/master/docs/datasets.md) for each dataset into the description.

[2019-02-27 18:12] natashafn commented on #85
That would work! Description can have markdown in it (which is exactly what the Kaggle datasets do).

Another suggestion that would be easy to implement:
includedInCatalog....
This way, you control what shows up on the link button (the catalog name)

[2019-02-27 18:49] danbri commented on #85
@rsepassi One glitch in your Colab version, "url": http://yann.lecun.com/exdb/mnist/, ... that URL needs double (and not 'single') quotes around it.

[2019-02-27 18:52] rsepassi commented on #60
Just to be clear this solution would not work in a browser. This is in the server environment, since you'd still have to run the Python code. @bileschi is that still useful?

[2019-02-28 00:13] jidroid404 commented on #42
I would like to add this dataloader to tfds. #GANLove!

[2019-02-28 02:11] Ecalpal opened #97 "[data request] Flying Chairs"
* Name of dataset: Flying Chairs
* URL of dataset: https://lmb.informatik.uni-freiburg.de/resources/datasets/FlyingChairs.en.html
* License of dataset:
Not noted，
"Terms of Use
The dataset is provided for research purposes only and without any warranty. Any commercial use is prohibited. If you use the dataset in your research, you should cite the aforementioned paper."
* Short description of datas

[2019-02-28 03:59] bileschi commented on #60
@rsepassi we would like to be able to access this data from the browser, if possible.  The alternative is that we will not be able to use tfds.datasets for our use case.

If you'll permit a bit of design in a github issue, here is the way I see it:

**There are four important data representations that belong in this discussion:**

A:  The raw files (or database) storing the data at rest: e.g,. .zi

[2019-02-28 12:43] kaustumbh7 commented on #25
Can anyone please guide me what all has to be done here? I am interested in working on this.

[2019-02-28 12:55] Conchylicultor commented on #25
That would be great. Thank you!
It shouldn't be too much work.

You can look at the current Coco2014 to create a similar Coco2018 by changing the downloaded data used. Try to reuse code as possible (by using inheritance).
https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/image/coco.py

Additionally, while doing this, it would be great if you also where adding a `"image/id": tf

[2019-02-28 14:53] EduardoDixo opened #99 "NumPy usage variables in README not consistent"
**Short description**
Readme.md line 136 creates variable numpy_data, line 137 uses undefined variable numpy_dataset

**Expected behavior**
line 137 should read:
numpy_images, numpy_labels = numpy_data["image"], numpy_data["label"]

[2019-02-28 15:44] Conchylicultor commented on #99
Thanks for noticing. Sending a fix

[2019-02-28 16:21] galeone opened #102 "'_OptionsDataset' object has no attribute 'output_shapes'"
**Short description**
Trying to download the Celeb-A dataset from using `tfds.load`; the download works fine, but (at the end of the processing, I guess) raises the error.

**Environment information**
* Operating System: Archlinux
* Python version: 3.6.8
* `tensorflow-datasets`/`tfds-nightly` version: tested with tensorflow-datasets==1.0.1 and `tfds-nitghly`
* `tensorflow`/`tensorflow-gpu`/`tf-nig

[2019-02-28 16:33] Conchylicultor commented on #99
Closed with https://github.com/tensorflow/datasets/pull/101

[2019-02-28 16:33] #99 closed

[2019-02-28 16:54] ChanchalKumarMaji commented on #24
Can you please tell me, what exactly is needed to be done here ? Is knowledge of GAN necessary to contribute to this issue ?

[2019-02-28 17:01] mathetes87 opened #103 "Host service privately"
Would it be possible to host a service to serve private datasets using tf-datasets?

[2019-02-28 17:55] kaustumbh7 commented on #25
Okay. No problem! If I have any doubts can I ask you @Conchylicultor ?

[2019-02-28 19:34] rsepassi commented on #102
`pip install tfds-nightly` should do the trick.

TF 2.0 is under active development, so 1.0.1 is no longer compatible with the latest TF 2.0 preview.

[2019-02-28 19:34] #102 closed

[2019-02-28 19:37] galeone commented on #102
I've also tested with the nightly: same behaviour

[2019-02-28 21:34] rsepassi commented on #85
Done, thanks!

[2019-02-28 21:35] #76 closed

[2019-02-28 21:40] rsepassi commented on #60
So we have a TF Graph of the input reading pipeline. If you have a TF runtime that can run that Graph, then we can just ship the Graph and you can run that.

If not, then I like the idea of streaming data in format C, but where is the data streaming from? I was thinking that the Python (running TF) would be the one to stream it out, but that requires a Python (and TF) runtime available. Were you t

[2019-02-28 21:41] rsepassi commented on #42
That's great! Thanks @jidroid404. I've added you as a collaborator; please accept the invite and then I can assign this to you.

[2019-02-28 21:49] rsepassi commented on #103
Hi @mathetes87, great question. Here's what I'd recommend you do to host private datasets. We may want a document that details how to do this. Would you be interested in taking some of this, trying it out, and submitting a PR with documentation?

1. In your own private repository, add definitions of datasets as subclasses of `tfds.core.DatasetBuilder`, just like you would if you were contributing

[2019-02-28 21:58] rsepassi commented on #24
Hi @ChanchalKumarMaji, thanks for your interest! No, knowledge of GANs is not necessary. I'd recommend having a single CycleGAN `DatasetBuilder` that has a `BuilderConfig` for each of the [listed datasets](https://github.com/junyanz/CycleGAN/blob/bba55b0e4d1e002c86892959da251b3e0de706dc/datasets/download_dataset.sh#L4). You can start with a single `BuilderConfig` just for `horse2zebra`. And you'd

[2019-02-28 21:59] slerman12 commented on #76
Thanks. My last question, if it's ok:

I did as suggested, including an analogous procedure for retrieving test batches:

`test_data = test_data.repeat().shuffle(10000).batch(200).prefetch(tf.data.experimental.AUTOTUNE)
example = tf.compat.v1.data.make_one_shot_iterator(test_data).get_next()
test_images, test_labels = example["image"], example["label"]`

However, I'd like to just retrieve teh full

[2019-02-28 22:00] rsepassi commented on #102
Hmm...this is our latest [continuous build](https://storage.googleapis.com/tfds-kokoro-public/kokoro-build.html) and all tests pass against TF 2.0 ([logs](https://source.cloud.google.com/results/invocations/a38f0751-0843-4e3b-be6d-80f7bbedd99a/targets). Could you ensure you're using the latest `tfds-nightly` and 2.0 preview? You can look in the logs to see what version of TF 2.0 was tested against

[2019-02-28 22:02] rsepassi commented on #76
Sure, pass `batch_size=-1`. That will give you a `Tensor` with the full split. If you want NumPy, see [here](https://github.com/tensorflow/datasets#numpy-usage-with-tfdsas_numpy).

[2019-02-28 22:21] slerman12 commented on #11
Will there ever be standard training paradigms implemented as well? To the best of my knowlege, Omniglot is usually not used in its raw form, but rather I see results usually get reported for a k-way setup where a handful of classes are observed at a given time. It would be very useful to be able to use Datasets to reproduce those benchmarks. Would be much better than relying on open source refere

[2019-02-28 23:13] rsepassi commented on #11
We have considered adding the concept of a `Task` or `ProblemStatement`, which might go along with some preprocessing on the datasets, but probably won't be adding that anytime soon. It's important we flesh out the core right now, which is to standardize base datasets, and allow users the flexibility to build any kind of pipeline they want.

You can easily get the class labels for the dataset and

[2019-03-01 00:14] rsepassi opened #107 "[data request] Mozilla Common Voice"
* Name of dataset: Common Voice
* URL of dataset: https://voice.mozilla.org/en/datasets
* License of dataset: Creative Commons Attribution Share-Alike 3.0 Unported license
* Short description of dataset and use case(s): open source, multi-language dataset of voices that anyone can use to train speech-enabled applications.

Folks who would also like to see this dataset in `tensorflow/datasets`, ple

[2019-03-01 03:44] ChanchalKumarMaji commented on #24
Thanks @rsepassi for your response.

This is what I need to do to solve this issue (please correct me if I am wrong):
1. Create a new folder named <code>CycleGAN</code> under <code>datasets/tensorflow_datasets/</code>
2. In this folder, I need to have the <code>BuilderConfig</code> for the following DataSets :
        -> <code>apple2orange</code>
        -> <code>summer2winter_yosemite</code>

[2019-03-01 04:47] rsepassi commented on #24
Let's create a file `tensorflow_datasets/image/cycle_gan.py` and put the dataset in there. You'll definitely want to carefully read through and follow [the guide for adding a new dataset](https://www.tensorflow.org/datasets/add_dataset). You'll be implementing "heavy" configuration (you'll see that referenced in the guide) for the various sub datasets (horse2zebra, etc.). Start with just 1. `cats_

[2019-03-01 05:15] cyfra commented on #87
Hey @andrewk1 ,

The dataset list is not generated automatically - we usually update it every couple days with a script.

[2019-03-01 05:32] bileschi commented on #60
Yeah, I was thinking the data could be stored in the processed format.  Funny that we can share the data and the instructions on how to prepare it, and we can even provide colabs which will execute those instructions for you, but we can't share the prepared data.  I'm sure you've been over this much more than I have but it's still frustrating.

Is there some way I can determine the limited subset

[2019-03-01 06:34] rsepassi commented on #87
And see the note on #100.

On Thu, Feb 28, 2019 at 9:15 PM Marcin Michalski <notifications@github.com>
wrote:

[2019-03-01 06:40] rsepassi commented on #60
Yes, it is frustrating.

We are working on whitelisting datasets where we do have license to redistribute. For those, we could host the preprocessed format as well. So far, it's not a large set and many of the most popular datasets don't fall into this category (e.g. anything with images pulled from the web without license checks).

I haven't looked into the service approach; how would it work? On

[2019-03-01 07:10] bileschi commented on #60
Yeah, I'm trying to explore the use case where users are exploring datasets and just playing around.  The type of exploration that takes place when people are just beginning to learn ML.  I think a paywall would heavily winnow such users.

Do we have any leeway at all in the format we store the data at rest?  Can we make it easier to request arbitrary samples in data format B?

[2019-03-01 07:23] ShilpaSangappa commented on #58
I would like to work on adding this dataset.
Can you please assign this to me?

[2019-03-01 10:05] cyfra commented on #58
Great - @ShilpaSangappa - please accept collaborator invite

[2019-03-01 10:44] Conchylicultor commented on #25
Yes of course, don't hesitate if you encounter any issues

[2019-03-01 11:38] galeone commented on #102
Update: you're right.
Using a new virtualenv with tensorflow 2.0 nightly and tfds-nighly works; probably I had something old in the env. Thanks!

[2019-03-01 14:36] rsepassi commented on #102
Great!

[2019-03-01 15:56] ShilpaSangappa commented on #58
Collaborator invite accepted. Thanks.

[2019-03-01 16:51] Anupam-tripathi commented on #45
@rsepassi I would love to collaborate with @tabshaikh and make a pull request for Downsampled ImageNet. Please assign it to me also.

[2019-03-01 17:08] Rohith-hacker commented on #44
I would like to add this dataset,
Can this be assigned to me?

[2019-03-01 17:21] captain-pool commented on #107
Hey @rsepassi , I'ld like to work on this issue. Can you assign me for this? Thank You.

[2019-03-01 17:29] kaustumbh7 commented on #25
@rodrigob Can you please share the link from where the dataset can be downloaded ? I am unable to find it because it is not available in the COCO api.

[2019-03-01 17:29] Rohith-hacker commented on #86
@cagbal can you assign this to me? thanks

[2019-03-01 17:40] Conchylicultor commented on #25
I simply found the links from the official website: http://cocodataset.org/#download

I think 2018 uses the same data from 2017 (see http://cocodataset.org/#panoptic-2018):
`Participants are recommended but not restricted to train their algorithms on COCO 2017 train and val sets. The download page has links to all COCO 2017 data.`

The dataset should be named `Coco2017` then

[2019-03-01 17:48] Conchylicultor commented on #25
I agree their website is confusing. from what I understand, "2017 Train/Val/Test"should contains 2018 annotations:
`2017 Train/Val/Test:  Detection 2017, Keypoints 2017, Stuff 2017, Detection 2018, Keypoints 2018, Stuff 2018, Panoptic 2018`

`Note: the split year refers to the year the image splits were released, not the year in which the annotations were released.`

[2019-03-01 18:01] ayush1999 commented on #16
@rsepassi Is this a high priority? I'm looking for a good place to start, was wondering if this could be assigned to me in case you're interested in having this dataset.

[2019-03-01 18:01] ChanchalKumarMaji commented on #24
[code]

[code]

@rsepassi Can you please tell me if I am going in the right direction. I think there may be errors, please tell me if you feel if there is any error. Once I get the feedback, I will proceed further. Thanks.

[2019-03-01 18:33] cyfra commented on #86
@Rohith-hacker - please accept collaborator invite.

[2019-03-01 18:34] cyfra commented on #107
@captain-pool - please accept the collaborator invite.

[2019-03-01 18:43] rsepassi commented on #24
You'll want to have the DatasetBuilder class be called CycleGAN.
Then have a CycleGANConfig.

The splits go in `_split_generators`, not in `BUILDER_CONFIGS`. The `CycleGanConfig` objects will go in `BUILDER_CONFIGS`.

Are you following the guide?

[2019-03-01 18:45] rsepassi commented on #16
Yeah, we'd love to have this dataset in TFDS. Thanks for your interest! I've sent you a collaborator invite; let me know when you've accepted and I'll assign this to you.

[2019-03-01 18:48] rsepassi commented on #44
That's great, thank you @Rohith-hacker! Let me know when you've accepted the collaborator invite and I'll assign this to you.

[2019-03-01 18:50] rsepassi commented on #45
Hi @Anupam-tripathi, thanks for your interest! Are you already working directly with @tabshaikh? If not, let's give him a chance to get a PR in. If he'd like the help, then please do work together to get something in!

[2019-03-01 18:52] ayush1999 commented on #16
Sure, I've accepted it. Please assign.

[2019-03-01 18:57] BenjinP opened #113 "Writing TFRecords without shuffling (i.e. in-order)"
Hello. I'm now trying to create my own dataset of synthetic data. What I understand is that data is automatically converted to TFRecords in the disk. The thing is, I need the records to be written in order it is generated. However, I noticed that records are shuffled before writing them to the disk. The only place where I can set the shuffling to 'False' is inside the function 'def write_from_gene

[2019-03-01 19:06] ChanchalKumarMaji commented on #24
Yes, I am following the guide. Some misconception errors might have crept in. I will revise my code.

You mean to say, <code>horse2zebraConfig</code> be renamed to <code>CycleGANConfig</code>. In <code>BUILDER_CONFIGS</code> I will need to put the different types of data-sets. Also I need to create a subclass of <code>tfds.core.BuilderConfig</code> named <code>CycleGAN</code>. Is that correct.

[2019-03-01 19:14] rsepassi commented on #113
You're understanding correctly. Right now, we always round robin write across shards, and we shuffle.

In-order writes do seem very reasonable for naturally contiguous data.

Disabling shuffling should be easy. But we'll have to come up with how to replace round robin writing in a reasonable way given a context of multiple shards. The caller would have to specify either how many records should go

[2019-03-01 19:17] rsepassi commented on #24
Dataset: `class CycleGAN(tfds.core.DatasetBuilder)`

Config: `class CycleGANConfig(tfds.core.BuilderConfig)`

[2019-03-01 19:18] rsepassi commented on #16
Done. Looking forward to your PR!

[2019-03-01 19:37] rsepassi commented on #60
Well there's no leeway in redistributing, except for the few datasets where we do have license/permission.

Data format B is what's in the TFRecord files in Example protos.

TFRecords are very simple file formats ([spec](https://github.com/tensorflow/tensorflow/blob/df8f1ab92a9e70d75251b48ed9b4021c690788bc/tensorflow/core/lib/io/record_reader.h#L61)).

And protos in JS should be easy too ([docs](h

[2019-03-01 19:38] ChanchalKumarMaji commented on #24
Ok, @rsepassi I understood. Can you please assign the issue to me ?

[2019-03-01 19:43] rsepassi commented on #24
Great. Let me know when you've accepted the collaborator invite and I'll assign you.

[2019-03-01 19:45] Anupam-tripathi commented on #45
No, I have not joined him till now but will surely contact him personally.

[2019-03-01 19:56] #87 closed

[2019-03-01 20:05] cuent commented on #17
Hey @rsepassi, I'd like to take this issue. Could you please assign the issue to me?

[2019-03-01 20:07] rsepassi commented on #17
Great! Let me know when you've accepted the invite, and then I'll assign it.

[2019-03-01 20:17] lc0 commented on #44
@Rohith-hacker If you need any support, I am happy to collaborate ;)

[2019-03-01 20:19] Anupam-tripathi commented on #26
I would like to contribute in this dataset as a good start for me.

[2019-03-01 20:21] Anupam-tripathi commented on #26
I will like to see this dataset in tensorflow/dataset and would like to contribute in this issue.

[2019-03-01 20:29] cuent commented on #17
Done, thanks!

[2019-03-01 21:03] ChanchalKumarMaji commented on #24
Thanks, I have accepted the collaborator invite.

[2019-03-01 21:14] rsepassi commented on #26
Great, thanks! Let me know when you accept the collaborator invite, and I'll assign you.

[2019-03-01 21:22] mathetes87 commented on #103
I would gladly do that! Next week I should have the time to test it.
Thanks!

[2019-03-01 21:22] #103 closed

[2019-03-01 21:23] rsepassi commented on #103
Great, thanks!

On Fri, Mar 1, 2019 at 1:22 PM Juan Roberto Honorato <
notifications@github.com> wrote:

[2019-03-01 23:08] tabshaikh commented on #45
@Anupam-tripathi I would love to collaborate with you but the pr is almost done with a few changes left to do and hopefully, I have added the dataset correctly @rsepassi  I would do a pr till mid next week as I will be going for an ML hackathon during the weekend, I had some question too would ask in the draft pr
Cheers :)

[2019-03-02 00:14] rsepassi commented on #45
Sounds good. Thanks!

On Fri, Mar 1, 2019 at 3:08 PM Tabish Shaikh <notifications@github.com>
wrote:

[2019-03-02 01:21] Rohith-hacker commented on #44
accepted the invite.

[2019-03-02 03:54] ShilpaSangappa commented on #58
The URL for dataset, as also mentioned in the EMNIST paper is:
https://www.westernsydney.edu.au/bens/home/reproducible_research/emnist

But, here in the first comment, the URL is mentioned as:
https://www.nist.gov/srd/nist-special-database-19

I checked the mnist.py file and see that the URL and citations are for Yann LeCun, et al. and not NIST.
I assume, the same applies for EMNIST.

Kindly clari

[2019-03-02 04:06] Naman-Bhalla commented on #33
Hello @rsepassi  I would like to work on this issue. Thanks

[2019-03-02 04:07] alexalemi commented on #58
I've updated the first comment.  It appears https://www.westernsydney.edu.au/bens/home/reproducible_research/emnist is now the official link for the dataset.  The arxiv paper: https://arxiv.org/abs/1702.05373 changed the link from v1 to v2 and added the following comment to their submission:

The url in the original paper was: https://www.nist.gov/itl/iad/image-group/emnist-dataset
This url didn't

[2019-03-02 04:15] ShilpaSangappa commented on #58
Thanks for the clarifications and updations.

[2019-03-02 04:28] tabshaikh commented on #33
@Naman-Bhalla I think there is a pr which will close this issue

[2019-03-02 06:20] kaustumbh7 commented on #25
Yes, even I thought so. Thanks for the help! 😊

[2019-03-02 07:38] cagbal commented on #86
@Rohith-hacker Sorry I dont have any rights on this repo

[2019-03-02 07:42] captain-pool commented on #107
@rsepassi Can I use Pandas to read the tsv files or do I need to use tf.train.string_input_producer ?

[2019-03-02 08:39] Anupam-tripathi commented on #26
Ya, please assign it to me I will accept the collaborator invite.

[2019-03-02 09:13] Anupam-tripathi commented on #45
Ya, surely I will prove to be a good teammate.

[2019-03-02 10:33] captain-pool commented on #107
@rsepassi , @cyfra, The Mozilla Voice Dataset is having train.tsv, test.tsv and validation.tsv files which points to a set of mp3 files placed in a folder. If I try to read the tsv files using `tf.data.TextLineDataset`,  and try to segregate the training and testing files, for returning through `SplitGenerator`, I need to iterate over the entries of the tsv files, which will depend on the default

[2019-03-02 11:17] navneet-nmk commented on #21
@rsepassi I would like to take a crack at including UCF101

[2019-03-02 13:10] PulkitMishra commented on #97
@rsepassi @Ecalpal , I'd like to work on this issue. Have gone through gitter discusions and [this](https://twitter.com/DynamicWebPaige/status/1099772611070816256) thread.

[2019-03-02 14:28] captain-pool commented on #107
Nevermind found a solution without using Pandas.
Turns out, wrapping the Tensor in `tfds.as_numpy()` does the job and returns a generator to work on, without the need for calling `sess.run()` explicitly.

[2019-03-02 14:56] adikolsur commented on #97
@Ecalpal I would like to contribute to this dataset. Kindly assign this project to me, please.

[2019-03-02 15:38] Rohith-hacker commented on #86
done

[2019-03-02 16:21] rsepassi commented on #86
Thanks @Rohith-hacker! Looking forward to the PR.

[2019-03-02 16:26] rsepassi commented on #107
In data generation, it is not necessary to use TF, so you can (and probably should) use regular Python libraries, though all file access should go through `tf.io.gfile`.

[2019-03-02 16:27] rsepassi commented on #97
Thanks for your interest! @PulkitMishra, let me know when you've accepted the invite, and I'll assign this to you. @adikolsur, let's see if we can find you another dataset to work on. Here are the current [unassigned dataset requests](https://github.com/tensorflow/datasets/issues?q=is%3Aissue+is%3Aopen+label%3A%22dataset+request%22+no%3Aassignee) (though for some, somebody may have already request

[2019-03-02 16:29] rsepassi commented on #21
Hi @navneet-nmk, thank you! Let me know when you've accepted the collaborator invite and I'll assign it to you.

[2019-03-02 17:22] ChanchalKumarMaji commented on #24
[code]

Suppose I define my <code>_split_generators(self, dl_manager)</code> as above. What to do after this ? I think I cannot use <code>tfds.core.SplitGenerator</code> as it uses shards to split.

Should I use <code>tfds.load</code> or something. If so, how to ?

[2019-03-02 17:46] rsepassi commented on #24
You should return the list of SplitGenerators now (see MNIST
<https://github.com/tensorflow/datasets/blob/da58964668f4491092406b1265bac05892ec5e3d/tensorflow_datasets/image/mnist.py#L105>
as an example). num_shards tells the writer how many shards the examples
should be put into.

On Sat, Mar 2, 2019 at 9:22 AM Chanchal Kumar Maji <notifications@github.com>
wrote:

[2019-03-02 17:47] rsepassi commented on #24
And remember that [the guide is your friend](https://github.com/tensorflow/datasets/blob/da58964668f4491092406b1265bac05892ec5e3d/tensorflow_datasets/image/mnist.py#L105).

[2019-03-02 18:47] PulkitMishra commented on #97
@rsepassi I have accepted the invite and am good to go. Any heads up?

[2019-03-02 18:54] rsepassi commented on #97
Great, looking forward to the PR! Can start with [Flying Chairs](https://lmb.informatik.uni-freiburg.de/resources/datasets/FlyingChairs.en.html#flyingchairs).

[2019-03-02 19:03] ParthS007 commented on #27
Hi @rsepassi, I would like to work on adding this dataset. I have gone though gitter discussions and want to get started with this Project. Can you please help me getting started and assign this issue to me.

Thanks

[2019-03-02 19:09] rsepassi commented on #27
Great! Let me know when you've accepted the collaborator invite, and I'll
assign you. The guide for adding a new dataset is here:
https://github.com/tensorflow/datasets/blob/master/docs/add_dataset.md

On Sat, Mar 2, 2019 at 11:03 AM Parth Shandilya <notifications@github.com>
wrote:

[2019-03-02 19:16] ParthS007 commented on #27
@rsepassi I have accepted the invite. I will go through the doc and will ask here if I face any difficulty.

Thanks for the help.

[2019-03-02 20:13] adikolsur commented on #20
I would like to contribute to this dataset. Kindly assign it to me. And can you also explain exactly what has to be done here?

[2019-03-02 20:15] adikolsur commented on #19
Hi @georgedahl , I would like to work on adding to this dataset. I want to get started with this Project. Can you please help me get started and assign this issue to me.

Thanks

[2019-03-02 20:18] rsepassi commented on #19
Hi @adikolsur, thanks for your interest! Actually this dataset was added by #80, so closing this issue. Let's find you another dataset to work on. Here are the current [unassigned dataset requests](https://github.com/tensorflow/datasets/issues?q=is%3Aissue+is%3Aopen+label%3A%22dataset+request%22+no%3Aassignee).

[2019-03-02 20:18] #19 closed

[2019-03-02 20:19] rsepassi commented on #20
Hi @adikolsur, thanks for your interest. Please see the [guide to adding a dataset](https://github.com/tensorflow/datasets/blob/master/docs/add_dataset.md).

[2019-03-03 04:49] AS2910 commented on #22
Hey I would like to work on this , can you assign it to me @rsepassi

[2019-03-03 04:50] dynamicwebpaige opened #118 "Read CelebA pictures from archive directly."
The [CelebFaces Attributes Dataset (CelebA)](https://github.com/tensorflow/datasets/blob/master/docs/datasets.md#celeb_a) is a large-scale face attributes dataset with **more than 200K celebrity images**, each with 40 attribute annotations. The images in this dataset cover large pose variations and background clutter. CelebA has large diversities, large quantities, and rich annotations, including:

[2019-03-03 05:26] dynamicwebpaige opened #119 "Support nested structures in statistics."
This feature would be needed for at minimum the [CelebA dataset](https://github.com/tensorflow/datasets/blob/master/docs/datasets.md#celeb_a).

Nested structures could be stored on disk and documented in schema in a "flat" way, but have nesting in `as_dataset` and in the `FeatureDict` (for data gen). Whenever applicable, nesting / un-nesting should be consistent with [`tf.contrib.framework.nest.{f

[2019-03-03 05:34] dynamicwebpaige opened #120 "[Documentation] Display the download size for each dataset."
Currently, just by looking at the [list of datasets available in TFDS](https://github.com/tensorflow/datasets/blob/master/docs/datasets.md#all-datasets), there is no way to know the size of each dataset prior to downloading. Users may be operating under constrained disk space, and should be informed of the size of the dataset before requesting.

This feature enhancement would **detail the download

[2019-03-03 05:56] ChanchalKumarMaji commented on #120
I can work on this issue. Can you please assign this to me ?

Also please tell me what to do. Should I add a new column on the md file ?

[2019-03-03 06:09] ParthS007 commented on #120
@dynamicwebpaige I also want to work on this Issue.
@ChanchalKumarMaji  Can we collaborate on this one?

[2019-03-03 06:11] ParthS007 commented on #118
@dynamicwebpaige I am interested to work on it. How should I get started?
Thanks for the help.

[2019-03-03 06:12] pyaf commented on #25
Hey, @kaustumbh7 are you taking up this issue? If not, then I would like to take this up. I've used COCO dataset in some of my object detection projects, and I'm well familiar with it. :)

[2019-03-03 06:16] dynamicwebpaige opened #121 "Shard subsplit API implementation for TensorFlow Datasets (TFDS)."
Performance deteriorates dramatically when using `tfds.Split.TRAIN.subsplit(tfds.percent[...])`.

**For example**, when loading a sub-split of ImageNet defined as `tfds.Split.TRAIN.subsplit(tfds.percent[:10])`, data pipeline performance drops more than 10-fold. Specifically, performance drops from ~6000 images/sec to ~450 images/sec. This is impractical, and a workaround would be to shard the data

[2019-03-03 08:09] ChanchalKumarMaji commented on #120
@ParthS007 lets collaborate together.

[2019-03-03 08:11] Ecalpal commented on #97
Thank you all!  @rsepassi @PulkitMishra @adikolsur
Because there are not many people in the field of optical flow, I really appreciate your help.
It took me a lot of time to write optical flow dataset when I training an optical flow such as pwc-net in tensorflow.
so, when I see TensorFlow Datasets, I admire the fact that people in other fields can directly use the dataset provided by tensorflow.
I

[2019-03-03 09:52] vijaysinghkadam commented on #120
Hi ,
I have never contributed before to tensorflow and I want to start contributing ,
can I work on this issue

[2019-03-03 10:03] navneet-nmk commented on #21
Hi @rsepassi, I have accepted the invite. Looking forward to start.

[2019-03-03 10:15] ayush1999 commented on #16
@rsepassi  Sure. Would be great if you could clarify a few things beforehand: I'm looking at the CNN/stories dataset, and it looks like each document contains a paragraph about an event, and a few question related to this paragraph. So here my `text` will be the paragraph, and my `label` will be the questions, right?

[2019-03-03 10:37] Conchylicultor commented on #120
Some pointers on this:
This should be a trival change (probably less than 10 lines of code) to https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/scripts/document_datasets.py
It would be just to expose the builder.info.size_in_bytes field in the generated markdown.
The download size is automatically computed when downloading the dataset

[2019-03-03 10:43] Conchylicultor commented on #118
Thanks for taking care of this. Tfds already has a feature to read directly from archives `dl_manager.iter_archive`. The idea here would be to update CelebA to use this feature.
Have a look at https://github.com/tensorflow/datasets/blob/6d075f775bd9d415830b8a8bb5c6b71c38e005fd/tensorflow_datasets/image/horses_or_humans.py for example

[2019-03-03 11:31] Shashankjain12 commented on #15
hey @rsepassi  I would like to work on this dataset can you assign me please?

[2019-03-03 11:48] Shashankjain12 commented on #121
Hey @dynamicwebpaige can i work on this issue?

[2019-03-03 11:51] kaustumbh7 commented on #25
Hey, @pyaf I would like to take this up issue and have already started working on it 😊

[2019-03-03 11:52] pyaf commented on #25
Cool :)

[2019-03-03 11:56] kyscg commented on #119
I'd like to try my hand at fixing this issue, could you guide me through the process?

[2019-03-03 14:14] nahidalam commented on #33
@tabshaikh which PR you are referring to.

[2019-03-03 14:20] Anupam-tripathi commented on #120
I would also like to contribute in this issue warning the user by displaying the size of the dataset he wants to download. Let's collaborate!!

[2019-03-03 16:14] kaustumbh7 commented on #25
@Conchylicultor The panoptic annotations for COCO-2017 contains annotation in both json and image form. So in `builder._generate_examples` how should I yield the feature dictionaries?

[2019-03-03 19:07] ayush1999 opened #127 "Error in loading the celeb_a dataset (Py 3.7)"
**Short description**
Loading the `celeb_a` dataset results in an error.

**Environment information**
* Operating System: <os> Ubuntu 18.04
* Python version: <version> python 3.7
* `tensorflow-datasets`/`tfds-nightly` version: 1.0.1
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version:  tf-nightly 1.14.1-dev20190301

**Reproduction instructions**

[code]

[2019-03-03 19:32] captain-pool commented on #107
@rsepassi  @cyfra How can I set tensor shape in `_info` function dynamically?
The audio files of Common Voice dataset have different lengths. so the shape of the tensor is different for each of the audio file.

[2019-03-03 21:58] Shashankjain12 commented on #15
Sir do I also need to add my name in citation?

[2019-03-04 02:48] Shashankjain12 commented on #127
Is this datset able to load when you do this same task via dataset builder!?

[2019-03-04 06:22] gogasca opened #128 "[data request] KDD Cup 1999 Data Set/Large structured-text dataset"
* Name of dataset: KDD Cup 1999 Data Data Set
Request is to have a large dataset for text based features to perform classification. Currently only Structured/Text based dataset is Titanic with only: 1,309, This dataset contains 4M records.
* URL of dataset: https://archive.ics.uci.edu/ml/datasets/KDD+Cup+1999+Data
* License of dataset: https://archive.ics.uci.edu/ml/citation_policy.html
* Short de

[2019-03-04 07:00] bileschi commented on #60
Reading from a remote TFRecord is probably within the realm of possibility.  For datasets of type A, where we don't have a parser automatically within TensorFlow it might be better to just represent the data as bytes and point the user to instructions rather than package decoding software with the dataset download or within tfjs.datasets.

[2019-03-04 09:33] Shashankjain12 commented on #15
Sir can i suubmit the PR as i have added babl question and answering dataset?

[2019-03-04 09:38] ayush1999 commented on #127
No, same error.

[2019-03-04 09:38] Shashankjain12 commented on #128
Hey @gogasca  can i work on this can you assign me this issue?

[2019-03-04 09:53] Shashankjain12 commented on #127
Ok I will look for the problem!!

[2019-03-04 09:57] Conchylicultor commented on #120
@Anupam-tripathi Please note that the download size is already displayed when downloading a dataset: https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/dataset_builder.py#L387

Without downloading, the user should already be able to get the info with:

[code]
This issue is mostly to expose this information in the webpage doc.

[2019-03-04 11:00] Conchylicultor commented on #25
@kaustumbh7

I think the user expect information as image as this is the simplest to manipulate.
[code]
However as a first iteration, you may want to drop the segmentation annotations, similarly to `Coco2014`. Those can be added later on.

Segmentation correspond to image mask, so it make sense to store them to as png. BBoxes are coordinates, so it make sense that the representation is different.

[2019-03-04 11:17] Conchylicultor commented on #119
Thanks for looking at this.
Currently during data generation with statistics, if the feature dict contains nested features, statistics  computation are skipped here: https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/dataset_info.py#L508

The idea would be still compute stats for those feature (probably by recursively iterating over `info.features.get_tensor_info()`).

Ple

[2019-03-04 12:34] Anupam-tripathi commented on #26
Sorry, Sir for being not active for two days. Please send me a collaborator invite for this issue I have thoroughly studied the issue and will surely make a pull request.

[2019-03-04 13:35] ChanchalKumarMaji commented on #120
@Conchylicultor ,

I have generated a new dataset documentation [here](https://github.com/ChanchalKumarMaji/dataset/blob/master/datasets_1.md). There are some datasets where I get the size as 0. Cannot make out why this happens.

But when I run the following code in colab
[code]
it prints 0.

Will I generate a new pull request so that you can see the changes made by me in <code>document_datasets.p

[2019-03-04 13:44] cyfra commented on #26
@Anupam-tripathi - you should already see your collaborator invite here:
https://github.com/tensorflow/datasets/invitations

[2019-03-04 14:00] cyfra commented on #128
@Shashankjain12 - please accept collaborator invite

[2019-03-04 14:01] cyfra commented on #15
@Shashankjain12 - please accept collaborator invite.

No, the citation should come from the dataset paper/page.
Yes, you can submit the PR.

[2019-03-04 14:10] cyfra commented on #55
@kovasb - We've added documentation on how to use GCS as 'data_dir' here:

https://github.com/tensorflow/datasets/blob/master/docs/gcs.md

[2019-03-04 14:14] cyfra commented on #43
Thanks for the proposal @frthjf

I'd second what @Conchylicultor wrote: this directory can be quite large, and making it hidden by default might be confusing to some users.
You can always select the hidden path as your data dir - if you so prefer.

I'll close this bug.

[2019-03-04 14:14] #43 closed

[2019-03-04 14:30] cyfra opened #138 "[data request] Human 3.6M"
* Name of dataset: Human 3.6M
* URL of dataset: http://vision.imar.ro/human3.6m/description.php
* License of dataset: GRANT OF LICENSE FREE OF CHARGE FOR ACADEMIC USE ONLY
* Short description of dataset and use case(s):

3.6 million 3D human poses and corresponding images

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requ

[2019-03-04 14:32] cyfra opened #139 "[data request] Kinetics"
* Name of dataset: Kinetics
* URL of dataset: https://deepmind.com/research/open-source/open-source-datasets/kinetics/
* License of dataset: CC BY 4.0
* Short description of dataset and use case(s):
Kinetics-600 is a large-scale, high-quality dataset of YouTube video URLs which include a diverse range of human focused actions.

Folks who would also like to see this dataset in `tensorflow/datasets`

[2019-03-04 15:06] kaustumbh7 commented on #25
@Conchylicultor I meant each annotation in Coco-2014 has a single `bbox` where as Coco Panoptic has multiple `bbox` in `segmentation` for each annotation.

So for the first iteration, leaving `segmentation` from annotations leaves us with only `image_id` and `file_name`.

Information to the user will be returned as-
`
{
    'image': tfds.feature.Image(...),
     'image_name': tfds.feature.Text(...

[2019-03-04 15:16] AS2910 commented on #22
Hey @cyfra  I have accepted the collaborator invite

[2019-03-04 16:16] Conchylicultor commented on #25
By `segmentation`, I meant the mask segmentation task (so the mask png images), not the `segments_info` field in the `json` file. It is important that bounding boxes are present in the `FeatureDict`.

I do not really understand what you mean by `Coco2014` has a single bbox per annotation.
Are you talking about the json format which encode the data ? If so, yes, it is possible that the .json format

[2019-03-04 16:27] Shashankjain12 commented on #128
sorry @cyfra ... but i did not got any invite!!

[2019-03-04 16:28] Shashankjain12 commented on #15
@cyfra  I did not got any collaborator invite can you resend me please

[2019-03-04 16:28] Naio opened #140 "Is there a way to pass a custom dict of feature connectors to pre-existing datasets?"
For instance, there's already a COCO dataset implementation integrated to the Dataset API, and I would like to use a different representation for the 'category' feature of the dataset. Can I somehow specify what feature connectors should be used to encode and decode the data, passing them as arguments to some function?

Thanks in advance.

[2019-03-04 16:29] Conchylicultor commented on #120
Oh, sorry about this. Yes, ImageNet was a bad example because it is not automatically downloaded (due to the ImageNet licence, it has to be manually downloaded by the user)

Otherwise, it is possible that most recent datasets do not have size information yet. We are pre-computing the `size_in_bytes` internally at Google and when a used do a `tfds.load`, it download the dataset information from the

[2019-03-04 16:31] Conchylicultor commented on #120
Yes, please generate a pull request with your changes.

Also note that there is `tfds.units.size_str` to have a human readable formatting:

[code]

[2019-03-04 16:38] Conchylicultor commented on #140
Currently, the only way to customize the decoding is to do do this in your output pipeline:

[code]

There is no way to customize the encoding/generation except by creating a new dataset.

Can you tell more about your use case. What format are you expecting for the label ?

[2019-03-04 16:47] kaustumbh7 commented on #25
Yes, I meant the .json format.

Yes, I know the format is slightly different. I am working on it and will soon be ready with a pull request. Thanks for the help! 😊

[2019-03-04 16:51] Conchylicultor commented on #15
You should have received a invite in your mails. Maybe check your spam. Otherwise, I'm not sure but you may see it at https://github.com/tensorflow/datasets/invitations

[2019-03-04 17:04] cyfra commented on #128
Please check in https://github.com/tensorflow/datasets/settings/collaboration

[2019-03-04 17:08] cyfra opened #142 "Comment here to be added to the collaborators list"
Please comment here to be added to the collaborators list.

You must be in this list in order to get an issue assigned to you.

After being added - you must go to:
https://github.com/tensorflow/datasets/settings/collaboration

and accept the invite.

[2019-03-04 17:10] Shashankjain12 commented on #142
Yes sir @cyfra  please add me to the list

[2019-03-04 17:11] cyfra commented on #142
@Shashankjain12 - already done.

[2019-03-04 17:16] Shashankjain12 commented on #128
@cyfra  i did not get collaborator invite for this!!

[2019-03-04 17:31] rsepassi commented on #33
PR #39.

[2019-03-04 17:36] ChanchalKumarMaji commented on #120
@Conchylicultor I have generated a pull request [here](https://github.com/tensorflow/datasets/pull/145). Please check.

[2019-03-04 17:36] rsepassi commented on #97
Yes, please do create additional dataset requests for the datasets you'd like to see @Ecalpal (and we'd love for you to contribute since it sounds like those may be tricky to get right!).

[2019-03-04 17:38] ParthS007 commented on #118
okay @Conchylicultor, I will go through it and make the changes accordingly. Thanks :)

[2019-03-04 17:39] rsepassi commented on #121
Hi @Shashankjain12, thanks so much for your interest! I believe @Conchylicultor is currently working on this, but maybe not - let's wait for him to respond.

[2019-03-04 17:43] rsepassi commented on #60
We can't do anything about datasets of type A (again, redistribution is a no-no). For those, the instructions can be to use `python -m tensorflow_datasets.scripts.download_and_prepare` to generate the TFRecord files somewhere, then they can point tfjs.datasets to that directory. Not all datasets will work perfectly because tfjs will not have all the decode things, but you can probably cover a lot

[2019-03-04 18:26] ParthS007 commented on #118
@dynamicwebpaige @Conchylicultor The Zip exist in Google drive and I think, we have to download the zip to extract the Images as the zip is very large. We can't reference the zip contents which is stored on Drive.
 In `horses_or_humans` dataset, data is stored on Google Cloud which can directly be referenced for extraction.
Am I missing something? Please correct me If I am wrong anywhere.

One Alt

[2019-03-04 18:40] aayu04 commented on #142
add me.

[2019-03-04 18:42] Conchylicultor commented on #118
You're right, you first have to download the zip using `dl_manager.download()`, then read from the zip with `dl_manager.iter_archive`.

[2019-03-04 18:49] ParthS007 commented on #118
okay, Got it.  :+1:
Thanks for the quick reply

[2019-03-04 19:14] Naio commented on #140
One-hot representation. If I'm not mistaken, ClassLabel only maps categories  to scalars. But as you say, it can easily be done using 'map()'. I forgot about that. Thank you.

[2019-03-04 19:52] rsepassi opened #149 "`download_and_prepare` when developing an in-development dataset redownloads data every time"
**Short description**
When developing a new dataset, it seems that the `download_and_preapre` redownloads the data every time.

**Environment information**
* Operating System: Ubuntu
* Python version: 3.6
* `tensorflow-datasets`/`tfds-nightly` version: `tfds-nightly==1.0.1.dev201903040105`
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: `tensorflow==1.13.1`

**Reproduction i

[2019-03-04 19:58] captain-pool commented on #107
@rsepassi I've created a PR, id - 147. Please take a look.

[2019-03-04 20:25] cyfra commented on #142
@aayu04  - done

[2019-03-04 20:36] Conchylicultor commented on #140
Thanks for explaining. Yes, in this case, using `tf.one_hot` either with `ds.map` or after iterating on the dataset element is the correct way to do.
Closing this but feel free to re-open if this didn't answer your question

[2019-03-04 20:36] #140 closed

[2019-03-04 21:44] rsepassi commented on #10
cc @adarob who also needs Beam support for the Wikipedia dumps dataset (in-flight with #146).

[2019-03-04 23:42] jidroid404 commented on #42
@rsepassi @andrewk1 @dynamicwebpaige
Guys I am kinda stuck, handling this 2.89TB dataset partly because there is no direct zip available to download the entire dataset in one go, instead they're uploaded as single images on Google Drive.
But we've a Python script that supposedly does the work (https://github.com/NVlabs/ffhq-dataset/blob/master/download_ffhq.py) and it serves the images as tfrecord

[2019-03-05 00:26] jidroid404 commented on #42
@rsepassi @dynamicwebpaige Guys a lil help.
This dataset is already available as tfrecords , so I thought why not leverage it. But unfortunately I don't know how to fiddle with tfrecords, any pointers on how to get it done or any merged dataset available as tfrecords(so that I can have a look at it).

[2019-03-05 04:22] Ecalpal commented on #97
I wish I could join in, but I'm too busy with my studies. Once I'm free, I'll join in.
by the way, tensorflow is a great work, Looking forward to tensorflow 2！

[2019-03-05 04:25] tabshaikh commented on #45
@rodrigob @rsepassi the link for http://image-net.org/small/download.php does not contain the whole dataset of the downsampled imagenet nor does it contain the labels.
Further i found these links https://patrykchrabaszcz.github.io/Imagenet32/ for dataset details and this http://image-net.org/download-images which contains the whole dataset and
I could not understand in which dev kit of imagenet th

[2019-03-05 05:37] ParthS007 commented on #118
@dynamicwebpaige @Conchylicultor I have made the changes in the _split_generators function but still facing problem in making changes in _generate_examples function. I have opened a Pull Request #152 for the same. Can you please review and let me know what changes I have to do further.
Thanks

[2019-03-05 06:01] ChanchalKumarMaji commented on #24
@rsepassi can I use <code>tfds.core.GeneratorBasedBuilder</code> instead of <code>tfds.core.DatasetBuilder</code> as I can see most of the datasets use that. Although I can see <code>tfds.core.GeneratorBasedBuilder</code> is an inherited version of <code>tfds.core.DatasetBuilder</code>.

[2019-03-05 08:54] cyfra commented on #42
DownloadManager is able to download any type of file.
For example: you can either call 'download' rather than download_and_extract.

Once they are downloaded, there are multiple ways on how to iterate over tfrecords, for example with
 tf.data.TFRecordDataset

[2019-03-05 08:55] cyfra commented on #42
video/starcraft.py is an example of the dataset that is using tfrecords as input.

[2019-03-05 09:02] cyfra commented on #24
@ChanchalKumarMaji - Yes you can - the GeneratorBasedBuilder takes care of some common functionality.

[2019-03-05 09:05] cyfra commented on #45
@tabshaikh - Yes, this dataset has only a subset of subsampled imagenet images and does NOT have labels.

This is on purpose - as it was used for autoregressive algorithms, that were generating the output images (rather than trying to predict the class).

Please download from the official link rather than from side-ones.

[2019-03-05 09:21] KumarArindam commented on #142
Yes sir add me.

[2019-03-05 09:24] cyfra opened #154 "Add test and fake data for nsynth"
Nsyth dataset is missing unittest and fake data.

Please follow
https://github.com/tensorflow/datasets/blob/master/docs/add_dataset.md#testing-mydataset

[2019-03-05 09:25] cyfra opened #155 "Add test and fake data for librispeech"
Librispeech is missing unittest and fake data.

Please follow:
https://github.com/tensorflow/datasets/blob/master/docs/add_dataset.md#testing-mydataset

[2019-03-05 09:40] captain-pool commented on #154
@cyfra Can you assign this to me? I'll make the tests for both commonvoice and nsynth.

[2019-03-05 09:58] cyfra commented on #154
@captain-pool - Thanks!

[2019-03-05 09:59] cyfra commented on #142
@KumarArindam - done.

[2019-03-05 10:06] #120 closed

[2019-03-05 10:08] ChanchalKumarMaji commented on #155
@cyfra I want to start working on this issue. Please assign this to me.

[2019-03-05 10:21] Conchylicultor commented on #42
To use tfrecords as input, you can use something like:
[code]

[2019-03-05 10:25] SoumyadeepJana opened #156 "Problem while creating new dataset--Help"
**What I need help with / What I was wondering**
I was trying to add a new dataset and the download link was from kaggle,but dl_manager unable to download the proper zip from kaggle,is it some permission issue from kaggle?

**What I've tried so far**
I have implemented the entire mydataset class as specified in the documentation of tensorflow_datasets
[Code Link](https://github.com/SoumyadeepJana/

[2019-03-05 10:40] ChanchalKumarMaji opened #157 "site-packages/tensorflow_datasets/image/quickdraw_labels.txt : No such file or directory"
**Short description**
using <code>pip install tensorflow-datasets</code> I downloaded the package. While running <code>document_datasets.py</code> raises the issue. I manually downloaded and transferred <code>quickdraw_labels.txt</code> to the correct place, then it worked.

![The issue is best described here](https://github.com/ChanchalKumarMaji/dataset/blob/master/Screenshot%20from%202019-03-04%

[2019-03-05 10:47] ChanchalKumarMaji commented on #156
When we download data from Kaggle we manually have to download a file known as <code>kaggle.json</code> which contains a <code>username</code> and a <code>key</code>. After authenticating we can download data from Kaggle.

[2019-03-05 11:12] cyfra commented on #157
Thanks for reporting.

I think this is an issue on our side: we probably forgot to add this file to the pypi package (in setup.py).

In general: if you do the development, I'd suggest forking/fetching the code from github repo rather than pypi package (which is meant for end-users and doesn't have up-to-date code)

[2019-03-05 11:17] jidroid404 commented on #42
What about shards then? I read no shard should be bigger than 4 gigs. So how to handle this?
![shard](https://user-images.githubusercontent.com/43285614/53801899-6aa62c00-3f66-11e9-9b45-42ad104b8d40.PNG)

[2019-03-05 11:19] SoumyadeepJana commented on #156
Is it allowed to add datasets that require some sort of API key,will it not make it hard for others to use?

[2019-03-05 11:39] #157 closed

[2019-03-05 12:16] tabshaikh commented on #45
@cyfra okay cool

[2019-03-05 12:55] ChanchalKumarMaji commented on #156
I think for such cases user have to manually download the data and then place it in the appropriate folder.

[2019-03-05 13:15] rodrigob commented on #45
The idea of this ticket was to create a smaller version of imagenet that is small enough so that most people can prototype and experiment without having to worry about download time or disk-space.

I would suggest to go for 32x32 and 64x64 versions; ideally _with_ labels so that supervised training (à la MNIST and CIFAR) can also be used.

[2019-03-05 13:18] tabshaikh commented on #45
@rodrigob okay thanks :)

[2019-03-05 14:10] KumarArindam commented on #139
Can anyone please guide me what all has to be done here?
I am interested in working on this.

[2019-03-05 14:27] KumarArindam commented on #139
I am interested in working on this @cyfra
Please provide me the details of the work that needs to be done here.

[2019-03-05 15:57] us commented on #156
tfds has own kaggle downloader please check it.
`tensorflow_datasets.core.download.kaggle`

[2019-03-05 17:15] rsepassi commented on #156
In the dataset, try using [`DownloadManager.download_kaggle_data`](https://github.com/tensorflow/datasets/blob/dde9c9d7fd14fff3458e59c120f50416657633a7/tensorflow_datasets/core/download/download_manager.py#L260). You'll still need the login, but it should provide an informative error message that lets users know what they need to do.

[2019-03-05 17:20] joel-shor commented on #45
Any thoughts on doing the 128x128 version while you're at it?

[2019-03-05 17:59] rsepassi commented on #45
Joel, looks like there are only 2 versions listed, 32 and 64: http://image-net.org/small/download.php

[2019-03-05 18:00] rsepassi commented on #45
@joel-shor

[2019-03-05 18:00] ctiijima commented on #142
Add me please.

[2019-03-05 18:02] rsepassi commented on #139
Hi @KumarArindam, thanks for your interest! Please see our [guide to adding a dataset](https://github.com/tensorflow/datasets/tree/master/docs/add_dataset.md). Once you understand what you'll need to do, let us know if you'd like to work on this, and we'll assign it to you!

[2019-03-05 18:11] rsepassi commented on #42
So this dataset seems to have different parts and we may want to use some `BuilderConfig`s to split it up. There should be 1 config with the aligned & cropped 1024x1024 images. And another with just the thumbnails. And another with the multi-resolution images, which is what you have in the screenshot.

In terms of sharding, it's fine if the source data has unbalanced shards - we just want to make

[2019-03-05 18:12] rsepassi commented on #155
Thanks @ChanchalKumarMaji!

[2019-03-05 18:24] aayu04 commented on #26
i would like to see this dataset too.

[2019-03-06 03:12] KumarArindam commented on #139
@rsepassi I have gone through the guide you provided and I would be happy to work on it.
Thank You

[2019-03-06 04:58] AS2910 commented on #22
Hey there are 6 different download links on the website , each corresponding to one of the actions, I am in confusion that whether I should append all of them together into one dataset, (corresponding to only 1 csv file), or should I make 6 different ones (corresponding to 6 csv files ).

[2019-03-06 06:04] SoumyadeepJana commented on #156
Thank you @rsepassi .This is what I was looking for.

[2019-03-06 06:04] #156 closed

[2019-03-06 06:14] SoumyadeepJana commented on #142
Please consider adding me.

[2019-03-06 06:18] SoumyadeepJana commented on #138
I want to contribute to this issue.Consider assigning me for this dataset.

[2019-03-06 06:22] SoumyadeepJana opened #166 "Object of type 'uint8' is not JSON serializable"
**What I need help with / What I was wondering**
tdfs.features.Image() returns object of dtype uint8 which runs prefectly fine when i test other datasets but in the code below,it displays the error,'Object of type 'uint8' is not JSON serializable'.I am stuck on this for 3 days now,please help

**What I've tried so far**
I have implemented mydataset.py class for a custom dataset
[Code Link](https:/

[2019-03-06 07:06] cyfra commented on #142
@ctiijima - done.
@SoumyadeepJana - done.

[2019-03-06 07:07] cyfra commented on #138
@KumarArindam - sure, we'll assign it as soon as you accept the collaborator invite.

[2019-03-06 07:07] cyfra commented on #139
@KumarArindam  - great. Please accept the collaborator invite, so that I can assign this issue to you.

[2019-03-06 07:11] cyfra commented on #22
I'd suggest starting by putting them all in in a single dataset.

[2019-03-06 08:39] SoumyadeepJana commented on #138
@cyfra I think KumarArindam had been assigned the humans kinetics dataset.

[2019-03-06 10:19] aayu04 commented on #50
Can anybody guide me what exactly to be done here..i am intersted in this issue

[2019-03-06 10:33] prasadgujar commented on #142
@cyfra Hello Sir, please Added me to List as well.

[2019-03-06 12:20] kaustumbh7 commented on #142
@cyfra Please add me to the list. I am working on https://github.com/tensorflow/datasets/issues/25.

[2019-03-06 12:56] SueMagic opened #167 "I want to Song/Muusic databases"

[2019-03-06 14:39] captain-pool commented on #167
@SueMagic Provide the Dataset Description and the Dataset Link you would like to see in tensorflow_datasets
Take a Look at the Other Dataset Request issues to get an Idea.

[2019-03-06 14:48] captain-pool opened #170 "Error While Loading nsynth Dataset"
**Short description**
Error Loading nsynth Dataset

**Environment information**
* Operating System: Debian 4.9.130-2
* Python version: Python 3.5
* `tensorflow-datasets`/`tfds-nightly` version: tensorflow-datasets==1.0.1
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: 1.13.1

**Reproduction instructions**

[code]

**Logs**
[code]

**Expected behavior**
No Errors Expected

[2019-03-06 16:41] captain-pool commented on #154
@cyfra Take a look. There's some bug with nsynth dataset builder, I created a new issue for that. That's a critical bug and it needs to be fixed for the unittest to start working.

[2019-03-06 16:43] captain-pool commented on #170
@cyfra  @rsepassi  @dynamicwebpaige please take a look. I'm open to work on this, so can you assign it to me?

[2019-03-06 17:23] kaustumbh7 commented on #142
@cyfra Thanks! 😊

[2019-03-06 17:34] ChanchalKumarMaji commented on #155
When I run this code on my fake_dataset

[code]

I get this error:
[code]

I think I am missing something. @rsepassi @cyfra please help.

[2019-03-06 18:05] aayu04 commented on #26
Hi @Anupam-tripathi .please let me know if you are taking this issue or not cause i want to contribute in this issue.

[2019-03-06 18:08] Anupam-tripathi commented on #26
@aayu04 if you want you can make a pr.. I am still working on it

[2019-03-06 18:52] SoumyadeepJana commented on #167
@SueMagic  There are a lot of datasets of music, could you pls specify which one are you talking about?
Have a look at this request to get an idea of the template format
[Link](https://github.com/tensorflow/datasets/issues/138)

[2019-03-06 19:12] kaustumbh7 commented on #25
@Conchylicultor Should I be assigned to this issue before raising a pull request?

[2019-03-06 19:19] PulkitMishra commented on #97
@rsepassi I am guessing that will this require the creation of a new feature in FeatureConnector?
Also, apologies for the inactivity (was busy with a hackathon)

@Ecalpal

[2019-03-06 22:28] adarob commented on #149
Looking at the code, it seems that the sha256 hashes are only stored after the dataset building completes, which causes the files to be re-downloaded every time. It would be very nice if this was relaxed, at least for development.

[2019-03-07 00:25] ubershmekel commented on #149
This is really slowing me down :(

[2019-03-07 02:53] zh794390558 opened #175 "[data request] LibriSpeech"
* Name of dataset: LibriSpeech
* URL of dataset: http://www.openslr.org/12/
* License of dataset: CC BY 4.0
* Short description of dataset and use case(s):
LibriSpeech is a corpus of approximately 1000 hours of 16kHz read English speech, prepared by Vassil Panayotov with the assistance of Daniel Povey. The data is derived from read audiobooks from the LibriVox project, and has been carefully segme

[2019-03-07 02:55] zh794390558 opened #176 "[data request] IEMOCAP"
* Name of dataset: IEMOCAP
* URL of dataset: https://sail.usc.edu/iemocap/iemocap_release.htm
* License of dataset:  not know
* Short description of dataset and use case(s): <description>

The Interactive Emotional Dyadic Motion Capture (IEMOCAP) database is an acted, multimodal and multispeaker database, recently collected at SAIL lab at USC. It contains approximately 12 hours of audiovisual data

[2019-03-07 02:57] zh794390558 opened #177 "[data request] HKUST"
* Name of dataset: HKUST
* URL of dataset:

LDC2005S15 : http://www.ldc.upenn.edu/Catalog/catalogEntry.jsp?catalogId=LDC2005S15
LDC2005T32 : http://www.ldc.upenn.edu/Catalog/catalogEntry.jsp?catalogId=LDC2005T32

* License of dataset:

LDC User Agreement for Non-Members

* Short description of dataset and use case(s):

HKUST Mandarin Telephone Speech, Part 1 was developed by Hong Kong University o

[2019-03-07 03:00] zh794390558 opened #178 "[data request] Aishell"
* Name of dataset: Aishell
* URL of dataset: http://www.openslr.org/33/
* License of dataset: Apache License v.2.0
* Short description of dataset and use case(s): <description>

Aishell is an open-source Chinese Mandarin speech corpus published by Beijing Shell Shell Technology Co.,Ltd.
400 people from different accent areas in China are invited to participate in the recording, which is conducted

[2019-03-07 03:02] zh794390558 opened #179 "[data request] Yesno"
* Name of dataset:  Yesno
* URL of dataset: http://www.openslr.org/1/
* License of dataset:  No formal license but free to use for any purpose.
* Short description of dataset and use case(s):

This dataset was created for the Kaldi project (see kaldi.sf.net), by a contributor who prefers to remain anonymous. The main point of the dataset is to provide an easy and fast way to test out the Kaldi scr

[2019-03-07 03:03] zh794390558 opened #180 "[data request] TED-LIUM"
* Name of dataset: TED-LIUM
* URL of dataset: http://www.openslr.org/7/
* License of dataset: Creative Commons BY-NC-ND 3.0 (attribution/non-commercial/no-derivatives).
* Short description of dataset and use case(s): <description>

The TED-LIUM corpus (mirrored here) is English-language TED talks, with transcriptions, sampled at 16kHz. It contains about 118 hours of speech.

[2019-03-07 03:04] zh794390558 opened #181 "[data request] VoxCeleb"
* Name of dataset: VoxCeleb
* URL of dataset: http://www.openslr.org/49/
* License of dataset: Not copyrighted
* Short description of dataset and use case(s):

This resource contains files for the VoxCeleb corpora that are helpful in speaker recognition recipes.

[2019-03-07 03:05] zh794390558 opened #182 "[data request] THCHS-30"
* Name of dataset: THCHS-30
* URL of dataset: http://www.openslr.org/18/
* License of dataset: Apache License v.2.0
* Short description of dataset and use case(s):
THCHS30 is an open Chinese speech database published by Center for Speech and Language Technology (CSLT) at Tsinghua University.

[2019-03-07 03:42] SoumyadeepJana commented on #182
@rsepassi @cyfra I want to work on this dataset,kindly assign it to me.

[2019-03-07 03:43] SoumyadeepJana commented on #181
@rsepassi @cyfra @dynamicwebpaige  I want to work on this dataset,kindly assign it to me.

[2019-03-07 03:56] KumarArindam commented on #175
I am interested in working on this @zh794390558
Please provide me the details of the work that needs to be done here.

[2019-03-07 04:31] captain-pool commented on #175
It's already there.
[https://github.com/tensorflow/datasets/tree/master/tensorflow_datasets/audio/librispeech.py](https://github.com/tensorflow/datasets/tree/master/tensorflow_datasets/audio/librispeech.py)

[2019-03-07 04:32] KumarArindam commented on #139
I am bit confused as to how should I treat this data. Is it to be considered as a structured data or a video data? Video data as in do i need to create a video folder containing all these videos or do i need to just import the dataset in .csv format as the files provided by DeepMind are in .csv format.

Any help in this matter would be highly appreciated.
Thank You.

[2019-03-07 04:33] KumarArindam commented on #139
I am bit confused as to how should I treat this data. Is it to be considered as a structured data or a video data? Video data as in do i need to create a video folder containing all these videos or do i need to just import the dataset in .csv format as the files provided by DeepMind are in .csv format.

Any help in this matter would be highly appreciated @cyfra .
Thank You.

[2019-03-07 04:59] KumarArindam commented on #175
@captain-pool Thanks for pointing it out.

[2019-03-07 05:00] KumarArindam commented on #175
@captain-pool Thanks for pointing it out and saving a lot of unnecessary work :)

[2019-03-07 05:53] #175 closed

[2019-03-07 06:00] captain-pool commented on #155
@ChanchalKumarMaji You need to pass a Dictionary for the file path. This can done by assigning a Dictionary to `DL_EXTRACT_RESULT`.
The keys of which will be `tfds.Split.TRAIN`, `tfds.Split.TEST`, `tfds.Split.VALID`. And the values will be the path to the Directories for the respective Fake Samples.

[2019-03-07 06:18] captain-pool commented on #154
@cyfra Take a look. There's some bug with nsynth dataset builder, I created a new issue for that.(#170) That's a critical bug and it needs to be fixed for the unittest to start working.

[2019-03-07 06:31] aayu04 commented on #26
Ok

[2019-03-07 07:18] KumarArindam commented on #138
I would love to collaborate with @SoumyadeepJana  on this issue.

[2019-03-07 07:20] cyfra commented on #170
This seems to be the issue with python3. (as python 2.7 seems to work fine).

Thanks for taking care of this @captain-pool

[2019-03-07 07:55] SoumyadeepJana commented on #138
@KumarArindam Would love to collaborate and work :)

[2019-03-07 13:21] Conchylicultor commented on #181
@SoumyadeepJana Thanks for looking into this. I just assigned you

[2019-03-07 13:30] Conchylicultor commented on #149
The current hack is to locally change the https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/download/download_manager.py#L210:
From:
[code]

To:
[code]
But it has side effect elsewhere (like not computing checksums anymore).

Waiting for @pierrot0 for a more stable fix.

[2019-03-07 13:58] Conchylicultor commented on #25
Sure, please send the pull request.

[2019-03-07 14:35] tabshaikh commented on #45
@rsepassi no there are 4 versions actually 8x8, 16x16, 32x32, 64x64 here http://image-net.org/download-images. The link which you pointed out is incomplete as there is no labels for the same.
@joel-shor can you point me to 128x128 version :)

[2019-03-07 14:58] ChanchalKumarMaji commented on #155
[code]
gives
[code]
<code>CHAPTERS.TXT</code> is
[code]
Created just one sample of each types.

Please help @rsepassi @cyfra @Conchylicultor

[2019-03-07 15:13] ChanchalKumarMaji commented on #155
Okk, now when I run <code>librispeech_test.py</code> I get no errors. Thanks @captain-pool for the help. @rsepassi @cyfra @Conchylicultor I am generating a pull request.

[2019-03-07 22:19] samuelmurray opened #188 "[data request] Grocery Store Dataset"
* Name of dataset: GroceryStoreDataset
* URL of dataset: https://github.com/marcusklasson/GroceryStoreDataset
* License of dataset: Not known
* Short description of dataset and use case(s): This repository contains the dataset of natural images of grocery items. 5125 natural images from 81 different classes of fruits, vegetables, and carton items (e.g. juice, milk, yoghurt). The 81 classes are div

[2019-03-07 22:22] samuelmurray opened #189 "[data request] Binary Alphadigits"
* Name of dataset: Binary Alphadigits
* URL of dataset: https://cs.nyu.edu/~roweis/data.html
* License of dataset: None
* Short description of dataset and use case(s): Binary 20x16 digits of "0" through "9" and capital "A" through "Z". 39 examples of each class.

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests to pr

[2019-03-08 03:31] kyscg commented on #142
@cyfra Add me

[2019-03-08 03:46] bileschi commented on #60
That sounds like a good compromise.

[2019-03-08 04:03] SoumyadeepJana commented on #189
This dataset seems interesting to work with.
@rsepassi @Conchylicultor  would like to work on this.

[2019-03-08 05:39] aayu04 commented on #188
i would love to contribute .please  assign this to me

[2019-03-08 07:14] SoumyadeepJana commented on #166
@cyfra @rsepassi It would be helpful if you can kindly look into this

[2019-03-08 07:18] captain-pool opened #192 "[data request] Rockyou"
* Name of dataset: Rockyou Dataset for Leaked Passwords
* URL of dataset: https://github.com/brannondorsey/naive-hashcat/releases/download/data/rockyou.txt
* License of dataset: N/A
* Short description of dataset and use case(s): Dataset of Unencrypted Leaked Passwords from the famous Rockyou Databreach in December 2009. It is used in Security Researches, mainly to train password guessing models.

[2019-03-08 07:37] captain-pool commented on #107
@rsepassi @cyfra @Conchylicultor Please Take a Look. I've added heavy configuration to support all the available languages, as asked by @rsepassi.

[2019-03-08 07:42] captain-pool commented on #170
@cyfra Please take a look. I've Added the Test and Fake Data for Nsynth and Also Fixed This Issue Nsynth is having for Python 3.

[2019-03-08 15:23] danbri commented on #85
Anything more I can help with here?

[2019-03-08 17:00] Conchylicultor commented on #166
Could you post the full stacktrace ? It's difficult to debug otherwise

[2019-03-08 17:04] Conchylicultor commented on #166
Actually, the reason it is not working is that you are passing string to your label example but you haven't defined the labels anywhere:

[code]

The program has no way of knowing what `some_label` correspond too. You should first specify the labels you want to use:

self.info.features['label'].names = sorted(['some_label', ...])

[2019-03-08 17:05] Conchylicultor commented on #166
From our end, I agree the error is confusing. We should try make the error message more specific.

[2019-03-08 17:06] Conchylicultor commented on #189
Thanks @SoumyadeepJana

[2019-03-08 18:31] kaustumbh7 commented on #9
@rsepassi I would like to work on this. This dataset would fall under the category of `datasets/tensorflow_datasets/structured/`, right?

[2019-03-08 20:56] SoumyadeepJana commented on #189
@Conchylicultor Thank you for assigning this.

[2019-03-08 21:13] SoumyadeepJana commented on #166
@Conchylicultor  Thank you for pointing this out,this relieved me,I was stuck on this for quite some time.

[2019-03-09 10:10] KumarArindam commented on #138
Sure thing @SoumyadeepJana .Would be happy to. It would be very helpful if you could tell me what work have you done so that we can continue from there.

[2019-03-09 11:02] jackd commented on #138
Sorry I didn't see this earlier. I'm part-way through porting across the data/preprocessing code for this [basic baseline](https://github.com/sta105/3d-pose-baseline) paper that looks at simply lifting 2D poses to 3D (so no video/images). The authors provide 2D data from ground truth and 2 different networks. It doesn't handle any video processing so it's a very different problem to the normal dat

[2019-03-09 11:06] jackd commented on #142
@cyra sure :)

[2019-03-09 17:31] SoumyadeepJana commented on #189
@Conchylicultor Completed implementing this.Will make a PR after my previous PR gets reviewed and merged.

[2019-03-09 19:56] ChanchalKumarMaji commented on #24
I think I have completed most of the code, but facing some issues in <code>_generate_examples(self, filesA, filesB)</code>. I think the problem is in generating the data. Please suggest changes. My code is [here](https://github.com/ChanchalKumarMaji/dataset/blob/master/cycle_gan.py).
@rsepassi , @cyfra , @Conchylicultor can you please review my code.

Some datasets (like "ae_photos") has only test

[2019-03-09 20:15] captain-pool commented on #176
@cyfra @rsepassi can you assign me to this issue?

[2019-03-09 20:16] us commented on #142
@cyfra Heyyop 🐳

[2019-03-09 20:54] us commented on #58
Sorry everyone for I really couldn't see assigned.

[2019-03-10 04:32] dandelin opened #200 "[data request] CUB-200-2010"
* Name of dataset: CUB-200-2010
* URL of dataset: http://www.vision.caltech.edu/visipedia/CUB-200.html
* License of dataset: Unknown
* Short description of dataset and use case(s): Caltech-UCSD Birds 200 (CUB-200) is an image dataset with photos of 200 bird species (mostly North American).

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers c

[2019-03-10 04:34] dandelin opened #201 "[data request] CUB-200-2011"
* Name of dataset: CUB-200-2011
* URL of dataset: http://www.vision.caltech.edu/visipedia/CUB-200-2011.html
* License of dataset: Unknown
* Short description of dataset and use case(s): Caltech-UCSD Birds-200-2011 (CUB-200-2011) is an extended version of the CUB-200 dataset, with roughly double the number of images per class and new part location annotations.

Folks who would also like to see this

[2019-03-10 04:36] dandelin opened #202 "[data request] CARS-196"
* Name of dataset: CARS-196
* URL of dataset: https://ai.stanford.edu/~jkrause/cars/car_dataset.html
* License of dataset: Unknown
* Short description of dataset and use case(s): The Cars dataset contains 16,185 images of 196 classes of cars. The data is split into 8,144 training images and 8,041 testing images, where each class has been split roughly in a 50-50 split. Classes are typically at the

[2019-03-10 04:38] dandelin opened #203 "[data request] Stanford Online Products"
* Name of dataset: Stanford Online Products
* URL of dataset: http://cvgl.stanford.edu/projects/lifted_struct/
* License of dataset: MIT
* Short description of dataset and use case(s): Stanford Online Products dataset, 120k images of 23k classes of online products for metric learning.

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can kn

[2019-03-10 04:44] dandelin opened #204 "[data request] miniImageNet"
* Name of dataset: miniImageNet
* URL of dataset: https://github.com/renmengye/few-shot-ssl-public#miniimagenet
* License of dataset: MIT
* Short description of dataset and use case(s): miniImageNet (Vinyals et al., 2016) is a modified version of the ILSVRC-12 dataset (Russakovsky et al., 2015), in which 600 images for each of 100 classes were randomly chosen to be part of the dataset. We rely on

[2019-03-10 04:46] dandelin opened #205 "[data request] tieredImageNet"
* Name of dataset: tieredImageNet
* URL of dataset: https://github.com/renmengye/few-shot-ssl-public#tieredimagenet
* License of dataset: MIT
* Short description of dataset and use case(s): Like miniImagenet, it is a subset of ILSVRC-12. However, tieredImageNet represents a larger subset of ILSVRC-12 (608 classes rather than 100 for miniImageNet). Analogous to Omniglot, in which characters are gro

[2019-03-10 04:49] dandelin opened #206 "[data request] VQAv2"
* Name of dataset: VQAv2
* URL of dataset: https://visualqa.org/download.html
* License of dataset: Commons Attribution 4.0 International License
* Short description of dataset and use case(s): VQA is a new dataset containing open-ended questions about images. These questions require an understanding of vision, language and commonsense knowledge to answer.

Folks who would also like to see this da

[2019-03-10 04:51] dandelin opened #207 "[data request] VisDial"
* Name of dataset: VisDial
* URL of dataset: https://visualdialog.org/data
* License of dataset: BSD License
* Short description of dataset and use case(s): Visual Dialog requires an AI agent to hold a meaningful dialog with humans in natural, conversational language about visual content. Specifically, given an image, a dialog history, and a follow-up question about the image, the task is to answe

[2019-03-10 08:14] captain-pool commented on #203
@rsepassi , @dynamicwebpaige , @Conchylicultor , @cyfra This looks interesting, can you assign me this issue?

[2019-03-10 11:58] jackd opened #208 "Visualizations as examples/manual validation"
Most people (myself included) will write scripts to visualize their datasets during development. These not only allow one to visually verify the output is what they'd expect, it would also provide others attempting to use the dataset a good place to start. However, most datasets don't have examples (except those in the main README.md which are more about the use of `tfds` rather than the specific

[2019-03-10 12:40] amitness commented on #142
@cyfra Hi. I would like to submit some datasets I have created. Please add me as a collaborator.

[2019-03-10 13:29] jackd opened #209 "[data request] MPII Human Pose"
* Name of dataset: MPII Human Pose Dataset
* URL of dataset: http://human-pose.mpi-inf.mpg.de
* License of dataset: BSD
* Short description of dataset and use case(s): Single/multi target 2D human pose estimation in the wild

I'm actually part way through adding it [here](https://github.com/jackd/datasets/tree/human_pose) - happy to collaborate, but this issue is mostly to reduce duplicate efforts

[2019-03-10 15:24] cyfra commented on #142
@kyscg @jackd  @amitness - done.

[2019-03-10 15:28] cyfra commented on #208
@jackd  - that's a good idea. I'd suggest creating a colab file.

[2019-03-10 15:50] captain-pool commented on #203
@cyfra Can suggest how to handle FTP Links?

[2019-03-10 20:11] ParthS007 commented on #27
@rodrigob Can you please provide the exact links of training and validation datasets?

[2019-03-10 20:23] ParthS007 commented on #207
@cyfra I want to work on it. Please assign it to me.

[2019-03-11 01:11] kyscg opened #210 "Fix newline error in downloader"
**Short description**
In the Kaggle downloader, I believe there is an addition of a newline and this is causing an error. I believe a fix would be to add a condition that checks for that.

[2019-03-11 01:12] kyscg commented on #210
Can I have this issued to me @dynamicwebpaige @Conchylicultor @cyfra ????? I have a PR ready

[2019-03-11 03:39] SoumyadeepJana commented on #202
@cyfra @Conchylicultor  @rsepassi Would like to work on this request

[2019-03-11 04:15] ShilpaSangappa commented on #58
@us , Are you working on adding EMNIST dataset?

[2019-03-11 05:42] ChanchalKumarMaji commented on #24
While I was going through some datasets, I encountered some <code>TODO</code>, like [this](https://github.com/tensorflow/datasets/blob/96fe8c3156b43eb776456522ac739a0a6cdb86d2/tensorflow_datasets/image/svhn.py#L115), [this](https://github.com/tensorflow/datasets/blob/96fe8c3156b43eb776456522ac739a0a6cdb86d2/tensorflow_datasets/audio/librispeech.py#L61)

Do more work is needed to be done ?

[2019-03-11 06:02] ChanchalKumarMaji commented on #24
@rsepassi @cyfra @Conchylicultor @dynamicwebpaige , I can see that my tests on cycle_gan are passing, I am generating a pull request.

[2019-03-11 06:07] amitness commented on #142
Thanks @cyfra

[2019-03-11 06:21] ChanchalKumarMaji commented on #192
@captain-pool , Can I work with you on this issue.

[2019-03-11 06:34] captain-pool commented on #192
Yep, You can. Ask @cyfra to assign you.

[2019-03-11 07:53] us commented on #58
@ShilpaSangappa yeap I added it, this pr #198

[2019-03-11 11:44] razorx89 opened #213 "Allow uint16 for png encoded image feature"
Currently, `tfds.features.Image` with `png` encoding defaults to `tf.uint8` data type and cannot be customized.
https://github.com/tensorflow/datasets/blob/96fe8c3156b43eb776456522ac739a0a6cdb86d2/tensorflow_datasets/core/features/image_feature.py#L149
However, `tf.image.decode_png` also allows `tf.uint16`, which is for instance important for medical data. One option would be to make the `dtype` f

[2019-03-11 12:00] ChanchalKumarMaji commented on #192
@cyfra can you please assign this to me, if this dataset is approved to be added to tfds.

[2019-03-11 12:40] zishanahmed08 opened #214 "[data request] <Cityscapes>"
* Name of dataset: Cityscapes
* URL of dataset: https://www.cityscapes-dataset.com/
* License of dataset: This dataset is made freely available to academic and non-academic entities for non-commercial purposes such as academic research, teaching, scientific publications, or personal experimentation. Permission is granted to use the data given that you agree:

That the dataset comes “AS IS”, withou

[2019-03-11 12:44] nikste commented on #214
I am also HIGHLY interested in this !

[2019-03-11 12:49] zishanahmed08 opened #215 "[data request] Mapillary"
* Name of dataset: Mapillary
* URL of dataset: https://www.mapillary.com/dataset/vistas?pKey=xyW6a0ZmrJtjLw2iJ71Oqg&lat=20&lng=0&z=1.5
* License of dataset: CC-BY-SA license agreement.
* Short description of dataset and use case(s): Mapillary Vistas Dataset
A diverse street-level imagery dataset with pixel‑accurate and instance‑specific human annotations for understanding street scenes around the

[2019-03-11 12:52] nikste commented on #215
This would also be useful for my work!

[2019-03-11 14:37] SoumyadeepJana opened #216 "[data request] <KMNIST>"
* Name of dataset: <KMNIST(Kuzushiji MNIST)>
* URL of dataset: <http://codh.rois.ac.jp/kmnist/index.html.en>
* License of dataset: <Creative Commons Attribution Share-Alike 4.0 International License.>
* Short description of dataset and use case(s): <Kuzushiji-MNIST contains 70,000 28x28 grayscale images spanning 10 classes (one from each column of hiragana), and is perfectly balanced like the orig

[2019-03-11 14:47] captain-pool commented on #203
@cyfra @rsepassi Can you please suggest how to Handle FTP links for `tfds.download.DownloadManager`

[2019-03-11 14:52] cyfra commented on #216
KMIST is already there.
(see image/mnist.py).

Please reopen if I misunderstood something

[2019-03-11 14:52] #216 closed

[2019-03-11 14:59] cyfra commented on #167
closing - as there was no answer from @SueMagic.
Please reopen when you provide more information.

[2019-03-11 14:59] #167 closed

[2019-03-11 15:22] SueMagic commented on #167
I want a song or music dataset that contains song name, song id, song tag, song genre, song attention, song comment volume, song play volume, user id, user favorite song id, etc. I used to be I want to get it through last.fm, but I won't call the API (already have a key). I will be grateful if I can get help!

[2019-03-11 15:24] joel-shor commented on #45
Sorry for the delay. The 128x128 imagenet, which is used in a number of state-of-the-art GANs (such as Self Attention GAN), can be found here: https://github.com/openai/improved-gan/blob/master/imagenet/convert_imagenet_to_records.py

If you were able to turn this in to a TFDS data set, you would be a hero!

[2019-03-11 15:56] zh794390558 opened #217 "[data request] COIN"
* Name of dataset: COIN
* URL of dataset:
https://github.com/coin-dataset/annotations
https://coin-dataset.github.io/
* License of dataset: Creative Commons Attribution-NonCommerial 4.0 International License
* Short description of dataset and use case(s):
The COIN dataset consists of 11,827 videos related to 180 different tasks, which were all collected from YouTube. The average length of a video

[2019-03-11 17:33] ParthS007 commented on #207
@rsepassi @cyfra Can you please tell me, what exactly is needed to be done here?
I have opened the URL of the dataset and there are three types of datasets:
- Validation
- Train
- Test
Each with Dialog and Images.
I have read the Adding dataset guide and I have coded the below part till now.
[code]
@rsepassi @cyfra Can you please tell me if I am doing it right. Please tell me if you feel if there

[2019-03-11 19:19] f1recracker commented on #214
I've been working on this and will be sending a pull request soon!

[2019-03-11 20:24] #154 closed

[2019-03-11 20:26] cyfra commented on #170
Fixed in #184

[2019-03-11 20:26] #170 closed

[2019-03-11 20:33] cyfra commented on #207
Thanks for helping @ParthS007

This part of the code looks ok. you're missing the "_generate_examples" function and the test.
Please also look at other dataset examples to see how they did it.

Once you're ready - please send the Pull Request - we can do the code review then and give feedback on particular lines of code.

[2019-03-12 04:55] kyscg commented on #210
I'm closing this issue since it has been fixed in #165

[2019-03-12 04:55] #210 closed

[2019-03-12 06:01] jackd commented on #55
Could a thin wrapper around `GeneratorBasedBuilder` be added to expose the underlying `_generate_examples` which could be used with `tf.data.Dataset.from_generator()`? Something like
[code]
This won't be optimized for training, but for quick visualization/exploration it might be more convenient - I'm not sure what the demand for that is like. I'm not sure if the cache could be used to gather the n

[2019-03-12 17:46] ctiijima commented on #205
@cyfra I'll take a crack at this in between cycles.

[2019-03-12 18:11] InduManimaran opened #230 "[data request] Stanford Dogs Dataset"
* Name of dataset: Stanford Dogs Dataset
* URL of dataset: http://vision.stanford.edu/aditya86/ImageNetDogs/main.html
* License of dataset:  Unknown
* Short description of dataset and use case(s):
The Stanford Dogs dataset contains images of 120 breeds of dogs from around the world. This dataset has been built using images and annotation from ImageNet for the task of fine-grained image categorizat

[2019-03-12 20:11] #155 closed

[2019-03-12 20:14] captain-pool opened #231 "Progressbar Not working TFDS FTP Downloader"
**Download Progressbar Not working for downloads over ftp**
Download Progressbar Not working for Downloads over FTP

**Environment information**
* Operating System: Debian 4.9.130-2
* Python version: Python 3
* `tensorflow-datasets`/`tfds-nightly` version: 1.0.1
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: 1.13.1

**Reproduction instructions**

[code]
**Expected behavior*

[2019-03-12 21:03] SoumyadeepJana opened #232 "Download dataset from Kaggle using dataset name"
**Is your feature request related to a problem? Please describe.**
Currently, the download manager only supports downloading the datasets which are associated with a competition on kaggle. There are many datasets on kaggle that don't have a competition name associated with them.

**Describe the solution you'd like**
Extend the download manager to add support for downloading datasets from kaggle us

[2019-03-12 21:29] mostafaelhoushi opened #233 "TF Datasets only working in Eager Execution"
**Short description**
According to the [TF Datasets Overview](https://www.tensorflow.org/datasets/overview), "TensorFlow Datasets is compatible with both TensorFlow Eager mode and Graph mode."
However when I tried to run `take(1)` function on the dataset - while using Graph mode - I get this error:
[code]

**Environment information**
* Operating System: -Ubuntu SMP Tue Oct 2 17:16:02 UTC 2018 x86_

[2019-03-13 02:28] us opened #234 "Extract multiple and nested files error."
**Short description**
 The current tfds.core.download_manager is unable to extract multiple and nested files. For example we need to download nested compressed files and `dl_manager.download_and_extract` download but then given an error.
File structure like this:
.
+-- gzip.zip
�   +-- emnist-balanced-test-images-idx3-ubyte.gz
�   +-- emnist-balanced-test-labels-idx1-ubyte.gz
�   +-- emnist-balanc

[2019-03-13 04:15] jackd commented on #233
`tfds` is compatible with both eager and graph modes, but that doesn't mean they can be used the same way in either context. The code you have copied is missing the `tf.enable_eager_execution` line from the link. As with most code, if you remove an arbitrary line, expecting subsequent lines to work unchanged is unrealistic.

`take` is based on [`__iter__`](https://www.tensorflow.org/api_docs/pytho

[2019-03-13 04:27] jackd opened #235 "Preferred way of handling missing test data"
What is the preferred way of implementing `DatasetBuilder`s for datasets which have missing fields in a held-out test set?

**What I've tried so far**
1. A simple option is to save labels with some meaningless values. This takes up unecessary disk space (and I imagine reading time), though in most cases this is probably negligible.

2. From what I can tell, different configs/splits on the same bui

[2019-03-13 07:42] razorx89 opened #237 "FeatureConnector serialization broken for byte strings"
**Short description**
I am currently writing a custom FeatureConnector for RLE encoded segmentations. In order to save some storage space I am going to use the byte encoding of the numpy arrays and `tf.io.decode_raw` in order to decode the information (since tf.train.Example only supports int64 for integer data types). However, this line breaks the serialization of the byte string:
https://github.

[2019-03-13 09:03] #208 closed

[2019-03-13 09:03] jackd commented on #209
[PR](https://github.com/tensorflow/datasets/pull/239)

[2019-03-13 09:28] captain-pool commented on #231
@cyfra  Can you assign me this issue? I've a PR ready

[2019-03-13 10:20] remydubois commented on #237
Exact same issue here.

[2019-03-13 10:23] razorx89 commented on #237
I actually patched it locally and it is working fine. However, it might not be the correct way to check for byte strings:
[code]
https://github.com/tensorflow/datasets/blob/c8c00f0843166775b44d3eba2e2171b44d2cb689/tensorflow_datasets/core/file_format_adapter.py#L390

[2019-03-13 10:28] remydubois commented on #237
@razorx89 fantastic, thanks

[2019-03-13 12:43] captain-pool commented on #231
@cyfra  @tfds-copybara Can you assign me this issue? I've a PR ready.

[2019-03-13 18:04] ctiijima commented on #204
I'd like to take a look at this.

[2019-03-13 19:51] mostafaelhoushi commented on #233
Thank you @jackd for your response.
Looking at the API and Guide I couldn't find any information on which methods work with graph mode and which will work with eager mode. If you can guide me on how to know which functions or methods work with which mode that will be great.

I ended up finding this method - instead of `take` that worked with graph mode - from this [article](https://medium.com/tens

[2019-03-13 19:51] #233 closed

[2019-03-13 21:25] ParthS007 opened #243 "Typo in Fake data generation of Horses or Humans Script"
**Short description**
Description of the bug.
The typo can be found [here](https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/testing/horses_or_humans.py#L16)

**Expected behavior**
It should be corrected.

I am working on this Issue.

@cyfra Please assign the Issue to me.

[2019-03-13 22:06] jackd commented on #233
@mostafaelhoushi while your solution works perfectly fine for exploring the dataset, it isn't very tensorflow-onic - i.e. you'll miss out on all the optimizations and everything that makes `tf.data.Dataset`s great. If you want a tensor representation of the inputs, you can use `outputs = dataset.make_one_shot_iterator().get_next()`. These will be symbolic tensors, so to get numpy arrays out you'll

[2019-03-14 00:55] rsepassi commented on #235
So far we've been trying to be explicit about missing values in a feature-specific way. For example, `ClassLabel` should have an additional class indicating "missing". For text, it can simply be the empty string `""`. etc. What's the case you're considering?

[2019-03-14 00:56] rsepassi commented on #232
Could you link to an example of a competition dataset and a dataset not associated with a competition? Can they be unified? i.e. Do competition datasets also just have dataset names? Maybe we can only use dataset names and get rid of competition names altogether.

[2019-03-14 00:58] rsepassi commented on #127
May want to try this on Python 3.6. We don't test against Python 3.7. It may be that the zipfile implementation changed.

[2019-03-14 00:59] #166 closed

[2019-03-14 01:01] rsepassi commented on #234
@us does it error? Or is this a feature you would want?
Could you not call `dl_manager.extract` on each of the files in the interior directory?

[2019-03-14 01:02] rsepassi commented on #234
And are you saying that EMNIST could actually be sourced from the web and the only reason you used manual_dir was because of this nested extraction? If the `dl_manager.extract` method works (or `dl_manager.iter_archive`), could we switch EMNIST to not have to use `manual_dir`?

[2019-03-14 01:13] rsepassi commented on #243
Thanks!

[2019-03-14 01:13] #243 closed

[2019-03-14 01:24] rsepassi commented on #237
This is an interesting bug.

It seems that it's only an issue for byte strings that are all 0.

For example:

[code]

[code]

[code]

[code]

[2019-03-14 02:46] jackd commented on #235
Human pose estimation: [MPII Human Pose](http://human-pose.mpi-inf.mpg.de/) ([PR](https://github.com/tensorflow/datasets/pull/239) has multiple person annotations per image including center, scale, joint annotations... In the held-out test set joint annotations are not given (but center/scale are).

Currently putting in all zeros (maybe they should b `-1`s...).

[2019-03-14 03:49] jackd commented on #149
Is the proposition to cache on the builder level, or the `data_dir` level? Is there any reason `mnistz` from above would not want to use downloaded data from `mnist`, given the url is the same?

[2019-03-14 07:16] razorx89 commented on #237
No, it's an issue with trailing zeros.

[code]

[code]

[2019-03-14 07:22] ParthS007 commented on #237
@razorx89 I want to resolve this Bug and interested to work on it. How should I proceed with it?
 @rsepassi Can you please assign it to me.

[2019-03-14 07:51] prasadgujar opened #245 "[data request] <HappyDB>"
* Name of dataset: <HappyDB>
* URL of dataset: <https://rit-public.github.io/HappyDB/>
* License of dataset: <NA>
* Short description of dataset and use case(s): <HappyDB is a corpus of 100,000+ crowd-sourced happy moments. The goal of the corpus is to advance the state of the art of understanding the causes of happiness that can be gleaned from the text.>

Folks who would also like to see this da

[2019-03-14 08:06] prasadgujar opened #246 "[data request] <Flickr>"
* Name of dataset: <name>Flickr 100k/30k/8k
* URL of dataset: <url>http://www.robots.ox.ac.uk/~vgg/data/oxbuildings/flickr100k.html
* License of dataset: <license type>NA
* Short description of dataset and use case(s): <description>
The Flickr dataset has become a standard benchmark for sentence-based image description.
Folks who would also like to see this dataset in `tensorflow/datasets`, please

[2019-03-14 08:14] razorx89 commented on #237
[code]

So actually the indexing after `flatten()` removes the numpy data type which preserves the trailing zeros. From the numpy docs:
[code]

[2019-03-14 12:06] captain-pool commented on #176
This Dataset doesn't have a static download link. One has to request username and password by email. and that password expires in 48 hours. The Password Lock is configured with the Web Server Application.(For example in .htaccess file for apache servers).
One way is to download the dataset and upload it to google drive. But the size is 16 GB and Drive provides 15GB per account.

@rsepassi  @cyfra

[2019-03-14 12:22] pierrot0 commented on #149
The proposition is to cache globally.
Path will land soon.

[2019-03-14 14:32] captain-pool commented on #245
@cyfra @rsepassi Can you assign me this issue?

[2019-03-14 14:53] prasadgujar commented on #245
If dataset request is approved.
I want to work on this issue as I already trained model for prediction as well.

[2019-03-14 15:00] captain-pool commented on #245
Sure. That sounds good.

On Thu, 14 Mar 2019, 8:23 pm Prasad Mangesh Gujar, <notifications@github.com>
wrote:

[2019-03-14 15:50] frthjf opened #248 "Imagenet bounding boxes"
I was wondering whether it would be possible to retrieve the Imagenet bounding boxes through tfds. They are used for preprocessing in the tensorflow/models official resnet [here](https://github.com/tensorflow/models/blob/dadc4a625d273f995f8297968859c252147029ee/official/resnet/imagenet_preprocessing.py#L250) but don't seem to be available in tfds.

[2019-03-14 16:05] captain-pool commented on #248
@frthjf This looks like a feature request or enhancement
@cyfra can you assign this to me?

[2019-03-14 16:07] captain-pool commented on #176
This looks pretty interesting.
@cyfra Can You assign this to me?

[2019-03-14 16:23] rsepassi commented on #235
I think -1 for missing positive numerical values seems sensible.

[2019-03-14 18:32] us commented on #234
Yes you are right I couldn't understand all of library. I will fixed it.
and yes this is a feature than a bug. I will corrected.

[2019-03-14 18:39] us opened #251 "dl_manager extract multiple and nested files method"
**Feature request related to the below problem.**
dl_manager.download_and_extract method just extracted the downloaded file, not the files inside.

**Describe the solution**
We can add a feature to dl_manager download extract all files recursively.

[2019-03-14 18:40] us commented on #234
#251

[2019-03-14 18:40] #234 closed

[2019-03-14 18:41] rsepassi commented on #234
Thank you. Do you think you could update EMNIST? It's much more usable without using manual_dir.

[2019-03-14 18:45] drozzy opened #252 "Eager or not eager? TF 2.0 or TF 1?"
It's confusing to a newcomer whether tf datasets works with eager or non-eager by default.
Is enabling eager the same as using TF 2.0?

The presentation of this was at the TF 2.0 announcement, so I kind of assumed this was part of TF 2.0:
https://www.youtube.com/watch?v=-nTe44WT0ZI

But it seems it is separate.

Just pointing out some potential confusion.
Thanks!

[2019-03-14 18:47] SoumyadeepJana commented on #230
@Conchylicultor @cyfra @rsepassi I would like to work on this if approved.

[2019-03-14 18:48] rsepassi commented on #252
Thanks. Maybe we should make it more clear on the README. TFDS works in both Eager and Graph modes and with TF 1.12+ and 2.0.

[2019-03-14 19:00] SoumyadeepJana commented on #232
@respassi Dataset not associated with a competition [HAM10000](https://www.kaggle.com/kmader/skin-cancer-mnist-ham10000)  Dataset associated with competition[Histopathologic Cancer Detection](https://www.kaggle.com/c/histopathologic-cancer-detection/data).I don't think they have different names as such for competition or the dataset itself,every purpose is served using one name.We can use only the

[2019-03-14 19:02] SoumyadeepJana commented on #217
This dataset looks interesting, I would like to implement this @cyfra @Conchylicultor

[2019-03-14 19:13] us commented on #234
Yes I will update as a soon as possible.

[2019-03-14 19:17] drozzy commented on #252
Ok got it!

One more question - how would I do something like this - create a vocabulary of indicies (example from torchtext - where `build_vocab` builds a vocab):

[code]

[2019-03-14 19:17] #252 closed

[2019-03-14 19:35] rsepassi commented on #234
Thanks!

On Thu, Mar 14, 2019 at 12:13 PM us <notifications@github.com> wrote:

[2019-03-14 20:54] iswariyam commented on #230
@cyfra @rsepassi @Conchylicultor I would also to collaborate and contribute to this dataset

[2019-03-14 20:56] iswariyam commented on #142
Please add to the collaborator list  @cyfra

[2019-03-15 03:32] #235 closed

[2019-03-15 06:59] deemedkage commented on #142
Do add me as well.

[2019-03-15 07:46] zh794390558 opened #256 "[data request] VCTK"
* Name of dataset: VCTK

* URL of dataset:
https://homepages.inf.ed.ac.uk/jyamagis/page3/page58/page58.html

* License of dataset:  Open Data Commons Attribution License (ODC-By) v1.0.
* Short description of dataset and use case(s):

All speech data was recorded using an identical recording setup: an omni-directional head-mounted microphone (DPA 4035), 96kHz sampling frequency at 24 bits and in a

[2019-03-15 20:39] prasadgujar commented on #245
@cyfra please can you have look at this issue

[2019-03-15 21:31] iswariyam commented on #200
@cyfra  @rsepassi  @Conchylicultor I would like to collaborate and contribute to this dataset.
Please add me to the collaborator list (I have already posted a comment [issue #142](https://github.com/tensorflow/datasets/issues#issuecomment-473058641) )

[2019-03-16 01:15] pmkalshetti commented on #142
Hi @cyfra, I would like to collaborate to #204. Thanks

[2019-03-16 01:15] pmkalshetti commented on #204
I would like to help as well.

[2019-03-16 07:34] ChanchalKumarMaji commented on #246
This dataset looks interesting, and I have completely explored it.

- There are 40 parts, with each having some folders (with some images).

- I think "Heavy" implementation is needed.

@cyfra @rsepassi @Conchylicultor can you please assign this to me.

[2019-03-16 08:02] prasadgujar commented on #246
I already working on this dataset for last 7 months as part of my final year project.
Will love to work on this issue if community wants this dataset as the dataset is useful as well popular among the data science community or newbie's who are stating with  image processing related project like image captioning and searching.
Please vote for the dataset so we can see this dataset in the tensotflow

[2019-03-16 16:58] suvarnak commented on #142
Hi @cyfra, I would like to collaborate.

Thanks

[2019-03-16 17:04] suvarnak commented on #204
@dandelin  I am working on ImageNet split  given by the authors of original paper (64 classes for train, 16 for test, 20 for validation) https://github.com/twitter/meta-learning-lstm/tree/master/data/miniImagenet.

I noticed that  the dataset link shared in dataset description here is different. Is it mandatory to work on the same file?

[2019-03-16 17:42] suvarnak commented on #142
Hi @cyfra, I would like to collaborate.
I currently working on MiniImagenet
Thanks.

[2019-03-16 19:50] iswariyam commented on #201
@cyfra @rsepassi @Conchylicultor I would like to contribute to this dataset.

[2019-03-16 20:23] pmkalshetti commented on #204
I was able to code it as per the guide (tested successfully). I would be able to submit a pull request once my request for collaborator is accepted.

[2019-03-17 02:30] suvarnak commented on #204
@pmkalshetti Can you please share which tensorflow version you are using or guide me where the package requirements are specified for tfds.

When I am using tensorflow >=1.12.0 < 2.0.0a0, the code related to gfile becomes incompatible and when I am using tf==2.0.0a0 I am getting error "Module 'tensorflow._api.v1.compat' has no 'v1' member"

[2019-03-17 03:50] dandelin commented on #204
@suvarnak It's somewhat surprising they do not match. Since the repository I've linked (
https://arxiv.org/pdf/1803.00676.pdf) says they do rely on Ravi's split (
https://openreview.net/pdf?id=rJY0-Kcl; the original paper).

I think if the original ImageNet images and labels are accessible, there's no reason to not following the original paper's split.

[2019-03-17 04:21] pmkalshetti commented on #204
Hi @suvarnak, I encountered the same error. The `tf.io.gfile` module is present in version >= 1.13. There is a `tf.gfile` module in versions 1.12 and 1.13; however it is not in 2.0 (Preview).

@dandelin In my implementation for mini_imagenet dataset, I have used this url: [https://github.com/renmengye/few-shot-ssl-public#miniimagenet](https://github.com/renmengye/few-shot-ssl-public#miniimagenet).

[2019-03-17 07:31] ChanchalKumarMaji commented on #180
This dataset looks interesting. @cyfra please assign this issue to me.

[2019-03-17 07:41] SoumyadeepJana commented on #256
@rsepassi @cyfra @Conchylicultor I would like to work on this,if approved.

[2019-03-17 08:01] Nimishkhurana commented on #142
Please add me to the list @cyfra

[2019-03-17 08:09] Nimishkhurana commented on #205
@cyfra I would like to contribute. Can you please assign this to me.

[2019-03-17 10:54] ChanchalKumarMaji commented on #246
That's great, lets collaborate together.

[2019-03-17 10:57] suvarnak commented on #204
Sorry, they match. I just unpickled the dataset link you shared. They are indeed using the same split as Ravi's Paper, 64, 16, and 20 classes for training, validation and testing, respectively and 600 images per class.  Only problem is Images are resized to 84x84. I do not know why this specific resize option is used nor does the original paper say anything about it.

Original ImageNet images as p

[2019-03-17 11:07] ChanchalKumarMaji commented on #200
@iswariyam , lets collaborate together.

[2019-03-17 11:15] ChanchalKumarMaji commented on #201
This dataset looks interesting. @cyfra , @rsepassi , @Conchylicultor please assign this issue to me.

[2019-03-17 13:29] iswariyam commented on #201
@ChanchalKumarMaji I have already asked to be assigned to [CUB-200-2010](https://github.com/tensorflow/datasets/issues/200#issuecomment-473447558) and I think it would make more sense that I work on this also, because there is not much difference between the two datasets except for the increase in no. of samples per class and attributes.

[2019-03-17 13:33] SinghKislay opened #261 "[data request] LFW"
- Name of dataset: LFW(labeled faces in wild)

- URL of dataset:
  http://vis-www.cs.umass.edu/lfw/lfw.tgz

- Short description of dataset and use case(s):

 The data set contains more than 13,000 images of faces collected from the web. Each face has been labeled with the name of the person pictured. 1680 of the people pictured have two or more distinct photos in the data set.

[2019-03-17 13:46] aayu04 opened #262 "[data request] <CAVE>"
* Name of dataset: coil100
* URL of dataset: <http://www1.cs.columbia.edu/CAVE/software/softlib/coil-100.php>
* License of dataset: <NA>
* Short description of dataset and use case(s): <100 different objects imaged at every angle in a 360 rotation.>

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests to prioritize.

An

[2019-03-17 13:53] captain-pool commented on #261
This should be marked as dataset request.

[2019-03-17 15:35] cyfra commented on #142
@iswariyam @deemedkage @pmkalshetti @suvarnak @Nimishkhurana
Done - welcome to tfds.

(please remember to accept the invite)

[2019-03-17 16:14] pmkalshetti commented on #142
Invitation accepted. Thanks @cyfra.

[2019-03-17 17:02] ChanchalKumarMaji commented on #262
This dataset looks interesting. @cyfra , please assign this issue to me.

[2019-03-17 17:02] iswariyam commented on #142
Thanks @cyfra

[2019-03-17 17:28] iswariyam commented on #230
@cyfra @rsepassi @Conchylicultor I would like to send in a pull request if this is assigned to me.

[2019-03-17 19:45] #149 closed

[2019-03-17 20:47] pmkalshetti commented on #204
Pull request created #263

[2019-03-17 21:22] us commented on #142
@cyfra add me please?

[2019-03-17 22:59] ChanchalKumarMaji commented on #9
@rsepassi @cyfra @Conchylicultor I have created a pull request (#265). Please Check.

[2019-03-18 01:15] iswariyam opened #267 "UnsafeArchiveError while extracting .tgz"
**Short description**
I am working on Caltech Birds 2010 dataset [Issue 200](https://github.com/tensorflow/datasets/issues/200#issue-419145585).
I am not able to extract the contents of the dataset after the .tgz is downloaded by download manager.

**Environment information**
* Operating System: Ubuntu 16.04
* Python version: 3.6.8
* `tensorflow-datasets`/`tfds-nightly` version: tensorflow-dataset

[2019-03-18 02:51] jihunchoi opened #268 "About the TokenTextEncoder with lowercase=True"
**Short description**
The current behavior of `TokenTextEncoder` when `lowercase` is `True` makes word indices not continuous if multiple (case-sensitive) words share the same lowercase form.
I don't know whether it is intended or not and it will not be problematic in most cases, but I think indices not connected to any token may be misleading.

**Environment information**
* Operating System: Ubun

[2019-03-18 03:30] cyfra commented on #142
@us - done. (you already were a collabolator)

[2019-03-18 05:06] SoumyadeepJana commented on #202
@cyfra There is no labels provided for test images, how to go about this?

[2019-03-18 05:34] ChanchalKumarMaji commented on #9
The dataset contains 2 parts as described [here](https://s3.amazonaws.com/amazon-reviews-pds/tsv/index.txt).

- The first part contains different products reviews from US marketplace only. BuilderConfig for different product items.
   -- US REVIEWS DATASET #265

- The second part contains different product reviews from different marketplaces. BuilderConfig for different marketplaces.
   -- MULTILI

[2019-03-18 10:37] jackd opened #274 "DownloadManager._handle_download_result moves to outdated path"
**Short description**
`DownloadManager._handle_download_result` [moves the downloaded files to the incorrect location](https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/download/download_manager.py#L200).

Setting the `Resource.sha256` unsets `Resource._fname` but does not unset `Resource.path`. The path is set [here](https://github.com/tensorflow/datasets/blob/master/ten

[2019-03-18 12:04] SoumyadeepJana commented on #179
Would like to work on this

[2019-03-18 12:54] tarrade opened #275 "option to be be able to use datasets behind a proxy"
**Is your feature request related to a problem? Please describe.**
Right now behing a proxy, it is not working:
[code]
I don't think this is supported for now (I didn't see it in the documentation):
https://www.tensorflow.org/datasets/api_docs/python/tfds/load

This will impact quite a lot of people working in company and university

**Describe the solution you'd like**
I am not an expert but usin

[2019-03-18 17:57] rsepassi opened #278 "Add `tensorflow_datasets.__version__`"
Use `tensorflow/probability` as an example:

In `__init__.py` ([example](https://github.com/tensorflow/probability/blob/c3f72714fb0566dba92f1bfe1397f0039fdff071/tensorflow_probability/__init__.py#L79)).

And in `setup.py` ([example](https://github.com/tensorflow/probability/blob/c3f72714fb0566dba92f1bfe1397f0039fdff071/setup.py#L25)).

Related to tensorflow/tensorboard#2020

[2019-03-18 19:10] us commented on #142
Sorry! I thought there was a problem when the website didn't open.

[2019-03-18 19:21] ChanchalKumarMaji commented on #278
@rsepassi please check #279.

[2019-03-19 02:19] alanpurple commented on #127
same error while loading cats_vs_dogs

[2019-03-19 09:11] EmanueleGhelfi opened #282 "NonMatchingChecksumError when dowloading from gcloud"
**Short description**
NonMatchingChecksumError when downloading a .tar or .gz or .tar.gz from gcloud.

**Environment information**
* Operating System: Arch Linux
* Python version: 3.6
* tfds-nightly==1.0.1.dev201903180105
* tf-nightly-gpu-2.0-preview==2.0.0.dev20190318

**Reproduction instructions**

[code]

**Logs**
[code]

**Expected behavior**
The file should be downloaded and extracted as expe

[2019-03-19 09:45] ageron opened #283 "Add class names to the Dataset info"
**Is your feature request related to a problem? Please describe.**
It's a bit painful to have to go searching for the class names. For example, I had no idea where to get the **tf_flowers** class names.

**Describe the solution you'd like**
It would be great to have the class names as part of the Dataset info, and optionally class descriptions as well. Perhaps also some statistics, like the total

[2019-03-19 09:52] ageron commented on #283
Oh wow, I just realized the class names are not in alphabetical order. The correct order is:

[code]

I hope it is consistent every time I download the dataset?

[2019-03-19 12:20] ParthS007 commented on #283
@ageron I will send a PR correcting it :+1:

[2019-03-19 16:11] Conchylicultor commented on #283
I think this is already possible:

[code]
Which output:
[code]

Note that you also have `info.features['label'].str2int('roses') == 4` and `.int2str` for easy conversion.

For the statistics, we plan to have the statistics `info.stats` be computed using https://www.tensorflow.org/tfx/guide/tfdv which hopefully will provide more insight about the label distribution & cie.

I'm closing this, don't h

[2019-03-19 16:11] #283 closed

[2019-03-19 16:15] Conchylicultor commented on #251
I think this is the intended behavior. To extract recursively, the solution is to call `dl_manager.extract` multiple times:

[code]

Closing this, don't hesitate to re-open if this does not solve your issue.

[2019-03-19 16:15] #251 closed

[2019-03-19 17:07] Conchylicultor commented on #274
Thanks for reporting.
@pierrot0 Could you have a look at this ?

[2019-03-19 23:53] InduManimaran opened #288 "[data request] Places2"
* Name of dataset: Places365
* URL of dataset: http://places2.csail.mit.edu/download.html
* License of dataset: unknown
* Short description of dataset and use case(s):

The Places dataset is designed following principles of human visual cognition. The dataset can be used to train artificial systems for high-level visual understanding tasks, such as scene context, object recognition, action and eve

[2019-03-20 00:07] InduManimaran opened #289 "[data request] SceneParse150"
* Name of dataset: MIT Scene Parsing Benchmark (SceneParse150)
* URL of dataset: http://sceneparsing.csail.mit.edu
* License of dataset: BSD 3-Clause License
* Short description of dataset and use case(s):
SceneParse150 provides a standard training and evaluation platform for the algorithms of scene parsing.

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up

[2019-03-20 01:31] ageron commented on #283
Fantastic, thanks! 👍 Perhaps this should be more prominent in the documentation?

[2019-03-20 02:24] ageron opened #291 "No easy way to build a validation set & test set when just one split is provided"
**Short description**
In datasets like tf_flowers, only one split is provided. There does not seem to be any easy way to split this set into a training set, a validation set and a test set. I tried this:

[code]

Unfortunately, this does not work because `dataset["train"]` is a shuffled dataset, so the code does not actually skip the same instances every time.

**Environment information**
* Operat

[2019-03-20 03:15] ageron commented on #291
Oops, sorry, it's actually possible and [documented here](https://github.com/tensorflow/datasets/blob/e53f3af5997bd0af9f7e61de3b8c98d8254e07b6/docs/splits.md).

Here's an example:

[code]

[2019-03-20 03:15] #291 closed

[2019-03-20 03:23] ChanchalKumarMaji commented on #289
@cyfra please assign this issue to me.

[2019-03-20 03:24] SoumyadeepJana commented on #288
@cyfra @Conchylicultor  Please assign this to me.

[2019-03-20 03:27] ChanchalKumarMaji commented on #288
@cyfra @rsepassi , this dataset looks interesting. Please assign this to me.

[2019-03-20 04:53] ageron opened #292 "Dataset splits do not have exactly the requested weights"
**Short description**
When I split the tf_flowers dataset into subsplits with weights 10, 15 and 75, I actually get datasets of size 400, 600, and 2670. This translates to 10.9%, 16.3%, 72.8%, which is pretty different from what I requested.
Moreover, apart from iterating through the whole datasets, there does not seem to be a way to know the size of the splits.

**Environment information**
* Oper

[2019-03-20 10:37] EmanueleGhelfi commented on #282
Closing, the issue was due to a missing checksum.

[2019-03-20 10:37] #282 closed

[2019-03-20 14:16] GrtSid commented on #289
@cyfra I would like to work on this issue. Please assign this to me and add me as a contributor.

[2019-03-21 01:12] jsaurabh commented on #142
Add me as well

[2019-03-21 02:05] LawrenceXu13467 opened #298 "How to use map function on datasets other than MNIST"
I am relatively new and sorry if this question sounds silly. But what parameters shall we include in the map_func so that we can modify images, labels, and other stuff from more complex datasets?
Thanks for your time!!!!!

**Difference in _OptionsDataset shapes**
I was trying to use map function to resize the datasets I got from loading "coco2014". However, I notice a difference between the MNIST

[2019-03-21 02:59] LawrenceXu13467 commented on #298
**The lambda expression seems to work**
train_data = coco_train.map(lambda x: {'image': x['image']/255, 'image/filename': x['image/filename'],'objects': x['objects']})

**But is there another solution? Like how to define it into a separate function**
**Thanks!!**

[2019-03-21 04:45] dynamicwebpaige opened #299 "[data request] IBM Diversity in Faces Dataset (DiF)"
* Name of dataset: IBM Diversity in Faces (DiF)
* URL of dataset: https://www.research.ibm.com/artificial-intelligence/trusted-ai/diversity-in-faces/
* License of dataset: [Terms of Use](https://www.research.ibm.com/artificial-intelligence/trusted-ai/diversity-in-faces/documents/dif-terms-of-use.html)

* Short description of dataset and use case(s): "The Diversity in Faces (DiF) is a large and div

[2019-03-21 04:48] dynamicwebpaige opened #300 "[data request] General Question Answering (GQA)"
* Name of dataset: General Question Answering (GQA)
* URL of dataset: https://cs.stanford.edu/people/dorarad/gqa/
* License of dataset: https://creativecommons.org/licenses/by/4.0/

* Short description of dataset and use case(s): The dataset consists of 22M questions about various day-to-day images. Each image is associated with a scene graph of the image's objects, attributes and relations, a new

[2019-03-21 04:51] dynamicwebpaige opened #301 "[data request] Highway Drone Dataset (HighD)"
* Name of dataset: Highway Drone Dataset (HighD)
* URL of dataset: https://www.highd-dataset.com/
* License of dataset: Free for non-commercial use (see website)

* Short description of dataset and use case(s): Naturalistic vehicle trajectories recorded on German highways. Using a drone, typical limitations of established traffic data collection methods such as occlusions are overcome by the aeria

[2019-03-21 04:51] ChanchalKumarMaji commented on #300
@dynamicwebpaige , this dataset looks interesting, please assign this issue to me.

[2019-03-21 05:03] ChanchalKumarMaji commented on #299
@cyfra @dynamicwebpaige @rsepassi , please assign this issue to me.

[2019-03-21 05:04] dynamicwebpaige opened #302 "[data request] Berkeley DeepDrive"
* Name of dataset: Berkeley DeepDrive
* URL of dataset: https://bdd-data.berkeley.edu
* License of dataset: Commercial use prohibited (see website).

* Short description of dataset and use case(s): 100,000 HD video sequences of over 1,100-hour driving experience across many different times in the day, weather conditions, and driving scenarios. Includes GPS locations, IMU data, and timestamps. 2D B

[2019-03-21 05:07] dynamicwebpaige opened #303 "[data request] comma2k19"
* Name of dataset: comma2k19
* URL of dataset: https://github.com/commaai/comma2k19
* License of dataset: MIT

* Short description of dataset and use case(s): Over 33 hours of commute in California's 280 highway. This means 2019 segments, 1 minute long each, on a 20km section of highway driving between California's San Jose and San Francisco.

Folks who would also like to see this dataset in `tens

[2019-03-21 06:02] Rohith-hacker commented on #303
@dynamicwebpaige i would like to add this dataset
can you please assign this to me?

[2019-03-21 08:29] EmanueleGhelfi opened #305 "Checksums are overwritten"
**Short description**
I want to implement a new dataset.
For this dataset I need to download multiple files from gcloud storage. The problem is that even if I run the `download_manager` with the flag `_register_checksums=True` the checksums are overwritten since the function `store_checksums` inside checksums opens the checksum file with the `w` option. By running the download manager with  `_regi

[2019-03-21 09:17] bhack opened #306 "Challenges"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Can we add an issue template related to challenges?

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
I think that could be useful to have an issue template or a general structure for handling

[2019-03-21 09:41] SoumyadeepJana commented on #301
@dynamicwebpaige  Please assign me this

[2019-03-21 09:42] SoumyadeepJana commented on #302
@dynamicwebpaige  I would like to work on this

[2019-03-21 09:49] captain-pool commented on #206
@rsepassi @cyfra can you assign me this issue?

[2019-03-21 10:30] EmanueleGhelfi commented on #305
Update: even when calling `dl_manager.download` sequentially for each file to download the checksums are overwritten since the function returning the checksums `_get_sizes_checksums(checksums_path)` is decorated with `@utils.memoize()` that caches the calls to the function. In this way the function returns always the content of the file at the moment of the first call.

[2019-03-21 12:21] ParthS007 commented on #207
@cyfra @rsepassi I have created for adding this Dataset. Please review and let me know the changes required. Thanks :)

[2019-03-21 13:45] ParthS007 commented on #20
@nikiparmar @rsepassi @cyfra @Conchylicultor I have worked on this dataset request since it was inactive for 19 days. I have made a PR #308 adding this dataset. Please review and let me know if I have to do any changes. Thanks :)

[2019-03-21 13:52] us commented on #300
I have finished my assigned datasets. I'm ready for a new dataset. Please assign me.

[2019-03-21 13:57] ChanchalKumarMaji commented on #300
@us please see other datasets, I have already started working on this. I have also finished my assigned datasets.

[2019-03-21 16:05] Conchylicultor commented on #306
What is the issue exactly ? Could you provide some context ?

[2019-03-21 16:10] Conchylicultor commented on #298
I'm not sure I understand, you can always create another function no ?

[code]

[2019-03-21 16:16] bhack commented on #306
To have a issue template for challenges instead of open one for every dataset. And eventually to have a challenges data structure/metadata to group datasets.

[2019-03-21 16:31] Conchylicultor commented on #306
Why not using the template for datasets, and specify in the issue that you want all datasets related to this challenge ?
The drawback is that it makes it would make it harder to track progress on individual dataset (ex: to distribute the work).

[2019-03-21 16:34] LawrenceXu13467 commented on #298
Thanks for your help! Yes, you are right. Sorry, I just realize it's a dictionary for coco dataset instead of a tuple like the mnist example, and that's why it gave me the missing positional arguments error.

[2019-03-21 16:34] #298 closed

[2019-03-21 16:42] Conchylicultor opened #309 "Expose the number of example in subplit"
**Is your feature request related to a problem? Please describe.**
Currently, when using subsplit, the only way to get the number of example associated with it is to iterate over the entire dataset.

**Describe the solution you'd like**
Knowing this would require knowing the exact number os sample per shards (in stats).

Not sure what the API could looks like ? Maybe:
[code]

[2019-03-21 16:55] bhack commented on #306
I think any solution to handle this metadata could be good.

[2019-03-21 16:55] ParthS007 commented on #309
@Conchylicultor I want to work on this. How should I proceed with it? Thanks for the help.

[2019-03-21 17:23] sfujiwara opened #310 "Option to turn tqdm progress bar off"
**Is your feature request related to a problem? Please describe.**

Progress bar by tqdm is useful when we run the code on local.
But, it a little bit bothering when we run the code on server or cloud.
So, I think an option to turn tqdm progress bar off is useful.

**Describe the solution you'd like**

This problem is discussed in tqdm GitHub issue, but it seems not to be resolved yet:
https://git

[2019-03-21 17:35] us commented on #300
@ChanchalKumarMaji okay if you started working, no problem. I didn't mean you didn't finish, the point is to be more effective. Good luck :)

[2019-03-21 18:37] GrtSid commented on #302
@dynamicwebpaige  Can you please assign this to me.

[2019-03-22 05:25] mandroid6 commented on #142
@cyfra please add me to the list

[2019-03-22 05:28] mandroid6 commented on #179
@rsepassi @cyfra I would like to work on this

[2019-03-22 05:52] SoumyadeepJana opened #312 "[data request] Food-101"
* Name of dataset: Food-101
* URL of dataset: http://www.vision.ee.ethz.ch/datasets_extra/food-101/
* License of dataset: Unknown
* Short description of dataset and use case(s): This dataset consists of 101 food categories, with 101'000 images. For each class, 250 manually reviewed test images are provided as well as 750 training images. On purpose, the training images were not cleaned, and thus s

[2019-03-22 06:02] SoumyadeepJana opened #313 "[data request] Stanford Mobile Visual Search Dataset"
* Name of dataset: Stanford Mobile Visual Search Dataset
* URL of dataset: https://purl.stanford.edu/rb470rw0983
* License of dataset: Unknown
* Short description of dataset and use case(s):The Stanford Mobile Visual Search Dataset, contains camera-phone images of products, CDs, books, outdoor landmarks, business cards, text documents, museum paintings and video clips. The dataset has several key

[2019-03-22 06:08] Shashi456 commented on #142
@cyfra please add me as well.

[2019-03-22 06:13] SoumyadeepJana opened #314 "[data request] Caltech Pedestrian Detection Benchmark"
* Name of dataset: Caltech Pedestrian Detection Benchmark
* URL of dataset: http://www.vision.caltech.edu/Image_Datasets/CaltechPedestrians/
* License of dataset: Unknown
* Short description of dataset and use case(s): The Caltech Pedestrian Dataset consists of approximately 10 hours of 640x480 30Hz video taken from a vehicle driving through regular traffic in an urban environment. About 250,000 f

[2019-03-22 06:39] ParthS007 commented on #34
@rsepassi `tensorflow/io` has the latest release 20 days ago and `LMDBDataset` is also included in the release when I looked at the source code of release.
I want to work on this Issue. Can you please assign this to me and help me to go ahead with this issue. Thanks :)

[2019-03-22 07:47] ParthS007 commented on #121
@Conchylicultor Are you working on this Issue. If not, I am interested to work on this.
Can you please assign it to me and help me going ahead solving this Issue. Thanks :)

[2019-03-22 07:50] SoumyadeepJana commented on #180
I would like to work on this,@cyfra @rsepassi @Conchylicultor  Please assign me this

[2019-03-22 10:24] SoumyadeepJana commented on #10
@rsepassi I would like to contribute to this issue,where do I start?

[2019-03-22 10:48] ParthS007 commented on #119
@Conchylicultor I want to work on this. How should I proceed with this Issue? Thanks :)

[2019-03-22 12:44] ParthS007 opened #317 "[data request] Stanford Question Answering Dataset 2.0"
* Name of dataset: Stanford Question Answering Dataset 2.0
* URL of dataset: https://rajpurkar.github.io/SQuAD-explorer/explore/v2.0/dev/
* Short description of dataset and use case(s): Stanford Question Answering Dataset 2.0 is a reading comprehension dataset, consisting of questions posed by crowd workers on a set of Wikipedia articles, where the answer to every question is a segment of text, or

[2019-03-22 13:06] SoumyadeepJana commented on #302
@rsepassi @tfds-copybara I think the size of the dataset(~1.8TB) makes it well eligible for parallel pipeline ,
https://github.com/tensorflow/datasets/issues/10,what do you suggest?

[2019-03-22 13:16] SoumyadeepJana commented on #312
@Conchylicultor @cyfra I have completed this almost ,please assign this to me

[2019-03-22 13:58] pierrot0 commented on #305
I believe issue was fixed by commit 6358a39e937dd43ea7d5915cf97733ab81d65275.

[2019-03-22 13:58] #305 closed

[2019-03-22 14:04] EmanueleGhelfi commented on #305
By the way I do not have these changes in my tensorflow dataset code installed from pip.

[2019-03-22 14:41] sfujiwara commented on #310
I think this problem is important because it seems that tqdm can not be used (it occurs an error) on Google Cloud ML Engine as long as I investigated.

[2019-03-22 15:29] mandroid6 commented on #179
@rsepassi @cyfra  I have created a script to save the ``.wav`` file names as text features for individual audio file; but which ``tfds.features.FeatureConnector`` should be used for such a dataset?

[2019-03-22 15:44] mandroid6 commented on #26
@rsepassi I would like to add this dataset to tf.datasets, if no one else is actively working on it.

[2019-03-22 16:16] SoumyadeepJana commented on #179
@mandroid6 I was about to start working on this but glad that you have already started working,please go ahead and make a PR.  👍

[2019-03-22 17:25] SoumyadeepJana commented on #179
@mandroid6 Use tfds.features.Audio as the FeatureConnector for .wav files,text features won't work in this case.
In case you want to read more about it
[Audio FeatureConnector](https://github.com/tensorflow/datasets/blob/master/docs/api_docs/python/tfds/features/Audio.md)

[2019-03-22 17:27] mandroid6 commented on #179
Yup, already using Audio feature connector for the audio clips; but the
file names are values of the order in which YES and NO is being spoken in
Hebrew

On Fri, 22 Mar 2019 at 10:55 PM, Soumya_d_coder <notifications@github.com>
wrote:

[2019-03-22 17:40] SoumyadeepJana commented on #179
@mandroid6 You might use tfds.features.Text

[2019-03-22 19:34] mandroid6 commented on #200
@cyfra @rsepassi I am working on similar tfds data request, I can take up this task as well. Please assign this issue to me

[2019-03-22 19:45] mandroid6 opened #318 "[data request] Caltech 10, 000 Web Faces"
* Name of dataset: Caltech 10, 000 Web Faces
* URL of dataset: http://www.vision.caltech.edu/Image_Datasets/Caltech_10K_WebFaces/
* License of dataset: not mentioned on website
* Short description of dataset and use case(s):  The dataset contains images of people collected from the web by typing common given names into  Google Image Search. The coordinates of the eyes, the nose and the center of t

[2019-03-22 19:47] mandroid6 commented on #318
@rsepassi I would be interested in taking up this task, already started with the work.

[2019-03-22 20:38] #274 closed

[2019-03-22 20:54] gshashank84 commented on #142
Please add me to list @cyfra

[2019-03-22 21:04] Conchylicultor commented on #179
The way I would do it would be something like:

[code]
This way, it will return two tensors, the 'labels' should be a tf.Tensor(shape=(8,), dtype=tf.int64)

[2019-03-22 21:47] Conchylicultor commented on #121
@ParthS007 Thanks for taking care of this. Note that this is not a trivial change and require a good understanding of how the subsplit are working. As first step, I would suggest to familiarise yourself with the current subsplit system:

The current `SplitBase` class explain globally how the current system is working: https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/spli

[2019-03-22 23:45] Conchylicultor commented on #310
All `tqdm` instances used internally in `tfds` should use `tfds.utils.tqdm` so in theory, it would be possible to achieve this by replacing `tqdm` by a no-op class, when the user call `tfds.disable_progress_bar()`.

https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/utils/tqdm.py#L27

Some point to concider:
* Tqdm is sometimes used as context manager, sometimes as iterato

[2019-03-23 00:26] us commented on #310
I want to solve that problem. Please assign me.

[2019-03-23 08:41] mandroid6 commented on #179
**YesNo Class**
``
class YesNo(tfds.core.GeneratorBasedBuilder):
	"""
	Sixty recordings of one individual saying yes or no in Hebrew; each recording is eight words long.
	"""

	_DESCRIPTION ='contains 60 .wav files, sampled at 8 kHz. \
	All were recorded by the same male speaker, in Hebrew. \
	In each file, the individual says 8 words; \
	each word is either the Hebrew for "yes" or "no", \
	so eac

[2019-03-23 14:53] us opened #320 "Dataset Template Generator Script"
**Is your feature request related to a problem? Please describe.**
There are some files and folders to create for each new dataset. It always takes time.
On the other hand anyone can sometimes miss out something from the documentation and forgot some things.

**Describe the solution you'd like**
A utility script that creates common files, functions and their TODO's for each new dataset.

Sample us

[2019-03-23 17:06] Rohith-hacker opened #322 "[data request] imdb face dataset"
* Name of dataset: imdb face dataset
* URL of dataset: https://data.vision.ee.ethz.ch/cvl/rrothe/imdb-wiki/
* License of dataset: academic research purpose only.
* Short description of dataset and use case(s): IMDB-WIKI dataset, the largest public dataset of face images with age and gender labels. it contains 460,723 face images from 20,284 celebrities from IMDb and 62,328 from Wikipedia, thus 523

[2019-03-23 17:42] SoumyadeepJana commented on #322
I would like to work on this. @cyfra @Conchylicultor Please assign me this

[2019-03-23 18:37] amanp592 commented on #26
@rsepassi  Is anyone up here working on this dataset?? if not then please let me work on it.

[2019-03-23 19:05] amanp592 commented on #27
@rodrigob I would love to work on this dataset if anyone not working on it can you assign it to me??

[2019-03-23 19:34] mandroid6 commented on #26
hey @amanp592, I am currently working on this dataset. Will be sending a PR in 2 days

[2019-03-23 23:39] ParthS007 commented on #121
@Conchylicultor I am looking into it and going through the code. I will comment here if I have any queries. Thanks for the help :)

[2019-03-23 23:49] ParthS007 commented on #317
@Conchylicultor I have made PR adding this dataset. Please review #323

[2019-03-24 02:40] amanp592 commented on #314
@SoumyadeepJana  I would like to work on this please assign me this issue!!

[2019-03-24 02:41] amanp592 commented on #313
@SoumyadeepJana  can you assign me this issue as i already have the dataset downloaded for this one!

[2019-03-24 06:11] SoumyadeepJana commented on #313
@amanp592  I am not authorized to assign you,please ask @cyfra @Conchylicultor

[2019-03-24 06:21] amanp592 commented on #313
@cyfra  @Conchylicultor Please assign me this issue i have started working on this.

[2019-03-24 06:22] amanp592 commented on #314
@cyfra @Conchylicultor  Would like to work on this one please assign me this.

[2019-03-24 11:32] BrEr opened #326 "[data request] Fruits-360"
* Name of dataset: Fruits-360
* URL of dataset: https://github.com/Horea94/Fruit-Images-Dataset
* License of dataset: MIT
* Short description of dataset and use case(s): A high-quality, dataset of images containing fruits.

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests to prioritize.

And if you'd like to contribu

[2019-03-24 11:35] BrEr opened #327 "[data request] 10 Monkey Species"
* Name of dataset: 10 Monkey Species
* URL of dataset: https://www.kaggle.com/slothkong/10-monkey-species
* License of dataset: CC0: Public Domain
* Short description of dataset and use case(s): Dataset containing 10 species of monkeys intended as test-case for image classification.

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know

[2019-03-24 11:37] BrEr opened #328 "[data request] SimpsonRecognition"
* Name of dataset: The Simpsons Characters Data
* URL of dataset: https://www.kaggle.com/alexattia/the-simpsons-characters-dataset
* License of dataset: CC BY-NC-SA 4.0
* Short description of dataset and use case(s): Image dataset of 20 characters from The Simpsons.

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests t

[2019-03-24 12:06] SoumyadeepJana commented on #327
@cyfra @Conchylicultor  Please assign me this

[2019-03-24 12:07] SoumyadeepJana commented on #328
@Conchylicultor  @cyfra This looks interesting,kindly assign me

[2019-03-24 12:10] ChanchalKumarMaji commented on #326
@BrEr , This dataset has already been added here #174. Please close the issue.

[2019-03-24 13:28] ChanchalKumarMaji commented on #282
@EmanueleGhelfi how you corrected it ?

[2019-03-24 13:57] EmanueleGhelfi commented on #282
I do the following step:
- create a checksum file with touch path_to_tfds/url_checksums/my_dataset.txt
- Run the script with the downloadmanager field _register_checksums=True
By doing this the download manager registers the checksums of the new dataset.
Notice that for the following loading of MyDataset the field register_checksums is not needed.

[2019-03-24 16:02] BrEr commented on #326
Sorry, wasn't listed here:

https://github.com/tensorflow/datasets/blob/master/docs/datasets.md

[2019-03-24 16:02] #326 closed

[2019-03-24 20:56] ChanchalKumarMaji opened #330 "[data request] HIGGS Data Set"
* Name of dataset: `HIGGS Data Set`
* URL of dataset: https://archive.ics.uci.edu/ml/datasets/HIGGS
* License of dataset: <license type>
* Short description of dataset and use case(s): The data has been produced using Monte Carlo simulations. The first 21 features (columns 2-22) are kinematic properties measured by the particle detectors in the accelerator. The last seven features are functions of

[2019-03-24 20:58] ChanchalKumarMaji commented on #330
This dataset has been added in #331.

[2019-03-24 23:46] jackd opened #332 "Implementing highly configurable datasets"
A lot of datasets provide some base data source which undergoes considerable pre-processing before use in machine learning algorithms. For example, I work in 3D reconstruction from images, and a lot of research is done based on rendering CAD models and trying to predict voxel grids or point clouds. In this case there are a number of ways of rendering (lighting, camera location etc) and producing l

[2019-03-25 03:57] chenqing commented on #60
I am curious what is the progress now. when in tfjs-node ,  we also need this.

[2019-03-25 11:24] sachinprabhu007 opened #336 "[data request] Human Brain Atlas"
* Name of dataset: Allen Brain Atlas
* URL of dataset: http://human.brain-map.org/
* License of dataset: http://alleninstitute.org/legal/terms-use/
* Short description of dataset and use case(s):

'A unique multimodal atlas of the human brain, integrating anatomic and genomic information

Microarray data providing an "all genes, all structures" survey in multiple adult control brains
In situ hybri

[2019-03-25 12:56] mr-ubik opened #337 "[data request] <dataset name>"
* Name of dataset: QuickDraw JSON (vectors)
* URL of dataset: https://github.com/googlecreativelab/quickdraw-dataset
* License of dataset: Creative Commons Attribution 4.0 International license
* Short description of dataset and use case(s): We've simplified the vectors, removed the timing information, and positioned and scaled the data into a 256x256 region. The data is exported in ndjson format

[2019-03-25 13:02] us commented on #337
I would like to add this. Assign me thanks.

[2019-03-25 13:50] mr-ubik commented on #337
The problem is should add both RAW, Simplified and .npz (Which has splits and was the one used to trai Sketc RNN) or just one of them?

[2019-03-25 13:56] frthjf commented on #248
Thanks @captain-pool. That would be great to have!

[2019-03-25 15:31] Conchylicultor commented on #314
@amanp592 Thanks for your interest. To be assigned, you first have to be added to the colaborator list. See: https://github.com/tensorflow/datasets/issues/142

[2019-03-25 15:34] amanp592 commented on #142
Add me in this list please @cyfra  @Conchylicultor

[2019-03-25 16:58] mr-ubik opened #339 "Dedicated folder for Sequential data"
I thought it could be useful to have dedicated time_series/sequence folders for all Sequential Datasets that are neither audio nor text/translation.

i.e., somewhere to place stuff like #337

[2019-03-25 17:52] SoumyadeepJana commented on #336
@Conchylicultor @cyfra Would like to work on this

[2019-03-25 18:12] rsepassi commented on #10
Thanks @SoumyadeepJana! @Conchylicultor is actively working on this, so maybe let's find you another issue to contribute on. If he needs the help, he can say so here.

[2019-03-25 18:14] rsepassi commented on #305
Try `pip install tfds-nightly` @EmanueleGhelfi. These changes will be in the next full release of `tensorflow-datasets`.

[2019-03-25 18:20] Conchylicultor commented on #142
Everyone before this message should have received an invite. You can accept it at: https://github.com/tensorflow/datasets/invitations

[2019-03-25 18:48] ChanchalKumarMaji commented on #339
@mr-ubik Thanks for your suggestion. I think the team members will add more such folders as required by the datasets. There are many more datasets to add.

[2019-03-25 18:49] EmanueleGhelfi commented on #305
I've installed the nightly version

[2019-03-25 18:51] suvarnak commented on #205
@dandelin  @cyfra  Can you please review #311?

[2019-03-25 19:12] mr-ubik commented on #337
@Conchylicultor I am working on the Simplified dataset, could you assign me to the issue too?

[2019-03-25 19:20] ParthS007 opened #342 "[data request] MultiNLI Mismatched Dataset"
* Name of dataset: MultiNLI Mismatched
* URL of dataset: http://www.nyu.edu/projects/bowman/multinli/
* License of dataset:  OANC
* Short description of dataset and use case(s): The Multi-Genre Natural Language Inference corpus is a crowd-sourced collection of 433k sentence pairs annotated with textual entailment information.

Folks who would also like to see this dataset in `tensorflow/datasets`,

[2019-03-25 19:21] ParthS007 commented on #27
@amanp592 You can work on it.

[2019-03-25 19:23] mr-ubik commented on #142
Could anyone please add me? Thanks :heart:

[2019-03-25 21:32] Conchylicultor commented on #27
@ParthS007 @amanp592 Please note that someone already started working on this: https://github.com/tensorflow/datasets/pull/343

[2019-03-25 22:05] Conchylicultor commented on #337
Thanks for your interest. @mr-ubik if you are both on the same dataset, try to coordinate with @us to avoid duplicating work.

[2019-03-25 22:10] jpuigcerver commented on #27
Hi,

I'm the author of #343: JFYI my pull request only adds VOC2007, not VOC2012.

[2019-03-25 22:22] Conchylicultor commented on #27
@jpuigcerver oops, my bad, indeed. Sorry about that.

[2019-03-25 22:56] rsepassi commented on #85
I think we're good @danbri. But need to find the time to do this.

Need a new markdown page per dataset that includes the JSON-LD html tag.

[2019-03-25 22:59] rsepassi commented on #55
That's an interesting idea @jackd, but it would still require downloading the source dataset since `_generate_examples` expects the downloads to be there.

There are some datasets that we can redistribute though. For those, we can log an info message that says it can be fetched from our public GCS bucket and by setting `data_dir` to that GCS bucket, it can use the hosted dataset.

[2019-03-25 23:00] rsepassi commented on #55
Work in progress #75

[2019-03-25 23:26] #142 closed

[2019-03-25 23:30] rsepassi commented on #142
Sorry for the change here. Please comment in the issue you'd like to be
assigned to and we'll add you as a collaborator then. And please accept the
collaborator invite when we send it to you.

On Mon, Mar 25, 2019 at 4:26 PM tfds-copybara <notifications@github.com>
wrote:

[2019-03-25 23:42] rsepassi commented on #200
@mandroid6, @iswariyam is working on this, so let's find you another issue to contribute on.

[2019-03-25 23:52] rsepassi commented on #267
@pierrot0, could you please take a look?

[2019-03-25 23:54] rsepassi commented on #268
Thanks for finding this. Yes, it should remove the duplicates.

[2019-03-26 00:09] rsepassi commented on #34
Hi @ParthS007, thank you! Please see [the docs here](https://github.com/tensorflow/datasets/blob/master/docs/add_dataset.md#extra-dependencies) to add the dep to LSUN.

[2019-03-26 03:22] jsaurabh commented on #322
@cyfra @Conchylicutor I can work on this if it's still open

[2019-03-26 03:44] SoumyadeepJana opened #349 "Missing labels in test split"
**What I need help with / What I was wondering**
There are quite a number of datasets that have been created as a part of some competition or challenge and those folks don't provide the labels to test set as the model the user develops needs to be evaluated by some evaluation server.

**What I've tried so far**
For all those types of datasets, we can assign a general string such as "test" as label

[2019-03-26 03:45] SoumyadeepJana commented on #349
@Conchylicultor @rsepassi Your views on this?

[2019-03-26 09:01] mr-ubik commented on #337
@Conchylicultor will do! There are currently 4 variations of the Quickdraw  dataset to be added

- [ ] Raw
- [ ] Simplified
- [ ] SketchRNN
- [ ] SketchRNN Full

@us which one are you implementing?

[2019-03-26 09:28] BrEr opened #350 "Is there a roadmap or release schedule?"
I am wondering when new releases are expected? Is there a release schedule or roadmap determined?

[2019-03-26 10:35] ParthS007 commented on #342
@Conchylicultor @cyfra Please assign it to me. Thanks

[2019-03-26 11:12] SoumyadeepJana commented on #350
@BrEr I think all the datasets that will be added during GSoc will be organized and listed after GSoc

[2019-03-26 14:28] mr-ubik opened #353 "Contribution Code Style"
Is there a file formally specifying the code style to use when contributing?

I guess:

- 2 Spaces Indent
- Format with Yapf

Is there anything else?

[2019-03-26 14:53] cyfra commented on #24
Merged in #212

[2019-03-26 14:53] #24 closed

[2019-03-26 14:55] cyfra commented on #353
TL;DR: Run pylint.

The full code style is here:
https://github.com/google/styleguide/blob/gh-pages/pyguide.md

[2019-03-26 15:24] carlthome opened #354 "Importing tensorflow_datasets changes root logger's format"
`logging`'s root logger format is changed after importing tensorflow_datasets. It's unexpected behaviour and shouldn't happen IMO.

**Environment information**
* Operating System: Ubuntu 18.10
* Python version: Python 3.6
* `tensorflow-datasets`/`tfds-nightly` version: 1.0.1
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: 1.12.0

**Reproduction instructions**

[code]

[2019-03-26 15:47] iswariyam commented on #201
@rsepassi Please assign this to me. I am working on it

[2019-03-26 16:59] #237 closed

[2019-03-26 17:18] dizcology opened #356 "Iterating dataset as numpy with batch_size > 1 failed to work."
**Short description**
When I loaded a dataset (cifar10) with batch_size set to larger than 1, converted it to a generator with `tfds.as_numpy` and tried to iterate over the generator, I got the following repeated warning and no data:

[code]

**Environment information**
* Operating System: Mac OSX
* Python version: 2.7
* `tensorflow-datasets`/`tfds-nightly` version: 1.0.1
* `tensorflow`/`tensorflo

[2019-03-26 18:37] SoumyadeepJana commented on #356
@cyfra @Conchylicultor @rsepassi I would like to fix this

[2019-03-26 18:51] rsepassi commented on #356
I cannot reproduce this error with `tfds-nightly`. I do see the warnings, but they do not affect the program and you can safely ignore them.

[2019-03-26 18:51] #356 closed

[2019-03-26 19:09] rsepassi commented on #354
Hmm..that is unfortunate, but it seems that it's `absl` that's modifying it:

[code]

[2019-03-26 19:12] rsepassi commented on #349
You could add a "missing" class label and all the test images would use that as the class label.

[2019-03-26 19:16] rsepassi commented on #332
The `BuilderConfig` for the dataset can expose all the needed options. In the `BUILDER_CONFIGS` list, only a few common/important ones should be listed. Users that want more fine-grained configuration can explicitly instantiate the `BuilderConfig` with the options they want and pass that to the `DatasetBuilder`.

[2019-03-26 19:18] rsepassi commented on #306
Yes, please use the dataset request template.

[2019-03-26 19:18] #306 closed

[2019-03-26 20:00] SoumyadeepJana commented on #349
@rsepassi Okay :)

[2019-03-26 20:04] Conchylicultor commented on #349
`ClassLabel` already allow for unknown label if you pass `-1`, so no need to add a new label.

Just:
[code]

See tensorflow_datasets/core/features/class_label_feature.py line 127

[2019-03-26 20:04] #349 closed

[2019-03-26 21:40] jackd commented on #332
Makes a lot of sense. This precludes it's use from `tfds.load` and other convenience wrappers, but I don't think that's a big deal (I suppose users can still append to `BUILDER_CONFIGS` list if they desperately want these conveniences).

[2019-03-26 21:45] #332 closed

[2019-03-27 06:12] SoumyadeepJana commented on #182
@cyfra According to the docs,this dataset is Kaldi toolkit compatible,when downloaded and extracted it produces a 'file type' file.I doubt whether this can be treated with the audio feature connector?
Please have a look

[2019-03-27 11:34] SoumyadeepJana commented on #217
@Conchylicultor @cyfra This dataset contains the urls to the video in a json format,so I am thinking of implemeting it in the following way:
1.The dl_manager will download the json file
2.The json file needs to be parsed and the videos will be downloaded by a module named pytube
3.The videos will be downloaded to path<dl_manager>/train and the rest process remains the standard ones.
Here is a sing

[2019-03-27 12:33] DeadlyBunny24 opened #363 "[data request] Moments in Time"
* Name of dataset: Moments in Time
* URL of dataset: http://moments.csail.mit.edu/
* License of dataset: License for Non-Commercial Use
* Short description of dataset and use case(s): The dataset includes a collection of one million labeled 3 second videos, involving people, animals, objects or natural phenomena, that capture the gist of a dynamic scene. Can be used for video classification or gen

[2019-03-27 12:36] captain-pool commented on #363
@cyfra @rsepassi @Conchylicultor Can you assign this to me?

[2019-03-27 15:33] SoumyadeepJana opened #364 "[data request] DeepWeeds"
* Name of dataset: DeepWeeds
* URL of dataset: https://github.com/AlexOlsen/DeepWeeds
* License of dataset:   CC BY 4.0
* Short description of dataset and use case(s): "DeepWeeds: A Multiclass Weed Species Image Dataset for Deep Learning", published with open access by Scientific Reports: [Link](https://www.nature.com/articles/s41598-018-38343-3). The DeepWeeds dataset consists of 17,509 images ca