[2020-06-18 19:33] #2045 closed

[2020-06-18 19:37] acharles7 commented on #2096
Thank you, Working on it.

[2020-06-18 19:41] vijayphoenix commented on #2077
Closing the issue as it seems to have been fixed in `tfds-nightly`.
Feel free to open the issue if you are still facing some problems

[2020-06-18 19:41] #2077 closed

[2020-06-18 19:50] vijayphoenix commented on #1771
@pawarharshit Thank you for looking into this

[2020-06-18 20:20] Conchylicultor commented on #2096
@acharles7 Thank you for your motivation but I believe @sharanramjee has already started working on this. There might be other issues for you.

[2020-06-18 20:23] Conchylicultor commented on #2045
`tf.get_logger()` is deprecated I think. You should try to use `absl.logging` directly or `import logging`.

[2020-06-18 20:48] nikste commented on #2090
Sure, we can view it like that.
I think for my use case it makes sense to focus on the semantic segmentation part first if this split makes sense.
Randomly pinging @Conchylicultor, maybe you can comment?
- is there another channel for quick stupid questions?
- does spliting the dataset in this way make sense (and can i cross reference detection and segmentation in that case?) , or should it better

[2020-06-19 08:54] pawarharshit commented on #1771
thanks for assigning it to me

[2020-06-20 16:02] pawarharshit commented on #1771
this is my first time contribution. so i need help .
when i clone the repository  i getting the warning of check out failed and also i not get the folders (text ,translate,url_checksum,video) and some files  in tensorflow_dataset directory

[2020-06-20 16:03] pawarharshit commented on #1771
and i run command for generating file of my_dataset it generate my_dataset.py file in my installed tensorflow_dataset not in git repository

[2020-06-20 19:27] benihime91 commented on #291
`AttributeError: 'Split' object has no attribute 'subsplit``... I get this error .

[2020-06-20 21:15] vijayphoenix commented on #741
Hi @captain-pool,
Please try out the new [tfds.ImageFolder](https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/custom_dataset/image_folder.py) API. It should be available in tfds-nightly soon.

Let us know if you are still facing the problem.

[2020-06-20 22:51] vijayphoenix commented on #2067
PR https://github.com/tensorflow/datasets/pull/2068 got merged internally

[2020-06-20 22:51] #2067 closed

[2020-06-21 02:12] acharles7 opened #2105 "GCS utils returns only 1000 files"
**Is your feature request related to a problem? Please describe.**

Currently, [tensorflow_datasets/core/utils/gcs_utils.py](https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/utils/gcs_utils.py#L77) uses `requests` to return files from GCP Bucket

[code]
The above function `gcs_files` returns only 1000 objects per request as describe in google [XML_API](https://cloud.goog

[2020-06-22 14:14] yashjakhotiya opened #2109 "NonMatchingChecksumError with tfds.load on GCP"
**Short description**
tfds.load returns NonMatchingChecksumError when used on a GCP hosted Jupyter Server. There is no issue with the same dataset if I run tfds.load on my local machine.

**Environment information**
* Operating System: Ubuntu 18.04
* Python version: 3.6.9
* `tensorflow-datasets`/`tfds-nightly` version: `tensorflow datasets 3.1.0`
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-ni

[2020-06-22 15:02] yashjakhotiya commented on #2109
cc @Conchylicultor

[2020-06-22 15:04] pawarharshit commented on #1771
![Capture](https://user-images.githubusercontent.com/49332515/85303071-a6506680-b4c7-11ea-86d6-7b79cd5c343b.PNG)

[2020-06-22 15:11] vijayphoenix commented on #1771
This is because the PATH Length is restricted on windows `Filename too long`.
You will have to remove this constraint.

[2020-06-22 16:30] Conchylicultor commented on #2109
It seems to indicates that the file downloaded on GCS isn't the same as locally.
Could you try with `record_checksums=True` ?
Also have you tried to download the file again to check if this was a one-of issue ?

[2020-06-22 16:33] Conchylicultor commented on #291
@benihime91 have a look to the new split API: https://www.tensorflow.org/datasets/splits

[2020-06-22 16:34] Conchylicultor commented on #741
@vijayphoenix tfds.ImageFolder should fix this issue.

[2020-06-22 16:34] #741 closed

[2020-06-23 07:23] sharanramjee opened #2113 "download_kaggle_data() fails"
**Short description**
download_kaggle_data() fails if there are a lot of files to be downloaded.
Ex: Attempting to download the [money species dataset](https://www.kaggle.com/slothkong/10-monkey-species) results in an error with the following error message: "429 - Too Many Requests" despite it being a reasonably small dataset with not a lot of files

**Environment information**
* Operating System:

[2020-06-23 08:35] yashjakhotiya commented on #2109
This happened multiple times yesterday. Apparently, it works today even on GCP.
Thanks!

[2020-06-23 08:35] #2109 closed

[2020-06-23 10:26] vijayphoenix commented on #2113
@sharanramjee I think got the issue
[code]
gives output
[code]

Expected output
[code]
Downloading Country-data.csv to tensorflow_datasets/kaggle
[code]

[2020-06-23 12:30] vijayphoenix commented on #2113
Created an issue upstream https://github.com/Kaggle/kaggle-api/issues/276

[2020-06-23 13:15] vijayphoenix commented on #2113
This got solved by replacing this

https://github.com/tensorflow/datasets/blob/8bf6dfe26a1d132f7563f17e71a3bb6cc22f7353/tensorflow_datasets/core/download/kaggle.py#L172

by

[code]

[2020-06-23 18:08] abhinavsp0730 opened #2115 "tfds not returning tf.data.Dataset object?"
why tfds is not returning tf.data.Dataset object.

I'm not able to use map function, that I can easily used in  tf.data.Dataset.
[code]

Getting the following error:
TypeError                                 Traceback (most recent call last)
<ipython-input-10-bd20e19a7769> in <module>()
----> 1 train.map(res_img)

10 frames
/usr/local/lib/python3.6/dist-packages/tensorflow/python/autograph/impl/ap

[2020-06-23 18:22] Conchylicultor commented on #2115
`res_img(img, lbl)` requires two argument, but your `train` contains example as `{'imge', 'label'}`. You should use `as_supervised=True`.
See: https://www.tensorflow.org/datasets/overview#as_tuple

[2020-06-23 18:30] abhinavsp0730 commented on #2115
Thanks, got it. But is there any way by which tfds.load returns simple
tf.data.Dataset object?

On Tue 23 Jun, 2020, 11:52 PM Conchylicultor, <notifications@github.com>
wrote:

[2020-06-23 18:34] Conchylicultor commented on #2115
Have you tested ? `tfds.load` already returns a `tf.data` object. You can see the doc: https://www.tensorflow.org/datasets/overview

[2020-06-24 16:57] pawarharshit commented on #1771
shikhar2707 this dataset contains following  5 files
1)country_wise_latest.csv
2) covid_19_clean_complete.csv
3) day_wise.csv
4) full_grouped.csv
5)usa_county_wise.csv
6) worldometer_data.csv

which you want to add in tfds please tell me the feature and target name for task

[2020-06-25 17:15] #2092 closed

[2020-06-25 18:19] joelbudu opened #2121 "kitti tfds checksum error"
**Short description**
I'm getting an error when trying to download the kitti dataset from tfdf using the following command:
```ds = tfds.load('kitti', split='train')```

**Environment information**
* Operating System: <os>
* Python version: Python 3
* `tensorflow-datasets` version: 2.1.0
* `tensorflow` version: 2.1

**Reproduction instructions**

[code]

**Expected behavior**
Expected the files to

[2020-06-25 18:43] #2121 closed

[2020-06-26 04:50] SamuelMarks commented on #580
Surprisingly, updating the [`_sizes_checksums`](https://github.com/tensorflow/datasets/blob/v2.1.0/tensorflow_datasets/core/download/download_manager.py#L241-L243) dictionary of the [`tfds.download.DownloadManager`]( https://www.tensorflow.org/datasets/api_docs/python/tfds/download/DownloadManager) is sufficient here:
https://github.com/SamuelMarks/ml_prepare/blob/d81a625/ml_prepare/refuge/tfds.py

[2020-06-26 04:54] vijayphoenix commented on #2075
The website seems to have blocked the default Python User-Agent 'python-requests/2.21.0'.
See https://stackoverflow.com/questions/56101612/python-requests-http-response-406

Changing this line

https://github.com/tensorflow/datasets/blob/678dc00cdafad207bb7289e8ad812b3655f90454/tensorflow_datasets/core/download/downloader.py#L223

to something like this

[code]

solve the problem.

@Conchylicultor

[2020-06-26 09:28] pankajsinghchamyal commented on #1018
i also want to work on it plz assigned it to me ? @yihangx

[2020-06-27 09:03] SamuelMarks opened #2130 "Generating split train 3255 examples [1:25:25, 5.69s/ examples]Killed"
**Short description**
I'm using tfds on a private dataset. It works fine on all my other datasets, including ones using all the same code.

I believe it worked on one of the TensorFlow 2.0 alphas also. Now I'm running into an issue, I've tried on two servers with different CPUs.

**Environment information**
* Operating System: Debian 4.19.118-2+deb10u1 (2020-06-07) x86_64
* Python version: 3.7.3
*

[2020-06-28 17:26] liubaoryol opened #2131 "Checksum of dataset"
**Short description**
Checksum of dataset `cifar10_1` does not match, hindering the download of data. The URL for downloading `cifar10_1` is up and running, so I believe that the data has been updated

[2020-06-28 17:30] 8bitmp3 opened #2132 "TensorFlow Datasets IMDB reviews dataset page - HTML in the description"
See the rendering at the beginning of the IMDB reviews dataset page: https://www.tensorflow.org/datasets/catalog/imdb_reviews. The source code should be here https://github.com/tensorflow/datasets/blob/master/docs/catalog/imdb_reviews.md

Screenshot:

<img width="400" alt="image" src="https://user-images.githubusercontent.com/19637339/85954091-f23e5800-b96c-11ea-85b9-c67a3671c782.png">

HTML line

[2020-06-28 18:03] 8bitmp3 commented on #2082
Thanks @Conchylicultor. It would be awesome if `ExampleGen` and TFDS were easily interoperable. Also, more examples in small samples would help across the TFDS site, similar to what @vijayphoenix suggested. And, since there are so many moving parts in TFX, maybe you can use references in the future Colab (`docs/tfx.ipynb`) to/from various TFX/TFDS pages - the search engine would pick up on them, I

[2020-06-29 03:43] vijayphoenix commented on #2131
Similar issue https://github.com/tensorflow/datasets/issues/2016
PR https://github.com/tensorflow/datasets/pull/2017

[2020-06-29 03:43] #2131 closed

[2020-06-29 18:08] Conchylicultor opened #2133 "[GSoC] Better auto-sharding in multi-worker pipelines"
Currently, when the dataset only has a single shard with many workers (`info.splits['train'].num_shards < read_config.input_context.num_input_pipelines`).
We're raising an error in: `tensorflow_datasets/core/tfrecords_reader.py`

[code]

[code]
Currently, the user should manually use the subsplit API instead: `tfds.load(..., split=f'train[{from_}%:{to}%]')`
Where `from_` and `to` are different val

[2020-06-29 18:16] Conchylicultor commented on #2082
Could you provide more context ? What do you mean by `params` ? Which types of doc would you like which isn't provided by https://www.tensorflow.org/datasets/overview, or https://www.tensorflow.org/datasets/keras_example ?

[2020-06-29 18:24] Conchylicultor commented on #2132
Thank you for reporting. This is very strange indeed. I'm not sure what is happening here. We'll investigate

[2020-06-29 18:49] Conchylicultor commented on #2130
I think there is an issue with your implementation:

[code]

You're recreating a graph, at each iteration, and relying on internal variable`session._closed`. You should only create a graph once and reuse it across run (using placeholder) or use eager mode. In both case, this isn't a TFDS issue, so closing this.

[2020-06-29 18:49] #2130 closed

[2020-06-29 18:53] Conchylicultor commented on #2131
Sorry for the delay. Will merge this soon

[2020-06-29 19:07] yashk2810 commented on #2132
This is now fixed: https://www.tensorflow.org/datasets/catalog/imdb_reviews

[2020-06-29 20:31] tommywei110 opened #2135 "TFDS just download the tfrecord"
**What I need help with / What I was wondering**
I'm trying to create an API on top of tfds that requires the downloadable to just be the tfrecord.
I wonder if there's way to configure the builder such that it only downloads the tfrecords.

**What I've tried so far**
Looking at the documentations and searching for solution

[2020-06-29 21:34] Conchylicultor commented on #2132
Thank to Yash for the quick fix. Closing this now

[2020-06-29 21:34] #2132 closed

[2020-06-30 17:23] Conchylicultor commented on #2135
We currently do this automatically for a limited number of datasets that we are allowed to redistribute. The code is here: https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/dataset_builder.py#L369

You could try to patch `is_dataset_on_gcs` and `download_gcs_dataset` to do what you're trying to achieve. It would bypass the generation code and directly download the pre-pro

[2020-06-30 17:28] #2016 closed

[2020-06-30 22:17] vijayphoenix opened #2138 "Config based loading"
Currently, reading a dataset requires the features to be defined inside the `_info` method.
If the structure of the feature (key names, feature types,...) was saved along the generated tf-records, it would make it possible to a dataset without requiring the dataset code to be present.
This is related to https://github.com/tensorflow/datasets/issues/1186

**Advantage:**
- Would unlock backward comp

[2020-06-30 22:28] vijayphoenix opened #2139 "One folder per dataset"
Currently, we're grouping files per file type: `(checksums/, fake_data/, datasets/).`
We should try to move toward a more modular approach where datasets are self-contained directories:
[code]

**TODOs:**

1) We should make it easy for external users to follow this model:
Checksums path, fake data,... should be automatically detected without the user having to do the additional setup (tfds.core.ad

[2020-07-01 00:22] #2113 closed

[2020-07-01 17:41] tommywei110 commented on #2135
Thanks for the swift response.

[2020-07-01 17:41] #2135 closed

[2020-07-03 02:21] jieralice13 opened #2146 "apache beam job got killed when download_and_prepare big_patent dataset"
**Description**
I was trying to download the big_patent dataset using the following command:
`python3 -m tensorflow_datasets.scripts.download_and_prepare --datasets='big_patent'`
It was able to finish downloading and extracting the raw data, however, when it was preparing the tfds, it always stopped at some point without any error but a "Killed" message. The output of the command is as follows:

`

[2020-07-03 02:29] jieralice13 commented on #1404
@forrestbao May I ask how you successfully downloaded `big_patent` using `tfds.load`? I tried `ds = tfds.load('big_patent')`, but it threw out an error as follows:

`ValueError: The dataset you're trying to generate is using Apache Beam. Beam datasets are usually very large and should be generated separately.Please have a look athttps://www.tensorflow.org/datasets/beam_datasets#generating_a_beam_d

[2020-07-03 08:42] abhinavsp0730 commented on #2115
Thanks it has been resolved.

[2020-07-03 08:42] #2115 closed

[2020-07-05 20:43] iswariyam opened #2151 "[data request] Cifar 100 corrupted data set"
* Name of dataset: Cifar 100 corrupted
* URL of dataset: https://github.com/hendrycks/robustness
* License of dataset: Apache License 2.0
* Short description of dataset and use case(s): The dataset contains corrupted versions of the Cifar 100 test set and is based on the paper [Benchmarking Neural Network Robustness to Common Corruptions and Perturbations](https://arxiv.org/abs/1903.12261) Dan Hen

[2020-07-05 20:45] iswariyam commented on #2151
Tensorflow datasets already has the corrupted version of Cifar 10 in its catalog. It would be useful to have this version of Cifar 100 also.

[2020-07-06 12:38] bhack opened #2153 "[data request] ERA"
* Name of dataset: ERA
* URL of dataset: https://lcmou.github.io/ERA_Dataset/
* License of dataset: Creative Commons Attribution
* Short description of dataset and use case(s): A Dataset and Deep Learning Benchmark for Event Recognition in Aerial Videos (UAV)

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests to prior

[2020-07-06 12:43] bhack commented on #2153
/cc @lcmou Do you want to contribute the "helper" for you dataset?

[2020-07-06 12:58] bhack commented on #2033
The best approach is to open a ticket like https://github.com/googlecolab/colabtools/issues/1243

[2020-07-06 19:27] acharles7 commented on #2105
@Conchylicultor Please close this issue.

[2020-07-06 22:02] #2105 closed

[2020-07-06 23:53] Conchylicultor commented on #2146
To generate dataset with beam, you should try to follow our instructions: https://www.tensorflow.org/datasets/beam_datasets#on_google_cloud_dataflow

Likely you'll have to use Dataflow or similar.

[2020-07-07 11:43] sebastian-sz opened #2155 "citrus_leaves raises 404 Error"
**Short description**
Running `ds = tfds.load("citrus_leaves)` raises:
[code]

**Environment information**
* Operating System: Ubuntu 18.04.3 LTS (Google Colab)
* Python version: 3.6.9
* `tensorflow-datasets`/`tfds-nightly` version: `tensorflow-datasets 3.1.0`
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: `tensorflow 2.2.0`

**Reproduction instructions**
[code]

**Link to

[2020-07-07 15:47] dakshvar22 opened #2156 "[data request] Add PAWS dataset"
* Name of dataset: PAWS and PAWS-X
* URL of dataset: https://github.com/google-research-datasets/paws
* License of dataset: [Free to distribute](https://github.com/google-research-datasets/paws)
* Short description of dataset and use case(s): It's a paraphrase identification dataset with a lot of adversarial tough examples generated in a controlled setting. PAWS-X is the multi-lingual version of i

[2020-07-07 17:33] martinengelcke opened #2157 "[data request] BAIR Robot Pushing Dataset (original resolution)"
* Name of dataset: BAIR Robot Pushing Dataset
* URL of dataset: https://sites.google.com/view/sna-visual-mpc/
* License of dataset: NA
* Short description of dataset and use case(s): The "small" version of this dataset is already available at https://www.tensorflow.org/datasets/catalog/bair_robot_pushing_small but only supports 64x64 images. It would be great to be able to load this dataset at the

[2020-07-07 19:49] mattdutson opened #2158 "Incorrect manual download instructions for imagenet2012"
I am using TensorFlow 2.2 and TensorFlow Datasets 1.2.

The [imagenet2012 dataset documentation](https://www.tensorflow.org/datasets/catalog/imagenet2012) instructs the user to manually download `ILSVRC2012_img_train.tar` and `ILSVRC2012_img_val.tar` to `~/tensorflow_datasets/manual`. Even after doing this, a call to `tfds.load("imagenet2012")` attempts to download the dataset from the web, which

[2020-07-08 01:18] Conchylicultor commented on #2158
TensorFlow Datasets 1.2 is very old. Could you try again with TFDS 3.1+ or tfds-nightly ?

[2020-07-08 02:51] ghkil74 commented on #1998
train_validation_split = tfds.load('mnist', split=['train[:60%]', 'train[:40%]'])

(train_data, validation_data), test_data = tfds.load(
    name="imdb_reviews",
    split=(train_validation_split, tfds.Split.TEST),
    as_supervised=True)

[2020-07-08 11:25] OrrAvrech opened #2159 "Error downloading UCF101"
**Short description**
Hi,
I couldn't load UCF101 dataset in tensorflow-datasets.
Got this error:
`DownloadError: Failed to get url https://www.crcv.ucf.edu/data/UCF101/UCF101TrainTestSplits-RecognitionTask.zip. HTTP code: 404.`
Then I saw that the homepage PHP file doesn't exist anymore.
Any chance of solving it?

**Environment information**
* `tensorflow-datasets` version: 2.1.0

[2020-07-08 12:17] enigmaeth opened #2160 "Script to add a new dataset generates files in ~/.local/lib/python3.6"
Script to add a new dataset generates files in `~/.local/lib/python3.6/site-packages/tensorflow_datasets`.
https://www.tensorflow.org/datasets/add_dataset#writing_my_datasetpy

**Environment information**
* Operating System: elementary OS, 5.1.4 Hera
* Linux kernel: 4.15.0-101-generic
* Python version: 3.6.9
* `tensorflow-datasets`/`tfds-nightly` version: tensorflow-datasets==3.1.0
* `tensorflow`/

[2020-07-08 12:37] enigmaeth commented on #2160
Ah yes, the path in [`get tfds_dir() -> str`](https://github.com/tensorflow/datasets/blob/a46a6df7f0f8ec308e36f38262a97c9c766fb1b3/tensorflow_datasets/core/utils/py_utils.py#L354) when logged is:
`.local/lib/python3.6/site-packages/tensorflow_datasets`.

Is this intentional or should it be the directory of tensorflow_datasets repository clone and not the tfds python package?

[2020-07-08 16:17] Conchylicultor commented on #2160
I think you need to run `pip install -e .` in your cloned repository in order to correctly update the path.

We're working on a better way to set-up datasets but it might takes more time.

[2020-07-08 16:27] Conchylicultor opened #2161 "Add a TFDS user CLI"
It would be nice to have a user CLI which is installed at the same time as TFDS to pre-generate dataset:

[code]

`tfds new` would create the following folder structure:
[code]

Some technical details:
* Script would be implemented in python using argparse
* Is added through the `entry_points={'command'}` section in `setup.py`

This first require to implement the one folder==one dataset model.

[2020-07-08 16:57] Conchylicultor commented on #2159
Thank you for reporting. Please don't hesitate to send a PR to fix this.

[2020-07-08 17:35] mattdutson commented on #2158
@Conchylicultor Thanks for the reply. 1.2 is the most recent version of TFDS available through Anaconda. Didn't realize it was so out of date.

I was able to get this to work with TFDS 3.1, but only after moving the data to `~/tensorflow_datasets/downloads/manual`. This does not match the documentation, which says to place the data in `~/tensorflow_datasets/manual`.

[2020-07-08 18:09] Conchylicultor commented on #2158
Thank you for reporting. Sending a fix now.

[2020-07-09 01:40] rtayek commented on #2090
maybe relevant: _[ADE20K dataset](https://yann-leguilly.gitlab.io/post/2019-12-14-tensorflow-tfdata-segmentation/)_ x

[2020-07-09 19:22] wilderfield commented on #2158
How funny, I hit the same issue, and found the same fix as @mattdutson on the exact same day...
I still can't `python -m tensorflow_datasets.scripts.download_and_prepare --datasets=imagenet2012` to work though. I will open a separate issue.

[2020-07-09 19:47] wilderfield opened #2172 "Can't convert ImageNet to TFDS"
**What I need help with / What I was wondering**
I need to run `python -m tensorflow_datasets.scripts.download_and_prepare --datasets=imagenet2012` to convert imagenet dataset to "tfds" format.

I have:
[code]

I get a crash:
[code]

**What I've tried so far**
I've tried moving the tar balls from network storage to local storage with no improvement

**It would be nice if...**
It might be helpful i

[2020-07-09 19:50] wilderfield commented on #2158
@mattdutson , @Conchylicultor, if you have a moment, does anything stand out to you in the error message I'm getting here: #2172 ?

[2020-07-09 20:10] cemsaz opened #2173 "Error downloading pet_finder dataset"
tfds.load('pet_finder', split='train') gives the following 404 error: **tensorflow_datasets.core.download.downloader.DownloadError:** Failed to get url https://storage.googleapis.com/petfinder_dataset/breed_labels.csv. HTTP code: 404.**

[2020-07-09 21:59] Conchylicultor commented on #2172
This look like https://github.com/ContinuumIO/anaconda-issues/issues/11446 or https://github.com/numba/numba/issues/4833. It may be an issue with Cuda, but I don't think it's related to TFDS. You should try to investigate how other users who got the same error solved the issue

[2020-07-09 22:24] wilderfield commented on #2172
@Conchylicultor thanks for your comment. You inspired me to see if I could disable my GPUs and run with CPU.
`export CUDA_VISIBLE_DEVICES=-1`
With this, I see the script making better progress. Will update here, if it actually works.

[2020-07-10 00:38] wilderfield commented on #2172
I think it worked! Disabling my GPU, made it so the script doesn't crash, and I now have these files:
[code]

I'm a little confused though, tensorflow datasets is just a packaging of tfrecords?

[2020-07-10 00:46] Conchylicultor commented on #2172
TFDS preprocess public data into standard uniform tf-record which can be loaded as efficient `tf.data.Dataset` pipeline. I would recommend our introduction: https://www.tensorflow.org/datasets/overview

[2020-07-10 00:50] wilderfield commented on #2172
Closing, because I am happy, but I think this issue, could be helpful to others in the future. (If you see weird CUDA problems, try debugging by running with CPU only).

[2020-07-10 00:50] #2172 closed

[2020-07-10 02:07] acharles7 commented on #2173
I think links are broken. In the meantime, you'll get data from [kaggle](https://www.kaggle.com/c/petfinder-adoption-prediction/data)
@Conchylicultor the dataset bucket does not exist anymore.

[2020-07-10 06:39] acharles7 commented on #2161
can I work on this?

[2020-07-10 06:57] vijayphoenix commented on #2161
Hi @acharles7,
Thank you for your interest.

FYI, I am already working on the bigger part of this issue, i.e, `one folder per one dataset`.

[2020-07-10 06:59] acharles7 commented on #2161
Thanks for letting me know, Let me know if you need any help:)

[2020-07-10 09:49] bhack opened #2175 "[data request] Holistic Video Understanding Dataset (HVU)"
* Name of dataset: Holistic Video Understanding Dataset
* URL of dataset: https://holistic-video-understanding.github.io/
* License of dataset: <license type>
* Short description of dataset and use case(s): HVU is organized hierarchically in a semantic taxonomy that focuses on multi-label and multi-task video understanding as a comprehensive problem that encompasses the recognition of multiple sem

[2020-07-10 09:59] jsl303 opened #2176 "Slow Speed"
Is this normal to be this slow?
According to speedtest-cli, I have 254.38 Mbit/s downstream and 232.71 Mbit/s upstream.
[code]

[2020-07-10 15:57] bhack commented on #2175
@MohsenFayyaz89 Do you plan to contribute your dateset?

[2020-07-10 16:28] Conchylicultor commented on #2161
Thank you for your interest!

@acharles7, @vijayphoenix I think this bug and https://github.com/tensorflow/datasets/issues/2139 are complementary and both could be worked in parallel.

@acharles7, If you want to get started, you could start by splitting this task in small self-contained PRs:

create a new `scripts/cli/main.py` folder and add a dummy script.

* **PR 1**: Add a dummy `scripts/cli/ma

[2020-07-10 16:34] acharles7 commented on #2161
@Conchylicultor Thanks, working on it (PR1), I'll let you if I have any questions.

[2020-07-10 16:34] MohsenFayyaz89 commented on #2175
Would like to but unfortunately, I'm quite busy.

[2020-07-10 17:14] Conchylicultor commented on #2176
Many datasets are hosted in academic websites which unfortunately have limited bandwidth. You could look at the source code and try to download the url from the browser to check that the download is also slow when downloading outside TFDS.

[2020-07-10 21:47] bhack commented on #2175
Too bad, it would have been useful for those who want to use your dataset but are too busy to create the adapter classes :winkl:

[2020-07-11 10:36] LaBaum opened #2182 "Can't download example datasets from google"
Hello,
Im trying to get into AI Development with tensorflow, but I can't download the example datasets. Every time I try it, Ill get a error from the debug console and from vsc.

Here my code:

`import numpy as np
import tensorflow as tf
import tensorflow_hub as hub
import tensorflow_datasets as tfds
print(tfds.list_builders())
ds = tfds.load('mnist', split='train', shuffle_files=True)
assert isin

[2020-07-11 10:51] bhack commented on #2175
/cc @raviddoss do you know anyone internal that could be interested to take in charge this?

[2020-07-11 14:23] #2182 closed

[2020-07-11 18:22] vijayphoenix commented on #2159
The page is opening up for me https://www.crcv.ucf.edu/data/UCF101.php
Also, the dataset loads up without any error.

Please try downloading the dataset again with a newer version of tfds like `tfds-nightly`.

Feel free to reopen the issue

[2020-07-11 18:22] #2159 closed

[2020-07-11 18:35] vijayphoenix commented on #2158
Fixed by https://github.com/tensorflow/datasets/pull/2163.
Online Doc will be updated soon

[2020-07-11 18:35] #2158 closed

[2020-07-11 18:40] vijayphoenix commented on #2160
Made a PR updating the `Adding a Dataset` doc https://github.com/tensorflow/datasets/pull/1611

[2020-07-11 18:40] #2160 closed

[2020-07-12 01:02] coey217 commented on #301
Hi @Fengmoon93. I would like to find out more about how you are analyzing the driving behaviour using the highD dataset. If possible, could you please email me thecon.oey@gmail.com. Thanks

[2020-07-12 09:24] Naman-Bhrgv commented on #1928
@MaxGhenis  I wanna work on this issue.Please assign this issue to me and please guide me since I am new in this repo.

[2020-07-12 09:33] Naman-Bhrgv commented on #2175
@bhack  I would like to contribute to this issue. Please assign this to me.Also, since I am new to this repo, please guide me through.

[2020-07-12 10:21] bhack commented on #2175
@Naman-Bhrgv Please start with standard guide https://www.github.com/tensorflow/datasets/tree/master/docs%2Fadd_dataset.md

[2020-07-12 11:41] Naman-Bhrgv commented on #2175
@bhack  Thanks!

[2020-07-12 15:21] MaxGhenis commented on #1928
@Naman-Bhrgv I'm not a maintainer so I can't add assignees, but it's already being fixed in pull request #1850.

[2020-07-12 19:17] acharles7 commented on #2161
Seems like @vijayphoenix already made architecture for CLI. Thanks
So, I'll add required new commands for this cli.

[2020-07-13 03:28] acharles7 commented on #2161
@Conchylicultor @vijayphoenix Since we are implementing this CLI, When are we going to do refactoring on all datasets? (each dataset assets in one folder).

[2020-07-13 03:33] Naman-Bhrgv commented on #1928
@MaxGhenis Okay thanks.

[2020-07-13 08:45] nikregrado opened #2187 "Connection Error while trying download c4/en.realnewslike"
I using default script to download c4 with config en.realnewslike, and getting an error
RuntimeError: requests.exceptions.ConnectionError: HTTPSConnectionPool(host='commoncrawl.s3.amazonaws.com', port=443): Max retries exceeded with url: /crawl-data/CC-MAIN-2019-18/segments/1555578530176.6/wet/CC-MAIN-20190421040427-20190421062427-00300.warc.wet.gz (Caused by NewConnectionError('<urllib3.connectio

[2020-07-13 09:03] rikardocorp commented on #1452
def get_label(file_path):
    # convert the path to a list of path components
    parts = tf.strings.split(file_path, os.path.sep)
    # The second to last is the  class-directory
    return tf.cast(parts[-2] == CLASS_NAMES, dtype=tf.int32)

[2020-07-13 09:29] pawarharshit commented on #188
i want to contribute in this dataset . Please assign to me

[2020-07-13 10:06] lekanlanihun commented on #1304
I also had this problem, but I have been to resolve it and I am loading the image_resized (32 x 32) datasets successfully. However, using the same datasets for classification based on pre-trained VGG16  CNN model. and using tf.keras.losses.sparse_categorical_crossentropy loss function,  it gives another error that has to do with NAN values. The error message starting from the first epoch is as sho

[2020-07-13 10:53] tomerh2001 opened #2188 "Corrupt files in the `dogs_vs_cats` dataset"
**Short description**
I encountered this bug during my TensorFlow certification exam, when trying to work with images from the dataset you constantly get the message `Corrupt JPEG data: 228 extraneous bytes before marker 0xd9` again and again, and it takes forever to iterate over the data once with that, I couldn't complete my exam because of that.

**Environment information**
* Operating System:

[2020-07-13 11:30] Cut-Guyo9b opened #2189 "[data request] <dataset name>"
* Name of dataset: <name>
* URL of dataset: <url>
* License of dataset: <license type>
* Short description of dataset and use case(s): <description>

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests to prioritize.

And if you'd like to contribute the dataset (thank you!), see our [guide to adding a dataset](https://g

[2020-07-13 12:23] bhack commented on #2153
/cc @Jin-Pu

[2020-07-13 13:04] vijayphoenix commented on #2189
Please Specify the name and other details

[2020-07-13 17:32] Lothedr commented on #2182
Did you solve this issue? I have same problem.

[2020-07-13 17:50] wbadry opened #2190 "Error loading imdb_reviews on Julyter Lab and Windows 10 machine"
[code]

[code]

**The datasets** list can be loaded with no issues. When trying to **load imdb_reviews** or any other dataset, I encounter this error

[code]

[code]

May I know the problem? Thanks

[2020-07-13 18:05] Lothedr opened #2191 "Missing 2 required positional arguments."
**Short description**
Calling `tfds.builder('mnist')` causes exception:

**Environment information**
* Operating System: Windows 10 Pro
* Python version: 3.8.3 (default, Jul  2 2020, 17:30:36) [MSC v.1916 64 bit (AMD64)]
* `tensorflow-datasets` version: 3.2.0
* `tensorflow` version: 2.2.0

**Reproduction instructions**

[code]

**Link to logs**
[Traceback](https://gist.github.com/Lothedr/5e7d835cb

[2020-07-13 19:44] bhack commented on #1291
This is the dynamic list https://github.com/tensorflow/datasets/issues?q=is%3Aissue+is%3Aopen+label%3A%22dataset+request%22+sort%3Areactions-%2B1-desc

[2020-07-13 19:47] bhack commented on #1291
It could be really nice if the Google Dataset team could start to programmatically contact the original datasets teams.
Some of them could be interested to promote their datasets preparing a PR for this repo.

[2020-07-13 20:37] vijayphoenix commented on #2191
@Conchylicultor
Minimal code to reproduce the issue is
[code]
If I remember correctly, TensorFlow has does not support for Google Cloud Storage (GCS) on Windows operating systems.

However, I already have commented on the existing TF issue https://github.com/tensorflow/tensorflow/issues/38477#issuecomment-657771830

[2020-07-13 20:37] vijayphoenix commented on #2190
Similar issue https://github.com/tensorflow/datasets/issues/2191

[2020-07-13 21:36] Conchylicultor commented on #2190
As first step, we should disable GCS loading on Windows. @vijayphoenix @sharanramjee could you have a look to fix this ?

[2020-07-13 21:59] vijayphoenix commented on #2190
Yeah, it works when we set this flag to True forcefully

https://github.com/tensorflow/datasets/blob/b37f6dc8ad85b81f0b2de2dde1c8ceca070942db/tensorflow_datasets/core/utils/gcs_utils.py#L40

[2020-07-13 22:04] Conchylicultor commented on #2161
@acharles7,You're right. This is something we'll likely have to do at some point.

For this, we'll need some script to automate this refactoring. That's also something you can try if you're interested (write the refactoring script, not actually refactoring the datasets)

[2020-07-13 22:08] Conchylicultor commented on #2191
Sorry for the breakage, it was introduced by using `tf.io.gfile` instead of `request` when we released `3.2.0`. In the meantime you can downgrade to `3.1.0`.

Marking this as duplicate of https://github.com/tensorflow/datasets/issues/2190

[2020-07-13 22:08] #2191 closed

[2020-07-13 22:09] Conchylicultor commented on #2190
Sorry for the breakage, it was introduced by using tf.io.gfile instead of request when we released `3.2.0`. In the meantime, the issue could be solved by downgrading to `3.1.0`.

[2020-07-13 22:11] acharles7 commented on #2161
Yes, I would love to work on this.
So, It'll be a normal python script to aggregate all dataset assets in one folder. Right?

[code]

[2020-07-13 22:12] Conchylicultor commented on #2182
Sorry for the breakage. We'll fix the issue soon but please downgrade to `3.1.0` in the meantime. This is a duplicate of #2190.

[2020-07-13 22:23] Conchylicultor commented on #2161
I don't think we want to run the script individually for each datasets. Instead, we would run the script once (`python refactor_dataset_to_folder.py` and it would refactor our entire database as folder (e.g. create all subfolder, rename imports,...)).

Note:
* The script don't have to work perfectly, and we would probably have many manual editions to do to fix edge cases.
* To detect which dataset

[2020-07-13 22:27] Conchylicultor commented on #2187
@adarob, do you know about this error ?

[2020-07-13 22:27] acharles7 commented on #2161
Sure, I'll start working on this step by step and let you know if I have any concerns.

[2020-07-13 23:25] vijayphoenix commented on #2188
@tomergt45 I am unable to reproduce the bug.

As far as I can see, all corrupt images are removed already.

https://github.com/tensorflow/datasets/blob/921c0f86b8eeba863ce0af6523f34ac75d3d7529/tensorflow_datasets/image_classification/cats_vs_dogs.py#L104

And printing is an I/O operation, so time it will a lot of time to print of array of 20000+ images.

[2020-07-14 09:04] tomergt45 commented on #2188
The problem happens when you just iterate over the data (without printing):
[code]

It also happens when you try to fit a model with this data.

[2020-07-14 13:47] adarob commented on #2187
Sounds like it could be an transient issue with the Common Crawl download server being overloaded. Have you tried rerunning it?

[2020-07-14 16:07] wbadry commented on #2190
Thanks @Conchylicultor . This is exactly what I tried yesterday and it worked.

[2020-07-14 18:17] saranshbh opened #2196 "[load-data-error]: additional-pos-args-requested"
**Error imported data from tfds**

**Environment information**
* Operating System: Windows 10
* Python version: 3.8
* `tensorflow-datasets`/`tfds-nightly` version: tensorflow-datasets: 3.2.0
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: tensorflow: 2.2.0

**Reproduction instructions**

[code]

**Error**
https://gist.github.com/saranshbh/7c5f9744d2ca3c9e9b88475e1b0c3d55

**

[2020-07-14 20:05] nikregrado commented on #2187
Yes, I’m trying a week to download this dataset, and got this error)

[2020-07-14 20:08] adarob commented on #2187
Is it always that exact error or is it for different URLs?  You could also try using `--register_checksums` which will force it to download everything in one thread. It will be very slow but may get around this issue, which I suspect is throttling from the server.

[2020-07-14 20:27] vijayphoenix commented on #2196
We'll fix the issue soon but please downgrade to 3.1.0 in the meantime. This is a duplicate of #2190.

[2020-07-14 20:27] #2196 closed

[2020-07-15 01:06] #2190 closed

[2020-07-15 01:11] rsepassi commented on #2190
v3.2.1 now released with the fix

[2020-07-15 05:20] SinaChavoshi opened #2199 "ImportError: cannot import name 'ContextManager'"
**Short description**
tfds 3.2.0 requires later version of typing 3.6.0>= which includes support for "ContextManager" (ref https://docs.python.org/3/library/typing.html#typing.ContextManager). However this is not specified in requirements file resulting in failure python 3.5.2 environment.

**Environment information**
* Operating System: ubuntu 18.0
* Python version: 3.5.2
* `tensorflow-datasets`

[2020-07-19 09:10] gauravkoradiya commented on #1278
Thanks it woked for me too.

[2020-07-21 07:46] gallorob opened #2212 "Dataset error with uc_merced dataset"
_Note_: Bug was originally wrongly opened on the tensorflow repository, see [here](https://github.com/tensorflow/tensorflow/issues/41078)

**System information**
- Using Google Colab's default TF installation
- TensorFlow version: 2.2.0
- Python version: 3.6

**Describe the current behavior**
Dataset's samples are not all of the expected 256x256x3 shape, I found 44 out of 2100 samples with differe

[2020-07-21 14:39] vijayphoenix commented on #2212
'filename': Text(shape=(), dtype=tf.string),
       'image': Image(shape=(None, None, 3), dtype=tf.uint8),
       'label': ClassLabel(shape=(), dtype=tf.int64, num_classes=21),
})

The documentation already indicates that the dataset images don't have a fixed size.

However, you could use some preprocessing techniques like [tf.image.resize](https://www.tensorflow.org/api_docs/python/tf/image/resiz

[2020-07-21 15:05] gallorob commented on #2212
I wasn't sure that saying that the image has shape `(None, None, 3)` automatically implies it has no fixed size, mostly because in the dataset's description it says that "Each image measures 256x256 pixels"; it may be worthwile having both documentation and description say the same thing (though this would be a documentation issue and not a bug).

Thank you for the functions you suggested, I ended

[2020-07-22 16:10] #2189 closed

[2020-07-22 16:16] vijayphoenix commented on #2176
Closing as the issue seems to be with http://host.robots.ox.ac.uk/pascal/VOC/voc2007/ server

[2020-07-22 16:16] #2176 closed

[2020-07-23 01:32] #2212 closed

[2020-07-23 15:01] Eshan-Agarwal commented on #2188
@tomergt45 I will not able to reproduce the error. @vijayphoenix  is correct, all 1738 corrupt images were skipped, see this [colab](https://colab.research.google.com/drive/1cyWbe4Nw5xOq5k9S2-qLC24U_WVNzRYW?usp=sharing).

[2020-07-23 15:15] tomergt45 commented on #2188
@Eshan-Agarwal It still happens to me, I tried updating `tfds` to version `3.2.0` but I still get the same messages, any idea why or how I can fix it? :/

[2020-07-23 15:21] vijayphoenix commented on #2188
However, I can reproduce this issue on windows.

[2020-07-23 15:42] vijayphoenix commented on #2199
Fixed by #2222

[2020-07-23 15:42] #2199 closed

[2020-07-23 16:51] #2155 closed

[2020-07-23 17:41] #1849 closed

[2020-07-23 17:41] #1928 closed

[2020-07-23 21:33] vijayphoenix commented on #1610
Please feel free to reopen the issue

[2020-07-23 21:33] #1610 closed

[2020-07-24 02:54] WangYueFt commented on #1897
@Conchylicultor , thanks for the response. Do you have any update regarding this issue? I make a temporary fix by commenting out the waymo proto import in the tensorflow_datasets and re-install tensorflow_datasets. But this doesn't seem an elegant solution.

[2020-07-24 10:14] KamalLamichhane commented on #1562
NonMatchingChecksumError: Artifact http://vision.eng.shizuoka.ac.jp/csiq/dst_imgs.zip, downloaded to /root/tensorflow_datasets/downloads/vision.eng.shizuoka.ac.jp_csiq_dst_imgsX-ETcy6zbVXku6A1J7b7xRNgTdP0_qLW84MAch1ss5c.zip.tmp.35fcc42d978a43b3bd17b07d71899f6f/dst_imgs.zip, has wrong checksum.

[2020-07-24 16:12] Conchylicultor commented on #1897
Could you try to replace this line by importing the true proto ? https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/proto/__init__.py#L20

[code]

Please send a PR if this works.

Alternatively, maybe we should add the waymo module as a lazy deps and always use this one.

[2020-07-25 12:51] NikhilBartwal commented on #2175
@Naman-Bhrgv Are you currently working on this?
@bhack I would like to take this up. Could you provide me with the current status?

[2020-07-25 14:50] Naman-Bhrgv commented on #2175
@NikhilBartwal   I am currently not working on this.If you want you can take up this issue.

[2020-07-26 00:31] Mistobaan opened #2232 "Split the core library from all the datasets"
I want to use the library as a library and be able to create custom datasets without having to fork the repository and nesting adding my scripts in the forked repository.

If you install tensorflow_datasets as a library it get all kind of resolutions errors because seems that is trying to find your custom dataset in your installed path.

There are  three main use cases that should be supported:

[

[2020-07-26 03:01] vijayphoenix commented on #2232
Thanks for your input.
We have started working on [TFDS cli](https://github.com/tensorflow/datasets/issues/2161) and [better support for dataset defined outside TFDS](https://github.com/tensorflow/datasets/pull/2141)

[2020-07-26 15:28] NikhilBartwal commented on #1749
@ChanchalKumarMaji I have made the PR adding the mentioned dataset. Could you review it?
Thanks!

[2020-07-27 02:20] AswathKiruba commented on #2188
I encountered this bug during my TensorFlow certification exam yesterday.

[2020-07-27 03:59] chaomath commented on #1897
Thank you! It works for me, when replacing "from waymo_open_dataset import waymo_dataset_pb2"

[2020-07-27 16:53] Conchylicultor commented on #1897
Great, could you sent a PR with the fix ?

[2020-07-27 17:01] Conchylicultor commented on #2188
It is possible that the code to auto-detect corrupted images do not works on windows:
https://github.com/tensorflow/datasets/blob/921c0f86b8eeba863ce0af6523f34ac75d3d7529/tensorflow_datasets/image_classification/cats_vs_dogs.py#L94

Unfortunately, I do not have access to any windows computer, so I'm can't really debug this. If someone want to help us investigate this, it would be great.

[2020-07-27 17:36] tomergt45 commented on #2188
@Conchylicultor I tried checking it out, I added some print calls in each function of the `CatsVsDogs` class, and when running this code:

[code]

Only the print in the `_info` function was called, I may be missing something, but pheraps the line you referenced earlier isn't being executed?

[2020-07-27 18:23] Conchylicultor commented on #2188
@tomergt45 Thanks for looking into this.
The generation code is only executed once the first time the dataset is generated, afterward, the generated files are reused. To force executing the generation, you can delete the existing generated files (in `~/tensorflow_datasets/cats_vs_dogs/`).

[2020-07-27 18:46] bhack commented on #2175
Ok. @Naman-Bhrgv do you want to prepare a PR?

[2020-07-27 19:00] NikhilBartwal commented on #2175
@bhack I would very much like to.
As I'm new to this, I wanted to know if you could guide me through the process as the dataset rather contains YouTube video IDs, so I'm not sure about how to prepare the dataset after downloading the video IDs in TFDS.
Could you help me through ? Thanks!

[2020-07-27 19:12] bhack commented on #2175
This dataset has two indipendent sets: images and videos.

For the video set you can take an overview to: https://github.com/tensorflow/datasets/tree/master/tensorflow_datasets/video

[2020-07-27 19:17] NikhilBartwal commented on #2175
@bhack Thanks for the help!
I will look into some examples and start working on it.

[2020-07-28 09:56] tomergt45 commented on #2188
@Conchylicultor I can't find a folder that is called `cats_vs_dogs` at `~/tensorflow_datasets`, there are no folders in this path, only python scripts.

[2020-07-28 13:04] tomergt45 commented on #2188
After investgiating a bit, I managed to get the names of the corrupted images that was not skipped using this code:

[code]

which gave me the following output:
[code]

Hope this helps.

[2020-07-28 14:56] NikhilBartwal commented on #2175
Hey @bhack , I was trying out this script [https://github.com/holistic-video-understanding/HVU-Downloader/blob/master/HVU_download.py](url) and what i found was that no matter if I used the script directly from terminal for downloading or integrated the script code in my notebook, there were always sosme files which were not downloaded properly (around ~10% and were around 252 bytes).
The script u

[2020-07-28 15:03] bhack commented on #2175
@NikhilBartwal Have you tried to open a ticket at https://github.com/holistic-video-understanding/HVU-Downloader/?

[2020-07-28 15:53] NikhilBartwal commented on #2175
@bhack I have just opened one at [https://github.com/holistic-video-understanding/HVU-Dataset/issues/3](url)

[2020-07-28 21:14] rushabh-v commented on #2157
I would like to contribute it.

Should I implement it for custom resolution or If fixed then what resolution should the dataset support, optimally?
The paper [Self-Supervised Visual Planning with Temporal Skip Connections](https://arxiv.org/pdf/1710.05268.pdf) has used 64 x 64 frames only.

[2020-07-28 21:15] roynirmal commented on #1931
@shepsels how long did it take ultimately to finish the code? I also cannot set 450 workers due to quota limit so I am planning to use the same `beam_pipeline_options` as yours

[2020-07-29 08:17] martinengelcke commented on #2157
Thanks for your interest!

Looking at the paper code (https://github.com/febert/visual_mpc/blob/master/python_visual_mpc/video_prediction/read_tf_record.py), my first impression was that the original data supported up to 128x128. The documentation for bair_robot_pushing_small also sounds like frames at resolutions higher than 64x64 are in principle available, but I am not 100% sure this is actuall

[2020-07-29 11:54] shepsels commented on #1931
@roynirmal After some struggling I raised the quota and ran it as @adarob suggested. It took less than 24 hours.

[2020-07-29 12:27] roynirmal commented on #1931
@shepsels  That's good to know! Can you tell me how were you successful in raising the quota? I raised the CPU quota for us-central1 to 450. However I am getting maxed out at 32 CPUs since apparently that's the global quota. I asked to raise it but got rejected. Any help is appreciated since I am running a deadline.

[2020-07-29 13:07] adarob commented on #1931
If anyone wanted to host the dataset in a public bucket for others to share, it is essentially free for the host with Requester Pays (https://cloud.google.com/storage/docs/requester-pays).

[2020-07-29 13:09] roynirmal commented on #1931
@adarob  good to know, I can host it once I have finished the download. With my current quota looks like it will take around 10 days :\

[2020-07-29 14:08] hermannsblum opened #2243 "Invalid Tensor Index 'ragged_flat_values'"
**Short description**
I'm trying to add a new dataset. Serialization succeeded, but when loading the data, the error below occurs.

[code]
Detailed stacktrace below, the error happens in the deserialization.

**Environment information**
* Operating System: ubuntu 18.04
* Python version: 3.6
* `tensorflow-datasets`/`tfds-nightly` version: `tfds-nightly`
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/

[2020-07-29 18:01] rushabh-v commented on #2157
I see [here](https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/testing/fake_data_generation/bair_robot_pushing.py#L54-L56) that the fake dataset for `bair_robot_pushing_small` was created for size `64 x 64`.
So, should I just replace that data with `128 x 128` and then explicitly set the path of `fakedata` in the testing of one of the dataset builders or should I generate a di

[2020-07-31 01:39] #1544 closed

[2020-07-31 12:35] Flamefire opened #2252 "SSL CA failures when using a dataset from gs://"
**Short description**

When trying to load a dataset I get an error "Problem with the SSL CA cert (path? access rights?)" and a subsequent error when `six.reraise` is called

**Environment information**
* Operating System: RHEL 7
* Python version: 3.7.4
* `tensorflow-datasets` version: 3.2.1
* `tensorflow` version: 2.2.0

**Reproduction instructions**

- Run in python `tfds.builder("imagenet2012")

[2020-07-31 16:49] Flamefire commented on #2252
Good idea, that fails with the first exception above. Found the cause here: https://github.com/tensorflow/tensorflow/issues/40065

So that's on TensorFlow.

However it might still be worth looking into the 2nd issue where the `reraise` fails which looks like that's caused by TFDS

[2020-08-03 03:37] zhouzilong2020 opened #2261 "using tensor flow to load"
W tensorflow/core/platform/cloud/google_auth_provider.cc:184] All attempts to get a Google authentication bearer token failed, returning an empty token. Retrieving token from files failed with "Not found: Could not locate the credentials file.". Retrieving token from GCE failed with "Failed precondition: Error executing an HTTP request: libcurl code 6 meaning 'Couldn't resolve host name', error de

[2020-08-03 05:33] adiagarwalgoogle commented on #581
This issue is being closed as Speech Command is now part of TensorFlow datasets package.
Please refer to https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/audio/speech_commands.py and https://www.tensorflow.org/datasets/catalog/speech_commands for more info
Thank you for your contribution

[2020-08-03 05:33] #581 closed

[2020-08-03 05:52] adiagarwalgoogle commented on #107
This issue is being closed as Mozila Common voice is now part of TensorFlow datasets package.
Please refer to https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/audio/commonvoice.py and https://www.tensorflow.org/datasets/catalog/common_voice for more info.
Thank you for your contribution

[2020-08-03 05:52] #107 closed

[2020-08-03 05:53] adiagarwalgoogle commented on #256
This issue is being closed as VCTK is now part of TensorFlow datasets package.
Please refer to https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/audio/vctk.py and https://www.tensorflow.org/datasets/catalog/vctk for more info.
Thank you for your contribution

[2020-08-03 05:53] #256 closed

[2020-08-03 05:54] adiagarwalgoogle commented on #181
This issue is being closed as VoxCeleb is now part of TensorFlow datasets package.
Please refer to https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/audio/voxceleb.py and https://www.tensorflow.org/datasets/catalog/voxceleb for more info.
Thank you for your contribution

[2020-08-03 05:54] #181 closed

[2020-08-03 05:57] adiagarwalgoogle commented on #180
This issue is being closed as tedlium is now part of TensorFlow datasets package.
Please refer to https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/audio/tedlium.py and https://www.tensorflow.org/datasets/catalog/tedlium for more info.
Thank you for your contribution

[2020-08-03 05:57] #180 closed

[2020-08-03 06:00] adiagarwalgoogle commented on #838
This issue is being closed as NYU Depth Dataset V2 is now part of TensorFlow datasets package.
Please refer to https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/image/nyu_depth_v2.py and https://www.tensorflow.org/datasets/catalog/nyu_depth_v2 for more info.
Thank you for your contribution

[2020-08-03 06:00] #838 closed

[2020-08-03 06:05] adiagarwalgoogle commented on #831
This issue is being closed as STL10 is now part of TensorFlow datasets package.
Please refer to https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/image_classification/stl10.py and https://www.tensorflow.org/datasets/catalog/stl10 for more info.
Thank you for your contribution

[2020-08-03 06:05] #831 closed

[2020-08-03 06:06] adiagarwalgoogle commented on #202
This issue is being closed as CARS-196 is now part of TensorFlow datasets package.
Please refer to https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/image_classification/cars196.py and https://www.tensorflow.org/datasets/catalog/cars196 for more info.
Thank you for your contribution

[2020-08-03 06:06] #202 closed

[2020-08-03 06:07] adiagarwalgoogle commented on #201
This issue is being closed as CUB-200-2011 is now part of TensorFlow datasets package as CalTech Birds.
Please refer to https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/image_classification/caltech.py and https://www.tensorflow.org/datasets/catalog/caltech_birds2010, https://www.tensorflow.org/datasets/catalog/caltech_birds2011 for more info.
Thank you for your contribution

[2020-08-03 06:07] #201 closed

[2020-08-03 06:08] adiagarwalgoogle commented on #738
This issue is being closed as CIFAR - 10.1 is now part of TensorFlow datasets package.
Please refer to https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/image_classification/cifar10_1.py and https://www.tensorflow.org/datasets/catalog/cifar10_1 for more info.
Thank you for your contribution

[2020-08-03 06:08] #738 closed

[2020-08-03 06:17] adiagarwalgoogle commented on #192
This issue is being closed as RockYou is now part of TensorFlow datasets package.
Please refer to https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/structured/rock_you.py and https://www.tensorflow.org/datasets/catalog/rock_you for more info.
Thank you for your contribution

[2020-08-03 06:17] #192 closed

[2020-08-03 06:23] adiagarwalgoogle commented on #931
This issue is being closed as Movie lens is now part of TensorFlow datasets package.
Please refer to https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/structured/movielens.py and https://www.tensorflow.org/datasets/catalog/movie_lens for more info.
Thank you for your contribution

[2020-08-03 06:23] #931 closed

[2020-08-03 06:26] adiagarwalgoogle commented on #1246
This issue is being closed as SCAN is now part of TensorFlow datasets package.
Please refer to https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/text/scan.py and https://www.tensorflow.org/datasets/catalog/scan for more info.
Thank you for your contribution

[2020-08-03 06:26] #1246 closed

[2020-08-03 06:27] adiagarwalgoogle commented on #489
This issue is being closed as Math Dataset is now part of TensorFlow datasets package.
Please refer to https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/text/math_dataset.py and https://www.tensorflow.org/datasets/catalog/math_dataset for more info.
Thank you for your contribution

[2020-08-03 06:27] #489 closed

[2020-08-03 07:12] adiagarwalgoogle commented on #1866
This issue is being closed as COCO is now part of TensorFlow datasets package.
Please refer to https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/object_detection/coco.py and https://www.tensorflow.org/datasets/catalog/coco for more info.
Thank you for your contribution

[2020-08-03 07:12] #1866 closed

[2020-08-03 07:13] adiagarwalgoogle commented on #840
This issue is being closed as KITTI is now part of TensorFlow datasets package.
Please refer to https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/object_detection/kitti.py and https://www.tensorflow.org/datasets/catalog/kitti for more info.
Thank you for your contribution

[2020-08-03 08:48] lgeiger commented on #840
@adiagarwalgoogle I am aware that TFDS already has a KITTI dataset. However, it doesn't include depth map labels as mentioned in the issue description, or am I missing something? Could you reopen this issue.

[2020-08-03 08:56] adiagarwalgoogle commented on #840
@lgeiger I believe you are right.
Reopening the issue.

[2020-08-03 11:32] Conchylicultor commented on #2261
Please add more info to help us understand the issue. Which system are you using, version of TFDS,... ?

[2020-08-03 11:39] martinengelcke commented on #2157
Maybe generate a separate one?

[2020-08-03 15:36] captain-pool opened #2262 "[data request] Semantic 3D For Point Cloud Classification"
* Name of dataset: Semantic3D
* URL of dataset: http://www.semantic3d.net/
* License of dataset: Creative Commons Non-Commerical Share Alike 3.0 (CC BY-NC-SA 3.0)
* Short description of dataset and use case(s): This dataset contains point clouds and is used for point cloud segmentation.

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can

[2020-08-03 16:18] hermannsblum commented on #2243
The cause of the bug turns out to be passing a `Sequence` instead of a `FeaturesDict` as the top level feature to `DatasetInfo`. Therefore:

- if features should always be encapsulated in a dict, this should be mentioned in the [guide](https://github.com/tensorflow/datasets/blob/master/docs/add_dataset.md).
- otherwise, this is a bug that should be fixed.

[2020-08-03 16:42] Conchylicultor commented on #2243
`Sequence({})` should be allowed at top-level feature, so this is likely a bug.

[2020-08-03 19:30] Conchylicultor opened #2267 "Nested extraction create name collision"
With two nested archive containing the same filename:

[code]

The two inner filenames will be extracted on the same destination (`extracted/ZIP.train.zip`), creating a collision between the files:

[code]

To avoid collisions, we could add the hash of the extracted path, like `extract(path)` extract at `ZIP.hash(path).name`.

[2020-08-04 03:02] dthkao opened #2270 "Allow tfds.as_numpy() to return a reusable Iterable when converting a tf.data.Dataset"
**Is your feature request related to a problem? Please describe.**
Currently `tfds.as_numpy(dataset)` returns an Iterator which (if the datset is finite) can only be consumed once. This (I believe) is different than the tf.data.Datset semantics. For example this results in the second for loop below iterating through zero elements (i.e., do_more_stuff is not called):

[code]

**Describe the solutio

[2020-08-04 17:03] shekkizh opened #2272 "NonMatchingChecksumError(resource.url, tmp_path) when downloading Caltech Birds 2011"
**Short description**
Tensorflow datasets - Caltech Birds 2011 download fails with a resulting checksum error.

**Environment information**
* Operating System: Linux (Mint)
* Python version: 3.6
* `tfds-nightly` version: 3.2.1.dev202008040105
* `tensorflow-gpu` version: 2.3.0

**Reproduction instructions**

[code]
**Log**
[code]

**Expected behavior**
Dataset to be downloaded

**Additional context

[2020-08-04 18:44] #2270 closed

[2020-08-07 15:00] vijayphoenix commented on #2033
We should also update `tfds` version in Anaconda.
Anaconda has a very old [tfds-1.2.0](https://anaconda.org/anaconda/tensorflow-datasets)

[2020-08-07 16:37] MiWeiss opened #2286 "Imagenet: Allow to download validation set only."
**Is your feature request related to a problem? Please describe.**
To use the validation set of [Imagenet2012](https://www.tensorflow.org/datasets/catalog/imagenet2012) by calling `tfds.load('imagenet2012', split='validation')`, tfds requires that both training and validation set are downloaded.

Note that the training set is quite large and imagenet downloads are quite slow. Thus downloading and

[2020-08-09 19:26] rushabh-v commented on #2157
I have opened a PR. Can you please review it @martinengelcke ? https://github.com/tensorflow/datasets/pull/2279

[2020-08-10 16:45] bm777 commented on #414
How do I use a local dataset with tfds?

[2020-08-10 16:49] Conchylicultor commented on #414
Do you have a more specific question ? What have you tried ?
I would recommend starting by https://www.tensorflow.org/datasets/overview and https://www.tensorflow.org/datasets/add_dataset.

[2020-08-10 17:06] NikhilBartwal commented on #2175
@bhack Hey, there was one doubt that I was having, what do you think would be the most efficient way of decoding the video to a numpy array inside a script?

[2020-08-10 17:26] LittlePirate007 opened #2294 "[data request] <Cats VS Dogs>"
* Name of dataset: <name>
* URL of dataset: <url>
* License of dataset: <license type>
* Short description of dataset and use case(s): <description>

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests to prioritize.

And if you'd like to contribute the dataset (thank you!), see our [guide to adding a dataset](https://g

[2020-08-10 17:34] #2294 closed

[2020-08-10 17:34] vijayphoenix commented on #2294
Already a available on https://www.tensorflow.org/datasets/catalog/cats_vs_dogs

[2020-08-10 17:38] bhack commented on #2175
numpy or Tensor?
Have you  seen https://www.tensorflow.org/datasets/api_docs/python/tfds/features/Video

https://www.tensorflow.org/io/api_docs/python/tfio/experimental/ffmpeg/decode_video

[2020-08-10 17:42] NikhilBartwal commented on #2175
@bhack Guess it was a typo :(
I will have a look at it. Thanks !

[2020-08-11 16:43] theTB commented on #1931
@roynirmal @shepsels were you able to host the data by any chance? Would be really helpful, thanks!

[2020-08-12 10:27] Conchylicultor opened #2296 "Compress our repo size"
Currently, our repo is huge (~1GB with git clone). We should try to find way to reduce its size.

* Reduce the repo size through `git gc` (`git gc --aggressive --prune=now` doesn't seems to work ?)
* Maybe split the repo in smaller independent repo ?
* Is there a way to special case the fake data and testing folders as those two folder takes up most of the space.

[2020-08-12 14:39] NikhilBartwal commented on #2175
@bhack Well i tried it and looks like tensorflow-io only supports FFmpeg on Ubuntu 14.04, 16.04, and 18.04. as mentioned [here](https://github.com/tensorflow/io/issues/489) Do you have any other idea?

[2020-08-12 14:47] bhack commented on #2175
I think that Tensorflow IO is what the other video datasets are using in this repo /cc @yongtang

[2020-08-12 14:59] NikhilBartwal commented on #2175
@bhack I checked the video datasets and unfortunately, I couldn't find them using tfio. Could you give a link to it?

[2020-08-12 15:25] yongtang commented on #2175
@NikhilBartwal Do you have a specific platform (such as Ubuntu 20.04?) you want to use?

[2020-08-12 15:41] bhack commented on #2175
@Naman-Bhrgv I supposed that they was reusing TF-io API but it seems that they are controlling `ffmpeg` subprocess: https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/features/video_feature.py#L116

[2020-08-12 15:53] NikhilBartwal commented on #2175
@yongtang I was working on a video dataset for TF-DS and so i was hoping for a platform independent way of decoding a video file.

[2020-08-12 15:55] NikhilBartwal commented on #2175
@bhack I will have a look at it. Thanks!

[2020-08-12 18:52] #2272 closed

[2020-08-13 08:01] Conchylicultor opened #2299 "Add script to export tensorflow_data_validation"
Currently, there is an option to generate TFDV statistics for [FACET](https://pair-code.github.io/facets/) during `download_and_prepare`. However, it would be best to separate those two steps.

[code]

Then we should add a new script in `scripts/generate_statistics.py` which generate statistics for one dataset and export them to `gs://`. We would automatically generate statistics for all datasets.

[2020-08-13 12:20] engrmz opened #2300 "Functionality of dataset.repeat(-1) in tensorflow 1"
Hello everyone,
Can you please help in understanding the functionality of `dataset = dataset.repeat(-1)` in tensorflow 1? In my case, when I am using it, it iterates the dataset infinitely. However, when I set it any other number than -1, it fetches only a single sample.

[2020-08-13 13:19] engrmz commented on #2300
Here is the

[2020-08-13 13:27] vijayphoenix commented on #2296
A few suggestions and doubts:

* We can move out our `docs/` folder to a https://github.com/tensorflow/docs
* We can move the `fake_data` folder to a different repo but it will make it harder to add a new dataset.
   * Make 2 PRs in different repos for the same dataset.
   * The future directory structure (One folder-One dataset) will have to be modified.

Our Repo Download size is ~150MB and the

[2020-08-13 14:07] Conchylicultor commented on #2300
Without reproductible code we can't reproduce the issue. But `repeat` works as you would expect.

[code]

[2020-08-14 09:32] engrmz commented on #2300
Thanks @Conchylicultor. I got the point, repeat is repeating the entire dataset N times. Also, for N is -1, the dataset will repeat infinite time.

[2020-08-14 12:34] NikhilBartwal commented on #2175
@bhack Could you please review the PR?

[2020-08-14 12:44] Conchylicultor commented on #2300
@engrmz Exactly. Closing this as it seems the issue was resolved.

[2020-08-14 12:44] #2300 closed

[2020-08-15 16:22] vedantsingh1404 commented on #2151
I would like to contribute to this!

[2020-08-15 16:27] vijayphoenix commented on #2151
@vedantsingh1404 A PR for this dataset already exists https://github.com/tensorflow/datasets/pull/2152.
Maybe you could try adding some other dataset

[2020-08-15 16:29] vedantsingh1404 commented on #2151
Sure, I didn't find the dataset in the dataset list though.

[2020-08-17 09:35] tedcy opened #2309 "newscommentary_v14 of wmt_translate datasets create opposite zh-en label sentence"
**Short description**
newscommentary_v14 create opposite zh-en label sentence

**Environment information**
* Operating System: windows 7
* Python version: 3.7
* `tensorflow-datasets`/`tfds-nightly` version: 3.2.1
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: 2.3.0

**Reproduction instructions**

[code]

**Link to logs**
WARNING:absl:Using custom data configuration zh-en
tf

[2020-08-17 16:49] wnagele commented on #1931
I would also really appreciate if I could use this dataset already processed. The cost of processing all of this is too high for my testing.

[2020-08-17 16:49] wnagele commented on #1931
I would also really appreciate if I could use this dataset already processed. The cost of processing all of this is too high for my testing.

[2020-08-17 19:08] aryanVijaywargia commented on #328
I would like to work on this, kindly assign me. I will give a pr soon.

[2020-08-18 08:59] martinengelcke commented on #2157
What's the original resolution of the images in DATA_URL = "http://rail.eecs.berkeley.edu/datasets/bair_robot_pushing_dataset_v0.tar"?

[2020-08-18 13:35] #2133 closed

[2020-08-18 13:55] swghosh opened #2316 "Turn of intermediate pre-fetching"
https://github.com/tensorflow/datasets/blob/bdf30a10adbedac843374052d81e9bae607fd9b3/tensorflow_datasets/core/dataset_builder.py#L572

Is it possible to turn off prefetching when use `tfds.load(ds_name)`?

[2020-08-18 14:00] Conchylicultor commented on #2316
I don't think it is possible currently, but please don't hesitate to send a PR to add the option in `tfds.ReadConfig`

[2020-08-18 14:01] swghosh commented on #2316
@Conchylicultor I'll work on it.

[2020-08-18 14:03] Conchylicultor commented on #2316
Thank you! For the name maybe `skip_prefetch: bool = False` ?

[2020-08-18 14:05] swghosh commented on #2316
That should be good.

[2020-08-18 19:17] rushabh-v commented on #2157
Looks like it's `512 x 640`.

[2020-08-19 09:07] vedantsingh1404 opened #2320 "[data request] Corrupted Tiny-ImageNet"
* Name of dataset: Tiny-Imagenet-C
* URL of dataset: https://github.com/hendrycks/robustness
* License of dataset: -
* Short description of dataset and use case(s): Tiny Imagenet is a challenge similar to ImageNet but with a smaller dataset.
Corrupted Tiny-ImageNet is a dataset generated by adding 15 common corruptions to the test images in the Tiny-ImageNet dataset. This dataset wraps the corrupt

[2020-08-19 09:40] ericpts opened #2321 "CelebA: Resource cannot infer ExtractMethod from filename"
**Short description**

When trying to load the CelebA dataset, the code fails with the error KeyError: <ExtractMethod.NO_EXTRACT: 1>, because the
`Resource()` constructor is unable to figure out the proper method from the filename.

**Environment information**
* Operating System: Debian Testing
* Python version: 3.8.5
* `tensorflow-datasets` version: '3.2.1'
* `tensorflow` version: 2.3.0

**Reprod

[2020-08-20 00:44] angelawhitebear opened #2324 "quest for datasets occur wrong"
**Short description**
my program try to get url https://www.googleapis.com/storage/v1/b/tfds-data/o/dataset_info%2Fcnn_dailymail%2Fplain_text%2F3.0.0?fields=size%2Cgeneration%2Cupdated,but failed

2020-08-20 08:41:35.983921: W tensorflow/core/platform/cloud/google_auth_provider.cc:178] All attempts to get a Google authentication bearer token failed, returning an empty token. Retrieving token from

[2020-08-20 07:09] extension265 commented on #2073
i want to add this dataset

[2020-08-20 07:11] extension265 commented on #1772
may i add this dataset?

[2020-08-20 13:34] wnagele commented on #1931
If some of you would like to share the cost for processing this dataset, I would be willing to carry out the work for it. Please reach out to me via email if you are interested.

[2020-08-22 10:13] SamyakAgarkar opened #2329 "the300w_lp dataset not loading with an error."
I am trying to load the300w_lp datawset with

`import tensorflow_datasets as tfds`
`the300w, info = tfds.load('the300w_lp', data_dir='/downloadeddataset/the300', with_info=True)`

Causing the following error

Downloading and preparing dataset the300w_lp/1.0.0 (download: Unknown size, generated: Unknown size, total: Unknown size) to /downloadeddataset/the300\the300w_lp\1.0.0...
Dl Completed...: 0 u

[2020-08-24 07:26] roynirmal commented on #1931
Processing the whole dataset will definitely eat up the entire free credits.
I think Cloud Dataflow charges exorbitantly. I am not sure how much it will cost us if we can indeed download the data in less than 24 hours. I also was allowed only 1 IP address, so the workaround is to use a single machine with multiple cores

[2020-08-26 13:04] ntakouris opened #2342 "show_examples requires manual dict construction for some datasets"
You can do:

`training_samples, ds_info = tfds.load('imagenette/320px', split='train', as_supervised=True, with_info=True)`

and

`tfds.show_examples(ds_info, training_samples)` throws the following error:
[code]

but

`tfds.show_examples(ds_info, training_samples.map(lambda x, y: {'image': x, 'label': y}), image_key='image')` works.

This is nowhere to be documented. I think it should be done aut

[2020-08-26 14:48] Conchylicultor commented on #2342
This is because `show_examples` isn't compatible with `as_supervised` for now. This is a duplicate of https://github.com/tensorflow/datasets/issues/1575

Note: it seems you're using a very old TFDS version. I would suggest to upgrade it or use `!pip install tfds-nightly`.

`tfds.show_examples` argument order is now `(ds, ds_info)` for consistency with `tfds.load`

[2020-08-26 14:48] #2342 closed

[2020-08-26 15:03] Conchylicultor commented on #2342
Note: I'm sending a fix now, it should appear in one the next tfds-nightly soon

[2020-08-27 13:04] NikhilBartwal commented on #2286
Hey @MiWeiss,
That is, indeed, an efficient solution to replace the AssertionError with two different ones, depending on the split user selected otherwise, it would just waste user's time.
Could you tell about the status of this feature?

[2020-08-27 18:43] yugimani opened #2347 "Logging error with Python 3.8 on Windows 10"
**Short description**
Similar to https://github.com/tensorflow/tensorflow/issues/35027

**Environment information**
* Operating System: Windows 10
* Python version: 3.8.5
* tensorflow-datasets version: 3.2.1
* tensorflow version: 2.3.0

**Reproduction instructions**
`
python tensorflow_datasets/scripts/create_new_dataset.py --dataset my_dataset --type image`

https://www.tensorflow.org/datasets/ad

[2020-08-27 18:48] yugimani commented on #2347
Bug also present in tfds-nightly-3.2.1.dev202008270105

[2020-08-27 21:00] NikhilBartwal commented on #2286
Hey @MiWeiss,
That would, indeed, be a good optimization but currently the way TFDS loads a dataset is by first going through all of the splits, downloading and preparing the necessary tfrecord files and then provide by split, as requested by the user.
This is done so as in the future, if the user needs a different split, he could easily do that without TFDS having to download that very split at r

[2020-08-28 07:45] Conchylicultor opened #2348 "Beam dataset do not works well with config"
When Beam try to pickle-unpickle the dataset, the un-pickling of the dataset raise an error about BuilderConfig already existing:

[code]

[code]

Created by:

[code]

As fix, `__setattr__`, `__getattr__` should be updated to restore the dataset config properly: https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/dataset_builder.py#L212

[2020-08-28 09:47] #1575 closed

[2020-08-28 10:02] Conchylicultor commented on #2347
This should be fixed with https://github.com/tensorflow/datasets/pull/2349

[2020-08-28 10:15] yugimani commented on #2347
Patch works!

[2020-08-28 10:21] Conchylicultor opened #2352 "Add a script to detect dead urls"
Some download urls are not valid anymore.

The checksums contains the list of all downloaded urls. We could add a script which iterate over all url and test if the website is still online with some request query.

To get all urls:

1. Use `tfds.core.download.checksums.get_all_url_infos()` to get urls in `checksums/`
2. For new datasets self-contained in folder, checksums are now in `<my_dataset>/c

[2020-08-28 12:35] Conchylicultor opened #2355 "[Cleanup] Add script to delete old versions on disk"
When generating new dataset version, we are ending up with many old datasets inside `data_dir/`, some which do not correspond to code anymore. It would be nice to have a script to cleanup all old/non-existing dataset versions, like:

Before:
[code]

After:
[code]

For the implementation, on way would be to use the `tfds.core.load.list_full_names()` to check all current dataset version and remove a

[2020-08-28 13:12] #2347 closed

[2020-08-28 13:17] Conchylicultor commented on #317
Closing this as this dataset was been added in tfds-nightly.

[2020-08-28 13:17] #317 closed

[2020-08-28 13:18] Conchylicultor commented on #179
Closing this as this dataset was been added in tfds-nightly.

[2020-08-28 13:18] #179 closed

[2020-08-28 13:18] Conchylicultor commented on #536
Closing this as this dataset was been added in tfds-nightly.

[2020-08-28 13:18] #536 closed

[2020-08-28 13:18] Conchylicultor commented on #2156
Closing this as this dataset was been added in tfds-nightly.

[2020-08-28 13:18] #2156 closed

[2020-08-28 20:18] NikhilBartwal commented on #2355
@Conchylicultor I am working on the script.
There was one thing i wanted to ask, how do I get the `data_dir`? Using `tfds.core.constants.DATA_DIR` gives `~\\tensorflow-datasets` which is not the absolute path. We will need the `data_dir` to delete the old versions of the datasets.
Thanks!

[2020-08-29 01:18] Erik-Tran opened #2362 "[data request] COVID-CT"
* Name of dataset: COVID-CT
* URL of dataset: https://github.com/UCSD-AI4H/COVID-CT
* License of dataset:
* Short description of dataset and use case(s): This dataset contains 349 CT images of clinical findings of COVID-19 from 216 patients useful towards development of binary classification to diagnose COVID-19.

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumb

[2020-08-29 09:25] prashant-kikani commented on #1136
@adarob and @Conchylicultor
Do you guys come to know if someone had cleaned & hosted the cleaned C4 (750 GB) dataset somewhere to download?

Thank you.

[2020-08-29 11:27] NikhilBartwal commented on #2355
Hey @Conchylicultor I have made a PR for the script. It would be great if you could review it!

[2020-08-29 12:22] prashant-kikani commented on #1931
Did anyone have uploaded the cleaned C4 data with size ~750 GB?

I also wanted to download only the clean C4 data. Not the entire 7 TB CC data.

Thanks.

[2020-08-29 15:52] vijayphoenix commented on #2096
Closing as PR #2104 got merged

[2020-08-29 15:52] #2096 closed

[2020-08-29 15:56] adarob commented on #1931
@craffel

[2020-08-29 16:04] ntakouris opened #2365 "How to do relaxed shape batching or parallel mapping?"
**What I need help with / What I was wondering**
I was preparing to train some toy resnet18 models with the `imagenette/320px` dataset. I wanted to use a center crop for testing (resnet18 model) and random crops for training. This requires a small workaround that I think is making my batch time spend 40%  of time in the input pipeline.

These images usually have got different dimensions and we nee

[2020-08-29 17:48] sputney13 commented on #2362
Hi @Erik-Tran, will you be working on this issue yourself or are you looking for someone else to fulfill the request?

[2020-08-29 17:51] Erik-Tran commented on #2362
To all,

I was planning on working on this by myself. I would be open to working on it with someone else, but I already submitted a form saying I’d be working alone.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Sarah Putney <notifications@github.com>
Sent: Saturday, August 29, 2020 11:48:39 AM
To: tensorflow/datasets <datasets@noreply.github.com>
Cc: Erik Tran

[2020-08-29 18:55] joekrinke15 opened #2366 "[data request] <Pancreas-CT Scans>"
* Name of dataset: Pancreas-CT Scans
* URL of dataset: https://wiki.cancerimagingarchive.net/display/Public/Pancreas-CT#82af2dca8f2443b1bef1e85ac73acd44
* License of dataset: Creative Commons Attribution 3.0 Unported License
* Short description of dataset and use case(s): This dataset contains 82 abdominal contrast enhanced 3D CT scans from 53 male and 27 female subjects. The CT scans have resolut

[2020-08-30 07:12] p0l4r opened #2367 "[data request] <ALL_IDB2>"
* Name of dataset: ALL_IDB2
* URL of dataset: <https://homes.di.unimi.it/scotti/all/>
* License of dataset: public
* Short description of dataset and use case(s): The ALL-IDB2 version 1.0 is a collection of cropped area of interest of normal and blast cells that belongs to the ALL-IDB1 dataset. ALL-IDB2 images have similar gray level properties to the images of the ALL-IDB1, except the image dimen

[2020-08-30 18:11] takifouhal opened #2368 "unable to generate curated_breast_imaging_ddsm/patches dataset"
**Environment information**
* Operating System: Colab Jupyter notebook
* Python version: 3
* tensorflow-datasets version: 2.1.0

**Reproduction instructions**

[code]

**Logs**
![error](https://user-images.githubusercontent.com/37051494/91666178-ac2f7d00-eaf2-11ea-8f42-e490f88eca38.png)

[2020-08-30 18:22] vijayphoenix commented on #2368
@takifouhal Please try again after updating to the latest version or `tfds-nightly`.

[2020-08-30 20:13] RoujiaW opened #2369 "[data request] PatchCamelyon"
* Name of dataset: PatchCamelyon
* URL of dataset: https://github.com/basveeling/pcam
* License of dataset: MIT License
* Short description of dataset and use case(s): This dataset contains 327,680 color images (96 x 96px) extracted from histopathologic scans of lymph node sections. Each image is annoted with a binary label indicating presence of metastatic tissue.

Folks who would also like to se

[2020-08-30 20:34] takifouhal commented on #2368
i tried the latest version `3.2.1` with `tfds-nightly` installed, and it outputs the same error.

[code]

the problem occurs only when i try to generate patches dataset and at the end of the process ,
i tried  `original-calc` subset and it doesn't have any problem

[2020-08-31 01:29] Ouwen commented on #2369
https://www.tensorflow.org/datasets/catalog/patch_camelyon

[2020-08-31 01:31] #2369 closed

[2020-08-31 01:31] RoujiaW commented on #2369
Thanks for the head up! I will work on another dataset and resubmit the google form.

[2020-08-31 02:16] RoujiaW opened #2370 "[data request] PathVQA"
* Name of dataset: PathVQA
* URL of dataset: https://github.com/UCSD-AI4H/PathVQA
* License of dataset: TBD, https://arxiv.org/abs/2003.10286
* Short description of dataset and use case(s): This dataset is used to create an "AI-pathologists" to pass the board-certified examination of the American Board of Pathology. It contains 4,998 images and 32,799 question-answer pairs. Half of these questions

[2020-08-31 04:18] sputney13 opened #2371 "[data request] OASBUD"
* Name of dataset: OASBUD (Open Access Series of Breast Ultrasound Data)
* URL of dataset: https://zenodo.org/record/545928#.X0xKf8hKg2z
* License of dataset: Creative Commons 4.0
* Short description of dataset and use case(s): This small dataset contains 200 ultrasound scans (2 orthogonal scans each) of 52 malignant and 48 benign breast tumors. The scans are stored as rf data, and each scan inclu

[2020-08-31 05:37] BaiyingLu opened #2372 "[data request] MRNet Dataset"
* Name of dataset: MRNet Dataset
* URL of dataset: https://stanfordmlgroup.github.io/competitions/mrnet/
* License of dataset:  Creative Commons Attribution License
* Short description of dataset and use case(s): The MRNet dataset consists of 1,370 knee MRI exams performed at Stanford University Medical Center. The dataset contains 1,104 (80.6%) abnormal exams, with 319 (23.3%) ACL tears and 508 (

[2020-08-31 08:02] vickielan opened #2373 "[data request] RibFracture Dataset"
* Name of dataset: RibFrac Dataset
* URL of dataset: https://zenodo.org/record/3893508#.X00Jafj0lQI
* License of dataset: https://creativecommons.org/licenses/by-nc/4.0/legalcode
* Short description of dataset and use case(s): This dataset is a benchmark for developing algorithms on rib fracture detection, segmentation and classification. This RibFrac dataset, including CTs images and classificati

[2020-08-31 08:29] Conchylicultor commented on #2368
This is because you're using a recent version of openCv. The issue will be fixed in https://github.com/tensorflow/datasets/pull/2351/files#diff-4ee80b035898d4605dafac48b0868ca6R591

In the meantime, you can apply the tensorflow_datasets/image_classification/cbis_ddsm.py patch manually

[2020-08-31 13:16] DanielGrigorasch opened #2375 "NonMatchingChecksumError with Dataset DTD"
I get a NonMatchingChecksumError when trying to load the Describable Textures Dataset with the following code:
```x_train, x_test = tfds.load('dtd', split=['train', 'test'], shuffle_files=True)```

However doing the same with other datasets like mnist works.

I am using google colaboration.

Thanks

[2020-08-31 13:25] takifouhal commented on #2368
thank you so much, i've reinstalled  `tfds` from `cl_328515803`  commit , and now everything works fine:

![success](https://user-images.githubusercontent.com/37051494/91724743-aa6ac580-eb95-11ea-8537-19309eb67a8e.png)

[2020-08-31 14:20] vijayphoenix commented on #2375
@DanielGrigorasch Please update to latest tfds version or tfds-nightly

The checksums were recently updated 2b8f8f5f

[2020-08-31 16:15] adarob commented on #1136
It should do the downloading on DataFlow now. Download + clean is the only option unless someone else decides to host it.

[2020-08-31 16:40] mr-ubik opened #2379 "Failed to construct dataset wmt_translateThe raw `wmt_translate` during download_and_prepare with --register_checksums"
**Short description**
A `ValueError` is raised when trying to registering checksums.

**Environment information**
* Operating System: Arch Linux
* Python version: 3.8
* `tensorflow-datasets`/`tfds-nightly` version: 3.2.1-nightly
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: tensorflow 2.3.0

**Reproduction instructions**

[code]

**Link to logs**

[code]

**Expected behavi

[2020-08-31 19:13] takifouhal commented on #2368
any idea why the process fails to reach 100% ?!
![success](https://user-images.githubusercontent.com/37051494/91757550-67751600-ebc6-11ea-9963-647ec063dbb0.png)

[2020-08-31 19:35] jingjing-shi opened #2382 "[data request] <CT Lymph Nodes>"
* Name of dataset: <CT Lymph Nodes>
* URL of dataset: <https://wiki.cancerimagingarchive.net/display/Public/CT+Lymph+Nodes>
* License of dataset: <Creative Commons Arribution 3.0 Unported License>
* Short description of dataset and use case(s): <This dataset contains 110,013 Computed Tomography (CT) images of the mediastinum and abdomen in which lymph node positions are marked by radiologists at t

[2020-09-01 06:47] #2375 closed

[2020-09-01 09:30] zdz1130 opened #2383 "[data request] DRIVE: Digital Retinal Images for Vessel Extraction"
- Name of dataset: DRIVE: Digital Retinal Images for Vessel Extraction
- URL of dataset: https://www.dropbox.com/sh/z4hbbzqai0ilqht/AAARqnQhjq3wQcSVFNR__6xNa?dl=0
- License of dataset: public
- Short description of dataset and use case(s): The photographs for the DRIVE database were obtained from a diabetic retinopathy screening program in The Netherlands. The screening population consisted of 400

[2020-09-01 09:40] #2383 closed

[2020-09-01 09:41] zdz1130 opened #2384 "[data request] DRIVE: Digital Retinal Images for Vessel Extraction"
* Name of dataset: DRIVE: Digital Retinal Images for Vessel Extraction
* URL of dataset: https://www.dropbox.com/sh/z4hbbzqai0ilqht/AAARqnQhjq3wQcSVFNR__6xNa?dl=0
* License of dataset: public
* Short description of dataset and use case(s): The photographs for the DRIVE database were obtained from a diabetic retinopathy screening program in The Netherlands. The screening population consisted of 400

[2020-09-01 15:58] quantitative-technologies opened #2385 "[data request] Anki"
* Name of dataset: Anki
* URL of dataset: http://www.manythings.org/anki/
* License of dataset: https://tatoeba.org/eng/terms_of_use
* Short description of dataset and use case(s): Language learning flashcards, for translation

This issue is being submitted because I would like to contribute this dataset.

I have already added this dataset locally (just two languages, but I can easily add them all

[2020-09-01 20:32] Kyrie-Zhao opened #2386 "MRNet Dataset"
* Name of dataset: MRNet Dataset
* URL of dataset: https://stanfordmlgroup.github.io/competitions/mrnet/
* License of dataset: Public Domain
* Short description of dataset and use case(s): The MRNet dataset consisted of 1,370 knee MRI exams and was performed at Stanford University Medical Center between January 1, 2001, and December 31, 2012 (mean age 38.0 years; 569 [41.5%] female patients). The

[2020-09-02 03:46] guanlaoda commented on #2261
version 2.3.0

[2020-09-02 08:05] #2261 closed

[2020-09-02 12:45] Conchylicultor commented on #2368
Is it just freezing ? Is it just taking too long ? Can you add a print statement to debug for which example it is failing ?

[2020-09-02 13:04] Conchylicultor commented on #2379
This is intended. As the error message say:
[code]

You likely want to use wmt18, wmt17,... instead, or manually create a `tfds.translate.WmtConfig()`.

[2020-09-02 13:04] #2379 closed

[2020-09-02 16:29] #2033 closed

[2020-09-02 16:29] vijayphoenix opened #2389 "Update TFDS version on various platforms"
A lot of people use the `conda` packaging tool instead of `pip`, so it would nice to have an updated version of TFDS on https://anaconda.org/anaconda/tensorflow-datasets.
(Currently, anaconda has a very old TFDS v1.2.0)

Also, we should upgrade Google-Colab to use the latest version.
Related issue https://github.com/googlecolab/colabtools/issues/1390

[2020-09-02 16:41] fonnesbeck opened #2390 "load fails due to lack of IProgress/ipywidgets"
I get an import error when trying to load the MNIST data from tensorflow_datasets. It appears to require ipywidgets, which seems odd given that this is a data loading utility.

[code]

**Environment information**
* Operating System: Debian 9
* Python version: 3.8.5
* `tensorflow-datasets`/`tfds-nightly` version: 3.2.1
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: 2.3.0

[2020-09-02 16:44] fonnesbeck commented on #2390
Installing ipywidgets fixes the problem, but this seems like an unnecessary dependency, particularly if Jupyter notebooks are not being used.

[2020-09-02 17:01] Conchylicultor commented on #2390
This is coming from TQDM.

Which version of Jupyter notebook are you using ? I suspect that the version is quire old (4+ years old ?). I would suggest you to update Jupyter, as the error message suggest.

[2020-09-02 17:01] #2390 closed

[2020-09-02 19:30] Matthew-Lin-Duke opened #2391 "[data request] SIIM-ACR Pneumothorax Segmentation Dataset"
* Name of dataset: SIIM-ACR Pneumothorax Segmentation Dataset
* URL of dataset:

    - [SIIM-ACR Pneumothorax Segmentation](https://www.kaggle.com/c/siim-acr-pneumothorax-segmentation/data)

    - [SIIM_TRAIN_TEST](https://www.kaggle.com/seesee/siim-train-test)

* License of dataset: Open source, any purpose, including commercial use
* Short description of dataset and use case(s):

    - This data

[2020-09-03 01:54] jmr137 opened #2392 "[data request] <dataset name>"
* Name of dataset: <ISIC 2019>
* URL of dataset: <https://challenge2019.isic-archive.com/data.html>
* License of dataset: <Creative Commons Attribution-NonCommercial 4.0 International License>
* Short description of dataset and use case(s): <For the ISIC 2019 grand challenge, the International Skin Imaging foundation released a data set containing 25,331 dermoscopic images that characterize 8 diff

[2020-09-03 03:53] axd465 opened #2393 "[data request] Photoacoustic Microscopy Dataset"
* Name of dataset: Photoacoustic Microscopy Dataset
* URL of dataset: [https://figshare.com/articles/dataset/Photoacoustic_Microscopy_Dataset/12871805](url)
* License of dataset: CC BY 4.0
* Short description of dataset and use case(s): This dataset contains photoacoustic microscopy images of mouse brain vessels. These high quality images can be used for a variety of deep learning tasks in vessel

[2020-09-03 11:58] #2352 closed

[2020-09-03 16:02] vijayphoenix commented on #2252
Should be fixed by https://github.com/tensorflow/datasets/pull/2376 temporarily.
However, we will keep a eye on for a proper fix will come from TF side.

[2020-09-03 16:19] Flamefire commented on #2252
Note that the fix seems to be for a different issue.

This issue is not on Windows but on RHEL and the cause is that TensorFlow misconfigures the bundled libcurl causing a certificate error on execution. So I doubt that PR fixes anything related to this.

[2020-09-03 16:24] Conchylicultor commented on #2252
The reraise error message should be fixed by https://github.com/tensorflow/datasets/pull/2377. However it seems my fix bug with pytest, but didn't had time to investigate more.

[2020-09-03 17:38] vmtang11 opened #2396 "[data request] COVID-19 Chest X-Ray Dataset"
* Name of dataset: COVID Chest X-Ray Dataset
* URL of dataset: https://github.com/lindawangg/COVID-Net/blob/master/docs/COVIDx.md
* License of dataset: GNU Affero General Public License 3.0
* Short description of dataset and use case(s): This dataset contains chest x-ray images of normal, pneumonia, and COVID-19 patients sourced from five different datasets. It currently has 14,198 images with 8,0

[2020-09-03 23:15] vijayphoenix commented on #2389
Publish the latest version of TFDS. See https://anaconda.org/vijayphoenix/tensorflow-datasets

Documentation used:
https://docs.conda.io/projects/conda-build/en/latest/user-guide/tutorials/build-pkgs-skeleton.html

[2020-09-04 00:55] tonyreina commented on #1867
Is this dataset still available? It doesn't show up in the list.

[2020-09-06 00:01] adam-grant-hendry commented on #2261
Please reopen. I have same issue.

[2020-09-06 15:14] Conchylicultor commented on #2261
Please add information if you want us to debug the issue. Like a reproductible example, full stacktrace, which plateform are you using,...

[2020-09-06 15:14] Conchylicultor commented on #2261
Also please make sure the issue still exists with `tfds-nightly`

[2020-09-07 02:48] breadbread1984 opened #2398 "cannot download coco 2014"
**Short description**
I try to download coco2014 with the following code.

[code]

tfds complains that

I try to open the link given in the error message and get the json response

[code]

by the way, how can I use the downloaded 1.0.0 version coco2014 tfds dataset?

**Environment information**
* Operating System: ubuntu 18.04
* Python version: 3.6.9
* `tfds-nightly` version: 3.2.1.dev202009060105

[2020-09-07 19:59] vijayphoenix commented on #2398
Could not reproduce this issue on Google Colab.
Can you try again and let us know if you still face the issue.

[2020-09-07 21:23] whatwilliam opened #2399 "[data request] <dataset name>"
* Name of dataset: AudioSet
* URL of dataset: https://research.google.com/audioset/index.html
* License of dataset: Creative Commons Attribution 4.0 International (CC BY 4.0) license
* Short description of dataset and use case(s):

This dataset contains 632 classes of audio events derived from 10-second clips from Youtube that have been human-labeled. The events include recognizing music, speech,

[2020-09-07 22:12] breadbread1984 commented on #2398
i use tfds on pc not on cloud. i tried the above operation with and without tunnel. both failed. i tried the link shown in the error message and got the above 404 json reponse.

if i want to generate coco on my local disk, do i need a google cloud account or any other prerequisites？

is it possible to access tfds from China？

[2020-09-07 22:28] vijayphoenix commented on #2398
Yes, I think users from china might have to use a VPN to access the datasets.

[2020-09-07 22:47] breadbread1984 commented on #2398
i use a vpn.

[2020-09-08 13:41] gitlabspy opened #2400 "Why `ImageFolder` requires HTTP request?"
[code]
I thought `tfds.ImageFolder` works locally on my machine and returns me a tfds.dataset somekind. But it seems requires some HTTP requests? Unfortunately I can not visit google here in China...

Shouldn't it be working locally? Or is that a way to work locally? Thx!!!

**Environment information**
(if applicable)
* Operating System: Ubuntu
* Python version: 36
* `tensorflow-datasets`/`tfds-ni

[2020-09-08 16:19] Conchylicultor commented on #2400
Could you share the full stacktrace ?

[2020-09-08 16:26] moonman925 opened #2401 "`tfds.load('celeb_a')` throws errors after few seconds downloading"
There's only one line of code which is  `tfds.load('celeb_a')` . It works within first few seconds and then throws errors. It did download things to `~/tensorflow_datasets/download` but obviously incomplete. Any way to fix this? I am using proxy tho. Proxy works fine.
Actually I have a downloaded `celeb_a` on my disk but I don't know how to load it with `tfds.load()`. Would you please tell me how

[2020-09-08 17:00] gitlabspy commented on #2400
[code]
Those `| ··················· ` are the boundry of the window.

[2020-09-08 17:34] vijayphoenix commented on #2401
As the error msg says

So, please try again later

Similar issues https://github.com/tensorflow/datasets/issues/1482.

[2020-09-08 17:34] #2401 closed

[2020-09-08 19:13] rajgodse opened #2402 "[coco] Script getting killed upon loading examples."
**Short description**
When loading the coco dataset from tfds (after downloading and extraction is shown to be successful), the process gets killed just as it starts to load examples.

**Environment information**
* Operating System: Linux
* Python version: 3.8
* `tensorflow-datasets` version: 3.2.1
* `tensorflow` version: 2.3.0

**Reproduction instructions**
[code]
**Logs**
[code]

**Expected beha

[2020-09-09 07:34] Conchylicultor commented on #2402
I believe killed process indicates that your RAM is full, so your OS kill the process automatically

[2020-09-09 07:44] Conchylicultor commented on #2400
I think the GCS request is due when we try to preload the dataset info in:
https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/dataset_builder.py#L204

In this case, because the dataset is special, the GCS access should just return false, and everything should work correctly. Is the dataset not correctly loaded ?

[2020-09-09 08:13] Conchylicultor commented on #2398
Could you test:

[code]

and report the logs, stacktrace ?

I think you could safely ignore those logs. It simply mean the pre-computed dataset info is not present on GCS, so generating the dataset will recompute the info.

[2020-09-09 08:14] infiniteoverflow commented on #2399
I would like to contribute this dataset. I have personally worked using this dataset for my personal project. Can you please assign me this issue?
Thanks !!

[2020-09-09 08:24] Erik-Tran opened #2403 "[data request] A Large-Scale CT and PET/CT Dataset for Lung Cancer Diagnosis (Lung-PET-CT-Dx)"
* Name of dataset: A Large-Scale CT and PET/CT Dataset for Lung Cancer Diagnosis (Lung-PET-CT-Dx)
* URL of dataset: https://wiki.cancerimagingarchive.net/download/attachments/70224216/Lung-PET-CT-Dx-NBIA-manifest-07242020.tcia?api=v2, https://wiki.cancerimagingarchive.net/download/attachments/70224216/Lung-PET-CT-Dx-Annotations-XML-Files-rev07142020.zip?version=1&modificationDate=1594757790879&api

[2020-09-09 09:55] Conchylicultor opened #2404 "Update tfds.testing.mock_data to not require metadata."
Currently, `tfds.testing.mock_data` require the metadata (`dataset_info.json`,...). This force users to copy those metadata into their repository which doesn't feel user friendly.

It would be nice if `tfds.testing.mock_data` could work using the code only:

[code]

Note that not all feature can be available (e.g. `str2int`, split names,... would be unavailable). This mean that any split name woul

[2020-09-09 10:21] nikregrado commented on #2187
This is not help, i'm got the same error but now on different urls

[2020-09-09 11:10] NikhilBartwal commented on #2404
Hey @Conchylicultor, I would like to work on this. Could to point me out as to how I should start? Thanks!

[2020-09-09 11:28] Conchylicultor commented on #2404
Thanks for your motivation @NikhilBartwal . I believe @vijayphoenix wanted to take this issue as it requires some knowledge of TFDS already.
I'll add additional feature request open to contributor if you want to contribute.

[2020-09-09 11:30] QaziAmmar commented on #997
What is the state of the art results on this dataset ?

[2020-09-09 11:32] NikhilBartwal commented on #2404
@Conchylicultor I would definitely like to contribute to any other feature that we need to add :)

[2020-09-09 12:24] mushan09 commented on #2087
@Conchylicultor @martinmamql
I downloaded the original image before but I lost the tar files(ILSVRC2012_img_train.tar and ILSVRC2012_img_val.tar).
So I repackaged these original pictures into tar files and occured the same problem(bad checksum).

I want to know what conditions are used to verify the ImageNet dataset, and whether the verification can be skipped. Re-downloading ILSVRC2012_img_train.

[2020-09-09 13:45] martinmamql commented on #2087
Hi Steve, sorry that I am not sure how to correctly verify the ImageNet dataset. But I would recommend a re-downloading since I used to try different methods, but eventually solve the problem by re-downloading.

I hope this might help.

Sincerely,
Martin

[2020-09-09 15:16] jneeven commented on #113
I also think this would be a really useful feature for video-based data.

[2020-09-09 17:45] rajgodse commented on #2402
Okay, that makes sense. I can close the issue if that is the case, but does anyone know if there is an easy way to download and prepare the dataset without actually internally calling tfds.download_and_prepare()?

Basically, what are the folders in which I would need to put the extracted files in order for me to call tfds.load('coco', download=False) without getting an error?

[2020-09-09 19:38] Ak0303 commented on #2348
Hey @Conchylicultor, I'm new to this project and I would like to contribute to it.
So, could you please guide me about how to get started with it !!

[2020-09-09 20:02] AnandKishore21 commented on #1201
Tried with tfds-nightly but still gettning "NonMatchingChecksumError" .I have tried the following code
 `ds = tfds.load('plant_village', split='train', shuffle_files=True)`

[2020-09-10 06:32] elich11 opened #2406 "Drive download issue"
/!\ IF YOU WANT PEOPLE TO HELP YOU, PLEASE GIVE AS MUCH DETAIL AS POSSIBLE, INCLUDING THE FULL STACKTRACE AND CODE SNIPPET

**Short description**
Description of the bug.

**Environment information**
* Operating System: ubuntu 20.04
* Python version: 3.8
* `tensorflow-datasets`/`tfds-nightly` version: 3.2.1
* `tensorflow`/`tensorflow-gpu`/`tf-nightly`/`tf-nightly-gpu` version: 2.3.0 cpu

**Reproduc

[2020-09-11 02:56] Kyrie-Zhao opened #2413 "[data request] Head CT - hemorrhage"
* Name of dataset: Head CT - hemorrhage
* URL of dataset: https://www.kaggle.com/felipekitamura/head-ct-hemorrhage
* License of dataset: public
* Short description of dataset and use case(s): This dataset contains 100 normal head CT slices and 100 other with hemorrhage. No distinction between kinds of hemorrhage. Labels are on a CSV file. Each slice comes from a different person.

[2020-09-11 06:27] mushan09 commented on #2087
Thank you Martin, I tried many methods but none of them worked. It took 2 days to download 20G.
I have no other ideas, so I will try again when the download is complete.

Thank you again for your help.

Sincerely,
Steve

[2020-09-11 12:37] Conchylicultor commented on #2406
It seems the website hosting the data is dead. If someone know where the data has moved, don't hesitate to send a PR.

[2020-09-11 15:32] Conchylicultor opened #2418 "Update documentation add dataset"
We should refactor the documentation add_dataset with the new features:

- Split `add_dataset` documentation into `create_dataset` about how to create a dataset in general, and `add_dataset_to_tfds` about how to add the dataset into TFDS.
- Advertise the new CLI `tfds new <dataset>` to create the template
- Describe the dataset-as-folder model/structure.
- Make the implementation less test-centric

[2020-09-11 15:42] Conchylicultor opened #2420 "More consistent `checksums.tsv`"
Currently, dataset checksums are saved as `checksums.tsv` but are not Tab-Separated-Values (but Space-Separated-Value).  This feel inconsistent.

We should update:
https://github.com/tensorflow/datasets/blob/3e90c815a61db5236063817cf699f2bd4d7eef58/tensorflow_datasets/core/download/checksums.py#L154
to save and load using tab instead of space.

* Current checksums should be updated to use tab.
* W

[2020-09-11 15:46] Conchylicultor opened #2421 "Better error message for dataset-as-folder model"
Currently, errors are not really informative when using dataset-as-folder model:

 * Missing checksums file (`register_checksums=True`)
 * Fake data dir not found (during testing),...
 * Other ?

Error messages are raised assuming the old structure (checksums in `tensorflow_datasets/checksums/`,...).
Instead, we should raise better error message indicating the path relative to the `DatasetBuilder.

[2020-09-11 16:05] Conchylicultor opened #2422 "Allow users to skip download and use manually downloaded data instead."
Users often encounter issue during download (e.g. VPN, dead link,...). But they may have already downloaded the data themself.

Currently, users are forced to rely on the automatic `DownloadManager` download. Instead, we should add a mode to check whether the download already exists in the `DownloadConfig.manual_dir`, and skip the download if so.

Mini-design doc:
* In order to detect whether the

[2020-09-11 16:08] Conchylicultor opened #2423 "Extraction bug for Github urls"
`dl_manager.download_and_extract` do not auto-detect the archive extension for github url (e.g. https://github.com/brendenlake/SCAN/archive/master.zip).

Currently, dataset creators are require to hardcode the extension format: https://github.com/tensorflow/datasets/blob/b9deaa07f567ad3211850a1e5c1ae993a1a03409/tensorflow_datasets/text/scan.py#L160

Fails (`data_dir` is downloaded but not extracte

[2020-09-11 16:12] Conchylicultor commented on #268
Closing this as the TFDS text API is gonna be removed from TFDS. Users should use https://github.com/tensorflow/text instead.

[2020-09-11 16:12] #268 closed

[2020-09-11 18:27] NikhilBartwal commented on #2420
@Conchylicultor I would like to take this issue.
As far as I understood we need to use `tab` instead of `space` in the following :

For retrieving:
https://github.com/tensorflow/datasets/blob/3e90c815a61db5236063817cf699f2bd4d7eef58/tensorflow_datasets/core/download/checksums.py#L154

For storing:
https://github.com/tensorflow/datasets/blob/3e90c815a61db5236063817cf699f2bd4d7eef58/tensorflow_datas

[2020-09-11 18:41] martinmamql commented on #2087
Not a problem Steve! Good luck on your project.

[2020-09-11 21:30] Conchylicultor commented on #2420
Thanks for looking into this. To keep it backward compatible, you can first try to load it as tab, then fallback to space if this fail

[2020-09-12 12:25] NikhilBartwal commented on #2420
@Conchylicultor I have fixed the `checksums `script and aded an `update_checksums `script for updating all checksum files (both .txt and .tsv).
Could you have a look at the PR? Thanks!

[2020-09-12 15:03] vijayphoenix commented on #2423
This bug occurs because we fail to pass the filename with extension.

We get the following response headers when we make a `get` request to the GitHub URLs.
(In this example `https://github.com/mogutt/README/archive/master.zip`)
[code]

So, when we pass the above response to the `_get_filaname` function:

https://github.com/tensorflow/datasets/blob/bd47f95c35096232e7ace131ae725c4ebdc7b3d3/tensorfl

[2020-09-12 23:35] adam-grant-hendry commented on #2261
@Conchylicultor The issue is described in [#42985](https://github.com/tensorflow/tensorflow/issues/42985), as previously mentioned. I will compare against `tfds-nightly`.

[2020-09-13 09:10] martinengelcke commented on #2157
Closing this issue. See #2279

[2020-09-13 09:10] #2157 closed

[2020-09-13 09:45] Harrypotterrrr commented on #2252
Here is a workaround to deal with this problem, downgrade the tensorflow-datasets:
[code]
None of the solutions works for me, but this.

[2020-09-13 18:36] harsh020 commented on #2422
Hi, @Conchylicultor I am very interested to work on this issue, but I am new here so, would like your help in it.
I went through `DatasetBuilder` class and `DownloadManager` class, what I didn't understand is that the `DatasetBuilder` class already has a `data_dir` which if exists would not execute the entire `download_and_prepare()`, so I am a bit unclear on where you want it to be implemented.
I

[2020-09-14 07:00] Flamefire commented on #2252
Not sure about which solutions you are talking about but I'll include 2 solutions:
- create a symlink at `/etc/ssl/certs/ca-certificates.crt` (likely) to `ca-bundle.crt` (make sure this exists, TF looks for `/etc/ssl/certs/ca-certificates.crt` only)
- When building TensorFlow from source build with system curl, see `$TF_SYSTEM_LIBS`. So in this case set `export TF_SYSTEM_LIBS='curl'` before buildi

[2020-09-14 21:38] swghosh opened #2431 "Support for TFRecords preparation in ImageFolder"
**Is your feature request related to a problem? Please describe.**
`tfds.ImageFolder` replaces the legacy dataset named `'image_label_folder'` in favor of a clean API that can be used to easily load datasets from local (or even GCS bucket) directories.

The `download_and_prepare` method:
https://github.com/tensorflow/datasets/blob/adb320ff04b6e93c561dacb2b647c8fcbfea92f3/tensorflow_datasets/core/f

[2020-09-15 01:23] carrycooldude commented on #2431
I want to work on this @swghosh

[2020-09-15 07:57] Conchylicultor commented on #2252
I would recommend you to try `tfds-nightly` as we might have send an update about this recently

[2020-09-15 08:40] Flamefire commented on #2252
Would you able to tell us more about that update? You do you workaround the issue that the curl bundled with TF uses the wrong certificate path? Don't you use TF for downloading anymore?

[2020-09-15 09:12] Conchylicultor commented on #2252
Reading on GCS is optional, so it should skip GCS rather than failing.

If it doesn't work in `tfds-nigthly`, could you try to add `tf.errors.AbortedError` in https://github.com/tensorflow/datasets/blob/adb320ff04b6e93c561dacb2b647c8fcbfea92f3/tensorflow_datasets/core/utils/gcs_utils.py#L43:
and send us a PR ?

[2020-09-15 09:23] Flamefire commented on #2252
First attempt installing it failed because it seems to require bazel. Are you going to make bazel an actual requirement of TFDS? If so please don't! Using Bazel on HPC systems is a nightmare.

After getting past this, this does indeed work without further changes

[2020-09-15 09:34] Conchylicultor commented on #2252
TFDS does not require bazel ? Are you not confusing with Tensorflow ?

[2020-09-15 10:49] Flamefire commented on #2252
Oh, you are right. This is from a dependency added in https://github.com/tensorflow/datasets/commit/6e2540f85bbfd0312d5611c2612cc38de98084f3 which adds `dm-tree` and which output I confused with TFDS because I did not expect a new lib to be installed. That one requires Bazel so TFDS requires Bazel indirectly. Example output:

[code]

As this is only required in 2 places and at least the "flatten"

[2020-09-15 11:08] Conchylicultor commented on #2431
We've explicitly designed `tfds.ImageFolder` to not rely on tf-record. I can see some users might want an easy way to create tf-record from images. But in this case, can't a new dataset be created ? Implementation should be trivial.

[2020-09-15 11:59] Conchylicultor opened #2435 "xnli crashes with tfds.dataframe"
To reproduce the issue:

[code]

Stacktrace:
[code]

It seems that `tfds.features.Text.repr_html` is called with a `np.ndarray` instead of a `bytes`. This is surprising as I would have expected `repr_html_batch` to be called instead.

[2020-09-15 13:38] fatma-hosni commented on #2403
how much sample in dataset ?(number of patients or number of ct scan for every patient not number of images ) maybe patient have more than ct scan image  ?

[2020-09-15 14:39] Conchylicultor commented on #2252
When are you seeing this error (which command are you running ?).

The only deps tree require is six (https://github.com/deepmind/tree/blob/master/requirements.txt).
You shouldn't need to compile tree from source. Why not `pip install` ?

[2020-09-15 15:05] Flamefire commented on #2252
I did use `pip install tfds-nightly` which basically reduces to `pip install dm-tree`. I guess the reason why I see this is that I ran it on POWER where no prebuild binary exists: https://pypi.org/project/dm-tree/#files

The same will happen for ARM clusters or when this should be installed as a module for all users of the HPC systems which requires (or at least strongly prefers) source builds.

[2020-09-15 15:19] swghosh commented on #2431
@Conchylicultor
Ohh, right.

So just curious while creating a new dataset (for the TFRecords prep part), do you mean by extending the `DatasetBuilder` class, right?

[2020-09-15 15:30] SuryashankarDas commented on #2423
Right now if the the content-disposition is not enclosed within quotes, we cant get a match. How about we do something like, if the match is null after the first case, we check for a match without quotes? It worked out when I tried.

[2020-09-15 17:24] Erik-Tran commented on #2403
Ah, sorry for not specifying. There are 376 patients but their routines all varied and so are the number of CT scans for each patient. For the most part, it looks like every image is a CT slice.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: fatma-hosni <notifications@github.com>
Sent: Tuesday, September 15, 2020 7:38:17 AM
To: tensorflow/datasets <datasets@nore

[2020-09-15 21:48] peidaqi opened #2440 "Problem loading and converting to tfrecords for quickdraw_bitmap dataset"
/!\ IF YOU WANT PEOPLE TO HELP YOU, PLEASE GIVE AS MUCH DETAIL AS POSSIBLE, INCLUDING THE FULL STACKTRACE AND CODE SNIPPET

**Short description**
Cannot load quickdraw_bitmap dataset and convert into tfrecords.

**Environment information**
* Operating System: Ubuntu 20.04
* Python version: Python 3.8.2
* `tensorflow-datasets`/`tfds-nightly` version: 3.2.1
* `tensorflow`/`tensorflow-gpu`/`tf-nightl

[2020-09-16 07:51] #2400 closed

[2020-09-16 09:09] Conchylicultor commented on #2431
Yes, I mean inheriting from `tfds.core.GeneratorBasedBuilder`.

[2020-09-16 09:30] dwolfschlaeger commented on #113
I concord. This would be quite an enhancement for my work with image-sequences/ videos in a production metrology use case.

[2020-09-16 17:24] Conchylicultor commented on #2252
It seems that TF expose the same pre-built package as `dm-tree`: https://pypi.org/project/tensorflow/#files

So I'm a little confused why the problem exists with dm-tree but not tensorflow. Or am I missing something ?

[2020-09-16 18:28] HaraBeron opened #2443 "NonMatchingChecksumError for datasets plant_village"
**Short description**
When trying to load the plant_village dataset with tfds.load the error occurs:

NonMatchingChecksumError

**Environment information**
* Operating System: Google Colab
* Python version: Google Colab Python 3.6.9 (default, Jul 17 2020, 12:50:27) [GCC 8.4.0]
* `tensorflow-datasets`/`tfds-nightly` version: tensorflow-datasets 3.2.1 /usr/local/lib/python3.6/dist-packages pip

**Re

[2020-09-16 18:30] vijayphoenix commented on #2443
Please upgrade tfds version

[2020-09-16 18:37] HaraBeron commented on #2443
I upgraded to tensorflow-datasets 3.2.1. But the issue still exists.

[2020-09-17 07:59] Flamefire commented on #2252
We already build TensorFlow from source. This is required for our POWER (and likely ARM) nodes (no wheel) and better in general as performance there **really** matters. So compiling with arch-specific optimizations and GPU specific architectures enabled has advantages. However their use of Bazel is a constant source of problems. So basically with every TF release new patches are required to make i

[2020-09-17 09:32] Conchylicultor commented on #2252
Thank you for the explanations.

The reason we have added `dm-tree` is because we would like to gradually better layered our dependencies. Ultimately, we would like to have a "core" library which doesn't depends on TF at all, but use instead smaller independent libs (dm-tree, gfile,...).
This would allow building different front-end (e.g. for Jax users) which don't need the full TF package.

But t

[2020-09-18 11:39] #2443 closed

[2020-09-18 12:25] Conchylicultor opened #2446 "Support reading config for partial versioning 'my_dataset:3.*.*'"
Currently, the dynamic finding dataset does not work when the version is partial:

[code]

Instead, we should update the `_get_last_version(builder_dir)` as: `version_str = _get_version_str(builder_dir, version_str)` to search match the `version_str` across the existing versions:

[code]

[2020-09-18 12:42] Conchylicultor opened #2447 "Add a `tfds build` CLI command"
The idea would be to deprecate the `download_and_prepare.py` script to instead use the `tfds build my_dataset` command.

Note:

 * Implementation should be split in small independents cls. (e.g. first PR only create an new `script/build.py` file and register the command, but without any logic)
 * Gradually, all features from `download_and_prepare.py` should be migrated, but each feature should be

[2020-09-18 12:53] Conchylicultor opened #2448 "Add a new docs/cli.md section"
To better advertise the CLI, we should add a new page in the doc (`docs/cli.md`), which would have `## tfds <cmd>` section for each command, with a few examples (currently only `## tfds new`).

[2020-09-18 15:38] ibarrond commented on #1455
If anyone is looking for this in the future, you can instead concatenate each split in one line of code:
[code]
SOURCE: https://stackoverflow.com/questions/56546672/how-can-i-merge-two-or-more-tensorflow-datasets

[2020-09-18 16:26] acharles7 commented on #2447
@Conchylicultor I would like to work on this.

[2020-09-18 16:57] Conchylicultor commented on #1455
@ibarrond
Note that
[code]
might be more performant.

Also in your above code, each split is read sequentially, (all train, then all test,...) while users might want to shuffle between splits (possible with `shuffle_files=True`)

[2020-09-18 21:40] rajcscw opened #2450 "QASC dataset: answerKey missing in test split"
**Short description**
In [QASC](https://www.tensorflow.org/datasets/catalog/qasc?hl=cs) dataset, answerKey field is missing in the test samples.

**Environment information**
* Operating System: Ubuntu
* Python version: 3.7
* `tensorflow-datasets`/`tfds-nightly` version:  3.2.1
* `tensorflow`/`tf-nightly` version:  3.2.1.dev202009090105

**Reproduction instructions**

[code]

[2020-09-21 08:40] Conchylicultor commented on #2450
Does the dataset actually publish a test set ? Otherwise, you'll have to manually create your test set with the https://www.tensorflow.org/datasets/splits API

[2020-09-21 08:48] JosFang commented on #807
I guess the reason is that it is too slow to download this dataset

[2020-09-21 09:27] Conchylicultor commented on #2423
Thank you for fixing this bug.

As follow up, we should cleanup the `tfds.download.Resource` as in https://github.com/tensorflow/datasets/blob/b9deaa07f567ad3211850a1e5c1ae993a1a03409/tensorflow_datasets/text/scan.py#L160,
and check the download are still working.

[2020-09-21 09:45] rajcscw commented on #2450
Yes, seems like the test split is available for this dataset https://www.tensorflow.org/datasets/catalog/qasc, but the labels are missing. Not sure, if this is intentional.

[2020-09-21 12:06] vijayphoenix commented on #1506
@Conchylicultor Can be renamed or closed....

[2020-09-21 13:24] vijayphoenix commented on #2321
@ericpts
We recently fixed a similar bug https://github.com/tensorflow/datasets/issues/2423. (Fixed by https://github.com/tensorflow/datasets/commit/bb2ce95481c401431ca922dd6e331a4b54def627)
This should appear in `tfds-nightly` soon.

Please try again and let us know the results.

[2020-09-21 13:32] Conchylicultor commented on #2321
The CelebA bug is likely a duplicate of https://github.com/tensorflow/datasets/issues/1482

[2020-09-21 13:49] vijayphoenix opened #2460 "CleanUp Dataset Code"
**Short description**
Recently, the bug #2423 related to the auto-detection of filename and extension was fixed.

So, we can remove some unnecessary code from the datasets given below.

Steps:
* Remove `tfds.download.resource` from the datasets given below.
* Download and prepare the datasets.
* Add the link to generated `dataset_info.json`

For reference, see https://github.com/tensorflow/dataset

[2020-09-21 13:51] Conchylicultor commented on #2450
The issue could have been rename. Test split exists but label are missing.

Are the labels available in the original dataset ? Some datasets have private labels, and require users to upload result on their leaderboard (e.g. imagenet has public train and val set, but private testing set).

As https://allenai.org/data/qasc has a leaderboard, I think the labels are private to avoid cheating.

[2020-09-21 13:52] #2423 closed

[2020-09-21 14:27] rajcscw commented on #2450
Ah, you are right. Totally makes sense. Maybe, the documentation of the dataset could have some explanation regarding this.

[2020-09-21 14:32] Conchylicultor commented on #2450
Yes, probably, don't hesitate to send a PR for this.

[2020-09-21 17:50] SuryashankarDas commented on #2460
If no one is already working on it, I would like to work on this. btw, should i squash it all in a single commit or do it one by one?

[2020-09-21 17:55] Keshav15 commented on #2460
I would Also  like to work on this issue

[2020-09-21 18:29] shahaf-m opened #2461 "Problem with checksum value for imagenet_v2 dataset"
Hey,

I'm getting this error when trying to work with [imagenet_v2 dataset](https://www.tensorflow.org/datasets/catalog/imagenet_v2), The website is up and running and it is not a google drive or a new dataset. Could you please look into it?
Thank you!

tensorflow_datasets.core.download.download_manager.NonMatchingChecksumError: Artifact https://s3-us-west-2.amazonaws.com/imagenetv2public/imagenet

[2020-09-21 18:59] vijayphoenix commented on #2460
Please fix only 3-5 datasets per pull request.
Feel free to distribute the work among yourself.

[2020-09-21 19:30] Conchylicultor opened #2463 "Better release notes"
Currently, datasets updates are poorly documented. The API isn't great, and it requires versions to still be supported.

[code]

Instead, it improve usability and discoverability to have an entirely separate field, independent of the supported version, like:

[code]

Notes:

* This field should be added to `BuilderConfig` too.
* `tfds new <>` template should be updated to have `RELEASE_NOTES = {..

[2020-09-21 19:47] Ak0303 commented on #2460
I would also like to work on this !!

[2020-09-21 22:35] #2446 closed

[2020-09-22 11:43] nordmoen commented on #1975
One solution I found was to explicitly set `CUDA_VISIBLE_DEVICES=0`, e.g. `CUDA_VISIBLE_DEVICES=0 python -m tensorflow_datasets-scripts.download_and_prepare --data_dir=./data --datasets="imagenet2012"`.

[2020-09-22 12:37] zaccharieramzi commented on #2321
Hi @vijayphoenix ,

I tried just now with `tfds-nightly`, and still got the `KeyError: <ExtractMethod.NO_EXTRACT: 1>` error.
Do you know when the next nightly release will be?
It seems that it stopped on september 9th for some reason: https://pypi.org/project/tfds-nightly/#history .

[2020-09-22 13:55] jiunoh opened #2474 "WMT14 de-en "AssertionError: Sizes do not match""
**Short description**
`tfds.load(data_dir='./tensorflow_datasets', name='wmt14_translate/de-en', with_info=True, as_supervised=True)`
this gets
[code]
again and again.

**Environment information**
* Operating System: <Ubuntu 18.04>
* Python version: <3.6.9>
* `tensorflow-datasets`/`tfds-nightly` version: tfds-nightly, also tried tensorflow-datasets==3.2.1
* `tensorflow`/`tf-nightly` version: tf-ni

[2020-09-22 14:04] ibarrond commented on #2286
Same Issue. I tried creating a "fake" training dataset, but apparently there is some checksum being aplied to make sure that the file is correct. Maybe an empty `.tar` file with a hardcoded checksum would do the trick?

[2020-09-22 16:00] rd16395p opened #2476 "Command tfds.as_dataframe fails to make dataframe"
**Short description**
When I call tfds.as_dataframe, it gives the error below.

**Environment information**
* Operating System: Ubuntu 20.04
* Python version: 3.8
* `tensorflow-datasets`/`tfds-nightly` version: tfds-nightly v3.2.1.dev202009090105
* `tensorflow`/`tf-nightly` version: tensorflow v2.3

* Does the issue still exists with the last `tfds-nightly` package (`pip install --upgrade tfds-nig

[2020-09-22 18:41] Conchylicultor commented on #2476
Thank you for reporting the issue. This is because `tfds.as_dataframe` does not support `as_supervised=True` when `ds_info` is set. I'm sending a fix for this now.

However, what are you trying to use as_dataframe for ? If this is for visualization, you shouldn't batch, nor normalize image before calling `as_dataframe`.

[2020-09-22 18:49] rd16395p commented on #2476
@Conchylicultor Just an application I have.

Should I load the dataset with as_supervised=True?

[2020-09-22 19:08] Conchylicultor commented on #2476
If you do NOT use `tfds.as_dataframe` for visualization, then: do no pass `ds_info`:

[code]

[2020-09-22 19:22] rd16395p commented on #2476
Ok, thank you!

[2020-09-23 08:05] #2404 closed

[2020-09-23 08:32] #2476 closed

[2020-09-23 12:33] Conchylicultor commented on #2286
We could add a condition, similar to the one to skip the test set if not present: https://github.com/tensorflow/datasets/blob/c7439f84c2a77891e07a8e154cbde21f6ddcc8e9/tensorflow_datasets/image_classification/imagenet.py#L211

Don't hesitate to send a PR.

[2020-09-23 14:26] ibarrond commented on #2286
PR sent!

[2020-09-23 17:41] gakusai opened #2487 "Support uint16 image type for ImageFolder"
The ImageFolder loads the images from a given directory default in uint8. For various reasons it would be useful to have the ability to select the default image dtype (**uint8 or uint16**) of the ImageFolder, especially because **tfds.features.Image** has a uint16 support.

Also see this issue: [Allow uint16 for png encoded image feature](https://github.com/tensorflow/datasets/issues/213)

Link to

[2020-09-23 21:18] nikitadurasov opened #2488 "Imagenet2012 manual loading instructions doesn't work"
**Short description**
So I'm trying to work with Imagenet2012 dataset and because of some disk quota I need to set TFDS default directory to something different from "~/tensorflow_datasets". According to instructions from [here](https://www.tensorflow.org/datasets/catalog/imagenet2012)

manual_dir should contain two files: ILSVRC2012_img_train.tar and ILSVRC2012_img_val.tar. You need to register o

[2020-09-24 07:34] #2461 closed

[2020-09-24 11:33] NikhilBartwal commented on #2463
@Conchylicultor I would like to work on this. If I got it write, we need to:
* Remove the realease notes from the `VERSION` and add a separate `RELEASE_NOTES` variable for the dataset class and the dataset `BuilderConfig`, whichever it may be.
* Keep only the versions in `SUPPORTED_VERSIONS`

Could you point me as to how the `tfds new <>` template should be updated and if we need to do this for al

[2020-09-24 11:50] Conchylicultor commented on #2463
Thank you for looking into this.

By updating the template, I'm only talking about updating the https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/scripts/cli/new.py#L150
field. Current datasets shouldn't be updated.

I think at first we should keep both fields, for backward compatibility (but raise a logging.warning). Then once all users/datasets have been migrated, we could d

[2020-09-25 07:11] ksjae opened #2491 "C4 dataset creation fails"
**Short description**
C4 dataset creation fails with AttributeError: Can't get attribute '_create_code' on <module 'dill._dill' from '/usr/local/lib/python3.7/site-packages/dill/_dill.py'>

**Environment information**
* Operating System: Google Cloud Dataflow
* Python version: 3.7
* `tensorflow-datasets`/`tfds-nightly` version: <package and version> latest(installed today)
* `tensorflow`/`tf-night

[2020-09-25 15:58] nikitadurasov commented on #2488
It seems one of the tar files was corrupted, everything works properly after fixing it. Closing.

[2020-09-25 15:58] #2488 closed

[2020-09-26 02:10] Keshav15 commented on #2463
ohh I havent seen that You already created it.

[2020-09-27 03:21] tacho090 commented on #119
Guess this issue can be closed because of PR #445 ?

[2020-09-27 10:32] guillaumelorre28 opened #2498 "Bug dataset UCF-101 download"
**Short description**
An error occurs at the beginning of the download of UCF-101 dataset.

**Environment information**
* Operating System: Ubuntu
* Python version: 3.6.9
* `tensorflow-datasets`/`tfds-nightly` version: 3.2.1
* `tensorflow`/`tf-nightly` version: 2.3.0

**Reproduction instructions**

[code]

**Link to logs**

[code]

**Expected behavior**

No error when downloading the dataset

[2020-09-27 18:40] harsh020 commented on #2422
Hi, @Conchylicultor I was trying to understand how and what to do, for this issue. I think I figured out what to do. So, what I understood is -

- we need to add a `record_checksum` flag to `store_checksums()` to store the `dataset_name` along with other details.

- and when the user uses `download_and_prepare` we need to check if `dataset_name` is present and also the `manual/<dataset_name>` is p

[2020-09-27 22:49] sameerp815 opened #2499 "How to convert my tf.data.dataset into x_train, y_train and x_test, y_test"
I created a tf.data.dataset using the instructions on the keras.io documentation site.

`dataset = tf.keras.preprocessing.image_dataset_from_directory(
    directory,
    labels="inferred",
    label_mode="int",
    class_names=None,
    color_mode="rgb",
    batch_size=32,
    image_size=(32,32),
    shuffle=True,
)`

My file directory is organized into classes with jpg files inside.

I don't kno

[2020-09-28 10:19] marineb30 opened #2500 "Keras tensorflow : Get predictions and their associated ground truth labels afetr model.evaluate() or model.predict()"
I am new to Tensorflow and Keras so the answer is perhaps  simple, but I have a batched and prefetched tensorflow dataset (of type `tf.data.TFRecordDataset`) which consists in images and their label (int type) , and I apply a classification model on it.

            `y_pred = model.predict(tf_test_dataset)`

I would like to compare classification results from ground truth for each image and put th

[2020-09-28 10:35] Rajendracodes opened #2501 "I need a dataset for lyrics of songs"
**What I need help with / What I was wondering**
Your question, or a clear description of what you're looking for help with.

**What I've tried so far**
A description of what you've tried so far to solve your problem.

**It would be nice if...**
Could we have done anything to make things better (documentation, etc.)?

**Environment information**
(if applicable)
* Operating System: <os>
* Python ve

[2020-09-29 17:25] pawarharshit commented on #2413
I want to contribute in this. can you assign it to me

[2020-10-01 11:36] tobiasmaier opened #2503 "Allow images with 4 channels in Image FeatureConnector for png encoding"
**Is your feature request related to a problem? Please describe.**
I have RGBA images that I would like to use with TFDS using the Image FeatureConnector.

**Describe the solution you'd like**
Add 4 channels to ACCEPTABLE_CHANNELS for png encoding.
[code]

**Describe alternatives you've considered**
Currently this requires me subclass tfds.features.Image to allow 4 channel images.

**Additional co

[2020-10-01 11:56] Conchylicultor commented on #2503
I believe that when we added `tfds.features.Image`, `tf.image.decode` didn't supported image yet.

Please don't hesitate to send a PR to fix this (with a test to make sure this is working).

[2020-10-01 12:32] Conchylicultor commented on #2500
Are you using TFDS (`import tensorflow_datasets`) or `tf.data.Dataset` ?

If the labels are different, it might means your pipeline is non-deterministic (e.g. you're using `ds = ds.shuffle()`).

To get the prediction, you could use something like:

[code]

[2020-10-01 12:35] Conchylicultor commented on #2499
From the doc: https://www.tensorflow.org/api_docs/python/tf/keras/Model?version=nightly#fit

`x` Input data. It could be:
* A tf.data dataset. Should return a tuple of either (inputs, targets) or (inputs, targets, sample_weights).
* A generator or keras.utils.Sequence returning (inputs, targets) or (inputs, targets, sample_weights). A more detailed description of unpacking behavior for iterator ty

[2020-10-01 12:49] Conchylicultor commented on #2422
Thank you for looking into it.

As a first step: https://github.com/tensorflow/datasets/blob/09e720f0755c3e808a562dbb49de9c0368463116/tensorflow_datasets/core/download/checksums.py#L36

should be updated to also include the dataset name:

[code]

Then update the different places where `UrlInfo` is used to save, restore the name correctly. Like:
* store_checksums
* _parse_url_infos
* https://github

[2020-10-01 12:51] #119 closed

[2020-10-01 12:54] Conchylicultor commented on #662
Closing this. We've improved our doc by adding end-to-end keras examples, and added a `tfds.decode.SkipDecoding` API. For the transformation, it has less value as the previous comment pointed.

[2020-10-01 12:54] #662 closed

[2020-10-01 13:54] Conchylicultor commented on #2463
Then in parallel, we should update `scripts/documentation/` to use `RELEASE_NOTES` / `builder_config.release_notes` instead of the current `builder.version.description`.

For the display, if `builder_config.release_notes` exists, it should be used, otherwise, `RELEASE_NOTES` should be used.

[2020-10-01 13:57] NikhilBartwal commented on #2463
@Conchylicultor I will be sending the PRs soon :)

[2020-10-01 14:04] pawarharshit commented on #2413
can you tell me how we add a kaggle dataset with the help of dl_manager.manual_dir

[2020-10-01 16:47] NikhilBartwal commented on #2463
@Conchylicultor I ran the `groove_test`, `vctk_test` and the `gcs_utils_test` and they seem to fail with `pytest` even without any change with the `Version(description=)`
Here is, for example, the complete log for `gcs_utils_test` even with the original `Version(description=)`

[code]

[2020-10-01 20:06] vijayphoenix commented on #2463
By looking at the logs like

@NikhilBartwal I guess some of those errors are because of Windows OS.
So, it not related to `RELEASE NOTES`.

[2020-10-01 20:20] vijayphoenix commented on #2355
Closed via https://github.com/tensorflow/datasets/commit/cdd5484a3478ba9d8a3412c85cf6a712f304c081

[2020-10-01 20:20] #2355 closed

[2020-10-01 20:21] vijayphoenix commented on #2329
Let us know if you still face any issue

[2020-10-01 20:21] #2329 closed

[2020-10-01 20:27] vijayphoenix commented on #2161
For future work, see https://github.com/tensorflow/datasets/issues/2447

[2020-10-01 20:27] #2161 closed

[2020-10-01 20:30] vijayphoenix commented on #2232
Closing in favor of https://github.com/tensorflow/datasets/issues/2447

[2020-10-01 20:30] #2232 closed

[2020-10-01 20:36] vijayphoenix commented on #2321
Hi @zaccharieramzi,
Can you try again with updated `tfds-nightly`?

[2020-10-01 20:50] vijayphoenix commented on #719
TFDS text encoders are deprecated.
Please use tensorflow_text instead which is better supported and tested and doesn't have some of the bugs from here.
https://www.tensorflow.org/tutorials/tensorflow_text/intro

[2020-10-01 20:50] #719 closed

[2020-10-01 20:51] vijayphoenix commented on #702
API deprecated

[2020-10-01 20:51] #702 closed

[2020-10-02 01:04] whatwilliam opened #2513 "Tensorflow Datasets TypeError: __array__() takes 1 positional argument but 2 were given"
**Short description**
Draft of #2399
I created a tensorflow datset code that takes in a folder of mp3 files and a dictionary that matches the mp3s to their labels and returns two tensors, an audio tensor and a label tensor. tfds.load is able to run and create a dataset however when running a tfds test, it is unable to run test_download_and_prepare_as_datset.

**Environment information**
* Python v

[2020-10-02 10:15] Conchylicultor commented on #2513
I think the reason you're seing this error is because you're yielding `tf.Tensor`:

Instead during generation you should yield `np.array`, `int`,... for the audio, you can directly yield the filepath:

[code]

TFDS will automatically convert the int, str into `tf.Tensor`

[2020-10-02 15:46] Conchylicultor opened #2521 "Accept bytes, instead of file object for tfds.features.Images."
`tfds.features.Images` currently supports multiple input:
* str (e.g. `'/path/to/img.jpg'`)
* np.array
* file objects (e.g. with open('img.jpg', mode='rb') as f:)

For some datasets (e.g. WaymoOpenDataset), it would be nice to also accept images bytes directly, without having to wrap them in a file-object:

Before
[code]
After:
[code]

[2020-10-02 15:46] oricou commented on #2321
I have just tried with version 3.2.1.dev202010020107, it still has the same issue

KeyError: <ExtractMethod.NO_EXTRACT: 1>

[2020-10-02 16:26] Conchylicultor opened #2522 "`version` should be optional for `BuilderConfig`"
The vast majority of `BuilderConfig` are using the same version and are updated at the same time. It is boilerplate to have to specify the version for each config. Instead, the global version should be used by default.

Before:
[code]

After
[code]
If both global and `BuilderConfig` versions are specified, the `BuilderConfig` version should be used.

[2020-10-02 19:00] NikhilBartwal commented on #2463
@Conchylicultor All files mentioned here have been updated as per the new version and release note format.
There are, however, many other datasets, which have not been mentioned here (probably because they currently do not have any tests associated with them) having the old `Version(description=)`.
I will update those and send PRs soon!

[2020-10-02 20:17] #2503 closed

[2020-10-02 21:50] whatwilliam commented on #2513
I had the program yield the filepath and had the label feature take in a list of ints and it worked! Thank you so much.

[2020-10-03 08:23] #2487 closed

[2020-10-03 13:08] vijayphoenix commented on #2138
Completed by https://github.com/tensorflow/datasets/commit/358b069bbb83ae6f7a0cb7bd65940c0c0addf283

[2020-10-03 13:08] #2138 closed

[2020-10-03 18:34] NikhilBartwal commented on #2463
@Conchylicultor I would like to work on the updated documentation. As far as I have understood, we need to add a `ReleaseNotesSection` to the `dataset_markdon_builder.py` and update the `display()` method.
Could you point me out as to what are the changes that needs to be incorporated? Thanks!

[2020-10-03 20:32] ItamarRocha commented on #299
That's really unfortunate. I was seeking for a copy, but I've seen it wasn't even released. What a shame,

[2020-10-04 04:41] whatwilliam commented on #2513
'''
CouldntDecodeError                        Traceback (most recent call last)
<ipython-input-4-4b6210c7bbc3> in <module>
      1 ds = tfds.load('audioset', data_dir='gs://bme590/william/cake5', download_and_prepare_kwargs={
----> 2     'download_config': tfds.download.DownloadConfig(manual_dir='gs://bme590/william/manual', compute_stats=tfds.download.ComputeStatsMode['SKIP'])
      3 })

~/datas

[2020-10-04 09:58] mahrahimi1 opened #2535 "Wikipedia Dataset Is Broken"
When I try to download the English Wikipedia dataset using:

[code]

I get the error:

[code]

I would like to download it locally (not on GCS).

Environment information
Operating System: Windows 10
Python version: 3.8.3
tensorflow-datasets: 3.2.1
tensorflow version: 2.3.1

[2020-10-04 16:24] harsh020 commented on #2422
@Conchylicultor Hi, thanks for the info. I was working on the `URLInfo` class and was wondering that if we convert it to a `dataclass` I don't think we need to override the `__eq__` magic method, bcs `dataclass` default compares the data of two instances and not their location in memory.

Thanks.

[2020-10-05 08:01] Conchylicultor commented on #2535
It is because wikipedia files are only hosted for a a few months. So the 20200301 files have been deleted.

Note: Rather than regenerating the data, You could manually download GCS on windows: directly from: https://pantheon.corp.google.com/storage/browser/tfds-data/datasets/wikipedia
using gcs_util CLI.

[2020-10-05 09:40] Conchylicultor commented on #2513
You could hardcode the files which are buggy and filter them. I'm sending a PR to improve error message.

[2020-10-05 11:40] Conchylicultor commented on #2463
Thank you.

Rather than creating a new section. I think we should update the current `version` field (which [already exists](https://www.tensorflow.org/datasets/catalog/kmnist)):

https://github.com/tensorflow/datasets/blob/4662c2cc0be04addb4f9cfd52f656bd60e367265/tensorflow_datasets/scripts/documentation/dataset_markdown_builder.py#L183

1. We should add some `_get_release_notes(builder) -> Dict[

[2020-10-05 12:24] Conchylicultor opened #2537 "Better API to define splits"
This change would make the API more explicit and remove some of the boilerplate.

* All classes would inherit from `tfds.core.GeneratorBasedBuilder`.
* `tfds.core.SplitGenerator` indirection would be removed in favour of directly calling `_generate_examples`
* It would be fully backward compatible with the existing datasets.
* We would auto-detect whether the dataset is Beam or non-beam dataset ba

[2020-10-05 12:48] yeaaaaaah opened #2538 "chinese[data request] <dataset name>"
* Name of dataset: <name>
* URL of dataset: <url>
* License of dataset: <license type>
* Short description of dataset and use case(s): <description>

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests to prioritize.

And if you'd like to contribute the dataset (thank you!), see our [guide to adding a dataset](https://g

[2020-10-05 12:48] #2538 closed

[2020-10-05 22:59] whatwilliam commented on #2399
Hey @infiniteoverflow, sorry I didn't see your post. I've been working on Audioset as well and I think our PRs are synergistic
Something I wanted was the raw audioclip data from youtube, but this was difficult to get and required me to manually download youtube videos and strip to the 10s clip of interest.

Would you be interested in merging our versions together as a builder config?

[2020-10-05 23:38] whatwilliam commented on #2513
I was able to run through the load successfully by doing what you suggested and running Audiosegment.from_file within the try catch of the generate examples. Thank you so much!

[2020-10-05 23:38] #2513 closed

[2020-10-06 07:30] Acebee opened #2539 "Unknown error appears when I use the UCF101 dataset. Perhaps some bug exists in the file extractor.py."
**Short description**
when I try to use the UCF101 dataset ，the program report something like this
tensorflow.python.framework.errors_impl.OutOfRangeError: E:\tfdsdata\datasets\ucf\downloads\thumos14_files_UCF101_videosxm55JXkGdBSDxwckqpN5c7GNr_LXm9dTyoJdpxR_aas.zip; Unknown error

**Environment information**
* Operating System: Win10
* Python version: 3.7(Conda)
* `tensorflow-datasets`/`tfds-nigh

[2020-10-06 07:41] Acebee commented on #2498
you can solve the issue by modifying the downloader.py(envs\py36\Lib\site-packages\tensorflow_datasets\core\download\extractor.py) file at line 191:
`with session.get(url, stream=True) as response: `
to
`with session.get(url, stream=True,verify=False) as response:`

[2020-10-06 11:19] kislayom opened #2540 "[data request] <dataset name>"
* Name of dataset: <name>
* URL of dataset: <url>
* License of dataset: <license type>
* Short description of dataset and use case(s): <description>

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers can know which requests to prioritize.

And if you'd like to contribute the dataset (thank you!), see our [guide to adding a dataset](https://g

[2020-10-06 11:30] xlcbingo1999 commented on #807
SAD. I have the same problem with you because we both live in CHINA!

[2020-10-06 12:35] Conchylicultor commented on #807
If you have issue with GCS, could you try set `_is_gcs_disabled = True` and report if this works ?
 https://github.com/tensorflow/datasets/blob/5dd79ad752cf87126eb70d8d267ce13526007829/tensorflow_datasets/core/utils/gcs_utils.py#L34

If so, could you try updating this function to catch the error which is raised, and skip GCS:

https://github.com/tensorflow/datasets/blob/5dd79ad752cf87126eb70d8d267

[2020-10-06 12:35] Conchylicultor commented on #807
Also could you make sure the issue isn't already solved in `tfds-nightly` ?

[2020-10-06 13:13] Conchylicultor opened #2541 "Add config_description to the dataset_info.proto"
Similar to #2326 but for the config description.

Currently, only the `DatasetInfo.description` is saved in `dataset_info.json`, but not `DatasetBuilder.builder_config.description`. We should update the `dataset_info.proto` to also save the config description.. This will make sure that generated datasets can be properly documented, even if the original source code isn't present.

[2020-10-06 14:13] #2540 closed

[2020-10-06 20:55] harsh020 commented on #2422
@Conchylicultor Hi, I've been trying to understand it for about 4 days now, but I think I would need a bit of your help. I'm not able to understand the flow of `DownloadManager` like which class is using it. So, I'm not able to understand where in class should I implement this -

[2020-10-07 08:34] Conchylicultor commented on #2422
Yes, if `@dataclasses.dataclass(eq=True)` is used, then `__eq__` and `__repr__` will automatically be generated

## PR1: Add UrlInfo.filename

The first PR should only be about adding a new `url_info.filename`, even if it isn't used yet.

Could you send a draft PR with what you have accomplished so far ? It's normal to not understand everything. As suggested above, for the first PR, simply update

[2020-10-07 12:37] iamsdas commented on #2541
Added PR

[2020-10-08 01:18] SamuelMarks opened #2545 "`tfds.as_numpy` output is missing attribute '__qualname__'"
**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): No
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): macOS 10.15.7
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device:
- TensorFlow installed from (source or binary): binary
- TensorFlow version (use command below): v2.3.0-54-

[2020-10-08 07:03] Conchylicultor commented on #2545
Could you share how are you are using `tfds.as_numpy` and point out to the code line where `__qualname__` is called (this isn't obvious from the link you posted). Why are you trying to use `__qualname__` for ?

I think this is working as intended. `__qualname__` is a property of type, not instance (like `__name__`), so:

[code]

[2020-10-08 11:16] Conchylicultor opened #2549 "Add a test to check that filename isn't used as key"
In TFDS, the example order is guarantee to be deterministic, using the key yield by `_generate_examples`.

However, a few dataset has been badly implemented by using non-deterministic key:

[code]

This is a bug, the key contains the user path (`key == '/home/conchylicultor/tensorflow_datasets/download/...'`), so multiple users generating the dataset will get examples in different order. The corre

[2020-10-08 15:55] Conchylicultor commented on #2042
Fixed by https://github.com/tensorflow/datasets/pull/2099

[2020-10-08 15:55] #2042 closed

[2020-10-08 16:07] Conchylicultor commented on #2448
This has been added by #2529

[2020-10-08 16:07] #2448 closed

[2020-10-08 17:32] harsh020 commented on #2422
@Conchylicultor Yup, I have already finished the work for 1st PR few days ago. Will open a PR now.

Thanks.

[2020-10-09 15:22] vijayphoenix commented on #2541
Fixed by https://github.com/tensorflow/datasets/pull/2544

[2020-10-09 15:22] #2541 closed

[2020-10-09 20:33] codeboy5 commented on #2522
Hey i was interested in taking up this issue.
So what we want is that inside the `DatasetBuilder` class, we should set the version to the global version if that argument is not passed and to the value if argument is passed.
Is that the right way to go about it ? @Conchylicultor

[2020-10-10 09:16] Conchylicultor commented on #2522
Yes, exactly: `builder.version` should be `.VERSION` if `builder.builder_config.version` do not exists.

[2020-10-10 09:39] sladyn98 commented on #2549
Hey, this sounds a cool issue. I would love to work on it :)

[2020-10-10 13:07] SamuelMarks commented on #2545
Hmm… was able to replicate it locally, looks like the different came between 3.2.1 and 4.0.1. My tests pass on tfds 3.2.1 and tf 3.2.1; but fail when tfds is upgraded to 4.0.1.

[2020-10-11 19:15] sourabhsingh282 commented on #2549
I would like to work on this

[2020-10-12 04:20] ameet-1997 commented on #2535
Is there some way to download the zip files from Wikipedia dumps and use the TensorFlow code only to preprocess the files?
Would it be possible to add that functionality?

[2020-10-12 08:44] Conchylicultor commented on #2535
Why downloading the original files when the dataset is already processed in: https://console.cloud.google.com/storage/browser/tfds-data/datasets/wikipedia ?

[2020-10-12 09:15] Conchylicultor commented on #2549
@sourabhsingh282 thank you! Don't hesitate to send a PR.

[2020-10-12 10:01] Conchylicultor commented on #2545
`tfds.as_numpy` now returns a re-usable iterable, instead of an iterator. So

[code]

has to be replaced by:
[code]

[2020-10-12 10:05] Conchylicultor commented on #2545
The previous `ds` returned by `as_numpy` might have a `__qualname__` explicitly set. So `instance.__qualname__` would have worked accidentally. The new TFDS might has broken this, so you should update your code where `__qualname__` was called on an instance, to be consistent with Python

[2020-10-12 10:26] Conchylicultor opened #2561 "[Cleanup] Rewrite checksums.py to use `importlib_resources`"
Currently, https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/download/checksums.py read checksums using relative dir: https://github.com/tensorflow/datasets/blob/0c308e4b7be9d0c834d0021c6cf6566f6cd57c00/tensorflow_datasets/core/download/checksums.py#L28

This is hacky when more modern https://docs.python.org/3/library/importlib.html#importlib.resources.files exists with a

[2020-10-12 10:37] Conchylicultor opened #2562 "Add a Pathlib-like protocol in type_utils.py"
https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/utils/type_utils.py define Python typing annotations.

Currently it's not easy to annotate function which accept multiple types of pathlib-like object:

[code]

All `pathlib.Path`,... have the same interface, but are not based on the same class.
We should have a typing annotation based on protocol (https://www.python.org/d

[2020-10-12 14:07] Conchylicultor commented on #2498
Did this worked ? If so, you can send a PR to add a `tfds.download.DownloadConfig(verify_ssl=False)` to disable certificat checking.

[2020-10-12 18:06] iamsdas commented on #2561
Added the PR

[2020-10-13 08:15] #1897 closed

[2020-10-13 10:31] Conchylicultor commented on #2562
Could be inspired from `importlib_resources.abc.Traversable`:

[code]

[2020-10-13 19:36] Ositolam commented on #2073
Please add the dataset

[2020-10-13 20:50] Conchylicultor opened #2568 "Add a Pathlib-like API around tf.io.gfile"
pathlib.Path is a modern, typed, oriented object file API. However, it can't access GCS and other filesystem.

It would be nice to have a GPath wrapper around the gfile API. Not all pathlib API need to be implemented but the main methods iterdir, isdir, read_text,...

[code]

[2020-10-14 10:25] vijayphoenix commented on #1223
Outdated issue.
See https://github.com/tensorflow/datasets/issues/2418

[2020-10-14 10:25] #1223 closed

[2020-10-14 10:39] Conchylicultor commented on #2498
There is now a `tfds.download.DownloadConfig(verify_ssl=False)` in `tfds-nightly`. Please use this to silent the error.

[2020-10-14 10:39] #2498 closed

[2020-10-14 17:30] harsh020 commented on #2422
@Conchylicultor, I'm sorry for the delay, I will open the 2nd PR by 16th night.

Thanks.

[2020-10-14 17:52] acharles7 commented on #2568
@Conchylicultor  I would like to work on this.

[2020-10-14 18:38] sourabhsingh282 opened #2578 "TFDS clonning issue"
**Short description**
I am trying to clone the  TensorFlow dataset repository on my GitHub desktop but it is showing me an error

**Environment information**
* Operating System: <windows home 10>
* Python version: <3.9.2>
**Reproduction instructions**

[code]
![Capture8](https://user-images.githubusercontent.com/47795037/96031699-56811b00-0e7b-11eb-954a-aeb0106f2cd8.PNG)

[2020-10-14 19:26] MRmeehan opened #2579 "emnist/letters dataset has 26 classes not 37"
**Description of issue**
emnist/letters says it has 37 classes but it really only has 26

Describe what the problem is. Please include URL(s) if possible.

https://www.tensorflow.org/datasets/catalog/emnist
On the above URL the the emnist/letters dataset is described as having 37 classes. It actually only has 26 classes. All upper and lower case letters were merged together in the emnist/letters d

[2020-10-14 22:20] acharles7 commented on #2568
Where to add this class?
Create new file `tensorflow_datasets/core/utils/g_path.py` or
Add in existing  `tensorflow_datasets/core/utils/type_utils.py`?

[2020-10-15 03:07] vijayphoenix commented on #2578
On windows, there is a limit on max path length. (`Filename too long`)

It should be fixed after disabling the max-path limitation.
https://docs.python.org/3/using/windows.html#removing-the-max-path-limitation

[2020-10-15 03:07] #2578 closed

[2020-10-15 10:24] Nikhil1O1 commented on #2579
#2584 @MRmeehan . I updated the docs in the following PR.

[2020-10-15 10:29] sourabhsingh282 commented on #2549
@vijayphoenix I would like to get into this issue please guide me

[2020-10-15 14:17] Nikhil1O1 commented on #2522
@Conchylicultor I made an attempt to fix this, But i need you to see whether they are appropriate or not. If they are i will apply these changes to remaining files.

[2020-10-15 14:45] Conchylicultor commented on #2522
@Nikhil1O1 , thank you! But the PR you linked seems unrelated to this issue. Is it expected ?

[2020-10-15 14:56] Nikhil1O1 commented on #2522
Ohh looks like I submitted a wrong branch, My apologies for this.
But I only meant for the changes i made in fuss.py
Please go through it while i rectify my mistake.

[2020-10-15 15:13] Nikhil1O1 commented on #2522
@Conchylicultor I submitted a fresh PR, I hope this meets your expectations.

[2020-10-15 16:24] Conchylicultor commented on #2568
Thank you @acharles7 ! This should be added in a new `utils/gpath.py` and `utils/gpath_test.py`

[2020-10-15 16:35] Conchylicultor commented on #2522
I'm still not sure I understand how this is related to this issue. For instance, you should add test to check that

[code]

[2020-10-15 16:50] acharles7 commented on #2568
Thank you, working on it.

[2020-10-15 17:17] chrisrytting opened #2593 "Instructions for downloading C4 insufficient"
**What I need help with / What I was wondering**

I'm trying to download C4 via the [instructions given in the T5 repo](https://github.com/google-research/text-to-text-transfer-transformer#c4). Their instructions include a link to the [tfds instructions for beam](https://www.tensorflow.org/datasets/beam_datasets). Following these instructions after the [quickstart](https://cloud.google.com/dataflo

[2020-10-15 17:43] vijayphoenix commented on #2549
Hi @sourabhsingh282,

AFAIU, we have to check the values yielded by `_generate_examples` by adding some tests in the `DatasetBuilderTestCase`. https://github.com/tensorflow/datasets/blob/370d2d782bf884a22dbd4a735449ce2a322728c9/tensorflow_datasets/testing/dataset_builder_testing.py#L82

The test should check that `DatasetBuilderTestCase.example_dir` is not present in the key, i.e a parent path of

[2020-10-15 17:48] sourabhsingh282 commented on #2549
Thankyou @vijayphoenix  I will definitely send the PR

[2020-10-16 02:52] SamuelMarks commented on #2545
Use to work accidentally must be it.

Ended up replacing this:
https://github.com/SamuelMarks/ml-params-tensorflow/blob/80b485d/ml_params_tensorflow/tests/test_datasets.py#L74

With this:
https://github.com/SamuelMarks/ml-params-tensorflow/blob/80b485d/ml_params_tensorflow/tests/test_datasets.py#L74

[2020-10-16 02:52] #2545 closed

[2020-10-16 06:46] Nikhil1O1 commented on #2522
@Conchylicultor  looks like I picked an issue that i'm not ready to deal with.
But still can you point where is the concerned file you intend to modify?

[2020-10-16 12:58] Conchylicultor commented on #2522
The files to modified would be `core/dataset_builder.py` and `core/dataset_builder_test.py`

[2020-10-16 15:11] Nikhil1O1 commented on #2522
[code]
Is this snippet getting close to becomming correct?  😬

[2020-10-16 16:41] Conchylicultor commented on #2568
Thank you. Don't hesitate to send a draft PR if you want early feedback

[2020-10-16 16:44] acharles7 commented on #2568
Sure, thank you,
for testing, do you have any suggestions? i.e which module to use for mocking etc...

[2020-10-16 16:47] Conchylicultor commented on #2568
You can try `tfds.testing.mock_fs()` which mock `tf.io.gfile` API: https://github.com/tensorflow/datasets/blob/7236ada6ff7183294cb17501bc3ee9f57f603dc2/tensorflow_datasets/testing/test_utils.py#L74

[2020-10-16 17:08] Conchylicultor commented on #2568
I believe the easier would be to add a fixture to mock the tf API to convert gs:// path into regular local paths:

[code]

Then:

[code]

[2020-10-16 17:12] acharles7 commented on #2568
Thank you very much

[2020-10-16 17:27] Conchylicultor commented on #2568
I just remember there is an issue with the current implementation of `pathlib.Path` where the constructor isn't always called. See: https://bugs.python.org/issue41109.

It shouldn't impact you here, as you shouldn't need additional `self.xyz` attributes. If you really need this, it is possible to use `_init` instead of `__init__` like: https://github.com/tensorflow/datasets/pull/2228/files#diff-2e

[2020-10-16 17:55] Conchylicultor commented on #2568
I also realised that this issue could be splitted in two issues (and 2 PRs):

 1) Add a `GcsPath` wrapper around tf.io.gfile with a pathlib-like interface.
 2) Add a `GPath` which only have a `__new__` method which redirect toward the `GcsPath`, `pathlib.Path`,... implementation

I updated the code snippet in the first comment to reflect the change

[2020-10-16 18:09] acharles7 commented on #2568
Thank you.
Will add `GcsPath` class  first and then in the following PR, I will add `GPath`

[2020-10-18 08:21] MAMOMIMOMU opened #2604 "Cannot load data from imdb_reviews datasets."
<em>Please make sure that this is a bug. As per our
[GitHub Policy](https://github.com/tensorflow/tensorflow/blob/master/ISSUES.md),
we only address code/doc bugs, performance issues, feature requests and
build/installation issues on GitHub. tag:bug_template</em>

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow):
- OS Platform

[2020-10-19 03:16] ameet-1997 commented on #2535
Thanks for the cloud console solution!

As for changing the dumps version, that solution does not work because `tfds` restricts you to use one of the versions which is present on Google Cloud, in this case `20200301` or `20190301`.

That's why my question was asking if it would be possible to add that functionality!

[2020-10-19 08:55] Conchylicultor commented on #2604
Note: the `subwords8k` config is deprecated. Users should use `tensorflow_text` for tokenising samples.

For your issue, it may be an issue with the internet connection. You should also try with `tfds-nightly`

[2020-10-19 09:24] tqa236 commented on #2321
I just tried today with `tfds-nightly` (published on Docker Hub) and got the same error:

[code]

[2020-10-19 13:12] knightcode opened #2608 "Method download_and_prepare poorly documented (+Tedlium broken)"
**Description of issue**

Using this bit of python:

[code]
Initially threw a KeyError on some file in the tarball, which I fixed with this work around in `core/download/extractor.py`:

[code]

The process has been running for 6 days straight now, and I have no idea what it's currently doing. The last output from like 5.5 days ago was this:

[code]

To me, `download_and_prepare` sounds like downlo

[2020-10-19 13:40] MAMOMIMOMU commented on #2604
@Conchylicultor
Thank you for replying to my question. I don't think there are any problems with my internet connection because I'm not using wifi but a cable. Also I tried many times to download the data while I was able to search Google.
Could you show me the detail of what you would expect me to do with `tfds-nightly`?
I successfully pip installed tfds-nightly as below;
[code]
just following [t

[2020-10-19 13:48] Conchylicultor commented on #2608
After downloading the files, `download_and_prepare` will read process each example into serialized format (tfrecord) into `~/tensorflow_datasets/dataset_name/version/train-00001-of-01024.tfrecord`.

Here it seems you're using a Apache Beam dataset,  https://www.tensorflow.org/datasets/beam_datasets, which might indicates that the dataset require too much processing to be generated on a single comp

[2020-10-19 14:19] Conchylicultor commented on #2604
TFDS nightly contains the last version of TFDS. You can check `import tensorflow_datasets as tfds ; print(tfds.__version__)` to use 4.0.0 or above ? We have fixed bugs which might not be available in the version you're using. I believe TFDS `conda` is very outdated.

[2020-10-19 14:43] MAMOMIMOMU commented on #2604
@Conchylicultor
Thank you very much for giving me the advice. But I'm using tfds of version 4.0.1.
I checked the folder which files seemingly related to text processing are in, and the name of the folder is 'deprecated'.
Under this folder there is a folder named 'text'. Is there any problem if the 'text' folder is in the 'deprecated' folder? I'm not sure of the meaning of the word 'deprecated', bu

[2020-10-19 15:11] Conchylicultor commented on #2593
@adarob FYI

[2020-10-19 15:44] Conchylicultor commented on #2568
Thank you,
For PR nb 2 implementation, I think I'll do this one myself as I want to experiment how this is works with pytype.

[2020-10-19 17:01] MAMOMIMOMU commented on #2604
After I ran
[code]
and loaded the mnist datasets, I got the below output.

[code]
After that, I ran

[code]
and got the output which was different from those of millions of trials before.

[code]

However, the data was useless and couldn't run the code below;

[code]

saying the input shape is (None, None, None).

Could you tell where the problem is from the output above?
I can load the data once

[2020-10-19 17:38] Conchylicultor commented on #2535
I was talking about generating wikipedia at a new version: `tfds.load('wikipedia', builder_kwargs={'builder_config': tfds.text.WikipediaConfig(...)})`
But using the current GCS version is definitely easier.

[2020-10-19 17:39] #2561 closed

[2020-10-19 18:10] #2568 closed

[2020-10-19 23:49] knightcode commented on #2608
It hasn't output any tfrecord files at all. Is it suppose to output everything to a single file? Why isn't the file present, open, and being appended to?

[2020-10-20 03:52] vijayphoenix commented on #2389
If anyone is interested in adding `tfds` on [conda-forge](https://conda-forge.org/) then,
- They can read [guide](https://conda-forge.org/docs/maintainer/adding_pkgs.html#) and fix https://github.com/conda-forge/staged-recipes/issues/12911 or
- They can help me out by fixing https://github.com/conda-forge/staged-recipes/pull/12858 :-)

[2020-10-20 10:51] HamLaertes opened #2613 "NotFoundError: data_info.json no such file or directory"
**What I need help with / What I was wondering**
When I ran this command `python -m tensorflow_datasets.scripts.download_and_prepare --datasets=imagenet2012`, it raises NotFoundError. Where should I get them?

**What I've tried so far**
I have tried to first generate a builder and call builder.info to get data_info.json. But it raises the same error. I have manually downloaded train/validation tar

[2020-10-20 10:54] HamLaertes commented on #2613
By the way, I am trying to download and prepare imagenet datasets.

[2020-10-20 12:26] Conchylicultor commented on #2613
Could you share the stacktrace ?

[2020-10-20 12:38] Conchylicultor commented on #2608
I'm not sure how Apache Beam is implemented, it might be that the pipeline is still currently executed, so is only save on temporary files. Only the final datasets files would be recorded in the ~/tensorflow_datasets. However, if the code is running since 6 days, there might an issue with the implementation as the dataset doesn't look that big.

[2020-10-20 12:41] HamLaertes commented on #2613
`2020-10-20 12:31:37.122888: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcudart.so.10.1
I1020 12:31:38.950512 140057473963840 download_and_prepare.py:200] Running download_and_prepare for dataset(s):
imagenet2012
I1020 12:31:38.953433 140057473963840 dataset_info.py:361] Load dataset info from /root/tensorflow_datasets/imagenet2012/5.1.0
T

[2020-10-20 12:59] Conchylicultor commented on #2613
It seems that he think the dataset was already created as the `/root/tensorflow_datasets/imagenet2012/5.1.0/` exists. Did you created the directory manually ?

[2020-10-20 12:59] Conchylicultor commented on #2613
Could you delete `/root/tensorflow_datasets/imagenet2012/5.1.0` and try again ?

[2020-10-20 13:08] HamLaertes commented on #2613
Thanks a lot! It seems to work fine.
But does it generate the same tfrecords as the imagenet version 2.0.1?

[2020-10-20 13:30] Conchylicultor commented on #2613
You can see which version is generated by looking into `/root/tensorflow_datasets/imagenet2012/`

[2020-10-20 14:13] HamLaertes commented on #2613
Thank u very much. I'll close this issue.

[2020-10-20 14:13] #2613 closed

[2020-10-20 14:17] Conchylicultor opened #2616 "Support sequence length 0 for images with unknown shape"
Currently if is not possible to have an empty sequence with unknown shapes:

Like: `tfds.features.Sequence(tfds.feature.Image(shape=(None, None, 3)))`

E.g. adding the following test in https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/features/sequence_feature_test.py will fail:

[code]

`tf.map_fn` will fail with `InvalidArgumentError: Tried to stack elements of an empt

[2020-10-20 15:05] Conchylicultor opened #2617 "Record filenames for all checksum files."
With https://github.com/tensorflow/datasets/pull/2601 and https://github.com/tensorflow/datasets/issues/2422, users can now manually download all datasets. However this requires the `checksums/my_dataset.txt` (legacy) and `my_datasets/checksums.tsv` (new) to record the filename.

This was only added recently, so most checksums files do not contain the checksums. We should add a new `scripts/cleanu

[2020-10-20 20:25] harsh020 commented on #2617
Hi, I would like to work on this issue. I will open PR1 tonight (21 Oct).

Thanks.

[2020-10-21 06:34] isaacdonis opened #2618 "CLIC dataset does not load"
This was an issue in tfds-nightly and I thought it would be fixed for the official release, but it looks as if there's an ExtractError whenever tfds.load("clic") is ran.

Is this expected?

[2020-10-21 12:18] Conchylicultor commented on #2618
Could you share the full logs, stacktrace ?

[2020-10-21 14:39] 0x0badc0de opened #2623 "Use core.constants.get_default_data_dir() for DEFAULT_DATA_DIR value in download_and_prepare.py"
**Short description**
Right now if data dir is changed via TFDS_DATA_DIR env variable it is ignored by download_and_prepare.py script since it uses hardcoded path in home directory. Should use related constant instead.

**Environment information**
* Operating System: <os>
* Python version: <version>
* `tensorflow-datasets`/`tfds-nightly` version: <package and version>
* `tensorflow`/`tf-nightly` v

[2020-10-21 14:51] Cyril-Meyer opened #2624 "scene_parse150 dead _TRAIN_URL"
**Short description**

scene_parse150 dataset use dead link in _TRAIN_URL.

Fix : replace 'placeschallenge.csail.mit.edu' with 'sceneparsing.csail.mit.edu'.

[code]

**Environment information**
* Operating System: Ubuntu
* Python version: 3.6.9
* `tensorflow-datasets` version: 4.0.1
* `tensorflow-gpu` version: 2.3.0

* Does the issue still exists with the last `tfds-nightly` package (`pip install

[2020-10-21 19:11] #2562 closed

[2020-10-22 09:38] Conchylicultor opened #2634 "Add recursive support for `GPath`"
Currently, `tf.io.gfile.glob` does not support recursive: https://github.com/tensorflow/tensorflow/issues/39565

This make `GPath().glob('**/x.txt')` inconsistent with python `glob`.

It would be nice to add recursive support. This would be done by a combinaison of `.iterdir()`, `.isdir()` (to recurse) and [`fnmatch.fnmatch()`](https://docs.python.org/3/library/fnmatch.html#fnmatch.fnmatch) to che

[2020-10-22 16:06] chrisrytting commented on #2491
When I first did `pip install 'tfds-nightly[c4]'`, it had bad versions of dill and avro-python3, I am pretty sure. It looks like this might be your problem, too. Try downgrading to the last compatible version of dill with pip.

[2020-10-22 17:00] chrisrytting opened #2636 "tfds-nightly installs wrong avro-python3 and dill"
**Short description**
When I create a new python virtual environment, so that there are zero python packages installed, I run `pip install 'tfds-nightly[c4]'`, and I am informed that the versions of avro-python3 and dill are incompatible with apache-beam 2.24.0. Is this an apache problem or a tfds problem?

**Environment information**
* Operating System: Ubuntu 18.04
* Python version: 3.6.9
* `ten

[2020-10-22 17:06] Conchylicultor commented on #2636
It is likely an error you can ignore. But you can force pip install dill 0.3.1.1 if you prefer

[2020-10-22 17:11] chrisrytting commented on #2636
Are you sure? Because when I tried to run an apache beam job on google cloud dataflow with

[code]

Like 3 hours into the job I get the following error and it makes my multiple hundreds of dollars job fail:

[code]

and the only thing I can think of is that I have a bad dependency version somewhere or something. Any ideas?

[2020-10-22 17:12] Conchylicultor commented on #2636
@adarob FYI

[2020-10-22 19:16] ymodak opened #2637 "TFDS : deep_weeds dataset hosting address is no longer valid"
**Short description**
Transferring issue https://github.com/tensorflow/tensorflow/issues/44053 to `tensorflow-datasets` repository for visibility
TFDS : deep_weeds dataset hosting address is no longer valid

**Reproduction instructions**
https://github.com/tensorflow/tensorflow/issues/44053

**Link to logs**
https://github.com/tensorflow/tensorflow/issues/44053#issuecomment-712513593

[2020-10-23 06:51] isaacdonis commented on #2618
--------------------------------------------------------------
OutOfRangeError              Traceback (most recent call last)
~\Anaconda3\lib\site-packages\tensorflow_datasets\core\download\extractor.py in _sync_extract(self, from_path, method, to_path)
     87     try:
---> 88       for path, handle in iter_archive(from_path, method):
     89         path = tf.compat.as_text(path)

~\Anaconda3\li

[2020-10-23 09:30] Conchylicultor commented on #2637
Thank you for reporting. Don't hesitate to send a PR to update.

[2020-10-24 00:35] rsepassi opened #2641 "[data request] Update CommonVoice to the latest version"

[2020-10-24 07:42] PrattJena commented on #2604
Deprecated means its no longer in use. As said by @Conchylicultor and also [here](https://www.tensorflow.org/datasets/catalog/imdb_reviews) imdb_reviews uses `tfds.deprecated.text.SubwordTextEncoder` hence it comes under the deprecated folder.
Also as for the code it should run correctly. I tried it on google colab and faced no issues. Beware I stopped the training mid way hence its showing error

[2020-10-24 07:47] PrattJena commented on #2499
Can you provide code snippets along with the output for further clarification on what problem you are facing

[2020-10-24 08:20] PrattJena commented on #2637
I am working on this

[2020-10-24 09:26] sainivedh commented on #2321
celeba_bldr = tfds.builder('celeb_a')
celeba_bldr.download_and_prepare()

Error:
KeyError: <ExtractMethod.NO_EXTRACT: 1>

[2020-10-24 15:06] PrattJena commented on #2637
@Conchylicultor pls review if the following code is correct.

[2020-10-25 07:32] PrattJena commented on #2641
Can you provide more details about this?

[2020-10-25 12:39] PrattJena commented on #2616
I want to contribute to this but I am not sure as to how and where to start

[2020-10-26 09:43] Conchylicultor commented on #2616
@PrattJena Thank you for your contribution.
As a first step, you could try to reproduce the bug by adding and executing the above tests to https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/core/features/sequence_feature_test.py.

Then you can update datasets/tensorflow_datasets/core/features/feature.py until the tests pass.

[2020-10-26 09:59] Conchylicultor commented on #2321
As explained above, the CelebA bug is likely a duplicate of #1482

[2020-10-26 16:00] Conchylicultor commented on #2252
I think issues here have been fixed. Please open new issue otherwise

[2020-10-26 16:00] #2252 closed

[2020-10-26 19:53] rrklearn2020 opened #2645 "[data request] <dataset name>"
* Name of dataset: Nuscenes
* URL of dataset: <https://www.nuscenes.org/>
* License of dataset: https://www.nuscenes.org/terms-of-use (Free to use for non-commercial use)
* Short description of dataset and use case(s):  Full sensor suite (1x **LIDAR**, 5x **RADAR**, 6x **camera**, IMU, GPS)

Folks who would also like to see this dataset in `tensorflow/datasets`, please thumbs-up so the developers

[2020-10-27 01:31] lopeselio opened #2647 "module 'tensorflow_datasets.core.features' has no attribute 'text'"
`tokenizer_en = tfds.features.text.SubwordTextEncoder.build_from_corpus(
    corpus_en, target_vocab_size=2**13) #Reducing the number of words if our dataset contains about 200,000 unique words, we have reduced it to an assumed 2^13 words(distinct)
tokenizer_fr = tfds.features.text.SubwordTextEncoder.build_from_corpus(
    corpus_fr, target_vocab_size=2**13)`

facing this error:
AttributeError

[2020-10-27 01:46] lopeselio commented on #702
use tfds.deprecated.text.SubWordTextEncoder

as the aPI is deprecated

[2020-10-27 06:56] PrattJena commented on #2647
tfds.text is now deprecated. Look [here](https://www.tensorflow.org/datasets/api_docs/python/tfds/deprecated/text/TextEncoder)
Instead use `tensorflow_text`

[2020-10-27 07:14] PrattJena commented on #2637
@Conchylicultor I have made the required changes for this bug. Can you pls review the PR.

[2020-10-27 09:17] Conchylicultor commented on #2647
Indeed, the API is deprecated. Please use `tfds.deprecated.text` or update your code to use `tensorflow_text` https://www.tensorflow.org/datasets/api_docs/python/tfds/deprecated/text

[2020-10-27 09:17] #2647 closed

[2020-10-27 10:54] PrattJena commented on #2616
@Conchylicultor  Sorry for the delay. Will this test be added under the method `test_image` replacing [this](https://github.com/tensorflow/datasets/blob/11c82e310c047f9b45f3916c867319812dac03ac/tensorflow_datasets/core/features/sequence_feature_test.py#L420) line to produce the error?

[2020-10-27 11:28] PrattJena commented on #2616
@Conchylicultor On adding and executing the tests I am running into this bug instead of the bug you mentioned
`TypeError: assertFeature() missing 1 required positional argument: 'dtype'`
Where am I going wrong ?

[2020-10-27 12:07] PrattJena commented on #2616
I was able to reproduce the bug on adding and executing the above tests. As for making changes in `decode_batch_example` in feature.py and then re-executing sequence_feature_test.py I am running into the following error.
`AttributeError: module 'tensorflow.compat.v2' has no attribute 'len'`
Should I make a PR to look into it?

[2020-10-27 12:40] PrattJena commented on #2616
@vijayphoenix Can you help me ? Is this the pseudocode of the changes to be made?
[code]

[2020-10-27 14:07] Conchylicultor commented on #2616
As the error said, `tf.len` is an invalid symbol. You need to find the right symbol in the TF API.

[2020-10-27 14:32] PrattJena commented on #2616
@Conchylicultor As mentioned above since image shapes are dynamic so i used tf.shape instead. The function looks like this now.

[code]
On running tests I am running into this error.
[code]

[2020-10-27 14:37] PrattJena commented on #2406
The only link I can find is from kaggle. Can we download datasets from kaggle?

[2020-10-27 15:51] Conchylicultor commented on #2616
It means `tf.shape(tfexample_data) == 0` is a Python bool, not a `tf.Tensor`. You should use tf.equal, or similar ops (I don't know the exact name)

[2020-10-27 17:20] PrattJena commented on #2616
@Conchylicultor  what is zero_shape here?

[2020-10-27 17:57] PrattJena commented on #2616
What will the two lambda functions decode_batch_example call? As its giving me this error
`name '_decode_batch_example' is not defined`
I have update my function to this
[code]

[2020-10-27 18:12] PrattJena commented on #2616
I have updated my function to this
[code]
On running the test
[code]
I get the following error
[code]

[2020-10-27 18:49] MiWeiss commented on #2286
Looks like a good solution, allowing us to close this now. Thanks for PR & Review @ibarrond @Conchylicultor .

Feel free to re-open issue if I missed something and #2484 did not completely solve this issue.

[2020-10-27 18:49] #2286 closed

[2020-10-28 03:30] hdang20 opened #2656 "Download tfds cnn_dailymail in Google Colab: not enough values to unpack (expected 3, got 1)"
**Short description**
I tried to load the training set of CNN_DailyMail from tfds but got this error. I was able to do it on 10/26/2020.
**Environment information**
* Operating System: Google Colab
* Python version: 3.x
* `tensorflow-datasets`/`tfds-nightly` version: 3.2.1.dev202009090105

* Does the issue still exists with the last `tfds-nightly` package (`pip install --upgrade tfds-nightly`) ? Y

[2020-10-28 07:50] Conchylicultor commented on #2656
Which TFDS version are you running ? `_get_url_infos` does not exist anymore. Please try again after upgrading TFDS-nightly.

[2020-10-28 08:40] hdang20 commented on #2656
@Conchylicultor thanks. I could download with latest version of TFDS-nightly.

However I notice that that version requires to use TF >= 2.1, while I have to run my system on TF 1.15.2. Is there any way I can use the latest version of TFDS-nightly with TF 1.15.2?

`ImportError: This version of TensorFlow Datasets requires TensorFlow version >= 2.1.0; Detected an installation of version 1.15.2. Plea

[2020-10-28 08:46] Conchylicultor commented on #2656
You should have a look at https://www.tensorflow.org/guide/upgrade to upgrade your code to TF2.

Note, TF1 features are still available in TF2 if you're using:

[code]

[2020-10-28 08:46] Conchylicultor commented on #2656
Closing this issue as the bug has been fixed

[2020-10-28 08:46] #2656 closed

[2020-10-28 09:48] vijayphoenix commented on #2637
Fixed by https://github.com/tensorflow/datasets/pull/2642

[2020-10-28 09:48] #2637 closed

[2020-10-28 10:00] PrattJena commented on #2616
@Conchylicultor Can you help me out with the bug in the above code?

[2020-10-28 10:35] harsh020 commented on #2617
Hi, will open PR2  as soon as PR1 gets merged.

Thanks.

[2020-10-28 10:38] Conchylicultor commented on #2616
* `shape=(0, 0, 0, self.shape[-1])` should be computed in function of self.shape, replacing `None` by 0.
* `tf.shape(tfexample_data),0` seems buggy to me. `tf.shape` will returns a `tf.Tensor(shape=(len(shape)))` while we want to check that only the first dimension is 0.

[2020-10-28 14:05] Conchylicultor commented on #2617
Yes, will merge this soon.
I just realise they might be an issue with drive.com url which might not be properly extracted. I'll fix those bugs internally, so I'll probably send PR2 myself.

[2020-10-29 11:51] #2521 closed

[2020-10-29 16:12] iamsdas commented on #2634
@Conchylicultor, I would like to work on this issue. Should I edit the `glob` function or add a `rglob` function or do both? I'll send a draft PR showing what I have in mind.

[2020-10-29 22:42] ziegenbalg commented on #2499
I would like to know this as well. It seems like the keras tuners don't like the tf.data.Datasets yet. They're still expecting (x_train, y_train), (x_test, y_test). Is my thinking correct there? Essentially I'm loading my data using tf.keras.preprocessing.image_dataset_from_directory and would like to feed this into the tuner.

Thank you!

[2020-10-30 03:26] zdz1130 opened #2662 "Original kaggle diabetic_retinopathy_detection dataset corrupted?"
![image](https://user-images.githubusercontent.com/60159073/97653179-20f34900-1a9b-11eb-94b2-319f2ed587f1.png)
![image](https://user-images.githubusercontent.com/60159073/97653189-26509380-1a9b-11eb-833a-e5b49d9581e2.png)
![image](https://user-images.githubusercontent.com/60159073/97653207-30729200-1a9b-11eb-8192-3ab03980d5f4.png)
![image](https://user-images.githubusercontent.com/60159073/9765323

[2020-10-30 10:09] harsh020 commented on #2348
@Conchylicultor Hi, I was trying to work on it. When you say "restore" the config, do you want to restore to `original_state`.

Thanks.

[2020-10-30 10:57] Conchylicultor commented on #2348
This is more or less this, but unrelated to `dataclasses`. The error is raised by:
https://github.com/tensorflow/datasets/blob/10e6da690ac73f6308db5d81b6828f0634a09678/tensorflow_datasets/core/dataset_builder.py#L858

I think this is triggered by:
https://github.com/tensorflow/datasets/blob/10e6da690ac73f6308db5d81b6828f0634a09678/tensorflow_datasets/scripts/download_and_prepare.py#L217

Actually,

[2020-10-30 10:57] #2348 closed

[2020-10-30 15:40] ng390 commented on #2015
Were you able to resolve this issue? Did you use the beam DirectRunner?

[2020-11-01 06:02] vijayphoenix commented on #2617
FIxed by 24211da0

[2020-11-01 06:02] #2617 closed

[2020-11-01 06:44] vijayphoenix commented on #2418
https://github.com/tensorflow/datasets/commit/6acf4fa4304c992793f94d1cab50290e46038b6b

[2020-11-01 06:44] #2418 closed

[2020-11-01 09:51] Conchylicultor commented on #2616
In your code you're hardcoding `tf.constant(zero_shape,shape=(0, 0, 0, self.shape[-1]), dtype=self.dtype),`. In practice, the shape do not have to be (0, 0, 0, ...) but could be anything (e.g. `(0, 12, 35)` or `(0, 0, 10)`). So the shape should dynamically computed from `self.shape`

[2020-11-01 09:56] PrattJena commented on #2616
@Conchylicultor Very sorry for the big delay. Can you pls explain me the first point. I didnt quite understand it.

[2020-11-01 13:03] PrattJena commented on #2616
@Conchylicultor  I updated the code to this and ran it on the first test case
[code]
On running this I run into this error
[code]
 Also on changing back `change no. <======= 1` to this
[code]
I run into this error
`ValueError: Tried to convert 'x' to a tensor and failed. Error: None values not supported.`

What changes should I make. Sorry If I am taking too long for this issue as this is my secon

[2020-11-02 04:02] Nikhil1O1 commented on #2579
Why is this one reopened @vijayphoenix?

[2020-11-02 04:12] vijayphoenix commented on #2579
The issue will be closed after the PR is merged

[2020-11-02 04:20] Nikhil1O1 commented on #2579
There are 2 PR on this one and they both are similar i think, which one will be merged?

[2020-11-02 08:47] Conchylicultor commented on #2616
Thank you for the update.

* `shape=(0, self.shape[1], self.shape[2], self.shape[-1])` assume that the shape is of rank 4. We want to solve the general case where rank could be anything `(0)`, `(0, 3)`,...
* You can use `tf.print` inside the graph to help you debug
* It would be easier to comment on a draft PR.
* I think it might help you if you where experimenting in a Colab. For example where yo

[2020-11-02 14:05] zaccharieramzi commented on #2321
Hi @vijayphoenix , I just retried with the latest nightly, and it gave the same error.

@Conchylicultor I have tried several times at different hours and I am not in China (and not using any VPN), so I guess the root cause for this issue is different than https://github.com/tensorflow/datasets/issues/1482 .

However, when inspecting the downloads, I indeed see an html file that looks like the foll

[2020-11-02 14:31] zaccharieramzi commented on #2321
Ok, I think I understood how the manual downloading should work.

Basically you can download all the files listed [here](https://github.com/tensorflow/datasets/blob/master/tensorflow_datasets/image/celeba.py?rgh-link-date=2020-11-02T14%3A05%3A22Z#L30), put them in `~/tensorflow_datasets/downloads/manual/` and you can just run the `tfds.load('celeb_a'...` as normal.
You can change the manually down

[2020-11-03 20:36] maxisawesome opened #2680 "How"
**What I need help with / What I was wondering**
I cannot import my custom tfds dataset that does not require downloading, and the section in the documentation on how to import it is not clear to me.

**What I've tried so far**
I ran the following code in a notebook:
[code]
Which gives the following error (also, `ds = tfds.load('rfcx_tfds', download=False)` gives the same error):

In order to rect

[2020-11-04 08:48] Conchylicultor commented on #2680
Even if your data does not require downloading, you still need to run the `download_and_prepare()` to generate the pre-processed tf-record examples,...

Which data are you trying to read ? And how are you trying to read it ? Without the rfcx_tfds implementation, difficult to say.

[2020-11-05 05:46] sakinaljana opened #2692 "Do we have NER dataset to load?"
**What I need help with / What I was wondering**
Do we have example of creating NER/sequence labeling dataset? What are the preferrable approach to define the TFDS features?

**What I've tried so far**
Already look at the documentation but can't find any sequence labeling dataset

**It would be nice if...**
I think we should have more identifier for the task for each dataset, so we can easily filt

[2020-11-05 09:16] Conchylicultor commented on #2692
What do you mean by sequence labelling ? Would `Sequence(ClassLabel(names=['label0',...]))` works ?

[2020-11-05 11:29] Joshuaalbert opened #2696 "OOM on second loop of cross-validation"
**What I need help with / What I was wondering**
I am performing cross-validation using the keras API, and have put all the code to perform one round of CV into a single function. The first round of CV works, but then upon the second round, I get an OOM error upon trying to build the next model.

- Why is this happening?
- How do I properly do this type of CV from a single python process?
- Is the

[2020-11-05 11:30] Joshuaalbert commented on #2696
oops sorry accidentally put this on the tfds github.

[2020-11-05 11:30] #2696 closed

[2020-11-05 12:46] #2522 closed

[2020-11-05 13:38] #2463 closed

[2020-11-05 18:13] adarob commented on #2491
What is the latest compatible version?

[2020-11-05 18:16] adarob commented on #2636
@chrisrytting your issue should have been fixed -- sorry I forgot to update the bug
It seems like the original issue is the same as #2491

[2020-11-05 18:35] adarob commented on #2491
doing `pip install dill==0.3.1.1` fixed this for me

[2020-11-06 04:11] sakinaljana commented on #2692
@Conchylicultor seems so, my confusion more about the token, but at the end my features would be like this

[code]

wdyt?

[2020-11-06 11:35] Conchylicultor commented on #2692
I'm not sure I understand your issue. Could you rephrase please ? Or close the issue if your issue has been solved.

[2020-11-06 12:18] sakinaljana commented on #2692
@Conchylicultor My question would be: What is the best features definition to represent NER dataset? Are my above definition is correct? Or do you have better suggestion?

[2020-11-06 12:36] gaurav-singh1998 commented on #2421
Hi, @Conchylicultor I would like to take this issue. Thanks

[2020-11-06 14:46] ElhamSol commented on #2261
I have the same issue.

Ubuntu 18.04
RTX 2080
Cuda 10.1, cudNN 7.6
TF 2.3.0

already tried the following:
restart
pip install tfds-nightly,
restart
sudo ln -s /etc/ssl/certs/ca-bundle.crt /etc/ssl/certs/ca-certificates.crt

`2020-11-06 14:37:14.641289: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcudart.so.10.1
WARNING:absl:TFDS datasets wi

[2020-11-08 18:27] maxisawesome commented on #2680
rfcx_tfds is supposed to be a minimal tfds implementation that basically returns empty values for everything. I am trying to read .wav files, but didn't implement it yet. I think I'm missing something key to how tfds works. Must I convert the .wav files into tfrecords before they are loaded by my custom rfcx_tfds, or can I do it within the `rfcx_tfds.py` file?

After rereading the error messages,

[2020-11-09 08:05] haifengkao commented on #2647
tensorflow_text  doesn't have `SubwordTextEncoder`

[2020-11-09 08:12] Mahabuburr commented on #1566
Please help argent, I need a mammogram dataset which includes train, test, validation dataset but I can not found any dataset. when I go (https://www.tensorflow.org/datasets/catalog/curated_breast_imaging_ddsm#curated_breast_imaging_ddsmpatches_default_config) this side I can not understand anything for download train, test validation dataset. I need different types of datasets for the mammogram d

[2020-11-09 09:42] versae opened #2711 "c4/multilingual produces Dataflow job file too big (38MB >> 10MB)"
**Short description**
We are trying to extract the Norwegian (and eventually other Nordic languages) portion of `c4/multilingual`. Since there is no easy way to download only the data for one language, we are processing the entire `c4/multilingual` corpus first.

**Environment information**
* Operating System: `Debian GNU/Linux 10`
* Python version: `Python 3.8.5` (miniconda)
* `tensorflow-dataset

[2020-11-09 12:05] Conchylicultor commented on #2711
@adarob FYI

[2020-11-09 12:20] Conchylicultor commented on #1566
Please follow manual instructions from https://www.tensorflow.org/datasets/catalog/curated_breast_imaging_ddsm

Manual download instructions: This dataset requires you to download the source data manually into download_config.manual_dir (defaults to ~/tensorflow_datasets/downloads/manual/):
You can download the images from https://wiki.cancerimagingarchive.net/display/Public/CBIS-DDSM Please look

[2020-11-09 12:34] Conchylicultor commented on #2647
`tensorflow_text` has a few option for subword tokenizer, like `BertTokenizer`, `WordpieceTokenizer`.

I believe they should make it easier though to create vocabulary, maybe with something like: `vocab = tf_text.build_vocab(ds, **options)`. But it's more an issue for TF text.

[2020-11-09 12:39] Conchylicultor commented on #2680
Did you looked at: https://www.tensorflow.org/datasets/add_dataset ?

For audio, it would be something like:
[code]
And TFDS will automatically encode the wav and TF record.

Without sharing the rfcx_tfds implementation, we can't really help.

[2020-11-09 14:24] adarob commented on #2711
@versae I'd recommend generating all languages you want at the same time since it has to process all of the data either way. However, I think if you added a new config with only the languages you want, you'd avoid the JSON issue.

@Conchylicultor we would need to allow them to add a new config to the dataset with only the languages they are interested in. What's the recommended way for them to do

[2020-11-09 14:31] versae commented on #2711
Thanks for the quick replies, @Conchylicultor and @adarob. We thought about the custom config, but had troubles figuring out how to make it work. Even with a custom config, it's still not clear to us how to run the `download_and_prepare` code, either in command or script mode.

After inspecting the source code, it seems it should be possible to only process the data for one language, even if we ha

[2020-11-09 14:36] adarob commented on #2711
You should be able to add a config similar to 'multilingual', but with only the nordic languages listed. Let's say you name it
'nordic'. Then you can call download_and_prepare with `c4/nordic` as the dataset.

You'd make the change to a local clone of the repo and then you can run `pip install -e .` to install it on the master VM.

[2020-11-09 15:29] versae commented on #2711
I see. It feels unnecessarily complicated, but we'll give it a try :crossed_fingers: Really, it'd be great if some jobfile size control was allowed or implemented directly within the `download_and_prepare` script. The official docs recommend to [restructure the pipeline](https://cloud.google.com/dataflow/docs/guides/common-errors#job_submission_errors) to avoid such errors. We hope downloading onl

[2020-11-09 15:37] adarob commented on #2711
The issue is the large number of splits (>100) that are produced by this pipeline. Limiting to ~10 languages should reduce the json size by a factor of 10, I believe.

Other options to fix the deeper problem would involve either having the DataFlow team raise the limit or merge some of the downstream steps in the TFDS sharding and writing portions of the pipeline.

[2020-11-09 16:03] versae commented on #2711
Thinking about, if the downloading and processing of the data happen in the workers, the information about the languages is not available until the sent is already sent and in execution, isn't it? Limiting the languages, or for that matter, selecting specific splits, would still generate the same jobfile to be sent to Dataflow I believe.

[2020-11-09 16:12] adarob commented on #2711
The actual pipeline "blueprint" is pre-generated and sent to the DataFlow service, which is where I think your issue is. This blueprint includes all of the per-language stages.

[2020-11-09 17:44] versae commented on #2711
We finally tried our custom config for Norwegian (excluding `no-validation`) but the jobfile is still too big (10.2MB), so Dataflow is rejecting the request for 200KB :\

[2020-11-09 17:45] adarob commented on #2711
Can you try also removing c4_utils.UNKNOWN_LANGUAGE here https://github.com/tensorflow/datasets/blob/0371b59f96c1d6698f9b87311a35a1c4135d5ad5/tensorflow_datasets/text/c4.py#L391

[2020-11-09 20:12] beqiris opened #2714 "'Command not found' when trying to install tfds"
Received the error message ‘command not found’ when trying to install tfds on a GCP VM.
Have attempted via:
conda install -c anaconda tensorflow-dataset,
pip install tensorflow-datasets,
pip install -q tfds-nightly

none of the above are working..
Any suggestions would be very helpful!

[2020-11-09 22:55] versae commented on #2711
Tried that. The request now went through but Dataflow still complained about size, since it's still a bit larger than 10MB (~10.2MB)
[code]

[2020-11-10 07:28] Conchylicultor commented on #2714
Which command is failing ?

Are you talking about the `tfds` CLI or the `pip` command ? You might have to install pip on your VM
I believe Conda TFDS version is very old, but `pip` should install the CLI.

[2020-11-10 09:42] rodrigob opened #2717 "[data request] Objectron"
* Name of dataset: Objectron
* URL of dataset: https://github.com/google-research-datasets/Objectron
* License of dataset: C-UDA
https://github.com/google-research-datasets/Objectron/blob/master/LICENSE
* Short description of dataset and use case(s): 3d boxes of objects.
15000 annotated videos and 4M annotated images over 9 categories.

Folks who would also like to see this dataset in `tensorflow/

[2020-11-10 09:42] rodrigob commented on #2717
@ahmadyan

[2020-11-10 15:50] adarob commented on #2711
I'll see if we can get some help from the dataflow team.

[2020-11-10 16:00] versae commented on #2711
Thank you so much.

[2020-11-10 18:59] beqiris commented on #2714
<img width="956" alt="Screenshot 2020-11-09 at 19 17 21" src="https://user-images.githubusercontent.com/74211142/98718748-bf7a8680-2386-11eb-8175-3bcd6f09c385.png">

[2020-11-10 19:00] beqiris commented on #2714
After I install TFDS using the pip command, I then try to use tfds --version, and it gives me the error 'tfds: command not found'.
I'm not sure why this is the case as it seems that tfds is installed.

[2020-11-10 19:08] NikhilBartwal commented on #2714
Hey @beqiris, `tfds` is not a command name by itself like `pip` or `python`. That's why it shows an error.
You can checkout the installed `tfds` version along with other packages' versions using `pip freeze`
I hope this solved your query!

[2020-11-10 20:06] NikhilBartwal commented on #2692
Hey @sakinaljana, looking at the NER dataset [here](https://www.kaggle.com/abhinavwalia95/entity-annotated-corpus), the following approach suggested by you should be working for the dataset features.

For reference, you can have a look at the **helloswag** dataset [here](https://www.tensorflow.org/datasets/catalog/hellaswag). Did this solve your query?

[2020-11-10 23:53] rezarokni commented on #2711
If possible its best to reduce the nodes in the graph, for example multiplexing the values into a source. @adarob we should look at the pipeline in more detail to look at that.

In the mean time you can make use of --experiments=upload_graph with the Dataflow pipeline arguments, which allow larger than 10MB pipelines. Although note things like the UI will have limitations with this experimental fl

[2020-11-11 00:20] versae commented on #2711
Interesting. This `experiments=upload_graph` argument replaces `experiments=shuffle_mode=service`, or is there a way to have them both?

[2020-11-11 01:51] hualong521 commented on #2647
Just use "tfds.deprecated.text.SubwordTextEncoder.build_from_corpus" instead of "tfds.features.text.SubwordTextEncoder.build_from_corpus",then the problem is solved.

[2020-11-11 02:21] rezarokni commented on #2711
You can have both in a list

[2020-11-11 08:55] Conchylicultor commented on #2714
Thank you for reporting. I'm not familiar how [Python entry-points](https://setuptools.readthedocs.io/en/latest/userguide/entry_point.html#entry-points) are registered on Google cloud. I'll try to investigate. If someone already solved the issue, don't hesitate to share.

@NikhilBartwal `pip install` should install the `tfds` CLI (as per https://www.tensorflow.org/datasets/cli)